[2018-05-29 09:45] abitmore commented on #342
@alexpmorris thank you!

[2018-05-29 09:49] abitmore commented on #986
Thanks for the report.

I think this is not being used in core, so perhaps we can simply remove it.

[2018-05-29 10:37] clockworkgr commented on #870
@ryanRfox Just making sure you've followed this discussion

[2018-05-29 14:35] pmconrad commented on #986
I believe the report is wrong. When line 125 is hit, we either have verblen == 0 AND flush == NULL, or verblen > 0 AND flush != NULL (from assignment in line 114). verblen > 0 can only happen if line 133 has been hit at least once, which implies that verb[0] has been initialized in line 132. OTOH, if verblen == 0 then flush == NULL, which means line 150 will not be hit.

Nevertheless, the code loo

[2018-05-29 15:15] oxarbitrage commented on #803
maybe it worth a new issue but can also fit here for initial conversation.

https://github.com/oxarbitrage/open-explorer/issues/31#issuecomment-392756758

need to confirm if it is exactly whats happening but according to reported we may need to add a recalculating of votes into committee_members(and witnesses?) that are not active to update their voting count.

[2018-05-29 16:37] oxarbitrage commented on #803
yes, i added the comment in here as it will affect maint block latency even more but with the startup option it should not be a problem. thanks, making new issue for this and continue there, leaving this for increase performance only.

[2018-05-29 16:46] oxarbitrage opened #987 "add startup option to update votes for inactive objects in api nodes"
**User Story**

From an open-explorer issue regarding the list of active committee_members and witnesses: https://github.com/oxarbitrage/open-explorer/issues/31

Initial discussion in the core: https://github.com/bitshares/bitshares-core/issues/803#issuecomment-392815127 is related as adding to the count of votes in inactive objects will impact latency of maint block.

Decided to make a startup op

[2018-05-29 17:08] clockworkgr commented on #987
Although calculating the votes for ALL objects would be ideal, if it's too much of a performance issue, we should at least update the count for inactive ones to 0 to avoid misrepresentations like the one you encountered in open-explorer.

[2018-05-29 19:49] oxarbitrage commented on #984
closing at will not be done core side.

[2018-05-29 19:49] #984 closed

[2018-05-30 01:44] cedar-book commented on #881
This information page file (https://github.com/bitshares/dev.bitshares.works/blob/master/source/installation/boost_versions.md#boost-version)

[2018-05-30 13:04] abitmore opened #991 "Back-port EOS PR 3564 bad_alloc handling"
https://github.com/EOSIO/eos/pull/3564

[2018-05-30 13:07] abitmore opened #992 "Back-port EOS PR 3560 replace assert in FC::crypto"
https://github.com/EOSIO/eos/pull/3560

[2018-05-30 13:17] abitmore opened #993 "Review and backport EOS patch about unsigned_int unpacking"
https://github.com/EOSIO/eos/commit/25a1dd94e60c4aa813392f7733abcd306cb92ff3

[2018-05-30 13:21] abitmore opened #994 "Review and backport EOS patch about OPENSSL_CONF"
https://github.com/EOSIO/eos/commit/42baafc5015b87cdf439db1fa36421773c17a81e

[2018-05-30 13:30] abitmore opened #995 "Review and backport EOS PR 3392 packing/unpacking array-like types"
https://github.com/EOSIO/eos/pull/3392

[2018-05-30 13:38] abitmore opened #996 "Review and backport EOS PR 3277 reflector_verifier_visitor"
https://github.com/EOSIO/eos/pull/3277

Probably low priority.

[2018-05-30 13:45] abitmore opened #997 "Backport EOS patch about GELF 1.1 unstringified numbers"
https://github.com/EOSIO/eos/commit/2d980b46a383f6cda346025cfbdc83185b7480ef

Note: I believe GELF logging is not used by default in BitShares, although node admins can try it.

Easy task but low priority.

[2018-05-30 13:53] abitmore opened #998 "Backport native 128-bit integers support from EOS"
Related commit: https://github.com/EOSIO/eos/pull/3175/commits/ab87a832bec5cc0301d4efc1662de6ecd0e183ea

Probably low priority.

[2018-05-30 13:54] abitmore opened #999 "Backport EOS PR 3240 HTTP performance optimization"
https://github.com/EOSIO/eos/pull/3240

[2018-05-30 13:58] abitmore opened #1000 "Backport EOS PR 3077 minor code cleanup"
https://github.com/EOSIO/eos/pull/3077

[2018-05-30 14:01] abitmore opened #1001 "Review and backport EOS PR 3037 log appender mutex"
https://github.com/EOSIO/eos/pull/3037

[2018-05-30 14:10] pmconrad commented on #986
not really - can wait until next bump

[2018-05-30 14:10] abitmore opened #1002 "Review and backport EOS public key validation patch"
https://github.com/EOSIO/eos/commit/e0e812bcfab599d804e4ad5fcc1fbe259470160c

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
  - [ ] Assigned: @dmarcosa
  - [ ] Estimation: Pending
- [ ] Refine User Stories / Requirements
- [ ] Define Test Cases
- [ ] Design / Develop Solution
- [ ] Perform QA/Testing
- [ ] Update Documentation

[2018-05-30 15:41] pmconrad commented on #995
Need to be careful with introducing new limits here, to remain compatible with existing code.
I *think* the limits used by EOS should be safe because they're greater than the current max blocksize.

[2018-05-30 16:01] pmconrad commented on #1001
Careful, a mutex in a logger is dangerous for performance.

[2018-05-30 16:05] jmjatlanta commented on #997
https://github.com/EOSIO/eos/pull/2458

It seems that if GELF is set up to use udp, a network "would_block" error could needlessly cause problems. The PR above should have fixed it in EOS. We should look at doing something similar.

[2018-05-30 16:05] pmconrad commented on #994
This rings a bell. Not sure if I've had problems with this myself or if I've seen it in one of the obscure compiler issues that have been reported here.

[2018-05-30 16:12] jmjatlanta commented on #995
May be related: https://github.com/EOSIO/eos/pull/2424

[2018-05-30 16:34] pmconrad opened #1003 "Backport from EOS: remove unused bzip2 dependency"
https://github.com/EOSIO/eos/commit/142ccba9b5e2f147a3c80eaf01aad549d84265ca

[2018-05-30 16:38] pmconrad commented on #1000
Not applicable, we don't use prefixes like EOS does.

[2018-05-30 16:38] #1000 closed

[2018-05-30 16:40] jmjatlanta commented on #1001
This is why stderr and stdout are horrible for logging in multi-threaded apps. My advice is to add the mutex but document the performance penalty to discourage its use.

[2018-05-30 16:40] pmconrad opened #1004 "Backport from EOS: FC_LOG_AND_DROP macro"
https://github.com/EOSIO/eos/commit/4089d76394e7513f32326c562de80dfc8998ca27

[2018-05-30 16:48] pmconrad commented on #997
Related: https://github.com/EOSIO/eos/commit/b2be86055896d81fcffb88b9c992cacb3f9ddb44

[2018-05-30 16:57] pmconrad commented on #997
Related to udp would_block: https://github.com/EOSIO/eos/commit/9224efeaa8e47a124996c8e8f849ecd1eb85b224

[2018-05-30 17:02] jmjatlanta opened #1005 "Backport EOS GELF udp fixes"
A "would_block" asio error when logging could needlessly throw, and should probably be ignored.

See https://github.com/EOSIO/eos/pull/2458
also https://github.com/EOSIO/eos/commit/9224efeaa8e47a124996c8e8f849ecd1eb85b224

Moved from #997 as it is a separate issue.

[2018-05-30 19:35] abitmore commented on #1005
If I'm correct, we don't use UDP.

[2018-05-30 22:29] dayman32 commented on #269
Similar problem. I have keys. Changed the threshold weight to 2. And I have 1. All access denied. When will the bug be resolved? Has passed 1 year-I look no one rushing. Dozens of people with a similar problem!

[2018-05-30 23:43] clockworkgr commented on #269
Well , it's not really a bug. As @abitmore described, there is a legit reason for allowing it as far as the chain is concerned.

As mentioned above, it's a client software issue to ensure that "incompatible" permissions are not set.

This is more like going out and leaving your house-keys inside the house. Doesn't mean your door is buggy.

[2018-05-31 05:50] cifer-lee commented on #867
Need more discussing with this issue. How the multi-sig procedures be implemented and how these to-be-added cli command(s) will be used.

Follow's my thoughts about multi-sig solution:

1. Create a initial transaction, with TaPoS and expiration field assigned. This can be performed on either online or offline machine. When on a offline machine, TaPoS field can be specified manually.
2. Export the

[2018-05-31 11:27] abitmore opened #1006 "Potential memory leak during syncing"
Potential memory leak. With only `witness` plugin enabled.

After first sync:
[code]
After restarted:
[code]

Ubuntu 16.04 LTS 64 bit.
[code]

[2018-05-31 16:34] ryanRfox commented on #835
Success! Yes, after commenting out the lines related to blind_sign API calls and deterministic_openssl_rand found in #921 the build completed without errors.

[2018-05-31 18:26] cedar-book commented on #903
This page refereed both links above: https://github.com/bitshares/dev.bitshares.works/blob/master/source/testnets/private_testnet.md#how-to-setup-private-testnet

[2018-06-01 12:47] jmjatlanta commented on #327
I believe this ticket has been fixed by merging in the fc changes for OpenSSL 1.1. Hence, compiling the lastest bitshares-core/develop branch should compile fine with OpenSSL versions 1.0 or 1.1.

I have tested this on Ubuntu 16.04//Boost 1.63// OpenSSL 1.0.2g as well as their branch openssl-1.1-stable. No compilation errors were encountered.

I'll leave this ticket open for a while to see if anyo

[2018-06-01 20:29] oxarbitrage commented on #969
the following is a list of api calls that will be impacted if we make the proposed change:

in database api:
- [ ] get_accounts
- [ ] get_account_references
- [ ] get_vesting_balances
- [ ] get_margin_positions
- [ ] get_witness_by_account
- [ ] get_committee_member_by_account
- [ ] get_workers_by_account
- [ ] get_proposed_transactions
- [ ] get_withdraw_permissions_by_giver
- [ ] get_withdraw_pe

[2018-06-02 01:09] jmjatlanta commented on #994
As for the changes in openssl_scope, I can't see any fix there.

The rest of the changes just look to be log a message when you try to do something when you're on the wrong strand using the "bnet" protocol. I don't believe we use strands, although I would assume the same applies to threads. Whether we should be logging when certain method calls are called from the wrong thread is probably out of t

[2018-06-02 09:14] abitmore opened #1011 "Add CLI startup option to only generate keys"
**User Story**
As a user I want to generate public/private key pairs without connecting to a node.

I think an easy approach is to add an option to `cli_wallet`, just like `--version`.

## CORE TEAM TASK LIST
- [X] Evaluate / Prioritize Feature Request
- [x] Refine User Stories / Requirements
- [ ] Define Test Cases
- [X] Design / Develop Solution
- [ ] Perform QA/Testing
- [ ] Update Documentatio

[2018-06-02 10:10] dayman32 commented on #269
When should we wait for a decision or correction? A lot of investors in this situation.

[2018-06-02 12:58] ryanRfox commented on #650
@dls-cipher May I request you post the URL to the tutorial when it is released?

[2018-06-02 13:06] ryanRfox commented on #1011
Agreed. I often use the `suggest_brain_key` API of the `cli_wallet` to generate a new signing key pair. It would be helpful to call a command line app with this parameter to achieve the same result on an offline workstation.

[2018-06-02 13:54] cedar-book commented on #894
A current link is [this](https://github.com/bitshares/dev.bitshares.works/blob/master/source/installation/bitshares_core_gitflow.md) .  I'll add a Bugfix flow.

[2018-06-03 10:40] abitmore opened #1013 "New API: get transaction hex without `signatures` field"
**User Story**
As a node API user I want features:
* get hex of a signed transaction (which is current behavior of `get_transaction_hex` API, if there is no signature in the transaction, there will be a byte with value `00` at the end of the hex);
* get hex of a transaction without signatures (actually without the `signature` field), so I can sign it directly.

**Additional Context**
I've heard of

[2018-06-03 18:18] abitmore opened #1014 "Corner case in is_authorized_asset()"
**Bug Description**
In `asset_object`, `whitelist_authorities` and `blacklist_authorities` in `options` are independent from `white_list` flag. Which means even if an asset doesn't have `white_list` flag enabled (even if corresponding issuer permission is declined), it can still have non-empty `whitelist_authorities` or `blacklist_authorities`.

Here is how this impacts checking of asset authoriza

[2018-06-04 09:23] abitmore commented on #1014
This bug doesn't exist due to this code:
https://github.com/bitshares/bitshares-core/blob/3293a95face10dd6b0716a596987deab66278f54/libraries/chain/protocol/asset_ops.cpp#L220-L221

[2018-06-04 09:23] #1014 closed

[2018-06-04 12:11] jmjatlanta commented on #999
Fixed in https://github.com/bitshares/websocketpp/pull/1

Probably low priority. I could not find its use within bitshares-core. But the fix is in.

[2018-06-04 13:35] oxarbitrage commented on #1003
done at https://github.com/bitshares/bitshares-fc/pull/52

[2018-06-04 13:35] #1003 closed

[2018-06-04 13:44] pmconrad commented on #1004
Right. Closing.

[2018-06-04 13:44] #1004 closed

[2018-06-04 14:40] litepresence opened #1018 "Assert Exception: _sell_asset->options.whitelist_markets.find"
`RPCError: Assert Exception: _sell_asset->options.whitelist_markets.find(_receive_asset->id) != _sell_asset->options.whitelist_markets.end()`

It would be helpful if the exception arguments included the above statement

[2018-06-04 15:48] abitmore commented on #691
https://github.com/bitshares/bitshares-core/issues/1018

[2018-06-04 23:34] jmjatlanta commented on #149
Ideas I can think of for the config.ini "repeating option" problem:
* Switch config file format (i.e. JSON)
* Change formatting for .ini entries to accept arrays of values
* Parse .ini at startup, throwing logging options into a separate file, to be read by the logging parser in a later step.
* Add an option in .ini to point to a separate file for logging settings, and have the logging parser read

[2018-06-04 23:36] clockworkgr commented on #149
I suggest either option 1 as a complete overhaul.

or option 4 seeing as that method is already used with api-access.json

[2018-06-05 04:10] ihla commented on #149
we have implemented the option 3, I can offer the PR if you wish

[2018-06-05 09:30] abitmore commented on #149
@ihla please do! thanks.

Before this is fixed, the workaround for node admins is to specify the required options as command line arguments instead. E.G.

[2018-06-05 10:03] offthewall123 opened #1020 "error accurred when make,i don't know what's wrong ,please help me"
Desktop/bitshares-core/tests/cli/main.cpp:112:76: error: invalid
      operands to binary expression ('__bind<int &, sockaddr *, unsigned long>'
      and 'int')
   if (bind(socket_fd, (struct sockaddr*)&sin, sizeof(struct sockaddr_in)) == -1)
[code]

[2018-06-05 10:28] abitmore commented on #1020
Steps To Reproduce?

Environment?
- source code branch/tag: [e.g. 2.0.180425]
 - SSL version: [e.g. OpenSSL 1.0.2g  1 Mar 2016]
 - Boost version: [e.g. 1.62]
 - Host OS: [e.g. Ubuntu 17.10]

[2018-06-05 10:32] abitmore opened #1021 "New Issue Template: build"
Current issue templates don't help when submitting "unable to build" issues.

[2018-06-05 12:51] ryanRfox commented on #1021
I'm open to how best to improve the issue submission workflow. I'll offer my thoughts on how it is currently implemented, then request others to suggest alternatives.

Currently, the BitShares-Core repo uses two (2) Issue Templates to guide the user through the Issue creation process and aid the Core Team in capturing relevant information up front to assist in evaluating and prioritizing for futur

[2018-06-05 12:54] ryanRfox commented on #1021
A potential improvement could be the addition of the `Impacts` section to the `Bug Report` to allow the user to indicate which areas of the software the bug impacts. Please indicate if this will improve the user experience and information gather for use by the Core Team in their evaluation of the Issue.

[2018-06-05 12:55] ryanRfox commented on #1021
Responding directly to the OP about "unable to build" issues: I feel this should be logged as a `Bug Report` by the user. The implementation is not functioning as designed.

[2018-06-05 13:04] pmconrad commented on #554
https://github.com/steemit/steem/pull/2500

[2018-06-05 13:11] abitmore commented on #1021
A build-related issue is usually a question. Usually the user (usually a newcomer) doesn't know if it's a bug or a missing feature. But we DO want him to provide useful info in the first place, E.G. steps to reproduce, OS/boost/openssl version, detailed output of `cmake` and `make` commands and etc.

See #1020 for reference.

[2018-06-05 13:12] oxarbitrage commented on #1021
https://github.com/bitshares/bitshares-core/issues/1020

we need to ask for:
    * source code branch/tag: [e.g. 2.0.180425]
    * SSL version: [e.g. OpenSSL 1.0.2g 1 Mar 2016]
    * Boost version: [e.g. 1.62]
    * Host OS: [e.g. Ubuntu 17.10]

A new issue type "building" or something is for me what fit best.

[2018-06-05 13:14] oxarbitrage commented on #1021
oops, commented at the same time than @abitmore , sorry.
as he says there(https://github.com/bitshares/bitshares-core/issues/1021#issuecomment-394703187) we don't know if it is a bug(an os and versions that should be supported by building) or a feature(building in new enviroment).

[2018-06-05 13:15] pmconrad commented on #994
This is what I had in mind: https://github.com/bitshares/bitshares-fc/pull/42
Can you test if the EOS change resolves that problem?

[2018-06-05 14:50] pmconrad commented on #269
As these accounts cannot be unlocked without a hardfork, and a hardfork cannot be done without a BSIP, I'd suggest to close this issue. This needs to be discussed in a different place.

[2018-06-05 15:03] bycz6 commented on #269
Where?

Cumprimentos / Best regards,
Rafael Mateus

Telf. +351 967008933

A Ter, 5 de jun de 2018, 15:50, Peter Conrad <notifications@github.com>
escreveu:

[2018-06-05 15:11] ryanRfox opened #1022 "Automated Docker Build is Failing on KernelVersion: 4.4.0-1060-aws"
**Bug Description**

The automated Docker Cloud build service is failing on the `KernelVersion: 4.4.0-1060-aws` environment. This appears to have started on #965 or #967 nearly 11 days ago. Not all Docker Cloud builds have failed since. In fact #971 passed just after the above two failed. However, more frequently we are seeing failures. Nothing has changed with the docker.yml file within the BitSh

[2018-06-05 15:13] abitmore commented on #269
@bycz6 here: https://github.com/bitshares/bsips/issues

[2018-06-05 20:29] litepresence commented on #1018
related

https://github.com/Codaone/DEXBot/issues/183

`exceptions.RPCError: Assert Exception: is_authorized_asset( d, *_seller, *_receive_asset )`

[2018-06-06 00:09] oxarbitrage commented on #1021
another minor thing to consider that i don't like much about our current issue templates is that the checkboxes for user selection are considered by github as tasks. i don't have a solution for this other than actually change the tasklist to something else after the issuer makes the initial selection.

[2018-06-06 07:55] offthewall123 opened #1026 "build error, please help me"
ubuntu:16.04
OpenSSL 1.0.2g
BOOST_LIB_VERSION "1_58"

make[2]: *** No rule to make target '/usr/lib/openssl-1.0/libssl.so', needed by 'libraries/fc/tests/all_tests'.  Stop.
CMakeFiles/Makefile2:327: recipe for target 'libraries/fc/tests/CMakeFiles/all_tests.dir/all' failed
make[1]: *** [libraries/fc/tests/CMakeFiles/all_tests.dir/all] Error 2
Makefile:127: recipe for target 'all' failed
make: ***

[2018-06-06 07:56] #1020 closed

[2018-06-06 08:01] offthewall123 commented on #1026
I just follow the steps,but failed in make step

[2018-06-06 08:16] top1st commented on #1026
[code]

show this command please

[2018-06-06 08:35] offthewall123 commented on #1026
ldd /usr/bin/openssl
	linux-vdso.so.1 =>  (0x00007ffec31a6000)
	libssl.so.1.0.0 => /lib/x86_64-linux-gnu/libssl.so.1.0.0 (0x00007fb42718d000)
	libcrypto.so.1.0.0 => /lib/x86_64-linux-gnu/libcrypto.so.1.0.0 (0x00007fb426d49000)
	libc.so.6 => /lib/x86_64-linux-gnu/libc.so.6 (0x00007fb42697f000)
	libdl.so.2 => /lib/x86_64-linux-gnu/libdl.so.2 (0x00007fb42677b000)
	/lib64/ld-linux-x86-64.so.2 (0x00007

[2018-06-06 08:53] arminnaderi opened #1027 "BSIP 29: Potential Problems"
I discussed these issues with @abitmore recently, but we want to see what the rest of the developers here think about this issue. I currently see a couple of potential problems arising if the current implementation of BSIP 29 was to move to the mainnet:

1. Lots of clients will have broken code from the increased operation count;
2. The operation list currently consists of around 56 operations, th

[2018-06-06 08:55] top1st commented on #1026
You installed libssl-dev and libcurl4-openssl-dev ?

[2018-06-06 08:58] offthewall123 commented on #1026
yes

[2018-06-06 08:59] top1st commented on #1026
Is there any way that you can share your screen to me? I built it yesterday.

[2018-06-06 09:06] offthewall123 commented on #1026
my terminal's error message is just what I put

[2018-06-06 09:06] offthewall123 commented on #1026
do you use team viewer?

[2018-06-06 09:10] offthewall123 commented on #1026
/bitshares-core# make
[  3%] Built target project_secp256k1
[  6%] Built target project_editline
[ 32%] Built target fc
make[2]: *** No rule to make target '/usr/lib/openssl-1.0/libssl.so', needed by 'libraries/fc/tests/all_tests'.  Stop.
CMakeFiles/Makefile2:327: recipe for target 'libraries/fc/tests/CMakeFiles/all_tests.dir/all' failed
make[1]: *** [libraries/fc/tests/CMakeFiles/all_tests.dir/al

[2018-06-06 09:11] btsabc commented on #978
I think there are 2  possible ways  this can happen:
1. transaction message hash in p2p layer includes all contents of  transaction , but blockchain layer  transaction's id (or hash) not includes the signature, so p2p layer cannot prevent receiving the same transaction (same id) with different signatures.
2. node.cpp::on_item_ids_inventory_message does not check messages received from inactive con

[2018-06-06 09:14] top1st commented on #1026
could you follow my command here?
remove all and start from first

[2018-06-06 09:15] top1st commented on #1026
![image](https://user-images.githubusercontent.com/23559697/41028997-2b54481e-69ad-11e8-9b7e-c91d529413bc.png)

![image](https://user-images.githubusercontent.com/23559697/41029023-3a087506-69ad-11e8-9676-e322d27dcdff.png)

![image](https://user-images.githubusercontent.com/23559697/41029042-42c50d44-69ad-11e8-8a08-be0b2336badb.png)

make

[2018-06-06 09:21] offthewall123 commented on #1026
following your command,actually i have tried remove all and start ,i'm so thankful to you thank you

[2018-06-06 09:23] offthewall123 commented on #1026
/bitshares-core# cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo .
CMake Error at CMakeLists.txt:39 (include):
  include could not find load file:

    GetGitRevisionDescription

CMake Error at CMakeLists.txt:40 (get_git_head_revision):
  Unknown CMake command "get_git_head_revision".

-- Configuring incomplete, errors occurred!
See also "/bitshares-core/CMakeFiles/CMakeOutput.log".
root@24e693e90634:/bit

[2018-06-06 09:27] top1st commented on #1026
oh this is other error. Moment we can solve it well.

[2018-06-06 09:28] top1st commented on #1026
you have grap correctly the submodules?

[2018-06-06 09:30] btsabc commented on #998
__int128I  isn't supported  in vc

[2018-06-06 09:37] offthewall123 commented on #1026
yes no error occurred after.  git submodule update --init --recursive

but there's a could not find Doxygen I don't know does it matter
-- Found Perl: /usr/bin/perl (found version "5.22.1")
-- Could NOT find Doxygen (missing:  DOXYGEN_EXECUTABLE)
-- Configuring done
-- Generating done
-- Build files have been written to: /bitshares-core

[2018-06-06 09:45] top1st commented on #1026
you can install doxygen
sudo apt-get install doxygen

[2018-06-06 09:45] top1st commented on #1026
in fact not need install doxygen now you ready to start make

[2018-06-06 09:52] offthewall123 commented on #1026
ye s, but stuck at 50% for about 10mins...I'm still waiting, wish no error

[2018-06-06 12:48] pmconrad commented on #1027
It's a bit late for this discussion. BSIP-29 has already been approved by the shareholders and is implemented in the upcoming release. Because of the shareholder approval this is also the wrong place for this discussion. Please bring it up on BitSharesTalk, or create another BSIP. Closing here.

My personal opinion is that your reasons are not valid.
As to reasons 1 and 2, clients can choose to be

[2018-06-06 12:48] #1027 closed

[2018-06-06 13:42] ryanRfox commented on #1021
Thank you @abit for providing the user case and reference to the Issue. I will draft a new template for building.

Thank you @oxarbitrage for the comment about the checkboxes. My intention with these in the template is to prompt the user for the Impacts. Once they submit the Issue, we (organization members) can (should) edit the Issue:
* Add Labels:
  * The `6 Series` of Labels should be tagged ba

[2018-06-06 15:16] ryanRfox commented on #1026
@offthewall123 How much physical RAM on the build host? How much swap space? We often see builds fail when not enough RAM/swap is allocated during the build process.

@top1st is providing great troubleshoot guidance. Thanks!

[2018-06-06 15:28] clockworkgr commented on #1026
8GB minimum to build.

Have tried building on 4 but never made it past halfway.

[2018-06-06 16:43] ryanRfox opened #1031 "Launch BitShares Developer Portal"
**Task List for dev.bitshares.works**
- [x] Define website structure (https://github.com/bitshares/dev.bitshares.works/blob/master/note.md)
- [x] Define page format (Markdown)
- [x] Define hosting environment (GitHub Pages)
- [ ] Update site content (@cedar-book @clockworkgr )
- [ ] Configure GitHub Pages (@clockworkgr )
- [ ] Launch to staging site
- [ ] Launch to dev.bitshares.works

**Assignees

[2018-06-06 16:53] ryanRfox commented on #1026
Agree with @clockworkgr that 8GB is recommended.

It is possible to build with lower RAM using swap, but it will be slower than all in RAM. Also, if using `make -j$(nproc)` the additional threads may consume your RAM/swap resources, leading to a build error.  Reduce the number of threads in use, or just use `make`.

[2018-06-06 17:34] abitmore commented on #1026
@offthewall123 OpenSSL 1.0.0 is not supported. Please use at least 1.0.1

[2018-06-06 18:06] #1022 closed

[2018-06-06 19:34] ryanRfox commented on #999
@jmjatlanta Do you feel this can be moved to the `201807 - Feature Release` Project Board from the `Project Backlog`?

[2018-06-07 08:41] tbone-bts commented on #843
Instead of rate limiting API requests, what about giving API node operators a share of the fees associated with the transactions flowing through their nodes?  In addition to making it economically viable to run an API node, this would also incentivize more market makers and other high frequency traders to run their own private API nodes.

Another beneficial outcome would be to make it economically

[2018-06-07 11:59] jmjatlanta commented on #999
@ryanRfox

Yes, I do.

[2018-06-07 12:17] cifer-lee commented on #1013
I am working on multi-sig function of `cli_wallet` these days, may I take this issue two? @ryanRfox

[2018-06-07 12:18] oxarbitrage commented on #1021
fixed with https://github.com/bitshares/bitshares-core/pull/1030

[2018-06-07 12:18] #1021 closed

[2018-06-07 12:19] cifer-lee commented on #1011
I'm just working on cli_wallet related stuff these days, may I take this issue? @ryanRfox

[2018-06-07 12:21] jmjatlanta commented on #994
@pmconrad

I am unable to reproduce the issue reported in https://github.com/bitshares/bitshares-fc/pull/42 on my mac. My guess is that issue is more compiler flag related (see https://stackoverflow.com/questions/19469887/segmentation-fault-with-boostfilesystem). But it could simply be I'm not testing correctly.

I don't have much insight as to what https://github.com/EOSIO/eos/commit/42baafc5015b

[2018-06-07 12:22] oxarbitrage commented on #1013
i will say yes. @ryanRfox please make @cifer-lee part of the bitshares organization so we can assign him issues.

[2018-06-07 14:17] jmjatlanta commented on #726
One way to tackle this is to replace our bloom filter implementation with a counting bloom filter. An example (MIT licensed) is https://github.com/le1ca/bloomfilter/blob/master/inc/CountingBloomFilter.hpp.

With that in place, we can remove items from the filter easily, add a simple API method.

[2018-06-07 14:51] dnotestein opened #1033 "Allow owner of a UIA to close markets and stop trading in a UIA"
**User Story**
Please tell us about your feature request using the User Story format:
As a UIA owner, I want to be able to discontinue usage of my UIA, either temporarily or permanently. One example is that I'm transitioning from an OLD UIA to a new UIA with different characteristics and I want to force an exchange between the two assets. Another case is when the asset gets hacked and I want to cl

[2018-06-07 18:31] ryanRfox commented on #843
Is it possible for the API node operator to provide an authenticated pay-for-service connection to the end user? Here the API node operator accepts value from the end user to pre-fund an account which allows  authenticated API access at a specified rate.

[2018-06-07 18:36] ryanRfox commented on #149
I like automation, so if possible, please save my exiting config.ini file to config-<date>.ini and rewrite a new one in proper format from legacy file.

If that is too much effort, please fail on launch with exceedingly informative instr uctions to refactor the config.ini file manually.

[2018-06-07 18:51] clockworkgr commented on #843
@ryanRfox that kind of the monetization is one of (many) reasonings behind my push for a standalone API proxy server (ideally REST based)

[2018-06-07 19:17] pmconrad commented on #994
I think the interesting part, i. e. the change in crypto/openssl, delays the construction of the static configurationFilePath until init_openssl is called. I'd assume that in certain cases the initialization happened too early, possibly before some internal boost stuff had been initialized properly. Not sure though.

[2018-06-07 19:20] pmconrad commented on #1033
Please specify more precisely what you mean with "discontinue usage". The two examples given are quite different.

[2018-06-07 19:27] pmconrad commented on #149
Automatic migration would be a one-time benefit for a few dozen (?) node operators. IMO not worth the effort.

IMO we can apply simple logic
* if config.ini and logging.ini both exists, use logging.ini only for logging config
* if config.ini exists but logging.ini does not, assume config.ini contains both
* if config.ini does not exist, create new config.ini (and also new logging.ini if logging.in

[2018-06-07 19:41] pmconrad opened #1034 "Get rid of obsolete constants"
**User Story**
As a developer I want to have the codebase cleaned up for easier maintenance.

In particular, the constant GRAPHENE_MAX_FEED_PRODUCERS is unused and should be removed. For bonus points, check for other leftovers in config.hpp as well.

**Impacts**
- [x] Performance (system or user efficiency, etc.)
- [x] Maintainability

**Additional Context (optional)**
Popped up in Telegram dev ch

[2018-06-07 19:48] ryanRfox commented on #149
I agree with @pmconrad that the number of impacted users for this one time event does not warrent investment of time for automation.

What is intended behavior at startup when: "config.ini exists but logging.ini does not"?
* Create default logging.ini file, parse config.ini but ignore any logging values therein, parse logging.ini, launch
* Fail to launch
  * Warn user about new ini file configurat

[2018-06-07 19:57] pmconrad commented on #149
IMO parse config ini like we do now, i. e. for both "normal" config and logging config. No need to change anything if it's working for the node operator.

[2018-06-07 20:03] ryanRfox commented on #1033
Thank you for providing the detailed User Story @dnotestein.

Please note: I unticked the items in the Core Team Task List within the Description. The intention there is for the Core team to tick them off as the Issue is developed. We also use the `2 Series` of Labels to indicate the progression. Once we finish disucssing the Issue, this one will get prioritized on the `Unassigned - Protocol Enhan

[2018-06-07 20:13] ryanRfox commented on #149
That works as well. New features/parameters added into a new Release typically appear in the config.ini file. My practice has been to allow the software to create a new default config.ini file. I then copy/paste my values into the new .ini file and start it back up.

[2018-06-07 20:55] ryanRfox commented on #1034
@pmconrad Great User Story.

A couple of notes as we learn this Issue organization stuff together:
I noticed you created a new Impacts entry for "Maintainability" in the description. I like it, and will consider adding something to that effect to both the Issue Template and the set of Labels as desired by the Team. So, for now, I've just moved that to the Additional Context section for safe keepin

[2018-06-07 21:00] ryanRfox commented on #843
To the point of the OP (rate limit API connections): What can this project implement to directly mitigate those impacts, or must the solution be done implemented outside the scope of our protocol?

[2018-06-07 21:04] abitmore commented on #1033
I guess some of the functionalities (if not all) described in OP are already implemented, check `whitelist_markets` and `blacklist_markets` in bitshares-core/libraries/chain/include/graphene/chain/protocol/asset_ops.hpp:

https://github.com/bitshares/bitshares-core/blob/f1b19b15629cd02669a94f2af16eeaec7f54b3f6/libraries/chain/include/graphene/chain/protocol/asset_ops.hpp#L68-L71

By the way, funds

[2018-06-07 21:09] ryanRfox commented on #1013
Yes @cifer-lee Thank you for claiming this Issue. I have added to the Communit Claims board and marked it In Development. Next, @oxarbitrage I will reach out to @abitmore to add @cifer-lee to the Organization (I don't have access to perform that task).

[2018-06-07 21:13] abitmore commented on #1013
@ryanRfox I've invited @cifer-lee. Write permission will be granted after some time.

[2018-06-07 21:55] oxarbitrage commented on #1034
@ryanRfox yes, this can be labeled `good first issue`

[2018-06-07 22:07] pmconrad commented on #1034
Actually I first wanted to add "Maintainability" to the existing "Other" section. Then I thought that looked stupid, so I removed "Other" and left it like that. :-)

Not sure if that point should be added to the list, as it's mostly an internal reason to change something.

[2018-06-08 05:54] mostar opened #1035 "Real short on smartcoins"
I would like to propose an idea that maybe easy to implement is Bitshares code.
It can  attract more traders to the Bitshares DEX, and allow us to offer a unique solution.

If a trader believe an asset will decries in value, he can short it and make some profit.

Today traders have hard time to short BTC (and other coins). Only few exchange allow it and there is high interest on borrowing for shor

[2018-06-08 08:03] cifer-lee commented on #1013
Thanks~

[2018-06-08 10:28] jmjatlanta commented on #1026
Hello @offthewall123. I hope you were able to compile everything. Please let us know if you are still having trouble. If not, please close this issue. Thanks!

[2018-06-08 10:35] #992 closed

[2018-06-08 10:42] #327 closed

[2018-06-08 14:38] ryanRfox commented on #1011
Yes, thank you @cifer-lee for claiming this Issue. I will move it to the `Community Claims` board for your development.

[2018-06-08 14:48] ryanRfox commented on #1034
Yes, understoond @pmconrad Let's leave it as is for now and consider it for discussion in the future.

@oxarbitrage I labeled as such. Please note: I will need guidance from the developers on which Issues are `good first issue` so, as you encounter them, please go ahead and label them. I will continue to inquire on those I feel may qualify.  Thanks

[2018-06-08 14:56] ryanRfox commented on #992
@jmjatlanta Thanks for moving and labeling this PR.

[2018-06-08 16:05] ryanRfox opened #1037 "Core Team Discussion: Using Project Boards and Milestones"
This is a discussion for the Core Team to determine how to use the GitHub features Project Boards and Milestones. Happy to receive comments from Community members as well. The intent is to provide 1) an organized and efficient workflow for the Core Team and 2) meaningful information to the Community.

Proposed:
__Project Boards (Visually describe the Team's workflow)__
The `Project Backlog` is mai

[2018-06-08 16:15] ryanRfox commented on #1037
I want to move our existing `Project Boards` representing _Initiatives_ and _Projects_ to new `Milestones`. This will preserve the representation/organization of the `Issues` and will provide a cleaner view to the Community at the /Projects URL.

[2018-06-08 17:07] jmjatlanta commented on #1037
I hope this helps non-developers see the process from the developer's perspective. As a developer, I want to write software. I don't want to be bogged down with administrative details.

As a team member, I realize that I must:
1. Use time to communicate what I'm working on to the rest of the team.
2. Use time to communicate with the user base / other developers to clarify / build requirements.
3.

[2018-06-08 18:32] ryanRfox commented on #1037
I am thrilled to learn you feel these boards are increasing your productivity, not hindering. Your points above are spot on! I appreciate the detailed response and your kind words. You are right: I want us all to love what we do and contribute our best talents.

I too struggle with the `New - Awaiting Evaluation` _bucket_, specifically __when__ to assign them into an `Unassigned` _bucket_. My desi

[2018-06-08 19:26] dnotestein commented on #1033
@abitmore With the fields you mentioned above, how would you cancel existing orders? Does blacklisting cancel existing orders? Also, what state would you use to say this asset can't be traded in any market? I'm assuming you could use whitelist to say it could only trade against one market, but it's not obvious to me how you could then prevent it from trading in that market. Maybe whitelist it AND

[2018-06-08 20:45] clockworkgr commented on #1033
@dnotestein If I'm not mistaken, your conclusion is correct. Blacklist "trumps" whitelist so to speak so if you had it whitelisted for one market and then blacklist it, it will in fact disallow trading.

[2018-06-08 21:37] abitmore commented on #1033
https://github.com/bitshares/bitshares-core/blob/f1b19b15629cd02669a94f2af16eeaec7f54b3f6/libraries/chain/market_evaluator.cpp#L45-L48

[2018-06-08 21:38] abitmore commented on #1033
Check asset `PEERPLAYS` for example, the answer is to add itself to the whitelist.

[2018-06-09 05:57] cifer-lee commented on #1034
Totally agreed!

As you can seen i was a new rookie and occasionally impulse to clean code. Since this was also labeled as a `good first issue`, please, please, please assign it to me~

I like this work~

[2018-06-09 20:14] dnotestein commented on #1033
Does blacklisting a market cancel existing orders in that market? Seems like it should if it doesn't.

[2018-06-09 20:19] abitmore commented on #1033
It doesn't. The change worth a BSIP.

[2018-06-10 01:19] cedar-book commented on #894
I added an Emergency Fix workflow [here](https://github.com/bitshares/dev.bitshares.works/blob/master/source/installation/bitshares_core_gitflow.md#emergency-fix-workflows).

[2018-06-10 12:18] abitmore opened #1040 "Remove temp-account balance check"

[2018-06-10 13:41] pmconrad commented on #1037
I think this is a step in the right direction. It gets us more organized.
I also think it will take some time until everyone gets used to it (or at least until I get used to it).

Could you elaborate how these boards are set up? Are they driven by the labels, or do they work independently?

A weak point is IMO that we don't have a step for specification and discussion, and in the case of protocol

[2018-06-10 15:10] btsabc commented on #1040
Before making a thorough understanding of the impact of blind transfer, it is best not to do so.

[2018-06-10 16:32] pmconrad commented on #1040
@btsabc please elaborate your concerns. AFAICS blind transfers will not be negatively impacted by this change.

[2018-06-10 18:03] FrankBlabu commented on #835
Are the instructions in the comments above still valid ? I get the reply "Couldn't find remote ref openssl-1.1-support" when trying to pull it.

I would appreciate any hint here. I updated my system to Ubuntu 18.04 without checking for the witness node compatibility before and now I'm stuck and cannot go back easily.

[2018-06-10 20:34] cedar-book commented on #1037
I think the Project board is very nice indicator. I can see what’s going on and what’s coming quickly. And assigned colored labels help to distinguish each issue’s topics.  That’s very helpful to me.  I am going to check the past issues to update the documentation properly.  And when I come back to the Project board, I can make sure which topic I should put priority. That's nice. I am not familiar

[2018-06-11 02:43] christophersanborn commented on #1040
Curious for the motivation here.  Off the top of my head I can't think of a detriment to blind transfers, but I don't know for sure that there isn't one.

[2018-06-11 05:39] christophersanborn commented on #1040
Worst case that I can think of (but not necessarily worst case that exists) is if an un-blind operation (Op 41) leaves some asset amount unclaimed after revealing the blinding factor for an ownerless commitment, (typically created by a preceding Op 40 within the same transaction).  (I’m not even sure why/how the temp-account is involved in that, actually, except that it must be that the “ownerless

[2018-06-11 13:15] abitmore commented on #1040
Fixed with #1041. Closing this issue now. Please feel free to reopen it or create a new issue if found something wrong.

[2018-06-11 13:15] #1040 closed

[2018-06-11 17:55] pmconrad commented on #835
The branch has been merged into develop, please check out develop branch and build that. Don't forget to ``git submodule update --init --recursive``.

[2018-06-12 00:03] jmjatlanta commented on #707
This item is 3 months old, with no recent activity. If this is still an issue, please reopen or create a new issue with the details of your environment.

[2018-06-12 00:03] #707 closed

[2018-06-12 00:07] jmjatlanta commented on #713
Received no feedback. I will close this issue. If this is still a problem, please re-open this issue or create a new one.

[2018-06-12 00:07] #713 closed

[2018-06-12 12:13] fractalnode opened #1044 "Transfer only to whitelisted Accounts and trade only with whitelisted Assets"
As a user with security concerns I would like to secure my additional accounts by limiting the ability to transfer tokens only to whitelisted accounts. Additionally, I would like these accounts to be able to exchange tokens only for whitelisted tokens

Two new policy mode:

* TRANSFER FUNDS TO WHITELISTED ACCOUNTS ONLY (Allow ALL by default)
[comma separated list: eg. my-bot-1, my-bot-2, my-primar

[2018-06-12 13:20] abitmore commented on #1044
Please be aware that there are tons of things that can be done with an active key, but not only limited to transfers and trading, to make you loss your money, E.G. reserve asset, fund fee pool, withdrawal permission, creating vesting balance, stealth transfer and etc. That said, DON'T loss your active key, and, don't use owner key too frequently.

I remember we already have an issue here or in ano

[2018-06-12 15:07] fractalnode commented on #1044
This is what i have in mind.
E.g. "withdrawal permission" depends on MEMO

![image](https://user-images.githubusercontent.com/20418259/41298698-2339cdac-6e62-11e8-90b2-d26b5c9176ae.png)

If your password creates only ACTIVE Key, like in this case ↑, user is more secure. But this is not perfect either. That's why I wanted to whitelist some features

[2018-06-12 15:40] abitmore opened #1045 "Update documentation about supported boost version"
- [x] README
- [x] Wiki

And anywhere else?

I think this should be done to `master` now, then cherry-pick to other branches (perhaps `release` branch first since it will be merged back to `develop` and `hardfork` branch soon).

[2018-06-12 15:45] abitmore commented on #1044
I meant to change the code to introduce new key pairs in addition to current owner/active schema, with a BSIP and hard fork. I didn't mean to add one more key to your account now.

[2018-06-12 16:38] oxarbitrage commented on #1045
The `Doxyfile` need to update also into `master`. ill take care of the 3 tasks.

[ ] Update doxyfile

[2018-06-12 17:02] oxarbitrage commented on #1045
updated wiki https://github.com/bitshares/bitshares-core/wiki , README and DoxyFile.

[2018-06-12 18:41] ryanRfox commented on #1044
@fractalnode great User Story provided. I look forward to refining/enhancing it with input from the Community going forward. Many bits to consider.

[2018-06-12 18:53] ryanRfox commented on #1045
I edited the Wiki pages to extend the range to 1.57 - 1.65 so I believe we have all locations covered.

@cedar-book are you aware of other locations where the boost version may be discussed in documentation?

[2018-06-12 20:15] ryanRfox commented on #1045
Fixed by #1046

[2018-06-12 20:15] #1045 closed

[2018-06-12 20:21] cedar-book commented on #1045
Done. Updated --> "Versions earlier than 1.57 or newer than 1.65 are NOT supported".

[2018-06-12 21:38] oxarbitrage commented on #1013
closed by https://github.com/bitshares/bitshares-core/pull/1038

[2018-06-12 21:38] #1013 closed

[2018-06-13 05:45] 86chenjie opened #1048 "How should i check my transaction/operation is irreversible in bitshares?"
I need a way to check my operation is irreversible or not in some case:  create account / deposit / withdraw.
Thanks in advance.

[2018-06-13 06:48] clockworkgr commented on #1048
if I'm not mistaken, irreversibility comes after (no of witnesses)*2/3 +1 blocks...so currently after 19 blocks

[2018-06-13 09:28] 86chenjie commented on #1048
i use bitshare nodejs api to do create account / deposit / withdraw operation.
so after i successfully do the operation, i can get some info like ref_block_num/ref_block_prefix/...
how should i use these info to check?
Is there any api i can check the operation status? like ETH?

[2018-06-13 12:10] abitmore commented on #1048
@clockworkgr unfortunately you're wrong, it's usually not 19 blocks due to witness shuffling.

@86chenjie you can get the number (height) of the block that contains your action (operation) with `get_relative_account_history` API, then compare the block number with `last_irreversible_block_num` returned by `get_object("2.1.0")` API, if the former is smaller, the operation is irreversible.

[2018-06-13 12:12] abitmore commented on #1048
@cedar-book can you please check if this mechanism is documented somewhere? Thanks.

[2018-06-13 12:12] #1048 closed

[2018-06-13 12:13] abitmore commented on #1048
By the way @86chenjie I guess you can read Chinese, here is a document would be helpful for you: https://github.com/abitmore/bts-cn-docs/blob/master/BTS%E4%BA%A4%E6%98%93%E6%89%80%E5%AF%B9%E6%8E%A5%E6%8C%87%E5%8D%97%EF%BC%88%E5%8D%95%E8%8A%82%E7%82%B9%E7%89%88%EF%BC%89.txt

[2018-06-13 12:14] clockworkgr commented on #1048
@abitmore  so essentially it's after blocks have been produced  from 19 DISTINCT witnesses?

[2018-06-13 13:12] jmjatlanta commented on #746
IMO: We need some metrics to avoid "premature optimization". What is the common size of the passed in vector<const object*>? What is the common size of the vector<object_id_type>? If the numbers are small, I'd guess the linear search is fine. We should test to see at what point transforming the vector<object> to a map increases performance.

[2018-06-13 14:09] oxarbitrage opened #1050 "add exit or quit command to cli_wallet"
**User Story**
As a `cli_wallet` user I want an `exit` or `quit` command so that i can exit the program without `ctrl-c`.

**Additional Context (optional)**
I cant find anything to exit the cli_wallet other than ctrl-c. i think it can be good to have a command for this.

## CORE TEAM TASK LIST
- [x] Evaluate / Prioritize Feature Request
- [x] Refine User Stories / Requirements
- [x] Design / Devel

[2018-06-13 22:24] abitmore opened #1051 "Update all asset-related API's to support asset symbol as parameter"
**User Story**
As an API user I want to use asset symbols directly for all APIs. Some APIs support asset symbols, e.g. `get_ticker`, but others don't support, e.g. `get_market_history`.

**Additional Context (optional)**
https://bitsharestalk.org/index.php?topic=26699.0

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [ ] Define Test Ca

[2018-06-14 02:54] 86chenjie opened #1052 "get_relative_account_history always return empty []"
I use bitshare nodejs api
[code]

result is like this
[code]

I checked the doc in http://docs.bitshares.org/development/namespaces/app.html and https://github.com/abitmore/bts-cn-docs/blob/master/BTS%E4%BA%A4%E6%98%93%E6%89%80%E5%AF%B9%E6%8E%A5%E6%8C%87%E5%8D%97%EF%BC%88%E5%8D%95%E8%8A%82%E7%82%B9%E7%89%88%EF%BC%89.txt
the description on those params are different.
I tried 0, 100, 0  and 1, 100,

[2018-06-14 03:09] mcb345 opened #1053 "Compilation error (?) from source code"
* Steps To Reproduce
![image](https://user-images.githubusercontent.com/9096394/41389362-a0a997a0-6fba-11e8-9cc2-c418eeda5292.png)

It took like hour on this step, until connection is being reset, I am installing on ec2, I tried **make** using sudo as well

**Build Error Description**
A clear and concise description of what the build error is.

**Build Environment**
Details about the build environ

[2018-06-14 04:49] cifer-lee commented on #463
Hi @ryanRfox, as talked in pr https://github.com/bitshares/bitshares-core/pull/849, neither the name nor the usage(except for `get_limit_orders_by_account`) of theses apis are confirmed. Maybe first refine requirements and prioritize them?

[2018-06-14 06:05] xiangxn commented on #845
I've modified the code and I'm doing some tests now.

[2018-06-14 07:46] 86chenjie commented on #1052
'''
root@iZhp3hqett0mw72yswzxzaZ:~# curl -d '{"jsonrpc": "2.0", "method": "get_relative_account_history", "params": ["jeff-chen",1,100,100], "id": 1}' http://api.bts.ai/
{"id":1,"jsonrpc":"2.0","error":{"code":1,"message":"Assert Exception: itr != _by_name.end(): no method with name 'get_relative_account_history'","data":{"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"

[2018-06-14 12:37] ryanRfox commented on #1053
@mcb345 May I request a screenshot or log of the compilation? The build process can take beyond an hour. If your host is capable of multi-threading, you may try `sudo make -j${nproc}`

[2018-06-14 13:10] oxarbitrage commented on #1052
try:

[code]

1- `get_relative_account_history` is inside the `history` api.
2- call does not support account names, need to be your id. this is going to change and names will be accepted after https://github.com/bitshares/bitshares-core/pull/989 is merged to the codebase.

[2018-06-14 13:13] oxarbitrage commented on #1051
to be done after https://github.com/bitshares/bitshares-core/pull/989

[2018-06-14 13:27] 86chenjie commented on #1052
@oxarbitrage  thanks, that works. but i find another issue.
1. const url = 'wss://api.bts.ai'
2. const url = 'wss://bitshares.dacplay.org/ws'
3. const url = 'wss://bitshares-api.wancloud.io/ws'

1 & 3 can return correct result.
2 return empty result.

but both 2 & 3 in offical node list : https://github.com/bitshares/bitshares-ui/blob/master/app/api/apiConfig.js

so which offical nodes should i us

[2018-06-14 13:30] cedar-book commented on #1048
@abitmore, I could not find a document paticulerly for this topic in the doc... website. I read your Chinese document (translated) and made this [draft document](https://github.com/cedar-book/dev.bitshares.works-cb-m/blob/master/source/full-witness_nodes/irreversible_op_check.md).  Does something like this work?

[2018-06-14 13:39] oxarbitrage commented on #1052
it could be that some nodes do not provide user history or only a limited amount of history. this is because having a node with all history is too expensive for the amount of RAM needed.

if you check the UI you will not be able to get deeper into all accounts history, it only allow to explore the last 100(or something similar) operations of each user.

my recommendation is that you stick with the

[2018-06-14 13:39] abitmore commented on #1048
@cedar-book thanks. Please discuss with Alex to see where to link it. I'm not very satisfied with that document but right now I don't have time to improve it, sorry.

[2018-06-14 13:45] #1052 closed

[2018-06-14 13:53] cedar-book commented on #1048
@abitmore, Thank you.  @clockworkgr, I made a first draft (gather information) last night that needs to be updated.

[2018-06-14 14:33] ryanRfox commented on #730
@jmjatlanta I believe that because this is merged it should be marked Closed as well. I'll allow you to do that when appropriate. Thank you for moving to Done. In the future, you may automate this: https://blog.github.com/2013-05-14-closing-issues-via-pull-requests/

[2018-06-14 14:36] ryanRfox commented on #933
@operano02 We did not receive any follow up to this Issue for quite some time. Therefore, it will be marked closed. Please open a new `Build Issue` as needed. Thank you.

[2018-06-14 14:36] #933 closed

[2018-06-14 15:16] ryanRfox commented on #1026
@offthewall123 we have not received any follow up on this issue and will close it at this time. As needed, please open a new `Build Issue`, provide the details within the template and we will be happy to assist further. Thank you.

[2018-06-14 15:16] #1026 closed

[2018-06-14 16:11] ryanRfox commented on #1037
@pmconrad Than you for the kind words of support.

The boards have little bit of automation, but mostly it is up to Core Team members to (re)label the Issues and drag/drop them to the appropriate location on the boards.  Specifically, the Labels are organized into __numbered series__ to indicate:
0. Notifications
1. Issue `Type`
2. Current `Status` in the workflow process
3. `Classification`
4. `P

[2018-06-14 16:22] ryanRfox commented on #1050
@oxarbitrage I have no idea, but if this could be a `good first issue` please add that label.

[2018-06-14 17:48] ryanRfox commented on #1048
Because this issue closed, I feel a new one should be created to track the documentation updates. @cedar-book you made a good start with the draft. Let's get a new Issue added on the Community Claims board and work with @clockworkgr to refine it.

[2018-06-14 19:00] ryanRfox commented on #463
I'll add my opinion here and rely on other Core Team members to comment further (looking at you: @abitmore @oxarbitrage @pmconrad ). I will also request the UI Team to review and add their thoughts on API naming and the dataset returned (@wmbutler @svk31 ).

The OP defines the API names in a format I support. I'm not sure if we have a naming convention defined, but this seems to work in this case:

[2018-06-14 20:42] ryanRfox commented on #835
@FrankBlabu you may observe the build process for the `develop` branch provided by Travis-CI:
https://travis-ci.org/bitshares/bitshares-core/builds/391476199

Focus on lines 418 & 428:
[code]
As needed, please open a `Build Error` Issue and complete the template with the relevant details:
https://github.com/bitshares/bitshares-core/issues/new?template=build_error.md

[2018-06-14 21:01] ryanRfox commented on #626
@pmconrad feels this is a security risk:
https://github.com/bitshares/bitshares-core/pull/668#issuecomment-365931763

Please comment further about what should developed regarding OP within the Issue here (rather than the PR).

[2018-06-15 03:55] 86chenjie opened #1058 "get_relative_account_history api sort issue"
I use get_relative_account_history api to get history, but the sort order is not what i expected, looks like it 's different from the doc.

1. [account.account.id, 1, 100, 100]
	block_num 23581288 ->  22782216
2. [account.account.id, 101, 100, 200]
	block_num 24632707 ->  23581299
3. [account.account.id, 201, 100, 300]
	block_num 25641038 ->  24632707

From the doc, the 1 should return the latest,

[2018-06-15 05:04] 86chenjie commented on #1058
is this the correct way?
1. get total_ops from account info:
[code]
2. query latest 100 history: [account.account.id, 324, 100, 423]

[2018-06-15 06:04] cifer-lee opened #1059 "Need an API to create multi-sig account in cli_wallet"
**User Story**
As a user I want to create multi-sig account via cli_wallet.

This request also derive from https://github.com/bitshares/bitshares-core/issues/867 and https://github.com/bitshares/bitshares-core/pull/1032, as we have a way to create multi-sig transaction but no way to create multi-sig account.

**Impacts**

- [ ] API (the application programming interface)
- [ ] Build (the build pro

[2018-06-15 07:03] abitmore commented on #1059
Please check discussions in https://github.com/bitshares/bitshares-core/pull/270 and https://github.com/bitshares/bitshares-core/issues/163.

IMHO, creating multi-sig accounts is not as useful as updating existing accounts to multi-sig. There are few use cases requires a dedicated "updating accounts to multi-sig" feature. If for testing only, "sign_transaction" command and the transaction builder

[2018-06-15 07:47] abitmore opened #1060 "Update docs: 64 bit OS is required"
For example, in README.md:

https://github.com/bitshares/bitshares-core/blob/c9a3c525415dcfe379e79e86956974bc17075d78/README.md#L38

Actually it won't work on 32-bit Ubuntu, so we need to explicitly mention "64 bit".

- [x] readme
- [x] wiki
- [ ] other docs

[2018-06-15 08:02] abitmore commented on #1058
If you think the doc is not clear, please help improve it. Thanks.

If you just want to get the latest 100 records, you can query with `[account_id, 0, 100, 0]`;

If you're building an application and don't want to miss any history entry, I'd recommend iterate from 1 or the sequence which you think is safe, to `total_ops`.

Yes.

[2018-06-15 08:06] abitmore commented on #1058
@86chenjie by the way, if you prefer iterating from latest to earliest, you can try `get_account_history` API.

[2018-06-15 09:03] #1058 closed

[2018-06-15 10:03] xiangxn commented on #845
This issue conflicts too much with #1055 and needs to wait for #1055 to complete before submitting PR

[2018-06-15 10:20] jmjatlanta commented on #730
Learn something new every day. Thanks!

[2018-06-15 10:20] #730 closed

[2018-06-15 11:08] jmjatlanta commented on #835
Updated instructions as of 15-June-2018 for develop branch, based on a fresh install of Ubuntu 18.04:

``sudo apt install gcc g++ git cmake libboost-all-dev libssl-dev autoconf libcurl4-openssl-dev``
``git clone --branch=develop https://github.com/bitshares/bitshares-core.git``
``cd bitshares-core``
``git submodule update --init --recursive``
``cmake -DCMAKE_BUILD_TYPE=Release .``
``make``

[2018-06-15 11:30] jmjatlanta commented on #626
If a flaw is found for certain versions / plugins or a combination of each, an attacker can query the network for which peers have that combination, making her job easier.

But I believe there are legitimate reasons to provide this information. So I believe providing this ability, along with the ability to turn it off (or requiring them to turn it on), gives us flexibility with some security.

I l

[2018-06-15 11:38] clockworkgr opened #1061 "Threshold authority weights per operation."
**User Story**
As a `user` I want `the ability to set authority threshold weight on the operation level` rather than the account-level so that I can `have finer-grained control of the account and improve security`.

**Example use cases**
1. As a `gateway operator` I have a service that automates the issuing of assets to users as deposits come in. This requires keeping the active authority keys on

[2018-06-15 11:41] sschiessl-bcp commented on #1061
I like this idea. Optional overriding the treshhold for hand-picked operations.

I have no clue of the impact code-wise, but it will bring great security for automation tools.

[2018-06-15 11:44] sschiessl-bcp commented on #626
An attacker that is capable enough to enter a node will also have no problem preparing a script that queries the API nodes for certain calls that allows establishing the version as well.

[2018-06-15 11:48] nanomobile commented on #809
I want to claim this issue, help me guys please to make correct workflow for first time

[2018-06-15 12:24] ryanRfox commented on #809
@nanomobile has claimed this Issue. I've moved it to the `Community Claims` project board. The OP provides hints for a Test Case. Also, @clockworkgr provides hints above for potential fixes within `fstream.cpp` and confirmed by @abitmore . Please begin your local development with a checkout from the `develop` branch. Please rebase your local feature branch prior to creating your PR to `develop`.

[2018-06-15 14:15] clockworkgr commented on #1061
Just realised that https://github.com/bitshares/bsips/blob/master/bsip-0029.md battles a similar security issue.

In BSIP29's case, we split the operation to 2 different ones and make own require owner auth. With the functionality above we would have multiple authorities and different weight thresholds for the 2 ops.

[2018-06-15 14:36] oxarbitrage commented on #1060
i remember i installed bitshares maybe 1 year ago in a 32 bit old linux machine. it was a pain but i was able to install, had to install boost manually, i think openssl just worked.

is there new stuff in the last time that makes it not possible now ?

[2018-06-15 15:10] clockworkgr commented on #1060
seems like it...

Copying from telegram:
[code]

[2018-06-15 16:00] ryanRfox commented on #870
Assigning to @Zapata to work in conjunction with #792

[2018-06-15 16:01] ryanRfox commented on #792
@Zapata will be working this Issue. I've requested he reach out to @wmbutler and @svk31 to receive guidance on what the UI Team may desire. @clockworkgr and @abitmore have provided many comments to this Issue and #870 as well. I'm assigning #870 to @Zapata as they are related and likely progress together.

[2018-06-15 18:22] jmjatlanta commented on #626
Here is my proposal:

Plugins will have a method that returns configuration information about that plugin. Plugin authors are expected to be judicious about what is included in that information. Existing plugins will return no configuration information as part of this issue.

An API call will be added that returns information about the server. The server administrator can control (via command line

[2018-06-15 19:12] ryanRfox commented on #845
@xiangxn @abitmore just merged #1055 so will ask for an update on intentions for #845 going forward. Thanks

[2018-06-16 11:15] cifer-lee commented on #1059
@abitmore Yeah got it, you are right! I fixed up the test cases by self constructing a signed_transaction for multi-sig account creation.

[2018-06-16 12:06] ying2025 opened #1065 "Problem with make! I need help"
@ubuntu:~/bitshare/bitshares-core$ make
[ 21%] Built target project_editline
[ 21%] Built target project_secp256k1
[ 21%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/crypto/base58.cpp.o
/home/zhr/bitshare/bitshares-core/libraries/fc/src/crypto/base58.cpp:69:24: error: invalid use of incomplete type ‘BIGNUM {aka struct bignum_st}’
 class CBigNum : public BIGNUM
                        ^~

[2018-06-16 15:42] abitmore commented on #1065
https://github.com/bitshares/bitshares-core/blob/master/.github/ISSUE_TEMPLATE/build_error.md

[2018-06-16 16:47] #1059 closed

[2018-06-17 01:58] ying2025 commented on #835
I have the similiar problem. But My openssl is 1.0.2. How I solve the following problems?
/home/zhr/bitshare/bitshares-core/libraries/deterministic_openssl_rand/deterministic_openssl_rand.cpp:92:1: error: invalid conversion from ‘void (*)(const void*, int)’ to ‘int (*)(const void*, int)’ [-fpermissive]
 };
 ^
/home/zhr/bitshare/bitshares-core/libraries/deterministic_openssl_rand/deterministic_open

[2018-06-17 02:20] cedar-book commented on #1060
Added the information about Ubuntu 16.04 LTS (64-bit), [Installation section](https://github.com/bitshares/dev.bitshares.works/blob/master/source/installation/build_ubuntu.md#building-on-ubuntu).

[2018-06-17 02:35] jmjatlanta commented on #835
Hrmmm. It seems you are having a different problem @ying2025. Please create a new issue here:

https://github.com/bitshares/bitshares-core/issues/new?template=build_error.md

[2018-06-17 03:06] ying2025 opened #1066 "Problem with make"
When I make the project.The following question happen. How I solve the following problems?
/home/zhr/bitshare/bitshares-core/libraries/deterministic_openssl_rand/deterministic_openssl_rand.cpp:92:1: error: invalid conversion from ‘void ()(const void, int)’ to ‘int ()(const void, int)’ [-fpermissive]
};
^
/home/zhr/bitshare/bitshares-core/libraries/deterministic_openssl_rand/deterministic_openssl_r

[2018-06-17 06:08] abitmore commented on #1066
OS and version?
Compiler and version?

[2018-06-17 06:09] abitmore commented on #1065
Since OP has submitted a new issue I'm closing this one.

[2018-06-17 06:09] #1065 closed

[2018-06-17 06:30] ying2025 commented on #1066
Unbunt18.0.4

[2018-06-17 08:05] ying2025 commented on #835
ubuntu:~/bitshare/bitshares-core$ git checkout openssl-1.1-support
error: pathspec 'openssl-1.1-support' did not match any file(s) known to git.

[2018-06-17 08:28] pmconrad commented on #1061
Removed the "DEX" impact.

[2018-06-17 08:33] ying2025 commented on #835
[ 12%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/fstream.cpp.o
[ 12%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/sstream.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/json.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/varint.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/console.cpp.o
[ 14%] Bu

[2018-06-17 08:35] ying2025 opened #1067 "Ubunt18.0.4 Problems"
[ 12%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/fstream.cpp.o
[ 12%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/sstream.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/json.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/varint.cpp.o
[ 13%] Building CXX object libraries/fc/CMakeFiles/fc.dir/src/io/console.cpp.o
[ 14%] Bu

[2018-06-17 08:40] pmconrad commented on #626
An attacker will use all the information he can get, so the general rule should be to provide as little information as possible. Specifically, as a witness you do not want to announce your witness_node as a witness node.

I agree there are legitimate use cases for the API, especially in the context of account/market history. IMO we should select a specific set of items that serve a legitimate use-

[2018-06-17 08:48] ying2025 commented on #1067
En:
Linux version 4.15.0-23-generic (buildd@lgw01-amd64-055)
(gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)) #25-Ubuntu SMP Wed May 23 18:02:16 UTC 2018
@ubuntu:~/Desktop$ dpkg -S /usr/include/boost/version.hpp
libboost1.65-dev:amd64: /usr/include/boost/version.hpp
zhr@ubuntu:~/Desktop$ openssl version
OpenSSL 1.1.0g  2 Nov 2017
I try to  depress the openssl to 1.0.2g. But it is not doing anything

[2018-06-17 08:50] ying2025 commented on #1067
I also try this way. But it happened some problems, What should I do ?
zhr@ubuntu:~/bitshare/bitshares-core$ git checkout openssl-1.1-support
error: pathspec 'openssl-1.1-support' did not match any file(s) known to git.
zhr@ubuntu:~/bitshare/bitshares-core$ cd libraries/fc
zhr@ubuntu:~/bitshare/bitshares-core/libraries/fc$ git checkout openssl-1.1-support
error: pathspec 'openssl-1.1-support' did

[2018-06-17 09:07] pmconrad commented on #1066
Ubuntu-18.4 is not yet supported in main branch, please check out "develop" branch and build that. Don't forget to ``git submodule update --init --recursive``.

Closing as duplicate of #835 .

[2018-06-17 09:07] #1066 closed

[2018-06-17 09:37] pmconrad commented on #1045
The proper way to handle this would have been to fix in release branch, then merge that into master and develop.

[2018-06-17 19:35] pmconrad commented on #1067
Duplicate of #835 - closing.

Please check out develop branch of bitshares-code repo.

[2018-06-17 19:35] #1067 closed

[2018-06-17 20:36] sschiessl-bcp commented on #626
Just mentioning what already would have a use-case, this comes to mind:
- history size: to show the user expected history / reason why not seeing more
- market bucket size: facilitate configuration of tradingview
- availability of asset_api and ES plugin: unlock advanced features (Find Assets, Complete account history, Complete asset overview)
- server release: in case of critical bugs / hard fork

[2018-06-17 20:54] pmconrad commented on #626
Agree, except about item 4 - server release. IMO attackers are much more likely to make use of this info than a regular client.

[2018-06-18 07:10] cifer-lee opened #1068 "No need to serialize `initial_chain_id` field when creating example genesis json?"
I noticed that `create_example_genesis()` initialize the `initial_chain_id` to string "BOGUS"'s sha256 hash, while the generated genesis file will be entirely used by egenesis or by `--genesis-json` option to calculate the real chain id, the `initial_chain_id` field in the genesis file actually represents a wrong chain id.

It confused me a while, maybe not serialize the `initial_chain_id` field w

[2018-06-18 08:57] Zapata commented on #940
Not sure this type of feature should be build into the core itself.

The [12factor app](https://12factor.net) practice on [logs](https://12factor.net/logs) is to write everything on stdout, and use tools like [fluentd](https://www.fluentd.org/) to route events.

This is especially true on Kubernetes environments where you can easely add such behaviour to all your pods using automatic sidecar injec

[2018-06-18 10:07] abitmore commented on #463
@pmconrad right now we don't have many MPA's or PM's in the system, so pagination for `get_call_orders_by_account_asset` API is not very useful. The pagination is to avoid changing it again in the future.

[2018-06-18 10:36] abitmore commented on #835
@ying2025 please follow these steps:
[code]

[2018-06-18 10:42] abitmore commented on #1068
It's a hard fork change since serialization change will lead to different chain id. IMHO does not worth the efforts. To reduce confusion, we need documentation.

[2018-06-18 10:56] sschiessl-bcp commented on #1061
Taking this more into a abstract level birthed the following idea:

We currently have three authorities: Active, Owner and Memo. We add a fourth:

**Custom active**

It contains a list of custom authorities that link an operation to an authority. One of those pairs contains:
- operation id
- allowed authority (meaning the full fledged authority scheme with threshold and weighted keys / accounts)

[2018-06-18 11:39] jmjatlanta commented on #1011
PR #1039 handled the code portion. Documentation of this new feature still needs to be completed.

[2018-06-18 15:21] cifer-lee commented on #1011
Sorry i find nowhere to add document for command line option, not the description at option line? https://github.com/cifer-lee/bitshares-core/blob/4a2f333444b5d9a0cd13c78a16393594e9db1e6d/programs/cli_wallet/main.cpp#L89

Or did you mean the `docs/` submodule?

[2018-06-18 15:24] jmjatlanta commented on #1011
Very good question. Perhaps @ryanRfox can help. Ryan, where are the cli_wallet command line switches documented?

[2018-06-18 15:49] abitmore commented on #463
Oh. Thought you're talking about another API. Yes, this one will return one or zero entry. I'm fine if change it to return an `optional`, and remove the pagination.

[2018-06-18 16:51] ryanRfox commented on #626
Regarding the server release information: What do we find other reputable projects providing?

I read disagreement between recommendations of @jmjatlanta and @sschiessl-bcp regarding default settings. My preference is to default to providing useful information. I feel those providing public API nodes are likely keen enough to adjust their configuration accordingly.

[2018-06-18 17:18] ryanRfox opened #1069 "Update Documentation for `initial_chain_id` field when creating example genesis"
**User Story**
As a `developer` I want `documentation detailing how the initial_chain_id is calculated for create_example_genesis` so that `I am aware of the inconsistent serialization pattern`.

**Additional Context (optional)**
This is a short term documentation fix for the to-be-fixed-later #1068

## CORE TEAM TASK LIST
- [x] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Req

[2018-06-18 17:22] ryanRfox commented on #1068
@cifer-lee I attempted to split this Issue into something we can do now #1069 (document the as-is) and later, fix it in the code (#1068).

[2018-06-18 17:24] ryanRfox commented on #1069
@cifer-lee I'm not too sure about my User story based on #1068 so I hope you can refine it as needed. If you will take this one, I'll have you work with @cedar-book to identify where in the documentation this notification should be located.

[2018-06-18 19:17] sschiessl-bcp commented on #626
No disagreement, I simply listed what I could directly use already for the UI without thinking about the list of @jmjatlanta .

I clarified the intended use of my list in my last post, I bet @jmjatlanta will do the same. I would also for default setting to be on.

@pmconrad @jmjatlanta
Would there be an easy solution to allow completely custom key-value pairs that the operator puts in the config t

[2018-06-18 21:09] jmjatlanta commented on #995
Note: This is not necessarily a hardfork change, but is an area where we need to use extreme caution. See the PR https://github.com/bitshares/bitshares-fc/pull/55 for more information

[2018-06-18 21:10] ryanRfox commented on #1011
Sorry guys I'm not familiar enough to provide a definitive answer to where all it _should_ documented at this time.

At minimum, when calling `cli_wallet --help` and returning the helpful note already placed within `main.cpp`. Thank you.

@cedar-book May I request you guide us to a good location(s) within the new developer documentation to note this new feature?

[2018-06-18 23:57] jmjatlanta commented on #613
Perhaps I can help. It sounds like you want to build a composite key based on values from 2 different objects, not just the account_transaction_history object, correct? I haven't looked at your situation in detail, but I have a little experience with key extractors. Take a look at https://github.com/bitshares/bitshares-core/pull/1019/files#diff-1ad134c975af5bd661e554a2a77f4767

[2018-06-19 01:10] cedar-book commented on #1011
@ryanRfox, I was just thinking about this (this kind of situation).  As our starting point, I created a folder named *documented_issues* in a *knowledge_base* folder.  How about we add the information in the folder? Because, probably, most time, like this moment we remember more what we had done and which information want to leave as the documentation.
And added am example page file for this.   ht

[2018-06-19 07:09] nanomobile commented on #809
how much hours is reserved for this issue ?

[2018-06-19 09:45] nanomobile commented on #809
What is your estimates on this issue so the Community know how many hours it is expected to take ?

[2018-06-19 09:52] cifer-lee commented on #1034
Have removed the unused constants in pr #1072. I think this don't need test case or document? :P

[2018-06-19 11:41] ryanRfox opened #1074 "Update testnet Branch to Include Latest Dockerfile"
The `Dockerfile` within the `testnet` branch has not been updated.

**Tasklist**
- [x] Cherry pick [cd09f07b]("https://github.com/bitshares/bitshares-core/commit/cd09f07b3798222ba2b430a441efc2beb3e4d333") into `testnet` branch

[2018-06-19 14:46] oxarbitrage commented on #613
Many thanks for the comment. i am going to take a look as if i can solve it that way it will be the most efficient as we will use data already available in the blockchain. i have a solution that actually adds a new field to `account_transaction_history object` but it does not convince me.

resuming the work here to give a try to john suggestion.

if this works, it can also be of value in other iss

[2018-06-19 15:18] fvisconti commented on #1053
Hi there, I followed README's instructions to build, everything but the OS version: I'm running Ubuntu 18.04. The `recipe for target 'all' failed`, I've got this error:
[code]
I can provide a log file if needed.

[2018-06-19 15:21] jmjatlanta commented on #1053
For Ubuntu 18.04, you can use the develop branch. See this comment:

https://github.com/bitshares/bitshares-core/issues/835#issuecomment-397588899

[2018-06-19 16:03] ryanRfox commented on #613
@oxarbitrage I set the status label to `2 Discussion Needed` and left it in the `To Do` bucket on the `Feature Release` project board. It was not clear from your comment above if you are actively working this, or just plan to in this sprint. Anyway, please update labels and move it to in development when you are ready. Thanks

[2018-06-19 16:55] ryanRfox commented on #809
@nanomobile Checking with Core Team devs for assistance with estimation...

[2018-06-19 17:04] nanomobile commented on #809
Thanks a lot !
Have a perfect day !

On Tue, Jun 19, 2018 at 7:55 PM, Ryan R. Fox <notifications@github.com>
wrote:

[2018-06-19 17:35] oxarbitrage commented on #809
i am not very good in estimations but i will say it will take 1 hour to someone with the needed knowledge of git and bitshares. clockwork already pointed to some code where it can be fixed. it could take some more(2 hours) to someone not that familiar with any of this but i think not much more than that in this particular case.

the estimations in general i think can be done with a floor of no les

[2018-06-19 17:38] nanomobile commented on #809
while debugging I found that problem isn't located as clockwork wrote.

[2018-06-19 18:20] clockworkgr commented on #809
Yeah, don't take my comment as gospel...my c++ knowledge is rudimentary at best...I just wanted to know if I was thinking across the right lines

[2018-06-19 18:30] oxarbitrage commented on #809
can be extended to 2 hours without problems IMO.

[2018-06-19 18:42] jmjatlanta commented on #809
I'd say 1 1/2 to 2hr is fair.

** Warning... Soapbox **
While some may balk at the time it takes to handle a task, please remember that often this must include research, estimation, consultation, implementation, testing, and documentation.

I'm not saying this task requires all these steps. But coding time is only part of the equation. Often, we attack a problem only to find that it affects someth

[2018-06-19 18:50] ryanRfox commented on #809
@nanomobile Let's call it estimated at 2 hours. I know you already have some time into. Thanks much!

@oxarbitrage @jmjatlanta Thanks for helping me with this estimation. I really appreciate your words above @jmjatlanta as they accurately reflect my feelings as well.

[2018-06-19 18:58] ryanRfox commented on #809
A note to Core Team: I added the __Core Team Task List__ section to the description (this is part of our `New Issue` template, so need to add it into legacy Issues manually). For the `Community Claims` Issues like this one we can add tasks for _assignee_ and _estimation_ to help us quickly coordinate.

[2018-06-19 19:11] nanomobile commented on #809
1 hour or 2 hours not a problem :-) But really how many hours it will take I will know later when this issue will be finished ;-) I'm still debugging code and research fully BitShares C++ code, because it's not very well known by me yet ...

[2018-06-19 19:18] nanomobile commented on #809
Thanks a lot guys for your help and patience ! 👍

[2018-06-19 19:51] ryanRfox commented on #1060
I updated the `README.md` file and the Wiki files to all include __(64-bit)__ where required.

@cedar-book Please update the 14.04 LTS references with the __(64-bit)__ sufix as well.

[2018-06-19 19:56] ryanRfox commented on #1053
@mcb345 May I request your current status with this Build Issue? We will close the ticket for inactivity after 7 days.

@fvisconti May I request your status building the `develop` branch on 18.04? Note: We intend to support  Ubuntu 18.04 LTS (64-bit) in our next `Feature Release`.

[2018-06-19 20:30] cedar-book commented on #1060
@ryanRfox, I added in both sites. I took that happens only on Ubuntu 16.04 somehow.

[2018-06-20 08:37] rsswlkr commented on #835
For some reason this node didn't trust the git ssl certificate/server, so I had to work around the error message.

bitshares-core$ sudo git remote set-head origin --auto
fatal: unable to access 'https://github.com/bitshares/bitshares-core.git/': server certificate verification failed. CAfile: /etc/ssl/certs/ca-certificates.crt CRLfile: none
bitshares-core$ sudo export GIT_SSL_NO_VERIFY=1
sudo: exp

[2018-06-20 09:21] fvisconti commented on #1053
I'm building `develop` branch as described in #835.
So far, I'm facing the problem described in #409.

[2018-06-20 11:11] fvisconti commented on #835
I'm on Ubuntu 18.04
`openssl version`: `OpenSSL 1.1.0g  2 Nov 2017`
followed all the steps mentioned by @abitmore, but facing the issue as in #409, which is said to be fixed on Ubuntu 17.10.
I configured with `cmake -DCMAKE_BUILD_TYPE=Release` as @jmjatlanta said.
Don't know exactly how to move (not even why this should work with Ubuntu 17.10 and not with 18.04).

[2018-06-20 11:19] jmjatlanta commented on #835
On Ubuntu 18.04, things should work just fine if you are using the develop branch. In fact, it is slightly easier as there is no need to compile a specific boost version.

There must be some kind of problem (misconfiguration?) between doxygen and perl, if I am reading issue #409 correctly. I wasn't around when that issue appeared, so I can only speculate. Please post your build log and I'll see if

[2018-06-20 11:32] fvisconti commented on #835
This is the last message in the build log.
In #409, they say to comment out lines in `CMakeLists.txt`, but I found they have been replaced  in the `develop` branch..

[code]

[2018-06-20 11:39] jmjatlanta commented on #835
If you don't want to create the documentation, you could probably comment out line 4 of ``libraries/wallet/CMakeLists.txt`` like so...

``# find_package( Doxygen )``

I haven't tested it, but that should skip the documentation creation process. You'll have to re-run cmake, then run make, and let me know the results.

[2018-06-20 11:42] fvisconti commented on #835
Ok, going to.

[2018-06-20 12:53] fvisconti commented on #835
Builded succesfully, many thanks.

[2018-06-20 13:20] abitmore commented on #835
- [ ] if unable to find doxygen, build process should not fail, but skip the step gracefully.

[2018-06-20 18:33] sschiessl-bcp commented on #626
I saw this moved to be in testing.

Which solution has been implemented now?

[2018-06-20 19:44] jmjatlanta commented on #626
In bitshares/bitshares-core/pull/1070 I provided 3 options via configuration:
- return nothing (the default)
- return server version information
- return status of active plug-ins

I also included a method that authors of plug-ins can override that will add additional information about the status of their plug-in. Currently no plug-ins return information, other than that they are active.

Should i

[2018-06-21 02:49] xiangxn commented on #845
@ryanRfox The code for this issue has been submitted

[2018-06-21 07:04] nanomobile commented on #809
@clockworkgr you're absolutely right about issue location ! After debugging more and more BitShares C++ code, I've found in another thread that after executing this line of code https://github.com/bitshares/bitshares-fc/blob/master/src/io/fstream.cpp#L32 at some point in time we can see the problem. For me it took too long because I've installed environment from scratch specifically to develop Bit

[2018-06-21 08:00] nanomobile commented on #809
there is a mystic :-) cannot understand if the problem really located here https://github.com/bitshares/bitshares-fc/blob/master/src/io/fstream.cpp#L32 or not here :-)
I've changed that line of code to next one (just for test purposes only) my->ofs.open( bfp, std::ios::app | std::ios::out | std::ios::binary ); and while debugging - new data was appended, but after some time I saw again that the ne

[2018-06-21 08:29] Zapata commented on #1074
Can we include: #1077, #1078 ?

[2018-06-21 11:52] oxarbitrage commented on #1074
@Zapata #1077 and #1078 were merged to `develop` but will go into `testnet` and `master` in the natural way in the next release. #1075 is an emergency fix for the testnet as docker images can not be build, needed now.

[2018-06-21 11:52] #1074 closed

[2018-06-21 12:02] oxarbitrage commented on #1034
solved by #1072

[2018-06-21 12:02] #1034 closed

[2018-06-21 12:04] oxarbitrage commented on #845
thanks @xiangxn solution was merged.

[2018-06-21 12:04] #845 closed

[2018-06-21 12:58] pmconrad commented on #1053
Closing due to lack of feedback from OP.
fvisconti has reported success in https://github.com/bitshares/bitshares-core/issues/835#issuecomment-398737945

[2018-06-21 12:58] #1053 closed

[2018-06-21 13:04] pmconrad commented on #626
https://geekflare.com/apache-web-server-hardening-security/#21-Remove-Server-Version-Banner

That would be easy to implement. But I think it's a bad idea, because
* it wouldn't conform to anything remotely standard, and therefore be useless
* node owners would probably neglect maintaining the information, which means after a while it would be outdated and/or wrong.

[2018-06-21 13:12] sschiessl-bcp commented on #626
Okay, I see.

I ll drop wanting 4. and the custom keys. Can I have the rest? And as default? :)

[2018-06-21 13:17] pmconrad opened #1079 "Make better use of multi-core servers"
**User Story**
As a `node operator` I want to `make better use of my server hardware` so that `my server can process more transactions per second`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the

[2018-06-21 13:18] pmconrad commented on #1079
General remark: I think we need a "Performance" epic - #982 belongs into the same category.

[2018-06-21 13:21] pmconrad commented on #626
Sounds reasonable. :-)

[2018-06-21 13:32] nanomobile commented on #809
PS: maybe you misunderstood my message about more time - I didn't mean more payed time :-) just more time for me to research better the whole project

[2018-06-21 17:55] oxarbitrage commented on #969
closed by https://github.com/bitshares/bitshares-core/pull/989

[2018-06-21 17:55] #969 closed

[2018-06-21 21:16] jmjatlanta commented on #1079
Someone has invaded my head. I spent a good chunk of last night reading and pondering some of the same ideas. The big question that kept coming up as I thought about implementations was "would this be faster, or slower?"

Web servers have SSL offloading, which can be dedicated hardware that handles the SSL encryption/decryption, so the real server can serve pages. But we need authentication on bot

[2018-06-22 10:21] bangzi1001 commented on #1079
Does utilize multi-core able to solve Missing blocks due to high latency of maintenance block?

https://github.com/bitshares/bitshares-core/issues/504
https://github.com/bitshares/bitshares-core/issues/803

[2018-06-23 11:16] abitmore opened #1082 "Add github issue template for performance improvement"
Mentioned by @pmconrad  in https://github.com/bitshares/bitshares-core/issues/1079#issuecomment-399100401:

[2018-06-23 11:44] abitmore opened #1083 "Improve adjust_balance performance"
Replay profiling data:

[code]

Note: the first entry (`account_index::find(object_id_type)`) will be discussed in #803.

Background: in order to implement `top_n_authorities` asset committee mechanism (for STEALTH), we added `by_asset_balance` into indices of `account_balance_index`, which impacted overall performance:
* most assets don't need `by_asset_balance` for consensus;
* even for assets e

[2018-06-23 12:33] abitmore opened #1084 "Possible performance improvement: use pre-initialized static object"
For example, we have similar code everywhere:
[code]

The construction function will be called every time, which contains a few bit operations.

If we change the code to `if( some_asset.id.instance() == 0)`, it could be better, but the `instance()` call still contains a few bit operations.

What if we use a singleton here, add a static member variable in the template struct `object_id_type`? E.G.

[2018-06-23 12:52] abitmore commented on #1084
Never mind. I mixed up `object_id` with `object_id_type`.

[2018-06-23 12:52] #1084 closed

[2018-06-23 13:23] abitmore commented on #1084
Still worth discussing.

[code]
This has no bit operation, thus is fine, but still better to use a static variable in case when comparing to default value.

[code]
These call constructor which contain bit operations, using static variables / singleton pattern would be better.

How much performance would we improve in this direction, depends on how often the code compares a variable with a default

[2018-06-23 15:09] abitmore commented on #803
Replay profiling data: https://pastebin.com/abmzjruy

[2018-06-23 15:30] abitmore commented on #803
Profiling data of PR #1085 pasted in #1083, quoting here:

[code]

[2018-06-23 16:37] pmconrad opened #1086 "Performance sucks at first block after a long sequence of missed blocks"
**Bug Description**
database::update_global_dynamic_data iterates through all missed blocks, increasing the missed block count of each witness. This is inefficient if the number of missed blocks is large. In normal operation it is not a problem, but it slows down the unit tests that skip large numbers of blocks to simulate hardforks.

**Impacts**
Describe which portion(s) of BitShares Core may be

[2018-06-23 20:30] abitmore opened #1088 "Change object_id to more than 32 bit"
According to the code, `object_id::instance` is `unsigned_int`: https://github.com/bitshares/bitshares-core/blob/af118f697319d473b2547e2b110d0493980ac2b4/libraries/db/include/graphene/db/object_id.hpp#L134

However, `unsigned_int` is actually implemented with `uint32_t` in FC (code is [here](https://github.com/bitshares/bitshares-fc/blob/a91822616e712f94dba66da2b596a42e9fb68a07/include/fc/io/varin

[2018-06-23 20:48] abitmore commented on #803
New profiling data after added more commits to #1085:

[code]

[2018-06-24 12:14] nanomobile commented on #809
after debugging and researching the whole project better and better I found that problem is located here
https://github.com/bitshares/bitshares-core/blob/master/libraries/app/application.cpp#L121

this line of code deletes all content inside default.log file and after that new logs are added in this default.log file, that's why even if we make append in fstream.cpp code we will lose all old conten

[2018-06-24 15:34] abitmore commented on #809
@nanomobile still need to find how to fix. I believe we can't remove that line of code.

[2018-06-24 16:05] nanomobile commented on #809
yes sure we cannot delete it, we need just to fix it, still researching and debugging the code.

[2018-06-24 19:05] abitmore opened #1089 "Track total amount in collateral"
**User Story**
Quoting https://github.com/bitshares/bitshares-ui/issues/890#issuecomment-399774589:

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the depl

[2018-06-24 21:35] jmjatlanta commented on #960
Fixed by PR# bitshares/bitshares-core/pull/1019

[2018-06-24 21:35] #960 closed

[2018-06-24 21:46] jmjatlanta commented on #1079
@bangzi1001 It would certainly help.

I would like to set up some kind of lab. I've got a fairly slow machine in NY, and a few around here. I'm hoping to develop some kind of testing framework that closely mimics the block producing process, and use it and a variety of machines to gather some metrics. We may already have such a framework, or at least the beginnings of one.

[2018-06-25 04:09] nanomobile commented on #809
@ryanRfox @jmjatlanta @abitmore @clockworkgr, does the estimation of time for this issue remain the same ?

Maybe we need to open another issue because here we need to change a lot of code IMHO to fix this issue. Still researching more and more the code and debugging it again and again.

[2018-06-25 10:15] jmjatlanta opened #1090 "P2P find() optimization"
Please see https://github.com/bitshares/bitshares-core/blob/35ec65b130f63c594afe2c9ab7f931b42be08cdc/libraries/net/node.cpp#L751-L767

It appears that the ``find()`` on these 2 collections are being called 3 times each, while 1 should suffice.

[2018-06-25 12:46] abitmore commented on #809
@nanomobile depends on your final solution. Show us the details, E.G. why need to change a lot of code, is it the best approach, and etc.

[2018-06-25 12:49] jmjatlanta commented on #809
I'm jumping in without following the details of the story, so sorry if my comments seem out of place.

RE: The line of code at https://github.com/bitshares/bitshares-core/blob/master/libraries/app/application.cpp#L121

What about that line of code causes the log file to be erased? I fail to see it.

A "simple" task often leads to more work than initially thought. So adjustments to estimates are co

[2018-06-25 12:56] kamuluprashanth opened #1092 "CMake Error at C:/Program Files/CMake/share/cmake-3.11/Modules/FindBoost.cmake:2044 (message): Unable to find the requested Boost libraries."
when running ./build.sh i am getting this error on windows 7 please give me the solution

CMake Error at C:/Program Files/CMake/share/cmake-3.11/Modules/FindBoost.cmake:2044 (message):
  Unable to find the requested Boost libraries.

  Boost version: 1.58.0

  Boost include path: C:/boost/boost_1_58_0

  Could not find the following static Boost libraries:

          boost_system
          boost_f

[2018-06-25 13:06] jmjatlanta commented on #1092
So I'm not alone! I get the same thing. Windows 10, I tried various versions of Boost, and attempted to use the FindBoost that is part of cmake (same problem as above), as well as FindBoost that is part of bitshares (different problems, probably not correct to attempt this).

From my small amount of research, it seems that the various versions of the libs exist and are in the correct directory. cm

[2018-06-25 13:36] nanomobile commented on #809
I'm still researching the code more and more, but as I see now I need to save old logs before default.log file will be deleted and after that I need to save old logs before new logs will be added and of course I need to make it correctly. Maybe I'm wrong with my solution that's why I'm still debugging and researching the whole code.

[2018-06-25 16:46] nanomobile commented on #809
also when any task is finished it really seems simple ! :-)

[2018-06-25 19:08] ryanRfox commented on #1092
I also receive the same issue, but on CentOS 7.3

I've tried building multiple versions of Boost and adding the proper environment and cmake flags. It seems that find boost script has some issues outside of Ubuntu.

[2018-06-25 19:35] abitmore opened #1093 "Improve performance of `database::update_expired_feeds()`"
According to profiling data mentioned in #1083, `update_expired_feeds()` plays a significant role while replaying.

[code]

* The 11th entry `database::update_expired_feeds()` is it itself;
* the 7th entry `index<asset_bitasset_data_object>::find()` is caused by it here: https://github.com/bitshares/bitshares-core/blob/06aee789a4e2045d899e02b096d5a1a908be2865/libraries/chain/db_update.cpp#L483

*

[2018-06-25 20:32] abitmore opened #1094 "Improve price comparison performance"
According to replay profiling data, `price::operator<()` and `price::operator>()` are in top 10.

[code]

When comparing 2 `price` objects, we use two 128-bit multiplications. If the amounts are smaller, will the multiplications be faster?

Default `boost::rational` number is [Irreducible Fraction](https://en.wikipedia.org/wiki/Irreducible_fraction). But `price` is not. What if we automatically ch

[2018-06-25 20:47] jmjatlanta commented on #1094
I haven't looked at the internal representation of 128 bit integers, but here is an idea using assembler:
http://masm32.com/board/index.php?topic=2213.0

If we're just checking for equality, could we just split them into 2 sets of 64 bit registers, OR them together, and see if the same value comes out that went in? You would have to do it once for each group, although you could skip the 2nd group

[2018-06-25 21:04] abitmore commented on #1094
@jmjatlanta `<` and `>` are used much more than `==`, so we're not only talking about equality.

[2018-06-25 21:24] abitmore opened #1095 "Cache a pointer to account_statistics_object in account object?"
We've split account data into `account_object` and `account_statistics_object` for better performance when modifying, to reduce amount of data being copied to undo db. Due to this, we need to perform two queries when need data from both objects. By the way, this principle is abandoned in Steem.

Every time when looking for an account's statistics object after we already find the account object, we

[2018-06-25 23:57] jmjatlanta commented on #1095
Just typing out loud here.. Can the objects be "down-cast" for undo db, and restored if the data in undo db needs to be used? That would save storage space in undo db, and keep the account_object whole for the (hopefully) normal case.

[2018-06-26 22:54] nanomobile commented on #809
we need not only 1 line, we need 2 lines of code:

[code]

[2018-06-26 23:08] oxarbitrage commented on #809
`fc::exists( log_filename );` returns bool so the first line of your snippet do nothing, only valid if inside an `if`, `assert` or something.

[2018-06-26 23:44] abitmore opened #1100 "Performance improvement: object database query caching?"
Most of data stored in the object database is in a red-black tree. Currently, every query searches from the root to the leaf, the complexity is `O(log(n))`. Generally, some data is much hotter than others, so it makes sense to cache the hottest results (pointers or addresses) to avoid searching from root to leaf for same data again and again.

Things to be done:
- [ ] profiling / query pattern ana

[2018-06-26 23:52] abitmore commented on #1092
@kamuluprashanth we need more info. What is a `build.sh`? Why use `.sh` file in Windows? How did you get your boost lib? Are you following this document: https://gist.github.com/jmjatlanta/0b1bf8f5cc0ebf893e0b5a5bb65e9262 ?

[2018-06-27 03:40] alkorsan commented on #177
just an advice not an issue.
i had same problem with automating websocket comunication, then when I readed [this](https://github.com/bitshares/bitshares-core/wiki/Scripting-websockets-easy)

then I told to my self you need this fantastic websocket command line client called [websocat](https://github.com/vi/websocat)

here is an article that teached me how to script it without expect or any externa

[2018-06-27 06:45] nanomobile commented on #809
`fc::exists( log_filename );` - creates file if it not exists, I've tested it, or am I wrong ? :-)

[2018-06-27 12:07] oxarbitrage opened #1101 "add get_asset_markets"
As a `explorer/exchange` I want `get_asset_markets(asset_id)` so that i can get a list of active markets in the last 24 hours for an asset.

This call should be added to `asset_api` (disabled by default) as it will have some performance issues.

Explorers and exchanges will use this call to populate active markets as: http://open-explorer.io/#/assets/1.3.3262
This is currently done client side loo

[2018-06-27 15:08] abitmore commented on #1101
I think it's easier to implement this with `market_history` plugin, by making more use of `market_ticker` data, which should be more efficient.

[2018-06-27 19:16] pmconrad commented on #1095
*At this time* I think for the sake of stability we should avoid fiddling with pointers.

@jmjatlanta there isn't really a "normal case" for undo_db - incoming transactions are applied with an undo session that is rolled back before the next incoming block is applied. I. e. it is rolled back about as often as not. During replay undo_db is disabled anyway.

[2018-06-28 08:55] btsabc commented on #1094
Maybe we can use  __int128  to improve performance over GCC and Clang.

[2018-06-28 11:06] abitmore commented on #1094
Just a note here: @btsabc mentioned in https://github.com/bitshares/bitshares-core/issues/998#issuecomment-395006626 that MSVC doesn't support `__int128`.

[2018-06-29 03:38] nanomobile commented on #809
@oxarbitrage you're absolutely right about fc::exists( log_filename ) - doesn't create file implicitly as I've thought, just was a bit missunderstood, because I've made a lot of researches, a lot of tries, a lot of experiments :-) sorry if I've confused you ...

@abitmore @clockworkgr @jmjatlanta @ryanRfox @oxarbitrage
Pull Request is ready here https://github.com/bitshares/bitshares-fc/pull/56

[2018-06-29 04:14] nanomobile commented on #1050
@ryanRfox can I claim this issue please ?

[2018-06-29 04:14] nanomobile commented on #929
@ryanRfox can I claim this issue please ?

[2018-06-29 12:57] oxarbitrage opened #1103 "Elasticsearch feature requests."
**User Story**

As an elasticsearch plugin user I want several functionality so that increase usage and robustness of the final product.

List of tasks:

- [x] Test cases framework.
- [x] Make full use of common functions in the 2 plugins(utilities).
- [x] Comparison against classic node(up to block 10 million).
- [x] Check replay / resync.
- [x] Custom index names.
- [x] Fill orders data in addit

[2018-06-29 14:16] ryanRfox commented on #929
Yes, I'll move it to Community Claims for you @nanomobile . Prior to beginning work, we need to establish an estimate on the effort. May I request you to provide your estimate here? I will work with the Core Team to confirm, then you may begin development based on that estimate. Thanks

[2018-06-29 14:16] ryanRfox commented on #1050
Yes, I'll move it to Community Claims for you @nanomobile . Prior to beginning work, we need to establish an estimate on the effort. May I request you to provide your estimate here? I will work with the Core Team to confirm, then you may begin development based on that estimate. Thanks

[2018-06-29 14:23] ryanRfox commented on #1050
I don't think you can design a test case to exit the app, so I've removed that from the Core Team Task List.

[2018-06-29 14:36] nanomobile commented on #1050
"I don't think you can design a test case to exit the app, so I've removed that from the Core Team Task List." @ryanRfox what do you mean ? sorry cannot understand. So this issue maybe mine ? right ? :-)

Thanks

[2018-06-29 14:40] nanomobile commented on #929
Thank you very much ! A bit later I will provide my estimate here ...

[2018-06-29 14:40] nanomobile commented on #1050
Thank you very much ! A bit later I will provide my estimate here ...

[2018-06-29 17:54] nanomobile commented on #1050
my estimation for this issue is approximately 1/2 hour. @ryanRfox @jmjatlanta @oxarbitrage @clockworkgr @abitmore @xeroc what is your approximation ?

[2018-06-29 18:10] nanomobile commented on #929
my estimation for this issue is approximately 1/2 hour. @ryanRfox @jmjatlanta @oxarbitrage @clockworkgr @abitmore @xeroc what is your approximation ?

[2018-07-01 07:04] nanomobile commented on #1050
@ryanRfox @oxarbitrage @jmjatlanta @abitmore @clockworkgr I've made PR for this issue already.

[2018-07-01 13:03] oxarbitrage commented on #1050
no issue should take you or anyone less than 1 hour in my opinion. please see review at https://github.com/bitshares/bitshares-core/issues/1050

[2018-07-01 13:36] nanomobile commented on #1050
this issue just take a bit more than 1 hour for me for 1st time only because I've researched the code more deeply for cli_wallet workflow in order to integrate correctly new command + test case, next time it would take for me less than 1/2 hour. You can write for this issue 1/2 hour for example, no problems for me.

[2018-07-01 13:53] oxarbitrage commented on #1050
taking just 1/2 hour is not a good idea for any issue that requires coding(exception can be on changing a document file or something really easy).
the code accepted into bitshares repo needs to be the most close to perfect possible we can, just thinking on that will take you more time than you are actually estimating.

[2018-07-01 16:34] abitmore commented on #809
@nanomobile Thank you. I've commented in the PR.

[2018-07-01 16:40] abitmore commented on #929
I'm fine with that.

[2018-07-01 17:12] nanomobile commented on #929
I don't know if 2 hours will be enough or not for this issue, it's just my approximation :-) maybe your approximation guys would be much better suited for this issue

[2018-07-01 17:14] nanomobile commented on #809
@abitmore :+1: Thanks !

[2018-07-01 18:17] abitmore commented on #1050
Still best to have a test case, for example to make sure the wallet file saved correctly.

[2018-07-01 18:21] oxarbitrage commented on #1050
i agree with a test case if it is done to test something, previous test case submitted was executing `quit` but not checking anything. checking if the file was saved correctly is a good idea.

[2018-07-01 18:40] nanomobile commented on #1050
ok guys thanks a lot ! I will add test case for checking if there was saved file correctly.

[2018-07-01 21:52] abitmore commented on #1093
Almost done on top of #1099.

Total replay time for `27,000,000` blocks reduced from `5063 seconds` to `3761 seconds`, the difference is `1 - 3761/5063 ~= 25%`.

Will create pull request after done cleanup.

[2018-07-01 22:12] oxarbitrage commented on #1093
excellent and very appreciated!

[2018-07-01 22:38] abitmore opened #1105 "Improve update_last_irreversible_block() performance"
For better performance, do this in maintenance interval rather than on every new block: https://github.com/bitshares/bitshares-core/blob/06aee789a4e2045d899e02b096d5a1a908be2865/libraries/chain/db_update.cpp#L129-L132

[2018-07-01 22:52] abitmore opened #1106 "Improve pay_workers() performance"
This code iterates through all worker objects:
https://github.com/bitshares/bitshares-core/blob/06aee789a4e2045d899e02b096d5a1a908be2865/libraries/chain/db_maint.cpp#L120-L125

It can be optimized with a new `by_expiration` index.

[2018-07-02 02:30] christophersanborn commented on #480
Expanding on the comments of @pmconrad and others above…

Neither setting the default blinding bits to 50 nor 52 will work under current consensus rules.  The reason is that the validation step includes a sanity check that the max possible proved value does not exceed GRAPHENE_MAX_SHARE_SUPPLY.  49 bits is the highest supportable value, representing ~56% of max supply.  (This could be changed via

[2018-07-02 02:31] christophersanborn commented on #480
I have a PR for this nearly ready to submit, and am estimating the fix, including test case, at six (6.0) hours.

(Tagging: @ryanRfox)

[2018-07-02 12:09] abitmore opened #1107 "Document system requirements"
Lately we've got some reports says "I have a 8GB VPS but the node got killed whiling syncing" or similar.

Some data:
* now we need more than 20G RAM to run a node with default config;
* more than 100G RAM to run a full node;
* around 4G RAM to run a minimal node.

[2018-07-02 21:10] nanomobile commented on #809
now everything most work as required without having huge log files

[2018-07-02 21:33] abitmore opened #1109 "CLI wallet: avoid directly overwriting wallet file on exit"
One of my wallet files got corrupted today due to disk full. Fortunately I have backed up the keys.

## CORE TEAM TASK LIST
- [x] Evaluate / Prioritize Feature Request
- [x] Refine User Stories / Requirements
- [ ] Define Test Cases
- [ ] Design / Develop Solution
  - [x] Assigned: @cogutvalera
  - [x] Estimated: 3 hours
- [ ] Perform QA/Testing
- [ ] Update Documentation

[2018-07-02 21:33] abitmore commented on #1109
#1050 is related.

[2018-07-02 21:59] abitmore opened #1110 "Avoid calling `exit` from within a library"
**Bug Description**
As reported by @nanomobile at https://github.com/bitshares/bitshares-core/pull/1104#issuecomment-401808074, we have several code that exiting from within a library, which makes them hard to test with boost unit testing framework.

Libraries should not call exit directly, instead, should call `return` or `throw`.

**Impacts**
Describe which portion(s) of BitShares Core may be im

[2018-07-02 22:34] nanomobile commented on #1110
4. https://github.com/bitshares/bitshares-core/blob/master/libraries/egenesis/embed_genesis.cpp#L175
5. https://github.com/troglobit/editline/blob/5be965deec0527b48b393b7aca9cb2a76aec2a99/examples/excallback.c#L109
6. https://github.com/troglobit/editline/blob/5be965deec0527b48b393b7aca9cb2a76aec2a99/examples/excallback.c#L118
7. https://github.com/troglobit/editline/blob/5be965deec0527b48b393b7ac

[2018-07-02 22:51] abitmore commented on #1110
@nanomobile thanks. The editline examples should be OK.

[2018-07-03 01:48] RichardWeiYang opened #1111 "Looking for an example of create_asset"
Hi,

I am trying to understand how to create an asset on bitshares, while I have tried several format of the OPTIONS and none of them works.

I copy the example OPTIONS in help message and the complete command looks like this:

[code]

I tried different quotes for the OPTIONS, while none is correct.

Would someone gives me a hint？

[2018-07-03 04:52] cedar-book commented on #1107
added the information  as node [System Requirements](https://github.com/bitshares/dev.bitshares.works/blob/master/core/nodes_full_witness/full_nodes.md#system-requirements)

[2018-07-03 12:20] oxarbitrage commented on #1111
pls check:

http://docs.bitshares.org/tutorials/uia-create-manual.html

[2018-07-03 15:03] abitmore commented on #1111
@RichardWeiYang please take a look at the error messages returned. The symbol should be all capital letters or numbers.

[2018-07-03 15:03] #1111 closed

[2018-07-03 21:07] abitmore opened #1114 "Refactor grouped_orders plugin"
Refactor grouped_orders plugin to store data in object database rather than in a secondary index, so that the node can notify changed data to clients who subscribed to certain markets.

[2018-07-04 06:32] RichardWeiYang commented on #1111
Thanks to both of you.

I fixed two things:

1. change the symbol to all capital letters
2. change the asset_id to 1.3.1 in quote field.

I am curious about why the asset_id_type() must be 1? If this is true, I could only create 1 asset?

[2018-07-04 06:55] RichardWeiYang commented on #1111
Hmm... after create this asset, even I can see this new asset in list_asset command output, I don't own this.

[code]

I don't see the new asset. How can I get the new asset?

[2018-07-04 09:52] abitmore commented on #809
The situation:
* currently `fc::ofstream` effectively supports only "binary + overwrite" mode
* there is a `mode` parameter but not used
  * default value is a self-defined value `mode::binary`, which is not compatible to `std::ios_base::binary`: https://github.com/bitshares/bitshares-fc/blob/c16bb206a39b09b03423088c831bc193de89056c/include/fc/io/fstream.hpp#L10-L15
* some code is using "binary +

[2018-07-04 10:06] nanomobile commented on #809
the same situation touches `fc::ifstream` as I can see

[2018-07-04 12:37] abitmore commented on #1111
https://github.com/bitshares/bitshares-core/blob/e2be061fcd247deb298fdea4a7221d8c69d11c07/libraries/chain/include/graphene/chain/protocol/asset_ops.hpp#L138-L140

[2018-07-04 13:17] jmjatlanta commented on #809
I was thinking we could map it to match the std::ios_base values. We wouldn't want to hard-code it to platform specific values, but here is a piece from ios_base.h on my machine (Ubuntu 16.04):
[code]
and
[code]

[2018-07-04 13:42] nanomobile commented on #809
guys what do you think about @jmjatlanta 's idea ? Do you any other much better solutions ?

[2018-07-04 13:43] nanomobile commented on #809
I'm still researching the code and thinking about @jmjatlanta  's idea ... this solutions seems good enough, but need to think a bit more :-)

[2018-07-04 15:03] abitmore commented on #809
I've mentioned my opinions above, quoting here:

[2018-07-04 15:14] jmjatlanta commented on #809
I'd say @abitmore has a good solution. That would require the minimal amount of changes to source code and fix the current problem. I think a separate issue should be created to refactor fc::fstream so as to be consistent with standard fstream expectations (i.e. text mode). I will create that issue.

[2018-07-04 15:22] jmjatlanta opened #1116 "Refactor fc::fstream"
**User Story**
As a `developer` I want `to use fc::fstream` so that `it works like most other fstream library classes/functions`.

**Impacts**
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travis, etc.)
- [ ] DEX (the De

[2018-07-04 15:41] RichardWeiYang commented on #1111
Thanks~

[2018-07-04 15:56] nanomobile commented on #809
so @abitmore 's solution is the best ? right ? Should I implement it ? does anybody disagree ?

[2018-07-04 22:06] cedar-book opened #1118 "Setup Private Testnet --create-genesis-json creates witness_node_data_dir"
Setup Private Testnet --create-genesis-json creates witness_node_data_dir

- Windows 10 (64-bit)
- WSL environment

Testing setup [Private Testnet steps] (https://dev.bitshares.works/en/master/development/testnets/private_testnet.html)

(step 3) When I run ./witness_node --create-genesis-json=my-genesis.json, creating a "my-genesis.json" and also "witness_node_data_dir" folder.

![private-testnet-

[2018-07-05 03:20] jmjatlanta commented on #1100
Here's a somewhat dated article about cache design. While the article brings out some high-level architecture ideas and points to consider, the code shows its age. [ipcc99.pdf](https://researcher.watson.ibm.com/researcher/files/us-aruni/ipccc99.pdf)

Things to think about: Stale due to age, stale due to an operation, memory size, lookups of cached data, cost of decision to look in database vs cach

[2018-07-05 12:01] clockworkgr commented on #1103
Store an extra field in ES for a numeric representation of operation_id.

Right now, an operation entry in ES has:

`account_history.operation_id = '1.11.12345'`

We should add also:

`account_history.operation_id_num = 12345`

To allow for easy range lookups

[2018-07-05 13:40] abitmore commented on #1100
I guess LRU cache would work in most cases.

The question is whether now is the correct time to play with pointers, whether the gain worth the efforts/risks. Similar discussion in #1095 .

[2018-07-05 23:01] Zapata commented on #792
You can find an example of what could be done with [mzernetsch/jrgen](https://github.com/mzernetsch/jrgen) tool there: http://api-docs.dex.trading/.

The approach is very similar to Swagger: a [JSON Schema](https://github.com/Zapata/bitshares-api-schema/blob/master/BitsharesAPI.schema.json) should be produced.

With the schema you can generate htmls docs and other usefull stuff like Markdown docum

[2018-07-06 05:00] nanomobile commented on #809
@abitmore yes I mean ifstream has binary issue, the same situation means that there is issue too with ifstream :-)

[2018-07-06 06:56] nanomobile commented on #809
new changes in PR are ready
https://github.com/bitshares/bitshares-fc/pull/56/commits/71b6f154a62491c91a9dcdc29e9333e32f97f8d0

@abitmore @oxarbitrage @jmjatlanta @ryanRfox @clockworkgr  so we can close this issue and merge changes in this PR ?

[2018-07-06 09:15] nanomobile commented on #1050
@ryanRfox what is your estimation for this issue ?

[2018-07-06 13:49] #1090 closed

[2018-07-06 17:40] abitmore commented on #1094
After done some testing, it turns out that normalization will slightly reduce performance. That means the approach mentioned in OP is a no go.

There are some minor optimizations can be done about price comparison itself. I'll create a PR for them.

Since 128 bit multiplication is expensive, in order to improve overall performance, we need to try to do fewer price comparison calls in the code.

[2018-07-06 22:46] christophersanborn opened #1123 "Consider removing crypto_api"
Consider removing crypto_api (http://docs.bitshares.org/api/crypto.html), or, if retaining, to remove from default api_access list.

crypto_api exposes functions for blind and stealth operations which, for security, should be performed wallet-side, and not offloaded to the API node.  (Doing so exposes private values and blinding factors to the node, which may abuse the info.)

Per issue [here](htt

[2018-07-06 22:51] abitmore commented on #1123
I agree to remove them from default api_access list.

[2018-07-07 13:06] oxarbitrage commented on #1123
closed by https://github.com/bitshares/bitshares-core/pull/1125

[2018-07-07 13:06] #1123 closed

[2018-07-07 17:16] bobinson opened #1127 "cli_wallet throws erorr and crashes"
1. cli_wallet version

[code]

OS: macOS 10.13.5
2. run cli_wallet and connect to localhost

3. press TAB and the cli_wallet crashes with the following error

[code]

[2018-07-07 17:45] oxarbitrage commented on #1127
i just tried it on linux and when tab is pressed i get a list of all commands available. should be something regarding the editline in macos, probably @jmjatlanta can reproduce and confirm.

[2018-07-07 18:01] bobinson commented on #1127
Further I observed that if a TAB is pressed after say, `get` it prints matching patterns. If no alternate options available say, type s or nothing at all it fails.

[2018-07-07 18:52] oxarbitrage commented on #1127
thanks for the report, we need our mac guy to check it out, i don't have a mac to test this. he is on vacation but will be back in around 1 week if i remember correctly. issue will remain open until we can confirm and submit a solution.
thanks again.

[2018-07-07 19:21] bobinson commented on #1127
Ok, @oxarbitrage and I compiled a version which works fine.

[2018-07-07 23:58] cedar-book commented on #1069
@ryanRfox, I have added the document page about the information. (https://github.com/bitshares/dev.bitshares.works/blob/master/core/knowledge_base/documented_issues/1069_initial_chain_id.md)
It shows when, where, how, etc the value will be created.  And I also added some PDF documents (code flows).  I do draw this when I read someone's codes and understand the connections clearly. Maybe not for ev

[2018-07-08 01:48] nathanhourt commented on #852
I think I inadvertently fixed this in 7f17d1723d9a60889a7d047e47dba919963552af (see also #1126)

[2018-07-08 05:34] nathanhourt commented on #852
Rofl, I was also the one who introduced this bug way back in 2015... https://github.com/nathanhourt/bitshares-2/commit/127ca9f8debf3a0e05d901c836cdc8f48b59ce0a ... my bad, lol

[2018-07-08 08:39] abitmore commented on #852
Looks like the PR #1126 will fix this issue.

However, I think this is a generic issue, other code may cause similar problems as well. We need to thoroughly check all code but not simply close this one.

[2018-07-08 13:08] oxarbitrage commented on #1127
with macOS or with another OS?

[2018-07-08 16:06] nathanhourt commented on #852
Cool, I can check that no other modify functors can throw exceptions.

[2018-07-09 01:39] nathanhourt commented on #852
So I was going to check that, but I decided to immunize rather than cure, and made `index` resilient to modify functors that throw. Ref 7dd4ce0

[2018-07-09 04:19] cedar-book commented on #1118
I checked a witness_node executable `main()` for a part of another issue and created a [code flow](https://github.com/bitshares/dev.bitshares.works/blob/master/core/knowledge_base/documented_issues/1069_initial_chain_id.md#when-start-witness_node) (in page 8) to view the flow.

You may or may not have own data directory that does not matter. If `--data-dir` is not set in a command line when `witne

[2018-07-09 06:55] bobinson commented on #1127
same OS and exactly same environment

[2018-07-09 12:07] abitmore commented on #1118
Correct.

Agreed.

[2018-07-09 12:18] oxarbitrage commented on #1127
did you made changes to make it work ? want to submit a pull request with the fix ? if so please just make sure you do it against the `develop` branch.
thanks again.

[2018-07-09 17:53] ryanRfox commented on #1011
fixed by #1039

[2018-07-09 17:53] #1011 closed

[2018-07-10 02:00] RichardWeiYang opened #1131 "Build failed on develop branch commit( a52dc12617c5 "Set number of IO threads based on user parameters" )"
**Build Error Description**

Trying to build the develop branch while see the following error.

[code]

I have tried several combination of core and fc. And below is a build status of these combinations

    bitshares-core             bitshares-fc          Build Status

    bf263b1                       4441e14              Success
    bf263b1                       d8437ac(master) Fail
    6549401

[2018-07-10 05:03] cedar-book commented on #1011
Right now, (I do not want to forget, neither. ) Created new section to collect these Documented issues information. For this issue, [here. ](https://github.com/bitshares/dev.bitshares.works/blob/master/core/knowledge_base/documented_issues/1011_add_cli_startup.md)

[2018-07-10 05:08] cedar-book commented on #1118
Added Note and Warning in a Private Testnet page (the information [here](https://github.com/bitshares/dev.bitshares.works/blob/master/core/knowledge_base/documented_issues/1118_data_dir.md).
Thinking to add the same information in Witness Note section.

[2018-07-10 09:16] RichardWeiYang commented on #1131
Hmm...

I tried this combination, the build succeed...

bitshares-core    f503701
bitshares-fc        0a90eff

[2018-07-10 14:45] #821 closed

[2018-07-10 14:46] #822 closed

[2018-07-10 14:48] #823 closed

[2018-07-10 14:48] #824 closed

[2018-07-10 14:59] ryanRfox commented on #1131
@RichardWeiYang May I request you to confirm the inclusion of this line within your build script? It should be just prior to the  `cmake` line:
[code]
Perhpas @jmjatlanta will be able to answer your question about the build matrix you provided in the description.

[2018-07-10 15:11] bobinson commented on #1127
@oxarbitrage - I didn't make any code changes. I had downloaded the pre-compiled version first which didn't work.  I went ahead and compiled from source (same version) and it worked

[2018-07-10 19:23] ryanRfox commented on #1127
Thanks for confirming @bobinson how you were able to work around this bug. I too was able to reproduce the error from the binaries.

However, when I compiled from source, the same error resulted as in OP. My environment:
[code]

I performed some additional tests (key strokes : result):
- `<TAB>` : crash
- `get_w<TAB>` : `get_witness` (success)
- `get_<TAB>` : crash
- `get<TAB>` : crash

I feel we

[2018-07-10 20:19] jmjatlanta commented on #1131
I do not have an ubuntu 14 vm/box to test this on, but I suspect it is a mismatch between bitshares-core and bitshares-fc.

Yes, we do not have a develop branch of bitshares-fc.

The "normal" case is that the bitshares-core branch you checkout is tied to a specific commit of bitshares-fc. So, if you checkout a branch of bitshares-core, you should also run ``git submodule update`` to make sure that

[2018-07-11 00:10] RichardWeiYang commented on #1131
As mentioned in my second reply, I managed to build it with a fresh build.

[code]

This sounds good.

@jmjatlanta ok, so every time I update bitshares-core, I should run git submodule update. Thanks for your tips. I will keep this in mind.

[2018-07-11 00:45] cedar-book commented on #1107
@ryanRfox, Can we close this?

[2018-07-11 01:29] cedar-book commented on #1060
@ryanRfox, please review [Building on Ubuntu](https://github.com/bitshares/dev.bitshares.works/blob/master/core/installation/build_ubuntu.md#available-versions)

[2018-07-11 02:37] ryanRfox commented on #1131
@RichardWeiYang if you are comfortable with the build process now, you may close the Issue below. I'll leave it open for now in case you have related outstanding questions.

[2018-07-11 03:01] #1131 closed

[2018-07-11 03:15] cedar-book commented on #792
@ryanRfox, I have [this section](https://github.com/bitshares/dev.bitshares.works/tree/master/forge/api_support#api-support--references) for API related information.  I thought.. @Zapata might be able to use this section to create a page file or a link about any API related information.

I do not know yet what would be the best way to communicate about the documentation with the developers for thi

[2018-07-11 07:09] cogutvalera commented on #1050
https://github.com/bitshares/bitshares-core/pull/1104 new commit is ready there check and test it please if this issue can be closed or not yet ...

[2018-07-11 08:42] RichardWeiYang commented on #1111
Hi, @abitmore @oxarbitrage

Maybe this is not the correct place to raise this question, while after searching on internet and some experiments, I still couldn't figure out how to create a MPA.

Based on my understanding, the process of issuing an UIA is

* create asset
* issue it to an account

After this, you could transfer it to anyone you want.

While I am a little bit confused in the process o

[2018-07-11 10:36] jmjatlanta commented on #1127
Yes, I am getting the same thing. I am investigating.

[2018-07-11 14:10] TheTaconator commented on #792
As I see it, there are three different things being discussed:

(A) how to document the existing RPC API
(B) how might the existing RPC API be improved
(C) what might be an additional REST API
(D) how to produce API documentation for any of these APIs

Regarding (A), I think that embedding specially formatted comments directly above a method in the code is the most productive because the developer

[2018-07-11 14:17] TheTaconator commented on #792
Any feature could be added as we can create/modify existing "generators" (as I already did).

@Zapata The contract between the UI and core developers is an important issue. Could you please elaborate on how the testing might be made easier if using the schema while also considering that the current RPC code is implemented in C++? Are the tests that you are envisioning written for execution in JS a

[2018-07-11 20:43] jmjatlanta commented on #1127
Valgrind reports a SIGSEV within pthread. Each time I move code around (i.e. add debugging stuff) the program fails at a different place. That's a sign of a segmentation violation as well. I am still trying to chase down where the problem lies.

If you can figure out how you compiled @bobinson that may give us an indication as to what is causing it. Thanks for the help.

[2018-07-11 21:34] abitmore commented on #1111
I think I've answered your question somewhere today. Check `issuer_permissions`.

https://github.com/bitshares/bitshares-core/blob/e2be061fcd247deb298fdea4a7221d8c69d11c07/libraries/chain/include/graphene/chain/protocol/types.hpp#L87-L101

Your value `79` means it's not `witness_fed_asset` thus unable to feed with a witness. You can update it to a `witness_fed_asset`, or set fee producers for your

[2018-07-11 22:29] jmjatlanta commented on #1127
It seems there is a segmentation violation in editline.c. I believe the realloc should happen before the passed in char is added. I modified it on my machine and it seems to fix the issue.

https://github.com/troglobit/editline/blob/534b3897b82f2ecb3a9e46272b00a50299972001/src/editline.c#L178-L182

I will create an issue with the maintainer.

[2018-07-12 00:04] Zapata commented on #792
The issues with apidocs is that it currently handles only REST style. This means we need to patch it to handle JSON RPC style. This might be possible through the [plugin mechanism](https://github.com/apidoc/apidoc#extend-apidoc-and-write-your-own-plugin).
Then I don't know if apidocs can handle all the complexity of the Bitshares model (especially class hierarchy), where I know Json Schema can. Th

[2018-07-12 01:23] RichardWeiYang commented on #1111
Thanks @abitmore

I post the same question on bitsharestalk, since I am not sure you could get the notification when the issue is closed.

I have tried your suggestion and it works. While I still have two questions:

1. update_asset_feed_producer is a necessary step even the issuer_permission is correct?
2. borrow_asset and settle_asset is a pair and the complete loop to get and return a MPA?

[2018-07-12 03:58] cedar-book commented on #969
[summary document](https://github.com/bitshares/dev.bitshares.works/blob/master/core/knowledge_base/documented_issues/969_api_support_acc_name_as_param.md#update-all-account-related-apis-to-support-account-name-as-parameter-969)

[2018-07-12 12:48] ryanRfox commented on #1127
!!Wow!! That is some serious sleuthing. I see your fix is now merged to the editline master. I'm not sure how that change will propagate down to my build environment. I tried `brew update && brew outdated` but editline did not show up there. Is that library included within something else?

[2018-07-12 14:36] bobinson commented on #1127
**Environment:**
OS : Darwin air.local 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64   (10.13.5 (17F77)
Version: 2.0.180612-5-g35ec65b1
SHA: 35ec65b130f63c594afe2c9ab7f931b42be08cdc
Timestamp: 24 days ago
SSL: OpenSSL 1.0.2o  27 Mar 2018
Boost: 1.67
Websocket++: 0.7.0

1. cmake . from the source directory gives the following messages

[2018-07-12 16:43] ryanRfox commented on #1127
Thank you @bobinson for providing the build details. I notice the Boost version you compiled with is outside of the currently support range of [1.57 - 1.65].

@jmjatlanta I'm somewhat surprised the FindBoost routine did not return an error. I am fairly confident cmake fails if boost is >= 1.56 but that's a separate issue perhaps. Do let me know how to update/check my build environment to ensure I'

[2018-07-12 18:19] bobinson commented on #1127
@ryanRfox  - yes, aware of that. Will try to compile with one of the supporting versions too.

[2018-07-12 20:34] abitmore commented on #1111
1. no
2. borrow_asset only would be enough. It accepts negative amounts. settle_asset is another feature.

[2018-07-12 20:44] abitmore opened #1134 "Websocketpp 0.8.0"
**User Story**
Due to a bug or two in websocketpp 0.7.0, we forked websocketpp and applied patches by ourselves.

Now Websocketpp 0.8.0 has been released: https://github.com/zaphoyd/websocketpp/releases/tag/0.8.0.

This ticket is for testing it.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application program

[2018-07-12 21:28] oxarbitrage opened #1135 "remove get_named_account_balances"
**User Story**

As a developer I think `get_named_account_balances` can be removed so the code is easier to maintain.

While making a research on the impact of https://github.com/bitshares/bitshares-core/issues/1051 i found that `get_account_balances` already covers what `get_named_account_balances` do,  as the former already accepts an account string.
Update: this is caused by the merge of: https

[2018-07-13 06:01] RichardWeiYang commented on #1111
oops,

sounds I still not catch the economic model of bitshares.

[2018-07-13 12:10] sschiessl-bcp commented on #626
Will this be adjusted again? The above pull request does not provide what was talked about in the end

[2018-07-13 12:14] sschiessl-bcp commented on #1061
Is there anything I can do or provide to help come to a conclusive decision?

This also solves #1044 and #693

[2018-07-13 12:20] oxarbitrage commented on #1051
changes will be made at the following api calls.

in database_api:
- [ ] `get_assets`
- [ ] `get_limit_orders`
- [ ] `get_call_orders`
- [ ] `get_settle_orders`
- [ ] `get_collateral_bids`
- [ ] `subscribe_to_market`
- [ ] `unsubscribe_from_market`
- [ ] `get_required_fees`

in api:

- [ ] `get_fill_order_history`
- [ ] `get_market_history`
- [ ] `get_asset_holders`
- [ ] `get_asset_holders_count`

[2018-07-13 15:15] abitmore commented on #1111
I think it should be
[code]

[2018-07-13 21:12] abitmore commented on #1135
I recommend that we keep this API to avoid breaking existing client apps, and document it. We can change the code (the implementation of this API) to call the other API to reduce future maintenance work load.

[2018-07-13 21:35] abitmore opened #1136 "Possible to generate a block that is too large"
This one: https://github.com/steemit/steem/issues/2632.

IMHO, BitShares doesn't have the same issue, since BitShares block header is fixed size so far. There are 2 fields in Steem block header which made its size non-fixed, `witness` (string) and `extensions` (array-like), see changes in the PR https://github.com/steemit/steem/pull/2637.

I'm creating this ticket so other developers will get noti

[2018-07-13 21:49] abitmore commented on #1136
To remember this, I think we can add a note to the code https://github.com/bitshares/bitshares-core/blob/51110847309c47ab43d2542cdb2b3e19cd53e87f/libraries/chain/include/graphene/chain/protocol/block.hpp#L29-L40

Why not port code from Steem now? Because current code has slightly better performance in current situation due to `static`: https://github.com/bitshares/bitshares-core/blob/51110847309c4

[2018-07-14 08:57] abitmore commented on #987
Another option is to add a compile-time option, like the method used in https://github.com/bitshares/bitshares-core/pull/1099
* compile-time option will result in better performance;
* it's good to have all similar options at the same place.

[2018-07-14 16:44] abitmore opened #1139 "Cleanup budget_record_object?"
A new `budget_record_object` object will be created and inserted into object database on every maintenance interval. But looks like they're not being used elsewhere.

[2018-07-15 20:29] cogutvalera opened #1141 "Cannot debug fc::http_server with Visual Studio or CLion"
who can help me guys please 😉 ? I cannot debug fc/src/network/http/http_server.cpp even in Visual Studio cannot debug and cannot debug it even in CLion studio, I've placed breakpoints, but nothing helped me and after simple curl http request I cannot see that program pauses inside fc::http_server

at the same time I can debug in Visual Studio and in CLion fc/src/network/http/websocket.cpp, breakpo

[2018-07-15 20:31] cogutvalera commented on #1141
also I need to resolve this issue and only after that I will can resolve #1050 issue

[2018-07-15 20:46] cogutvalera commented on #1141
Ubuntu 16.04

[code]
I use next **launch.json** in Visual Studio Code for debugger:

[code]

[2018-07-15 20:47] cogutvalera commented on #1050
I need to resolve #1141 issue and only after that I will can resolve this issue

[2018-07-15 20:50] cogutvalera commented on #929
I need to resolve #1141 issue and only after that I will can resolve this issue

[2018-07-15 20:51] cedar-book commented on #700
[done](https://github.com/bitshares/dev.bitshares.works/blob/master/core/testnets/private_testnet.md#how-to-setup-private-testnet)

[2018-07-15 20:55] oxarbitrage commented on #1141
i use gdb to debug bitshares, never tried other. don't remember if i debugged those specific files before but gdb should work in all cases.

[2018-07-15 21:02] cogutvalera commented on #1141
@oxarbitrage Thx for your answer ! I use gdb too inside Visual Studio Code as you can see in my **launch.json** configuration file

[code]

[2018-07-15 21:02] oxarbitrage commented on #1135
good, lets do that.

[2018-07-15 21:04] cogutvalera commented on #1141
@oxarbitrage can you try please to debug http_server.cpp code inside fc library ?
websocket.cpp inside fc library I can debug, but cannot debug only http_server.cpp

[2018-07-15 21:05] cedar-book commented on #315
[here](https://github.com/bitshares/dev.bitshares.works/blob/master/core/installation/build_osx.md#building-on-os-x) also

[2018-07-15 21:57] oxarbitrage commented on #1141
make sure you are debugging the `cli_wallet` binary and not the `witness_node`.

[2018-07-16 04:13] cedar-book commented on #708
I would like to see a current really work Public Testnet setup steps for the documentation.

[2018-07-16 04:41] cedar-book commented on #741
@abitmore,  New link was added [here](https://github.com/bitshares/dev.bitshares.works/blob/master/forge/program_libraries/README.md#programs--libraries) for the BitShares-fc: Doxygen Documentation website.

[2018-07-16 05:15] cogutvalera commented on #1141
why `cli_wallet` binary and not `witness_node` binary ? I need to debug `fc::http_server` because I need to debug how `witness_node` sends results on http request.

@oxarbitrage can you try please to debug `fc::http_server` on your side ?

[2018-07-16 13:15] ryanRfox commented on #1127
@jmjatlanta thank you for clarifying how editline is included within this project. Yes, let's discuss all things FindBoost in a new Issue. Again, thanks for making these updates.

[2018-07-16 13:23] cogutvalera commented on #1141
@oxarbitrage I can debug `witness_node` with `fc::websocket`
but cannot debug witness_node with `fc::http_server`

[2018-07-16 13:28] ryanRfox opened #1143 "Allow witness_node to update witness-id and private-key parameters dynamically"
**User Story**
As a `block producer` I want `the ability to dynamically change parameters` related to block production, such as __witness-id__ and __private-key__ so that `the witness_node executable may continue running and receive new parameters`.

**Additional Context (optional)**
Currently, the `witness_node` is configured at launch from either the `config.ini` or command line parameters. Chan

[2018-07-16 13:36] ryanRfox commented on #1143
The `witness_node` is _aware_ at startup which `witness-id`(s) it is authorized to produce blocks for. Is there a routine where it subscribes to updates for each `witness-id` and then only attempts to write a block during its time slot if it has the required private key for the public key defined on the blockchian?

[2018-07-16 13:43] jmjatlanta commented on #1141
I use Eclipse CDT with good success on Ubuntu 18.04, and used it for many years on other operating systems and versions, including Ubuntu 16.04.

I am unfamiliar with Visual Studio outside of Windows, so I can't help you much there. But if you want to give Eclpse CDT a try, you may get further.

As for why you cannot debug http_server, give us a hint. Why can't you debug it? Does Visual Studio blo

[2018-07-16 13:52] cogutvalera commented on #1141
@jmjatlanta Thank you very much for your answer and help ! :+1:

I will try Eclipse CDT immediately now :-) and maybe soon will close this issue !
I cannot debug fc::http_server not only with Visual Studio but also with CLion.
With Visual Studio and CLion I can debug fc::websocket very well !
I know that it is multithreaded, but why fc::websocket can be debugged but fc::http_server not cannot unde

[2018-07-16 14:00] jmjatlanta commented on #1141
Common causes of breakpoints not working:
- The line was never run. This is a common problem that catches even the best developers at times. Step into the function call instead of using breakpoints, and make sure the method you expect to have been called is actually called.
- library not built with debugging information (probably not the case here, as you can debug other stuff in the same library)

[2018-07-16 14:03] cogutvalera commented on #1141
@jmjatlanta Thanks a lot :+1: I think 3rd point is the issue because of compilation maybe, don't know now exactly :-) need to check because fc::http_server must be runned by any http requests

[2018-07-16 14:04] oxarbitrage commented on #1141
the only place in code that `fc::http::server` is used is in the `cli_wallet`

[2018-07-16 14:07] cogutvalera commented on #1141
where then in code witness_node sends results on http requests ?

[2018-07-16 14:09] oxarbitrage commented on #1141
it is done with the `fc::http::websocket_server`

[2018-07-16 14:12] oxarbitrage commented on #1141
https://github.com/bitshares/bitshares-core/blob/master/libraries/app/application.cpp#L246-L289

[2018-07-16 14:12] cogutvalera commented on #1141
which file inside libraries/fc folder ? cannot understand there are only websocket.cpp and http_server.cpp and http_connection.cpp as I can see

also http_connection.cpp is used by cli_wallet as I can see and http_server.cpp is used by witness_node

[2018-07-16 14:19] cogutvalera commented on #1141
does cli_wallet implement http server ? so doesn't witness_node implement http server ?

I think that cli_wallet as I can see in code just use http connection and not http server as you said @oxarbitrage
Also witness_node must implement http server to send results on http requests, isn't it true ?

[2018-07-16 14:32] cogutvalera commented on #1141
@oxarbitrage Thank you very much :+1: I think I was wrong then :-) I will check it now ...

I know that I need to open websocket connection or by curl for API because I need to check #929 issue.
as described in README in BitShares-Core repo

[code]

`$ curl --data '{"jsonrpc": "2.0", "method": "call", "params": [0, "get_accounts", [["1.2.0"]]], "id": 1}' http://127.0.0.1:8090/rpc`

[2018-07-16 19:39] abitmore commented on #741
@oxarbitrage I guess need to update the doxygen files [here](http://open-explorer.io/doxygen/fc/)? It's generated in February, lately we've added some new code to FC.

[2018-07-16 20:14] oxarbitrage commented on #741
updated http://open-explorer.io/doxygen/fc/

probably not the best place to host it, that was a test but will work for now.

[2018-07-16 20:16] ryanRfox opened #1144 "Implement DPOS BFT— Pipelined Byzantine Fault Tolerance"
**User Story**
As a `Consensus Protocol` I want `to ensure the network will not fall out of consensus` due to `conflicting last irreversible blocks`.

**Additional Context (optional)**
eosio/eos/#2718 Describes the need to harden DPOS Protocol
Dan Larimer later wrote about the implementation of [DPOS BFT](https://medium.com/eosio/dpos-bft-pipelined-byzantine-fault-tolerance-8a0634a270ba) within EO

[2018-07-16 20:36] yeziyqf opened #1145 "No method with name 'create_asset' problem when using curl to post an asset creation request"
**Instructions**
Please include a detailed Title above. Next, please complete the following sections below:
* Bug Description
    I wrote a cpp service for calling create_asset method, When I tried to do a curl request, and passing all the params needed. The return message shows No method with name 'create_asset' while in the documentation there is a create_asset method in wallet api.

* Impacts

[2018-07-16 20:36] abitmore commented on #1143
Sure technically it can be implemented, but perhaps need too much work but with too little gain. Low priority IMHO.

If I understood your question correctly, witness plugin is doing exactly that thing: it only produces a block when it's the correct time slot and it has the correct private keys.

[2018-07-16 20:49] abitmore commented on #1141
If you want to debug with a specific debugging tool, you need to figure out how to use the tool. To me it's more like basic programming skills. I don't think here is the correct place to discuss it.

[2018-07-16 20:49] #1141 closed

[2018-07-16 21:00] cogutvalera commented on #1141
@abitmore for you is like basic programming skills ? but why you answered that you don't know what is the problem with debugging ? @ryanRfox told me yesterday that it is better way to discuss it here and not in telegram. @abitmore what is your suggestion where to discuss this ? Because I really can debug all other stuff for example like websocket, but cannot handle responses from RPC-ENDPOINT on c

[2018-07-16 21:01] oxarbitrage commented on #1145
hi there. the problem is `create_asset` is not an api call. it is a wallet call, can be found at:
https://github.com/bitshares/bitshares-core/blob/develop/libraries/wallet/wallet.cpp#L1139-L1162

More specifically you need to sign the transaction(wallet behavior): https://github.com/bitshares/bitshares-core/blob/develop/libraries/wallet/wallet.cpp#L1869-L1932

You can have a witness node setup as

[2018-07-16 21:10] abitmore commented on #1141
As @jmjatlanta mentioned above:

[2018-07-16 21:10] cogutvalera commented on #1141
Also @abitmore I don't want to debug with a specific tool, I just want to debug with any tool but I've tried different debugging tools and cannot debug just some little part in fc library, at the same time other parts of the same fc library I can debug with different debugging tools. @abitmore can you help me please to debug with any debugging tool specific cURL requests for witness_node ? which t

[2018-07-16 21:10] abitmore commented on #1141
Please discuss this in issue #929. It's related.

[2018-07-16 21:12] cogutvalera commented on #1141
@abitmore ok thx ! I will discuss this issue here #929

[2018-07-16 21:13] cogutvalera commented on #929
breakpoints work on wscat requests but not on cURL requests. For example exactly this line of code https://github.com/bitshares/bitshares-fc/blob/0a90eff69778c0ef1d26f75d11d459ca172eff0c/src/network/http/websocket.cpp#L161 can be stopped by breakpoint for wscat requests on sending result, but on cURL requests breakpoints here won't work.

Can anybody help me to find exactly the line of code where

[2018-07-16 21:16] abitmore commented on #929
Forwarded comment/question from #1141:

Sorry, to me, this issue is low priority, so I won't spend time on it right now. You claimed it, that means it's your issue, best if you can get it resolved with your own efforts, nobody else is responsible for helping you, although someone will help sometimes.

[2018-07-16 21:17] yeziyqf commented on #1145
Thanks @oxarbitrage  so much for your reply!
Two questions^.^
1. May I know why and how does the signing transaction has something to do with creating assets? Or what kind of relations there are between them?
2. Now I set up the wallet api and we find the create_asset function now. At the same time, there is a new issue, it said:
Assert Exception\n!(flags & global_settle): \n    {}\n    th_a  asse

[2018-07-16 21:18] abitmore commented on #929
Another comment forwarded from #1141:

@nanomobile please read it, especially the first cause, I guess you've encountered it.

[2018-07-16 21:29] abitmore commented on #1145
More info: https://github.com/bitshares/bitshares-core/blob/35ec65b130f63c594afe2c9ab7f931b42be08cdc/libraries/chain/include/graphene/chain/protocol/types.hpp#L94-L108

[2018-07-16 21:41] cogutvalera commented on #929
@abitmore I don't want that you help me right now, I'm always trying with my own efforts, just want to make informational discussion history here for all other developers maybe will be useful later ...
While nobody can help me of course I will try to solve all my issues only by my own efforts as soon as possible ! Hope I will solve it by myself much earlier than help will come :-) I'm writing here

[2018-07-16 21:48] cogutvalera commented on #929
I should shape my words another way without "can anybody help me" so people will understand my messages or questions more correctly

[2018-07-17 08:17] clockworkgr commented on #1061
After careful consideration, I'm leaning slightly towards your abstraction.

My one would be easier to UI for and for people to understand but might lead to edge cases where 2 ops  desired weights/authorities are 'incompatible"

Yours takes care of that by explicitly setting auths for each op if needed...Downside being it's harder for people to set up.

Or we could allow both. My scheme as describ

[2018-07-17 10:17] cogutvalera commented on #929
https://github.com/bitshares/bitshares-fc/pull/62

[2018-07-17 13:22] pmconrad commented on #1086
Resolved via #1087

[2018-07-17 13:22] #1086 closed

[2018-07-17 20:29] abitmore opened #1147 "Document OPENSSL_CONF_SOURCE?"
See changes done by https://github.com/bitshares/bitshares-fc/pull/59. Mostly for building in Windows.

[2018-07-17 20:33] abitmore commented on #1127
Still need to bump FC.

[2018-07-17 20:34] cogutvalera commented on #1088
@ryanRfox I want to claim this issue if possible please

[2018-07-17 20:49] ryanRfox commented on #1147
@jmjatlanta May I request your assistance with some guidance on this one? I tried to trace back through the PR to determine what was originally desired. I'm not sure if the merged PR results in BOOST 1.67 and VS2017 support.

I see you translated the VS2015 document here:
https://gist.github.com/jmjatlanta/0b1bf8f5cc0ebf893e0b5a5bb65e9262
Can that be modified now to reflect the build process using

[2018-07-17 20:50] abitmore commented on #1088
@cogutvalera thanks for your passion. However, to be honest, this issue is very complicated, I don't think you're ready.

[2018-07-17 20:56] cogutvalera commented on #946
@ryanRfox I want to claim this issue if possible please

[2018-07-17 21:07] cogutvalera commented on #1088
@abitmore let's see ? I don't think it is impossible for me or too complicated ;-) can I try to fix this issue or not ?

[2018-07-17 21:20] abitmore commented on #1088
Of course you can try. But I still think it's better (for you) to get familiar with the code base with smaller issues first. Just my own opinion though.

By the way, this issue is now labeled "discussion needed". We need to evaluate it, figure out the scope, the direction, before start coding.

[2018-07-17 21:53] abitmore opened #1148 "Check EOS issue #4649"
Do we have the same issue? https://github.com/EOSIO/eos/pull/4649

[2018-07-17 21:57] cogutvalera commented on #1088
@abitmore Thanks a lot ! Let's discuss it more before coding :-) :+1: Just want to teach myself faster about core code base by trying to fix more interesting and complicated issues. Let's discuss first of all this issue and we'll see later ...

[2018-07-18 08:49] ihla opened #1149 "unused variable `fc::logging_config cfg` in cli_wallet/main.cpp"
The logging config is created but never used. I see in the "Initial commit" the commented line `//fc::configure_logging( cfg );` probably deleted later on. We should either delete the dead code or put the `fc::configure_logging( cfg );` back - what is desired? (Now there is a print on cosole saying "Logging RPC to file: logs/rpc/rpc.log" but logging is not happening!)

[2018-07-18 15:05] ryanRfox commented on #1147
Thanks @jmjatlanta for the clarification. Perhaps I can request @abitmore to provide more direction on what/where to document. Not sure if/what can be documented now, or leave this as a placeholder/to do after further testing noted above.

[2018-07-18 15:22] cogutvalera commented on #777
@ryanRfox @abitmore @jmjatlanta I want to claim this issue, is it possible ?

[2018-07-18 15:32] abitmore commented on #777
Updated status to "gathering requirements". Not ready for development IMHO. @cogutvalera to claim this, need to work out the requirements first. Thanks.

[2018-07-18 15:48] cogutvalera commented on #777
@abitmore Thanks ! OK will wait this issue later then :-)

[2018-07-18 15:55] cogutvalera commented on #1135
@abitmore @ryanRfox @oxarbitrage I want to claim this issue, is it possible to assign this issue for me ? Thanks !

[2018-07-18 15:57] oxarbitrage commented on #1135
yes

[2018-07-18 15:59] cogutvalera commented on #1135
Thanks !

[2018-07-18 16:02] abitmore commented on #1135
@oxarbitrage I think it's already implemented as described. Just need to remove code that was commented out. Correct?

[2018-07-18 16:06] cogutvalera commented on #1135
@abitmore where did you see that it was already implemented ?

[2018-07-18 16:07] abitmore commented on #777
@cogutvalera you can help gather requirements as well.

[2018-07-18 16:07] cogutvalera commented on #1135
as I've been understand this issue, if I'm not wrong, we don't need to remove comments actually for this issue, we need to remove not required code instead, or isn't so and we just need to remove only comments ?

[2018-07-18 16:08] cogutvalera commented on #777
@abitmore yes sure ! Thanks !

[2018-07-18 16:08] oxarbitrage commented on #1135
need to call the other function straight here https://github.com/bitshares/bitshares-core/blob/master/libraries/app/database_api.cpp#L859-L865

[2018-07-18 16:09] oxarbitrage commented on #1135
oops @abit is right https://github.com/bitshares/bitshares-core/blob/develop/libraries/app/database_api.cpp#L882-L890 done in `develop`.
just need to remove the commented code.

[2018-07-18 16:11] cogutvalera commented on #1135
funny issue :-)

[2018-07-18 16:11] cogutvalera commented on #1135
I will make PR for this issue very soon :-)

[2018-07-18 16:12] pmconrad commented on #1088
@abitmore what is your concern regarding serialization?
AFAICS modifying unsigned_int to be based on uint64_t instead of uint32_t will be serialization-compatible with current code (until the value exceeds 32 bits obviously).

[2018-07-18 16:16] oxarbitrage commented on #836
closed by https://github.com/bitshares/bitshares-core/pull/1081

[2018-07-18 16:16] #836 closed

[2018-07-18 16:18] oxarbitrage opened #1152 "cli_wallet tests failing"
[code]

Todo:
- [x] Fix test case
- [x] Add to travis

[2018-07-18 16:30] abitmore commented on #1088
I mean we need to make sure all components will work after the value exceeded 32 bits; IIRC there was an issue about it, from EOS.

[2018-07-18 17:12] oxarbitrage commented on #1135
closed by https://github.com/bitshares/bitshares-core/pull/1154

[2018-07-18 17:12] #1135 closed

[2018-07-18 20:14] abitmore opened #1157 "Check Steem issue 2658: Not producing block because node didn't wake up within 500ms of the slot time"
https://github.com/steemit/steem/issues/2658

Brief:
* witness_node wakes up on every second to check whether it's time to produce a block; when block interval is 3 seconds, theoretically the node will try 3 times to produce its block on its time slot;
* if the node missed the first chance (the first second), E.G. when latency of previous block is too high, on the 2nd and 3rd second, it's guarante

[2018-07-19 07:02] cogutvalera commented on #1050
this issue requires 2 PRs at the same time:

https://github.com/bitshares/bitshares-core/pull/1104
https://github.com/bitshares/bitshares-fc/pull/63

[2018-07-19 10:03] egonson commented on #658
I solved this problem with this
$ sudo mv /opt/local/include/boost /opt/local/include/boost_old

[2018-07-20 10:30] jmjatlanta commented on #1149
I'm sorry, but I am missing something. I find no configure_logging in cli_wallet/main.cpp. Can you please clarify where the dead code is? I've checked the develop and master branches.

[2018-07-20 12:57] ihla commented on #1149
I consider these code lines as the dead code because the `cfg` is created but never passed to `fc::configure_logging()`:
https://github.com/bitshares/bitshares-core/blob/7d27ab127c12a4da11e202ffe9bb6486e745b776/programs/cli_wallet/main.cpp#L121
https://github.com/bitshares/bitshares-core/blob/7d27ab127c12a4da11e202ffe9bb6486e745b776/programs/cli_wallet/main.cpp#L133-L140

[2018-07-20 12:59] ihla commented on #1149
line `fc::configure_logging(cfg);` is missing in order to make the logging to work

[2018-07-20 13:07] jmjatlanta commented on #1149
Thank you for setting me straight. I now understand your OP. It sure would be nice to configure logging via a configuration file, but that is certainly a separate issue.

I'm with abitmore on this one. I believe we should call ``configure_logging( cfg )`` for those using the wallet in daemon mode.

[2018-07-20 14:37] jmjatlanta commented on #1147
Okay, I am finally making progress on Windows builds. I'm not 100% there yet, but I am moving in the right direction.

As to this particular issue, CMake is expecting a file called openssl.cnf to be in a certain location. But that location is not guaranteed in Windows. So logic was added to make CMake look in a few places when in the Windows environment.

${OPENSSL_ROOT_DIR}/openssl.cnf (when usin

[2018-07-20 15:01] startailcoon opened #1158 "Updating only 'Target Collateral Ratio' throws error"
BSIP 38 enables the usage of `Target Collateral Ratio` and is implemented in the UI as part of issue https://github.com/bitshares/bitshares-ui/issues/1575.

Everything works fine, except when the UI tries to add or remove the extension value. The following error will be thrown:

` Assert Exception: delta_collateral.amount != 0 || delta_debt.amount != 0: `

The user should be able to update this op

[2018-07-20 15:32] clockworkgr commented on #1103
@oxarbitrage that was fast!

[2018-07-20 18:45] abitmore commented on #1158
The [BSIP 38 document](https://github.com/bitshares/bsips/blob/master/bsip-0038.md#when-and-how-to-use-the-option) says:

creating or updating a short position. When doing so, other rules still apply,
E.G. can't update a short position to have too small collateral ratio.

IMHO "other rules still apply" means to keep all old behaviors, which include not allowing both amounts to be zero.

If we want

[2018-07-20 19:06] startailcoon commented on #1158
I missed the part with 'other rules still apply'.

The UI will address this behaviour and require the other rules to be met as well on an update.

This should probably be discussed, as part of the BSIP 30 note.

[2018-07-21 00:17] oxarbitrage commented on #1152
closed by https://github.com/bitshares/bitshares-core/pull/1155 and https://github.com/bitshares/bitshares-core/pull/1156

[2018-07-21 00:17] #1152 closed

[2018-07-21 17:08] abitmore commented on #1035
You can create a new smart coin backed by an asset you like.

[2018-07-21 17:16] abitmore commented on #1136
Closed via #1142.

[2018-07-21 17:17] abitmore commented on #1094
Merged #1124. Closing.

[2018-07-21 17:17] #1094 closed

[2018-07-21 18:00] cogutvalera commented on #867
does anybody work on this issue or can I claim it in order to finish ?

[2018-07-21 18:01] cogutvalera commented on #867
I want to claim this issue, is it possible ? Thanks !

[2018-07-21 18:03] cogutvalera commented on #597
I want to claim this issue, is it possible ? This issue still gathering requirements ?

[2018-07-21 18:41] cogutvalera commented on #867
the work is still in progress on this issue or not ?

[2018-07-21 18:59] abitmore commented on #1107
Merged #1108. Closing.

[2018-07-21 18:59] #1107 closed

[2018-07-21 19:19] abitmore opened #1162 "set_subscribe_callback API does not reset _market_subscriptions"
@jmjatlanta wrote in https://github.com/bitshares/bitshares-core/pull/1009#issue-192012451:

This issue is created to discuss and / or fix it.

Discussion wanted.

[2018-07-21 19:47] abitmore opened #1164 "Refactor get_account_limit_orders API account name support"
When developing https://github.com/bitshares/bitshares-core/pull/989, `get_account_limit_orders` API was developing in parallel (https://github.com/bitshares/bitshares-core/pull/849), <del>therefore it doesn't support account name as a parameter. We need to add the support.</del> ** therefore it's implemented with old methods, we can refactor it.

[2018-07-21 19:48] abitmore commented on #762
Merged #1009. Closing.

[2018-07-21 19:48] #762 closed

[2018-07-21 19:50] oxarbitrage commented on #1164
ill take care of this.

[2018-07-21 20:43] oxarbitrage commented on #688
added new api call for this `get_asset_count` to the `database_api` at https://github.com/bitshares/bitshares-core/pull/1159

[2018-07-21 20:43] #688 closed

[2018-07-21 20:47] abitmore commented on #867
@cogutvalera this issue has been claimed by @cifer-lee, work in progress.

[2018-07-21 21:16] cogutvalera commented on #867
ok sure ! Thank you very much for the info ! Because I couldn't understand if work is in progress or not.

[2018-07-21 22:35] abitmore commented on #999
@jmjatlanta: need to bump `websocketpp` submodule in fc repository, then bump `fc` submodule here.

[2018-07-21 22:46] oxarbitrage commented on #1164
it turned out that `get_account_limit_orders` had support for `account_name_or_id` but by adding the same code we moved to a function in https://github.com/bitshares/bitshares-core/pull/989

this is fixed in https://github.com/bitshares/bitshares-core/pull/1168

[2018-07-21 23:03] oxarbitrage commented on #1103
here some comments/questions i have left here open for discussion.

- the refactoring until now has been done testing with each commit so i am positive at this moment everything works as before + the new features also working.

- not sure if the refactor made the code slower, it need to be fast so i welcome suggestions, add static, add inline, do a profile, etc. anything you think it can help to i

[2018-07-22 13:34] sirilicious opened #1170 "Date of Orders"
Hi, I'm missing the creation date when querying my account history with:

Any help appreciated - thx!

[2018-07-22 15:07] oxarbitrage commented on #1170
Need to do it in 2 calls.

Get `block_num` from `get_account_history` and use `get_block_header` to get the date of the block.

[2018-07-22 17:35] HarukaMa opened #1171 "Safer way to handle unlock command of cli_wallet"
**User Story**
The `unlock` command should not echo back the wallet password for safety concerns.

Ideally, this command should be handled interactively, like
[code]
completely without showing the password on the console.

**Additional Context (optional)**
Maybe all commands related to <s>unencrypted</s> WIF should also apply to this.

## CORE TEAM TASK LIST
- [x] Evaluate / Prioritize Feature Req

[2018-07-22 19:07] abitmore commented on #867
The work in progress pull request is #1032.

[2018-07-22 19:18] abitmore commented on #1164
My bad. I thought it didn't support account name. Good to refactor though. OP updated. Thanks.

[2018-07-22 19:19] cogutvalera commented on #867
Yes, understood ! Thanks ! Sorry for misunderstanding, just time confused me and I thought this issue was stopped/paused in development.

[2018-07-22 20:15] abitmore commented on #1164
Merged #1168. Closing.

[2018-07-22 20:15] #1164 closed

[2018-07-22 21:51] clockworkgr opened #1172 "Ability to airdrop/sharedrop/pay dividends of one asset to all holders of another."
As a `user/asset issuer` I want `to have a transfer_asset_to_asset_holders API call` so that `I can perform airdrops/sharedrops or dividend payouts`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [x] CLI (

[2018-07-22 21:55] clockworkgr commented on #1172
As a side note, the same code could be called upon to allow airdrops on asset creation time.

So from a UX point of view, the user would set all his UIA parameters just like now and on the supply settings, once a max supply is entered, he can choose a "percentage_to_airdrop" (e.g. 100%), an "airdrop_target_asset" (e.g. BTS) and a future block no for the snapshot (e.g. block 30000000).

Thus creati

[2018-07-22 21:58] cogutvalera commented on #1172
good idea ! nice !

[2018-07-22 21:59] abitmore commented on #1172
Interesting. I think there is a BSIP already.

Do it at maintenance interval? Deduct (transfer/issue) fees relative to number of holders?

[2018-07-22 22:07] clockworkgr commented on #1172
Yep...a superset of the functionality is mentioned here: https://github.com/bitshares/bsips/blob/master/bsip-0020.md

So change this issue to let's get BSIP-20 done instead :)

Maintenance interval sounds good.. Doesn't seem like an operation that will ever be required to be performed instantly.

Fees based on no of holders sounds good. Although we should probably make a special allowance for/trea

[2018-07-22 22:08] clockworkgr commented on #1172
@ryanRfox you were part of the original conversation so I'm tagging you here... As you can see there already was a BSIP...I was unaware

[2018-07-22 22:10] abitmore commented on #1172
Please be aware that balance look-up impacts performance, as mentioned in https://github.com/bitshares/bitshares-core/issues/1083#issuecomment-399992509, utilizing more than 7% of total replay time. Balance-modify may impact performance (much) further, as we need to insert 100k objects to object database in a few seconds.

[2018-07-22 22:16] clockworkgr commented on #1172
Hence why I checked performance when submitting the issue :)

I really don't know what the impact would be. I hope it's something that can be handled. It can be a high-fee operation if needed, as long as it's possible.

[2018-07-23 05:30] clockworkgr commented on #1172
https://github.com/BunkerChainLabsInc/peerplays-profitshare

[2018-07-23 15:09] sschiessl-bcp commented on #1061
This also references #590

[2018-07-23 20:53] jmjatlanta commented on #1088
I am just thinking about the serialization issue. To test:

1. Old code serialized an unsigned_int
2. New code reads it in correctly
3. New code serializes it, and passes it to old code
4. Old code reads it.

My question is where are the places that use serialization? Persisting to disk and p2p are what come to mind. Any others? I may be able to create a test if everyone thinks it is worthwhile.

[2018-07-23 20:57] jmjatlanta commented on #999
Doesn't the PR need to be merged into websocketpp first? Could someone review that for me when they get a chance?

[2018-07-23 21:37] abitmore commented on #1088
@jmjatlanta the test case in https://github.com/bitshares/bitshares-fc/pull/64 explains. We can make 2 test cases, one for numbers less than 32 bit and the other for numbers greater than 32 bit, both old and new code should pass the former, but only new code will pass the latter.

[2018-07-23 21:49] abitmore opened #1173 "Release version numbering discussion"
Started by @ryanRfox:

[2018-07-23 21:49] abitmore commented on #1173
By @clockworkgr:

Why month and not sequential for minor though?
And trying to understand the reasoning behind a version no indicating year
Don't think it's needed
Major increment for consensus changing release. Minor for feature release, patch for patch
So if you say 19 for Dec's consensus release
That means we're in 18
Witnesses are running 18.0.1 while most API nodes are running 18.0.0
Next mon

[2018-07-23 21:50] clockworkgr commented on #1173
thanks @abitmore was about to do the same

[2018-07-23 21:57] cogutvalera commented on #1173
https://en.wikipedia.org/wiki/Linux_kernel#Version_numbering as @clockworkgr  told about linux, I like this idea, but want to think more about approaches as well to not lose the best suitable versioning convention for BitShares, here are some good examples IMHO https://en.wikipedia.org/wiki/Software_versioning

[2018-07-23 23:39] Zapata commented on #1173
I agree with @clockworkgr Major/Minor/Patch (aka [SemVer](https://semver.org/)) is fine.
In your case this could mean: MAJOR = Consensus upgrade, MINOR = new features non impacting consensus, PATCH = hotfix.
SemVer is what most of the projects and dependency management tools use nowadays.

For marketing and non tech poeple, a code name for each release is better (a la [Android naming](https://en.w

[2018-07-24 01:14] jmjatlanta commented on #1088
I'm just thinking  of the un-serialization of a 32-bit value by a peer running old code, where the stream was serialized by a machine running new code. So during the ``unpack`` of this value, will the old code do the right thing?

I'm not saying it is broken. I just want to provide a scenario that may not have been tested for. I think the only way to test that is to ``pack()`` with the new code an

[2018-07-24 05:04] clockworkgr commented on #1173
Once again, me and @Zapata in agreement :)

Also love the code-name idea for MAJOR versions like Android does. One for each release is a bit much.

We just need to find the right set of things to use for it (like confectionery for Android, big cats for OS X, etc.) :D

[2018-07-24 05:07] ihla commented on #149
I have some more questions regrading the implementation details: I believe the requirement is specified in this pseudo-code by @jmjatlanta

If (config.ini does not exist)
{
    create config.ini;
    create logging.ini;
}

Parse config.ini for application configuration;

If (logging.ini exists)
{
    Parse logging.ini for logging configuration;
}
else
{
    Parse config.ini for logging configurati

[2018-07-24 08:07] bangzi1001 commented on #1173
Agree with clockworkgr. Protocol upgrade should be first in version numbering because it is mandatory upgrade.

[2018-07-24 13:19] ryanRfox commented on #1173
Really appreciate all the constructive feedback and external references.  I will agree with @clockworkgr and @Zapata that Semantic Versioning fits BitShares Core best:
- Major.Minor.Patch
- Protocol.Feature.Hotfix

I'm open to more discussion regarding named releases, similar to OS X and Android, for each Protocol Release, but feel it lacks a semantic to properly represent the Feature Release.

Do

[2018-07-24 13:19] jmjatlanta commented on #149
My opinion was to allow the legacy config.ini to exist, and read the settings within it. Do not attempt to create the new ones. I was thinking that way so as to avoid the extra work.

It would be great to read their settings and create a new one based on their old one. If you would like to tackle that, it would be appreciated. And in that case, yes, backing up the old ones would be important. Veri

[2018-07-24 13:40] ryanRfox commented on #1170
@sirilicious please let us know if @oxarbitrage answered your question fully. You may close the ticket thereafter. As needed, please provide additional details for follow up questions. Thanks

(Please note: we will close the ticket after a period of inactivity)

[2018-07-24 13:56] ryanRfox commented on #1172
Currently BSIP 20 (UIA) and BSIP 19 (MPA) are `Deferred`. @xeroc may I request you to remind us of the conclusion at that time?

[2018-07-24 19:46] ryanRfox commented on #929
Added assignment to @cogutvalera and estimation of 2 horus to Description.

[2018-07-24 19:49] cogutvalera commented on #780
I want to claim this issue

[2018-07-24 20:08] ryanRfox commented on #929
fixed by` RPC logging level inconsistency #62` /bitshares/bitshares-fc/#62

[2018-07-24 20:15] oxarbitrage commented on #1103
With the last commit that add `inline` to some of the calls used in the plugin: https://github.com/bitshares/bitshares-core/pull/1122/commits/e8832d1a4e9af8a6b20e02e1c33de2d84aa33a89 i was able to see a performance increase of 20% in the first 100k blocks.

Without inline, from scratch:
[code]

With inline killing when 100k block is seen:
[code]

Considering the test was made in a low block number

[2018-07-24 23:42] cedar-book commented on #881
also have this information page [Boost Versions](https://github.com/bitshares/dev.bitshares.works/blob/master/core/installation/boost_versions.md#boost-version)

[2018-07-25 00:16] abitmore commented on #1088
Technically it's correct, but practically we won't have both the old code and the new code in the code base. So the test cases should be some inputs and expected outputs. Sure we need to test both `pack` and `unpack`.

[2018-07-25 06:32] clockworkgr commented on #1100
I may be completely off the mark here seeing as I'm not a C++ dev  and I'm going purely on documentation I've read. So if completely wrong just let me know.

What about boost's notifying indices? It seems to me that it would allow for perfect cache invalidation. I have no idea whether it's implementable or what the performance hit (if any) would be. I just know that we use boost containers and acc

[2018-07-25 09:26] clockworkgr opened #1175 "BitShares object DB schema"
Is it actually documented anywhere except in-code?

in the sense of object-type, keys/fields, intra-object references and indices.

[2018-07-25 10:15] jmjatlanta commented on #1175
I do believe the only place to find that is in code. If other documentation does exist, I would say it quickly became outdated.

[2018-07-25 10:17] clockworkgr commented on #1175
Why do you say that? I know there are a few fields and indices added over time, but I reckon the bulk of it would be valid.

In any case I'll see if I can contact BM about it as he is the most likely person to have such a document. Even if outdated , it would make a good starting point to get up to date

[2018-07-25 10:31] jmjatlanta commented on #881
Boost 1.66 multi_index handles exceptions differently than earlier versions. See https://github.com/bitshares/bitshares-core/issues/852

[2018-07-25 10:41] jmjatlanta commented on #1088
Okay. Thank you for the clarification @abitmore . I assumed we used this serialization for p2p as well.

[2018-07-25 11:56] tianyekuo opened #1176 "get_account_history return duplicate ops"
**Bug Description**
Call the cli_wallet api with the params:
`{"id":"5665571840","jsonrpc":"2.0","method":"get_account_history","params":["alanguanwz9",1000]}`
The return result contains duplicate id : 1.11.323175501, 1.11.320758270

"get_relative_account_history" api does not have this issue.

**Screenshots (optional)**
![get_account_history](https://user-images.githubusercontent.com/1351064/4319

[2018-07-25 12:19] oxarbitrage commented on #1175
thinking on the blockchain as a 1 single sql database, can use this to get the database tables: http://docs.bitshares.org/development/blockchain/objects.html

select an object from the list and put it in the doxygen searchbox at https://bitshares.org/doxygen , for example "asset_object"(replace space by _). doxygen will dropdown a few options, use the one that is of the form: `asset_object graphen

[2018-07-25 12:42] abitmore commented on #1162
I don't think it's fixed.

[2018-07-25 12:43] clockworkgr commented on #1175
That's great help.... I'll try and get it done  for my needs and also maybe add to docs...

[2018-07-25 12:45] jmjatlanta commented on #1162
Oops. Mistakenly closed. PR #1009 is actually what found this issue, but did not solve it as further discussion is needed. My apologies.

[2018-07-25 13:21] pmconrad commented on #1035
This is the wrong place for discussing this. Needs a bsip.

[2018-07-25 13:29] pmconrad commented on #1158
I don't see the need to change current behaviour. OP's problem can be worked around by increasing collateral by 1 satoshi.
Changing TCR to a smaller value is ok, because you cannot effectively set it to less than MCR.

[2018-07-25 14:05] sschiessl-bcp commented on #693
This is one of the use cases that #1061 enables (BSIP Custom active permissions)

[2018-07-25 14:49] abitmore commented on #881
@jmjatlanta this document if for users of witness_node/cli_wallet, but not the developers. Since we don't support 1.66 right now, IMHO no need to document it. Once we fixed #852, still no need to document it because users won't notice the difference.

[2018-07-25 14:59] clockworkgr commented on #1061
This is being turned into a BSIP. Further discussion here: https://github.com/bitshares/bsips/pull/86

[2018-07-25 15:05] abitmore commented on #693
BSIP discussion https://github.com/bitshares/bsips/pull/86

[2018-07-25 15:24] abitmore opened #1178 "CLI test failure: Underlying Transport Error"
https://travis-ci.org/bitshares/bitshares-core/builds/406910050

IMHO we need to avoid listening to a port which is less than 1024.

https://travis-ci.org/bitshares/bitshares-core/builds/408586482

189434ms th_a       application.cpp:447           startup              ] 13 N11websocketpp9exceptionE: Underlying Transport Error

[2018-07-25 21:36] ryanRfox commented on #777
Assigning @cogutvalera to get us started. Perhaps this Issues becomes the Task List ticket and references three (3) new Task Issues, one for each collection @jmjatlanta described above. I'd like to see these new Issues contain specific details within. Also, easier to estimate smaller scopre of effort. Each are likely able to be merged separately to provide incremental value, rather than all at onc

[2018-07-25 21:40] ryanRfox commented on #780
Updating estimation to 2 hours.

[2018-07-26 08:20] xeroc commented on #1103
I would like to be able to distinguish operations by `fee_payer.original_registrar`.
For this we need:

* a indefintely store the *original* registrar (when an LTM upgrade occures, the original registrar is gone, I propose to simply store it somewhere in the account object on upgrades)
* store the `original_registrar` (if null, use `registrar`) in elastic search so we can query it

As an extra, do

[2018-07-26 09:52] clockworkgr commented on #1178
Why? It's a system admin choice. (and def wouldn't mark it as a bug)

I wouldn't recommend it of course but it really is a user preference to run as root or not (running as root would allow binding to privileged ports)

[2018-07-26 10:44] clockworkgr opened #1182 "On-chain user scripts ("dumb" contracts)"
*THIS IS FOR VERY PRELIMINARY DISCUSSION ONLY*

As a `user` I want `the ability to install scripts on-chain (let's call them "dumb" contracts)` so that `I can automate sequences of operations on-chain`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the build proc

[2018-07-26 11:48] xeroc commented on #1182
Maybe we should distinguish

* **stateful**, from
* **stateless** contracts.

A stateless contract just consists of an instruction set with certain inputs. Think *sharedrop* or *dividends*. Those are automated *transfers* to multiple/all accounts. No state is required, all incoming tokens are distributed. Another example is Bitcoin's *Script*.

A stateful contract, in contrast, is much more diffic

[2018-07-26 12:12] OhChangYul opened #1183 "Witness the phenomenon of witness_node process down"
I suspect a memory leak in the check_call_orders function in db_market.cpp
The reason is that my server has 110G memory and the process is down with the following phenomenon
Please let me know how it works.

$ programs/witness_node/witness_node  --rpc-endpoint "0.0.0.0:8090"   --enable-stale-production  --p2p-endpoint="0.0.0.0:33715"

        insufficient_balance: Insufficient Balance: 0.76500 BTS

[2018-07-26 13:38] ryanRfox opened #1184 "Add Code of Conduct to BitShares-Core Repository"
**User Story**
As a `BitShares Community Member` we expect our project maintainers and contributors to follow a `Code of Conduct` so that `participation in this project remains a harassment-free experience for everyone`, regardless of level of experience, gender, gender identity and expression, sexual orientation, disability, personal appearance, body size, race, ethnicity, age, religion, or natio

[2018-07-26 13:58] pmconrad commented on #149
See my comment above:

IOW if a config.ini exists but logging.ini does not, use only config.ini and the logging config contained therein.

[2018-07-26 14:03] pmconrad commented on #597
@cogutvalera there isn't much to be done, only need to conditionally enable these tests depending on boost version: https://github.com/bitshares/bitshares-fc/blob/master/tests/time_test.cpp#L40-L42
Feel free to submit a PR in fc repo.

[2018-07-26 14:10] pmconrad commented on #693
Closing this - we should keep the authority discussion in one place.

[2018-07-26 14:10] #693 closed

[2018-07-26 14:31] pmconrad commented on #1183
Your bug report lacks essential information. Please observe the issue template, it's there for a reason.
https://github.com/bitshares/bitshares-core/issues/new?template=bug_report.md

[2018-07-26 14:40] pmconrad commented on #1184
+1 for Pledge, Standards and Scope.

-1 for Our Responsibilities and Enforcement. This binds resources and may open us up to liabilities.

[2018-07-26 15:24] cogutvalera commented on #597
ok sure ! Thank you very much !

[2018-07-26 17:01] cogutvalera commented on #1182
# NOTE INFO

1. https://github.com/HcashOrg/HyperExchange  they support smart contract
2. https://github.com/cogutvalera/gxb-core GXChain supports not only smart contract, blockchain as a service (BaaS) but also provides many unique services, including ID verification, multi-dimensional data, KYC, and swift login

[2018-07-26 17:11] abitmore commented on #777
@ryanRfox I've invited @cogutvalera to the organization. After he accepted, we can assign issues/PRs to him directly.

[2018-07-26 17:53] abitmore commented on #1183
@OhChangYul if you have `partial-operations=false` or `max-ops-per-account` set to a big value (for example `1,000,000`), it's expected that it will need more than 120G RAM. https://github.com/bitshares/bitshares-core/blob/develop/README.md

[2018-07-26 18:31] abitmore opened #1186 "Finish / fix price_to_string_test"
Code:
https://github.com/bitshares/bitshares-core/blob/25000ab3711e5e10e77cea7f0feb5c13aa03b9d4/tests/tests/app_util_tests.cpp#L240

Travis-CI reports:

[2018-07-26 18:56] abitmore commented on #1178
Perhaps not due to port number too small, or `33153` is still too small?
* https://travis-ci.org/bitshares/bitshares-core/builds/408601340

3551898ms th_a       application.cpp:287           reset_websocket_serv ] Configured websocket rpc to listen on 127.0.0.1:33153
3551898ms th_a       application.cpp:447           startup              ] 13 N11websocketpp9exceptionE: Underlying Transport Error
U

[2018-07-26 18:59] abitmore commented on #1178
This (https://travis-ci.org/bitshares/bitshares-core/builds/408573531) succeeded:

1489216ms th_a       application.cpp:287           reset_websocket_serv ] Configured websocket rpc to listen on 127.0.0.1:28573

[2018-07-26 21:01] abitmore commented on #1044
Please discuss in https://github.com/bitshares/bsips/pull/86

[2018-07-26 21:19] abitmore commented on #590
Further discussion here: bitshares/bsips#86

[2018-07-26 22:41] oxarbitrage commented on #1182
I did some brief research a while ago looking into the possibilities of supporting some scripting language inside the core. I think the solution could be done in the form of a plugin and do not modify the core logic at all unless really needed.

Plugin should expose an API to upload script file and plugin will process it. On my research i found that LUA plays nice with c++ and it seems easy to get

[2018-07-27 07:15] ihla commented on #149
I am going to implement the option presented in the original @jmjatlanta pseudo-code according to the  @pmconrad guidance above. If I find the effort for the "automatic migration" is within my 4 hour estimate, I can offer the enhancement in other PR.

[2018-07-27 08:12] cogutvalera commented on #929
@abitmore  still I need to bump FC here ? Thanks !

[2018-07-27 09:16] clockworkgr commented on #1182
In regards to @cogutvalera 's comment. HyperExchange uses LUA and GXB uses WASM.

I have no experience when it comes to scripting language integration so I can't comment on specifics. I assume LUA (with its huge ecosystem) would be easiest.

My concerns are regarding performance which is why I was suggesting a minimal solution by keeping the featureset small.

Also, considering this suggestion is

[2018-07-27 10:32] cogutvalera commented on #929
Thanks !

[2018-07-27 12:14] ryanRfox commented on #597
@cogutvalera assigned for 1 hour.

[2018-07-27 13:09] cogutvalera commented on #780
Thanks !

[2018-07-27 13:39] pmconrad commented on #1178
I think that's not it. server_port_number gets set as a side effect of start_application. Its original value is not used.

[2018-07-27 13:53] pmconrad commented on #1178
Hah! I think I've got it -

get_available_port returns sin.sin_port . sin_port is the the assigned port number, **in network byte order**. :-)
Need to return ntohs(sin.sin_port) instead.

[2018-07-27 13:56] jmjatlanta commented on #1178
No! Just always run the test on a big endian machine! Hehe. Blame me for that one.

[2018-07-27 15:43] abitmore opened #1192 "Refactor cli_test"
@oxarbitrage wrote in https://github.com/bitshares/bitshares-core/pull/1177#pullrequestreview-141144502:

connect to the server
set wallet password
import Nathan account
upgrade nathan
verify that the upgrade was successful
create a new account
save the private key for this new account in the wallet file
...
this can be in a test case that can be invoked, a function or even maybe a "database_fixtu

[2018-07-27 15:45] abitmore commented on #1176
Fixed with #1177.

[2018-07-27 15:45] #1176 closed

[2018-07-27 16:51] abitmore commented on #809
Fixed with #1104.

[2018-07-27 16:51] #809 closed

[2018-07-27 16:51] abitmore commented on #1050
Fixed with #1104.

[2018-07-27 16:51] #1050 closed

[2018-07-27 16:52] abitmore commented on #929
Fixed with #1104.

[2018-07-27 16:52] #929 closed

[2018-07-27 16:52] abitmore commented on #992
Fixed with #1104.

[2018-07-27 16:53] abitmore commented on #999
Fixed with #1104.

[2018-07-27 16:53] #999 closed

[2018-07-27 16:53] abitmore commented on #1127
Fixed with #1104.

[2018-07-27 16:53] #1127 closed

[2018-07-27 17:38] abitmore opened #1193 "Capture Ctrl+C in cli_wallet when not in daemon mode"
When a `cli_wallet` process is not running in daemon mode (not stared with`--daemon`), if Ctrl+C is pressed, it will exit **uncleanly**, which is dangerous because it may cause loss of unsaved private keys.

IMHO we should save wallet file before shutting down.

By the way, Ctrl+C was the only option for Windows users to exit from cli_wallet. Now we've added a `quit` command in #1104, so Windows u

[2018-07-27 17:39] abitmore commented on #1093
Done with #1180.

[2018-07-27 17:39] #1093 closed

[2018-07-27 17:45] cogutvalera opened #1194 "Compile warnings"
We should fix all compile warnings:

[code]

[2018-07-27 17:52] abitmore commented on #1192
I think this issue is a good place for adding clean shutdown tests.

[2018-07-27 18:00] abitmore commented on #1194
There are already pull requests for these.

[2018-07-27 18:00] #1194 closed

[2018-07-27 18:06] oxarbitrage commented on #1170
no response, closing.

[2018-07-27 18:06] #1170 closed

[2018-07-27 18:17] cogutvalera commented on #1109
as an idea: to save wallet file with another filename something like `temp` wallet file or `backup`

[2018-07-27 18:20] abitmore commented on #1178
Won't `::bind()` make the port unable to be used by another `::bind()`? Do we need to set `SO_REUSEADDR` somewhere?

[2018-07-27 19:11] cogutvalera commented on #1109
only on `exit` or in `save_wallet_file` ?

[2018-07-27 19:51] pmconrad commented on #1178
I think http_server in fc already sets SO_REUSEADDR https://github.com/bitshares/bitshares-fc/blob/master/src/network/http/http_server.cpp#L54

[2018-07-27 21:54] abitmore commented on #1178
Actually I meant we need to release/close the socket..

[2018-07-27 22:00] abitmore commented on #597
#1104 bumped FC and skipped the test case if boost version is too low and we won't work further on this issue.

[2018-07-27 22:00] #597 closed

[2018-07-27 23:41] abitmore commented on #1109
`save_wallet_file`.

[2018-07-28 07:49] pmconrad commented on #1178
Fixed by #1187

[2018-07-28 07:49] #1178 closed

[2018-07-28 09:02] pmconrad opened #1196 "Serialization of time classes in fc is architecture-dependent"
**Bug Description**
The (binary) serialization of fc::time_point, fc::time_point_sec and fc::microseconds is architecture-dependent (big-endian vs. little-endian).

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
-

[2018-07-28 09:03] pmconrad commented on #1196
Might be a good idea to scan for similar problems in other areas.

[2018-07-28 09:39] clockworkgr commented on #1196
Are there many/any big-endian machines left? apart from IBM mainframes?

[2018-07-28 11:40] abitmore opened #1197 "Remove protocol.hpp"
This file is almost empty, so we'd better remove it. Note: it's being included in several files, we need to modify them accordingly.

[2018-07-28 12:07] abitmore opened #1198 "Now is not always now"
**Bug Description**
When processing a block, we usually use `database::head_block_time()` aka `dynamic_global_properties.time` to indicate "now". We also use `database::head_block_num()`. However, these variables are updated in the middle of the process, specifically, in `database::update_global_dynamic_data()`, after processed transactions: https://github.com/bitshares/bitshares-core/blob/44a7c47

[2018-07-29 10:41] pmconrad commented on #1144
Related: #831

[2018-07-29 13:09] abitmore commented on #125
Just realized this is not a consensus changing issue, but a bug about generating / signing blocks.

Block signing key is checked here before generating the block: https://github.com/bitshares/bitshares-core/blob/60e9314dc01a1a8beb409365aa7c4e43f692d09e/libraries/chain/db_block.cpp#L334-L337

At a glance the check is done before generating the block, however, actually the check is done with pending

[2018-07-29 13:32] abitmore commented on #125
This code checks signing key before trying to generate a block, which is done with pending transactions / dirty state as well:
https://github.com/bitshares/bitshares-core/blob/60e9314dc01a1a8beb409365aa7c4e43f692d09e/libraries/plugins/witness/witness.cpp#L253-L260

Need to fix.

[2018-07-29 17:49] abitmore commented on #1197
Fixed by #1200.

[2018-07-29 17:49] #1197 closed

[2018-07-29 21:16] abitmore commented on #125
See PR #1203.

[2018-07-29 21:50] abitmore opened #1204 "Improve vote tally performance (long term)"
Job split from issue #803.

Vote tally performance affects maintenance block producing (https://github.com/bitshares/bitshares-core/issues/504) as well as overall sync/replay time.

Short term solution described in issue #803 and done in PR #982.

- [ ] Long term solution to be figured out.
  - The mechanism used by Steem could be an option, but I think it only positively impacts maintenance block

[2018-07-29 21:52] abitmore commented on #803
Short term jobs have been done with #982. Created issue #1204 for long term job. Closing.

[2018-07-29 21:52] #803 closed

[2018-07-30 05:15] cogutvalera commented on #1193
Next code doesn't capture CTRL+C also:

1. https://github.com/bitshares/bitshares-core/blob/develop/programs/cli_wallet/main.cpp#L286-L289
2. https://github.com/bitshares/bitshares-core/blob/develop/programs/delayed_node/main.cpp#L172-L175
3. https://github.com/bitshares/bitshares-core/blob/develop/programs/witness_node/main.cpp#L254-L264

I will create 3 new issues for all them, right ?

[2018-07-30 08:51] cogutvalera opened #1205 "Capture CTRL+C code doesn't work in witness_node, cli_wallet and delayed_node"
**Instructions**
As was mentioned in #1193 - code capture CTRL+C doesn't work

**Bug Description**

**Impacts**
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [x] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travis, etc.)
- [x] DEX (the Decentralized EXchange, market en

[2018-07-30 09:00] cogutvalera commented on #1205
I want to claim this issue, my approximation/estimation is about 10 hours for it

[2018-07-30 09:01] cogutvalera commented on #1109
my approximation/estimation is about 2 hours for this issue

[2018-07-30 09:01] cogutvalera commented on #1193
I want to claim this issue, my approximation/estimation is about 2 hours for it
this issue depends on fix of #1205 issue

[2018-07-30 09:23] abitmore commented on #1088
Technically this is a consensus-changing issue, but practically we won't hit the edge in the soon future, so I moved it to a feature release.

[2018-07-30 09:31] abitmore opened #1206 "Change more 32 bit data fields to 64 bit"
Here are some, please add new findings.
* account_statistics_object
  * total_ops
  * removed_ops
* account_transaction_history_object
  * sequence

#1088 is related.

[2018-07-30 11:57] abitmore commented on #1205
Witness_node and delayed_node does capture ctrl+c correctly. For cli_wallet, the issue is #1193.

[2018-07-30 11:57] #1205 closed

[2018-07-30 12:01] abitmore commented on #1205
By the way, we want to slowly phase out delayed_node binary, so won't fix minor bugs for it.

[2018-07-30 12:02] cogutvalera commented on #1205
I've checked witness_node ctrl+c while debugging and I don't see that it is capture it at all, how did you check it ? can you please tell me instructions so I can check it the same way as you did ? Thanks !

witness_node capture SIGTERM well enough ! but SIGINT as I can see it cannot capture at all ... I've tried different ways, debugging and added also `raise(SIGINT)` and nothing works ...

[2018-07-30 12:08] abitmore commented on #1205
Perhaps caused by your debugger. Try run it outside of a debugger?

[2018-07-30 12:10] abitmore commented on #1205
Perhaps I was wrong.

Actually I don't care whether it is capturing SIGINT or SIGTERM, as long as one of them works and ctrl+c works, it's good enough to me.

[2018-07-30 12:15] cogutvalera commented on #1109
Thanks !

[2018-07-30 12:16] cogutvalera commented on #1205
Thanks ! You're absolutely right, outside of debugger it can capture CTRL+C ! Appreciate your help a lot !

[2018-07-30 12:17] cogutvalera commented on #1205
just for the info: really strange why GDB debugger in VSC can captrue SIGTERM but not SIGINT, really interesting ...

[2018-07-30 13:24] TheTaconator opened #1208 "Define a recurring withdrawal period in terms of Gregorian calendar months"
**User Story**
Recurring withdrawals can currently be defined with respect to any periodic interval greater than the minimum block interval (currently 3 seconds). However those intervals are not necessarily intuitive for many use cases. One example is a desire for a monthly interval. An approximation to a monthly interval might be 30 days; with that approximation and with a starting date-time of J

[2018-07-30 13:53] abitmore opened #1209 "Dedupe results for get_key_references API"
`get_key_references` API now may return duplicate accounts (see https://github.com/bitshares/bitshares-core/issues/1753#issuecomment-491510616).

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [ ] Define Test Cases
- [ ] Design / Develop Solution
  - [ ] Assigned:
  - [ ] Estimated: TBD
- [ ] Perform QA/Testing
- [ ] Update Documentati

[2018-07-30 14:00] cogutvalera commented on #1193
Thanks for assigning this issue to me !

[2018-07-30 14:09] abitmore opened #1210 "Add get_signed_transaction_signers or similar command to CLI"
**User Story**
As a `user` I want `to know a signed transaction is signed by whom`, specifically, the corresponding public keys of the private keys used to sign the transaction. It's `able to get the public keys from signatures`.

**Additional Context (optional)**
After got the keys, can use `get_key_references` API to search for related accounts, but it's not always accurate because `get_key_refe

[2018-07-30 15:20] oxarbitrage commented on #987
closed by https://github.com/bitshares/bitshares-core/pull/1191

[2018-07-30 15:33] #987 closed

[2018-07-30 21:13] abitmore commented on #1193
Fixed by #1207.

[2018-07-30 21:14] abitmore commented on #1193
Looks good to me. Thanks. Pinging @ryanRfox.

[2018-07-30 21:33] abitmore commented on #852
Fixed by #1161.

[2018-07-30 21:33] #852 closed

[2018-07-30 23:37] oxarbitrage commented on #1175
i think this one can  be closed. @clockworkgr ?

[2018-07-31 04:50] clockworkgr commented on #1175
yeah sure

[2018-07-31 04:50] #1175 closed

[2018-07-31 06:53] cogutvalera commented on #1109
rebased already

[2018-07-31 14:38] oxarbitrage commented on #1103
last pull is https://github.com/bitshares/bitshares-core/pull/1201

[2018-07-31 15:11] oxarbitrage commented on #1182
I was thinking on something here, correct me if i am wrong.

If we want to be adding scripting i suppose one of the goals will be to be able to make trading strategies with some logic in the node with this capability enabled.
Objects change in our blockchain by operation, we cant for example just change the price of a limit order in 1 node directly in the object as the others will never understand

[2018-07-31 16:31] oxarbitrage commented on #1171
Agree @abitmore . We need to add a new call with no arguments `safe_unlock`.

Problem is it seems there is no easy way of making it work in linux/windows/macos with the same code.
It seems for linux/macos the use of http://www.gnu.org/savannah-checkouts/gnu/libc/manual/html_node/getpass.html is how to do it as the c++ call `getpass`(present in most systems) will be deprecated.

In windows it needs

[2018-07-31 16:50] pmconrad commented on #125
Good catch!

[2018-07-31 17:43] oxarbitrage commented on #1139
I know it needs discussion but submitted a pull request i made for testing.

[2018-07-31 20:07] abitmore commented on #1210
No, public keys.

[2018-07-31 20:14] abitmore commented on #1210
Example: on testnet the `xeroc` account has several accounts/keys in active authority, all with weight `1`, and the threshold is `1`, so every key/account is able to sign a transaction on behalf of `xeroc`. With the proposed command, we can know the transaction is signed by which public key in case when there is misbehavior, then can remove or swap it accordingly.

[2018-07-31 20:31] abitmore commented on #1139
Putting it in next milestone so far.

[2018-07-31 20:33] ryanRfox commented on #1210
Alright, I understand the requirement now. Historically BitShares has __hidden__ the keys, representing them by the account name, so my assumption was wrong. I would find value in knowing the set of signers providing their signatures (by name), their weight and the associated key used. The active weight and key may change over time, so the return values must be at the time of the transaction valid

[2018-07-31 20:36] abitmore commented on #1210
It's just hard to expand with node API only, so this issue is only for public keys. Perhaps can do something with ES when get the keys, but out of this issue's scope.

[2018-07-31 21:52] ryanRfox commented on #1109
Assigned to @cogutvalera and added estimate for 3 hours.

[2018-07-31 21:55] ryanRfox commented on #1193
Assigned @cogutvalera and estimated 3 hours.

[2018-07-31 22:31] christophersanborn opened #1214 "Proposed BSIPs for Stealth Development, Phase II"
I am proposing the addition of **six new BSIPs** detailing the continued development of **“Stealth”** technology on the BitShares platform.  The six BSIPs subdivide the work into logically distinct components.

Initial drafts of these BSIPs including abstract and motivation are already written and are linked below.

### Background and motivation

“Stealth” here refers the ability of users to condu