[2018-10-30 20:50] oxarbitrage commented on #1408
looks to me that you have a private testnet setup but when using the cli wallet you are connecting to the mainnet. consider this document in the part of chain id:
https://github.com/bitshares/bitshares-core/wiki/private-testnet#obtaining-the-chain-id

and also make sure you are connecting to your private testnet rpc node.

[2018-10-30 22:33] oxarbitrage commented on #1407
I think this is a good idea however it is a bit tricky as the options passed to the config file does not contain from what plugin they came from. I am researching a bit on how it will be the best way to do it, if i cant find anything reasonable we should merge https://github.com/bitshares/bitshares-core/pull/1410 by now. Ill update soon.

[2018-10-31 13:30] jmjatlanta commented on #167
Here are my design thoughts, a summary of the above, to be sure I understand the change. In other words, these are breadcrumbs that I will refer to and refine as I work through this issue.

The operation interface takes in a collection of name:value pairs. ``parameter_name`` as a string, and ``value`` as a static_variant. Behind the scenes there is mapping code that relates the variable as a strin

[2018-10-31 15:53] pmconrad commented on #167
Keep in mind that serialization is not only about JSON but also about "raw" format as used on the wire and on disk. You can't simply add fields because that will break raw serialization.

[2018-10-31 21:03] abitmore commented on #835
Does the doxygen issue still exist? Will this help? https://github.com/steemit/steem/pull/3119/commits/071f6a997357a116d96c0b0215473d3c20fd5316

[2018-10-31 21:37] abitmore commented on #167
My understanding on this issue:
* we'll deprecate the old `committee_member_update_chain_parameter_operation` and create a new operation which is more flexible to do the same job;
* we'll add new fields to the `chain_parameters` struct directly, so calls like `get_global_properties` don't need to change, and the new operation will be able to handle the new fields (and also even more new fields add

[2018-10-31 21:45] oxarbitrage commented on #1408
Ok, i found your problem. Your account is in the **Public Testnet** good to know.

In order to use the command line wallet in the testnet you need to build the `cli_wallet` from the bitshares `testnet` branch.

Here are the commands i just used, you might need to adapt for your OS but basically you need to build the `testnet` branch, this is for Ubuntu Linux 18.04:

[code]
Now you will have `cli_w

[2018-10-31 21:56] oxarbitrage opened #1412 "Ability to use cli_wallet built from master or develop at the public testnet."
When doing some research for https://github.com/bitshares/bitshares-core/issues/1408 i found that a `cli_wallet` built for the mainnet(bracnhes: master, develop, hardfork) can not be used for the public testnet.

The `cli_wallet` haves the `--chain-id` option that will work when the network is a private testnet, for the public testnet it is not enough to use this argument, commands will fail as:

[2018-10-31 22:10] abitmore commented on #1412
I guess there are more places that will fail. E.G. the prefix itself, public key processing and etc.

[2018-10-31 22:12] clockworkgr commented on #1412
Might be more work than just the prefix...but worth figuring out i think

Can't we use a call to 1.3.0 for the prefix? it's always core asset symbol isn't it? (same way we call 2.11.0 for the chain id)

[2018-10-31 22:14] oxarbitrage commented on #1412
I think also it will fail at more places unless we find a way to dynamically change the defined variables `GRAPHENE_SYMBOL` and `GRAPHENE_ADDRESS_PREFIX`. As we probably cant change those, we need to change everywhere they are used witch will be a painful task at least.

[2018-10-31 22:19] clockworkgr commented on #1412
not actually possible  to change them as far as I know so yeah...

[2018-11-01 05:16] cogutvalera commented on #1412
I've found all usages of `GRAPHENE_SYMBOL` in BitShares Core code-base:

 1. https://github.com/bitshares/bitshares-core/blob/develop/libraries/app/application.cpp#L103
 2. https://github.com/bitshares/bitshares-core/blob/develop/libraries/chain/db_init.cpp#L362
 3. https://github.com/bitshares/bitshares-core/blob/develop/libraries/chain/get_config.cpp#L35
 4. https://github.com/bitshares/bitshare

[2018-11-01 05:16] cogutvalera commented on #1412
@ryanRfox I want to claim this issue. Thanks !

[2018-11-01 08:35] cogutvalera commented on #950
PR is ready https://github.com/bitshares/bitshares-core/pull/1413

[2018-11-01 13:32] pmconrad commented on #167
Simpler (?) alternative:
* keep `...update_chain_parameter_operation`, but add an extension flag `delta` to `chain_parameters`
* use separate `db_chain_parameters` structure for internal database
* add logic to update `db_chain_parameters` from `chain_parameters` in update operation: if `delta` flag is present, only add/modify fields from operation that are present (fees) and non-zero (normal para

[2018-11-01 14:17] pmconrad commented on #1184
The LKML guys have resolved their CoC discussion by removing the second paragraph of the "Enforcement" section and adding a document that explains how the CoC is to be interpreted. Apart from that, their idea is to use this for now, and adapt if it turns out to create more problems than it solves.

* https://www.kernel.org/doc/html/latest/process/code-of-conduct.html
* https://www.kernel.org/doc/h

[2018-11-01 16:17] pmconrad commented on #1371
Timings taken with various core versions seem to indicate that this is a non-issue.

| Version | 2.0.180823 | develop as of 2018-10-24 | pr #1401 |
|-|-|-|-|
| Replay | 2:00:21 | 1:58:15 | 1:59:23 |
| Resync | 3:35:51 | 3:46:15 | 3:44:55 |
| Resync (full validation) | 7:15:06 | 7:21:59 | 7:18:52 |
| Revalidate | n/a | n/a | 2:51:08 |
| Revalidate (full validation) | n/a | n/a | 6:13:40 |

(Resync

[2018-11-02 17:21] pmconrad commented on #1371
Closing as WONTFIX

[2018-11-02 17:23] pmconrad commented on #1371
Closing as WONTFIX

[2018-11-02 17:23] #1371 closed

[2018-11-05 07:51] abitmore commented on #167
@pmconrad your suggestion makes sense as well. The pro is it saved a new operation. The con is we still need a big operation even when only need to update one field (smaller than we have now though).

[2018-11-05 18:41] oxarbitrage commented on #1381
closed by new release https://github.com/bitshares/bitshares-core/releases/tag/2.0.181105

[2018-11-05 18:41] #1381 closed

[2018-11-05 20:18] manikey123 commented on #782
I’m going to claim this @ryanRfox

[2018-11-05 22:13] z16166 opened #1418 ""PERLLIB=${CMAKE_CURRENT_SOURCE_DIR}" should be "PERLLIB=${CMAKE_CURRENT_BINARY_DIR}""
The following line in libraries/wallet/CMakeLists.txt
        PERLLIB=${CMAKE_CURRENT_SOURCE_DIR}
should be
        PERLLIB=${CMAKE_CURRENT_BINARY_DIR}

otherwise the doxygen build will complain " Can't locate doxygen/perlmod/DoxyDocs.pm" in Ubuntu 18.04 TLS.

because the actual full path of DoxyDocs.pm is "BitShares/build/libraries/wallet/doxygen/perlmod/DoxyDocs.pm" if the cmake build dir is "Bi

[2018-11-05 22:14] z16166 commented on #409
The following line in libraries/wallet/CMakeLists.txt
PERLLIB=${CMAKE_CURRENT_SOURCE_DIR}
should be
PERLLIB=${CMAKE_CURRENT_BINARY_DIR}

otherwise the doxygen build will complain " Can't locate doxygen/perlmod/DoxyDocs.pm" in Ubuntu 18.04 TLS.

because the actual full path of DoxyDocs.pm is "BitShares/build/libraries/wallet/doxygen/perlmod/DoxyDocs.pm" if the cmake build dir is "BitShares/build".

[2018-11-05 22:19] zhangbo-miuNEST commented on #835
It works.

[2018-11-05 22:20] z16166 commented on #1418
https://github.com/bitshares/bitshares-core/issues/835
https://github.com/steemit/steem/commit/071f6a997357a116d96c0b0215473d3c20fd5316

[2018-11-06 14:12] iamigorok opened #1420 "Please build BitShares Core Release 2.0.181105 for Windows 64"
Good day!

Please build BitShares Core Release 2.0.181105 for Windows 64.
I do not have the competencies for self-assembly from a source.

[2018-11-06 14:38] jmjatlanta commented on #1420
They are being built now. If all goes well, they should be available within an hour.

[2018-11-06 19:36] oxarbitrage commented on #1408
closing as no more comments were submitted, i think the last answer replies the original question of querying an account in the testnet(need to use a testnet cli_wallet binary)

[2018-11-06 19:36] #1408 closed

[2018-11-07 19:20] ryanRfox commented on #782
Glad to have you take this on @manikey123. May I request you begin by offering an estimation for an implementation? It looks like this Issue may have at least one child Issue. You may consider investigating and claiming #626 and #1407 as well. I just need an estimation for each issue you claim. Thanks in advance for your assistance.

[2018-11-08 11:52] oxarbitrage commented on #1268
work in progress at https://github.com/bitshares/bitshares-core/pull/1419

[2018-11-08 16:14] pmconrad commented on #1398
I think the original question has been answered. Closing.

[2018-11-08 16:14] #1398 closed

[2018-11-08 16:34] pmconrad commented on #1092
No more feedback - closing.

[2018-11-08 16:34] #1092 closed

[2018-11-08 16:41] pmconrad commented on #314
@jmjatlanta is this still a problem with the latest windows builds? If not please close.

[2018-11-08 16:42] pmconrad commented on #569
No more feedback. Closing.

[2018-11-08 16:42] #569 closed

[2018-11-08 16:43] pmconrad commented on #1214
Has been moved to https://github.com/bitshares/bsips - closing.

[2018-11-08 16:43] #1214 closed

[2018-11-08 16:46] pmconrad commented on #590
Duplicated by #1285 - closing.

[2018-11-08 16:46] #590 closed

[2018-11-08 16:50] pmconrad commented on #1061
Discussion has moved to BSIP-40. Closing.

[2018-11-08 16:50] #1061 closed

[2018-11-08 16:56] pmconrad commented on #167
IMO having a couple of additional bytes on chain in a rarely used operation is hardly worth another operation.

[2018-11-08 16:57] pmconrad commented on #939
Will be resolved by #1360

[2018-11-08 16:59] pmconrad commented on #452
Secondary indexes can easily be added in a plugin. No need to change undo_db behaviour during replay.

[2018-11-08 17:05] pmconrad commented on #438
No more feedback - closing.
Issue is irrelevant, IMO, because there's really no reason to switch back to openssl.

[2018-11-08 17:05] #438 closed

[2018-11-08 17:17] jmjatlanta commented on #314
Certificates are not included in the binary. I do not believe they should be. Having the user define their certificates increases flexibility and decreases liability IMO.

[2018-11-08 17:50] ryanRfox opened #1423 "Test Cases for PR 1270 (MCR Bugfix)"
## Required Test Cases
  - [ ] modify old test cases related to margin calls, see if anything is broken after the new hard fork time
  - [ ] reproduce the issue before the hard fork time, aka changing MCR doesn't trigger margin calls (or push some call orders out of margin call territory)
    - [ ] go over the hard fork time, check if margin calls are triggered (or no longer triggered) as expected

[2018-11-08 18:37] ryanRfox commented on #1423
It is my understanding the PR #1324 contains code for the bugfix of #1270 but lacks test cases. This issues to create those test cases.

Once the test cases are added to the PR, we can organize the dates for TESTNET.

[2018-11-08 18:56] oxarbitrage commented on #1318
A few more styles ideas obtained from https://github.com/bitshares/bitshares-core/pull/1419/files

- Avoid multiple empty new lines in code, in general 1 empty line is enough to separate blocks of code.
- Prefer `FC_ASSERT` instead of `assert`
- Remove commented code. Comments can be made when code seems not enough to explain an idea, that comments are genrally used in test cases and explain in pl

[2018-11-09 01:15] froooze commented on #1357
Any consequences for Stealth transfers?

[2018-11-09 14:50] pmconrad commented on #1357
What I said above about traffic analysis also applies to Stealth transfers. I. e. with plaintext connections it might be easier (for a powerful attacker) to tell who initiated a stealth transfer.

No further discussion for a month now. Closing.

[2018-11-09 14:50] #1357 closed

[2018-11-09 15:26] OpenLedgerApp opened #1425 "BSIP - Market Fee Backed Asset (MFBA)"
## Abstract
Market Fee Backed Asset (MFBA)  is a SmartCoin introduced by this BSIP.
The main idea of a MFBA is to provide opportunity for the Assets Owners to automatically share revenue received from trading operations (Market Fees) to the holders of the MFBA in proportion of the owned amount of the MFBA.

## Motivation
By implementing this proposals, we let Asset Owners an opportunity to use the

[2018-11-10 03:24] zychappy opened #1428 "how to use inited accounts in gensis.json(privatenet) with bitshares.app"
well,there are some accounts inited in the gensis.json,and bitshares.app has connected the private net,how I can login in the app with these accounts?

[2018-11-10 17:29] pmconrad commented on #1428
You need to somehow import the private keys matching for the accounts into bitshares.app.

[2018-11-10 18:05] christophersanborn commented on #1340
@marcialvieira and I would like to take a crack at this one.

[2018-11-10 19:17] clockworkgr commented on #1340
fuck yeah!

It shouldn't be TOO hard if you use the EOS one as a starting point...I would've tried it myself but i'm not a C/C++ coder.

[2018-11-10 21:53] oxarbitrage opened #1430 "segfault in the develop branch"
I am getting segfault with the current `develop` at node start:

[code]

I think it should be related by the last merges: https://github.com/bitshares/bitshares-core/pull/1426 (do not seems to be the cause) or most probably in the last FC bump: https://github.com/bitshares/bitshares-core/pull/1417

[2018-11-11 08:37] pmconrad commented on #1430
Boost version?

[2018-11-11 08:43] cogutvalera commented on #1430
which OS do you use ? I'm on Ubuntu 18.04 and I don't have `SEGFAULT` on node start with latest `develop` branch

[2018-11-11 09:56] cogutvalera commented on #1430
My `witness_node --version` is next on Ubuntu 18.04.1 LTS:
[code]

on the latest `develop` branch with latest `FC` library all tests passed without any errors detected, also running private testnet and producing blocks without any `SEGFAULT`, the same works successfully on mainnet

[2018-11-11 10:13] pmconrad commented on #1430
Can't reproduce either
[code]

[2018-11-11 12:55] oxarbitrage commented on #1430
Sorry guys, it seems to be something on my side. I cloned again, compiled and now working in the same pc, so i think i probably had something missing somehow in my previous version.
Thanks for checking everything is working.

[2018-11-11 12:55] #1430 closed

[2018-11-12 09:45] zychappy commented on #1428
![image](https://user-images.githubusercontent.com/9582529/48338547-e3743600-e6a0-11e8-9fa5-8342042f379b.png)
still need a pwd -_-
local faucet has not been installed.
if there is a way to use these accounts without faucet?

[2018-11-12 15:00] pmconrad commented on #1428
You must create a wallet first, then import the private keys into the wallet. You set the password when you create the wallet. This is UI-specific though, so you'd better ask in the UI repo.

The faucet only *creates* accounts. The accounts in genesis already exist, so you can use them without a faucet.

[2018-11-12 22:31] oxarbitrage commented on #1318
From: https://github.com/bitshares/bitshares-core/pull/1413#issuecomment-437932230
- In a huge refactoring please do it in small steps in individual commits that are easily verifiable. This makes the reviewer life a bit easier.

[2018-11-13 00:57] #1428 closed, assigned to nobody

[2018-11-13 10:23] cogutvalera opened #1432 "Refactor wallet library to be modular with non-dependent classes (optimization of compilation time & memory)"
**Instructions**
* User Story
* Impacts
* Additional Context (optional)

**User Story**
As a `developer` I want `to optimize wallet library compilation time and memory` so that `wallet library will be modular divided into different non-dependent classes`.

**Impacts**
- [ ] API (the application programming interface)
- [x] Build (the build process or something prior to compiled code)
- [x] CLI (th

[2018-11-13 13:22] pmconrad commented on #1393
IMO the `last_vote_time` should be updated when either the user votes on his own (i. e. updates his votes), or when he updates his vote settings. If the UI wants to display the last vote change time of the users proxy, it can be looked up separately in the proxy's account stats.

[2018-11-14 06:45] zychappy opened #1433 "questions about broadcast_transaction"
the tranfser method has been divided create 3 step:
1 create tx,
2 sign tx,
3 broadcast tx,
so far so good,the accounts finished the transfer

here is a question:
what is the response of "broadcast_transaction"?hope can get the txid
question2: the result of transfer2 include txid?
![image](https://user-images.githubusercontent.com/9582529/48464780-abddc900-e81b-11e8-9296-27d9102c4f24.png)
I tried

[2018-11-14 07:52] guchenglin111 opened #1434 "How do full node testnet acquire bitcny bitusd test coins ?"
**Instructions**
1.How do full node testnet acquire bitcny bitusd test coins ?
2.How to get bitcny bitusd's asset id？
3.How to transfer the accounts bitcny and bitusd ?
5.Does the spent fee for transfer bitcny cost BTS?

[2018-11-14 17:09] pmconrad commented on #1433
`broadcast_transaction` returns the transaction ID together with the transaction. https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/include/graphene/wallet/wallet.hpp#L565

Same for `transfer2` - https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/include/graphene/wallet/wallet.hpp#L858

The `get_recent_transaction_by_id` call looks OK. An empty response

[2018-11-14 17:12] pmconrad commented on #1434
Are you talking about a private testnet or our public testnet? What documentation have you read so far?

[2018-11-14 18:48] cogutvalera commented on #1171
new 2 PRs are ready in `fc` and `editline`

1. https://github.com/bitshares/bitshares-fc/pull/94
2. https://github.com/troglobit/editline/pull/22

`fc` lib must bump `editline` after its PR will be merged

[2018-11-15 05:50] manikey123 commented on #782
By going through the code, the config.init file is used by the running node. So do not think it can be modified as it would be in read only mode.
Considering non-file based approach and researching that. 2 hours estimated.

[2018-11-15 08:22] cogutvalera commented on #1171
guys according to this comment https://github.com/troglobit/editline/pull/22#issuecomment-438954835 and in order not to break 3rd parties we need to fork `editline` as part of BitShares repo (for more details read comments please in this PR https://github.com/troglobit/editline/pull/22).

waiting your help and advise here ...

Thanks !

[2018-11-15 08:30] cogutvalera commented on #1171
https://github.com/bitshares/editline forked it, should I integrate it with my changes so you can see how is it working ?

[2018-11-15 08:50] cogutvalera commented on #1171
already forked and bumped `editline` so you can check & test now how it works.

Thanks !

[2018-11-15 09:52] romy2012 opened #1435 "Help me ~~ no method with name 'get_account'""
I build the Genesis.
Run
1. witness_node -d data

2. cli_wallet --wallet-file=my-wallet.json --chain-id 33536ba0aaf2ca3e3c7ae2090a4910419f3f22801153ceb319253795ab31372e --server-rpc-endpoint=ws://127.0.0.1:11011 -u '' -p ''

3. unlock

4. rails s -b 0.0.0.0

5. bitshares-ui start

Run http://localhost:8080/ reg user with
Faucet http://127.0.0.1:3000
Node ws://127.0.0.1:11011

Erro bitshares-ui
no

[2018-11-15 10:11] cogutvalera commented on #1435
https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/include/graphene/wallet/wallet.hpp#L472-L477

[code]

just try to unlock your `cli_wallet` and use next command:
`get_account account_name_or_id`
and it must work ! you need to transmit account name or id as parameter

The same for `register_account` method, you should transmit all required parameters then it will work as exp

[2018-11-15 10:33] romy2012 commented on #1435
![c1](https://user-images.githubusercontent.com/10843381/48547121-dfe0e900-e904-11e8-822b-7cead3e8fb3a.png)

cli_wallet get_account work

[2018-11-15 10:49] romy2012 commented on #1435
![d1](https://user-images.githubusercontent.com/10843381/48547969-be80fc80-e906-11e8-914c-88e0e4af0d22.png)
![d2](https://user-images.githubusercontent.com/10843381/48547974-c04ac000-e906-11e8-9751-854e1b0a003e.png)

Should I change anything else

node_modules/
bitsharesjs-ws And bitsharesjs  ?

@cogutvalera

[2018-11-15 11:09] cogutvalera commented on #1435
I saw that you were redirected from BitShares-UI repo to BitShares-Core, but all issues about js ask please in BitShares-UI repo, reopen that issue please and paste link to your comment https://github.com/bitshares/bitshares-core/issues/1435#issuecomment-438998570 right in that issue in UI repo.

I see your problem with creating account maybe because `refcode` is `null` and `referrer` is also `nul

[2018-11-15 11:14] cogutvalera commented on #1435
@romy2012 I've commented in BitShares-UI repo (https://github.com/bitshares/bitshares-ui/issues/2155#issuecomment-439005195)

close please this issue and reopen the issue in UI please

Thanks !

[2018-11-15 12:43] zychappy opened #1436 "how to use get transaction by id" ?"
the transaction has confirmed and record into the blockchain,but I still cant get any result via this method “get_recent_transaction_by_id” #1433
no matter http or ws
there is another test in private net
![image](https://user-images.githubusercontent.com/9582529/48553494-afa24600-e916-11e8-9873-929ce06c647a.png)

![image](https://user-images.githubusercontent.com/9582529/48553574-ed9f6a00-e916-11e

[2018-11-15 13:12] zychappy commented on #1436
and another question:transaction_ids is an array,transactions is another array,whatis the Association between them?the same index? ids[index]-->transactions[index]?

[2018-11-15 13:57] pmconrad commented on #1436
Yes, same index.

Worked for me like this:
[code]

Note that transactions typically expire after less than a minute, so you have to be quick.

**Also please note that this is not a support forum.** Please post your questions on https://bitsharestalk.org for example.

[2018-11-15 21:08] christophersanborn commented on #1340
Adding a task for myself:

- [ ] Do ten hours of immersive background research on the Ledger Nano S libraries and developer docs, to include, if possible compiling and loading the device components of one or both of the two wallets linked above, in order to identify which problems remain to be solved to get a BitShares app running.

[2018-11-15 22:04] oxarbitrage commented on #1340
@christophersanborn I think that is reasonable.

[2018-11-15 22:29] cogutvalera commented on #1171
as we talked with @ryanRfox about `editline` library, IMHO we can refactor it in order to simplify `cli_wallet` code by avoiding usage of 3rd party library

https://github.com/bitshares/bitshares-fc/blob/master/src/rpc/cli.cpp
[code]

[2018-11-16 01:58] zychappy commented on #1436
thanks ,
by the way, I applied for registration two months ago in bitsharestalk.org, still awaiting admin approval
 -_-!
![image](https://user-images.githubusercontent.com/9582529/48593009-eb282900-e985-11e8-87ec-02c4f9ade663.png)

[2018-11-16 01:58] #1436 closed

[2018-11-16 08:10] cogutvalera commented on #1171
as @jmjatlanta said:

I think we can abandon `editline` and to tab completion and arrow key command history with less code in C++ and without using any 3rd party libraries.

[2018-11-16 14:18] oxarbitrage commented on #1171
I don't think we should abandon editline that has been working fine for our purposes.

It looks like the best option to do this should be by following https://github.com/troglobit/editline/pull/22#issuecomment-438944411

[2018-11-16 15:39] cogutvalera commented on #1171
my solution works without breaking our 3rd parties apps and services, troglobit don't want to merge it, he wants another solution that will break all our 3rd parties, do we need to break our 3rd parties ? I agree with troglobit idea but it will break our 3rd parties, that's why I've made another solution, but he didn't want to merge it in `editline` and we don't want to fork `editline` and we don'

[2018-11-16 15:45] cogutvalera commented on #1171
also for windows we don't use `editline` because it doesn't work, why should we use `editline` solution then ? why not to write less code with C++ for `cli_wallet` solution that will be cross-platform and abandon `editline` library ?

[2018-11-17 06:46] manikey123 commented on #626
claiming this and researching @ryanRfox

[2018-11-17 06:46] manikey123 commented on #1407
claiming this and researching @ryanRfox

[2018-11-17 09:37] pmconrad commented on #1171
In what way would 3rd-party-apps break if we changed the way cli_wallet accepts password input?

I strongly doubt that you'll be able to create a cross-platform replacement for editline/readline with less code. Feel free to try (but in your own repo, and not on our budget please).

[2018-11-17 09:41] pmconrad commented on #1407
@manikey123 this is already being worked on, see #1411

[2018-11-17 10:10] guchenglin111 commented on #1434
How to verify that the user and password are a couple? Like this website, https://icox.xyz/login account password is logged in.

[2018-11-17 10:12] guchenglin111 commented on #1434
@pmconrad  Is there a java version implementation similar to the following JS?

generateKeyFromPassword(accountName, role, password) {
        let seed = accountName + role + password;
        let privKey = PrivateKey.fromSeed(seed);
        let pubKey = privKey.toPublicKey().toString();

        return {privKey, pubKey};
    }

    /** This also serves as 'unlock' */
    validatePassword(

[2018-11-17 10:33] cogutvalera commented on #1171
@pmconrad I've commented already 2 days ago how it will break 3rd-party-apps
look my comment here please: https://github.com/troglobit/editline/pull/22#issuecomment-438949431

We have next solutions:
1. as troglobit suggested but it will break our 3rd parties apps
2. my solution won't break 3rd parties apps, but we need to fork `editline` in BitShares (why don't fork it then ?)
3. abandon `editlin

[2018-11-17 10:56] cogutvalera commented on #1171
@pmconrad just look please this open source project C++ with less code as an example https://github.com/Svalorzen/cpp-readline, so there are a lot of possibilities to abandon `editline` which isn't the best I'm sure ! `editline` works fine, but I'm strongly doubt that it is the best solution for us ! If we don't want abandon `editline` then why don't we want to fork it with my solution which is re

[2018-11-18 02:02] cogutvalera commented on #1171
@oxarbitrage Thank you very much for your answer ! I understand now clearly enough why we don't want to fork `editline`. Also I want to research another solution as @jmjatlanta told earlier in this comment https://github.com/bitshares/bitshares-core/issues/673#issuecomment-376176262

Guys what do you think about this solution ? It is cross-platform Unix and Windows compatible.
**BSD 2-Clause "Simp

[2018-11-18 09:04] pmconrad commented on #1171
I don't think there are any 3rd party apps that talk to cli_wallet via stdin/stdout, because cli_wallet has an RPC interface that's much more convenient.

If linenoise works on windows it might be worth looking into, but that's a different issue. I don't see how it would help for this issue here.

[2018-11-18 09:13] cogutvalera commented on #1171
@pmconrad then we can use solution as troglobit suggested without breaking any 3rd parties, should I implement troglobit's solution then ?

[2018-11-18 09:49] manikey123 commented on #782
When bitshares local node starts, plan is to push the config file into memory location say temp table part of database ( for example sql lite )
when node is running, if some one needs to edit the config file , currently readonly, instead the values is pushed into the database tables
when node is running to update configuration, use shell scripts that has update query having new information
Questio

[2018-11-18 09:51] manikey123 commented on #626
the config file is readonly when node runs.
API call approach is used to update config tables
Shell script updates latest info to tables
This is considering database approach.  let me know feedback so as to implement.

[2018-11-18 14:12] pmconrad commented on #1171
Please describe how you'd do it. Obviously, troglobit's suggestion can't be used as-is.

[2018-11-18 14:13] pmconrad commented on #782
An additional database is overkill for this issue. Please find a simpler solution.

[2018-11-18 14:16] pmconrad commented on #626
This ticket is about adding an API call. The only new configuration setting required is this:

Putting this into the config file is sufficient. It need not be modifiable while the application is running.

[2018-11-19 01:45] btsabc commented on #1403
It looks like we can test the consistency of account_id and name and the consistency of asset_id and symbol by modifying or adding predicate in assert_operation.

https://github.com/bitshares/bitshares-core/blob/3ea52879d634f0bd5bca80e6059b9308ba3270ff/libraries/chain/assert_evaluator.cpp#L33-L71

[2018-11-19 16:08] #894 closed

[2018-11-19 16:25] abitmore opened #1445 "Update Git Flow about download page"
Download page is now in this repository: https://github.com/bitshares/bitshares.org, although I don't know which source file we need to update when created a new release, waiting for answers here: https://github.com/bitshares/bitshares.org/issues/12.

[2018-11-19 20:29] abitmore commented on #1403
@btsabc yes a faucet can do that, but also with downsides:
* current fee for assert_operation is expensive;
* the account creation operation or the transfer will be broadcast then fail which is not user-friendly.

[2018-11-20 08:07] manikey123 commented on #782
-Part1
Assume original config file is parsed by validator function successfully. Hence local node up and running
Need Mutex for parsing to avoid race condition

-Part2
Values of config file go into stack memory. Advantage of using stack memory over heap memory is that it would stay alive as long as node is running
Timestamp of config file is also stored into stack memory
Referencing memory values

[2018-11-20 14:21] abitmore commented on #1269
Update (important info):
* when a node received a block, it saves the block to disk "as is" after verified, so a resync won't cause a change in block database file;
* operation_result is used when calculating merkle tree, since merkle tree root is used to calculate block id, operation results of transactions in existing blocks should not be changed, otherwise old blocks will become invalid thus no

[2018-11-20 16:48] cogutvalera commented on #1171
of course troglobit's suggestion cannot be used without some modifications, soon will show exactly how

[2018-11-21 13:57] cogutvalera commented on #1171
new PR in FC is ready https://github.com/bitshares/bitshares-fc/pull/97
also new little commit here https://github.com/bitshares/bitshares-core/pull/1382

[2018-11-22 03:26] tpkeeper opened #1447 "get_object 2.13.1 Assert Exception: tmp:"
get_object 2.13.1
get_object 2.13.1
0 exception: unspecified
Assert Exception: tmp:
    {"error":"Assert Exception: tmp: ","data":{"id":382,"jsonrpc":"2.0","error":{"code":1,"message":"Assert Exception: tmp: ","data":{"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"context":{"level":"error","file":"object_database.cpp","line":59,"method":"get_index","hostname":"","threa

[2018-11-22 04:08] jmjatlanta commented on #1447
The release 2.0.181105 removed an object that was believed to not be needed (budget_object). The just released 2.0.181120 fixed the issue. If you are able to switch API nodes, you may wish to attempt a connection to one that is using the latest release. If you are running your own node, you may wish to upgrade.

[2018-11-22 07:30] tpkeeper commented on #1447
fix the problem ,thanks very much

[2018-11-22 07:31] #1447 closed

[2018-11-22 12:31] jmjatlanta commented on #995
I have taken a step back to re-evaluate. I am adding notes here as a memory aide. I believe the major intent in eos was threefold:

1. To handle the serialization and de-serialization of large data files (i.e. persisted database files)
2. To make sure size limits are consistent between pack and unpack. If it fit going in, it should fit coming out.
3. Set limits that are easier to understand both i

[2018-11-22 12:48] jmjatlanta commented on #1256
I believe PR https://github.com/bitshares/bitshares-core/pull/1308 handles the problem better than integrating TBB. I believe this to be better than TBB because:

1. Somewhat lightweight. The code is fairly straightforward. Intercept calls to the collection, and lock/unlock. I do not believe this area of the code is highly performance sensitive. I believe the highest contention would probably be a

[2018-11-23 19:11] jmjatlanta commented on #167
TL;DR version-> I am still looking into this, and am hoping more experience will lead me to good answers.

I now see why this ticket has been open for so long. It seems to be straightforward, but there are a number of details that add complexity.

Peter's suggestion solves the problem with minimal fuss. It feels hackish, in my opinion, and it does not get rid of the extra effort of adding extensio

[2018-11-24 16:36] abitmore commented on #978
`fill_or_kill` is another thing that is spamming the p2p log heavily.

https://github.com/bitshares/bitshares-core/blob/a0e7dff00cfe7d2d8a7b257d8fdc95cf668108d7/libraries/net/node.cpp#L3398-L3404

It's better to only log useful exceptions.

[2018-11-25 19:28] startailcoon opened #1448 "Asset Details (collateral, settled volume)"
Related to issue https://github.com/bitshares/bitshares-ui/issues/1119, we're adding more details to the Bitshares Asset page.

The details that I miss on-chain is
- Total asset collateral
- Total settled volume in maintenance interval

Can we somehow include these two in the asset data object, we could make the details page much more detailed.

[2018-11-25 19:41] abitmore commented on #1448
This data is not directly available in bitshares-core so far. It's sum of collateral of all debt positions.

[code]

[2018-11-25 20:35] oxarbitrage commented on #1448
should we use this issue to build database api call: `total_asset_collateral(string asset_id_or_name)` ?

[2018-11-25 21:00] abitmore commented on #1448
If we really want the data, IMHO the best way is to add a field in asset_bitasset_data and update it every time when a debt position got updated. However, it's not consensus data, so I'm not sure if it worth the efforts. Perhaps use a plugin to track the data? Anyway, if add an API call, it's not ideal to sum on the fly.

[2018-11-25 21:08] startailcoon commented on #1448
What I see, we only need total collateral for

If this information isn't possible to maintain in any other way, or if it's not something we find important to show, we don't need this.

[2018-11-26 15:37] christophersanborn commented on #1340
Declaring the first task, "Do ten hours of immersive research" to be complete.  Specific products of this research are:
* Various discussions and information posted to the Telegram group dedicated to the developers on this task.
* Transcripts of successful interaction between host and Nano S using ledger-app-eos as an example.
* Familiarity with codebase in ledger-app-eos, (a logical starting poin

[2018-11-26 18:52] abitmore commented on #1448
@startailcoon that's collateral amount of the debt position with least collateral ratio (but not the total collateral of all debt positions), which should be the first item in result of `get_call_orders` API.

[2018-11-27 09:40] abitmore opened #1453 "2.0.181127 Linux binaries (witness_node) does not work in Ubuntu 16.04"
**Bug Description**
2.0.181127 Linux binaries (specifically, at least `witness_node`) is unable to start in Ubuntu 16.04 LTS even if `libcurl4-openssl-dev` is installed.

[code]

It does work in Ubuntu 18.04 LTS.

How about statically link all dependencies? Or rename the binaries to `xxx-ubuntu18-xxx` and provide additional binaries for Ubuntu 16?

**Impacts**
Describe which portion(s) of BitShare

[2018-11-27 09:49] abitmore opened #1454 "2.0.181127 Windows binaries (witness_node) not work"
**Bug Description**
The 2.0.181127 Windows binaries, at least witness_node does not work. It complains unable to find something in SSLEAY32.DLL. I guess it's dynamically linked?

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to com

[2018-11-27 11:04] manikey123 commented on #782
any feedback on this approach ?

[2018-11-27 19:15] oxarbitrage opened #1455 "add start-es-inserts-after-block option to elasticsearch plugin"
Due to the blockchain halt we recently had all ES nodes stopped working and replay is required.

This takes a huge amount of time. Most of the data is already on ES so i am thinking on an option `start-es-inserts-after-block` or similar that will start the heavy work after a block number passed, resulting in a faster synchronization.

As some important business rely on the ES plugin for their busi

[2018-11-27 19:31] crypto-1 commented on #1455
This feature would be very useful for CryptoBridge.

[2018-11-27 20:44] clockworkgr commented on #1455
yaaaaaaaaaaaaaaaaaaay!

[2018-11-27 21:03] abitmore commented on #1453
The new witness_node binary now works in Ubuntu 16.04, but doesn't work in Ubuntu 18.04, complaining `version CURL_OPENSSL_3 not found`.

[2018-11-27 21:43] jmjatlanta commented on #1453
You can't please everyone :-) That says things still aren't as they should be. I will try to resolve it. Thanks for testing.

[2018-11-27 23:13] oxarbitrage commented on #1434
don't make sense, first asked something, then another totally different. no answer provided to question from @pmconrad about if the user was following some documentation ...

closing this one.

[2018-11-27 23:13] #1434 closed

[2018-11-28 03:33] prettyCoders opened #1457 "miss SSLEAY32.dll"
![qq 20181128113204](https://user-images.githubusercontent.com/36216120/49127200-6b914700-f301-11e8-8c8c-4ab3f73de2f9.png)

[2018-11-28 12:01] jmjatlanta commented on #1457
Thank you for the note. This is related to #1454. I should be able to get this all fixed within a few hours. Please subscribe to #1454 to receive updates of my progress.

[2018-11-28 12:01] #1457 closed

[2018-11-28 12:35] sschiessl-bcp commented on #1455
Could an ES dumb be provided as well that matches `es-inserts-after-block=32600000`?

That would be asweome!

[2018-11-28 13:22] oxarbitrage commented on #1455
This is also a good idea. I added 2 tasks to this issue to do `start-es-at-block` and `dump-es-at-block`

[2018-11-28 13:31] sschiessl-bcp commented on #1455
I suppose if the backend creates the dump, it could also read it, i.e. 'import-es-on-block'

Just to say it, intent was to use the native dump and import es functional

[2018-11-28 13:32] sschiessl-bcp commented on #1455
Maybe replace 'at' with 'before' or 'after', so the timeline is clear with respect to the block

[2018-11-28 13:32] clockworkgr commented on #1455
i see no need to add this to the plugin...just documentation of how to use native ES dump/import

And maybe we can provide weekly ES snapshots (those of us running a node)

[2018-11-28 13:36] sschiessl-bcp commented on #1455
No need maybe, but it's certainly nice. Install ES in default, rest is done by plugin.

[2018-11-28 13:38] clockworkgr commented on #1455
where would the plugin get the dump from?

[2018-11-28 13:39] sschiessl-bcp commented on #1455
That command would have a file argument, or github reference as parameter

[2018-11-28 13:45] oxarbitrage commented on #1455
- i removed the dump option from the task list, lets keep it simple. i agree with @clockworkgr; it is probably better to use ES native tools or third parties(https://github.com/taskrabbit/elasticsearch-dump) to do this because also if we export we will want to import and that can start to became more complicated without need.
- changed the option to `start-es-after-block`

[2018-11-28 13:55] jmjatlanta commented on #1454
I believe I have corrected the problem. Please download the zip located on the release page. I have tested on a fairly clean Windows 10 machine, and it works well. Report back here if you have any problems.

https://github.com/bitshares/bitshares-core/releases/tag/2.0.181127

[2018-11-28 13:59] shulthz commented on #1454
works fine ,thanks

[2018-11-28 14:01] jmjatlanta commented on #1454
Thank you for letting us know. I will close this issue. If any other problems appear with this release, please feel free to re-open this issue.

[2018-11-28 14:01] #1454 closed

[2018-11-28 18:45] jmjatlanta commented on #1453
I have modified the way the Linux binaries are distributed. The binaries are all within a bitshares directory. Within the bitshares directory is a lib directory. Within that lib directory is a curl shared library.

The included shared library seems to only be used for witness_node. As of now, the witness_node must be started from within the bitshares directory (bitshares must be your current direc

[2018-11-29 12:57] pmconrad commented on #782
1: Please optimize for the typical case, i. e. the config hasn't changed. Not sure if a mutex is the best choice.

2: I'd think that having the active config in heap and accessing through shared_ptr is simpler - that way you don't need to keep track of who is still using the old config after an update. The shared_ptr takes care of that. But feel free to implement as you see fit.

3: No additional

[2018-11-29 19:59] oxarbitrage commented on #1318
From https://github.com/bitshares/bitshares-core/pull/1449#discussion_r236381016

create/modify/delete of the database inside operation evaluator must be done in `do_apply` and never in `do_evaluate`

[2018-11-29 21:35] abitmore commented on #104
What if we disable p2p entirely if `delayed_node` plugin is enabled?

[2018-11-30 16:49] pmconrad commented on #1318
The last one is not really coding style but an architectural decision that is specific to our codebase.

[2018-11-30 17:01] oxarbitrage commented on #1318
Most of them are or should be specific to our codebase. Architectural ones i think should be included as well(maybe as a separate document or whatever).

It saves time to the programmer and reviewer if the coder know beforehand she should not be doing it that way.

[2018-11-30 17:38] oxarbitrage opened #1459 "add startup message to all plugins"
When running `witness_node` with different plugins you cant really know as a user in a fast/easy way what plugins were loaded because some have a startup message while others done.
When running with the defaults it is even worst as you don't know what are being actually loaded.

I think all plugins should have a startup message when loaded so the user running the node will know everything goes as

[2018-11-30 18:48] cogutvalera commented on #1318
absolutely agree with you :+1:

[2018-12-02 14:19] litepresence commented on #1348
I am currently using this utility I've developed, it could be adapted to this task:

https://pastebin.com/9xaYV4jB

[2018-12-03 05:37] cedar-book commented on #1348
Hi @ryanRfox, Are those information important for the Node Admins to share?  I have added a link (Public Full Node Information) on a [node page](https://dev.bitshares.works/en/master/development/apps/node.html) because I opened the info page accidentally. And thought that might be good to share.

If we have more information links to collect and add on the node page (or new page), we can do that. M

[2018-12-03 09:58] clockworkgr commented on #1348
I believe @xeroc's solution uses @pmconrad 's network mapping work here: https://bitshares.eu/network/

@xeroc  confirm?

[2018-12-03 19:11] christophersanborn commented on #1340
## Overall Roadmap:

Goal is to have both a Nano S app that runs on the device, allowing any wallet developer to add support, and, at minimum, a simple GUI App to submit to the Ledger App Store to facilitate safe storage and transfer of assets.  (I.e. basic "wallet" functionality).  Beyond that, we may also work on adding support to the cli_wallet and/or providing the [bitshares-ui](https://github

[2018-12-04 09:00] clockworkgr commented on #1340
as far as GUI app is concerned, I plan to be adding support for it to Beet once you have the device side working using https://github.com/LedgerHQ/ledgerjs

[2018-12-04 09:03] sschiessl-bcp commented on #1340
Yes, you are cordially invited to use Beet as your standalone GUI app Christopher :)

[2018-12-05 01:42] miwishayux opened #1463 "Old bitshares node; how to set up delegate server/produce blocks."
Hello. Good day. THIS IS NOT AN ISSUE on bitshares more like a query/clarification. Please bear with me.

So I'm trying to run an old version of bitshares --> https://github.com/FollowMyVote/bitshares/tree/vote

I was wondering what exactly are the differences between a delegate server and a witness node. as far as i know, they both produce blocks. In addition to that, I'd like to ask how to set u

[2018-12-05 04:56] mansiiyengar commented on #782
1: Please optimize for the typical case, i. e. the config hasn't changed. Not sure if a mutex is the best choice.
- I shall first focus on building typical case
2: I'd think that having the active config in heap and accessing through shared_ptr is simpler - that way you don't need to keep track of who is still using the old config after an update. The shared_ptr takes care of that. But feel free t

[2018-12-05 04:58] manikey123 commented on #782
1: Please optimize for the typical case, i. e. the config hasn't changed. Not sure if a mutex is the best choice.
- I shall first focus on building typical case

2: I'd think that having the active config in heap and accessing through shared_ptr is simpler - that way you don't need to keep track of who is still using the old config after an update. The shared_ptr takes care of that. But feel free

[2018-12-05 07:38] manikey123 commented on #782
@pmconrad @ryanRfox : let me know if I can start implementation

[2018-12-05 12:16] xeroc commented on #1348
Not really.
The solution on bitshares.eu/network uses those API servers that have the `network` plugin enabled and to which I can authenticate. Part of that API is a call to list *potential* and *connected* peers. The ones on the map are a joint set of potential and connected nodes for the 10 machines that I have currently set up this way.

[2018-12-05 15:10] christophersanborn commented on #1340
Nice! @clockworkgr and @sschiessl-bcp; I love the idea of Beet support, and this looks very easy to achieve and opens up so many possibilities.  I've added it to the roadmap above.

[2018-12-05 15:33] clockworkgr commented on #1340
Nice. To be honest, if you finish the on-device work I should be able to handle the JS side myself. ofcourse, any help would be greatly appreciated :)

[2018-12-05 17:20] marcialvieira commented on #1340
Estimating between 10 and 20 hours for this component, but may be less because of the similarities.

[2018-12-05 18:21] ryanRfox commented on #1340
Thanks @christophersanborn and @marcialvieira for your estimates and roadmap. I'v updated the ore Team Task List to reflect them. Please continue with your design and development efforts.

[2018-12-05 19:05] ryanRfox commented on #782
@manikey123 Please comment with your effort hours estimates for each Task in your list. You included them to me directly elsewhere, but we need them herein for transparency and for @pmconrad to review and provide additional feedback to me.

I'm going to increase the research estimate to 3.5 hours (from 2) based on suggestions @pmconrad provided you and the adaptations you have considered. Thank yo

[2018-12-05 19:09] litepresence commented on #1348
I updated my code, now creates **json api** and includes **geolocation** data

code:
https://github.com/litepresence/extinction-event/blob/master/EV/bitshares-latency.py
api:
https://api.jsonbin.io/b/5c06e4f71deea01014bd4261/latest#Bitshares_Latency

[2018-12-06 07:16] manikey123 commented on #782
High level implementation estimate (not started)
-Part1 - typical case - 3 hours
Assume original config file is parsed by validator function successfully. Hence local node up and running
Need Mutex for parsing to avoid race condition

-Part2 - shared_ptr approach - 4 hours
Values of config file go into stack memory. Advantage of using stack memory over heap memory is that it would stay alive as lo

[2018-12-06 07:34] dls-cipher commented on #1340
As user of Nano Ledger, would love to see BTS supported on it. Keep up the great work and ideas!

[2018-12-06 13:37] pmconrad commented on #782
No additional libraries please. You can use `std::filesystem::last_write_time` to detect changes.

[2018-12-07 01:52] jmjatlanta commented on #1453
I haven't heard of any more problems with this. Closing. If you encounter any problems with the Linux version of this release due to shared libraries, feel free to re-open this ticket.

[2018-12-07 01:52] #1453 closed

[2018-12-07 04:07] manikey123 commented on #782
ok. thanks.

[2018-12-07 12:16] jmjatlanta commented on #278
Excuse me for being naive, but why not just reply to the caller that the update succeeded, but the proposal has yet to execute successfully? Perhaps with a reason would be even better. I do not see it as an exception, as it is common. I see it as a status.

I believe we have the mechanism to return more than just a simple yes/no result. Does that not give everyone what they want?

[2018-12-08 10:43] abitmore commented on #1095
This will be effectively fixed by #1462.

[2018-12-08 16:43] crazybits commented on #317
similar issue here, still can not find solution

`[ 93%] Linking CXX executable embed_genesis
Undefined symbols for architecture x86_64:
  "fc::smart_ref<graphene::chain::fee_schedule>::smart_ref(fc::smart_ref<graphene::chain::fee_schedule> const&)", referenced from:
      fc::impl::copy_construct<fc::static_variant<graphene::chain::transfer_operation, graphene::chain::limit_order_create_operation

[2018-12-09 12:48] pmconrad opened #1465 "Borrowing MPAs ignores max_supply setting"
**Bug Description**
``call_order_update_evaluator`` contains no check that an update won't increase the smartcoin's supply beyond the configured max_supply

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI

[2018-12-09 12:51] pmconrad commented on #1465
It may be debatable if this is actually a bug or meant as a feature. IMO it is a bug.
If it is a feature, supply must at least be limited to `GRAPHENE_MAX_SHARE_SUPPLY`.

[2018-12-09 17:54] cogutvalera commented on #1465
IMHO it's a bug and users must be restricted to borrow more than `max_supply` (thus `current_supply` must be always less or equal to `max_supply`) as was adjusted per concrete asset, at the same time while creating new asset users cannot create `max_supply` more than `GRAPHENE_MAX_SHARE_SUPPLY`.

[2018-12-10 05:45] christophersanborn commented on #1340
Logging 10 hours complete towards target "Device Side: Nano app" within the Week 48–49 period.

[2018-12-10 08:38] manikey123 commented on #782
bitshares account id = betas-11

[2018-12-11 08:57] manikey123 commented on #782
getting familiar and going through code that interacts with config ini

[2018-12-12 15:58] litepresence commented on #1348
updated code again.  now includes map; see key MAP_URL in api.jsonbin.io above; map url updates hourly.  code is updated in repo

[2018-12-13 00:49] litepresence commented on #1348
updated repo again

- plotting seed nodes in yellow
- added timestamp to map
- removed whitespace from around image upload

example:

https://vgy.me/iKlcbv.png

[2018-12-13 01:17] litepresence commented on #1348
vgy.me is nice upload api... but it does not allow for me to edit the image at a static location; each time my image changes I have to create a new web address.      My theory was that someone with an existing webpage could use that page to go to the jsonbin... then use the json key for MAP_URL to then include the image in their website.  Not sure if that is too hacky/obtuse of a solution.

Anyone

[2018-12-14 08:03] xqcool commented on #1459
add startup message already,but not a good design.look at my branch

[2018-12-14 15:09] jmjatlanta opened #1468 "Hashed Timelock Contracts (BSIP 44)"
** User Story **
As a BitShares user, I want to be able to create and execute Hashed Timelock Contracts on the Bitshares blockchain so that I can do atomic swaps between users, and even other blockchains.

BSIP 44 has been approved. This ticket is to help track implementation progress.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least on

[2018-12-15 21:54] oxarbitrage commented on #1423
https://github.com/bitshares/bitshares-core/pull/1469

[2018-12-17 08:08] cloud-8 commented on #1340
Would love to see this come to Trezor also, given it is open hardware aswell as open software.

[2018-12-17 19:07] ryanRfox commented on #1348
Hosting of the final images: I feel we should consider bitshares.org and the reference wallet. Perhaps @dls-cipher and @sschiessl-bcp can comment on that.

@litepresence may I request an estimation of your effort on this task? I want to ensure compensation is provided under one of the applicable worker proposal budgets.

[2018-12-18 03:11] thul3 commented on #1268
Great direction but in my opinion there are some small lacks for mass adoption.
The first issue which has been proofen in the past is the LTM.Webmasters don't pay to be able to promote an offer.Thats something which will discourage majority of webmasters to promote bitshares.
The next point is to deliver massiv traffic promoters need to be able to calculate.Since it is a refferal program it means

[2018-12-18 05:06] BennyTejadaMaglaya opened #1471 "what is a "relaxed-committee-account"? is having a "custom committee" possible?"
Good day to all.

I would like to ask what exactly is a "relaxed-committee-account" and what does it do?

[2018-12-18 07:30] manikey123 commented on #782
1.Program Flow for First load -> configuration options are stored in memory.
1A>
programs/witness_node/main.cpp
![image](https://user-images.githubusercontent.com/22608398/50138496-b0026980-0253-11e9-9147-2c4b251d5370.png)

1B>
At line 73 - Plugins set the remaining 35 options
![image](https://user-images.githubusercontent.com/22608398/50138521-b7c20e00-0253-11e9-9c30-e8658b11f025.png)

1C>
set pr

[2018-12-18 17:20] pmconrad commented on #1471
The account is controlled by the committee in the same way as "committee-account".
It does not have any special function AFAICS.

[2018-12-18 17:50] pmconrad commented on #782
My idea would be to encapsulate all the config handling and reloading in a class of its own. One instance of that is created on startup and handed over to plugins and application. Existing code should simply continue to use the configuration values from application start, i. e. making all these reloadable is out of scope. You only need to add the testing that you require for the API limits.

You c

[2018-12-18 18:18] abitmore opened #1472 "get_key_references performance issue?"
**Bug Description**
If a key is in authorities of many accounts, `get_key_references` API will return all of them <del>and will subscribe to all of them</del>, this could lead to potential performance issues. This API is used by GUI to get related accounts when importing a key.

https://github.com/bitshares/bitshares-ui/issues/2367 is related.

Update:
due to a bug, (I believe) the API is not subs

[2018-12-18 21:35] oxarbitrage commented on #1391
closed by https://github.com/bitshares/bitshares-core/pull/1473

[2018-12-18 21:35] #1391 closed

[2018-12-19 00:32] BennyTejadaMaglaya commented on #1471
thanks for the reply. is there a way to add a **"custom committee"** on bitshares? the same way as adding custom_operations? what i mean is having another set of committee members independent (having a different authority) from the default committee.

[2018-12-19 10:03] xqcool commented on #1472
IMO，it is api design issue，unless you can limit  the searching depth and get the right result.

[2018-12-20 02:41] xqcool opened #1476 "About worker and genesis's num_special_accounts"
what is a worker? i hardly use it ,Is he equivalent to a witness ?
if  num_special_accounts is more than five，why extra account is null  and only in order to reserve space(id)?
     Thanks a lot.

[2018-12-20 07:46] clockworkgr commented on #1472
wasn't this always standard behaviour? has something changed?

[2018-12-20 10:34] manikey123 commented on #626
being discussed under 782

[2018-12-20 10:36] manikey123 commented on #782
Uploaded code for review : https://github.com/bitshares/bitshares-core/pull/1478

Focusing on these two areas for now in the code:
1.	change them to configurable
2.	add API to fetch the configured values (#626)

Code development covers below scenario:
Create a max account history operations limit. This link is configuration.
Default value is 100. It can be changed, I have changed this to 300 by ch

[2018-12-20 13:42] pmconrad opened #1479 "Nodes crashing at block 33269102"
**Bug Description**
Several nodes have crashed at that block.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Dock

[2018-12-20 15:02] oxarbitrage commented on #1318
- Pull requests should add/modify/delete the minimum amount code possible to develop 1 and only 1 feature or concept. From https://github.com/bitshares/bitshares-core/pull/1467 - Pull doing several stuff at once.
- Pull requests in bitshares can only be made against 2 branches: `develop` if there is a non consensus related change or `hardfork` if it is modifying consensus.

- From: https://github.

[2018-12-20 15:14] pmconrad commented on #1476
This is not a support forum. Please read the documentation about workers at https://how.bitshares.works .

num_special_accounts reserves IDs for future use.

[2018-12-20 15:14] #1476 closed

[2018-12-21 11:30] oxarbitrage commented on #1455
Closed by https://github.com/bitshares/bitshares-core/issues/1455

Now ES nodes can recover from crashes in minutes by start saving data only after a specific block pass.

[2018-12-21 11:30] #1455 closed

[2018-12-21 12:16] clockworkgr commented on #1455
closed by #1458... 1455 is this issue

[2018-12-21 12:17] oxarbitrage commented on #1455
oops, sorry and thanks.

[2018-12-21 13:14] pmconrad commented on #1479
Released as https://github.com/bitshares/bitshares-core/releases/tag/2.0.181221

[2018-12-21 18:18] oxarbitrage commented on #1318
From https://github.com/bitshares/bitshares-core/pull/1324#issuecomment-439715251:
- avoid global variables.

[2018-12-22 05:45] christophersanborn commented on #1340
Logging 15 hours toward target "Device Side: Nano app" within the Week 50–51 time period.  (Bringing total thus far toward the target to 25 hours.)  Tagging: @ryanRfox

[2018-12-22 13:23] pmconrad opened #1490 "get_account_history_operations fails with partial_history and stop at 0"
**Bug Description**
See https://github.com/bitshares/bitshares1-core/issues/1567 - if `get_account_history_operations` is called with `stop == 0` and sufficiently large `limit` on a node with partial history, then the call will fail with an assertion failure when trying to look up `2.9.0` in the database.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please

[2018-12-22 22:10] abitmore opened #1491 "Test-2.0.181221 cli_wallet link error"
**Build Error Description**
[code]

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOutput.log`.
 - Host OS:             Ubuntu 16.04 LTS
 - Host Physical RAM    16GB
 - Source Branch/Tag:   test-2.0.181221
 - OpenSSL Version:     1.0.2n
 - Boost Version:       1.58
 - C++ Compiler:

[2018-12-22 22:49] jmjatlanta commented on #1491
I have seen that before. It has to do with the editline stuff. I will see if I can replicate the issue.

[2018-12-22 23:13] jmjatlanta commented on #1491
I was unable to replicate this issue on Ubuntu 16.04 / Boost 1.58 / OpenSSL 1.0.2. A few suggestions:

git submodule update --recursive, then recompile if anything is downloaded.

or

wipe out everyting in the libraries/fc directory, and then...
git submodule update --init --recursive
Then re-attempt the cmake / make and let me know if that still does not work.

[2018-12-23 08:06] cogutvalera commented on #1491
https://github.com/bitshares/bitshares-fc/pull/96

https://github.com/bitshares/bitshares-fc/pull/97

[2018-12-23 08:08] manikey123 commented on #783
Claiming this issue

[2018-12-23 08:16] bangzi1001 opened #1492 "Add Checkpoint for Testnet"
Please add these checkpoints in config.ini:

--checkpoint=[22668517,0159e4e579f49d76d221e5a756a88b38dc7ee9a2]
--checkpoint=[22668518,0159e4e600cb149e22ef960442ca331159914617]

![2018-12-23_16h15_33](https://user-images.githubusercontent.com/36911788/50381931-077a5c80-06ce-11e9-8632-b6bb424421d1.jpg)

[2018-12-23 08:18] manikey123 commented on #844
claiming this

[2018-12-23 08:59] pmconrad commented on #1491
Works for me.
Travis build is also green - https://travis-ci.org/bitshares/bitshares-core/builds/471161674 .

[2018-12-23 12:15] abitmore commented on #1491
Building from scratch worked.

[2018-12-23 12:15] #1491 closed

[2018-12-24 04:10] ryanRfox commented on #1340
Thanks @christophersanborn for the update.

[2018-12-24 10:08] sayplaybay commented on #1111
Can you list your complete method parameters? Thank you

[2018-12-25 15:13] jmjatlanta commented on #1492
I see that there is a default checkpoint in application.cpp (around line 952). Should these two be added there? Wouldn't it be better to have all 3 in the default config.ini instead? Happy to do either, just looking for what's best.

[2018-12-25 16:06] jmjatlanta commented on #1472
Are you worried about the performance of querying for all of them? Or are you worried about the performance of all those subscriptions? Or both?

If we limit the subscriptions, how would we communicate to the user that may be expecting us to subscribe to all of them?

[2018-12-25 18:43] abitmore commented on #1472
This issue is related to UI issue https://github.com/bitshares/bitshares-ui/issues/2367. Please check there for more info.

[2018-12-25 18:56] abitmore commented on #1472
`get_full_accounts` API has a limitation when subscribing to accounts, but `get_key_references` doesn't. IMHO we should apply same limitation to the two APIs.

* `get_full_accounts` API: https://github.com/bitshares/bitshares-core/blob/cca5fd8dc3770e2adde90943e9a2529259b9ffdc/libraries/app/database_api.cpp#L767-L773

* `get_key_references` API: https://github.com/bitshares/bitshares-core/blob/cca5

[2018-12-26 03:42] zychappy opened #1496 "Multicore run"
I found when bts is running only with one core,
it is more efficient to run with multicore
![image](https://user-images.githubusercontent.com/9582529/50431096-30cffe00-0903-11e9-980e-66a3caaee7f9.png)

[2018-12-26 12:14] oxarbitrage commented on #1496
https://github.com/bitshares/bitshares-core/pull/1489 is merged to `develop` and `testnet`.

Try one of those branches for multicore with:

`git checkout -t origin/develop` and build.

The feature will go into `master` in the next release. Let us know how do you see it if you test it out.

[2018-12-26 12:42] zychappy commented on #1496
OK，I will try, thank you very much!

[2018-12-26 12:42] #1496 closed

[2018-12-27 21:19] jmjatlanta commented on #1472
i is a vector<graphene::chain::account_id_type>, which according to subscribe_to_item gets fc::raw::pack'd, then inserted into the _subscribe_filter bloom filter.

I would be surprised if that works, as you are subscribing to a vector, and not individual accounts. Is there some magic happening here, or is my surprise warranted?

[2018-12-28 14:00] jmjatlanta commented on #1276
Here is how I read the two options mentioned:

1) virtual method: Adds entries to account history for referral and witness pay. Account history numbering preserved by hardfork-like protection.

2) plugin: Adds entries to account history for referral and witness pay. Account history numbering will be affected if they choose to turn on this plugin.

I personally like option 2, as it gives node admin

[2018-12-28 20:53] jmjatlanta commented on #1198
Proposed solution: Add new properties in addition to head_block_time and head_block_num called current_block_time and current_block_num. These will be set to head_block_time and head_block_num unless you are processing a block. They should also be rolled back in the case of an exception that stops block processing.

Transaction and other processing that can happen within a block should use the new

[2018-12-29 07:51] cogutvalera commented on #1198
there are no guarantees that pending transactions will end up in a particular block, and there can be different reasons, not only due time, but also due to size.

[2018-12-30 09:21] pmconrad opened #1504 "Linking failure"
**Build Error Description**
[code]

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOutput.log`.
 - Host OS:             Linux (openSUSE 15.0)
 - Host Physical RAM    8GB
 - Source Branch/Tag:   current develop
 - OpenSSL Version:     1.1.0i
 - Boost Version:       1.65.1
 - C++ Comp

[2018-12-30 09:40] pmconrad opened #1506 "Refactor protocol definitions into separate library"
**User Story**
As a software architect I want to enforce a clear separation of the BitShares protocol definition and the BitShares Core implementation.

The `libraries/chain` directory currently contains a `protocol` subdirectory, which forms a weak architectural boundary. This is also reflected in a separate `protocol` subdirectory for the relevant include files. It is an unwritten (?) rule that

[2018-12-30 10:05] pmconrad commented on #1276
I meant this plugin to create a separate history for these rewards, parallel to account history. Account history numbering should be preserved with both options. Having some nodes use "classic" history numbering and some use a  "modern" history numbering including rewards will create confusion and lead to problems.

[2018-12-30 10:10] pmconrad commented on #1198
Don't forget block generation. That currently uses head_block_time of the block that it is building upon.

I agree that the current implementation is not nice and may lead to surprising results sometimes, but it doesn't hurt very much in practice. Changing it requires significant effort and will forever pollute our codebase with a hardfork.

[2018-12-30 15:34] oxarbitrage commented on #1506
I agree with this. It is legal right now to include for example an object definition into a protocol header file for whatever reason. I only realized this was not a good idea after seeing this was not done anywhere else.

[2018-12-30 16:05] startailcoon commented on #1448
We could close this issue

[2018-12-30 16:05] #1448 closed

[2018-12-30 16:06] #1158 closed

[2018-12-31 10:45] jmjatlanta commented on #1506
Of course it is possible, I've (unwittingly) done it. Fortunately, it didn't pass code review. This simple change helps developers see the lines between components.

[2018-12-31 12:07] pmconrad commented on #995
Just realized that `sizeof` as used in current fc implementation may be platform-dependent and therefore also endangers consensus. We should fix this in the next hardfork, using limits that are beyond current block size.

[2018-12-31 12:19] pmconrad commented on #1504
Resolved by #1505

[2018-12-31 12:19] #1504 closed

[2018-12-31 21:33] lpreimesberger opened #1507 "cli_wallet errors - LTS 18.04"
**Bug Description**
Most operations in CLI don't appear to work from last binary or current code snapshop.  Again, I could just be crazy but it looks broken at the moment on Ubuntu 18.04.
**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something pri

[2018-12-31 22:53] jmjatlanta commented on #1507
I have tested a transfer on Ubuntu 18.04 using the 2.0.181221 release binaries. I had no existing wallet file. I connected via:

cli_wallet -s wss://kc-us-dex.xeldal.com/ws

I imported my key using import_key, then attempted a transfer. All went well. My guesses as to what is happening in your case:
1. The private key for caprica2019 was not imported correctly.
2. Your wallet file was corrupted so

[2019-01-01 11:32] abitmore commented on #1095
Done.

[2019-01-01 11:32] #1095 closed

[2019-01-01 11:36] abitmore commented on #1079
Done?

[2019-01-01 12:07] abitmore commented on #1472
LOL. I don't think it will work. So, due to this, we effectively didn't subscribe to anything? As discussed in the pull request, let's remove the code completely.

[2019-01-01 12:33] abitmore commented on #1472
I think it's still problematic if the returned nested vector is too large. OP updated.

[2019-01-01 13:16] abitmore commented on #1506
In principle I agree that this is a good move. If this is done, the only downside I can think of, is it's harder to track old changes done on the relocated files.

[2019-01-01 13:44] abitmore commented on #1490
Fixed by #1494.

[2019-01-01 13:44] #1490 closed

[2019-01-01 13:46] abitmore commented on #1459
Done?

[2019-01-01 13:57] jmjatlanta commented on #1459
Yes, it is done.

[2019-01-01 13:57] #1459 closed

[2019-01-01 13:58] jmjatlanta commented on #1492
Fixed by PR 1495

[2019-01-01 13:58] #1492 closed

[2019-01-01 13:58] jmjatlanta commented on #1468
Fixed by PR 1370

[2019-01-01 13:58] #1468 closed

[2019-01-01 20:14] lpreimesberger commented on #1507
I think there's something whack with the original machine - same steps and same binaries work on a newly spun up VM, but the dev box (upgraded from 16.xx LTS to 18.xx) will always throw those errors.  Not worth messing with - I'll just blow it away and reimage it.   thanks john! :)

[2019-01-01 20:14] #1507 closed

[2019-01-02 09:14] pmconrad commented on #1079
Depends. We could treat this as an Epic and leave it open. Or we declare this done via #1360 and create new issues for future improvements.
I'm not currently working on anything related, so I'd be ok with closing it now.

[2019-01-02 13:39] jmjatlanta commented on #1237
#1246 is somewhat a duplicate of this issue, albeit broader in scope.

[2019-01-02 13:39] #1237 closed

[2019-01-02 14:21] jmjatlanta commented on #1246
[Here](https://stackoverflow.com/questions/130117/throwing-exceptions-out-of-a-destructor) is a discussion of pros and cons of throwing in a destructor. I believe most would agree that this is a bad idea, and can lead to undefined behavior.

There are a few places within Bitshares where a destructor can throw. The most prominent example is the session destructor of undo_db. I have reduced the numb

[2019-01-02 16:03] pmconrad commented on #1246
If the undo_db session destructor throws the internal database is left in an undefined state. There is no reasonable way to clean up continue from there. To avoid the immediate exit it could be an option to somehow invalidate the underlying database.

Using BOOST_FAIL in database_fixture sounds good.

[2019-01-02 16:46] jmjatlanta opened #1512 "BitShares Core uses Boost::Signal, which is deprecated"
Running CMake on BitShares causes an error due to Boost no longer shipping with Boost::Signal. This has been deprecated for a while, and replaced with Boost::Signal2. This issue is to research and determine the impact of upgrading to Boost::Signal2

Attempted with Boost 1.70 and Boost 1.69.

**Build Environment**
Details about the build environment, including the relevant required libraries. Much

[2019-01-03 10:19] clockworkgr commented on #1472
thing is,  UI still does a get_full_accounts on them after received...so it effectively/eventually does subscribe to all of them.

we've had a discussion on UI group about this and it seems this will need some major refactoring (to fix other performance issues as well)

[2019-01-04 13:03] jmjatlanta commented on #1512
From what I have seen so far, BitShares-fc and BitShares-core do not use signals, but instead use signals2 already. The only reference is in the CMakeFiles.txt. Evidently this is a left-over from previous use. I have removed those references, and am testing.

[2019-01-05 20:43] manikey123 commented on #782
Request is to divide 782 into two tickets to manage the code. One is existing 782 and considering creating new ticket for below. Let me know.

Scope of existing 782 ticket :
1. change them to configurable
2. add API to fetch the configured values (#626)
3. get_key_references should not subscribe to related accounts (Issue 1472) #1499

Request to create new ticket for below as it is independent in

[2019-01-07 18:39] jmjatlanta commented on #1512
Fixed by pull 1514 and fc pull 101

[2019-01-07 18:39] #1512 closed

[2019-01-07 19:35] jmjatlanta commented on #1313
I removed skip_fork_db and ran tests to verify there were no side effects. That is in branch jmj_1313. If you think it worthwhile, I will make the changes abit suggested, so a comparison could be made.

If it is believed to not be worthwhile, I will make a PR.

[2019-01-07 20:14] pmconrad commented on #1313
Like I said, I vote for removal.

[2019-01-07 20:17] jmjatlanta commented on #1297
@phpergithub were you able to get this sorted? I have since seen similar problems, and it was due to curl, openssl, and differences on how libraries were built (static versus dynamic linking).

Your answer will help in documenting the issue and assuring that we have a solution.

[2019-01-07 20:53] ryanRfox commented on #1506
I too support any effort to refactor our code to be more readable and reinforce best practices.  I notice this received the `small` label. I'm wondering if it may also qualify as `good first issue`. I realize it's `low` priority, but if you feel it can help us on-board new contributors now and make it easier for others to use our code going forward, I'd appreciate identifying a Community Claims co

[2019-01-07 21:46] jmjatlanta commented on #1472
This has been fixed by PR #1499

Note: There are related outstanding PRs at #782 #1513

[2019-01-07 21:46] #1472 closed

[2019-01-08 12:50] M-Zeeshan-Haider opened #1517 "Can't connect to witness node from CLI wallet running on aws -Bitshare DEX"
**when ever i try to connect to the witness node through CLI it says unreachable and give  following error**

Unable to connect to API node wss://18.191.165.220:8090, falling back to known working nodes. Error was: Error: Connection attempt timed out after 4s
![screenshot from 2019-01-08 17-45-55](https://user-images.githubusercontent.com/36418814/50831618-46b2d980-136d-11e9-814f-a42e33997970.png)

[2019-01-08 12:55] jmjatlanta commented on #1517
Based on the output of witness_node, it looks like one of your config files (config.ini or logging.ini) may have a problem. Please review those files, being sure that everything looks okay. Pay special attention to brackets and quotes (i.e. ``" "``, ``{ }``, ``[ ]``)

[2019-01-08 13:20] M-Zeeshan-Haider commented on #1517
i have just followed these steps to set the witness node, not edited the files and i am receiving same screen.

![screenshot from 2019-01-08 17-48-41](https://user-images.githubusercontent.com/36418814/50833132-1d487c80-1372-11e9-8403-f367cdf47568.png)

and i have read in many links that this response is default response of witness node creation, not an error, because when i run this in localhost,

[2019-01-08 14:42] pmconrad commented on #1506
I think it requires more knowledge of cmake and build processes than of the internals of our codebase. Added the "good first issue" label.

[2019-01-08 14:47] pmconrad commented on #1517
You're missing the double-dash before the `rpc-endpoint` option, and you have whitespace around the `=`. Try this:
[code]

[2019-01-08 17:44] abitmore commented on #1517
Or use `ws://18.191.165.220:8090` instead of `wss`.

[2019-01-08 19:57] jmjatlanta commented on #1304
This is not a "How To", just some background information...

Short (TL;DR) version:

If you use a cUrl library that is statically linked with OpenSSL, you will need to statically link to cUrl and the same version of OpenSSL that was used to create the cUrl library.

If you use a cUrl library that is dynamically linked with OpenSSL, you will need to dynamically link to cUrl and OpenSSL, and will pr

[2019-01-08 21:34] jmjatlanta commented on #1186
What should happen if the _price.base.amount is 0? price_to_string is currently returning the string "0", paying no attention to precision. But yet the next line asserts that ``_price.base.amount >= 0``, which the `=` will never be true, as the ``return "0"`` above would have been hit. Should the FC_ASSERT be changed to ``_price.base.amount > 0``?

https://github.com/bitshares/bitshares-core/blob/

[2019-01-08 22:56] M-Zeeshan-Haider commented on #1517
no @jmjatlanta  i dont have changed or edited the the config or loggin file
i just used these commands given in bitshare-core docs

i have just followed these steps to set the witness node:

`sudo apt-get update
sudo apt-get install autoconf cmake make automake libtool git libboost-all-dev libssl-dev g++ libcurl4-openssl-dev

[code]

[2019-01-09 10:40] #1517 closed

[2019-01-09 11:00] M-Zeeshan-Haider opened #1519 "While creating our own DEX with bitshare Failed to sync with the node when i try to sync My own witness node to the CLI wallet"
creating own Decenteralized exchange with Bitshare i am able to setup the witness node and the UI on aws linux machine and and i am able to connect my own witness node to the CLI but it gives error of :

**Failed to sync with the API server**
Please verify that your computer clock is correct.

![screenshclockot](https://user-images.githubusercontent.com/36418814/50895259-8b5b7500-1440-11e9-8738-c0

[2019-01-09 13:42] pmconrad commented on #1186
IMO the test needs special handling for `i == 1` (result always equal to "0") and `i == 0 || j == 0` (always throws).
The idump can be removed, unless you want to manually inspect the results in each test run. Better choose some reasonable sample for i and j and test these explicitly.

[2019-01-09 13:47] pmconrad commented on #1519
Both the clock on your client PC as well as the system clock on your server node should be accurate. I would assume an AWS node to automatically provide the correct time, so you probably must sync your PC's clock with **the** current world time.

[2019-01-09 13:48] sschiessl-bcp commented on #1517
I can't connect to your node, it seems like it is stuck

![image](https://user-images.githubusercontent.com/33128181/50903278-a8328100-141d-11e9-9534-3ca803d6a88b.png)

[2019-01-09 13:55] M-Zeeshan-Haider commented on #1519
Thanks @pmconrad , but there is still same issue, i am having same time on both client and server set to UTC.
 still issue.............

[2019-01-10 05:05] manikey123 commented on #782
From my side, I tried using the database approach that digital lucifier had provided on telegram group. this took more than two hours for syncing the ledger. this was not even 10% completed. This was for node without replay.

[2019-01-10 07:15] M-Zeeshan-Haider opened #1520 "How we can add our own coins in the bitshare exchange? i am developing Decenteralized exchange using bitshare with no other exchange data"
I am developing DEX on Bitshare, but when i create the witness node it all sync the Bitshare Blockchain explorer blocks.

but i want a fresh installation of bitshare for my exchange, mean is that i want to add my own coins in it? it it possible?
if possible then how?

My questions:

1. Can we add our coins only?
2. Can i do a fresh installation of bitshare node with no sync of data? as i want to c

[2019-01-10 09:07] bitpalint opened #1521 "Secondary Node won't sync-up in a Primary Node on a private test-net"
Hello, we have this issue in our private test-net that occurred in the weekend, wherein the secondary node stopped syncing to the main node. Looking at the logs of the main node, it says it can't push the block because it is too old. Error below:
_

_

Any help how to get the secondary node synced up? We already tried passing the --resync-blockchain and --replay-blockchain on the secondary node bu

[2019-01-10 09:35] abitmore commented on #1521
* Increase `GRAPHENE_MAX_UNDO_HISTORY` value in your code
* keep more witnesses (block producing accounts) online (producing blocks): more than 2/3 of them.

[2019-01-10 10:58] abitmore commented on #314
@isamuelson
[code]

[2019-01-10 10:59] isamuelson commented on #314
its already installed...

i'm running under k8s

trying now this legacy fix from https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md

kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-config
data:
  ssl-ciphers: "ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES12

[2019-01-10 11:04] isamuelson commented on #314
yes, this fixed my issue.

[2019-01-10 11:25] imYao opened #1522 "Account Whitelist didn't work?"
**Bug Description**
Non-whitelist accounts can send or receive transactions to accounts that have a whitelisted list?
For example:

Account [A] whitelisted account [B], but account [C] which not whitelist by [A] can send transactions to [A], and [A] can send transactions to [C].

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.

- [

[2019-01-10 12:33] abitmore commented on #1522
Whitelisting is an asset-related feature, not for individual accounts to block or unblock others. If want to have the new behavior, please write a BSIP.

[2019-01-10 13:58] pmconrad commented on #782
My question was meant to be about restarting a fully synched node, in order to determine how much restarting for a config change hurts. One answer from telegram channel was 4 minutes I think.

Several telegram members agreed that an API for config changes without a restart would be "nice to have but not very important". It was a very small samle though. Nothing to base a decision on.

[2019-01-10 14:00] pmconrad commented on #1520
You can create a separate chain by cloning our codebase and creating a different genesis file suitable for your needs.
OR you use our chain with all its users AND tokens, and modify the UI so that it only displays the tokens you want to see in your exchange.

[2019-01-10 14:06] pmconrad commented on #1522
**abitmore** is right, see http://dev.bitshares.works/en/master/api/wallet_api.html#whitelist-account :

[2019-01-10 14:06] #1522 closed

[2019-01-10 18:29] ryanRfox opened #1524 "Update Copyright to 2020"
**User Story**
As the `BitShares DAC` we want `the copyright to reflect the current year` so that `our development efforts are respected`.

**Additional Context (optional)**
Impacts multiple branches:
<del>- [ ] `master` #1523 </del>
- [x] `develop` #1525
<del>- [ ] `hardfork` #1526 </del>

[2019-01-10 21:45] abitmore commented on #1524
If it's a task of next release, one PR to develop branch is enough, since it will be merged into other branches later. If we want to have it in master branch before next release (which IMHO is not needed because we haven't contributed code to master in 2019 so no need to update license year there), please follow the document-change steps (aka Emergency Fix steps) listed in Git Flow.

[2019-01-11 07:52] bitpalint commented on #1521
Thank you very much! It worked by increasing the GRAPHENE_MAX_UNDO_HISTORY

[2019-01-11 07:52] #1521 closed

[2019-01-13 21:44] manikey123 commented on #782
Completed
get_account_history_by_operations
get_asset_holders

Uploaded code for review PR: #1513

Remaining item yet to start: get_key_references should not subscribe to related accounts( (Issue 1472) #1499)

[2019-01-14 02:46] manikey123 commented on #1472
@jmjatlanta can u explain the relation between this ticket and #782 and what needs to be done?

[2019-01-14 02:47] manikey123 commented on #782
@jmjatlanta can u explain the relation between this ticket and #782 and what needs to be done?

[2019-01-14 09:32] manikey123 commented on #783
From #781
"i am wondering if we should FC_ASSERT the limit in get_limit_orders and similar too as we do in most calls."
So focusing on  get_limit_orders. Currently in below line for get_limit_orders the limit is external set from the api input
https://github.com/bitshares/bitshares-core/blob/master/libraries/app/database_api.cpp#L1152

Please do provide clarifications for the below points:
1)  Sho

[2019-01-14 11:17] jmjatlanta commented on #1472
Yes. We hard-coded that the user should be limited to passing no more than 100 keys. We would like that to be configurable, so that a node can easily customize the quantity their client can request.

[2019-01-14 12:34] pmconrad commented on #783
IMO FC_ASSERT should be added, with a default value of 100, and the value should be configurable in the sense of #782 .

[2019-01-14 12:57] abitmore commented on #783
bitshares-ui calls get_limit_orders, get_call_orders, get_settle_orders with limit = 300. See https://github.com/bitshares/bitshares-ui/issues/1796

[2019-01-14 15:50] jmjatlanta commented on #1186
Fixed by PR #1518

[2019-01-14 15:50] #1186 closed

[2019-01-14 17:33] jmjatlanta commented on #1148
My interpretation of the above:

My node is stale, and busy syncing. It receives a transaction (not part of a block). It applies the transaction as pending, and then has to hastle with it as new blocks come in (roll it back, apply block, see if it was part of the block, and if not, apply it again).

The desired process would be that if we are stale, ignore incoming transactions that are not part o

[2019-01-14 17:43] jmjatlanta commented on #1147
The wiki mentions this new cmake variable. See https://github.com/bitshares/bitshares-core/wiki/BUILD_WinDevEnv

I will close this ticket as I believe that to be enough. If someone disagrees, please reopen.

[2019-01-14 17:43] #1147 closed

[2019-01-14 20:51] abitmore commented on #1148
A scenario that need to consider is, a node can become stale when it was in sync, so in this case it's dangerous to simply throw away pending transactions. Also, why the node became stale does matter.

In regards to ignoring or rejecting new transactions, I guess we need to review p2p logic, we should not disconnect the peer when rejecting the transaction due to this reason, nor propagate the tran

[2019-01-15 18:37] jmjatlanta commented on #995
Another option to prevent consensus size differences (suggested by @pmconrad) is to prevent network messages above a certain size. This would "catch the problem at the door", and not affect consensus at the pack/unpack level. This has been done as part of pull https://github.com/bitshares/bitshares-fc/pull/100

Should it be decided that pull 100 fixes this issue as well, the following questions re

[2019-01-15 21:45] abitmore commented on #1105
An idea is to add an index on `last_confirmed_block_num` field to `witness_index`, so the order will be automatically maintained. In addition, for better performance, carefully maintain a secondary index to keep track of the nth witness. I guess it would improve performance a bit. If we don't use a secondary index, we would have to travel from head to find the nth witness every time, which is not

[2019-01-15 22:12] abitmore commented on #1313
Closed by #1527.

[2019-01-15 22:12] #1313 closed

[2019-01-16 13:53] pmconrad commented on #1105
Good idea to index on `last_confirmed_block_num`. This avoids copying and sorting stuff in every block, and the index only needs to update one witness at a time.
A secondary index will be a nightmare during maintenance, it's probably better to simply iterate through the original index. Can still improve on that later.

[2019-01-16 15:40] abitmore opened #1532 "Add a readme file to programs directory"
**User Story**
As a newcomer I want to know what the programs are. There is a readme file in plugins directory and it's useful. We should add similar files to programs and maybe libraries.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or somethi

[2019-01-19 06:17] cogutvalera commented on #1171
guys check please this PR https://github.com/bitshares/bitshares-fc/pull/97

[2019-01-19 08:31] cogutvalera commented on #1171
also check this PR https://github.com/bitshares/bitshares-core/pull/1382 too because it is related to current issue

[2019-01-19 12:43] cogutvalera commented on #950
guys check please this PR https://github.com/bitshares/bitshares-core/pull/1413

[2019-01-21 19:19] jmjatlanta commented on #1520
@M-Zeeshan-Haider Was your question answered? Please comment here. If not, this issue will be closed.

[2019-01-21 22:02] abitmore opened #1536 "Remove "create-genesis-json" startup option from witness_node"
**User Story**
@pmconrad mentioned in https://github.com/bitshares/bitshares-core/pull/1529#issuecomment-454465744:

Things could be simplified by creating an example genesis file somewhere in the documentation, removing that option from the code...

Lately @jmjatlanta implemented the code in commit https://github.com/bitshares/bitshares-core/pull/1529/commits/46e248ed30de0e207c53bdf9c1e10f970949f

[2019-01-21 22:11] jmjatlanta commented on #1536
I modified the wiki page for private testnet here: https://github.com/bitshares/bitshares-core/wiki/private-testnet

[2019-01-22 08:56] abitmore commented on #1536
@jmjatlanta please be aware that the private keys for the `genesis.json` file in `testnet` branch are not publicly known. For new private testnets, people need to put keys controlled by themselves into `genesis.json` (like the "create-genesis-file" option did). Current instruction in wiki is not clear enough for newcomers.

A publicly known key pair is:
* public key: BTS6MRyAjQq8ud7hVNYcfnVPJqcVps

[2019-01-22 10:56] #1520 closed

[2019-01-22 12:52] cedar-book commented on #1536
@abitmore, yes, I am planing to renew the testnets section.

[2019-01-22 21:49] cogutvalera opened #1537 "Wallet API add more features"
**User Story**
As a `developer` and `user` of `Wallet API` I want to add more features inside `Wallet API` so that it becomes more developer friendly, more powerful and more informative.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the build process or something

[2019-01-22 21:50] cogutvalera commented on #1537
@ryanRfox assign this issue to me please.
My estimation for this huge issue is approximately around 40 hours. Thanks !

[2019-01-22 22:05] oxarbitrage commented on #1537
Lot of the features to implement are already there with the same name or similar.

For example `get_account_balances` is `list_account_balances` in the wallet, `get_witnesses` is `get_witness` and so on.

Please identify the exact features you will like to add from a cli wallet user point of view, we dont want just to add more calls but valuable calls. Please note that software using the wallet ap

[2019-01-22 23:18] #1110 closed

[2019-01-22 23:21] jmjatlanta commented on #995
@pmconrad This ticket fixed the problem of serialization checks, but the sizeof problem probably still exists in areas. Should a new ticket be created, or should we just use this one?

[2019-01-23 05:03] cedar-book commented on #1536
@oxarbitrage, Thank you for the information! I'll add that how to information.

[2019-01-23 06:49] cogutvalera commented on #1537
@oxarbitrage there in my list aren't the same features as you said, maybe similar, but not the same.
So `get_account_balances` and `list_account_balances` are different, the last one uses list of asset ids, the first one just uses all assets. So also `get_witness` and `get_witnesses` aren't the same, because `get_witness` returns just one witness by owner account name, but `get_witnesses` returns

[2019-01-23 08:23] manikey123 commented on #783
783 has 3 API's in scope.
Initial research : 0 hours ( this ticket is previously researched part of 782)
Estimating 3 hours per API (development & research, unit testing, review notes)
Total hours estimate : 3*3=9 hours (estimate)
@ryanRfox @abitmore @pmconrad : let me know if I can proceed with development. Thanks

[2019-01-23 12:12] oxarbitrage commented on #1537
If an exchange ask us to add any of those functions to the wallet we will probably do it without much questions. Making a list of all API available is too much work in my opinion.

What about a call in the wallet to call any API , something like:

`wallet_api::call_api(api_to_call, api_function, args);`

so it can be used as:
`unlocked>> call_api "database", "get_witness", ["arg1", "arg2"]`

[2019-01-23 13:01] cogutvalera commented on #1537
@oxarbitrage thanks for your idea, I thought about it too, it is nice idea, but will require more work than adding list of features as I've suggested, because different methods have different results and different arguments.

[2019-01-23 13:06] cogutvalera commented on #1537
@oxarbitrage your idea is nice but won't work as standard commands work with `gethelp` method and inline documentation (I meand this Wallet API documentation https://github.com/bitshares/bitshares-core/issues/1361), so your idea is more complecated and require more work also additional work with documentation workflow for new features in Wallet API.

[2019-01-23 13:59] oxarbitrage commented on #1537
I will still prefer an approach more like "as a cli wallet trader i need to have `get_ticker` because this and that", "as a witness i need `get_witness_count` to make my life easier in this situation, other witnesses will also benefit", etc.

This are sample specific requests from users that we can of course consider if they happen. Adding 50+ functions at once to the cli wallet that no user is as

[2019-01-23 14:30] cogutvalera commented on #1537
I prefer another approach than you @oxarbitrage , I prefer to give powerful and flexible Wallet API to developers and users so they can do more great solutions by using Wallet API and without requiring to add this kind of feature or that. More powerful and flexible Wallet API will attract more new developers and new users, do not forget about this too.
I need just do it.

[2019-01-23 15:18] pmconrad commented on #1537
This proposal adds no value. All the proposed calls are available in the node API (and were probably just C&P'ed from [there](https://github.com/bitshares/bitshares-core/blob/2.0.181221/libraries/app/include/graphene/app/database_api.hpp#L744-L846) ). Any client connecting to the wallet can just as well connect a node and call them directly.
Closing.

[2019-01-23 17:29] pmconrad commented on #1537
You mean your best argument is "there's already useless stuff in there so why not spend 50 hours on implementing more useless stuff"?

[2019-01-23 17:48] cogutvalera commented on #1537
@pmconrad NO, I just wondered why do you think it is useless stuff ? If I thought it is useless stuff I didn't create this issue.

[2019-01-23 18:14] cogutvalera commented on #1537
I didn't told that and I didn't mean that. My best argument I told already and why I think this stuff is valuable, but you told that it is useless, what is your best argument ? why this stuff is useless ?

[2019-01-24 05:53] cogutvalera commented on #1537
@pmconrad reopen this issue please because I want to add this valuable stuff in Wallet API even without any compensation, this stuff is more important for me and for BitShares community ! Thanks !

[2019-01-24 12:46] pmconrad commented on #1537
Reopening for further discussion.
My opinion remains unchanged, others may disagree.

[2019-01-24 15:21] cogutvalera commented on #1537
ok thx

[2019-01-24 20:05] jmjatlanta commented on #1418
I have attempted to replicate the issue and am unable. My environment is a little different (Ubuntu 18.10).

Could you please give me the steps to recreate the issue? Please also include the output from cmake. Thank you.

Additional info: I tried with and without the suggested change to the PERLLIB line in libraries/wallet/CMakeLists.txt, and both worked fine. Change is in the ``jmj_1418`` branch,

[2019-01-24 20:12] abitmore commented on #1418
@jmjatlanta have you tried out-of-source build?
[code]

[2019-01-24 21:33] jmjatlanta commented on #1418
Just tried. Still works for me.

[2019-01-25 11:25] jmjatlanta opened #1540 "sizeof() can return a platform-dependent result"
As stated here: https://github.com/bitshares/bitshares-core/issues/995#issuecomment-450638713 , sizeof() can return a platform-dependent result. This can endanger consensus, if one node rejects a (block | transaction) due to size, but another accepts it.

In all code that limits or rejects due to size, a platform-independent size must be calculated.

**Impacts**

- [ ] API (the application program

[2019-01-25 12:01] jmjatlanta commented on #1540
64bit Linux:
The size of a(n) int is: 4
The size of a(n) long is: 8
The size of a(n) long long is: 8
The size of a(n) unsigned long is: 8
The size of a(n) void* is: 8
The size of a(n) std::string is: 32

[2019-01-25 12:58] jmjatlanta commented on #995
Fixed by bitshares/bitshares-fc/pull/100 and (to a lesser degree) bitshares/bitshares-fc/pull/103. This exposed another issue detailed at #1540

[2019-01-25 12:58] #995 closed

[2019-01-25 15:04] oxarbitrage commented on #1418
closed by https://github.com/bitshares/bitshares-core/pull/1539

[2019-01-25 15:04] #1418 closed

[2019-01-25 18:41] akledirs opened #1542 "Unexpected behavior with low target ratio"
If Target Ratio set less 1.75 then margin call order have low size. Only after full execution this order create new order with full size order as if target ratio equal 0.
Before full execution target order
![bug01](https://user-images.githubusercontent.com/6587277/51765591-3dee3180-20e9-11e9-934e-437022c4bd6e.PNG)
![bug02](https://user-images.githubusercontent.com/6587277/51765599-4181b880-20e9-11

[2019-01-25 20:22] abitmore commented on #1542
Current behavior is actually what you described. See https://github.com/bitshares/bsips/blob/master/bsip-0038.md#the-definition-of-target-collateral-ratio

So why in your screenshot the order's CR changed from 1.70 to 1.701? I guess the answer is because size of the matched limit order is too small. If you want to test the feature, try match it with a bigger limit order.

[2019-01-25 21:33] abitmore commented on #995
I guess this can be put into next feature release?

[2019-01-25 22:05] jmjatlanta commented on #995
Good question. Neither bitshares/bitshares-fc/pull/103 nor bitshares/bitshares-fc/pull/100 have hardfork protection, as the rules should not have changed.

The FC_ASSERTs removed in bitshares/bitshares-fc/pull/103 have been replaced by the 1 FC_ASSERT added in bitshares/bitshares-fc/pull/100.

Please feel free to put a second set of eyes on those changes.

[2019-01-25 22:34] oxarbitrage commented on #1532
closed by https://github.com/bitshares/bitshares-core/pull/1534

[2019-01-25 22:34] #1532 closed

[2019-01-26 07:34] akledirs commented on #1542
Was sell ~19 gridcoin - this show in changed debt. Yes, later I sold more GRIDCOIN and I can't sell all - only such value that ratio encrease to 1.75. This not comfortly - order should show on sum needed for increasing to ratio 1.75

[2019-01-26 09:36] abitmore commented on #1542
Then it's a UI issue. Please report to https://github.com/bitshares/bitshares-ui.

[2019-01-26 09:36] #1542 closed

[2019-01-28 13:10] abitmore commented on #1373
@vanissoft your question is not related to this issue. If it's a consensus change, perhaps better open a new issue in https://github.com/bitshares/bsips ; if it's a UI issue, please check https://github.com/bitshares/bitshares-ui .

[2019-01-28 13:12] prateektiwari7 opened #1545 "ld: symbol(s) not found for architecture x86_64 Mac issue"
Hi I am facing issue in building the code.

`[ 29%] Linking CXX executable real128_test
Undefined symbols for architecture x86_64:
  "boost::system::system_category()", referenced from:
      fc::copy(fc::path const&, fc::path const&) in libfc.a(filesystem.cpp.o)
      boost::filesystem::detail::recur_dir_itr_imp::increment(boost::system::error_code*) in libfc.a(filesystem.cpp.o)
      boost::file

[2019-01-28 13:54] jmjatlanta commented on #1545
Can you tell me which version of Boost you have installed? Also, please let me know the parameters that you passed to the ``cmake`` command.

[2019-01-28 16:15] reactivespace commented on #1536
@jmjatlanta I am setup my dex using Bitshares Core but facing an error while running on lnix. when I run with new chain with zero block process not initiate.

[2019-01-28 16:42] jmjatlanta commented on #1536
@reactivespace If you believe that the removal of create-genesis-json is the problem, please post more details of the message you are receiving. For technical assistance, you may try https://bitsharestalk.org.

[2019-01-28 19:33] pmconrad commented on #1373
Apparently there is an ongoing phishing attack. Someone is trying to take over accounts by having unsuspecting users approve a proposal.
Related: https://github.com/bitshares/bitshares-ui/issues/2428

[2019-01-28 20:52] OpenLedgerApp commented on #1268
@thul3 Thanks a lot for your valuable comments. Most of them are valid and can be encouraged as a good supplement to BSIP-43.
1) LTM - agree, we should think how to handle it.
2) Market fee reward is accumulated on the user account. Each user decides when he wants to claim the market fee reward and move it to their active balance. The current implementation doesn't guarantee something if the rewar

[2019-01-29 07:08] prateektiwari7 commented on #1545
This is `cmake` command I am using `cmake -DBOOST_ROOT=/usr/local/opt/boost@1.60 -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl .`

For Boost Please check this screenshot
![screen shot 2019-01-29 at 10 47 33 am](https://user-images.githubusercontent.com/25363351/51890689-b2afbd00-23c2-11e9-815c-5e2c8e66d131.png)

[2019-01-29 07:10] prateektiwari7 commented on #1545
This is `cmake` command I am using `cmake -DBOOST_ROOT=/usr/local/opt/boost@1.60 -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl .`

For boost please check this screenshot.

![screen shot 2019-01-29 at 12 39 21 pm](https://user-images.githubusercontent.com/25363351/51890786-015d5700-23c3-11e9-80a9-f325a6f81fa3.png)

[2019-01-29 07:43] prateektiwari7 commented on #1545
I got another Error now.

My steps to build are .

[code]

Currently I reinstall my boost version to
[code]

The error now I am getting as
`In file included from /Users/yudiz/Documents/Graphene/bitshare_!/bitshares-core/libraries/fc/src/thread/thread_d.hpp:5:
/Users/yudiz/Documents/Graphene/bitshare_!/bitshares-core/libraries/fc/src/thread/context.hpp:3:10: fatal error:
      'boost/context/all.hp

[2019-01-29 09:05] abitmore commented on #1545
IIRC bitshares-core doesn't support boost 1.68 so far.

[2019-01-29 12:51] oxarbitrage commented on #1348
related https://github.com/bitshares/bitshares-core/pull/1372

[2019-01-29 13:20] jmjatlanta commented on #1206
The original issue has been fixed in #1347 . It would be best that if any others are found, please create a new issue.

[2019-01-29 13:20] #1206 closed

[2019-01-29 14:45] oxarbitrage commented on #1423
https://github.com/bitshares/bitshares-core/pull/1493

[2019-01-29 14:49] vanissoft commented on #1373
@pmconrad Thanks. It is an attack, yes, and this is what's wonders me about the ability of 3rd party, with 0 permissions, to put proposals over any account. Sorry if this is not the current behaviour, but the attack seems to be as i suspect.

[2019-01-29 14:59] jmjatlanta commented on #1545
Yes, Boost 1.68 moved around some of the headers. The fixes are in development, but not quite ready yet.

It looks like you have Boost 1.60 installed, and that is what I currently use on macOS. I will follow your steps above, and see if I can recreate your issue.

[2019-01-29 16:34] christophersanborn commented on #1340
Logging 30 hours toward target "Device Side: Nano app"  in the time period from 1/1/2019 to 1/27/2019.  This covers [21 commits](https://github.com/christophersanborn/ledger-app-bitshares/commits/master) by me from b41063b up through e9f572c.

This brings total thus far toward the target to 55 hours.

Tagging: @ryanRfox

[2019-01-30 08:37] xeroc commented on #843
We use haproxy as loadbalancer and that allows to also limit by **bytes_in/out per connection**.
So a rate limitation would be possible. Still, a request count is not possible with a websocket connection (to my knowledge).

[2019-01-30 15:15] GabrielLeonte opened #1546 "GPH Not BTS"
Hi guys. I m trying to register accounts on my own faucet but i get that error...
Why is GPH keys and not BTS keys?

  ActiveRecord::SchemaMigration Load (0.2ms)  SELECT `schema_migrations`.* FROM `schema_migrations`
Processing by Api::V1::AccountsController#create as JSON
  Parameters: {"account"=>{"name"=>"diou12", "owner_key"=>"GPH7AX7qDfh8UhzWFaR1BMrHAUVeywPLcYqF14FWrtEfCQaC4WrpE", "active_key

[2019-01-30 17:07] abitmore commented on #843
@xeroc or @clockworkgr would you like to create a document about using HAProxy as load balancer? Thanks a lot.

[2019-01-31 11:24] prateektiwari7 commented on #1545
Hi @jmjatlanta Did you fixed that ?

[2019-01-31 12:42] pmconrad commented on #1545
Boost 1.68 is not supported yet. Please use a compatible version for now.

[2019-01-31 12:44] pmconrad commented on #1546
Please use our bug report template if something doesn't work for you. Your report is lacking essential information.

[2019-01-31 15:56] GabrielLeonte commented on #1546
What informations? Request and i will provide

[2019-01-31 16:53] abitmore commented on #843
@xeroc thank you very much. Do we need to link it in the main wiki page? Also I guess @cedar-book will have interest in this.

[2019-01-31 16:55] abitmore commented on #1546
@GabrielLeonte see https://github.com/bitshares/bitshares-core/blob/master/.github/ISSUE_TEMPLATE/bug_report.md

[2019-01-31 16:59] GabrielLeonte commented on #1546
Bug Description: Wrong public & private key
Impacts: Cannot create accounts on faucet
Steps To Reproduce Setup public test network
Expected Behavior A BIG ERROR

[2019-01-31 17:34] pmconrad commented on #1546
Please describe **in detail** how you did "Setup public test network".

[2019-01-31 17:35] GabrielLeonte commented on #1546
Like here [Click](http://docs.bitshares.org/testnet/public-testnet-howto.html)
Until Nginx Webserver Step

[2019-01-31 20:02] jmjatlanta commented on #1465
Fixed by #1498

[2019-01-31 20:02] #1465 closed

[2019-01-31 20:19] jmjatlanta opened #1548 "smart_ref causes build issues"
Some platforms are very picky about including headers. That is fine. But there is one header that constantly needs to be added, and it seems to be fairly needless...

fc::smart_ref, as its name implies, attempts to be a "smart reference". It is used in only 1 area of Bitshares, having to do with the collection of fee parameters. Due to the design, each user of fee parameters (many) must also inclu

[2019-01-31 22:05] jmjatlanta commented on #1545
Please provide all the output from the following procedure:
[code]
I am on a slightly newer version of macOS, but I do not think anything recent would have caused problems for your version.

[2019-02-01 01:42] cedar-book commented on #843
@abitmore, Yes. Thank you for the information!!

[2019-02-01 10:33] pmconrad commented on #1546
Hm. The correct prefix in testnet is "TEST", not "GPH" nor "BTS". The documentation is outdated.

Did you use "GPH" in the other steps as well? Witness key in config file? cli_wallet commands? Didn't you see any errors there?

@cedar-book please review your testnet documentation as well, I think there are some wrong prefixes in there.

[2019-02-01 10:43] GabrielLeonte commented on #1546
Nope. Everything in witness node and genesis is BTS. I don;t know why faucet generate GPH

It's a good ideea if docs will be updated....

[2019-02-01 12:42] abitmore commented on #1546
@GabrielLeonte faucet doesn't generate keys, it accepts keys generated by clients/UI then passes them to cli_wallet.

[2019-02-01 12:43] GabrielLeonte commented on #1546
Wait. So in Ui i have some config where i can change key?

[2019-02-01 12:45] abitmore commented on #1546
@pmconrad perhaps it's a good idea to let `get_config` return the prefix? That's something we can do in the core.

[2019-02-01 14:53] GabrielLeonte commented on #1546
Now i will try again to setup everything back...last time i didn't used testnet brench.

[2019-02-01 15:12] cedar-book commented on #1546
@pmconrad,  While I was working on to move doc.bitshares.org, I found "Graphene" or "GHP..." in several areas. I've been replacing "Graphene" by "BitShares". But probably, I missed replace "GHP" to "BTS" or something else. I will look through the dev and the how websites.

[2019-02-01 15:40] ryanRfox commented on #1546
Perhaps @sschiessl-bcp can review on behalf of UI Team and @xeroc regarding the faucet Abit's comment about the 'get_config' settings:
https://github.com/bitshares/bitshares-core/issues/1546#issuecomment-459711452

[2019-02-01 15:42] ryanRfox commented on #1546
@GabrielLeonte please keep this thread updated with your progress. We will attempt to get you up an running and ensure the docs match the intended outcome. We will close this once it goes stale. Thanks in advance for your efforts.

[2019-02-01 16:01] ryanRfox commented on #1303
@abitmore or @pmconrad : May I request your confirmation that this Issue can be closed? I believe it was fixed in #1314 but I'm not sure.

[2019-02-01 16:16] ryanRfox commented on #1118
I believe this may already be resolved, but going to add it to the next Feature Release so we test it out and validate our documentation. Here is the current [Private Testnet Setup](https://dev.bitshares.works/en/master/development/testnets/private_testnet.html) page.

[2019-02-01 16:21] ryanRfox commented on #798
I'm adding this to the (next) Feature Release for us to put some effort into. We should also look at #167 and comment further on how we intend to proceed.

[2019-02-01 16:36] ryanRfox commented on #777
Do we have any related Issues for the Task List https://github.com/bitshares/bitshares-core/issues/777#issuecomment-392164949 @jmjatlanta outlined above?

[2019-02-01 17:36] ryanRfox opened #1550 "Port Network Mapper from bitshares-1"
Please port the [Network Mapper](https://github.com/bitshares/bitshares1-core/blob/master/programs/utils/map_bts_network.cpp) tool from BitShares-1 repo. This tool will be helpful for monitoring P2P connections and related services such as those found in #1348

[2019-02-01 17:39] cedar-book commented on #1546
I found an area using a ward "graphene" [~/graphene-ui/web](https://dev.bitshares.works/en/master/development/testnets/setup_faucet.html#update-wallet) in [How to Set up the Faucet](https://dev.bitshares.works/en/master/development/testnets/setup_faucet.html) page.
I've been asking what to do this section because I do not know what's correct way to so.

[2019-02-01 17:53] ryanRfox commented on #1524
Yes, you are correct @abitmore we need only #1525 and it will propagate elsewhere. @xeroc provided a thoughtful comment https://github.com/bitshares/bitshares-core/pull/1525#issuecomment-459773071 for me to consider, so moving this to the next Feature Release.

[2019-02-01 18:13] abitmore commented on #1303
@ryanRfox this issue hasn't been fixed.

[2019-02-01 18:16] abitmore commented on #1118
I don't think we've worked on this issue.

[2019-02-01 18:16] abitmore commented on #798
IMHO won't fix.

[2019-02-01 19:34] cogutvalera commented on #1537
PR is ready here https://github.com/bitshares/bitshares-core/pull/1551

[2019-02-01 20:08] cogutvalera opened #1552 "SQLite plugin for full node with all blockchain data"
**User Story**
As a `developer` I want `SQLite plugin` so that `developers can use full node with SQLite database`.

**Impacts**
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travis, etc.)
- [ ] DEX (the Decentralized EX

[2019-02-01 20:08] cogutvalera commented on #1552
@ryanRfox please assign this issue to me, thank you !

[2019-02-02 08:13] pmconrad commented on #798
Agree. The field is only relevant if you want to start a new chain.

[2019-02-02 08:13] #798 closed

[2019-02-02 23:16] oxarbitrage opened #1553 "remove old hardfork checks"
There are certain checks in the codebase that are safeguards added before a consensus upgrade is triggered and that are not needed after that date pass.

This checks can only be removed at the next hardfork as they are part of the consensus code.

This ticket is to identify and remove the most of this checks we can for the next consensus release.

Some of this checks are easily identfied in the co

[2019-02-03 00:08] nathanhourt commented on #1506
I'll take this issue, if no one else already wants it. I think it shouldn't be too difficult, but I'm going to explore some other changes simultaneously that I think are worth doing, most notably:

 - Break FC out from a submodule to an external dependency which is expected to be installed in the system
 - Use the Meson build system for the protocol library, and evaluate the benefits/viability of

[2019-02-03 13:44] ryanRfox commented on #1537
@cogutvalera I appreciate the focus of your user story in making the BitShares Project more developer friendly. However, like @pmconrad I fail to see how these changes add value to the developer experience. These API calls already exist within the `witness_node` and a developer may access them in a similar way.

The intent of the Community Claims process is for the Core Team to review submitted Is

[2019-02-03 14:04] ryanRfox commented on #1412
Moving to (next) Feature Release because @cogutvalera has expressed interest in this and a few related Issues. My intent is the Core Team will discuss, prioritize and determine next steps by commenting within these Issues. We are going into a Release week, so our focus is elsewhere. Please expect an update  near 13 FEB.

[2019-02-03 14:06] ryanRfox commented on #1432
Moving to (next) Feature Release because @cogutvalera has expressed interest in this and a few related Issues. My intent is the Core Team will discuss, prioritize and determine next steps by commenting within these Issues. We are going into a Release week, so our focus is elsewhere. Please expect an update  near 13 FEB.

[2019-02-03 14:07] ryanRfox commented on #950
Moving to (next) Feature Release because @cogutvalera has expressed interest in this and a few related Issues. My intent is the Core Team will discuss, prioritize and determine next steps by commenting within these Issues. We are going into a Release week, so our focus is elsewhere. Please expect an update  near 13 FEB.

[2019-02-03 15:11] ryanRfox commented on #1552
I'll quote @pmconrad from a previous thread on this topic, "The plugin should contain an abstraction layer that allows easy adaption to various databases / other output formats." The context then was adding support for MSSQL and other DB providers. The prevailing sentiment at the time was:
* We created an Elasticsearch plugin that serves as the reference implementation
* Core Team will continue to

[2019-02-03 19:36] cogutvalera commented on #1537
ok sure let this PR be opened
Thanks !

[2019-02-03 19:37] cogutvalera commented on #1432
Thanks !

[2019-02-03 19:38] cogutvalera commented on #950
Thnaks !

[2019-02-03 19:40] cogutvalera commented on #1412
Thanks !

[2019-02-03 19:54] manikey123 commented on #783
Starting with above development

[2019-02-03 22:05] ryanRfox commented on #1369
I'm going to add this to (next) Protocol Release for Core Team to discuss further.

[2019-02-04 13:16] pmconrad commented on #1118
Resolved by #1529

[2019-02-04 13:16] #1118 closed

[2019-02-04 13:22] pmconrad commented on #1552
Title refers to "all blockchain data". ES plugin only stores static history.

The general topic (i. e. moving to a different underlying database) has been discussed various times. In my understanding, consensus is that
a) current in-memory database is working well
b) other solutions would be a performance killer.

IMO this is not in scope for the core worker.

[2019-02-04 13:35] cogutvalera commented on #1552
This plugin isn't intended to replace RAM solution, because you're absolutely right @pmconrad about performance, the idea is just to give an opportunity to have full node based on SQLite database with less RAM memory where performance isn't critical as get any data from node. Currently we have just a few maybe if not at all full node based on RAM solution because it is expensive IMHO than have a l

[2019-02-04 13:56] pmconrad commented on #1506
IMO keeping FC as a submodule keeps the build process simpler than making it an external dependency. (I had a separate fc RPM package in my openSUSE repo, with the idea that it could be used in multiple graphene-based builds. It turned out that each graphene package required its own specific version of fc, which completely defeated the purpose. I'm now building it inline with my current BTS packag

[2019-02-04 14:22] ryanRfox commented on #1348
Removing this from the Feature Release in favor of #1550 . This does feel more like a UI request at this time, but I want to hold this open within Core repo as a reminder.

May I request @sschiessl-bcp @litepresence or another interested party create an Issue within the UI repo as a feature request? Then, please add a comment here to link the two.

Thanks for continuing to advance this request.

[2019-02-04 15:25] ryanRfox commented on #1506
I assigned @nathanhourt and attempted to pull out a task list from the previous comments, now within the Description. I'll work with @nathanhourt directly about how we can estimate/update as we progress.

I read some `chainbase` discussion elsewhere, so requesting the results of that be added here.

Thanks!

[2019-02-04 15:34] nathanhourt commented on #1506
The results are fairly unanimous on chainbase, nobody likes it, so we don't run with it. I'll just make `protocol` dep `db`

I'm also thinking that reorganizing the build system is probably biting off more than I should chew for this particular issue. I maintain that it would be beneficial, but it's not as high a priority as just moving the protocol to its own library.

[2019-02-04 15:39] xeroc opened #1554 "Implement signals in P2P network code"
**User Story**
We (node operators) want to be able to build a plugin to analze the performance of the P2P network code. For this, we need to be able to obtain *metrics* (counter, gauge, historgram, summary) that can then be exported, presented and analyised with seprated software.

Possible software to use for this:
* (Prometheus)[https://github.com/prometheus] / [C++ Library](https://github.com/j

[2019-02-04 15:52] nathanhourt commented on #1554
Alright, so initially my focus will be on adding signals to the network code which can be used to receive the timestamp and a reference to a buffer of the data whenever a message is sent or received. Then I'll make a plugin that connects to those signals with a fast handler that copies the buffer only if necessary and schedules further processing so the network code unblocks ASAP. This means the s

[2019-02-04 17:16] ryanRfox commented on #782
Added this to our (next) Feature Release to get some eyes on this.

[2019-02-04 19:43] ryanRfox commented on #844
Assigning @manikey123 and placing into (next) Feature Release for further review, with the understanding it will begin after 783 competes.

Please add some details about proposed development efforts along with estimate.

[2019-02-04 20:42] abitmore commented on #844
IIRC @jmjatlanta had made some progress on this. See https://github.com/bitshares/bitshares-fc/pull/45.

[2019-02-05 06:19] sschiessl-bcp commented on #626
Can I get a definition of what data, if any, will be available afterwards?

For example, it would also be valuable to have a flag if commercial use is allowed.

[2019-02-05 10:17] bitfag commented on #782
What about `get_order_book` API call? It has a hardcoded limit `FC_ASSERT( limit <= 50 );`

[2019-02-05 11:45] xeroc commented on #1554
+1

Another potentially interesting though could be the connected nodes and potential nodes or why nodes have been disconnected etc ... (just thinking out loud)

[2019-02-05 11:49] oxarbitrage commented on #1051
closed by https://github.com/bitshares/bitshares-core/pull/1272

[2019-02-05 11:49] #1051 closed

[2019-02-05 12:07] ryanRfox commented on #867
Removing from 201902, adding to (next) Feature Release.

[2019-02-05 18:10] nathanhourt commented on #1554
Yeah, that's quickly evolving into a whole new networking API, which I could try to do... but realistically that'll probably happen when I make a whole new networking layer. In the meantime, though, the more we have documented about what we want from an ideal API to an ideal networking layer, the faster and easier I'll be able to write it when I get down to it.

[2019-02-05 19:02] jmjatlanta commented on #1545
The real fix for smart_ref can be tracked by following issue #1548.

[2019-02-05 19:03] jmjatlanta commented on #1545
Closed by mistake... Sorry. Please let us know if this is still an issue.

[2019-02-05 19:08] jmjatlanta opened #1557 "Support Boost version 1.69"
Boost 1.68 removed some headers. To compile with Boost 1.68 and above, changes will have to be made to bitshares-core.

**Build Error Description**
header boost/context/all.hpp cannot be found

**Build Environment**
 - Host OS:             Ubuntu 18.10
 - Host Physical RAM    32GB
 - Source Branch/Tag:   develop
 - OpenSSL Version:     1.1.0h
 - Boost Version:       1.68.0
 - C++ Compiler:

[2019-02-05 19:43] oxarbitrage opened #1558 "add network-mapper to programs README"
as https://github.com/bitshares/bitshares-core/pull/1555 will be merged soon this ticket is to add an entry to the https://github.com/bitshares/bitshares-core/blob/develop/programs/README.md table.

[2019-02-05 20:33] jmjatlanta opened #1560 "std::min requires 2 matching parameters"
On macOS, size_t is an unsigned long long. std::min does not do implicit conversions, and fails to compile certain fc:: headers.

**Build Error Description**
build error stating it cannot find an appropriate template for std::min

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOutpu

[2019-02-05 20:43] abitmore commented on #1270
Fixed by #1324.

[2019-02-05 20:43] #1270 closed

[2019-02-05 20:53] abitmore commented on #1246
@jmjatlanta this has been done? Why not close it?

[2019-02-05 20:59] #1246 closed

[2019-02-05 21:41] marcialvieira commented on #1340
Logging 24 hours toward target "Host Side: Nano S implementation" in the time period from 1/18/2019 to 2/4/2019. This covers [8 commits](https://github.com/christophersanborn/ledger-app-bitshares/commits/master?author=marcialvieira) by me from d4e2ece up through 5cfbf3b.

Estimating between 40 and 60 hours for this component, including the 24 hours already done, depending on the need of [operation

[2019-02-05 22:42] #1560 closed

[2019-02-05 23:04] jmjatlanta commented on #1557
This was already done. Thanks @nathanhourt

[2019-02-06 06:37] prateektiwari7 commented on #1545
@jmjatlanta Thanks for your help

[2019-02-06 14:11] oxarbitrage commented on #842
closed by https://github.com/bitshares/bitshares-core/pull/1549

[2019-02-06 14:11] #842 closed

[2019-02-06 18:59] ryanRfox commented on #783
Assigned to @manikey123 for 3 hours per API. Added a Task List to the Description above. Also, added the `get_order_book` from https://github.com/bitshares/bitshares-core/issues/782#issuecomment-460583558 provided by @bitfab

[2019-02-06 19:05] ryanRfox commented on #844
Thanks for the above reference @abitmore

@manikey123 please connect with @jmjatlanta and between the two of you comment back here when it's time to add an estimate.

[2019-02-06 19:06] ryanRfox commented on #782
@bitfag I added `get_order_book` to #783 for review/implementation.

[2019-02-06 22:39] ryanRfox commented on #1079
@pmconrad and @abitmore I'm not sure what to do with this Issue at this time. I believe #1360 addresses some of this. I like the idea of treating it as an epic and modifying the Description to track related Issues/PRs.

@michelsantos Please ensure you consider this in your Release Notes.

Shall I remove it from the finished Feature Release and add it to (next) Feature Release for further considera

[2019-02-07 00:11] MichelSantos opened #1565 "Release Notes for the 201902 Feature Release of BitShares Core"
# Release Notes

The [BitShares](https://bitshares.org) Core software has been updated to the [201902 Feature Release](https://github.com/bitshares/bitshares-core/milestone/18?closed=1). The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain. This release includes multple optimizations and bug fixes but _does not include any c

[2019-02-07 00:15] MichelSantos commented on #1079
@ryanRfox This is currently referenced in the [Release Notes for the 201902 Feature Release](https://github.com/bitshares/bitshares-core/issues/1565)

[2019-02-07 03:01] manikey123 commented on #626
API list is provided under #782 and #783 . From there you may get an idea of what data is available. If you are looking for something more specific then @ryanRfox @pmconrad @jmjatlanta @abitmore can help advise.

[2019-02-07 13:35] pmconrad commented on #1565
Thanks. IIRC we highlighted API changes in previous releases, or is that what you mean with "Core functionality"?.

* `network_mapper` (#1550 #1555) should be moved to "Miscellaneous"
* Better title for #1418 / #1539: `cli_wallet` build failure on Ubuntu 18.04
* #1410 is Documentation
* #1110 / #1529, #1313 / #1527 and #1206 / 1347 is Node functionality
* #1523 / #1524 is **not** in the release

[2019-02-07 13:38] pmconrad commented on #1079
Not sure either.
Yes, #1360 addresses some of it, but the scope of this issue is supposed to be broader than #1360 alone.
There are no additional related changes in the works, so I think "next feature release" is too optimistic. Maybe best to put it in the backlog.

[2019-02-07 13:44] pmconrad commented on #626
AFAICS the only relevance of #782 and #783 is that they make some things in the API configurable, and one thing requested here is "disclaimer/info string defined by node operator". Other than that I see no relation. @ryanRfox @manikey123 ?

[2019-02-07 18:11] cogutvalera commented on #1342
I would like to take this issue @ryanRfox, assign this issue to me please.

Adding a task for myself:

* [ ]  Do ten hours of immersive background research on the Trezor One Hardware Wallet libraries and developer docs, to include, if possible compiling and loading the device components of one or both of the two wallets linked above, in order to identify which problems remain to be solved to get a

[2019-02-07 18:37] oxarbitrage commented on #1342
We have @christophersanborn and @marcialvieira working in trezor already.

@ryanRfox maybe assign the hardware wallet related issues to them so others dont claim the issues.

thank you.

[2019-02-08 04:05] cedar-book commented on #1536
Updated to remove 'create-genesis-json' command line section - [Private Testnet](https://dev.bitshares.works/en/master/development/testnets/private_testnet.html).
To share the [Private Testnet Genesis file](https://dev.bitshares.works/en/master/development/testnets/private_testnet_genesis_example.html#private-testnet-genesis-example) information, created new page for.

[2019-02-08 06:47] manikey123 commented on #626
Thanks @pmconrad for the feedback

At node level,the node operator can customize the configuration ie increase/ decrease the api dataset.
@dls-cipher - believe has worked more at-node level and may guide

Step 1: Identifying commercial usage
Could you help share examples of API's having commercial usage ? Do these exist already part of #782 , #783 or available elsewhere  ?
Step 2: At what level is

[2019-02-08 08:45] clockworkgr commented on #1342
Iirc,  @xeroc had done some initial work on this a while back

[2019-02-08 11:54] jmjatlanta opened #1567 "Provide useful logging in cli_wallet"
**User Story**
As a cli_wallet user, I want to have a log of the communication between the wallet and the API server.

As a developer, these logs can assist in solving reported problems and debugging software problems.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build

[2019-02-08 11:55] jmjatlanta commented on #1567
@cogutvalera please provide an estimate of what it will take to implement this.

[2019-02-08 11:55] cogutvalera commented on #1567
@jmjatlanta Thank you very much ! I want to take this issue ! I will estimate this issue soon ...

[2019-02-08 15:14] ryanRfox opened #1568 "Improve Protocol Library Build Process"
**User Story**
As a `developer` I want the `**protocol library** build system improved` so  we can `evaluate the benefits/viability of converting the remaining **bitshares-core** repository to Meson from CMake`.

**Additional Context (optional)**
Recommendation: initially create both build systems for the protocol library to allow for a direct side-by-side comparison at small scale, at which point

[2019-02-08 16:21] MichelSantos commented on #1565
@pmconrad  I intended "Core functionality" to include changes that affect behavior or data that is visible to users.  That definition includes consensus changes and API changes.  If you recommend that this categorization or name should be changed, or explicitly defined, or split into more categories, I will do so.

[2019-02-08 16:28] MichelSantos commented on #1565
@pmconrad The following changes have been made by your description

I do not understand the following because the items is already in the Documentation category

Issue #1523 references this Milestone.  The release note no longer references it but the issue should be updated.

[2019-02-08 16:46] MichelSantos opened #1569 "Release Notes: BitShares Core version 3.0.0"
# Release Notes: BitShares Core version 3.0.0

## What’s New
- Release Numbering: We changed the versioning of the Core software to reflect a `Protocol.Feature.Hotfix` release format beginning from `3.0.0`
- [Hashed Timelock Contracts (HTLC)](https://github.com/bitshares/bsips/blob/master/bsip-0044.md): The building blocks for Atomic Cross Chain Swaps
- [Sharing of Market Fees](https://github.com/

[2019-02-08 22:52] abitmore opened #1570 "More useful logging for cli_wallet"
**User Story**
As a developer, I want to have a log of the communication between the cli_wallet and a client that communicates with the cli_wallet via JSON-RPC interface (when cli_wallet is accepting RPC connections). These logs can assist in solving reported problems and debugging software problems.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please t

[2019-02-08 22:53] abitmore commented on #1567
IMHO this has been done via #1528.

[2019-02-08 23:13] abitmore commented on #1557
If boost 1.68 is supported we need to update README and wiki. By the way which commit(s) are for this issue?

[2019-02-08 23:45] cogutvalera commented on #1570
@ryanRfox I want to take this issue, Thanks !

[2019-02-09 02:02] nathanhourt commented on #1557
@abitmore The most relevant to this issue's description is https://github.com/bitshares/bitshares-fc/pull/90/commits/2e0a03ac1fbe1d71705b960c5eaa9d91132b2199 but this one is more relevant to supporting newer versions of boost, as otherwise there were serious errors: https://github.com/bitshares/bitshares-core/commit/0da5d96c643e2a0d11442979faa746c46298698a

[2019-02-09 02:09] nathanhourt commented on #1557
Oh, and fwiw: I can build and sync with Boost 1.69 without issue

[2019-02-09 21:12] jmjatlanta commented on #1567
The intent was that #1528 solves a bug that prevented logging from actually happening. But the logging that was created was not very useful. As your comment at https://github.com/bitshares/bitshares-core/pull/1528#issuecomment-459703480 suggests, it would be better to log some details of the communications between the client and server.

It looks like #1570 is between the another app and the walle

[2019-02-10 08:39] pmconrad commented on #1565
#1410 is also under "Misc", I didn't notice it under "Documentation". What I mean then is to remove it from "Misc".

PR #1523 wasn't merged. I've cleared the Milestone.

[2019-02-10 08:42] pmconrad commented on #1569
All nodes MUST upgrade before <hardfork date>.
Node will replay automatically upon restart, I think.

[2019-02-11 09:01] sschiessl-bcp commented on #626
Essentially I'd like to be able to query a node for meta data through http, that's it.
A simply set of key value is enough.

[2019-02-11 09:02] sschiessl-bcp commented on #626
To rephrase:

What additional meta-data do I get in the scope of this issue, and how do I query it? :)

[2019-02-11 12:17] xeroc commented on #1342
Code for original trezor stuff can be found [here](https://github.com/chainsquad/trezor-mcu/tree/steem)

TrezorOne/TrezorT (I did some research on this) comes with a micro-python kernel which makes integrating other coins really easy. Since I wrote most of the heavy lifting code in python already (pybitshares), most code already exists and simply needs some customization and code reduction.

[2019-02-11 14:02] oxarbitrage commented on #1558
closed by https://github.com/bitshares/bitshares-core/pull/1559

[2019-02-11 14:02] #1558 closed

[2019-02-11 14:03] oxarbitrage commented on #1550
closed by https://github.com/bitshares/bitshares-core/pull/1555

[2019-02-11 14:03] #1550 closed

[2019-02-11 14:10] oxarbitrage commented on #1471
what @BennyTejadaMaglaya need is outside the scope of bitshares but probably a feature for a forked chain. possible in a custom chain with a lot of coding effort? sure; apply a custom additional committee into bitshares? unlikely.
also, no further info is provided from the issuer so i am closing this, feel free to reopen if needed.

[2019-02-11 14:10] #1471 closed

[2019-02-12 12:14] oxarbitrage commented on #584
closed by https://github.com/bitshares/bitshares-core/pull/1259

[2019-02-12 12:14] #584 closed

[2019-02-12 12:40] ryanRfox commented on #1333
@jmjatlanta is investigating a test case to identify this bug.

[2019-02-12 14:23] abitmore opened #1573 "Check transaction size"
**Bug Description**
As reported in https://github.com/bitshares/bitshares-core/issues/374, transaction size hasn't been checked in consensus code, although we have a global chain parameter `maximum_transaction_size`.

https://github.com/bitshares/bitshares-core/blob/58c0c494a61c33e5a4ec2312084322f0014b4f5b/libraries/chain/include/graphene/chain/protocol/chain_parameters.hpp#L42

Note: before enabl

[2019-02-12 18:24] ryanRfox commented on #1134
@dmarcosa I assigned this ticket to you in our 201904 Feature Release. Please help me by providing a Task List with some estimates for this Issue. It's not clear to me if it will involve removing our forked 0.7.0 websockets code and replacing it with the upstream 0.8.1 code. Thanks.

[2019-02-12 18:27] ryanRfox commented on #1002
@dmarcosa I assigned this to you for Feature Release 201904. Please help me with an improved User Story. We need to better document what is in scope for this Issue. Please also create a task list with an effort estimation and I'll get it updated in the Description. Thanks

[2019-02-12 18:32] ryanRfox commented on #991
@dmarcosa I assigned this to you for Feature Release 201904. Please help me with an improved User Story. We need to better document what is in scope for this Issue. Please also create a task list with an effort estimation and I'll get it updated in the Description. Thanks

[2019-02-13 04:15] nathanhourt commented on #1506
Alright, so here's a question: all of the `XXX_id_type`s are in the `protocol` library, which is necessary because the operations use them... but part of the `XXX_id_type` definitions are the `XXX_object` types ([see here](https://github.com/bitshares/bitshares-core/blob/58c0c494a61c33e5a4ec2312084322f0014b4f5b/libraries/chain/include/graphene/chain/protocol/types.hpp#L186)), which are *not* part

[2019-02-13 04:23] nathanhourt commented on #1506
Additional note: I've already made a `chain/types.hpp` and moved declarations regarding the implementation objects to that file, removing them from `protocol/types.hpp`, so the implementation objects wouldn't need to move to `protocol` for solution 3 to work cleanly.

[2019-02-13 15:20] pmconrad opened #1584 "Clean up FC"
**Instructions**
**User Story**
As a developer I want to have the FC library cleaned up in order to get rid of broken/obsolete/unused code and reduce maintenance effort.

Much of the code in FC predates C++-11 and modern Boost. Both C++-11 and Boost have standardized or at least well-proven replacements for much of FC. We should get rid of all code in FC that is either unused by the core, or for w

[2019-02-13 16:06] nathanhourt commented on #1584
I've been wanting to knock out some warnings coming from FC as well; is it alright if I just tag those commits onto this issue?

[2019-02-13 16:25] pmconrad commented on #1506
Hm, tricky.

Side note: I recently learned that the object_id_types raw-serialize only the instance number, not the space nor type id. So technically the database ID (i. e. the tuple `(space,type,instance)` is *not* part of the protocol, only the `instance` is). For the JSON API this is different though.

I can't estimate how much work solution 3 would be. IMO we should use a solution that require

[2019-02-13 17:20] nathanhourt commented on #1506
I like it. I'll see if it plays

[2019-02-13 19:10] ryanRfox commented on #1340
I'm adding this to our Feature Release project board for visual reference. This does **not** have any impact on the release nor is it held the schedule. It's just may way to show the Community "we **are** working on it".

[2019-02-14 22:45] clockworkgr commented on #1172
Bumping this. @xeroc  / @ryanRfox ?

Had this request in UI too: https://github.com/bitshares/bitshares-ui/issues/2458

[2019-02-14 23:33] jmjatlanta commented on #1573
GRAPHENE_DEFAULT_MAX_TRANSACTION_SIZE set to 1024, which I believe is way too low.

[2019-02-15 14:31] jmjatlanta commented on #1333
Branch jmj_1333 presents a test case to attempt to cause the issue, but with no success yet. There are currently gaps in my knowledge in (at least) 3 areas. The notes below probably will only make sense to me, but I do not want to forget them:

1) LIB calculation happens near the end of the process, and resizing of undo_db and fork_db near the beginning. Therefore, LIB should be "set in stone" bef

[2019-02-15 14:38] pmconrad commented on #1172
Related: https://github.com/bitshares/bsips/pull/132

[2019-02-15 14:39] pmconrad commented on #1573
What is the biggest transaction we had in mainnet so far?

[2019-02-15 14:50] pmconrad commented on #1333
Rogue witnesses are a separate problem, you can ignore them here.

LIB states a block number is fine, because by definition there cannot be competing LIBs. (With rogue witnesses, two competing forks each with their own LIB can emerge. This is a different problem, see BFT.)

See my comment https://github.com/bitshares/bitshares-core/issues/1333#issuecomment-432690650 above, and @abitmore 's remark

[2019-02-15 14:55] jmjatlanta commented on #1196
Anyone have a spare mainframe linux partition to test this with? I'd love to port and see some performance numbers on some recent IBM power or z hardware.

[2019-02-15 15:22] jmjatlanta commented on #1573
I will be doing a reindex tonight. I will attempt to capture that information.

[2019-02-15 18:44] jmjatlanta commented on #1540
From what I can see, blocks are rejected if fc::raw::pack_size is greater than global_properties.parameters.maximum_block_size. Need to verify that the same block is the same size regardless of platform, which I believe to be the case, but will investigate.

Transactions can also be rejected if fc::raw::pack_size is greater than global_properties.maximum_transaction_size. See #1573

[2019-02-15 19:43] litepresence opened #1588 "use asset precision to reject dust size limit orders"
**Instructions**

The backend should reject dust size limit orders in this manner:

min_to_receive = 100,000/10^receive_asset_precision
amount_to_sell =  100,000/10^sell_asset_precision

This would amount to 1 Bitshare (currently $0.05) being the minimum limit order and all other coins would be scaled by their asset precision; so for OPEN.BTC 100,000/10^8 = 0.001 BTC (currently $3)

**User Story**

[2019-02-15 22:07] jmjatlanta opened #1590 "Build fails on macOS due to size_t (hardfork branch)"
The inclusion of HTLC brought with it the use of size_t, which can be (and is) platform specific. Attempting to build on macOS will give template errors due to size_t being equivalent to unsigned long long on macOS.

**Build Environment**
 - Host OS:             macOS
 - Host Physical RAM    8GB
 - Source Branch/Tag:   hardfork
 - OpenSSL Version:     1.1.0h
 - Boost Version:       1.68

**Steps T

[2019-02-15 22:54] ryanRfox commented on #1569
@MichelSantos please add #1589 / 1590. @jmjatlanta hopes to squeze it in if we can get it reviewed in time. Thanks

[2019-02-15 22:54] nathanhourt opened #1591 "Add genesis-dev.json and move genesis jsons out of root source directory"
**User Story**
As a `developer` I want `a readily-available genesis for private testnet setup` so that `I can spin up private networks for testing use with minimal boilerplate or overhead`.

To this end, I have added a `genesis-dev.json` which can be used with no modifications to create a testnet and produce blocks on it with the init* accounts.

Furthermore, we wish to keep the root source direct

[2019-02-15 23:09] ryanRfox commented on #1591
Thanks @nathanhourt appreciate the detail and references to the related items.

[2019-02-16 01:12] jmjatlanta opened #1593 "Recent build errors on Windows platform"
Update: I am going to turn this ticket into a mini-epic. The causes of these errors are in several branches and subprojects, so several PRs will have to be created. This ticket will help keep track of them. NOTE: Most of these build errors are with tests.

- [x] variant_test.cpp (fc subproject)
- [x] independent_bits_engine (hardfork branch)
- [x] winsock.h (develop branch)
- [x] zlib.h (fc subpro

[2019-02-16 01:29] nathanhourt commented on #1591
Vis-a-vis `Docs Needed`, is there any sort of zero-to-sixty in 30 minutes or less (lol) intro to BitShares development doc? If so, I think that would be an awesome place to mention this file. If not, I could probably throw one together, as I think that would be a great resource for new developers.

[2019-02-16 07:50] manikey123 commented on #782
Estimated 3 hrs to fix the code breakage caused due to code merge/ integration
Already spent 2 hrs

Made unsigned int changes on the test cases below:
 api_limit_get_account_history_operations
 api_limit_get_account_history
 api_limit_get_relative_account_history
 api_limit_get_account_history_by_operations
 api_limit_get_key_references

Below are the breakages due to plugin updates:
 api_limit_ge

[2019-02-16 09:22] pmconrad commented on #1196
More candidates: all the hash classes in fc::crypto use `uint32` or `uint64` arrays as a buffer for storing the hash. This is mostly fine, but sometimes an element of these buffers is accessed directly, which leads to architecture-dependent results. See `sha256::hash64()`.

The way the block number is stored in the block ID attempts to be clean, see https://github.com/bitshares/bitshares-core/blob

[2019-02-16 09:38] pmconrad commented on #1588
This suggestion is a consensus change and requires a BSIP. Please open an issue at https://github.com/bitshares/bsips/issues .

That said, IMO the approach of tying a minimum trade amount to asset precision is flawed. Suppose BTS market cap goes up to current ETH level, i. e. 1 BTS ~ 5 USD. Then suddenly the minimum trade amount in all BTS markets is 5 USD.

Already today the minimum trade amount

[2019-02-16 09:44] pmconrad commented on #1591
@cedar-book please mention this file in our private testnet docs.

[2019-02-16 11:11] manikey123 commented on #782
Integration bug identified for API get_grouped_limit_orders
Solution : Use _app.enable_plugin("grouped_orders");
Clarification needed for the solution : What place should the solution line be placed at ? In test case or API ?
![image](https://user-images.githubusercontent.com/22608398/52898881-61604580-3198-11e9-8d8a-13bb9b93422f.png)

@pmconrad @jmjatlanta

[2019-02-16 14:22] cedar-book commented on #1591
@pmconrad, yes, I will do that.

[2019-02-16 17:59] abitmore commented on #1590
Closed by #1589

[2019-02-16 17:59] #1590 closed

[2019-02-17 15:07] a37h commented on #453
This issue still occurs in fresh built witness node.
[code]

Should I just ignore it?

[2019-02-17 18:25] cedar-book commented on #1536
Updated: private testnet -  [Genesis file section](https://dev.bitshares.works/en/master/development/testnets/private_testnet.html#genesis-file)
- added notes to mention about the above two discussions.

[2019-02-17 18:28] cedar-book commented on #1591
@pmconrad, I have updated the private testnet -  [Genesis file section](https://dev.bitshares.works/en/master/development/testnets/private_testnet.html#genesis-file)
- added notes to mention about the above two discussions. So, developers would have some expectations(?)

[2019-02-18 10:05] manikey123 commented on #783
updated code for review #1598

[2019-02-18 12:50] abitmore commented on #453
@a37h the issue has been fixed. The logging will be removed when we have time (not a priority so far).

[2019-02-18 14:20] pmconrad commented on #782
Please enable in database_fixture for the specific test case, similar to https://github.com/bitshares/bitshares-core/blob/test-2.0.190212/tests/common/database_fixture.cpp#L146

[2019-02-18 14:22] pmconrad commented on #1536
Thanks!

[2019-02-18 14:22] #1536 closed

[2019-02-18 16:33] jmjatlanta commented on #1545
Fixed by PR #1556 which is part of Issue #1548

[2019-02-18 16:33] #1545 closed

[2019-02-18 16:34] jmjatlanta commented on #1548
Fixed by PR #1556

[2019-02-18 16:34] #1548 closed

[2019-02-18 20:19] jmjatlanta commented on #1553
Question 1: In the process of reviewing the code, I have found 4 HARDFORK ``#define``s (so far) that are only ``#define``s. There is no code related to them. I can only assume there used to be, and it was removed when it was no longer needed. Can I remove such xxx.hf files from the repository?

[2019-02-19 11:00] clockworkgr opened #1602 "Buggy feeds (may) break MPAs"
See https://open-explorer.io/#/objects/2.4.228.

It has 2 expired feeds, 1 valid one and 1 buggy one (with CER and SP as 0/0 => 1.3.0/1.3.0)

The current feed is set to the buggy one.

[2019-02-19 11:00] clockworkgr commented on #1602
https://github.com/bitshares/bitshares-ui/issues/2453

[2019-02-19 11:14] jmjatlanta commented on #1602
Looks as if more validation is needed in https://github.com/bitshares/bitshares-core/blob/58c0c494a61c33e5a4ec2312084322f0014b4f5b/libraries/chain/asset_evaluator.cpp#L910

rate of 0/0 is obviously invalid, and using the same asset for both base and quote is invalid as well.

[2019-02-19 11:34] clockworkgr commented on #1134
Chances of evaluating changing the library? (possibly https://github.com/uNetworking/uWebSockets)

[2019-02-19 14:05] pmconrad commented on #1602
Probably caused by this: https://github.com/bitshares/bitshares-core/blob/test-2.0.190212/libraries/chain/db_maint.cpp#L982 from https://github.com/bitshares/bitshares-core/pull/832

IMO this is a WONTFIX because it's simply not worth it. Shouldn't happen again, can easily be fixed by either the asset owner removing the account from the feed publishers list or by having the feed publisher update t

[2019-02-19 14:33] ryanRfox commented on #1277
Assigned to @OpenLedgerApp

[2019-02-19 14:39] oxarbitrage commented on #1277
I initialized some work in this issue however i didn't assigned myself and i didn't made a lot yet.
Will like to know where @openledgerapp is up as i maybe can keep it or if they are advanced i can just abandon it.

[2019-02-19 14:45] OpenLedgerApp commented on #1277
We have already spent our hours on this issue. So, we want to keep it on us

[2019-02-19 14:47] oxarbitrage commented on #1277
ok, no worries.

[2019-02-19 15:07] OpenLedgerApp commented on #1277
Thanks!

[2019-02-19 18:14] jmjatlanta commented on #1553
I am researching each one, collecting information. The summary is being collected here: https://docs.google.com/spreadsheets/d/1l5H3WpkxVQpyI4HzfLMaqfNl1TYRrFBBcEGtXpB7VUE

I realize Google Docs isn't the best place to post such information, but once the data becomes more static, I will post the results here for posterity.

[2019-02-19 18:48] clockworkgr commented on #1602
Sure, go ahead and close it.

Only reported it in case it had unexpected consequences. We'll just code around it in the UI

[2019-02-19 19:58] nathanhourt commented on #533
So would this look like we specify a set of plugins at build, and then those plugins get built-in and loaded automatically, regardless of what the `config.ini` says?

[2019-02-19 20:04] oxarbitrage commented on #533
It is not the config the main problem, if the config loads a plugin that is not built then it will just throw or whatever.

The idea is for example if i want to use on my node only the `account_history` plugin i should not be compiling all the rest of them, i should have an option to only build that plugin.

It is not a big issue right now as plugins dont take a lot of time to build but i am think

[2019-02-19 20:15] oxarbitrage commented on #533
As an example we can currently build the programs we want by `make witness_node`, that will build witness node and not the cli wallet nor other programs.
A similar option should be available for plugins.

I originally had the idea of plugin build options at cmake level, then check for them in the c++ to include plugin headers and to use plugin code; however this will make our code ugly with checks

[2019-02-19 20:41] oxarbitrage commented on #533
This will also help us with the overall requirements of the bitshares-core. For example `curl` is used only in the 2 elasticsearch plugins but it needs to be installed even if the user is for example a block producer and only want to use the witness node plugin.

I have other plugin prototypes, for example a lua plugin where lua is required to be installed in the machine, zeromq, postgres, etc.
Cu

[2019-02-19 21:11] pmconrad commented on #1553
Yes, unused hardfork constants can be removed.

[2019-02-19 21:13] pmconrad commented on #1602
Does the UI treat this different than MPAs that have never had a valid feed? Or does it break on those too?

[2019-02-19 21:19] pmconrad commented on #533
Related: https://github.com/PBSA/peerplays/pull/31

[2019-02-19 23:01] clockworkgr commented on #1602
if their current_feed is the same then it probably breaks equally..

Its been fixed already to cover null feeds anyway

[2019-02-20 12:03] clockworkgr commented on #1491
bumped into this too when building latest release...

will attempt building from scratch

[2019-02-20 12:55] abitmore commented on #1602
I think it's not due to https://github.com/bitshares/bitshares-core/blob/151e162e1af30400f9bbe12c79b28e46af1ec99e/libraries/chain/db_maint.cpp#L981-L982 but due to https://github.com/bitshares/bitshares-core/blob/151e162e1af30400f9bbe12c79b28e46af1ec99e/libraries/chain/asset_evaluator.cpp#L794-L798 since the publication time is 1970 (default/null feed). The result is expected. Similar `current_fee

[2019-02-20 13:03] pmconrad commented on #1602
Missed the timestamp, thanks. It seems the feeds have expired anyway, so `current_feed` is supposed to be `null`.
Works as designed, closing.

[2019-02-20 13:03] #1602 closed

[2019-02-20 14:04] ryanRfox commented on #151
Assigning to @cogutvalera to review the original Issue(s), impacted code and draft a description of a proposed task list to seek approval for further development. The need on this Issue is to define what we want the fix to be and how we get there without breaking current functionality. Please be descriptive in your assessment and proposed solution options.

[2019-02-20 15:43] abitmore commented on #808
Moved to next milestone.

[2019-02-20 15:46] abitmore commented on #1018
Fixed by #1531.

[2019-02-20 15:46] #1018 closed

[2019-02-20 15:47] abitmore commented on #1565
Released.

[2019-02-20 15:47] #1565 closed

[2019-02-20 19:43] nathanhourt commented on #1285
During the core team conference call yesterday, I was asked to evaluate the BSIP-40 implementation and determine its completeness and viability for adding to the 201904 release. I promised to look into it and return a response within a week. In the spirit of short-circuit evaluation, I am returning my response now.

BSIP-40 is cool, without a doubt, and it would be a nice feature for server admins

[2019-02-20 22:01] nathanielhourt opened #1604 "Operation to modify existing limit order"
**User Story**
As a `market maker` I (would) want `an operation to modify an existing limit order` so that `order walls in the markets can be maintained cheaply`.

Technically, this isn't for me, but @litepresence in Telegram has requested it, and it's an easy win, so I say we do it.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one

[2019-02-20 22:07] clockworkgr commented on #1604
Same as cancel or half of it imho...

Still, new op so up to the committee to decide :)

[2019-02-21 00:14] litepresence commented on #1604
via telegram
[code]
The whole purpose of development work on cancel order fees is to decrease chain bloat in the end.   Nobody would use this feature if it cost the same as cancel because it takes more code and thought on client side to implement.

If updating is more efficient in both space and processing than we should at the very least discount it to match the decreased burden on the chain and

[2019-02-21 08:58] xeroc commented on #1285
Historically, the idea of having some external (non core devs) resource work on BSIP40 implementation was simply due to lack of development resources and some desperate need for the functionality. Hence, an agreement was made back in the days to continue with abit's initial stubs and implement all the rest through Blockchain Projects B.V. with guidance from the core team.

Surely, we all agree tha

[2019-02-21 10:08] xeroc opened #1605 "Docker Container should allow to specify the content of api-access file and config file via environmental variables"
**User Story**
When deploying a bitshares container, I would like to be able to define the content of all files that i can usually provide via command line tools. The reason is that it is not trivial to copy files into a container prior to it being executed. The files that are commonly available are:

* config.ini
* api-access.json
* genesis.json (optional)

**Impacts**
Describe which portion(s) o

[2019-02-21 16:31] pmconrad commented on #1604
IMO 1/10 of cancel fee is too low (but that's a discussion for the committee).

Implementation should consider that after modifying the order price, order matching need only be performed if the price is adjusted in favour of the seller AND the order stays at or moves to the front of the book. In that case, processing cost is close to limit_order_create, otherwise processing cost is extremely low.

[2019-02-21 16:41] pmconrad commented on #1605
Not sure how others are doing it, but IMO the most straightforward solution for this is to mount an external directory as the predefined `data-dir`. This is advisable anyway because you want the data dir to survive a container restart, and it can also contain all required config files.

Specifying secrets like witness block signing keys via environment variables (or command line arguments) is inad

[2019-02-21 19:02] ryanRfox commented on #1277
Sorry, @oxarbitrage I did not realize you already had some effort into this one. If you have anything to PR that may assist @OpenLedgerApp in their development, please do so. Thanks

[2019-02-21 22:57] abitmore commented on #1604
Create a BSIP please. https://github.com/bitshares/bsips/

[2019-02-22 00:50] nathanhourt commented on #1604
I note that the first thing `apply_order()` does is check if the new order is at the front of the book [[link](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/db_market.cpp#L384)]. Is a redundant check before calling `apply_order()` desirable?

[2019-02-22 00:50] nathanhourt commented on #1604
Oops, didn't mean to close

[2019-02-22 06:56] pmconrad commented on #1604
I know coding is more fun, but for consensus changes we usually write a spec (aka BSIP) first. :-)

[2019-02-22 14:26] jmjatlanta commented on #1573
Fixed by #1586

[2019-02-22 14:26] #1573 closed

[2019-02-22 16:22] nathanhourt commented on #1604
Wuff, so much paperwork for such a small change! No wonder nobody's done this yet... ;P OK, I'll draft it up.

[2019-02-22 16:43] jmjatlanta commented on #1553
Coming to the end of my research. One is confusing me. HARDFORK_CORE_583_TIME. Comments say it can be removed, but it seems dangerous to do so.

https://github.com/bitshares/bitshares-core/blob/319d7b96a4d29902db80631022bb021ca79ac950/libraries/chain/market_evaluator.cpp#L302:L334

My synopsis: That GRAPHENE_ASSERT is in the log. Changing the behavior to the "else" below includes an extra check, w

[2019-02-22 19:18] jmjatlanta commented on #844
@manikey123 The basics of bitshares-fc could be explained in 2 parts:

1) get the IP address of the foreign node into the log
2) if there is a proxy involved, have the proxy put the real ip in the header, and log the real ip instead of the proxy IP. I believe my code in that PR is on the right road, but I have not tested it.

[2019-02-22 19:43] nathanhourt commented on #1604
Holding off on a PReq until I've drafted up a BSIP (do I need someone to assign me a BSIP number?), but I welcome review ahead of then. My patch can be read [here](https://github.com/bitshares/bitshares-core/compare/develop...nathanhourt:issue-1604). Did I make any mistakes or forget something? :]

[2019-02-22 19:59] oxarbitrage commented on #1604
In a quick view you have missed the hardfork dates and the checks for it. Operation cant be executed before hardfork. Need to check also in proposals.

[2019-02-22 22:15] nathanhourt commented on #1604
BSIP Draft: https://github.com/bitshares/bsips/issues/150

[2019-02-23 10:05] pmconrad commented on #1553
Hm. Operations that fail on this assertion shouldn't make it into the blockchain.

The only exception that comes to mind is if the operation is contained in a proposal. Can you check? I agree that this cannot be removed if the assertion is triggered.
The comment may have overlooked the possibility of proposals. (Or maybe the comment means that the comment should be removed, not the if. :-)

[2019-02-23 16:47] ryanRfox commented on #1604
I suggest we move the discussion to the [BSIP61](https://github.com/bitshares/bsips/issues/150) discussion thread to finalize the specification, then return here for implementation (<-- assumption). We should keep this Issue open until the BSIP process completes.

[2019-02-24 01:29] manikey123 commented on #844
thanks @jmjatlanta
will go through above PR code
For testing, should the testnet be used or any other option ?

[2019-02-24 07:51] pmconrad commented on #844
Since the change should only affect your own node, feel free to test this on mainnet.

[2019-02-24 13:10] ryanRfox commented on #1304
Assigning to @cedar-book to update documentation. We will together with the devs to ensure we capture this properly.

[2019-02-24 13:13] ryanRfox commented on #1297
@phpergithub Please drop us a quick response as an update to your progress. Please review #1304 as there are some hints for linking (documentation updates pending). Please note: we may close this issue in the future when we feel it is stale.

[2019-02-24 22:29] nathanhourt commented on #1604
TODO:
 - [ ] Change `delta_amount_to_sell` to `share_type`
 - [ ] Dust check or disable auto-canceling of dust orders
 - [ ] Hardfork guards

[2019-02-25 06:20] cedar-book commented on #1304
Added [this page: OpenSSl and another Library](https://dev.bitshares.works/en/master/development/installation/openssl_libs.html) in Getting started section as a draft. Let me know any comments.

[2019-02-25 13:54] abitmore opened #1618 "Define DB_VERSION format"
**User Story**
As a developer, usually we need to update DB_VERSION to force a replay when updated database schema (e.g. https://github.com/bitshares/bitshares-core/pull/1615/commits/9af57a8d5107e1cf67589a89dd75a26d570c5815, https://github.com/bitshares/bitshares-core/pull/1324/commits/dd532f7d507b4561c532b2ff60a830e1717dfb12). When developing different features in multiple branches, usually there

[2019-02-25 14:08] bitfag opened #1622 "ticker() on inactive market: ValueError: could not convert string to float:"
On the testnet:

[code]

Traceback:
[code]

Direct RPC call:

[code]
out:
[code]

[2019-02-26 12:00] abitmore opened #1619 "Skip transaction size check during replay"
**User Story**
Skipping the transaction size check may (or may not) bring us better performance on replay.

Currently we have this code (introduced by https://github.com/bitshares/bitshares-core/pull/1586):
https://github.com/bitshares/bitshares-core/blob/81de0c56b124168e423edf64df1c2ce81339d715/libraries/chain/db_block.cpp#L660-L662

and we have similar code like this:
https://github.com/bitshare

[2019-02-26 12:05] jmjatlanta commented on #1619
Note: The actual size calculation happens in parallel. So the skip logic would need to be around here:
https://github.com/bitshares/bitshares-core/blob/81de0c56b124168e423edf64df1c2ce81339d715/libraries/chain/db_block.cpp#L755

[2019-02-26 12:13] xeroc commented on #1573
I'll propose to committee to set a max tx size of `1,024,000`

[2019-02-26 12:17] OpenLedgerApp commented on #1277
Currently, from one side: Database_api subscribes to the events from DB (new, changed, removed) object. Filters and accumulates events related to (call_order_object, limit_order_object, force_settlement_object) and finally via fc::async notifies listeners.

From other side: Database_api subscribes to the event from DB (applied_block), Filters operations and accumulates events related to (fill_orde

[2019-02-26 12:25] clockworkgr commented on #1573
1,048,576 please...let's not mix  SI and IEC prefixes :)

[2019-02-26 13:28] jmjatlanta commented on #1573
The best thing about standards is there are so many to choose from. I vote for 1,010,101 as it looks more "techie" :-D

[2019-02-26 13:29] clockworkgr commented on #1573
1234567 ? easy to remember

[2019-02-26 14:57] arminnaderi commented on #1277
I'm the original person who brought this issue up. It's not a problem anymore as it can be fixed client-side.

Websocket events are asynchronous and not guaranteed to come in any particular order.

@OpenLedgerApp Could you clarify what you mean by 1), "Full match in the same block" ?

[2019-02-26 16:37] christophersanborn commented on #1196
Apparently ARM can run in either little- or big-endian mode, according to this quote [from here](https://azeria-labs.com/writing-arm-assembly-part-1/):

_"The ARM architecture was little-endian before version 3. Since then ARM processors became BI-endian and feature a setting which allows for switchable endianness."_

I don't know how easily "switchable" it is, like if it's a start-up option deter

[2019-02-27 01:44] ryanRfox commented on #1619
Thanks for assigning yourself @jmjatlanta That helps me know someone will be working it. May I also request you add it to the proper Project Board (Feature or Protocol Upgrade)? It will go into `To do` by default. You may move it `In development` when you begin.

[2019-02-27 01:50] ryanRfox commented on #1618
I suggest to have the DB_VERSION match the outcome of #1173 for Release Version Numbering.

[2019-02-27 01:53] ryanRfox commented on #1557
Changed the Issue title to match the intent of the PR.

[2019-02-27 03:01] ryanRfox commented on #947
I moved this into `To do` on our current sprint. @oxarbitrage it seems Abit assigned you :) If you do not want this one, please unassign yourself and I'll find another person with capacity. I notice there is an open PR referenced, so maybe this requires a reviewer. Thanks for helping me sort this one.

[2019-02-27 03:05] ryanRfox commented on #847
I'm going to add this into `To do` on our existing sprint so we invest some time into discussions about C++ 17 (or C++ 14).

[2019-02-27 03:12] ryanRfox commented on #962
@oxarbitrage what is the status of this one? I'd like to see the code migrated to the BitShares organization if possible. It's not clear if @Zapata is assisting on this migration as well. Thanks in advance for the update.

[2019-02-27 03:17] ryanRfox commented on #881
Closing because #852 is fixed.

[2019-02-27 03:17] #881 closed

[2019-02-27 07:43] OpenLedgerApp commented on #1277
create_sell_order(alice, core.amount(100), usd.amount(100));
create_sell_order(bob, usd.amount(100), core.amount(100));
If these operations are matched in the same block, listener will get only two fill_order notifications.

[2019-02-27 10:33] abitmore commented on #947
If the UI team (specifically devs of bitsharesjs repository) doesn't demand this feature, we don't work on it.

[2019-02-27 11:09] Zapata opened #1620 "Empty 'percent_change' in get_ticker API"
**Bug Description**

Following release 2.0.190219 the 'percent_change' field is empty in the get_ticker API when there is no value change (should be 0).

**Impacts**
- [X] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travis,

[2019-02-27 11:13] Zapata commented on #1620
Bug introduced by #842 / PR #1549 , a missing else [there](https://github.com/oxarbitrage/bitshares-core/blob/04f20af8333390416944e602c0380315ca4f7a88/libraries/app/database_api.cpp#L333) I suppose .

[2019-02-27 11:37] Zapata commented on #962
From the last discussions we had on this we were waiting to be able to remove completely the database dependency (and use only ES).
I have a version almost ready for that (https://github.com/Zapata/bitshares-explorer-api/tree/remove_database_full) that need to be reviewed to be compatible with the latest changes.

[2019-02-27 11:41] oxarbitrage commented on #1620
Thanks @Zapata , i think initializing in the top around: https://github.com/oxarbitrage/bitshares-core/blob/04f20af8333390416944e602c0380315ca4f7a88/libraries/app/database_api.cpp#L324 will do it.

Something like:

`percent_change = "0";`

Now i am wondering if this is important enough to go into the `release` branch and direct way to `master` now in form of hotfix.

Opinions?

[2019-02-27 11:44] abitmore commented on #1618
We don't force replay on every new release, so it's unnecessary to update DB_VERSION every time.

[2019-02-27 11:46] arminnaderi commented on #1277
@OpenLedgerApp You mean the listener will only send 2 fill_order notifications, and 0 order_creation (transaction callbacks) ?

I faced this problem when creating an order which was instantly filled in the same block. But the problem can be fixed client-side, it's not actually a technical bug.

Please check if you are receiving the transaction callbacks and paste your findings here

[2019-02-27 11:50] oxarbitrage commented on #962
@Zapata nice stuff, lets talk more in telegram about it when you can and i can continue your work.

@ryanRfox i was researching on this API just in the last few days and i want to give it a boost. the postgres dependency removal was one of the issues but there are some more that i will like to work on.

This API is very stable at at this moment and doing a good job feeding 100s of visitors to the

[2019-02-27 12:09] oxarbitrage commented on #962
Check this out:

https://editor.swagger.io/

If you paste our API:  https://explorer.bitshares-kibana.info/swagger.json at  https://explorer.bitshares-kibana.info/swagger.json you can get generated client and server code in more than 50 programming languages.

I tested the bash versions and they work good. Our API can be published in swaggerhub: https://app.swaggerhub.com/apis-docs/B6217/Bitshares

[2019-02-27 12:10] abitmore commented on #1553
I admit that I overlooked the possibility of proposals. If the data has been included in the chain, we should keep the code, and perhaps update the comment explaining why we kept it.

[2019-02-27 12:22] abitmore commented on #1604
More hardfork guard code needed. Like this: https://github.com/bitshares/bitshares-core/blob/8047742439d39b75190f2e345d9df7a4349a748a/libraries/chain/proposal_evaluator.cpp#L120-L127

[2019-02-27 12:23] pmconrad commented on #1620
Since it breaks (some) clients we should create a hotfix release IMO.

[2019-02-27 12:26] pmconrad commented on #1618
DB_VERSION currently has no semantic other than "it changed" or "it didn't". A simple date stamp should be sufficient. Rule for merge conflict: bump to current date.

[2019-02-27 12:38] abitmore commented on #1622
Duplicate of #1620

[2019-02-27 12:38] #1622 closed

[2019-02-27 15:08] OpenLedgerApp commented on #1277
Yes, database_api rases  2 fill_order notifications, and 0 order_creation.

[2019-02-27 16:34] ryanRfox commented on #1318
@cedar-book are you willing to work with me on capturing this information into a style guide. Once a Core Team approved Style Guide exists (wiki?), then we can add some tools to clean up the existing code and keep it clean going forward. I know we will need some help from the Core Devs, but hope we can get a start on it for them.

[2019-02-27 18:47] abitmore commented on #1303
[code]

[2019-02-27 18:56] abitmore commented on #1303
It seems that here is a threading issue: https://github.com/bitshares/bitshares-fc/blob/b29da15d519d04651b07831f746f864fbac5190d/src/network/http/websocket.cpp#L265

[code]
Also there are similar code in the same function.

I guess the situation is similar to #1256 .

[2019-02-27 19:09] abitmore commented on #1303
A normal run:
[code]

A crash:
[code]
It seems the program crashed when creating the thread pool.

[2019-02-27 23:11] cedar-book commented on #1318
Hi @ryanRfox, Yes, Of course. I would like to support!! Just let me know where to start.

[2019-02-27 23:49] nathanhourt commented on #1318
Unpopular opinion: if we're going to formalize our style guidelines, we should fix the worst aspects of our style: migrate to 4 spaces of indentation, and do away with padding the insides of parentheses.

Personally, I'm a fan of
[code]
over
[code]
as the latter eats vspace very quickly and gives no readability improvement in return, but I have no strong feelings on that one.

I also recommend not

[2019-02-27 23:56] nathanhourt commented on #1604
Done

[2019-02-28 00:00] abitmore commented on #1303
For whatever reason, the lambda in `_server.set_fail_handler`( https://github.com/bitshares/bitshares-fc/blob/b29da15d519d04651b07831f746f864fbac5190d/src/network/http/websocket.cpp#L378-L390 ) will execute after every test case, and the `async` code block inside will only execute when the thread become idle. Not like witness_node, when running cli_test, the threads won't be destroyed/recreated af

[2019-02-28 00:39] litepresence opened #1627 "market_history() rpc is missing buckets and not discrete"
**Bug Description**

issue 1)
a crucial gotcha when converting graphene market history to candles... if there is no market history for a given period then there is also no bucket for that period.  In cex environment you usually get a bucket with HLOC = last known closing price; and V = 0.   Here you have to manifest that.

issue 2)
Second issue is within each request of 200 candles; usually about

[2019-02-28 00:43] litepresence commented on #1627
![screenshot from 2019-02-27 19 25 33](https://user-images.githubusercontent.com/27382428/53533221-fa139100-3ac7-11e9-9753-639f4e98eada.png)

[2019-02-28 01:25] litepresence commented on #1627
From client side, until this issue is resolved I recommend linear interpolation for each of HLOCV. This should be effective for algorithmic trading signals.

However, any linear, cubic, or even nearest-neighbor interpolation of this sort will effectively fudge the data.  It is not the correct thing to be displaying in a "reference exchange UI".  The correct interpolation of financial candle data i

[2019-02-28 16:58] nathanhourt commented on #210
Gack! This is difficult to write hardfork guards for... You don't have access to chain time in `op::get_required_active_authorities()`...

I'll see if I can pass that in as another parameter.

[2019-02-28 17:08] arminnaderi commented on #1277
If the order was fully filled, no order_creation will be notified. This is normal behavior. Instead, a **full_order_object** will be sent to the websocket listener, which is basically a copy of the order

[2019-02-28 21:11] jmjatlanta commented on #1318
I personally do not like rightward drift. So 3 spaces, do not save as tabs. Padding inside parenthesis I think adds to readability.

But I would much prefer to have standards than allow contributions that do not comply. So consider me a supporter of the standard, but complacent to what the standard is (within reason).

[2019-03-01 07:00] pmconrad commented on #210
I've solved a similar problem in MUSE aka SOUNDAC by introducing a `version` parameter in `transaction::verify_authority` and modifying validation logic depending on that. The correct version to apply is determined externally (i. e. in database and in API).

[2019-03-01 07:35] OpenLedgerApp commented on #1277
Yes, the same logic I've mentioned above.
Are there any more requirements to #1277?

[2019-03-01 11:34] arminnaderi commented on #1277
Nope, that's why I mentioned there is no bug. You have all the information you need to properly handle the relevant events.

[2019-03-01 11:52] arminnaderi commented on #1277
Also, @OpenLedgerApp , please vote against the "Reduce MSSR of bitCNY to 1.02" poll worker if you want bitCNY to not go into global settlement. If a global settlement on an asset as crucial as bitCNY happens, many users will leave and it will hurt your bottom line.

[2019-03-01 12:11] pmconrad commented on #1277
No politics here please.

[2019-03-01 13:57] pmconrad commented on #1318
Maximum line length: 123(?) (that's what you can see on github without side-scrolling)

[2019-03-01 14:08] pmconrad commented on #1373
No dicussion / non-issue. Closing.

[2019-03-01 14:08] #1373 closed

[2019-03-01 14:14] pmconrad commented on #939
#1360 was in recent feature release. Closing.

[2019-03-01 14:14] #939 closed

[2019-03-01 15:48] pmconrad commented on #1210
This can be done in a client or standalone tool. No need for an API call.
API call has the additional disadvantage that it opens a DoS attack vector on the node - recovering keys from signatures is computationally expensive.

[2019-03-01 16:23] pmconrad commented on #1385
IMO this is a bad solution for a non-issue. Closing.
* GPU stuff requires hardware-specific implementations, which means we lose portability
* multi-core CPUs and servers are much more readily available than GPUs, and usually cheaper as well
* GPUs performance always suffers from slow data transfer to/from main memory
* most nodes perform comparatively little crypto stuff, the bulk load is carried

[2019-03-01 16:23] #1385 closed

[2019-03-01 16:34] pmconrad commented on #1083
@abitmore can you run your profiling with the latest codebase, i. e. including #1462?

[2019-03-01 16:41] oxarbitrage commented on #1445
Updated the git flow step 12  with the correct link to the new site https://github.com/bitshares/bitshares-core/wiki/Git-Flow

Now that the bitshares.org is integrated with github, changes pushed to master will be available in site after merged.

Closing issue.

[2019-03-01 16:41] #1445 closed

[2019-03-01 16:45] pmconrad commented on #1068
This is obsolete since we removed the `--create-genesis-json` option in #1529 . Closing.

[2019-03-01 16:45] #1068 closed

[2019-03-01 16:46] pmconrad commented on #1069
Should remove the `initial_chain_id` from `libraries/egenesis/genesis-dev.json`

[2019-03-01 16:50] nathanhourt commented on #210
@pmconrad I didn't see your comment until now, but it seems that we both settled on the same solution. :) I'll take that to mean it's a reasonable solution.

I believe this issue to be resolved; am I missing anything before I PReq?

[2019-03-01 17:00] pmconrad commented on #1256
Possibly related: #182

[2019-03-01 17:06] pmconrad commented on #210
Looks good at first glance. Please create PR to hardfork branch.

[2019-03-01 17:19] pmconrad commented on #1069
Documentation at http://dev.bitshares.works/en/master/development/testnets/private_testnet_genesis_example.html#private-testnet-genesis-example is clean.

[2019-03-01 18:45] oxarbitrage commented on #1618
I agree here that just a date will make it and it is more intuitive than a number for conflicts.

`YYYYMMDD` can be used and i am tempted to say for the releases the format should have full year as well, for example current release tag `2.0.190219` is confusing, `2.0.20190219` is better but that is maybe more a comment to #1173 .

I suggest to leave this issue open as a reminder until we need to b

[2019-03-02 10:10] pmconrad commented on #692
Just stumbled across this... how does this fit in with our HTLC?

The draft had been updated last year to https://tools.ietf.org/html/draft-thomas-crypto-conditions-04 but apparently that has also expired. Not sure what the status is.

[2019-03-02 19:41] xeroc commented on #1350
bitshares europe has a few things in the works that maybprovide what you are looking for .. let me deploy it more publicly so you can see what i am talking about

[2019-03-03 01:05] litepresence commented on #1627
![screenshot from 2019-03-02 19 48 01](https://user-images.githubusercontent.com/27382428/53689532-81f6d680-3d26-11e9-9eed-c994eaf1a19e.png)

[2019-03-04 07:14] RootkitKiller opened #1630 "Query the transaction object by txid. Is there any good way?"
**Instructions**

I found that the `get_transaction( uint32_t block_num, uint32_t trx_in_block )` api can query the transaction object, but must specify `block_num` and `trx_in_block`, If I only use txid how to query it.

**User Story**

I want to add the following functions to a graphene blockchain project:
Add a db api `processed_transaction get_transaction(transaction_id_type txid)` to query tr

[2019-03-04 09:28] abitmore commented on #1277
@OpenLedgerApp expected behavior is described in OP:

[2019-03-04 10:22] OpenLedgerApp commented on #1277
@abitmore it could be done via operations. see https://github.com/openledger/bitshares-core/commit/677a1517d2fb3f5be372f077ead80ce82ac7ad55. You are welcome  to discuss it. Thanks.

[2019-03-04 12:05] jmjatlanta commented on #692
The folks at Ripple have done a lot of work on cross-chain payments. Their specifications have moved around quite a bit in the last year. Recently, it seems their focus has been on the [InterLedger protocol]( https://interledger.org/)

[2019-03-04 14:31] abitmore commented on #1630
Try the Elastic Search plugin? ([url](https://bitshares-kibana.info/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-6M,mode:quick,to:now))&_a=(columns:!(_source),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:d133a430-20b6-11e9-82af-8dfbd16c55a9,key:block_data.trx_id,negate:!f,params:(query:fe543b85dcad72ac7a2a0b2050c4920bb61ccb1b,type:

[2019-03-04 15:33] xeroc commented on #692
i believe that with HTLC we can cover pretty much everything I asked for in this issue.
Hence, I wouldn't mind closing this issue

[2019-03-04 15:55] pmconrad commented on #1277
We have two issues here:
1. there is no notification for order object creation if an incoming order is filled immediately
2. if an incoming order is partially filled, the notification for the fill will be sent before the notification for order object creation

The second point is a bug IMO, while the first may simply be unexpected but valid behaviour (if message order is not guaranteed like @armin

[2019-03-04 16:14] pmconrad commented on #692
It would be interesting to know how standards-conforming (if there are any standards that deserve the term) our solution is, and/or what we might need to do to improve.
OTOH crypto-conditions in the requested form seems to have died, and our HTLC is finished, so we should create a new ticket when the time comes. Closing.

[2019-03-04 16:14] #692 closed

[2019-03-04 16:16] pmconrad commented on #1630
A transaction ID has 20 bytes. You could create a map of transaction_id to (block_num,trx_in_block), which have 4 bytes each. I. e. you need 28 bytes per transaction, plus overhead for indexing. At the current rate we're talking about several hundred million transactions per year, so keeping them in RAM is not going to work long-term.

Like @abitmore  suggested, we have a working solution for stor

[2019-03-04 17:12] arminnaderi commented on #1277
@pmconrad I think the first issue is a bug from the perspective of writing clients, because you don't actually know if your order was created or not. Assuming that an order was created because a fill event pops up is too complicated.

Also, as I mentioned a few posts above, when the order is fully filled on creation, a **full_order_object** is sent to the websocket listener instead of the callback

[2019-03-04 20:30] abitmore commented on #1083
Will do. Recently I moved my dev env to a new machine, need to get comparable data. In October 2018 when reviewing https://github.com/bitshares/bitshares-core/pull/1359, I've run profiling on my old machine, to replay 27M blocks,

I'll run it again in my new machine, then run latest code base.

[2019-03-05 02:52] RootkitKiller commented on #1630
Thanks @abitmore @pmconrad , Now I am going to try the ES database plugin

[2019-03-05 17:02] jmjatlanta commented on #1584
CMakeModules/FindBoost.cmake does not seem to work on my Windows machine (very recent cmake and boost versions). If I remove it (thereby using the default one that comes with cmake), everything works.

Building bitshares-core works fine even with the existence of libraries/fc/CMakeModules/FindBoost.cmake, but it may be that cmake uses its own instead of the one buried in our repository.

My guess

[2019-03-05 18:37] #1620 closed

[2019-03-06 12:05] OpenLedgerApp commented on #1210
We have made PR - https://github.com/bitshares/bitshares-core/pull/1635
This PR describes how to add new commands to CLI: get_transaction_signers, get_key_references

[2019-03-06 12:05] OpenLedgerApp commented on #1277
We have made PR - https://github.com/bitshares/bitshares-core/pull/1636

This PR describes a draft vision of market events model.

[2019-03-06 15:56] jmjatlanta commented on #1627
Suspect: The number on row 57 of your spreadsheet may be due to Daylight Saving Time. Verify that your input to your conversion from ISO8601 is using UTC or something not affected by DST.

[2019-03-06 17:48] pmconrad commented on #1584
[code]
Response in http://public.kitware.com/Bug/view.php?id=14720 :

Confirmed to work by followup posters.

I guess it's ok to remove if we put CMake 2.8.11 or higher into build requirements.

[2019-03-07 00:00] abitmore commented on #1083
When replaying the first 27M blocks, [current `develop` branch](https://github.com/bitshares/bitshares-core/tree/a710a429a53035fc9825eb074efc1a69c955b829) is significantly slower than #1359. More data will come later.

[2019-03-07 01:42] abitmore commented on #1083
I figured out why current develop branch is slower: default plugins including account_history, grouped_orders and etc are loaded. It seems the "plugins" option specified in config.ini is ignored, also, when generating a new config.ini, there is no longer a "plugins" option inside. I think it's a bug, will submit a new issue. In the meanwhile, I'll run profiling again with "plugins" option as a com

[2019-03-07 01:50] abitmore opened #1637 ""plugins" option in config.ini is ignored"
**Bug Description**
* when generating a new config.ini, there is no longer a "plugins" option inside;
* "plugins" option specified in config.ini is ignored.

Mentioned in https://github.com/bitshares/bitshares-core/issues/1083#issuecomment-470348810 earlier.

Version 2.0.190219 and 2.0.190305 are impacted.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please

[2019-03-07 07:22] abitmore commented on #1083
When loading only `witness plugin` when running current develop branch, total execution time is slightly shorter:

Percentages are a bit different:
[code]

`index<account_balance_object>::modify()` is still the first entry. Queries are faster.

[2019-03-07 13:07] pmconrad commented on #1637
Possibly cause by #1437
@oxarbitrage can you check?

[2019-03-07 13:20] pmconrad commented on #1083
Thanks.
I agree with the analysis in the OP. The `by_asset_balance` index is expensive to maintain and mostly useless.

[2019-03-07 14:56] oxarbitrage commented on #1637
yes ill check it today.

[2019-03-08 11:02] abitmore opened #1638 "Unlinkable Block P2P Issue"
**Bug Description**
According to https://github.com/steemit/steem/issues/3180 and https://github.com/steemit/steem/pull/3202, a node may disconnect itself from the network unexpectedly under certain circumstance. Likely the same issue exists in BitShares, since we did notice random disconnections as well.

Note: the code in BitShares is 3080000 (rather than 4080000 in Steem): https://github.com/bi

[2019-03-08 13:42] pmconrad commented on #1069
Closed via #1628

[2019-03-08 13:42] #1069 closed

[2019-03-08 16:43] MichelSantos opened #1639 "Release Notes for the BitShares Core Bugfix Release 2.0.190305"
# Release Notes

The [BitShares](https://bitshares.org) Core software has been updated to [2.0.190305](https://github.com/bitshares/bitshares-core/releases/tag/2.0.190305).  The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain.  This release includes only bug fixes; new new features are added.

Documentation for users may be

[2019-03-08 17:58] oxarbitrage commented on #1637
It seems we have 2 options to go over this:

1- Add something like:

[code]
In the binary. The problem with this is that it will end having the plugins option in the top or at the bottom of the config file.

2- Add to application.cpp in the spot we want at: https://github.com/bitshares/bitshares-core/blob/master/libraries/app/application.cpp#L955
Problem here is that we will need the default plugi

[2019-03-08 17:59] oxarbitrage commented on #1639
closed by https://github.com/bitshares/bitshares-core/releases/tag/2.0.190305

[2019-03-08 17:59] #1639 closed

[2019-03-09 15:02] abitmore commented on #1318
Just checked, 118.

[2019-03-09 17:28] abitmore commented on #1407
Please review #1641.

[2019-03-09 18:57] abitmore commented on #1638
Actually, after investigated deeper, I think the issue doesn't apply to BitShares.

[2019-03-09 18:57] #1638 closed

[2019-03-09 23:43] ThomasFreedman opened #1643 "--version doesn't reflect correct release on branch for patches"
With the recent patches, specifically patche18 (other patches are also affected) I noticed the version reported by the witness_node binary (--version cmd line option) did not reflect the correct release it was based on.

For patche18 the version reported is 2.0.181127-22-g433150f. However, according to the pinned messages in the witness "alerts" and bitshares witnesses channels of Telegram, that p

[2019-03-10 09:40] pmconrad commented on #1643
Will continue dicussion in non-public forum.

[2019-03-10 09:40] #1643 closed

[2019-03-10 12:47] oxarbitrage commented on #1407
closed by the great job of @abitmore here https://github.com/bitshares/bitshares-core/pull/1641

[2019-03-10 12:47] #1407 closed

[2019-03-10 14:04] Victor118 commented on #363
Why this issue was closed ?
ACCT is a great feature but, here subject is also side chain between BTC and BTS ?
Without that DEX is not a real DEX, IMHO it's very important

[2019-03-10 17:37] litepresence opened #1644 "Proposals Scam Prevention - $80,000.00 Gone"
I think we've all seen it coming.  Here it is.

Proposals lacks a metric of trustworthiness, this needs a technical solution.  I don't know what it is, but this outcome was predictable as a consequence of the code base in light of human nature, yet unacceptable from both moral or business perspective.

This needs to stop.
[code]

![photo_2019-03-10_14-52-24](https://user-images.githubusercontent.c

[2019-03-10 17:45] ThomasFreedman commented on #1643
Ok, understood.

[2019-03-10 18:48] litepresence commented on #1644
Bhuz, [10.03.19 14:43]
I think just having a whitelist on proposals make both sense and potentially solves the majority of scams without really affecting legit business that may want to use proposals

For whitelist on proposals I mean a user defined list that contains account names that are allowed to create proposals for the account in question

Cons I see is more RAM needed for consensus witness

[2019-03-10 18:50] litepresence commented on #1644
litepresence, [10.03.19 14:07]
another thought is to regulate any account name with "BitShares", "security", "open-ledger", "rudex" and disallow accounts with specific words in them from proposing transactions.   kind of like how in most countries the word "bank" cannot be used by anyone except a state approved bank.   eg Australia: "APRA limits use of ‘bank’, ‘banker’, ‘banking’ and ‘ADI’, and by

[2019-03-10 18:51] litepresence commented on #1644
What about any funds that transfer via proposal move to some type of "vesting" balance and are non accessable for some period and there is option for reversal/refund within 24 hours.  is this possible?

[2019-03-10 19:08] litepresence commented on #1644
**P2P SOCIAL CREDIT SCORE**

Percent of proposals accepted/denied by this user?

Would it be possible to have some form of rating system like you do at ebay where post transaction you rate the other party?

[2019-03-10 19:37] abitmore commented on #1644
I don't think this discussion belongs to this repository so far. If you think the behavior of bitshares-core should be changed, please discuss and/or propose your solution in https://github.com/bitshares/bsips and get it voted. If you think which UI should take care of it, please submit issues to corresponding repository.

[2019-03-10 19:46] litepresence commented on #1644
**UI LEVEL FILTRATION**

Stefan, [09.03.19 23:55]

The recent UI update 190227
needs double checking to see the approve button,
with a warning hint.

-----------

One first step could be to allow the UI to use an on chain whitelist on top of hard-coded scam account names to allow swift react

[2019-03-10 19:54] litepresence commented on #1644
I really don't know what should be done. I do know something should be done on technical level.  This is a gaping hole in the legitimacy of the platform; we cannot have new users randomly getting scammed for large sums of money.   The subject needs to be fleshed out as to what is and is not possible from technical perspective to mitigate this risk.

If you'd like me to move to bsips thats fine.

[2019-03-10 20:01] litepresence commented on #1644
https://github.com/bitshares/bsips/issues/154

[2019-03-10 20:01] #1644 closed

[2019-03-11 15:26] jmjatlanta commented on #1627
I have tested and verified that get_market_history is working as expected. Buckets with no activity are not generated, and would need to be built client-side. As for the bar length issue: Please verify

1) Your date routines handle Daylight Saving Time correctly
2) The data coming from the API server is as it should be, and matches the data retrieved from other API servers.

I am not infallible. I

[2019-03-12 13:09] xeroc commented on #1637
Dang, this issue took me almost 2 hours today until I figured out plugins is no longer read from config.ini .. Glad you have this covered already!

[2019-03-12 18:27] nathanhourt commented on #1318
One of the major problems with padding the inside of parentheses is that it never gets applied consistently. Even in FC, it's not applied consistently, and there are plenty of places where that's not even my fault. It gets mishandled by any IDE that does automated code formatting, generation, or modification, and I doubt many dedicated auto-formatting tools support it.

Furthermore, I've never bef

[2019-03-12 18:40] nathanhourt commented on #1318
And fwiw, my biggest problem with 3 space indentation is, again, NOBODY DOES IT. 4 spaces is virtually universal. Again, go read StackOverflow: 4 spaces is ubiquitous, sometimes you see 2. You never see 3. And it's a pain to reconfigure my editors to use 3 spaces when I work on BTS/FC vs. 4 on every other project ever (this is an exaggeration). Look at our 3rd party dependencies in FC's `vendor` s

[2019-03-12 18:55] ryanRfox opened #1645 "Refactor CLI Results for get_htlc"
**User Story**
As a `consumer of data from the CLI wallet's get_htlc response` I want `returned data to be more explicit` so that `I may more easily interrupt the information and act accordingly`.

**Additional Context**
The initial implementation of the CLI response for `get_htlc` is lacking in the ability for a user or system to efficiently consume and act on the returned data.

First, the `expi

[2019-03-12 18:59] jmjatlanta opened #1646 "Upgrade to newer versions of MSVC compiler"
**Build Error Description**
As reported in #389, Visual Studio after 2015 Update 1 will not compile BitShares. As time marches on, acquiring and compiling with older versions becomes difficult (and in the future unsupported by their vendor). Some time should be spent exploring the issues with these newer compilers.

The first issue that arises seems to be associated with differing parameter types

[2019-03-12 19:09] oxarbitrage commented on #1318
I agree with both from @nathanhourt last comments, specially the padding inside parenthesis, should be removed. I have not so many issues with the indentation, 4 seems to be more standard so i will agree with a change in that, i dont like 2 spaces.

If we all agree in this changes we need to decide on implementation of them. We have the option to make it by file, by folder or with a huge pull requ

[2019-03-12 19:54] cedar-book commented on #1318
@ryanRfox, I have collected several Coding Standard / Guide information. These are others but we can look at them as references. If we can find some good guide, we might be able to adjust and include the BitShares-Core coding style guide.   (*I saved the below files in a temporary location.)
References: [<1>](https://github.com/cedar-book/BTS-Core-work/blob/master/style_guide/Style-guide-collectio

[2019-03-12 22:57] jmjatlanta commented on #1646
Hint: the parameter problem seems to be centered around this:

https://github.com/bitshares/bitshares-fc/blob/6a5ba93fa961c691a21c985f6c3dcd0d394e4455/include/fc/rpc/api_connection.hpp#L441#L451

[2019-03-13 11:02] abitmore commented on #1318
3-whitespace indentation is a rule in a company I've worked for some years before, so I would not say "nobody does it".. It benefits developers with a small screen (E.G. I had been coding on a 12-inch laptop for years), while not looking so crowded as 2 whitespaces.

As mentioned in https://github.com/bitshares/bitshares-core/pull/1629#discussion_r265062960, whitespaces in the code are helpful whe

[2019-03-13 12:34] jmjatlanta commented on #1557
Fixed by several past commits plus #1648 for documentation updates.

[2019-03-13 12:34] #1557 closed

[2019-03-13 13:42] abitmore commented on #867
Fixed by #1032.

[2019-03-13 13:42] #867 closed

[2019-03-13 13:54] abitmore commented on #1646
What about changing `unsigned` to `uint64_t`?

[2019-03-13 14:13] pmconrad commented on #1318
We should
* come to a consensus regarding formatting rules
* find a tool that can do it automatically
* make a big whitespace-only change

[2019-03-13 15:34] jmjatlanta commented on #1646
I tried several things, including changing the type to uint64_t, even fc::static_variant. No joy. Removing the parameter and leaving the 2 strings resolves the issue. Converting the unsigned to a string does not, which to me indicates it is not a type problem, but some combination of number of parameters and types.

I have seen similar issues resolved by (1) MS fixing a compiler bug or (2) MS quot

[2019-03-13 16:09] jmjatlanta commented on #1646
I converted the parameters to all be `const string&` Based on this:
[code]
It looks to me as it is iterating through the parameters, checking if they are callable. Note that it has changed the parameter list to two parameters, as if it was doing some sort of variadic template parameter iteration. I doubt that is what it is doing, but just what I see.

[2019-03-13 17:48] pmconrad commented on #1083
FTR: I have made various attempts to optimize `operator<(price const&, price const&)` - and failed miserably.
One conclusion I have drawn is that `boost::multiprecision` performs significantly better than `fc::uint128`, which is another reason to work on #1584 .