[2017-09-19 22:12] oxarbitrage commented on #108
i am not sure if this still an issue as the current UI deb binary is capitalized: https://github.com/bitshares/bitshares-ui/releases -> https://github.com/bitshares/bitshares-ui/releases/download/2.0.170915/BitShares2-light_2.0.170915_amd64.deb
not really sure if the symlink is needed. adding @svk31 and @wmbutler, they can probably provide a better answer.

[2017-09-19 22:27] oxarbitrage commented on #115
the proposals are not a lot at least by now, i have an active proposal at this moment, can see it at http://23.94.69.140:5000/get_object?object=1.10.4626 the  number is pretty small by now however we dont want to add any additional space to the core so i think this will need to be a plugin. added the plugin label. i can work on this `proposal_tracking_plugin`

[2017-09-19 22:49] oxarbitrage commented on #366
as @abitmore answer there is no restriction, just a matter of how much ram you need to run a bigger database as it gets fully mapped into memory. closing the issue.

[2017-09-19 22:49] #366 closed

[2017-09-19 22:55] oxarbitrage commented on #216
please note this is fixed in https://github.com/bitshares/bitshares-core/pull/340 and we now have a formal process to revive blackswan that is available in the testnet now for testing and will be soon part of the next release. hardfork was needed to make this work and it is backed up by a BSIP(https://github.com/bitshares/bsips/blob/master/bsip-0018.md) and a worker proposal(http://www.bitshares.f

[2017-09-19 22:55] #216 closed

[2017-09-19 23:00] oxarbitrage commented on #265
i am going to work on this as an additional plugin option disabled by default as i am already making some work in the account_history_plugin and this should not be very hard to add.

[2017-09-20 02:37] wmbutler commented on #108
I think we are all leaning towards calling all distros simply: **Bitshares**

[2017-09-20 08:23] svk31 commented on #108
No longer an issue, the linux binary is `bitshares2-light`, in the launcher it shows up as BitShares Light Wallet

[2017-09-20 08:23] #108 closed

[2017-09-20 15:33] guanqun opened #402 "assertion in start_next_fiber"
I'm on the latest master commit and I'm running a debug version,

[code]

Is this a known issue? I've seen this issue twice, I'm restarting the node and see if it will happen again or not...

[2017-09-20 15:39] guanqun commented on #402
I read the comment just above that line:

[code]
Does it mean we shouldn't call `yield` inside an exception? and how can we know the exact location of the caller and then probably fix the caller?

[2017-09-20 16:54] pmconrad commented on #402
Did this happen during normal operation, or during shutdown?
Windows or linux?

Not sure if I've seen this before.

If this happens regularly, try running in gdb to get a backtrace.

[2017-09-20 23:28] guanqun commented on #402
It's during normal operation, and I'm running on linux ubuntu 16.04.

Sure , let me try to get the backtrace, that'll be helpful.

On Thursday, September 21, 2017, Peter Conrad <notifications@github.com>
wrote:

--
Guanqun

[2017-09-21 10:11] abitmore opened #403 "Change index of `operation_history` objects from `simple_index` to `generic_index`"
Simple indexes aren't good when objects need to be removed. Memory won't get freed, `begin()` doesn't work and etc. Related code is [here](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/plugins/account_history/account_history_plugin.cpp#L68) and [here](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/plugins/account_history/account_history_plugin.cpp#L27

[2017-09-22 09:34] liondani commented on #353
just for the records I get that message every 3 sec and I can't run the testnet because of this...

494044ms th_a       db_maint.cpp:253              update_active_commit ] Different stake targets: 33441859507574 / 451625188779455
1494044ms th_a       db_maint.cpp:272              update_active_commit ] Committee member count mismatch 3 / 5
1647041ms th_a       db_maint.cpp:253              update

[2017-09-22 17:45] pmconrad commented on #403
I agree.
simple_index uses a vector of pointers as backing store. While the memory for the objects is freed, the vector will grow forever. This is very inefficient, especially if it is sparsely populated.

[2017-09-24 06:32] crazybits opened #404 "compile issue on OS X"
I could compile successfully on ubuntu 16.10, but encounter following error while compiling on OS Xm, any hint? btw, i am using boost 1.64.0 and openssl 1.0.21
[code]

[2017-09-24 08:44] pmconrad commented on #404
The maximum supported boost version is 1.60 I think.

[2017-09-24 08:45] pmconrad commented on #404
From the README:

[2017-09-24 08:45] #404 closed

[2017-09-24 17:41] oxarbitrage commented on #403
i can give a try to this index change this starting week if none of you guys are already working on. please let know.

[2017-09-25 16:45] oxarbitrage commented on #192
With head_block 20,355,040 we need more than 40 gigs of ram to run a full node with all the history.  Almost all the ram is consumed by account_history_plugin specially automated bots accounts with millions of operations. improvements were made on this, some options were added to the cli startup command and they are documented here https://github.com/bitshares/bitshares-core/wiki/Memory-reduction-

[2017-09-25 17:11] jorgecabatel commented on #75
this is a pretty old issue and i am unsure if the documentation was changed but to me it is pretty clear that the operation will delete the proposal from the database. text is here: https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/protocol/proposal.hpp#L144-L154

and actual delete is at: https://github.com/bitshares/bitshares-core/blob/master/libraries

[2017-09-25 17:12] oxarbitrage commented on #75
this is a pretty old issue and i am unsure if the documentation was changed but to me it is pretty clear that the operation will delete the proposal from the database. text is here: https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/protocol/proposal.hpp#L144-L154

and actual delete is at: https://github.com/bitshares/bitshares-core/blob/master/libraries

[2017-09-25 17:15] abitmore commented on #75
By the way, the implementation or designation of this operation is wrong. There is another issue.

[2017-09-26 04:54] magicstone1412 opened #407 "[Features Request] Multiple wallets under a username"
As far as I know, BTS use a username as the wallet address. But that is un-convenience for transparent transaction. Therefore, I would like to propose a feature which is **a username can have multiple wallets**. Everyone can check the balance of user wallets, but can not check the total balance of that user.

[2017-09-26 11:47] abitmore commented on #407
If I'm correct, it's an UI issue related to the STEALTH feature.

[2017-09-26 11:47] #407 closed

[2017-09-27 15:25] startailcoon opened #408 "Order placed inconsistant with market price"
Today at 17:03 there was an order placed on the OPEN.BTC/bitUSD market that wasn't consistent with the market prices.

The market has buy at ~3.785 and sell at ~3.867.
Somehow an order was placed on the market with the price of 5.000, a very tiny one but non the less.

![bitshares-inconsistantbuyprice](https://user-images.githubusercontent.com/12114550/30922184-aa0815b2-a3a8-11e7-8172-9c2aa9b60a48

[2017-09-27 16:45] pmconrad commented on #408
This is a known issue that happens frequently when the amounts involved. It is caused by rounding errors - BTC has 8 decimals and bitUSD has 4 - it is therefore not possible to sell .00000002 BTC for less than .0001 USD (i. e. at a price of less than $5000/BTC).

Closing as a duplicate of #342 .

[2017-09-27 16:45] #408 closed

[2017-09-28 03:31] bitcoiners opened #409 "build error Can't locate doxygen/perlmod/DoxyDocs"
[ 80%] Generating api_documentation.cpp
Can't locate doxygen/perlmod/DoxyDocs.pm in @INC

[2017-09-28 11:40] oxarbitrage commented on #409
you may need to install doxygen

`sudo apt-get install doxygen`

please let us know you distribution and version, we nay need to update the install docs.

[2017-09-28 11:49] bitcoiners commented on #409
doxygen is already the newest version (1.8.13-9).

ubuntu 17.10

[2017-09-28 15:30] oxarbitrage commented on #409
we didn't tried it in 17.10 , it will be great if you can help us so i don't have to install a virtual machine to test. here are some things i will like you to try if you can:

- https://github.com/bitshares/bitshares-core/pull/401
@abitmore added to the docs g++ for ubuntu 16.04, in one of his comments he had to install also `libreadline-dev`. try that.

- doxygen is used only in the `cli_wallet`

[2017-09-28 15:35] bitcoiners commented on #409
libreadline-dev is already the newest version (7.0-0ubuntu2).
perl is already the newest version (5.26.0-8ubuntu1).

git submodule update --init --recursive
done

need cli_wallet

[2017-09-28 16:25] oxarbitrage commented on #409
ok, it is definitively some problem with the perl not being able to see the doxygen module. it is hard to tell where perl is looking and where are module files in your system without installing a 17.02 here.

but here is something faster you may try:

https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/CMakeLists.txt

the above file is in charge of generating the cli_wallet an

[2017-09-28 22:59] oxarbitrage commented on #75
closing this one then, please lets open a new one for the implementation issue.

[2017-09-28 22:59] #75 closed

[2017-09-28 23:04] oxarbitrage commented on #265
https://github.com/bitshares/bitshares-core/pull/406

[2017-09-29 19:33] abitmore commented on #75
That issue is #146.

[2017-10-01 00:54] guanqun opened #410 "not sync"
A clean run doesn't sync any blocks

[code]

It always shows the above messages, even after 1 day...

[2017-10-01 07:45] pmconrad commented on #410
Have you set any seed nodes in your config.ini or on the command line?
If not it must be a network issue (the core executable includes a number of seed nodes). Check if you can reach any of these with telnet or netcat: https://github.com/bitshares/bitshares-core/blob/master/libraries/app/application.cpp#L165-L181

[2017-10-06 21:04] dnotestein opened #411 "Incorporate p2p fixes that were made to steem codebase"
https://github.com/steemit/steem/commit/102fb6913be9ff129db904d414cbdd33cb73fee3
https://github.com/steemit/steem/commit/952e58e244ff9a0fcb885a19736e918d10b5c8b4

[2017-10-06 21:06] dnotestein commented on #411
These changes prevent a condition where a node stops getting blocks because it gets in a bad sync state with it's peers.

[2017-10-06 21:07] dnotestein commented on #411
This is not a hardfork change, but it's highly recommended that all nodes upgrade to it for more reliable operation.

[2017-10-08 13:05] oxarbitrage commented on #411
closing issue as code from the mentioned commits is now merged.

[2017-10-08 13:05] #411 closed

[2017-10-08 14:40] webivation commented on #314
Also constantly experiencing this.. have there been any updates?

[2017-10-08 18:43] derofim opened #413 "api: obtain an account's history for a specific asset"
Can we please have a call that returns asset activity history (any operation that involve a specific asset) for  account.

Example:
[code]
where:
start, stop, limit are for pagination
account_id identifies an account
asset_id identifies an asset
operation_id filters the account history for only operations of this paticular type (e.g. transfer, limit_order_create but also virtual operations like or

[2017-10-08 19:58] oxarbitrage commented on #413
similar to what was requested initially here: https://github.com/bitshares/bitshares-core/issues/358

i had made the api call to get history by date several using different approaches, the last can be found at: https://github.com/bitshares/bitshares-core/pull/405

but it has been hard to get developer community approbation to include it. i will have no problem on make the exact call you need but t

[2017-10-09 02:21] guanqun commented on #410
not sure exactly where, sometimes it's OK, it's probably not producible, I'll simply close this ticket.

[2017-10-09 02:21] #410 closed

[2017-10-09 16:47] pmconrad commented on #410
Possibly related: #411

[2017-10-10 09:08] abitmore commented on #413
@derofim: technically this is not hard to implement. Just make a new plugin by copying the `account_history` plugin and add `asset_id` and perhaps `op_id` everywhere. You can try to write one. I can help review.

[2017-10-10 10:58] jonnybitcoin opened #416 "Would be nice if core had a very very basic GUI so layman like me could run full nodes"
I'd like to install and run a full node at home but I can't use CLI.  Would be nice for us layman to be able to run a full node at home and connect to it locally.
If someone could run a very very basic GUI it would be great for adoption.

[2017-10-10 13:08] abitmore commented on #416
You can make a wrapper GUI for the node, or find someone capable to make one. This is out of this repository's scope.

[2017-10-10 13:08] #416 closed

[2017-10-10 14:32] landry314 opened #417 "Prevent User from Claiming Vesting Balance if Less Than Vesting Fee"
The blockchain should not allow the user to claim less from his vesting balance than the current vesting balance claim fee.

A simple mathematical comparison should be made before the operation is completed.

[2017-10-10 14:51] beyondbitcoin commented on #417
thanks for opening this.  do you have a bts addy?

[2017-10-10 15:54] pmconrad commented on #417
Since this requires a hardfork for a relatively minor win I'd prefer a solution in the UI.

[2017-10-10 20:36] landry314 commented on #417
True, @pmconrad, I agree this is a minor issue, but if there is already going to be a hardfork then why not add it? Of course there is no rush.

If the fix is simply added in a particular UI then the issue could arise in another UI, another app, another program interfacing the blockchain.

The reason it should be in the core is because there would never be a reason one would want to lose money mak

[2017-10-11 14:30] xeroc commented on #327
From
https://github.com/EOSIO/eos/commit/a431618e05f9698d805d28d2f7c8608633769b17

[2017-10-11 16:37] pmconrad commented on #327
*Sounds* interesting, but they have just excluded the p2p code from the build :-/

[2017-10-11 19:24] abitmore commented on #417
It's not that simple.
* LTM's get 80% cashback, so 24 BTS of fee means less than 5 BTS of actual cost.
* Fees can be paid with other assets.

Anyway, it's a feature/behavior change but not a "bug". Please draft a BSIP, get it voted by stakeholders, when approved and resources are ready (fund for developing, documentation, testing and etc) we can make it.

[2017-10-11 22:16] landry314 commented on #417
So when I pay the 24 BTS with my LTM account then I will see about 19 BTS still there after all the vesting balance is claimed? Then I can claim that for 24BTS and 19 BTS will go back in, etc? So there can never be less than 19 BTS in my vesting?

[2017-10-12 17:03] xeroc commented on #327
Well, I just wanted to note the results of my (poor) research and let everyone know that the p2p code is what makes us use boost <=1.60 .. and that when/if we fix this, we can also add nathans fix for the openssl-1.1 compatibility (bitshares/bitshares-fc@fee06a4)

[2017-10-13 06:09] bitcoiners opened #418 "Implement Bitshares as EOS contract or an EOS clone"
Any plans to adopt EOS as Bitshares blockchain?
EOS pre-release is ready for early development. This might be a good time to start implementing Bitshares as an EOS contract.

[2017-10-13 08:29] xeroc commented on #418
I had plenty of discussion about this with Daniel Larimer and we believe that it makes no sense business-wise to implement BitShares on top of EOS. BitShares is a (potentially profitable) DAC (company) while EOS rather compares with a sociaty. The economical models behind those two is so different that I personally prefer BitShares to stay on its own Blockchain.

For instance, a BTS token on EOS w

[2017-10-13 08:31] xeroc commented on #417
... as long as the fee stays 19BTS, I'd say that is correct, yes!

[2017-10-13 10:22] pmconrad commented on #327
Yes, that is an important piece of information.

[2017-10-13 11:59] bitcoiners commented on #418
Well, I suggest this is discussed further in a wider forum, as many are expecting Bitshares to adopt EOS, and clarity on plans would be appreciated by all.
Secondly, If Bitshares is to stay a separate blockchain, a few things need to be considered.
1. Need to adopt best features of EOS (and Steem) in Bitshares blockchain.
- I would suggest considering dropping transfer and maybe even trade fees in

[2017-10-13 12:05] bitcoiners commented on #418
Alternatively Bitshares can be implemented as an EOS clone. This way new EOS based Bitshares tokens will be base tokens of the blockchain with all the vesting privileges.

[2017-10-13 12:52] bitcoiners commented on #418
If Bitshares is to survive long term it will have to adopt best blockchain tech available. At this time EOS is the most advanced blockchain tech and Bitshares has to evolve to stay relevant.

[2017-10-13 14:44] pmconrad commented on #418
At this time EOS is mostly hype, and not a blockchain at all.
I agree that this should be discussed in a wider forum, a github ticket is definitely not the right place.

[2017-10-13 15:19] oxarbitrage commented on #413
@derofim if you want to hold a bit i am working on a plugin that will move history into a database(elasticsearch). plugin purpose is to reduce ram while having all the history available and also be a general solution for this and other relational issues that are hard to do right now. stay tuned, i'll update on this on the next days.

[2017-10-14 04:44] bitcoiners commented on #418
Created a steem post to discuss this further.
https://steemit.com/bitshares/@slavix/should-bitshares-adopt-eos-blockchain

[2017-10-14 08:09] pmconrad commented on #418
Good. Closing here.

[2017-10-14 08:09] #418 closed

[2017-10-14 21:32] abitmore commented on #314
The reason is `cli_wallet` tried to verify the server's certificate with OpenSSL but failed, because I didn't include a default list of trusted root certificates into the binary.

Workaround:
* create your own PEM bundle which contains required root / intermediate certificates, or get one from somewhere (at your own risk), for example, download the [the Mozilla CA certificate store in PEM format](

[2017-10-15 21:54] arnauze opened #423 "Implement an easier way to transfer real currencies from your bank account to BitShares"
Hello everybody,

Everything is in the title. I am a new user of BitShares, and really interested and impressed by this concept, and I just think that the adoption would be even bigger if we had a way to transfer real currencies from our bank accounts around the world to BitShares without having to buy cryptocurrencies on another website.

Also, a sort of social network allowing traders to share t

[2017-10-16 07:54] pmconrad commented on #423
You can do that, but you'll have to get your account verified with OpenLedger/CCEDK. In the GUI, click on the "Depoit/Withdraw" tab, then switch from "Gateway" to "Fiat". You can deposit/withdraw USD or EUR for OPEN.USD and OPEN.EUR.

We have a public forum at https://bitsharestalk.org, and https://steemit.com is a blockchain-based community where you'll also find BitShares enthusiasts.

Closing h

[2017-10-16 07:54] #423 closed

[2017-10-16 22:15] abitmore opened #424 "API's should return confirmed chain state but not pending chain state by default"
Confirmed chain state means the state that only applied the transactions already included in blocks.
Pending chain state means the state that includes results of pending transactions.

A transaction can get expired eventually due to whatever reason, so IMHO it's not good to return pending chain state by default, which will lead to bad UX.

More discussion is [here](https://github.com/steemit/steem

[2017-10-17 01:31] wmbutler opened #425 "Documentation out of date"
![screen shot 2017-10-16 at 8 30 24 pm](https://user-images.githubusercontent.com/1254810/31642498-e65f8376-b2b0-11e7-9404-ab5d9f415fb8.png)

[2017-10-17 01:48] wmbutler opened #426 "Nothing in the installation guide about starting up the seed node"
http://docs.bitshares.org/bitshares/installation/Build.html

Adding a link to here would suffice:

http://docs.bitshares.org/integration/apps/node.html

[2017-10-17 12:47] oxarbitrage commented on #425
the documentation haves it own repo inside the bitshares organization at https://github.com/bitshares/docs.bitshares.org

please open this issue there, ill take care of the change. thanks.

[2017-10-17 12:47] #425 closed

[2017-10-17 12:50] oxarbitrage commented on #426
please move to the bitshare docs at: https://github.com/bitshares/docs.bitshares.org/issues

[2017-10-17 12:50] #426 closed

[2017-10-17 13:11] abitmore commented on #425
Those commands work fine though.

[2017-10-17 13:43] oxarbitrage commented on #425
yes, command will work as bitshares-2 redirect to bitshares-core. I still sent a pull request to change it: https://github.com/bitshares/docs.bitshares.org/pull/18

[2017-10-17 17:52] testlump commented on #314
I can report that the workaround provided by @abitmore does indeed work and the cli_wallet is now working correctly. Fantastic stuff.

What's the likelihood of getting this list certificate integrated into future builds of the Windows **cli_wallet** so that the issue can be fully resolved?

[2017-10-17 22:06] pmconrad commented on #424
In some cases the pending state may be just what you're interested in.
For example, when you retrieve the order book you expect it to contain open orders. The state that includes pending transactions may be closer to the truth than the confirmed state.
Same for transfers - after submitting a transfer operation you'd expect your balance to be lower than before.

[2017-10-18 13:00] abitmore opened #429 "Total CORE supply may be inaccurate due to rounding issue when creating assets"
When creating an asset, fees that goes to the referral program is adjusted with [this code](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/asset_evaluator.cpp#L94):
[code]
And same amount will also be sent to the fee pool of the new asset with [this code](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/asset_evaluator.cpp#L127):
[code]
<del>

[2017-10-18 13:08] abitmore commented on #429
I'm suspect the issue is even worse. Investigating.

[2017-10-18 13:28] xeroc commented on #429
False alarm:

from @abitmore on Telegram:

the workflow is `prepare_fee` -> `do_evaluate` -> `convert_fee` -> `pay_fee` -> `do_apply`

[2017-10-18 18:26] abitmore commented on #429
The rounding issue mentioned in OP still applies.

[2017-10-18 18:28] abitmore commented on #424
I'd say expectation is one thing but reality is another.

[2017-10-18 23:01] abitmore commented on #424
Since nodes with pending state have advantages in block producing and new transaction relaying and serving queries for pending state, but nodes with confirmed state are usually needed for queries as well, I came to an idea that clients can/should connect to 2 nodes at same time, then can/should show difference results for various queries, for example confirmed balance/pending balance. The node wit

[2017-10-19 10:12] landry314 commented on #354
Ok, I am going to revisit this one more time...

Couldn't the core be changed so that I can pay for my lifetime membership with the premium account I am about to create? We could have another option which is a package of premium AND lifetime in one account, combine the fees and make it simple.

OR, we could add the ability to transfer lifetime membership from one account to the other. This would a

[2017-10-19 10:14] aautushka opened #431 "Failing unit tests"
I see a bunch of failing unit tests while running chain_tests from master. Is it expected? Could it be something about my environment? Did you give up on tests altogether?
[code]

Curiously enough, graphene behaves somewhat better with but a single failing test:
[code]

[2017-10-19 10:46] pmconrad commented on #429
It seems we have lost 547 satoshis to the rounding bug so far.

[2017-10-19 12:38] abitmore commented on #431
Try develop branch.

[2017-10-19 13:17] abitmore opened #433 "Asset creation fee issue"
When creating an asset, if the fee is not paid in the CORE asset but in another asset, an amount of extra CORE asset will be created from nowhere unexpectedly.

The workflow is `prepare_fee` -> `do_evaluate` -> `convert_fee` -> `pay_fee` -> `do_apply`.

* `prepare_fee` is in [evaluator.cpp](https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/evaluator.cpp#L76), `core_fee_pa

[2017-10-19 16:05] oxarbitrage commented on #431
yea, try the develop branch as it haves new tests regarding black swan and more. after `git clone` make `git checkout -t origin/develop`.

just tried and we have 5 failing when running all chain_tests:

[code]

however your error does not seems to be related to branches. it could be something of your environment, this is the results expected in ubuntu/debian. installation following https://github.

[2017-10-19 16:38] oxarbitrage commented on #402
i got this error yesterday trying to run a full node after the chain was very close to be in sync. i think it may be an issue for not enough memory but not totally sure.

[2017-10-19 17:32] btsfav commented on #433
Is there an ETA? crypto-bridge is already complaining, since they rely on creating assets

[2017-10-19 17:35] CryptoBridge commented on #433
Yes, an ETA would be good. This is already damaging to us as we have clients already asking us what's up and why their coins can't be added to the exchange. Thanks.

[2017-10-19 21:00] pmconrad commented on #354
You cannot pay from the account you are about to create, because a new account has no funds, and it has to exist before you can send funds to it.

Transferring LTM would interfere with the business model of referrers, so I don't think that this will be implemented. However, this is the wrong place for such a discussion - you can discuss such a change on bitsharestalk for example, or submit a forma

[2017-10-19 23:13] abitmore commented on #433
@btsfav @CryptoBridge when majority of witnesses has applied the soft fork, the committee can reduce the fee. Hopefully will be done in 24 hours.

[2017-10-20 01:18] webivation commented on #314
![image](https://user-images.githubusercontent.com/3137276/31800953-61b754bc-b50a-11e7-93ce-85a63e98b53c.png)

Still getting the error, even tried the pem file offered up by piston (for their own server) and still no love:
https://www.steem.center/index.php?title=How_to_obtain_the_STEEM_client#Running_CLI_Wallet_without_a_Steem_Daemon

No firewall settings in the way... not sure why this is happen

[2017-10-20 01:21] webivation commented on #314
Disregard... i'm dumb.  Left it at d: and left the reversed slash... lol.  Fixed both and it's firing up.

Well... getting further... now I'm seeing this:
![image](https://user-images.githubusercontent.com/3137276/31801049-12733050-b50b-11e7-9919-6c7564e73c0f.png)

[2017-10-20 02:01] webivation commented on #314
Got all the way in... just can't get create_order to work. :-/

![image](https://user-images.githubusercontent.com/3137276/31801888-981f3a28-b510-11e7-9bf7-94cc5d3a7b4c.png)

[2017-10-20 02:59] wy-z opened #434 "Improve CLI create_witness command"
When I tried to `create_witness`, I always got such error:
[code]
cmd
[code]
witness_node
[code]

Looking forward to your reply~

[2017-10-20 03:09] gxchain123 commented on #434
import your active private key with cli_wallet.

[2017-10-20 03:14] wy-z commented on #434
@gxchain123 Nice to see your reply~
I have imported my key by 'import_key', before calling 'create_witness'~

[2017-10-20 03:19] wy-z commented on #434
@gxchain123 I have just updated my operation flow and `witness_node`~
Is there an improper operation?

[2017-10-20 03:22] gxchain123 commented on #434
perhaps the key you have imported is "Owner Permission" key, which cannot access funds.

[2017-10-20 03:37] wy-z commented on #434
@gxchain123 I have imported all my keys, and here is my account info:
[code]

[2017-10-20 03:51] wy-z commented on #434
@gxchain123 Is `"membership_expiration_date": "1969-12-31T23:59:59"` correct?

[2017-10-20 05:55] gxchain123 commented on #434
@wy-z  can you transfer asset from account wy12 in cli_wallet ?

[2017-10-20 07:19] wy-z commented on #434
@gxchain123 Yes~
[code]

[2017-10-20 07:40] aautushka commented on #431
The develop branch presents a whole new set of testing errors - exactly the five errors observed by @oxarbitrage . The old ones are gone however, so it's definitely not my environment, it's just that master tests are being broken. By the way, the develop tests are so so so terribly slow...

I run Ubuntu 16.04 LTS as was recommended elsewhere.

➜  build-dev git:(develop) ✗ tests/chain_test --show_p

[2017-10-20 07:54] aautushka commented on #431
Tried to run other test apps, saw more failures
[code]
Same for the develop branch:
[code]

[2017-10-20 10:02] abitmore commented on #434
The error message is `Expecting a simple authority with one active key`, which means you need to have only one active key in your account, so the client can generate another key from that key. By the way, this is a designed feature of that CLI command, but not a limitation of the chain. You can always generate a pair of keys elsewhere then sign a raw transaction to create a witness, perhaps a bit

[2017-10-20 10:13] abitmore commented on #319
A way to solve the issue with cmd.exe and egenesis, is to build boost and/or openssl libraries by yourself.

[2017-10-20 10:13] #319 closed

[2017-10-20 10:19] abitmore commented on #314
@webivation your issue is off topic here, it's related to STEEM but not BitShares.

[2017-10-20 10:24] abitmore commented on #183
Not an issue for BitShares itself. Won't fix here.

[2017-10-20 10:24] #183 closed

[2017-10-20 10:27] abitmore commented on #156
Probably won't fix. Closing so far.

[2017-10-20 10:27] #156 closed

[2017-10-20 10:34] abitmore commented on #119
Probably won't fix. Closing.

[2017-10-20 10:34] #119 closed

[2017-10-20 10:37] abitmore commented on #99
Probably won't change the behavior, to avoid breaking existing applications. Closing.

[2017-10-20 10:37] #99 closed

[2017-10-20 10:41] abitmore commented on #94
Not a priority. Closing.

[2017-10-20 10:41] #94 closed

[2017-10-20 10:48] abitmore commented on #78
With https://github.com/bitshares/bitshares-core/pull/339 we may have got around or fixed this issue.

[2017-10-20 10:50] abitmore commented on #74
Low priority, closing.

[2017-10-20 10:50] #74 closed

[2017-10-20 10:53] abitmore commented on #71
Witnesses now can use `update_witness` command to change to another key. Won't fix this anytime soon. Closing.

[2017-10-20 10:53] #71 closed

[2017-10-20 10:57] abitmore commented on #63
Won't do this anytime soon. Closing.

[2017-10-20 10:57] #63 closed

[2017-10-20 15:19] wy-z commented on #434
@abitmore Got, thanks~

[2017-10-20 17:02] pmconrad commented on #431
The only test suite that is currently maintained is the chain_tests suite. It should produce exactly 5 failures, which are test cases for the rounding / dust problems in the market engine.

[2017-10-20 17:09] pmconrad commented on #434
Which version?
Maybe fixed in develop branch with PR #321 / issue #284 ?

[2017-10-20 18:13] wy-z commented on #434
@pmconrad `BitShares Core Release 2.0.170710`

[2017-10-20 18:13] abitmore commented on #424
Won't fix. Closing.

[2017-10-20 18:13] #424 closed

[2017-10-20 18:48] pmconrad commented on #434
Please try the cli_wallet from the develop branch.

[2017-10-20 18:53] wy-z commented on #434
@pmconrad I will~
Thanks~

[2017-10-20 21:25] abitmore opened #436 "object_database created outside of witness data directory when witness_node is started with `--replay`"
Steps to reproduce with `test-2.0.171008` tag:
* run `./witness_node`
* a while after started and getting blocks, press `Ctrl+C`
* run `./witness_node --replay`, then an `object_database` directory will be created under current directory

[2017-10-21 10:30] pmconrad commented on #436
With --replay-blockchain, database::wipe is called before opening the database.
database::wipe calls database::close before wiping, database::close calls object_database::flush, which writes the current contents (i. e. nothing) to a default-initialized (i. e. empty) fc::path.

[2017-10-24 13:23] #429 closed

[2017-10-24 15:47] oxarbitrage commented on #78
yes, we improved. closing as we merged to master.

[2017-10-24 15:47] #78 closed

[2017-10-24 15:49] oxarbitrage commented on #143
closing as we merged hard fork code to master that fix this issue.

[2017-10-24 15:49] #143 closed

[2017-10-24 17:20] oxarbitrage commented on #353
closing as issue was resolved in the new release.

[2017-10-24 17:20] #353 closed

[2017-10-25 08:37] NickyYangYang opened #438 "testing: about ecc_test with openssl"
1、ECC_IMPL default is "secp256k1",not "openssl".
2、I think the implementation must based on libsecp256k1, because the file "include / fc / crypto / elliptic.hpp" use some interfaces  based on libsecp256k1.
3、When set ECC_IMPL  equal openssl. There is error when makeing.
      libfc.a(elliptic_common.cpp.o): In function `fc::ecc::extended_public_key::derive_child(int) const':
elliptic_common.cpp:(.

[2017-10-25 11:27] Arthur111 opened #439 "database_tests.cpp:74:49: error: use of overloaded operator '==' is ambiguous"
bitshares-core/tests/tests/database_tests.cpp:74:49: error:
      use of overloaded operator '==' is ambiguous (with operand types
      'const fc::unsigned_int' and 'int')
   FC_ASSERT( bitusd.bitasset_data_id->instance == 0 );
[code]

[2017-10-25 11:40] oxarbitrage commented on #439
you are probably under an old version. please try current `develop` branch or last pre-release at https://github.com/bitshares/bitshares-core/releases.

database tests are all passing:

[code]

[2017-10-25 11:47] Arthur111 commented on #439
Its during the build (a compilation error), not the execution tests, since the last commit ( on Oct 24, 2017 , 6d6f5dd)

[2017-10-25 12:27] oxarbitrage commented on #439
ok, hold on, trying.

[2017-10-25 13:16] oxarbitrage commented on #439
just finished compilation:

[code]

git log shows i am at mentioned commit:
[code]

[2017-10-25 13:32] Arthur111 commented on #439
Seems we don't build on the same platform, i m using clang on osx.
And my compiler say no, nada, niet, nicht, non.
The only way to build successfully is to comment the line mention above.

[2017-10-25 13:42] oxarbitrage commented on #439
got it. will you mind instead of remove the line to try:

[code]
or:
[code]

if that compiles for you we may change it.

[2017-10-25 13:54] Arthur111 commented on #439
Yes the second is ok (the cast), the first is not.
wait for the commit to close it.
Thank you.

[2017-10-25 14:07] oxarbitrage commented on #439
thank you very much for testing. sent pull(https://github.com/bitshares/bitshares-core/pull/440). 1 more of the core devs need to approve it before i can merge.

[2017-10-25 20:36] pmconrad commented on #438
Hm, I get a different error:

The question is, though - do we still want to support openssl as our ECC implementation? libsecp256k1 has been the default for ages, and it's a lot faster.

Is there a specific reason why you're trying to build that way?

[2017-10-26 00:40] NickyYangYang commented on #438
Thanks for your replay:
          Yes, Now I want to chang ECC algorithm.
           I haved solved the error in elliptic_openssl.cpp.
           Because in the "Readme_ecc.md" you say ecc can test based on openssl or secp256k1 or mixed.I changed ECC algorithm based on openssl firstly.

[2017-10-27 10:27] abitmore commented on #399
This issue is now in production. The reason why we need to use the command line args is this issue: https://github.com/bitshares/bitshares-core/issues/149.

[2017-10-27 10:28] abitmore commented on #149
@pmconrad: does https://github.com/bitshares/bitshares-core/commit/0011d5f389cda841fd3f320835fb26c43b6b44ff fixes this?

[2017-10-27 11:19] abitmore commented on #399
PR #443 submitted, renamed the option in `debug_witness` to `debug-private-key`. It may break apps which depend on `debug_witness` plugin, perhaps including some tests. But IMHO this issue has higher priority. We may also need to review/update the docs of `debug_witness` plugin.

[2017-10-28 11:31] oxarbitrage commented on #439
closing as fix was merged.

[2017-10-28 11:31] #439 closed

[2017-10-28 11:40] Arthur111 commented on #439
Sorry but the commit on Oct 25 ( 504e63e and a605c5f ) does not include the fix 03c3743.
fix is not merged

[2017-10-28 11:42] Arthur111 opened #445 "database_tests.cpp:74:49: error: use of overloaded operator '==' is ambiguous"
Sorry but the commit on Oct 25 ( 504e63e and a605c5f ) does not include the fix 03c3743.
fix 03c3743 is not merged.
As i said earlier i wait the fix to close this issue.

[2017-10-28 11:43] oxarbitrage commented on #439
the fix is merged in the develop branch. for us the issue is fixed. the develop branch is merged to master at release time. a release just went out and we do not know when we will be sending a new one so you should use the develop branch until then.

[2017-10-28 11:51] Arthur111 commented on #439
Why when i type git pull i got  ( 504e63e and a605c5f ) (commit on Oct 25) and not 03c3743 ?

[2017-10-28 11:53] oxarbitrage commented on #439
switch to the `develop` branch as:

`git checkout -t origin/develop`

[2017-10-28 11:58] #445 closed

[2017-10-28 12:04] Arthur111 commented on #439
no because i have already fix the bug.( as i said i my comment above ).

[2017-10-28 19:28] wmbutler opened #446 "Full order book and look at this crazy trade"
.033223

![screen shot 2017-10-28 at 2 26 55 pm](https://user-images.githubusercontent.com/1254810/32137793-39ad09ba-bbec-11e7-817d-02d7f8766dfa.png)

[2017-10-29 10:11] wackou commented on #399
Thanks, this looks indeed like the least-friction solution for now. It might not be perfect but does the job for now, so closing this issue.

[2017-10-29 10:11] #399 closed

[2017-10-29 13:58] pmconrad commented on #446
You mean the one at .033223? Obviously a rounding issue, since the volume was the smallest possible non-zero amount of bitUSD.

[2017-10-29 13:58] #446 closed

[2017-10-29 14:42] abitmore commented on #439
@Arthur111 yes, the fix has been merged into `develop` branch, but we're not going to merge it (and another fix for #399) to `master` right now, because they're relatively minor issues and we don't want to postpone the release or create a new major release due to them.

I'll create a "minor-fix" tag for them, so people who need them can checkout the tag. For example, for docker scripts, it's bette

[2017-10-29 20:29] abitmore commented on #439
Pushed a new tag `2.0.171025-minor-fix-1`. Use it with commands:
[code]

[2017-10-29 20:35] abitmore commented on #446
Duplicate of #342

[2017-10-30 04:15] compumatrix opened #447 "Missing Active Authority Error after assigning same user account on the Active and Owner Permissions"
One member was experimenting on her account into multisignature account. However, she set her account name **AGAIN** on the permissions which should no longer be accepted by the system since she already owns that account. Changed the threshhold into 5 and added another friend's account with a threshhold of 4.

Refer to this http://www.cryptofresh.com/u/ask-the-shopologist

Now, every time she does

[2017-10-30 09:04] tximiss opened #448 "id/counter for database_api::get_trade_history"
For make use of get_trade_history could be easier if the return could have an op id or something unique and ordered.
At this moment is returned date but fall in problems where there are many ops in the same second.

[2017-10-30 18:13] abitmore commented on #447
@compumatrix if she still has the private key of `BTS6m7rHufePHzzLYVmXqmRvf188DeHxHZmHkHfNXbXzQCrd1hoQu`, and the active/owner key of "global-star" account, the "ask-the-shopologist" account can be recovered.

[2017-10-30 20:42] oxarbitrage commented on #448
Yes, we had the same issue with a new call i was trying to make very similar to this, it was `get_account_history_by_date` that was later discarded(not by this problem exactly but due others + this).
At that time we had a few workarounds for it  but we cant apply here so easy as this is a production call, with clients using it as we speak so we can't change results format and can't add arguments t

[2017-10-30 22:42] #431 closed

[2017-10-31 10:23] svk31 opened #449 "Market history dust orders mess up charts"
I'm sure you've all seen charts that look like this in the GUI:
![image](https://user-images.githubusercontent.com/6890015/32218978-f2f1b780-be2c-11e7-8b2a-1c79fdc45deb.png)

The main reason for this is partial fills leaving behind dust orders with only 1 satoshi remaining on the sell or buy side, which can only execute at one specific price due to the price being defined as the ratio of buy/sell

[2017-10-31 13:29] tximiss commented on #448
For me the limits are ok. Only have to make a loop with the calls. For id i think that it could be done adding some digits in the date when there are orders that fall in the same second.

[2017-10-31 21:20] abitmore commented on #449
Thanks for finally opened this ticket, so we'll have a dedicated place to discuss this issue.

PR #287 was a trial to solve this, but I think the approach is not the best.

As @pmconrad mentioned in [your commit](https://github.com/bitshares/bitshares-core/commit/aaa82a871a79c08fc4dc67fc7e9ae82ada75f6b9), it's not good to rely on the precision.

Issue #342 is related.

My idea to this issue is: fo

[2017-11-01 10:24] svk31 commented on #449
If you have an idea for how to solve it at the root then that's obviously more desireable, my solution is more of a band-aid that fixes the issue in most cases for most assets.

Relying on the precision was the only way I could see to make sure it wasn't applied to low precision assets like BEYONDBIT which is 0 precision and will thus have many trades of 1 satoshi value; so the precision criteria

[2017-11-01 14:52] abitmore commented on #433
Should be fixed in release `2.0.171025`. Closing.

[2017-11-01 14:52] #433 closed

[2017-11-01 17:01] pmconrad commented on #449
I agree that adding the maker price to the fill_order_op would be the best way to go. The downside is that this would increase the storage size of the operation history object by 25%, therefore I'd postpone this change until the ES plugin is in a usable state.

[2017-11-01 18:59] wmbutler opened #451 "Worker Proposals should allow an update operation for link to description"
If a worker proposal is submitted without a link to a description of the WP, it's not currently possible to update it. This is particularly problematic for Workers that have been activated. In order for governance to be taken seriously, this feature should be enabled.

[2017-11-01 19:12] oxarbitrage commented on #451
we need to be careful here, if we allow a worker update operation it should only allow a change in the worker link and nothing else. the overall idea of the worker is to don't change stuff(daily pay) of the worker specially once it is approved. a worker proposal with no link should never be approved, checks can be made in core to see this field is non empty when proposal is created but i am unsure

[2017-11-01 19:16] wmbutler commented on #451
I specifically indicated that only the description field should be editable. There are many cases where this could be a problem including a typo in the url, etc.

[2017-11-01 19:34] oxarbitrage commented on #451
adding a new operation will require a hardfork and a significant amount of work, i am not sure if it worth it.

[2017-11-01 19:39] wmbutler commented on #451
I'm not suggesting it needs to happen immediately. But I do think it matters long term for BTS. Think about a WP that could run for 10 years with no context other than what people might have in their own memory. If we can't tie WP's back to current and accurate information, our governance is just an illusion.

[2017-11-01 22:35] oxarbitrage opened #452 "account_referrer_index is empty"
i was trying to make an api call for a way to get account referrers, something better than going every account client side checking the referrer field, i found there is an index for this purposes: `account_referrer_index`:

https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/account_object.hpp#L303

However this index it is not being populated: https://gi

[2017-11-01 22:42] abitmore opened #453 "Multiple limit order and call order matching issue"
This issue has been described in [#338](https://github.com/bitshares/bitshares-core/issues/338#issuecomment-318808452), but it deserves a new ticket.

There is a bug when matching multiple limit orders with multiple call orders when there is a settlement price change.

https://github.com/bitshares/bitshares-core/blob/2.0.170710/libraries/chain/db_market.cpp#L464:
[code]
should be defined inside th

[2017-11-01 22:46] abitmore commented on #338
Created a new ticket (#453) for the multiple order matching issue described in this ticket.

[2017-11-01 23:33] abitmore opened #454 "Market fill order history: remove old entries"
To save RAM, we can keep only the last X entries, or entries of last Y days, which has more data.

There was a mechanism that keeps only last 100 entries, which was not good enough so caused some trouble, so has been removed in #255.

[2017-11-02 01:45] cryptocreeping opened #456 "Add basic trader features"
Trailing stop losses, stop losses, limit sell orders, conditional limit orders (buy and sell)

[2017-11-02 01:57] cryptocreeping commented on #456
These features should attract actual traders to the dex.
I use these features daily in my day job as a day trader at an investment bank.
These functionalities allow traders to make calculated risk decisions instead of decisions based on random luck.

[2017-11-02 05:32] page1 opened #457 "Can't load market website"
Not having any luck getting past the attached image on both Chrome and Edge when trying to load https://wallet.bitshares.org/#/market/BTS_BTC

Anyone else having this issue? Any tips for fix? I've done reload and loaded in 2 browsers, and incognito mode.
![image](https://user-images.githubusercontent.com/6609556/32311175-b7e0d21c-bf5c-11e7-84c8-9a4af3a5522a.png)

[2017-11-02 05:54] page1 commented on #457
I'm going to move this to https://github.com/bitshares/bitshares-ui

[2017-11-02 05:54] #457 closed

[2017-11-02 13:02] abitmore commented on #449
The implementation I submitted (#455) requires more than 25% of additional storage size, but IMHO it's easier to read/understand. @svk31 you can take a look and/or test.

[2017-11-02 16:23] pmconrad commented on #456
Good suggestion, wrong place. Please create a BSIP at https://github.com/bitshares/bsips .

[2017-11-03 10:43] abitmore opened #458 "Improve `get_trade_history` API performance"
The performance is terrible if `start` is too small.

[2017-11-03 13:00] oxarbitrage commented on #458
yea, checked, really sucks. i think a binary search against the date like the one done here : https://github.com/bitshares/bitshares-core/pull/405/files?diff=unified can improve the call speed in all situations. let me know what do you think.

[2017-11-04 13:05] oxarbitrage commented on #458
lets see if we can pass this first: https://github.com/bitshares/bitshares-core/pull/455 before sending code to the same call.

[2017-11-04 15:33] oxarbitrage commented on #456
this will be something great to have but there are a lot of possible problems to discuss, we can't just implement. on the most basic form everything reduces to maintain a list of stop loss(and other kind of orders) and execute when this levels are reached by market price. this is something that can be done fully client side. the orders can fail because of low liquidity between other factors, there

[2017-11-04 15:33] #456 closed

[2017-11-04 21:46] pmconrad opened #460 "Prediction markets can suffer a black swan"
@abitmore noticed that when a price feed for a prediction market is published, the usual black swan conditions are checked. The black swan checks disregard the is_prediction_market flag, and if the conditions are met, global settlement is triggered for the prediction market.

This behaviour does not make sense:
* PM tokens are always backed by the same number of backing tokens. A PM will be settle

[2017-11-04 22:02] abitmore commented on #460
I thought it's a feature, so not only the issuer but also specified feed producers can global settle the PM.

[2017-11-05 01:07] hiquanta opened #461 "can not synchronize the blockchain!!!"
48769ms th_a       application.cpp:528           handle_block         ] Error when pushing block:
3080000 unlinkable_block_exception: unlinkable block
block does not link to known chain
    {}
    th_a  fork_database.cpp:87 _push_block

    {"new_block":{"previous":"01477cc31fbc1f748ffb9c50892f61b9ba1f09a2","timestamp":"2017-11-03T05:00:21","witness":"1.6.92","transaction_merkle_root":"081980a2ef0

[2017-11-05 09:14] pmconrad commented on #460
Hm. But the black swan settles at the ratio of the least collateralized short, which is always 1:1 in a PM. So this is a rather limited feature.

[2017-11-05 09:53] pmconrad commented on #461
Please use version 2.0.171019a for now. We are preparing a bugfix release.

[2017-11-05 09:53] #461 closed

[2017-11-05 10:08] abitmore commented on #460
Agreed. Since we don't have a specification document, we can only guess. We may need to redesign this feature.

[2017-11-05 10:59] landry314 opened #462 "Add Ability to Include an Icon for Each Asset on Blockchain and Through a Gateway"
Many exchanges include icons next to each asset to make them easier to see by eye and to make things prettier. The BitShares DEX GUI should be made to do this too but who would decide which icon goes with which asset and how would we make sure each asset had an icon?

The best way to implement this would be to add an icon data space to the asset variables where users manage their UIAs. Also, someh

[2017-11-05 13:38] oxarbitrage commented on #462
this is interesting, when i made the explorer assets page i had to use the icons that were available in the bitshares-ui at https://github.com/bitshares/bitshares-ui/tree/staging/app/assets/asset-symbols . this is totally off chain and need to be maintained manually on every place this images are located.

a while later we were discussing in telegram the possibility to upload avatars to user accou

[2017-11-05 21:19] abitmore commented on #462
It's not a consensus change, so IMHO no need to change backend, instead, the GUI can add one more filed into the json of `"description"` field:
[code]

[2017-11-05 21:19] #462 closed

[2017-11-05 21:20] abitmore commented on #462
Please repost this to https://github.com/bitshares/bitshares-ui

[2017-11-05 22:48] landry314 commented on #462
Ok, I will do this...

It appears to be three issues:

1) Extend UIA description to include a link to the github page where its icon can be added and make the GUI be able to link there.

2) Include Avatars in a user's profile somewhere? I don't think this is a new issue.

3) Add icons to the Portfolio by fetching them from the github page where they are stored.

I will try to sort this out and pos

[2017-11-06 09:10] abitmore opened #463 "Add API to query for open orders of one account in one market"
IIRC we have 2 sets of API's related to query for open orders of one account in one market:
* `get_full_account`
* `get_limit_orders` + `get_settle_orders` + `get_call_orders`

However, both will return extra data and have some limitations. IMHO we need a dedicated API.

[2017-11-06 22:01] cryptocreeping commented on #456
So is this being reopened else where in the right github repository? Don't
want this key functionality request to get lost in the abyss of a forum or
chat.

On Sat, Nov 4, 2017 at 11:34 AM oxarbitrage <notifications@github.com>
wrote:

[2017-11-06 22:08] abitmore commented on #463
Related issue: https://github.com/bitshares/bitshares-ui/issues/393, which was closed by using `get_full_accounts` API. For common use case, `get_full_accounts` will be called once with subscription to receive future changes, so it should be good enough. So the feature described in this ticket is low priority thus can be postponed.

[2017-11-07 00:07] abitmore commented on #456
@cryptocreeping please check https://github.com/bitshares/bsips . Need to create an issue there.

[2017-11-07 00:12] abitmore commented on #403
See PR #464.

[2017-11-07 00:20] cryptocreeping commented on #456
I created it and it was closed. No way to migrate it or copy/paste it?

On Mon, Nov 6, 2017 at 7:07 PM Abit <notifications@github.com> wrote:

[2017-11-07 10:52] abitmore commented on #456
@cryptocreeping I didn't find it, link please? In the BSIP repository, features need to be described in detail, need to write the "why/what/how", but not just "I want", so copy/paste is not enough.

[2017-11-07 16:07] wmbutler opened #465 "Add appropriate buckets in order to add 15m and 4h Candlesticks"
Current Candlesticks:

![screen shot 2017-11-07 at 10 05 35 am](https://user-images.githubusercontent.com/1254810/32503577-37e954da-c3a3-11e7-9f1f-45ac49197b90.png)

Our current bucket-size setting looks like this:
[code]

I do not know what needs to happen in order to add 15m and 4h candlesticks so I hope someone can comment on this issue and elaborate.

[2017-11-07 16:55] oxarbitrage commented on #465
for 15 mins you need to add 900 secs and for 4 hours 14400. a good setup will be:

`bucket-size = [60,300,900,1800,3600,14400,86400]`

for 1 min, 5 mins, 30 mins, 1h, 4 hs and 1 day. i think this should be the default.

[2017-11-07 19:37] wmbutler commented on #465
The default build is set as shown in my first comment. Can you also update the source to set the new defaults so we don't have new nodes coming up with fewer buckets?

[2017-11-07 20:01] oxarbitrage commented on #465
https://github.com/bitshares/bitshares-core/pull/466
added. unsure if it will be approved as it will use more RAM and sometimes changing the defaults can break ongoing apps but i think it will be the best to have this numbers, even a weekly bucket can be added to it.

note: i committed directly to master the change by mistake and reverted back immediately, sorry about that.

[2017-11-07 20:08] wmbutler commented on #465
900 = 15 mins. Just clarifying since you omitted that in your comment.

[2017-11-07 20:09] oxarbitrage commented on #465
yes, sorry, 900 seconds is 15 mins.

[2017-11-07 21:29] oxarbitrage commented on #403
thank you for making it, i had it under my TODO list but never found the time.

[2017-11-08 09:21] abitmore commented on #438
Can you please submit a pull request?

[2017-11-08 13:54] abitmore commented on #403
Merged to `develop`, closing.

[2017-11-08 13:54] #403 closed

[2017-11-08 14:47] abitmore commented on #452
I guess it's incomplete. IMHO `account_referrer_index` and `account_member_index` "should" be moved into a plugin, since they're not required by consensus.

[2017-11-08 16:27] pmconrad commented on #452
The issue with undo_db is easily fixed, IMO. If any callbacks have been registered before the start of replay, enable undo_db, otherwise don't. Maybe log a warning about the performance hit when enabling.

[2017-11-09 09:45] abitmore commented on #243
Just a note, changes made in #296 has been reverted. This is not done yet.

[2017-11-09 12:02] abitmore opened #467 "market_history_plugin: possible Integer overflow"
The `base_volume` and `quote_volume` fields are `share_type` which is 64 bit, so they may overflow when volume is too large.

[2017-11-09 12:06] abitmore commented on #467
When it overflows, an `fc_exception` object will be thrown out. Since the code is in a plugin, it should NOT prevent the new block being pushed to object database.

[2017-11-09 12:30] abitmore commented on #144
Since those API's have been heavily used by 3rd-parties, we've missed the best time to change them. If we really want accurate data with similar functionalities, we need new API's without using doubles.

[2017-11-09 18:56] abitmore opened #468 "Port plugin sanitization code from Steem to BitShares"
[This commit](https://github.com/steemit/steem/commit/f190b51a5ab2f979e4b6cddd890c96a8b83e3a1d).

[2017-11-09 19:03] oxarbitrage commented on #465
merged change.

[2017-11-09 19:03] #465 closed

[2017-11-09 19:23] btsfav opened #469 "Fork PPY's dividends code?"
https://github.com/PBSA/

they paid out the first dividend yesterday to PPY holders and it worked quite good.

any chance you guys could port it over?

[2017-11-09 19:56] abitmore commented on #469
Need a BSIP first. Perhaps check BSIP19 and/or BSIP20 on https://github.com/bitshares/bsips?

[2017-11-09 20:47] xeroc commented on #469
We can surely add the dividends feature .. But please dont mix it up with profit sharing. The latter is a no-go for bitshares because it has inherent 'profit sharing' due to the reserves

[2017-11-09 23:33] abitmore commented on #144
Just noticed that doubles will be jsonified as strings, so we can still fix the API's.

[2017-11-09 23:58] abitmore commented on #448
I like this approach. Will work on it in #455.

[2017-11-10 01:37] abitmore commented on #448
See #455, `get_trade_history` API now returns a `sequence` in each row, which can be used as `start` in the new `get_trade_history_by_sequence` API.

[2017-11-10 02:35] abitmore commented on #458
Just noticed that bitshares-ui is not using this API. I'm not sure what application is using it. Since the pagination was largely broken (see #448), it's fair to guess that no application is relying on it. The `get_ticker` API was relying on it, but has been changed in #455.

I propose to change the behavior of this API to silently return an empty set if need to skip too many rows (E.G. 100) due t

[2017-11-10 05:39] btsfav commented on #469
@xeroc this is only about the feature, not about adding it to core assets

[2017-11-10 14:06] pmconrad commented on #458
Rename it to get_trade_history_deprecated and remove it after the release. If anyone complains about the renaming we know they have been using it.

[2017-11-10 19:00] abitmore commented on #458
Still need to use it to load the first page, so I don't want to deprecate it completely. See #448 .

[2017-11-10 20:49] abitmore opened #472 "Market history plugin: `history-per-size` option doesn't work"
Old data never got removed.

[2017-11-11 00:00] wmbutler opened #473 "Discuss: Retire Worker Proposals"
We currently have worker proposals that never received enough votes but are still eligible for votes. This provides a distraction in the UI and poses a long-term problem for governance as the number of Worker Proposals increases. Accounts who create worker proposals should be able to mark them as retired in order to eliminate potential confusion. I opened this as a discussion item so we could seek

[2017-11-11 00:13] oxarbitrage commented on #473
the committee maybe should have the ability to remove them also, imagine my malicious link sitting there  forever and me refusing to do the removal.

[2017-11-11 01:09] oxarbitrage commented on #472
reproduced, it seems to be a problem around here: https://github.com/bitshares/bitshares-core/blob/master/libraries/plugins/market_history/market_history_plugin.cpp#L129 and https://github.com/bitshares/bitshares-core/blob/master/libraries/plugins/market_history/market_history_plugin.cpp#L202

ill check it more in deep tomorrow and try to fix it.

[2017-11-11 08:51] abitmore commented on #472
@oxarbitrage I'll handle this. Thank you anyway.

[2017-11-11 09:48] abitmore commented on #473
#451 is related. Perhaps someone can create a BSIP for all the `worker` related improvements? Here is not the right place to discuss.

[2017-11-11 10:21] abitmore commented on #449
Merged. Closing.

[2017-11-11 10:21] #449 closed

[2017-11-11 10:23] abitmore commented on #448
Implemented in #455.

[2017-11-11 10:23] #448 closed

[2017-11-11 10:34] pmconrad commented on #458
Uh...

Is is still in use or not?

[2017-11-11 12:29] abitmore commented on #458
When I was saying "fair to guess that no application is relying on it", "it" means the pagination.

Rather than deprecating it, I would add an index (`base` + `quote` + `time`) so we can efficiently query with a time range.

[2017-11-11 17:50] wmbutler commented on #473
Just submitted a PR with BSIP 0028

[2017-11-11 20:41] pmconrad commented on #458
Got it.

[2017-11-12 01:11] Longlius commented on #467
Is it okay to simply catch the exception and continue for right now or should overflow be handled?

[2017-11-12 01:21] abitmore commented on #467
Forgot to mention, it's fixed in https://github.com/bitshares/bitshares-core/commit/4124f5f1f592dfe8341a27d2e6df0b9582ebf569.

[2017-11-12 01:23] abitmore commented on #467
Above mentioned commit only catches the exception, but we still need to fix the data type to reduce the chance of overflow.

[2017-11-12 01:27] Longlius commented on #467
```share_type``` is just an ```int64_t``` right? Could we simply redefine ```quote_volume``` and ```base_volume``` as ```__int128``` instead?

[2017-11-12 01:32] abitmore commented on #467
Yes we can use `fc::uint128`. I think we'll need to change some related code to make sure nothing is broken.

[2017-11-12 01:33] ethanwillis commented on #467
@abitmore

@Longlius and I were discussing this with each other(we live in the same house). One of his suggestions and also my initial gut feeling is that to prevent this in the future... these things should really be arbitrary precision. He has another potential recommendation, but I'll let him chime in on that.

[2017-11-12 12:04] abitmore commented on #467
That's a good idea, I can image it's something like automatically data type scaling up. If we go this way, best build it into the underlying library so we can use it everywhere with great convenience. It's not easy, since we need accuracy as well as performance.

[2017-11-12 14:12] Longlius commented on #467
FC does have the ```bigint``` type available. Would that be sufficient?

[2017-11-12 14:14] ethanwillis opened #475 "Reduce API load from UI clients by specifying needed data fields."
There's currently discussion in the bitshares/bitshares-ui#704 regarding frontend developers using API endpoints that return a lot of extra data that they aren't using. This puts extra strain on the core API... It seems like the best idea is to make it so that frontend developers have a way of specifying what data they need in their query to reduce load on the API.

I'm thinking that [GraphQL](htt

[2017-11-12 19:52] abitmore commented on #467
Yes there is. To say "sufficient", I think `uint128` is sufficient here. Also currently in FC the jsonized `bigint` data is hex so it's not friendly for clients.

[2017-11-12 20:47] abitmore opened #476 "elasticsearch_plugin.cpp: fatal error: curl/curl.h: No such file or directory"
Got the "curl/curl.h: No such file" error when building develop branch with current instructions.

@oxarbitrage: please add/update related documents.

To build in Windows, we may also need to have the cURL library. I will check this later.

[2017-11-12 23:00] oxarbitrage commented on #475
graphql was in the table when we decided to use elasticsearch to store account history operations. graphql seems to have some nice features but the main disadvantage is that is not open source and for this reason it was discarded. i suggest to follow the elasticsearch path and get the same results in regards to getting the exact data needed and no more.

[2017-11-12 23:19] oxarbitrage commented on #473
lets continue the discussion about this in the bsip repo https://github.com/bitshares/bsips/blob/master/bsip-0028.md and see if we can formalize a good proposal.

[2017-11-12 23:19] #473 closed

[2017-11-12 23:19] oxarbitrage commented on #451
discussion about this was moved into a BSIP at https://github.com/bitshares/bsips/blob/master/bsip-0028.md

[2017-11-12 23:19] #451 closed

[2017-11-13 00:05] oxarbitrage commented on #476
my apologies for that, added curl to the dependencies in the `develop` README file https://github.com/bitshares/bitshares-core/pull/477

[2017-11-13 00:13] oxarbitrage commented on #476
https://github.com/bitshares/docs.bitshares.org/pull/22/files

[2017-11-13 00:31] abitmore commented on #472
Test result with current BitShares main net (head block `#21742070`) and following options:
[code]
running in Ubuntu 16.04,
before fix: `VIRT = 6829564`, `RES = 5.272g`
after fix: `VIRT = 5982640`, `RES = 4.805g`

So the fix saves 470M ~ 850M RAM.

[2017-11-13 03:40] abitmore commented on #384
No more info. Closing.

[2017-11-13 03:40] #384 closed

[2017-11-13 03:43] abitmore commented on #447
Should have been fixed or unable to fix. Closing.

[2017-11-13 03:43] #447 closed

[2017-11-13 03:46] abitmore commented on #362
Nothing to be done. Closing.

[2017-11-13 03:46] #362 closed

[2017-11-13 03:49] abitmore commented on #210
There is a fix: https://github.com/FollowMyVote/graphene/commit/0bb157e88364acfe78e4b17845f4e6f6c428eb01

[2017-11-13 04:39] ethanwillis commented on #467
Hmm. Okay, so if a new developer wants to get familiar with this codebase what issues should they work on?

We'd like to work on PRs for some easy things to start without the work getting done before intent is given by core devs that they'll fix it first.

[2017-11-13 08:52] abitmore commented on #460
Need a BSIP.

[2017-11-13 09:10] abitmore commented on #185
There was a commit: https://github.com/cryptonomex/graphene/commit/18ff76b96f933e3d86bc634fd5318a98ff039969 made 2 year ago, which meant to fix this issue but has never been merged. Without new report, I'm not sure if it's still needed. @pmconrad thoughts?

[2017-11-13 09:15] abitmore commented on #185
Other commits in that branch (https://github.com/cryptonomex/graphene/compare/604-bugfix-p2p-close) are perhaps useful as well.

[2017-11-13 09:19] abitmore commented on #467
Sorry for that. Didn't know you want to work on it, I thought you're just discussing. I should assign this issue to myself earlier.

After more thinking I believe `int64_t` is enough for normal use, and it makes little sense to track abnormal use, so I decided to use a cap.

In regards to contributing, I'm not sure what's the best for new developers to work on so far. Perhaps https://github.com/bi

[2017-11-13 17:58] pmconrad commented on #467
I'm not currently working on anything.

[2017-11-13 18:24] Agorise opened #480 "Choice of range proof params in cli wallet reveals transaction magnitude to very narrow range for Blinded transfers"
The *cli_wallet* includes functionality for sending blind transfers in which the values of the input and outputs amounts are “blinded.”

In the case where a transaction produces two or more outputs, (e.g. an amount to the intended recipient plus “change” back to the sender), a "range proof" must be supplied to prove that none of the outputs commit to a negative value.

The range proofs are compute

[2017-11-13 19:08] oxarbitrage commented on #409
thanks @piem for fixing the issue.

[2017-11-13 19:08] #409 closed

[2017-11-13 21:52] abitmore commented on #480
Sounds good. Please submit a pull request.

[2017-11-14 02:02] oxarbitrage commented on #115
a proposal is no more than an operation of type 22. by using the new elasticsearch plugin we can go over for instance all the proposals made by an account by doing something like:

[code]

 with this new tool available i don't think we need develop a plugin to keep track of this operations but actually use queries against the ES database to get them.

[2017-11-14 08:12] abitmore commented on #115
This ticket is about querying by `proposal_id`.

[2017-11-14 09:26] xeroc commented on #480
The root cause of this is the trade-off between transaction size (and thus transaction fee) and privacy.
Ideally, we let the user pick between "cheapness" and "privacy-ness" ..

[2017-11-14 13:42] oxarbitrage commented on #115
hmm, ok, i think you are right. getting back to the plugin idea.

[2017-11-14 16:30] pmconrad commented on #185
IMO close this - we'd have heard about it if this was a persisting problem.

@theoreticalbts did you have a specific reason to propose replacing hashed_unique or was this more of general suspicion?

[2017-11-14 16:35] pmconrad commented on #480
Nice catch.
How big is the difference in size and computational cost? If it is small, go for 64 bits, otherwise add it as an option to the cli_wallet command.

[2017-11-14 19:24] abitmore commented on #185
@pmconrad FYI I've cherry-picked the fix to my develop branch and added it to the PR #478. I think it won't harm since I didn't find anywhere else in the code uses `hashed_unique` for `object_id_type` fields. `object_id_type` is actually `uint64_t` and has auto-increment behavior, so naturally fits `ordered_unique` index type.

[2017-11-15 04:58] sp41mer opened #484 "How to create new objects in Database ?"
Is there any way to create new objects and new data structures inside database ? Something like new table inside database.
I've tried to look through db component, but couldn't find anything.

Excuse me for creating an issue, but I don't know any places where I can ask this question

[2017-11-15 06:50] sp41mer opened #485 "How to update account balance without sending transaction"
How can I update balance of user without sending signed transaction.
I understand, that this functionality is not inside BitShares / Graphene, but I want try to create which can modify balance.
Is there any function which updates balances of users ?
I think, that something like has to be inside code for witnesses' rewards, but couldn't find it.

[2017-11-15 07:08] xeroc commented on #484
Yes, of course. Take a look at the account object [here](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/account_object.hpp#L124). Same thing can be done for any other *thing*. You just need to create new instances of it and store them in the database, like [here](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/account_evaluato

[2017-11-15 07:10] xeroc commented on #485
[this](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/transfer_evaluator.cpp#L77-L82) is how a transfer changes the balance in the database

[2017-11-15 07:12] xeroc commented on #480
it's not so much about the operational cost, it is about the size of the data that needs to be stored on chain.
Basically, Range Proofs that are stronger need more bits which result in a bigger transaction and thus higher transaction price (I would expect that tx to have a per_kbyte fee).

[2017-11-15 15:54] pmconrad commented on #480
Yes, but how big is the difference in practice?

[2017-11-15 15:57] pmconrad commented on #484
It's a little more complicated.
Each class of objects needs a space_id and a type_id. Use space_id "implementation_ids" for your own objects, and register your object in the "impl_object_type" enum in "types.hpp".
Then you need to define an index for your objects.
And you have to register that index with the database in database::initialize_indexes.

[2017-11-15 20:00] oxarbitrage commented on #358
With the addition of the elasticsearch plugin this queries are very easy to do and much more powerful than what can currently do with a traditional full node.

I was talking with @xeroc today to add at least 1 public ES node if the infrastructure worker get voted in. In the meantime i will show some examples and provide access by request to tmp ES nodes.

get only transfers from account:
[code]

g

[2017-11-15 20:29] oxarbitrage commented on #61
Can be done easy with the new elastic search plugin.

search in a block range:
[code]

count:
[code]

[2017-11-15 21:08] sp41mer commented on #485
And how can I get `account_id_type` from username or from user id ?

[2017-11-15 21:24] sp41mer commented on #485
@sp41mer
Found solution
https://github.com/bitshares/bitshares-core/blob/af2bce6a3b93f0f213d402466719a5fafc8c1b9d/libraries/wallet/wallet.cpp#L1945-#L1961

[2017-11-16 00:06] #485 closed

[2017-11-16 00:10] abitmore commented on #358
Please document all these ES related queries somewhere. And leave a link to every issue/PR. Replying with details in each issue is a bit waste of efforts.

[2017-11-16 07:12] Agorise commented on #480
The Borromean ring signature uses one ring per two bits blinded.  Each ring is composed of four 32-byte signatures and is paired with one 32-byte commitment.  So the size of the ring-sig is 160 bytes per two bits blinded.

Without using the `exponent` field or revealing a minimum value, all bits after the most-significant bit need to be encoded.  (If the user is willing to expose a minimum value,

[2017-11-16 08:56] DanielLeberle opened #487 "timestamps in get_relative_account_history() call"
Is it possible to get the timestamp for every operation in the account history?

[2017-11-16 11:37] oxarbitrage commented on #358
yes, understood and on it. thanks.

[2017-11-16 11:46] oxarbitrage commented on #487
Hi there, you need to use the new elasticsearch plugin to make this, documentation is in progress but you can get some of it at: https://github.com/oxarbitrage/worker-proposals/blob/master/elasticsearch-plugin.md - https://github.com/bitshares/bitshares-core/issues/358

For example, getting the last op from the network will return:

[code]

The `block_time` is the timestamp you are looking for and

[2017-11-16 15:51] xeroc commented on #487
There is no infrastructure of ES yet. Can we not simply add the blocks timestamp to the APIs output?

[2017-11-16 16:01] oxarbitrage commented on #487
i don't think so. first there are performance issues to fetch the block and later the timestamp with each op, no code to do it was accepted. second, the output of the api call is just ops, if we add the timestamp we will be changing the format of the output possible breaking ongoing applications. we can go over this by adding a new api call but (third), we developed the ES plugin just for that (be

[2017-11-16 16:05] oxarbitrage commented on #487
we need to educate IMHO to start resolving this issues by the plugin where everything can be done instead of just adding more stuff to the account history api outputs and more api calls.

[2017-11-16 17:28] pmconrad commented on #480
Thanks for the explanation!

The max supply for an asset is never greater than GRAPHENE_MAX_SHARE_SUPPLY = 10**15, which fits into 50 bits.

Wrt the cost, the range proof size is only one factor to look at. The other is computational cost. If I understand the above correctly, for a 50-bit range proof we need 25 rings for a total of 100 signatures to verify. This is significant.

IMO we should set

[2017-11-16 17:35] pmconrad commented on #358
Please be careful. ES has security issues, you should not expose the query API to the public internet.

[2017-11-16 17:46] oxarbitrage commented on #358
interesting, we can make something like: https://github.com/oxarbitrage/bitshares-python-api-backend/blob/master/api.py with flask and python to expose some calls with ES running on localhost. i can develop this for a full ES node with some calls, pretty easy. let me know what do you think.

[2017-11-16 17:49] pmconrad commented on #358
Yes, a small wrapper application should do the trick. But I'm not really an expert there, perhaps spend some time googling ES security.

[2017-11-16 17:50] oxarbitrage commented on #358
ok, thanks @pmconrad

[2017-11-17 13:37] oxarbitrage commented on #484
well explained. closing the issue. feel free to reopen if needed.
i think the best place to ask a question like this could be the telegram developer channel. look for me or for any of the other devs in telegram main DEX channel: https://web.telegram.org/#/im?p=@BitSharesDEX and we will send you an invitation to it if you are interested.

[2017-11-17 13:37] #484 closed

[2017-11-17 13:38] #476 closed

[2017-11-17 13:45] oxarbitrage commented on #475
closing, pls reopen if needed.
we are probably not going after GraphQL in the short term from the core side, of course that if you want to work on it  you are more than welcome to do it and your code will be considered for an include.
we generally discuss this kind of things like directions to take in the telegram dev channel. get into https://web.telegram.org/#/im?p=@BitSharesDEX and look for me,

[2017-11-17 13:45] #475 closed

[2017-11-17 15:35] oxarbitrage commented on #318
please try new docker files introduced to the `develop` branch on this pull: https://github.com/bitshares/bitshares-core/pull/482

[2017-11-20 13:16] pluswave opened #490 "Random lost of notice of broadcast result"
In some rare case, notice of broadcast (broadcast_transaction_with_callbac
k) result never happens.Here is the rpc log in the server:

[code]

I can't find a related 5505 notice in the log file.

[2017-11-20 14:23] solles-albys commented on #484
@pmconrad , @oxarbitrage
Sorry for asking, but i've got the problem with creating new object "task_object":

account_object.hpp:
[code]

types.hpp:
[code]

db_init.cpp:
[code]

And here's errors:

          fc::reflector<T>::visit( from_variant_visitor<T>( vo, o ) );

          fc::reflector<T>::visit( to_variant_visitor<T>( mvo, v ) );

          fc::reflector<T>::visit( to_variant_visitor<T>( mv

[2017-11-20 15:24] oxarbitrage commented on #484
check around here https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/account_object.hpp#L372

[2017-11-20 20:19] abitmore commented on #484
@solles-albys you need the `FC_REFLECT` lines for the new object type.

[2017-11-20 20:35] abitmore commented on #490
https://github.com/steemit/steem/commit/0fb40572c74791f85a0152c5bceb68ec9331e6c3 is related.

[2017-11-20 20:41] abitmore commented on #490
Actually, should check https://github.com/steemit/steem/pull/592, however, the code is a bit old, I'm not sure if it will work without additional issue.

[2017-11-20 21:52] oxarbitrage commented on #472
fixed at https://github.com/bitshares/bitshares-core/pull/478

[2017-11-20 21:52] #472 closed

[2017-11-20 21:54] #454 closed

[2017-11-20 22:06] oxarbitrage commented on #467
unsure if we should close this issue with the cap or leave open as a reminder more works need to be done in the same subject.

[2017-11-21 04:46] abitmore commented on #467
I think it's OK to close it.

[2017-11-21 04:46] #467 closed

[2017-11-21 04:47] abitmore commented on #185
Fix merged. Closing.

[2017-11-21 04:47] #185 closed

[2017-11-21 04:50] abitmore commented on #458
I think this can be closed as well. Fixed in #478.

[2017-11-21 04:50] #458 closed

[2017-11-21 20:00] abitmore opened #491 "Minor delta_debt amount check issue in call_order_update_evaluator"
A minor issue in `call_order_update_evaluator::do_evaluate(...)`.

https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/market_evaluator.cpp#L150-L155 :
[code]
Because balance is always non-negative, so it will be always greater than a negative value.

The code should be:
[code]
Perhaps the check can be removed because it's implicitly checked later at https://github.com/bit

[2017-11-21 20:23] abitmore commented on #460
After done more investigation, I agree this is a bug. We can fix it by disabling price feeds for prediction markets, don't need a BSIP.

The feature that global settle a prediction market via price feeds is debatable and deserves a BSIP.

By the way, need a better business model for the asset creator. Because the token can worth zero in the end, percentage market fee is not enough. This can be dis

[2017-11-22 15:12] jedebel opened #495 "Market doesn't load after inverting the price."
I have noticed on that when I invert the price on the margin tab and than go to market the page will stay blank indefinitely. If I hit the reload icon on the browser the market will load immediately. The failure to load the market only happens after inverting the price.

Mac OSX Sierra
Chrome Version 62.0.3202.75

[2017-11-22 15:15] oxarbitrage commented on #495
Hi @jedebel , you need to open this issue at the UI repo: https://github.com/bitshares/bitshares-ui/issues

Here is only for core issues, thank you very much.

[2017-11-22 15:15] #495 closed

[2017-11-22 16:39] abitmore opened #496 "`get_potential_signatures` API doesn't return owner keys nor keys of required `other` authorities"
`get_potential_signatures` API doesn't return owner keys nor keys of required `other` authorities.

Earlier discussions in #145, #200, #492.

[2017-11-22 17:00] bycz6 commented on #269
It happen with me the same!
user: bycz2

[2017-11-22 19:55] abitmore commented on #496
Linking https://github.com/bitshares/bitshares-ui/issues/754.

[2017-11-23 13:47] tututt opened #499 "Suspected memory leak"
first, start a witness_node, than connect a wallet to the witness_node, at last disconnect the wallet.Find that, witness_node occupied memory increased。Hope to get a reply，thanks！

[2017-11-23 15:48] oxarbitrage commented on #499
hi there, are you sure your witness node was not replaying the chain.

i made some tests with a synchronized chain and i cant see any change in ram usage with `pmap [witness_pid]` after connecting and disconnecting cli_wallets to it.

[2017-11-23 17:54] abitmore commented on #145
Should be fixed with #321 and #497.

[2017-11-23 17:54] #145 closed

[2017-11-23 18:01] abitmore commented on #496
Fixed with #497, closing.

[2017-11-23 18:01] #496 closed

[2017-11-24 08:48] btsabc opened #502 "missing initial value. withdraw_permission_create_evaluator: claimed_this_period of withdraw_permission_object"
It seems should
withdraw_permission_create_evaluator: claimed_this_period of withdraw_permission_object initial value=0.
Chaos only happen in a particular situations and time.

no initial 0, maybe no problem with g++ compiler, but problem in vc and clang with optimized compile.

[code]

[2017-11-24 09:25] btsabc commented on #502
And not initial  0 at the beginning of any period also is a little issues ,it cause the multi claims of withdraw in a  period to  be invalid except first  period.

[2017-11-24 09:33] btsabc opened #503 "Add API to query for recent order histories of one account in one market"
Getting  recent order  histories of one account in one market is not easy by current data index
，because it maybe  It happened a long time ago。

[2017-11-24 11:28] abitmore commented on #503
Please check the `elasticsearch` plugin in `develop` branch and a WIP document [here](https://github.com/oxarbitrage/worker-proposals/blob/master/elasticsearch-plugin.md), and comments [here](https://github.com/bitshares/bitshares-core/issues/358#issuecomment-344710980) are related.

Due to this, we are not going to add more API's for querying special histories from the object database. Closing th

[2017-11-24 11:28] #503 closed

[2017-11-24 11:44] abitmore commented on #502
According to the [code](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/include/graphene/chain/withdraw_permission_object.hpp#L66), data type of `claimed_this_period` is `share_type` aka `fc::safe<int64_t>`, so it should already have an initial value of `0` (see [the definition of fc::safe](
https://github.com/bitshares/bitshares-fc/blob/2593760687e89c8878f0e537ae9b996

[2017-11-24 19:48] abitmore opened #504 "Missing blocks due to high latency of maintenance block"
According to the design, there are much more work to be done at maintenance interval, so it's expected that latency of those maintenance blocks will be higher. It's exactly what happening in the production network, logs attached below. At every maintenance interval, 3 slots will be skipped, that means we have 12 seconds for a witness to generate a maintenance block and broadcast it to the next wit

[2017-11-24 20:34] oxarbitrage commented on #504
very interesting. let me ask you some stuff to understand better. is the 3 slots skipping a parameter that can be changed in case this blocks became more expensive or it is just happening because it is the time it is currently taking ? should we be be thinking on modifying witness plugin so the next witness wait 9 secs(or whatever) instead of 3 when we are at maintain time?
unsure about the techni

[2017-11-24 21:34] xeroc commented on #504
Iirc, the number of blocks that can be skipped at most is a committee parameter and can thus be changed

[2017-11-24 21:34] xeroc commented on #504
Iirc, the number of blocks that can be skipped at most is a committee parameter and can thus be changed

[2017-11-24 21:49] oxarbitrage commented on #504
thanks @xeroc found it here: https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/config.hpp#L51

[2017-11-26 08:24] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
I close this issue.

[2017-11-26 08:24] #502 closed

[2017-11-26 08:24] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
I close this issue.

[2017-11-26 08:25] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
close this issue.

[2017-11-26 08:25] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
close this issue.

[2017-11-26 08:25] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
close this issue.

[2017-11-26 08:26] btsabc commented on #502
@abitmore  You're right. safe type always initialized to 0.
close this issue.

[2017-11-26 13:26] svk31 opened #505 "get_ticker returning "inf" for latest and percent_change"
I'm working on replacing the old market stats calculations of the GUI with calls to get_ticker and ran into some cases where the API returns "inf" values.

![image](https://user-images.githubusercontent.com/6890015/33240401-95e44af6-d2b5-11e7-81d3-005d54de7c0f.png)

[2017-11-26 14:50] abitmore commented on #505
@svk31 try develop branch of bitshares-core?

[2017-11-26 14:54] abitmore commented on #505
It should have been fixed in https://github.com/bitshares/bitshares-core/pull/455

[2017-11-26 15:04] abitmore commented on #505
By the way, this "inf" data is caused by a "nothing for something" scenario due to rounding issues.

On block 22127637, gold-star paid 0 BTC for 0.0004 CNY from x-bot (http://cryptofresh.com/tx/ae7f6770e96bf486c5381402e93d65c5729bde13).

Related issues: #132, #184.

[2017-11-27 07:20] lilianwen commented on #300
how to solve thos issue?

[2017-11-27 10:44] abitmore commented on #192
More info: after fixed #454 and #472 with #478, and moving to ElasticSearch, I think it's safe to close this ticket.

[2017-11-27 10:44] #192 closed

[2017-11-27 13:00] rPman opened #506 "multisig, missing required active authority, but private key exist"
i created two accounts for multisig tests in wallet mode, using bitshares,openledger.org
main wallet - **trisity12**
second wallet - **shad4yp** .
I expected that main account **trisity12** must be limited control via **shad4yp** (need both conformation)

i added to main **trisity12** account on Active permission and Owner permission account **shad4yp** by name and setup weight: threshold=2, **sha

[2017-11-27 13:09] abitmore commented on #506
Now `trisity12` has
* Owner
  *  | shad4yp | 1 | 50%
  *  | BTS5VvDj3Vi6qQuTejkABM5NbA1rmeqan9hJuFbVzKBK5n2fRk3xP | 1 | 50%
  *  | Threshold | 2 | 100%
* Active
  * shad4yp	1	50%
  * BTS7txK5GBDg58JNjuYaZ8YVKh7oNztpsq2JDG7GT9QJHTy6Y1uN8	1	50%
  * Threshold	2	100%

and `shad4yp` is a normal account.
* Owner  | BTS8Ba29uWEBa1yDdo3piU2ucXpRBSZdTKZXGkWaPqXZPzKU8VRJC
* Active  | BTS5YuSoRoepNuiUcnvvgfZ

[2017-11-27 13:09] #506 closed

[2017-11-27 13:20] rPman commented on #506
i cant import this keys into **trisity12** because it is already exists
import keys into **shad4yp**? hm, so strange

[2017-11-27 13:27] abitmore commented on #154
Need a BSIP.

[2017-11-27 13:35] abitmore commented on #169
Nothing to be done. Closing.

[2017-11-27 13:35] #169 closed

[2017-11-27 14:25] oxarbitrage commented on #126
plugins can actually create api calls in present time, this is demostrated here https://github.com/bitshares/bitshares-core/tree/hello_plugin/libraries/plugins/hello

[2017-11-27 15:24] rPman commented on #506
ok, i try to import **trisity12** keys into any other account (import key is a local operations, does not stored in blockchain), in dashboard i can now select **trisity12** and can try to approve propose but the same error if i import BTS7txK5GBDg58JNjuYaZ8YVKh7oNztpsq2JDG7GT9QJHTy6Y1uN8 (Active permission tab)

if i import only BTS5VvDj3Vi6qQuTejkABM5NbA1rmeqan9hJuFbVzKBK5n2fRk3xP (is a Owner per

[2017-11-27 16:11] oxarbitrage commented on #136
i was checking into this issue to see if we can fix, a few considerations that may help us as issue is old and not very good detailed on where is happening:

- in `db_debug` the dump is at line 88 with latests code additions: https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/db_debug.cpp#L88

- the error is triggered at `operation_tests2/balance_object_test`, can be seen when

[2017-11-27 17:01] oxarbitrage commented on #104
https://github.com/bitshares/docs.bitshares.org/pull/26

[2017-11-27 17:07] oxarbitrage commented on #499
closing as no more input was provided.

[2017-11-27 17:07] #499 closed

[2017-11-27 17:09] oxarbitrage commented on #402
no more info provided, error is not happening in an often manner at least as we have no new complains about it. i think is low ram related. closing.

[2017-11-27 17:09] #402 closed

[2017-11-27 17:11] oxarbitrage commented on #469
the idea is interesting but having several implications outside the strictly technical that can't be discussed here. i agree with @abitmore it will need detailed bsip and shareholders approbation before thinking on implementation.

[2017-11-27 17:11] #469 closed

[2017-11-27 17:17] pmconrad commented on #154
BSIP-0017 describes a similar approach.

[2017-11-27 17:17] abitmore commented on #155
Nothing to be done. Closing.

[2017-11-27 17:17] #155 closed

[2017-11-27 17:22] abitmore commented on #197
Need a test case to reproduce.

[2017-11-27 18:05] abitmore commented on #506
When you have both keys imported to same (local) wallet, no need to go the propose & approval process, instead, you can directly update the account.

[2017-11-27 19:12] abitmore commented on #136
Seems assets in force settlement orders and global settlement fund are not calculated?

[2017-11-27 19:24] abitmore commented on #126
I think this issue is too old so can be close.

[2017-11-27 19:34] oxarbitrage commented on #126
me too, closing.

[2017-11-27 19:34] #126 closed

[2017-11-27 20:24] abitmore opened #509 "Improve performance of `get_ticker` API"
Currently, `get_ticker` API walks though the detailed matched/filled order history during exactly last 24 hours (86400 seconds) and aggregates data on the fly, to get the ticker data including total volume, highest price, lowest price, and close price of 24 hours before. It's not a big deal when this API is occasionally called. However, due to its low performance, it may cause high load on API ser

[2017-11-27 22:05] oxarbitrage commented on #509
definitely a good idea. i was checking for a way to get the data from the last 23 buckets and by using the old fashion get the exact missing data without sacrificing much performance but it does not look as something doable in a first sight.

let me know if you want me to work on this api change.

[2017-11-27 22:34] oxarbitrage commented on #509
Note: no need to change `get_24_volume` as it is already updated to make use of `get_ticker`. In the past the 2 calls were doing the same whole thing.

[2017-11-27 22:36] pmconrad commented on #509
You can maintain a rolling sum by adding new stuff and subtracting what drops out of the 24-hour-window.

[2017-11-28 12:56] juanfranblanco commented on #126
yes it is :)

[2017-11-28 21:14] abitmore commented on #509
Thank you @pmconrad. Maintaining a 24-hour rolling data set seems to be a good idea. So we can have all ticker data pre-calculated when a new blocks are pushed, no longer need to aggregate on the fly.

The main concern would be RAM usage, since we need to store a ticker for each market pair that ever had a trade (at least it will have a `latest` price). This is not a big deal, by now we have aroun

[2017-11-28 21:32] oxarbitrage commented on #509
that will allow us to easy implement an api call to get the top 10 markets by volume as requested by @svk31 here: https://github.com/bitshares/bitshares-core/issues/171

[2017-11-28 21:46] abitmore commented on #509
@oxarbitrage let's create a new ticket for the top X markets by volume API.

[2017-11-28 21:59] abitmore commented on #202
Too old and doesn't make much sense to hard fork. Closing.

[2017-11-28 21:59] #202 closed

[2017-11-28 22:20] abitmore opened #511 "`assert()` in db_market.cpp and other source code?"
Related discussion in https://github.com/steemit/steem/issues/1815:

[2017-11-28 22:35] oxarbitrage opened #512 "get_top_markets api"
a top_markets api is suggested by @svk31 here https://github.com/bitshares/bitshares-core/issues/171 , i think is a good idea but at that time there was no acceptable way to do it. now @abitmore is after improving the performance of get_ticker here https://github.com/bitshares/bitshares-core/issues/509 and after it is done we will be in good position to make this top markets by volume call.

i thi

[2017-11-29 18:50] abitmore commented on #188
This is BSIP 27: https://github.com/bitshares/bsips/blob/master/bsip-0027.md

[2017-11-30 01:17] abitmore commented on #509
In current production network, we have around 2200 market pairs that ever had a trade, so I think it only need less than 1MB of RAM to store pre-calculated ticker data.

[2017-12-01 19:14] lonnieOST opened #514 "question of design"
Greetings,

I have come across the bitshares exchange and github site and like the peer-to-peer design for the exchange.

I am trying to get a feel for how things are laid out. From what I can see, the bitshares-core runs on the peer nodes and establishes links with other bitshares nodes as the backend exchange which it seems that the bitshares-ui provides a frontend cloud interface that uses API

[2017-12-01 20:28] oxarbitrage commented on #514
Hi Lonnie, welcome to bitshares :) that's pretty much correct. Let me try to explain a bit more with my limited skills, i may not be the best person to explain this ... someone pls correct me if needed.

There is a fixed number of block producers in the network connected by p2p. This machines running `bitshares-core` validate blocks(sign when they are valid) that are produced every 3 seconds in cu

[2017-12-01 21:52] oxarbitrage commented on #358
linking work in progress small elasticsearch flask wrapper: https://github.com/oxarbitrage/bitshares-es-wrapper
documentation and fine tuning is in progress. Setup will be an elasticsearch database running in localhost and this wrapper exposed to public to make calls. Idea is to have 1 call that can do everything in the wrapper with a lot of arguments or a reduced number of calls instead of making

[2017-12-01 22:07] oxarbitrage commented on #318
closing.

[2017-12-01 22:07] #318 closed

[2017-12-01 23:33] lonnieOST commented on #514
Thanks for your reply and for explaining more about Bitshares as it is very
helpful.

I did also find a general Bitshares users forum, but not really any
developers mailing list or forum which is probably better suited for these
types of questions than issues on the github base.

Do you know of any mailing lists or forum that I might join for other
related questions as I wrap my head around how th

[2017-12-01 23:46] abitmore commented on #514
There was a technical/develop board in the forum, later merged into technical support board after BM left due to lack of activities. There are some mailing list at http://lists.bitshares.foundation/listinfo, but currently no much discussion there as well. In the meanwhile you can join https://t.me/BitSharesDEX and perhaps ask someone to invite you to the dev group/channel. I'd admit that mailing l

[2017-12-02 00:13] oxarbitrage commented on #514
yes, the telegram developers group for bitshares should be the best place. look for my username(oxarbitrage) in the bitshares dex channel, send me a pm with yours and i'll send you an invite. there is a discord channel as well for bitshares devs but the telegram currently haves the most skilled people. i am closing the issue now but feel free to reopen if needed.

[2017-12-02 00:13] #514 closed

[2017-12-03 03:33] D3m0nKingx commented on #395
Was able to determine what the code is supposed to do.

`const uint32_t git_revision_unix_timestamp = FC_GIT_REVISION_UNIX_TIMESTAMP;`

Needs to return the unix timestamp of the HEAD hash of the commit (`git show`) that the branch you're building is on.

Thus this should return (example):  `#define FC_GIT_REVISION_UNIX_TIMESTAMP "1510757973"`

What I'm not sure of, is why `FC_GIT_REVISION_UNIX_TIM

[2017-12-03 17:12] abitmore commented on #395
No issue here. Please read the discussion above carefully.

[2017-12-05 14:27] bycz6 commented on #269
If I hash the brain key I get the priv key right?

[2017-12-05 14:37] abitmore commented on #269
@bycz6 when the account is locked, brain key won't work. Save your private keys and brain key (if you have) safely, I think we will fix it some time in the future (may be long, so be patient).

[2017-12-05 21:27] oxarbitrage commented on #66
closing as code was merged.

[2017-12-05 21:27] #66 closed

[2017-12-06 07:57] xeroc commented on #269
@bycz6 a sequence number needs to be appended to the brainkey to get to a private key.
Do not mix brain key with account/password

[2017-12-06 09:21] bycz6 commented on #269
Thanks for the feedback @xeroc @abitmore

[2017-12-07 10:46] pluswave opened #515 "get_full_accounts returns nothing as not expected"
I just use magicwallet to register an account ,then I tried to login. but it reports 'no such account'. after a while,  I tried to refresh and re-login, same thing occurs. As I use debugger to dig the issue,
I found the api server returns nothing . Just paste the request and response frame from websocket:

[code]

The strange thing is , if I use

[code]
 it reports correctly the info.

Then I use

[2017-12-07 11:19] pluswave commented on #515
oh, reproduced with web wallet:

<img width="963" alt="2017-12-07 7 18 26" src="https://user-images.githubusercontent.com/5653443/33712747-82937702-db83-11e7-80fa-d8f351c25795.png">

[2017-12-07 11:25] abitmore commented on #515
Please try `magicwallet-escrow-feepool` but not `magicwallet-escrow-feelpool` (remove the extra `l`).

[2017-12-07 11:26] #515 closed

[2017-12-07 13:30] lonnieOST commented on #514
Hello,

I am currently trying to get set up on Telegram, but go delayed. Why do
that ask for your telephone number for an online chat system?

Also, had one other question.

As I am starting my journey to dig into the Bitshares code, I started
looking on the github and see the "core" for the actual BTS API nodes as
well as see the "bitshares-ui" that you can place on a web server to call
the "core

[2017-12-07 14:40] abitmore commented on #514
@lonnieOST please check https://github.com/bitshares/bitshares-core/blob/develop/README.md for the core, https://github.com/bitshares/bitshares-ui/blob/staging/README.md for UI.

[2017-12-07 17:32] lonnieOST commented on #514
Thanks for the links.

Actually, I had briefly run across them already but did not heavily read
into the "Installable wallets" (
https://github.com/bitshares/bitshares-ui/blob/staging/README.md) which is
what I was seeking. I sometimes like to read through code to get a fell for
how things come together in a project.

Thanks again,
Lonnie

On Thu, Dec 7, 2017 at 9:40 AM, Abit <notifications@github

[2017-12-07 19:21] oxarbitrage commented on #144
we have the easy option to change the `doubles` to `long doubles` but that will not be a definitive solution. i was browsing around and found that `int` can be used to work around the rounding effects of `floats` and `doubles` but unsure how to implement yet. i saw the `price` type in our project but unsure if it will be for our needs either. any input on implementation will be very appreciated. w

[2017-12-08 12:16] abitmore commented on #144
@oxarbitrage the issue is doubles are not accurate even when have high resolution. For example, in https://github.com/bitshares/bitshares-core/pull/455#pullrequestreview-75914447, the test data you wrote, `"amount": "1664.17390000000000327"` is simply wrong and may confuse users. I'm not sure what's the best solution so far, but I tend to store and calculate with Integers and rationals, and conver

[2017-12-08 14:24] roelandp opened #517 "duplicate 'Got Block' notices on pre-hf and hf version 2.0.171105a"
This might not be a big issue and might just be a glitch however both @nahu and myself noticed today 8 december that on our nodes (both pre-hf and new hf 2.0.171105a nodes) the stdout showed some duplicate 'Got Block' entries with just a minor latency difference like these:
![image](https://user-images.githubusercontent.com/248064/33769594-0ff6b9ea-dc2b-11e7-9893-db2644c74078.png)

Bhuz suggested

[2017-12-08 16:00] pmconrad opened #518 "Clean up bitasset_data during maintenance"
I just noticed that HKD (and others) contain lots of long-expired pricefeed entries. These clutter up the database and cause unnecessary burden on undo_db.
IMO we should remove expired feed entries from bitasset_data during maintenance.

[2017-12-08 20:05] rngl4b commented on #517
seems to be just some trivial miscommunication between both releases.
With the HF already activated and block producers having updated most of our HF fallback nodes, those duplicated messages are almost gone now.

[2017-12-09 14:18] abitmore opened #520 "API client connection RAM usage discussion"
From a discussion in Telegram channel:

[2017-12-09 22:09] abitmore opened #521 "Show version when `--version` specified"
If implemented, would good for witness_ndoe and cli_wallet.

[2017-12-11 10:32] abitmore opened #523 "Add unit tests for market_history plugin"
As discussed in #513, we need to add unit tests  for market_history plugin.

[2017-12-11 10:35] abitmore commented on #509
Fixed with #513, Closing.

[2017-12-11 10:35] #509 closed

[2017-12-11 10:37] abitmore commented on #505
Should have been fixed. Closing. Feel free to reopen or open a new ticket if there are still issues.

[2017-12-11 10:37] #505 closed

[2017-12-11 18:36] oxarbitrage commented on #521
ill take care of this.

[2017-12-12 15:42] oxarbitrage commented on #521
closing with https://github.com/bitshares/bitshares-core/pull/524 merged

[2017-12-12 15:42] #521 closed

[2017-12-12 19:41] abitmore opened #527 "Add docker documents"
We need documents for the docker files.

[2017-12-12 20:13] oxarbitrage opened #528 "Add ES document to bitshares wiki"
move and update https://github.com/oxarbitrage/worker-proposals/blob/master/elasticsearch-plugin.md - include https://github.com/oxarbitrage/bitshares-es-wrapper

[2017-12-13 08:36] abitmore commented on #205
Perhaps we can make more progress on this with Elastic Search.

[2017-12-13 11:21] abitmore opened #532 "The PERLLIB patch breaks windows build"
[This commit](https://github.com/bitshares/bitshares-core/commit/7a29c52b39db264e15b6ae18ed2cfd4a6212bd96).
[code]

[2017-12-13 11:56] abitmore opened #533 "feature request: able to select plugins at build-time"
This would be useful.

[2017-12-13 12:20] abitmore opened #534 "Update windows build doc for elastic_search plugin"
Need to add `libcurl` to the document.

[2017-12-13 12:22] abitmore commented on #534
maybe need to update CMake files as well.

[2017-12-13 12:47] abitmore opened #535 "Move --version related code from application.cpp to witness/main.cpp"

[2017-12-13 21:41] abitmore opened #537 "Order matching issue"
https://cryptofresh.com/b/22567806
[code]
It's strange that `abit` got an order filled, because `abit` had only a short position but no other order in the market. The collateral ratio was high. Perhaps related to #453 or dust order cancelling.

[2017-12-13 21:49] abitmore commented on #537
No issue here. The call order was matched with a settle order. Closing.

[2017-12-13 21:49] #537 closed

[2017-12-14 15:11] oxarbitrage commented on #535
closed by https://github.com/bitshares/bitshares-core/pull/536

[2017-12-14 15:11] #535 closed

[2017-12-15 13:13] torkelrogstad opened #539 "Build problems on Ubuntu 17.10"
I've ensured that my Boost and OpenSSL versions are within the specified ranges, but I'm running into issues compiling the project.

Output from `cmake -DCMAKE_BUILD_TYPE=Release . > cmakelog 2>&1`:
[code]

Output from `make`:
[code]

[2017-12-15 13:58] TheTaconator opened #540 "General Idea: New Functionality to Realize Recurring/Scheduled Withdrawals on BitShares"
**Overview**
A recurring/scheduled withdrawal on BitShares consists of one account (e.g. donor; customer; etc.), which will be called a "giver", authorizing another account, which will be called a "recipient", to withdraw *up to a maximum amount* ("limit") of assets during any one of defined periods (e.g. per week; per month; etc.) between a start date-time and for up to N quantity of periods (i.e

[2017-12-15 14:50] oxarbitrage commented on #539
hi there, are you in the last pre release? https://github.com/bitshares/bitshares-core/releases/tag/2.0.171212

please note the boost 1.62 is supported in last version just merged into the master a few days ago.

[2017-12-15 15:17] torkelrogstad commented on #539
I got it to work after not checking out a release tag, but installing directly from master instead.

[2017-12-15 15:26] oxarbitrage commented on #539
probably the tag sent you to the last release(not supporting boost 1.62) instead of the current pre release(supporting up to boost 1.63).  glad to see you make it work. closing this one.

[2017-12-15 15:26] #539 closed

[2017-12-16 09:21] pmconrad commented on #540
Good writeup!

IMO all history should be moved into an external database, i. e. ES. And I'm all for moving non-core functionality into plugins.

[2017-12-18 03:56] NickyYangYang opened #541 "Question about "G2:Alternative generator for secp256k1.""
/** Alternative generator for secp256k1.
 *  This is the sha256 of 'g' after DER encoding (without compression),
 *  which happens to be a point on the curve.
 *  sage: G2 = EllipticCurve ([F (0), F (7)]).lift_x(int(hashlib.sha256('0479be667ef9dcbbac55a06295ce870b07029bfcdb2dce28d959f2815b16f81798483ada7726a3c4655da4fbfc0e1108a8fd17b448a68554199c47d08ffb10d4b8'.decode('hex')).hexdigest(),16))
 *

[2017-12-18 10:07] torkelrogstad opened #542 "Can't connect to either public node nor witness node running locally"
I'm having troubles using `cli-wallet` to connect to the public node listed.
Running `./programs/cli_wallet/cli_wallet -s wss://bitshares.openledger.info/ws` gets me:
[code]

I can't connect to a running witness node over localhost either.

[2017-12-18 10:10] alaxear opened #543 "PTS / BTS Import - Type Error: Property Key is NULL"
I have some PTS lying around pretty much since the start of the project. Unfortunately I was out of topic for a long time due to personal stuff. Now I heard about the BTS ongoings and remembered the location and password of my old PTS wallet. However I fail to migrate / import it into the new BTS wallet.

I followed the migration guide (https://www.reddit.com/r/BitShares/comments/3wg3no/how_can_i_

[2017-12-18 10:54] alaxear commented on #543
btw by guide i meant: https://www.reddit.com/r/BitShares/comments/3wg3no/how_can_i_convert_protoshares_pts_client_v085_to/

[2017-12-18 13:10] alaxear commented on #543
Just skipping through the source code... does the account name in the new wallet need to match the name in the old wallet? Is it enough to change the name in the exported json? or do the hashes in that json consider the name?

[2017-12-18 16:23] oxarbitrage commented on #542
are you sure the output of your command is the one provided ? it seems to me it is trying to connect to localhost instead of the server provided: `wdata.ws_server: ws://127.0.0.1:8090 `

here is my output for the same command:

[code]

are you maybe using windows ? my output is from linux.

[2017-12-18 16:48] oxarbitrage commented on #543
hi @alaxear , please open your issue in the bitshares-ui repo: https://github.com/bitshares/bitshares-ui/issues

you will get better help than here at the core. thank you.

[2017-12-18 17:01] alaxear commented on #543
ok thank you... moved the issue.

[2017-12-18 17:01] #543 closed

[2017-12-18 18:33] pmconrad commented on #541
Q1: I don't understand. Do you want to use G2 instead of the standard generator? Why?
Q2: Only points on the curve can be used as generators.

[2017-12-19 06:15] HarukaMa opened #544 "cli_wallet: buy/sell command has incorrect number formatting"
Example:

[code]

`10000` get converted to `10000.000000`, but BTS only has 5 digit precision, thus failing the assert.

[2017-12-19 17:39] pmconrad commented on #544
Thanks for the report.

wallet_api::sell( string seller_account, string base, string quote, double rate, double amount, bool broadcast ) calls sell_asset( seller_account, std::to_string( amount ), base, std::to_string( rate * amount ), quote, 0, false, broadcast )

There are actually two problems here:
* The sell api (as well as buy) takes a double as parameter which is probably a bad idea
* It tr

[2017-12-20 08:07] xcccer commented on #542
So is there a solution for this problem?

[2017-12-20 12:41] oxarbitrage commented on #542
i think there is no problem here, need @torkelrogstad  to confirm.

[2017-12-20 12:44] xcccer commented on #542
Yep.This is not a problem.I just made a mistake on spelling command line. Thx!!!

[2017-12-21 04:35] abitmore commented on #544
@HarukaMa: as @pmconrad said, for some historical reasons, these "new" commands are known to be broken (similar issue reported in #144). Before they're fixed, please use the `sell_asset` API/command.

[2017-12-21 04:54] abitmore commented on #542
@torkelrogstad what's your boost version? AFAIK there is a bug with boost 1.60, need to remove the white space after `-s` (and any other options) to let the program recognize the parameter specified. For example, use `./programs/cli_wallet/cli_wallet -swss://bitshares.openledger.info/ws`. Boost 1.57 and 1.58 don't have this issue.

[2017-12-21 05:06] abitmore commented on #540
As mentioned in OP, these can be done with proposals.

Need to develop new API's.

[2017-12-21 08:17] mutagenfork opened #545 "Feature request: automatically scale lifetime membership to account for changes in BTS price"
Right now, lifetime memberships cost 1500 BTS, or ~1000 USD at current BTS prices.  Yet the documentation says that it should cost about $100.

Proposed:  scale the Lifetime Membership fee automatically so that it is roughly $100 regardless of the current price of BTS.

[2017-12-21 08:33] pmconrad commented on #545
Fully agree, however this request must be addressed to and handled by the committee.
See also https://bitsharestalk.org/index.php/topic,25581.msg313848.html#msg313848 and https://bitsharestalk.org/index.php/topic,25541.0.html .

[2017-12-21 08:33] #545 closed

[2017-12-21 09:59] mutagenfork commented on #545
Can the committee specify the fee in dollars rather than BTS?  So that the fee is automatically adjusted to the desired dollar amount?

[2017-12-21 11:18] pmconrad commented on #545
No, fees are specified in BTS.

[2017-12-23 17:35] abitmore opened #549 "Check all non_unique indexes and change to unique indexes as needed"
Creating this ticket as discussed in Telegram.

[2017-12-23 17:45] abitmore opened #550 "Tweaks for API Nodes"
Learnt one more trick to improve performance for API nodes (do it before starting a node):
[code]
Need to document this somewhere.

Benchmark data is welcomed.

[2017-12-24 16:05] grctest commented on #329
@oxarbitrage Hey, has this change made it into the production Bishares-Core client yet?

I've [requested that this functionality is extended to the python-bitshares](https://github.com/xeroc/python-bitshares/issues/27) library, since i'm working on the HUG REST API right now.

Cheers 👍

[2017-12-24 16:31] oxarbitrage commented on #329
yes, this change is at master already.

[2017-12-28 03:46] rmawatson opened #552 "get_trade_history()"
currently this does not seem to be a problem, but with a hard limit of 100 trades being returned, when/if the volume increases to a point that more than 100 trades occur for a given time, I see no way that I would be able to make multiple requests to get > 100 trades, as the only filter available is a start and stop time which in this case would not change. I would presumably just keep getting bac

[2017-12-28 16:38] abitmore commented on #552
Duplicate of #448.
There is a `get_trade_history_by_sequence` API got added a while back to address this issue.

[2017-12-28 16:38] #552 closed

[2017-12-29 18:48] oxarbitrage commented on #528
added: https://github.com/bitshares/bitshares-core/wiki/ElasticSearch-Plugin

[2017-12-29 21:18] oxarbitrage commented on #61
closing this one as it can be done by using the commands above in a node with ES plugin. full documentation at https://github.com/bitshares/bitshares-core/wiki/ElasticSearch-Plugin

[2017-12-29 21:18] #61 closed

[2017-12-30 16:42] oxarbitrage commented on #549
there are 16 additional findings for non_unique in bitshares-core. I was checking them all and i think the one that may need a change is: https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/transaction_object.hpp#L67 but not sure.

[2017-12-31 10:17] pmconrad commented on #549
I think that one is only used to remove expired transactions from the duplicates list. Removal order should not matter for consensus, so I think this one is safe.

Ordering could make a difference for API calls that have a start and limit. But if you have more than limit results for a given key you can't return additional matches anyway, so it doesn't really matter.

[2017-12-31 15:15] abitmore commented on #549
I think it's too aggressive to change all. Title updated.

[2017-12-31 15:47] abitmore commented on #528
Looks good, although better if link it to readme of this repo and/or main page / index page of the wiki. Closing this one.

[2017-12-31 15:47] #528 closed

[2017-12-31 16:34] abitmore opened #554 "BIP-0062 Signature Canonization"
Check if this is relevant for us, and port if so:
* steemit/steem#1955

[2018-01-02 03:05] timelf123 opened #555 "Peg Lifetime member fee to static BitUSD value"
Because BTS prices have gone up so much this month, many people want VIP price to be pegged to USD. This ticket is being submitted to recruit devs and someone to create a WP to make this happen.

[2018-01-02 05:34] fixedelineation commented on #545
I support a dynamic lifetime membership as well.

[2018-01-02 14:24] oxarbitrage commented on #555
hi there, this will need to be detailed on how it will be done technically in a BSIP: https://github.com/bitshares/bsips
there is an interest on also supporting worker proposals in bitusd instead of bts that may be included in the same bsip.
will require planning, discussion and time, easier and faster is that the committee lower the fee for a LTM.

[2018-01-02 14:58] oxarbitrage commented on #542
no further response - not an issue.

[2018-01-02 14:58] #542 closed

[2018-01-02 19:21] grctest commented on #555
I fully agree that we should peg fees to bitUSD (or any other suitable mainstream bitasset like bitcny, etc), so that fees remain static and don't negatively impact the network when the BTS price fluctuates.

[2018-01-02 19:23] oxarbitrage commented on #555
proposal to reduce network operation fees including `account_upgarde` used for upgrade an account to LFT is being voted by the committee at this moment.
https://bitsharestalk.org/index.php/topic,25698

[2018-01-03 01:42] bycz6 commented on #269
https://github.com/EOSIO/eos/issues/922
This could also apply, right?

[2018-01-03 17:53] rmawatson opened #556 "order_id not available for historical limit_order_create operations"
I am trying to traverse historical bitshares data and am having problems with associating fill_order and limit_order_cancel operations to their limit_order_create operations.

Both of limit_order_cancel and fill_order operations contain an order_id field in the json. But historical limit_order_create operations do not. It seems this order_id is only available and returned when the original order i

[2018-01-03 18:11] oxarbitrage commented on #556
ill take a look and let you know what can we do.

[2018-01-04 13:10] abitmore commented on #556
If an order get completely filled or cancelled, it will be removed from the object database, so `get_object` will return `null`. The order id is in the `result` or `operation_result` field after created.

[2018-01-04 19:43] rmawatson commented on #556
its in the object result when created, but not included with the json stored in the blockchain, so given a historical limit_order_create operation and various fill_order and limit_order_cancel (which include the order id in the json) there is no way to correlate them. All that would be needed is that the order_id is added to the stored limit_order_create.

[2018-01-06 09:11] bitcoiners opened #561 "coinmarketcap missing charts for Zephyr (ZEPH)"
Seems trade history is not reported for ZEPH.
![image](https://user-images.githubusercontent.com/38520/34638340-0e351344-f2fc-11e7-94d8-78d4b474e139.png)

[2018-01-06 09:45] bitcoiners commented on #561
seems that was coinmarketcap problem.
![image](https://user-images.githubusercontent.com/38520/34638576-076b9fc4-f301-11e7-883f-200f6129cc63.png)

[2018-01-06 09:45] #561 closed

[2018-01-08 00:17] aeatemad commented on #545
same ^^

[2018-01-08 07:26] HarukaMa opened #563 "Dust settlement orders could mess up charts too"
Extension of issue #449 .

See this settlement order execution:
http://open-explorer.io/#/operations/1.11.112947572

which in turn produces the chart:
![0030-01-08 16 24 28](https://user-images.githubusercontent.com/861659/34661960-84b79790-f490-11e7-8f0f-569f31a0554d.png)

Should bitshares-core do something to correct this kind of data as well?

[2018-01-08 10:05] LanfordCai opened #564 "Make fail due to openssl"
`cmake` works fine, but `make` failed.

[code]

[code]

[code]

[2018-01-08 14:19] oxarbitrage commented on #564
i dont have a macos to help you, unsure if someone here will be able to. your openssl with 1.0.X is supported and there are efforts to support 1.1.X here: https://github.com/bitshares/bitshares-core/pull/559

for what i see here:

`ld: can't link with a main executable file '/usr/bin/openssl' for architecture x86_64`

seems like openssl binary is not present in /usr/bin ? maybe creare a symbolic l

[2018-01-08 14:20] oxarbitrage commented on #564
also check if some of this can help you:
https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

[2018-01-08 23:53] oxarbitrage commented on #563
@abitmore what do you think ?

[2018-01-09 03:51] LanfordCai commented on #564
@oxarbitrage Thank you for your reply:).

I have checked `/usr/bin` and openssl does present in the directory... And the `Building-on-OX-X` doc is not work, `brew link --force openssl` would failed with this warning:

[code]

That's why I add `-DOPENSSL_ROOT_DIR=/usr/local/opt/openssl` when calling `cmake` ...

[2018-01-09 07:34] ihla opened #565 "failing test cases in intense/block_tests.cpp"
The tests in [intense/block_tests.cpp](https://github.com/bitshares/bitshares-core/blob/master/tests/intense/block_tests.cpp) seem to be not maintained for long time. Are they all obsolete? Should they be deleted or fixed?

[2018-01-09 07:55] ihla opened #566 "failing issue #433 test cases"
The following test cases are failing in [fee_tests.cpp](https://github.com/bitshares/bitshares-core/blob/master/tests/tests/fee_tests.cpp):
- issue_433_test
- issue_433_indirect_test

There seems to be a temporary code annotated as `// TODO: remove after HARDFORK_CORE_429_TIME has passed`. When this code is deleted, both failing test cases pass.
What is the plan for fixing these test cases?

[2018-01-09 15:56] pmconrad commented on #564
This looks broken. /usr/bin/openssl is not a library.

[2018-01-09 15:58] pmconrad commented on #565
Not sure what this is supposed to test. We're currently concentrating on the chain_test, built from tests/tests/*.cpp .

[2018-01-09 16:00] pmconrad commented on #566
The hardfork has passed, so the code should be removed in one of the next releases.

[2018-01-09 22:12] HarukaMa opened #567 "`get_required_signatures` is not returning owner key even if it could be used"
I'm trying to remove the "sign as owner" function in bitshares-ui according to the plan, but I still think there is something wrong with `get_required_signatures`.

I'm running this version which should be enough:

[code]

Please note that the version string is apparently off as `--version` switch itself is rather new, and it indicates the head commit I'm on (f9af1b55).

Testing account is `haruka

[2018-01-10 14:27] shubhamchauhan commented on #215
Any updates on this?

[2018-01-10 16:24] jcalfee opened #569 "Docker: Hash Sum mismatch"
`apt-get install` fails under `phusion/baseimage:0.9.19`

[code]

To get this working, I added `RUN rm -rf /var/lib/apt/lists/*` before `apt-get update -y` .. I also upgraded to the latest `phusion/baseimage:0.9.22` but I can say simply upgrading to 0.9.22 did not fix the problem.

![image](https://user-images.githubusercontent.com/204121/34783137-53615bac-f5f0-11e7-824b-ba649453711b.png)

[2018-01-10 19:16] abitmore commented on #556
@rmawatson thanks for the suggestion. It's a good idea, however, it's a blockchain, we can not simply add a field to an existing operation, although not impossible to upgrade the consensus protocol. If you have interest and time, try compose an more detailed solution and submit an issue to https://github.com/bitshares/bsips/, including how to add the field, how to maintain backward compatibility f

[2018-01-10 19:24] abitmore commented on #563
The `fill_price` stored in the db might be incorrect. Will check.

[2018-01-10 20:55] abitmore commented on #567
@HarukaMa thank you. Please check PR #570. Right now I'm not sure whether you will encounter #197, will check later.

[2018-01-10 21:06] abitmore commented on #566
@pmconrad I'm placing this to the next milestone so far, not sure if you have time to finish it, please feel free if need to change.

[2018-01-11 00:29] abitmore commented on #563
PR #571 submitted, please check.

With the patch, the object turns to:

the new `fill_price` is `(29831273553/100000)/(50308802508/10000) ~= 5.93`

[2018-01-13 03:01] cwyyprog opened #575 "Bad file descriptor error when restart witness node"
I compiled a binary from the lastest master source, with the https://github.com/bitshares/bitshares-fc/pull/8 to update the openssl to 1.1, as the websocketpp 0.6.0/0.7.0 doesn't compile with openssl 1.1, I updated the submdule to develop branch at first, then the whole project compiles successfully.
When testing the new compiled witness_node, it runs successfully without rpc server after replayin

[2018-01-13 09:38] pmconrad commented on #575
When you say "latest source", which branch are you on? What rpc-endpoint did you set?

[2018-01-13 10:16] vanissoft commented on #449
As this problem manifests in OHLC results, couldn't better to adapt OHLC generator to ignore minimun quantities transaction? Thinking loud.

[2018-01-13 17:16] abitmore opened #576 "Fix CLI `account_update` related commands"
The account update commands in CLI are known to be broken.
* set_voting_proxy
* update_worker_votes
* vote_for_committee_member
* vote_for_witness

They're useful, so we should keep & fix them.

//Update with more details:
Specifically, the commands are setting wrong data in `new_options` field. For example, if you vote for a witness with a new account, it's fine; if you then vote for another witn

[2018-01-13 19:06] abitmore commented on #575
Earlier logs would be helpful.
Command line parameters and settings in `config.ini` would be helpful as well.

[2018-01-13 20:32] abitmore opened #577 "Uncaught Exception in `vote_id_type(string)`"
Code:
[code]

`std::stoul(...)` may throw exceptions and should be caught immediately.

With current code, CLI may crash if received malformed data, e.g. `"1:a"`. From my tests, witness_node is not affected.

Related to #25 and #333.

[2018-01-14 03:08] abitmore commented on #544
As discussed in #558, let's remove the two commands. Since they're broken, I guess it's safe to do so. Thoughts?

[2018-01-14 07:14] abitmore commented on #197
Just figured out what this ticket was talking about.

TL;DR: not a serious bug, so won't fix.

The behavior:
1. when updating `owner`, if provided no signature, the transaction will be rejected with reason "Missing Active Authority"
2. when updating `owner`, if provided only signature of `active`, the transaction will be rejected with reason "Missing Owner Authority"
3. when updating `owner`, if p

[2018-01-14 10:46] cwyyprog commented on #575
The branch is master, rpc-endpoint is 127.0.0.1:8090,
no command line parameters, the config.ini is
[code]

[2018-01-14 10:50] cwyyprog commented on #575
the console outputs:
[code]

[2018-01-14 16:57] cwyyprog commented on #575
solved by checkouting the 0.7.0 release of websocketpp, ie https://github.com/zaphoyd/websocketpp/tree/0.7.0 and patching with https://github.com/LocutusOfBorg/websocketpp/commit/1dd07113f2a7489444a8990a95be42e035f8e9df according to: https://github.com/zaphoyd/websocketpp/issues/599

[2018-01-14 16:57] #575 closed

[2018-01-14 17:10] abitmore commented on #575
Just a note for those who don't check edits but only new messages: OP is edited with more info, this issue is actually related to OpenSSL 1.1.

[2018-01-14 17:17] abitmore opened #579 "Output Boost and OpenSSL Version"
Add version of boost and OpenSSL lib to output when `--version` is specified, for both `witness_node` and `cli_wallet`.

Perhaps add version info too when the node / client normally starts up.

[2018-01-14 17:19] abitmore commented on #579
Version of other modules (e.g. websocketpp) would be useful as well (see #575).

[2018-01-14 20:47] abitmore commented on #197
We can still improve the `get_required_signatures` API, which should not break anything.

[2018-01-14 22:09] abitmore opened #580 "Witness nodes sometimes accept transactions with unnecessary signatures"
As described in https://github.com/bitshares/bitshares-core/issues/197#issuecomment-357493233, when an operation requires owner permission, if a transaction contains that operation is signed by both active key and owner key (two signatures), it will still be accepted by witness nodes. But actually the signature signed by the active key is unnecessary.

To "fix" this, need to change the consensus.

[2018-01-14 22:12] abitmore commented on #197
Title changed.
Will fix the API(s) in PR #567.
Created a new ticket #580 for the signature verification issue.

[2018-01-15 08:53] LanfordCai commented on #564
I used an ubuntu OS to build the code, and It works well, so I would close this issue. Thank you for your help.

[2018-01-15 08:54] #564 closed

[2018-01-15 17:25] abitmore commented on #200
Submitted a fix in #570. @svk31 @pmconrad would you like to check if the change will break anything?

[2018-01-16 02:27] abitmore commented on #518
Please be careful, the cleanup may affect the logic [here](https://github.com/bitshares/bitshares-core/blob/2.0.171212/libraries/chain/asset_evaluator.cpp#L412-L427).

[2018-01-16 15:49] GildedHonour opened #581 "Not producing block because I don't have the private key for "here is a public key of other node" in a private test net"
A node in a private testnet writes into log this warning:

     Not producing block because I don't have the private key for "here is a public key of other node"

I wonder  why? The node is provided with its own private and public keys and config.ini.

[2018-01-16 20:45] pmconrad commented on #581
The node knows that it is configured to sign blocks for your witness, but it doesn't have the active signing key for that witness.

[2018-01-17 00:36] crazybits opened #582 "osx witness node crash when place order"
osx witness node crash when place order, above is the only log in console, any infor is required, please let me know.

[2018-01-17 04:35] GildedHonour commented on #581
@pmconrad

It does have it.

It's "node6". A part of genesis.json:

        {
          "name": "init6",
          "owner_key": "node6 pub key",
          "active_key": "node6 pub key",
          "is_lifetime_member": true
        },{

        [.................]

        "initial_witness_candidates": [
          {
            [.................]

            {
              "owner_name": "init6",

[2018-01-17 06:12] GildedHonour commented on #581
command line:

     /home/witness/priv_tnet/witness_node --data-dir /home/witness/priv_tnet/nd_006/data

config.ini located at:     /home/witness/priv_tnet/nd_006/data/config.ini

[2018-01-17 06:14] GildedHonour commented on #581
All other nodes are set up in the same manner. And they don't produce blocks either, except the ones belonging to the 1st node.

[2018-01-17 14:20] abitmore commented on #581
Block need to be singed with signing key, it can be different than the account's owner key or active key. Try connect a CLI to the node via RPC, run the command `get_witness init6`. If you have the active key, import it to CLI, then run command `update_witness init6 "" your_signing_pub_key true` to update the signing key to the key you configured in config.ini.

[2018-01-17 14:22] GildedHonour commented on #581
@abitmore once again:

[2018-01-17 14:22] abitmore commented on #581
CLI.

[2018-01-17 14:24] GildedHonour commented on #581
my question is about genesis file and config.ini

[2018-01-17 14:26] abitmore commented on #581
You need to figure out why "here is a public key of other node". If it's in genesis, it should not be that. Perhaps your genesis file is wrong, or the code in db_init.cpp that parses it has a bug.

[2018-01-17 14:27] abitmore commented on #581
Paste your full genesis file somewhere, and the output of `get_witness` command in CLI. Otherwise we're hard to help.

[2018-01-17 14:29] GildedHonour commented on #581
How your solution will allow me to figure that out?
Say, I've imported a key for node 6 and it's working.  But I have hundres of other nodes that have the same issue. I can't use cli for each one.

[2018-01-17 14:30] GildedHonour commented on #581
i'll paste my genesis later

[2018-01-17 14:36] GildedHonour commented on #581
https://pastebin.com/byitxz6x

[2018-01-17 14:58] abitmore opened #583 "Always allow updating a call order to higher collateral ratio"
Current behavior: if a call order's collateral ratio is below MCR but it's not filled immediately due to no enough buy orders, it will hang there. The owner can adjust its collateral ratio only if to close the position, or the new ratio is above MCR, or the call order get completely filled (margin called). While this prevents the owner from maliciously reducing collateral ratio (to increase possib

[2018-01-17 15:00] abitmore commented on #582
If it's Ubuntu, I will run the node in gdb, trigger a segmentation fault, then get the output of `thread apply all bt`. Not sure if it applies to osx.

[2018-01-17 15:15] abitmore commented on #581
From CLI, init6's witness id is "1.6.7":
[code]

[2018-01-17 15:16] #581 closed

[2018-01-17 16:13] GildedHonour commented on #581
Thanks. Is there a way to set up how witness_id and account_id get assigned to each other? for example, I want node6 to be assigned to witness "1.6.6".

[2018-01-17 16:38] abitmore opened #584 "Owner keys of non-immediately required accounts can not authorize a transaction"
@pmconrad found the misbehavior [here](https://github.com/bitshares/bitshares-core/pull/570#issuecomment-357867908), quoted below:

Say, if an account A's active authorities is
[code]
then a transaction which requires account A's active authorities but only signed with account B's owner key should be accepted by the chain.

[2018-01-17 16:56] pmconrad commented on #583
Makes sense.

[2018-01-17 20:57] abitmore commented on #581
@GildedHonour you can start from init1 but not init0.

[2018-01-17 22:18] abitmore opened #585 "Operation_history_id mismatch among nodes"
A node with `track-account` configured has smaller history_object_id's (1.11.x) than nodes with default configuration values. Not sure if it's related to version.

[2018-01-17 22:55] abitmore commented on #585
Update: not smaller, but bigger.

[2018-01-17 22:59] abitmore commented on #585
Data in my node:
[code]

Data on OpenLedger:

{"id":1,"jsonrpc":"2.0","result":[{"id":"2.6.12376","owner":"1.2.12376","most_recent_op":"2.9.121485848","total_ops":4080,"removed_ops":3080,"total_core_in_orders":"1000000000000","lifetime_fees_paid":"4425871219","pending_fees":0,"pending_vested_fees":0}]}
$ curl -d '{"id":1,"method":"call","params":["database","get_objects",[["2.9.121485848"]]]}' htt

[2018-01-18 00:35] abitmore commented on #585
Update: after a replay, data in my node become identical to others. Not sure what was wrong.

[2018-01-18 00:50] GildedHonour commented on #581
@abitmore now it's working but the nodes on separate machines don't see each other, only ones on the same machine do. I'll open an issue.

[2018-01-18 01:03] GildedHonour opened #586 "Only nodes on the same server can see each other in a private test net"
I have a private test net as I've described here and my genesis looks like this - https://pastebin.com/byitxz6x

Here's a config for one of my nodes on machine 2:

          seed-node = 11.22.33.44:24000
          p2p-endpoint = 0.0.0.0:24006
          rpc-endpoint = 0.0.0.0:25006

          enable-stale-production = true
          genesis-json = /home/witness/priv_tnet/main_genesis.json

[2018-01-18 04:00] abitmore commented on #586
Change to this:
* one node set `p2p-endpoint = 0.0.0.0:24000`, assume its IP address is 1.2.3.4
* other nodes set `seed-node = 1.2.3.4:24000`.

Github is not the right place for discussing such topics. I think it's best for you to join Telegram channel https://t.me/BTS_Node_Admins.

[2018-01-18 04:00] #586 closed

[2018-01-18 04:17] GildedHonour commented on #586
@abitmore that's how it's set up now.

I'm aware about the telegram channel but people there are willing to answer to short simple questions only.

[2018-01-18 08:56] xeroc commented on #585
Do I assume right that at least the 1.11.x objects are still all the same?

[2018-01-18 15:25] GildedHonour commented on #586
@abitmore

the node also uses other standard seeds as well for some reason

        1232532ms th_a       application.cpp:131           reset_p2p_node       ] Adding seed node 11.22.33.44:24000

        1232533ms th_a       application.cpp:189           reset_p2p_node       ] Adding seed node 104.236.144.84:1777
        1232533ms th_a       application.cpp:189           reset_p2p_node       ] Addin

[2018-01-18 15:51] pmconrad commented on #585
No, that's the problem.

Are you sure it's related to track-account?

[2018-01-19 14:51] xeroc opened #587 "How is the transaction-id derived, exactly?"
https://github.com/xeroc/python-bitshares/issues/35

Can someone knowledable in C++ figure out for me how the transaction-id is derived so that I can reimplement that in python-bitshares? That would be very helpful for many.

[2018-01-19 21:49] abitmore commented on #587
Check code [here](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/protocol/transaction.cpp#L62-L67), [here](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/protocol/transaction.cpp#L40-L45), [here](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/include/graphene/chain/protocol/types.hpp#L238) and [here](https://

[2018-01-19 21:49] #587 closed

[2018-01-19 22:44] abitmore commented on #585
I didn't see anything wrong with `track-account`. It's perhaps related to replay.

[2018-01-19 22:48] abitmore commented on #586
Set `seed-nodes = []` in config.ini.

[2018-01-20 11:29] pmconrad commented on #585
I've checked the history code and haven't found anything that could cause a miscount of operation IDs.

The main differences between a replay and normal operations that I can think of are
* during replay, we never see forks / rollbacks
* during replay, we have more active skip_flags
* during replay, we don't continuously receive new transactions, apply them, and undo them before applying the block

[2018-01-20 11:33] pmconrad opened #588 "Virtual operations should be excluded from transactions"
fill_order_operation contains this piece of code that prevents it from ending up in a transaction: https://github.com/bitshares/bitshares-core/blob/015026f005123a507c572a0318565383c92e0820/libraries/chain/include/graphene/chain/protocol/market.hpp#L156

Other virtual operations should be protected in the same way. Specifically, asset_settle_cancel_operation does not include this validation.

[2018-01-20 16:13] abitmore commented on #511
Also found some in [db_block.cpp](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/db_block.cpp#L634-L640).

[2018-01-20 21:51] grctest opened #590 "Generate active keys with limited permissions?"
You can generate active keys to control your account, but it's almost like a master key - not something I want to hardcode into a price feed script on a VPS longterm.

Could it be theoretically possible to create a limited active key, say with only the ability to create the price feed publish transaction?

[2018-01-20 23:47] abitmore commented on #590
It need a consensus change. If you have a solution, please post to https://github.com/bitshares/bsips/issues.

[2018-01-20 23:49] abitmore commented on #588
See PR #591.

[2018-01-21 16:34] pmconrad commented on #590
Would be nice to have.

One solution for the specific problems of pricefeeds is to create a dedicated account for that. Or, if you're a witness, create an account for "normal" stuff and use the witness account only for signing + pricefeeds.

[2018-01-21 20:01] abitmore commented on #588
Update: removed code related to this issue from #591 since this requires a hard fork.

[2018-01-22 01:48] sakulove commented on #317
Do you have any solution to this problem? I have a problem with that too.

[2018-01-22 07:34] ihla commented on #317
I am on macOS High Sierra and have no issue like that, did you make _git submodule update --init --recursive_ ..?

[2018-01-22 12:16] grctest commented on #590
That's what I ended up doing.

[2018-01-22 13:03] xeroc commented on #527
There now is a `README.docker` file with documentation

[2018-01-22 13:03] #527 closed

[2018-01-22 13:19] xeroc commented on #587
[code]

Works .. thanks

[2018-01-23 12:07] oxarbitrage opened #596 "multiple \c characters in wallet.hpp function descriptions."
Nothing important but while checking `wallet.hpp` file i see several `\c`characters before variables and functions like: https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/include/graphene/wallet/wallet.hpp#L319

Not really sure if they are there by the editor initially used but i think we can maybe just removed for clarity.

[2018-01-23 17:06] pmconrad opened #597 "fc::time_point_sec::to_iso_string is broken"
time_point_sec internally uses an unsigned int to count seconds from epoch, like unix time. That means it is impossible to represent dates before 1970-01-01. Still, we sometime see dates before that in JSON output.

Probably a bug in boost::posix_time, have received a report that it's fixed in Boost-1.64. This ticket is for tracking and testing.

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize

[2018-01-23 21:37] abitmore commented on #596
Perhaps intended: https://www.stack.nl/~dimitri/doxygen/manual/commands.html#cmdc

[2018-01-23 21:47] oxarbitrage commented on #596
oh i see, lets leave it as it is then, thanks. closing now.

[2018-01-23 21:47] #596 closed

[2018-01-24 03:17] oxarbitrage commented on #563
check difference in charts, the following unpatched version chart of CNY/BTS from open explorer daily(http://open-explorer.io/#/markets/BTS/CNY):
![unpatched](https://user-images.githubusercontent.com/21685097/35312725-b3236566-009b-11e8-85f3-4d2f5091540c.png)

Now a patched version from pull #571 :
![patched](https://user-images.githubusercontent.com/21685097/35312770-e8e78812-009b-11e8-97e4-de16

[2018-01-24 13:35] #566 closed

[2018-01-24 13:36] #577 closed

[2018-01-24 13:38] oxarbitrage commented on #549
as we changed the proposal index and there is no other index that need this change that we are aware of atm, we are closing the issue.

[2018-01-24 13:38] #549 closed

[2018-01-24 13:40] oxarbitrage commented on #544
closing as commands were removed from the cli.

[2018-01-24 13:40] #544 closed

[2018-01-25 04:35] abitmore commented on #25
Fixed.

[2018-01-25 04:35] #25 closed

[2018-01-25 13:01] abitmore commented on #518
This is actually a consensus change. Theoretically, since feed expiration period of an asset can change via `asset_update_bitasset_operation`, an expired feed can become valid later if hasn't been removed.

[2018-01-25 13:23] oxarbitrage commented on #518
https://github.com/bitshares/bitshares-core/pull/598

[2018-01-25 20:03] abitmore commented on #197
PR merged.

[2018-01-25 20:03] #197 closed

[2018-01-25 20:04] abitmore commented on #200
PR merged.

[2018-01-25 20:04] #200 closed

[2018-01-25 20:04] abitmore commented on #563
PR merged.

[2018-01-25 20:05] abitmore commented on #567
PR merged.

[2018-01-25 20:05] #567 closed

[2018-01-25 21:37] oxarbitrage commented on #144
closing by https://github.com/bitshares/bitshares-core/pull/594

[2018-01-25 21:37] #144 closed

[2018-01-26 01:15] oflyhigh opened #601 "Suggestion: Return transaction_ids when call get_block API"
#### STEEM

As we know, the `get_block` API of ***STEEM blockchain*** return an additional section `transaction_ids` which contains the list of txid of `transactions`.

for example, the `transaction_ids` of block 10000000 of STEEM
[code]
If we know `block_num` and `txid`, we can easily extract transaction from block.

#### BitShares

But the `get_block` API of ***bitshares blockchain*** doesn't co

[2018-01-26 07:16] pmconrad commented on #601
This eat up lots of RAM, which is why steem has a compile-time option to disable that index: https://github.com/steemit/steem/blob/develop/CMakeLists.txt#L98

Might be worth adding to ES though.

[2018-01-26 08:54] abitmore commented on #601
Currently the `get_block` *wallet_api* returns `transaction_ids` as well as `block_id` and `signing_key`, but *database_api* does not. Those fields are calculated on the fly, so no more RAM is needed, we can argue that it requires more computing resources. The former is a bit more convenient for client apps, however `cli_wallet` itself **is** a client software. Considering that load on API nodes a

[2018-01-26 09:03] oflyhigh commented on #601
OK, got it, thank you for your reply.

[2018-01-26 11:49] abitmore commented on #517
Got more logs today.

2

We can see that ID of two blocks are same, so the witness is not "double-producing".

The `irreversible` field is different, that's OK because it indicates different chain state **before** processing the new block arrived.

[2018-01-26 13:05] oxarbitrage commented on #601
a node with elasticsearch plugin activated can already relate transaction id with blocks and operations. it was one of the several issues that elasticsearch plugin resolved.

for install and get started with elasticsearch node:
https://github.com/bitshares/bitshares-core/wiki/ElasticSearch-Plugin

[2018-01-27 15:30] #358 closed

[2018-01-27 20:24] abitmore opened #604 "Implement BSIP 26: refund order creation fee in original paid asset when order is cancelled"
See https://github.com/bitshares/bsips/blob/master/bsip-0026.md for more info.

[2018-01-28 01:34] crazybits commented on #582
please find the log below for your further investigation ,thanks

[2018-01-28 13:54] abitmore commented on #582
Thanks for the report. Still not sure why it happened, but hopefully it won't happen again after https://github.com/bitshares/bitshares-core/issues/468 is done.

[2018-01-29 00:00] abitmore opened #606 "Undercollateralized short positions should be called regardless of asks"
See these screenshots for example:
![](https://user-images.githubusercontent.com/12114550/35486326-ff3faed0-046c-11e8-9442-4d00248bb78d.png)
![](https://user-images.githubusercontent.com/12114550/35486318-d48c4cb6-046c-11e8-938c-1ec6b2eec995.png)

There is one bitCNY short position whose collateral ratio is below 175%. However, because there are asks (selling CNY for BTS) with price (x BTS per CNY

[2018-01-29 00:08] abitmore commented on #601
Won't do it.

[2018-01-29 00:08] #601 closed

[2018-01-29 00:09] abitmore commented on #541
No more info. Closing.

[2018-01-29 00:09] #541 closed

[2018-01-29 09:40] zhangweis opened #607 "Wrong public key recovered from signature? (missing required active authority even when authority's signature is present.)"
I have an account(dge0003) registered with key BTS6JicNdetyZf2kceu86Ms47iLNshty1rthKtnL7fSej7DtKyJNu as owner and active auths and I want to change the owners and active auths to 2/3 of [BTS6JicNdetyZf2kceu86Ms47iLNshty1rthKtnL7fSej7DtKyJNu, BTS5TEb4CkHWyMJq62WrPtQVtzZBSCXD6BhjUXrVfdSztStrViNgE, BTS7i8ePNeLCAxcWjaEeqsDFRZdSeMoF4gZmfe54EqrdX4AdQMY3k].
I made a transaction using bitsharesjs and sign

[2018-01-29 09:44] zhangweis commented on #607
I found strange BTS7QP1Ysi83pBUunfodrtmwQNjvNa981EGf8LFLhHCYEaGR34U7Q key in stack which doesn't have any relationship with my account. I checked the transaction.cpp code and seems it's a public key recovered from signature. Does it have relation with how the public key is recovered?
Stack:
{"code":1,"message":"missing required active authority: Missing Active Authority 1.2.676511","data":{"code":

[2018-01-29 10:20] abitmore commented on #607
https://github.com/bitshares/bitsharesjs/issues/13

[2018-01-29 10:37] #607 closed

[2018-01-29 11:02] abitmore commented on #607
Closed since it's a client issue.

[2018-01-30 08:16] xeroc commented on #199
Corresponding BSIP
https://github.com/bitshares/bsips/blob/master/bsip-0029.md

[2018-01-30 08:16] xeroc commented on #199
corresponding PR:
https://github.com/bitshares/bitshares-core/pull/599

[2018-01-30 22:10] oxarbitrage commented on #463
it will need to be `by_asset` in order to get the 3 orders types, `by_market` will not get the settlement orders as the `force_settlement_object` haves 1 asset only.

call should be added to the cli wallet.

[2018-01-30 23:00] abitmore opened #611 "Implement API's to get `withdraw_permission` objects related to an account"
Listing some tasks need to be done in the core for #540 in this ticket, since that ticket may be mainly for discussion.
* query by giver
* query by recipient

[2018-01-30 23:27] oxarbitrage commented on #91
relating https://github.com/bitshares/bitshares-core/pull/507

[2018-01-31 00:55] abitmore opened #612 "Link libcurl statically?"
After copied witness_node binary to a new machine, when starting, it complains that libcurl cannot be found.

[2018-01-31 01:06] abitmore opened #613 "Deprecate old `get_account_history` API"
The old `get_account_history` API is inefficient, which can be seen as a DoS vulnerability for API servers especially full-full nodes.

[2018-01-31 01:08] abitmore commented on #613
This may break some client applications. So please be careful. Perhaps implement a mechanism for API servers to refuse to serve such API, if there is not one already.

[2018-01-31 01:26] abitmore commented on #613
Actually perhaps the performance can be improved by getting use of the `by_op` index defined in `operation_history_object`, not sure why we didn't do so.

[2018-01-31 01:35] abitmore commented on #613
Actually the performance issue about `get_account_history_operations` API is more serious, since it's not as easy to fix as `get_account_history` API due to lack of direct index on operation type.

[2018-01-31 11:58] oxarbitrage commented on #612
please paste full error. thx.

[2018-01-31 12:37] pmconrad commented on #612
IMO this is a WONTFIX.
Binary portability is not a goal, nor desirable IMO. Use a package manager for properly distributing binaries, or concepts like docker containers.

[2018-01-31 14:50] oxarbitrage commented on #434
@pmconrad this is not fixed in the mentioned pulls as the `create_witness` will call `get_private_key_for_account` where the throw occurs: https://github.com/bitshares/bitshares-core/blob/master/libraries/wallet/wallet.cpp#L676

this still happening in current versions.

if we remove the thrown the call with use the first key found but unsure if we want to do that.

[2018-01-31 15:13] oxarbitrage commented on #91
i am not able to reproduce it, maybe already fixed ?

i am using different wallets in a private testnet and sending transfers from one to the other. memo is always there decrypted.

sending from wallet 1:

[code]

receiving in wallet2:

[code]

what i am missing ?

[2018-01-31 15:42] oxarbitrage commented on #382
definitely an UI issue that was changed to use the first part of the message on https://github.com/bitshares/bitshares-ui/commit/762874a3b8f6c1a58dc566c084060833e4016d37

if raw msg is going to be displayed i suppose it will be good to show first and second part of it.
ideal to never show the raw messages from the node in the UI, they may be of help for the experienced but ugly for newcomers, mayb

[2018-01-31 15:42] #382 closed

[2018-01-31 15:43] #579 closed

[2018-01-31 18:50] oxarbitrage commented on #104
same is valid for a private testnet setup. for this reason i submitted a new pull request to the documentation in the private testnet setup section:
https://github.com/bitshares/docs.bitshares.org/pull/37

and also updated the private testnet wiki to avoid connecting to default seed nodes hardcoded:

https://github.com/bitshares/bitshares-core/wiki/private-testnet#starting-block-production

closin

[2018-01-31 19:13] oxarbitrage commented on #177
i am closing this issue as there are workarounds for this with tools outside the project to handle the situation and there is no further complains about the subject, issue is also very old.

[2018-01-31 19:13] #177 closed

[2018-01-31 21:20] oxarbitrage commented on #611
i have a few options on how to this:

1- we make this as a plugin (`recurring_plugin`) and move the indexes of `withdraw_permission_object` into there just  as `account_history` does. can have the option to save in elasticsearch database.
or
2- create a new `recurring_api` in `api.cpp` and don't move index.
or
3- just create the call needed in `database_api.cpp`

[2018-01-31 21:43] oxarbitrage commented on #613
All the `history_api` calls including the 2 of this issue should be replaced by their elasticsearch versions by checking if the plugin is active. If so, a database endpoint will be available for the node and return the same data as current calls maintaining all clients compatible. If the plugin is not active don't return anything.

I understand not all full nodes will change the `account_history_p

[2018-01-31 22:17] oxarbitrage commented on #205
tell me what you need, ill make an ES plugin.

[2018-01-31 22:44] abitmore commented on #91
The first point is easy to reproduce: connect another CLI to a node and try `get_relative_account_history blocktrades 0 1 0`.

The second point is maybe fixed.

[2018-02-01 00:00] oxarbitrage commented on #91
[code]

[2018-02-01 00:02] oxarbitrage commented on #91
found it, thanks:

[code]

[2018-02-01 01:26] oxarbitrage commented on #91
closing by https://github.com/bitshares/bitshares-core/pull/614 for the first point and second point already fixed.

[2018-02-01 01:26] #91 closed

[2018-02-01 01:31] oxarbitrage commented on #91
closing by https://github.com/bitshares/bitshares-core/pull/614 for the first point and second point already fixed.

[2018-02-01 15:34] pmconrad commented on #613
I'm with the UNIX philosophy: One tool for one job.

Integrating an ES proxy into the witness_node makes things unnecessarily complex. If clients need a common endpoint to access both history and live chain data, set a common proxy before both witness_node and ES.

[2018-02-01 15:40] oxarbitrage commented on #613
okay, got it, lets fix. starting on `get_account_history` now.

[2018-02-01 16:11] oxarbitrage opened #615 "fee_refund_test fails"
[code]

related to market history plugin `market_ticker_meta_object` removed after `pop_block()` but locally saved reference trigger error when trying to visit later.

found by @abitmore

[2018-02-01 17:15] Dllieu opened #618 "feature request: support modern c++ compilers"
Compiler made great progress in the past few years but you are forcing yourself to use old version of compiler (e.g. 4.8)

I understand you are forced to use a subset to c++ due to the cross platform compatibility but once in a while forcing all the users to also update their compiler will only improve the overall performance of this library, also by using more recent compiler, you will be able to

[2018-02-01 17:52] oxarbitrage commented on #615
fixed.

[2018-02-01 17:52] #615 closed

[2018-02-01 19:56] ryanRfox opened #619 "Second Issue Created within Aha!"
Description of Second Issue text here.

Created from Aha! https://bitshares.aha.io/features/CORE-16

[2018-02-01 20:04] ryanRfox commented on #619
Sorry! This is testing integration. Closing.

[2018-02-01 20:04] #619 closed

[2018-02-01 20:51] mutagenfork opened #620 "Allow numbers in asset symbols"
Right now, numbers aren't allowed in asset symbols.  It would be handy if it were possible to use numbers, so that symbols like "SP500" were possible.

[2018-02-01 21:34] oxarbitrage commented on #620
by the code it seems the numbers are possible but not at the start or end of the asset symbol:

https://github.com/bitshares/bitshares-core/blob/1d0b85998f33c52e1b5073d6de73999f3a29db67/libraries/chain/protocol/asset_ops.cpp#L45-L49

not totally sure but i think you have a good point and at least we should allow the last character to use `isalnum`

[2018-02-01 23:25] landry314 commented on #563
The new update in GUI 180201 has a much WORSE dust-trade-wick issue than the last release for some reason.

When will this merge be forked in? The sooner the better as this is a huge issue.

[2018-02-01 23:27] oxarbitrage commented on #563
this fix is already available in the master branch of bitshares-core. we did that today and we will add a release tag tomorrow.

[2018-02-02 00:33] abitmore commented on #618
Welcome. Can start a new branch or project for it. Just lack of resources so far.

[2018-02-02 01:02] abitmore opened #624 "Write documents for named API specifiers and how to access via HTTP"
Copy docs in https://github.com/bitshares/bitshares-core/pull/223 to wiki and/or docs.bitshares.org.

[2018-02-02 07:49] HarukaMa opened #625 "Potential erratic order matching issue involving margin call orders"
Dunno if this is discussed before but I couldn't found any old issues about this.

![snipaste_2018-02-02_16-35-42](https://user-images.githubusercontent.com/861659/35721801-240b1f06-0837-11e8-822e-cfb44b88f665.png)

If there are margin call orders waiting to be executed, the  buy order with price between call limit and margin call price will be executed on the margin call orders **at the order pri

[2018-02-02 13:28] pmconrad commented on #625
Possible duplicate of #338

[2018-02-02 13:29] abitmore commented on #625
I guess this ticket is either a duplicate of #338, or #343, or #583, or #606, or a combination of some or all of them. We're working on fixing them in next consensus-changing milestone. Please keep an eye. Helps are always welcome.

[2018-02-02 13:35] pmconrad commented on #618
Where does it force use of an old compiler? I regularly build with gcc-5. CMakeLists.txt says *at least* 4.8.

[2018-02-02 13:36] #618 closed

[2018-02-02 13:37] Dllieu commented on #618
@pmconrad yes you can use a newer version but you are limited of the features you can use as they also must be supported by gcc 4.8, for instance if you want to use features such as `if constexpr` from gcc 6+ well it won't be compatible with the current requirement

[2018-02-02 16:00] abitmore opened #626 "Server Info API"
Do we have API's so that clients can know the API servers' version and configured parameters? For example, the `history_api::get_market_history_buckets` API provides some info to clients which is useful.

Inspired by [this discussion](https://github.com/bitshares/bitshares-core/pull/455#issuecomment-362606211).

Update: @sschiessl-bcp requested some info: https://github.com/bitshares/bitshares-cor

[2018-02-02 16:44] abitmore commented on #582
Perhaps related to https://github.com/steemit/steem/issues/2076

[2018-02-02 16:47] abitmore commented on #582
@crazybits can you check if the PR https://github.com/steemit/steem/pull/2077/files will fix this issue?

[2018-02-02 16:53] abitmore commented on #625
After further analysis I think this issue is related to #338, but not exactly the same. In #338 we said "matching price in favor of the taker", in this issue the favored matching prices are the limit orders but not the margin call orders.

[2018-02-02 23:00] #491 closed

[2018-02-03 10:18] pmconrad commented on #618
It makes sense to revise the c++ standard we're building on. Shouldn't tie it to a compiler version though.
And yes, we need to stay compatible with distros that are a couple of years old. Requiring C++17 (for example) would be premature IMO.

[2018-02-03 10:40] HarukaMa commented on #626
If such API could provide a estimated load of the node it would be very helpful, but dunno if it's viable to estimate it...

[2018-02-04 09:54] Dllieu commented on #618
Alright thanks for the answer, I closed the ticket (by mistake) as I won't work right away on it

[2018-02-04 16:57] digitalplayer-steemit opened #632 "Italian Translations"
Hello

My name is Michael Asumcinei and I would like to contribute with Italian translations.

I can do that only using Github as I am an adopter of Utopian.io project to reward open source software.

Just let me know if you are interested and I will be there for it

Best Regards
Michael Asumcinei
steemit.com/@digitalplayer

[2018-02-04 18:44] abitmore opened #633 "Add link to Doxygen docs in README"
- [x] Add a link in README and / or the wiki to the Doxygen docs generated from source code of this repository. I think https://bitshares.org/doxygen/hierarchy.html is a good entry point since the main page is empty.
- [x] Add a step in git flow, so we'll remember to update the document after every release.

By the way, we need to put something to the main page of Doxygen docs. Perhaps need to cre

[2018-02-04 18:48] abitmore commented on #632
Thank you, but I don't think the bitshares-core project need a translation right now.. You can check https://github.com/bitshares/bitshares-ui/blob/staging/app/assets/locales/locale-it.json which is the Italian translation for web wallet and light wallet.

Closing this one.

[2018-02-04 18:48] #632 closed

[2018-02-04 20:24] oxarbitrage commented on #633
sent pull for 1(readme) and added step 11 to git flow doc https://github.com/bitshares/bitshares-core/wiki/Git-Flow#how-to-create-a-release

if you want to change anything to the git flow let me know, i never made the process myself so i am not sure if those are the steps needed.

[2018-02-04 20:27] oxarbitrage opened #635 "put something in the main doxygen page"
https://bitshares.org/doxygen/

and change the README to point to this main page.

https://github.com/bitshares/bitshares-core/issues/633

[2018-02-04 20:52] oxarbitrage commented on #563
i am reopening this issue as it seems some change we made after this brought again the peaks in the charts.

i tested locally when i sent the 2 pics and the peaks were gone, now i am using current master release to update the explorer and even after a full replay(deleted chain data and started all again) i am still getting those high values:

http://open-explorer.io/#/markets/BTS/CNY -> change to

[2018-02-05 00:07] abitmore commented on #563
I think the [last change in PR #571](https://github.com/bitshares/bitshares-core/pull/571/commits/ad8b503be3a2319e62c6c03f4971480e7150def7#r165863887) is actually wrong, which is made after you tested. Will create a new PR soon.

Moving to next release.

[2018-02-05 00:29] abitmore commented on #563
Sorry, shouldn't be caused by that.

[2018-02-05 00:56] abitmore commented on #563
@oxarbitrage I found no issue from my node as well as a public node bts.ai.la:
[code]

The peak is `low_price = 10 * low_quote / low_base = 10 * 25444418225 / 57240618275 = 4.4445`

But data from bitshares.openledger,info is wrong, I think it's running a really old node (maybe 171105a since it has no `fill_price` field)
[code]
I'll look for another node which is running 171212 for more data.

[2018-02-05 01:02] oxarbitrage commented on #563
thanks @abitmore i am synchronizing a few chains with different versions to get more info. ill update.

[2018-02-05 01:09] abitmore commented on #563
Found one running 171212:

{"id":1,"jsonrpc":"2.0","result":[{"id":"5.1.1555910","key":{"base":"1.3.0","quote":"1.3.113","seconds":86400,"open":"2018-01-14T00:00:00"},"high_base":245073039,"high_quote":74750000,"low_base":1,"low_quote":1,"open_base":226757369,"open_quote":100000000,"close_base":201110464,"close_quote":72399800,"base_volume":"5623538890791","quote_volume":"2032413699764"}]}

The pe

[2018-02-05 01:17] oxarbitrage commented on #563
yes, hold on ... i think my binary for the witness node is in 171212, my mistake it seems ... ill confirm.

[2018-02-05 02:52] ebpchain opened #636 "link openssl failed"
This formula is keg-only, which means it was not symlinked into /usr/local,
because Apple has deprecated use of OpenSSL in favor of its own TLS and crypto libraries.

If you need to have this software first in your PATH run:
  echo 'export PATH="/usr/local/opt/openssl/bin:$PATH"' >> ~/.bash_profile

For compilers to find this software you may need to set:
    LDFLAGS:  -L/usr/local/opt/openssl/lib

[2018-02-05 03:02] #636 closed

[2018-02-05 03:02] ebpchain commented on #636
cmake -DOPENSSL_INCLUDE_DIR=/usr/include/openssl-1.0 -DOPENSSL_SSL_LIBRARY=/usr/lib/openssl-1.0/libssl.so -DOPENSSL_CRYPTO_LIBRARY=/usr/lib/openssl-1.0/libcrypto.so -DBOOST_ROOT=~/boost160 .

[2018-02-05 03:30] ebpchain opened #637 "build failed"
/Users/xxx/Desktop/bts/graphene/libraries/fc/include/fc/static_variant.hpp:385:34: error: class template partial
      specialization is not more specialized than the primary template [-Winvalid-partial-specialization]
  template<typename... T> struct get_typename<T...>  { static const char* name()   { return typeid(static_vari...

In file included from /Users/wsli/Desktop/bts/graphene/libraries/c

[2018-02-05 03:31] oxarbitrage commented on #563
false alarm, the binary was not updated. sorry to make you waste time on it @abitmore

working perfect now: http://open-explorer.io/#/markets/BTS/CNY

[2018-02-05 03:31] #563 closed

[2018-02-05 03:34] abitmore commented on #637
If it's an apple issue try fix it by yourself. Thanks.

[2018-02-05 07:07] ihla commented on #637
This happened to me mostly when I switched branch and  always resolved when I cloned repo in a new dir and git submodule update --init --recursive, try at least clean and remove fc dir and then git submodule update --init --recursive. There might be something wrong with the template specialisation , unfortunately had no time yet to investigate.

[2018-02-05 10:48] abitmore opened #639 "New plugin and API: grouped orders"
How about a new API that returns an order book that orders are grouped already? I think we can group the orders by percentage increase on price, we can say that a group of orders is a bucket, say 0.01% buckets, 0.1% buckets, 1% buckets and etc.

An order group (e.g. an ask order group) would have there attributes :
* `max_price`: the greatest asking price in the group
* `min_price`: the least aski

[2018-02-05 10:50] abitmore commented on #637
Oh. I guess this issue can be closed.

[2018-02-05 11:01] ebpchain commented on #637
still failed

ile included from /Users/wsli/Desktop/bitshare/graphene/libraries/net/core_messages.cpp:24:
In file included from /Users/wsli/Desktop/bitshare/graphene/libraries/net/include/graphene/net/core_messages.hpp:27:
In file included from /Users/wsli/Desktop/bitshare/graphene/libraries/chain/include/graphene/chain/protocol/block.hpp:25:
In file included from /Users/wsli/Desktop/bitshare/grap

[2018-02-05 13:15] xeroc commented on #635
https://github.com/bitshares/bitshares.github.io/commit/72fd4a3cb1b04de40b586eb1346771a08a8ba4be

[2018-02-05 14:00] #633 closed

[2018-02-05 14:06] ebpchain commented on #637
template class get_typename{};-------> template<typename... T> struct get_typename;

[2018-02-05 17:55] abitmore commented on #637
If there is a solution please submit a pull request. Thanks.

[2018-02-05 23:23] abitmore commented on #611
Not like history objects, `withdraw_permission` objects need to be created in core. The `by_expiration` indices is being used in consensus. Other indices are not being used so far. If an index is useless in core, it's OK to have it in a plugin, but this may need some efforts, also don't know if we need to move it back to core for consensus which may get more work involved. Since RAM for this objec

[2018-02-06 03:44] ebpchain commented on #637
how to submit this request, I found that the master branch of fc fixed this bug

[2018-02-06 09:35] Clementvale opened #643 "witness_node seems doesn’t work after update in test blockchain"
Dear BitShares developers, hope somebody can help.
We’ve just started a new forked project  https://github.com/Clementvale-LTD, it is based on previous release “BitShares Core Release 2.0.171212”
Yesterday I notice a new release “BitShares Core Release 2.0.180202” and merged changes into my fork. Seems witness_node doesn’t work anymore after update in my testsnet blockchain.
Should be next release

[2018-02-06 10:40] abitmore commented on #643
Looks like your data dir is corrupted somehow. If you don't have a backup, perhaps the easiest way is to start from scratch again.

[2018-02-06 11:17] Clementvale commented on #643
No
Previous version works correctly with exactly the same data (I have stored data in backup). The problem is that I am not able to make updated version to run over the previously created blockchain.

[2018-02-06 11:57] abitmore commented on #643
I still think the issue is on your side.
We didn't change anything about block file parsing in this release. If the old node can replay, the new old should be able to replay as well.

[2018-02-06 12:40] jfburdet commented on #569
I also having this error.

An important thing to note, that it seems intermitent, arising from time to time, without having changed Dockerfile content.

[2018-02-06 12:55] oxarbitrage commented on #635
https://github.com/bitshares/bitshares-core/pull/645 replaces #642 as a hotfix.

[2018-02-06 13:22] abitmore opened #649 "Black swan detection checks short position with lowest call_price but not lowest collateral ratio"
In `database:check_for_blackswan()` in [db_update.cpp](https://github.com/bitshares/bitshares-core/blob/2.0.171105a/libraries/chain/db_update.cpp#L225-L253):
[code]
Due to possibility of being partially called, the position with lowest call_price can have higher collateral ratio than others.

Perhaps can see this as a duplicate of #343 .

[2018-02-06 19:17] tbone-bts commented on #639
It seems that it would make sense to include cumulative order totals with such an orderbook plugin for grouped orders.

![sell_orderbook](https://user-images.githubusercontent.com/15830348/35878821-7f6c2f76-0b47-11e8-97bb-bff465d8b506.JPG)

[2018-02-06 20:19] oxarbitrage commented on #635
this is solved.

[2018-02-06 20:19] #635 closed

[2018-02-07 00:33] oxarbitrage opened #650 "proposal framework for api nodes documentation"
i am working on a draft to add to the wiki as i think we have no document to cover specifically the api node configuration:

https://github.com/oxarbitrage/worker-proposals/blob/master/bitshares_api_node.md

it is just a draft at the moment.

This will include https://github.com/bitshares/bitshares-core/issues/624 and https://github.com/bitshares/bitshares-core/issues/550

I will go ahead and get

[2018-02-07 00:36] oxarbitrage opened #651 "add description to FC repo"
someone with permissions please add a description to https://github.com/bitshares/bitshares-fc

can be "fast-compiling c++ library"

thanks.

[2018-02-07 14:39] abitmore commented on #639
@tbone-bts what you're saying is an UI feature. With the data provided by backend / API, UI can do that.

[2018-02-07 14:52] cphrmky commented on #582
i'm also seeing this issue on OS X

any time an order is created or canceled, or a withdrawal is initiated using the crypto-bridge client when it's pointed at my local node, i get a segfault...

[2018-02-07 15:42] abitmore commented on #651
Done.

[2018-02-07 15:42] #651 closed

[2018-02-07 15:52] oxarbitrage commented on #651
thank you.

[2018-02-07 16:21] abitmore opened #652 "Remove `by_feed_expiration` index from `asset_bitasset_data_object`"
The `by_feed_expiration` index for `asset_bitasset_data_object` seems not being used. Perhaps it was added in expectation of being used to update median price feed of assets when a feed is expired, but unable to use because no quick way to find corresponding `asset_object` with `asset_bitasset_data_object`. I think it can be safely removed.

[2018-02-08 04:01] jmjatlanta commented on #652
This looks easy enough to tackle. But I have two questions for the experts:
1) How best to test the change. Is simply looking up an asset_bitasset_data_object by its id enough?
2) This will make the asset_bitasset_data_object only have one index (the unique one on the id). So should the multi_index_container be replaced with something else? I don't think so, as I can't imagine what to replace it w

[2018-02-08 05:56] abitmore commented on #652
1. It's a removal of feature but not logic change, so I think it wound be fine if the project compiles after the change.
2. Good question. IMHO keeping it as `multi_index_container` is the safest, although perhaps it can be replaced with `simple_index`.

[2018-02-08 13:28] jmjatlanta commented on #652
Pull request for the fix: https://github.com/bitshares/bitshares-core/pull/654

[2018-02-08 20:57] oxarbitrage commented on #652
good job John ;)

[2018-02-08 20:57] #652 closed

[2018-02-08 21:30] oxarbitrage commented on #363
https://github.com/bitshares/bsips/issues/49

[2018-02-08 23:41] oxarbitrage commented on #611
https://github.com/bitshares/bitshares-ui/issues/30 - creating recurring payments in private testnet to test api calls as there is almost no public operations of this kind. ill extend a bit the documentation available with some simulated recurring payments examples as i was not able to find anything of value except for that link and https://bitshares.org/technology/recurring-and-scheduled-payments

[2018-02-09 10:58] abitmore commented on #637
@oxarbitrage can you check whether we need to bump FC version?

[2018-02-09 12:16] W-B-S commented on #637
Oh I found the problem，check this link:
https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

and the description of point 7:
"
Clone the Graphene repository:

git clone https://github.com/cryptonomex/graphene.git
cd graphene
"

we should git clone the biteshares github not graphere

that's the point.

[2018-02-09 12:30] oxarbitrage commented on #637
thanks @W-B-S i updated the repo in the docs: https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

@ebpchain pls confirm this is working.

@abitmore bump in FC not needed.  we are out of sync by 1 pull but unrelated:

[code]

[2018-02-09 18:29] abitmore commented on #460
I decided to postpone this as it's still a feature.When the outcome is 1, the
This

[2018-02-09 18:41] abitmore commented on #460
Sorry for accidentally sent out an unfinished comment.

I decided to postpone this as it's still like a uncompleted feature.

* When the outcome of a PM is 1, the issuer can global settle with 1, or the price feed producers can feed 1 (which will trigger a black swan event then global settle at 1), the result is same.
* When the outcome of a PM is 0, the issuer can global settle with 0, but
  * th

[2018-02-09 19:08] abitmore commented on #460
Updated the documents according to current situation, may need to update again after the issue is fixed.
* https://github.com/bitshares/docs.bitshares.org/blob/master/source/bitshares/tutorials/pm-create-manual.rst
* https://github.com/bitshares/docs.bitshares.org/blob/master/source/bitshares/tutorials/pm-close-manual.rst

[2018-02-09 19:11] abitmore commented on #637
I guess what @W-B-S mentioned is another issue, while the reason of @ebpchain's issue is still unknown.

[2018-02-09 19:13] oxarbitrage commented on #637
well, by his logs he downloaded a `graphene` repo instead of `bitshares-core`

[2018-02-09 19:41] abitmore commented on #637
Oh, likely. Will wait for more info.

[2018-02-10 00:43] jmjatlanta commented on #64
What about defining the defaults in the variadic template instead of the class? Similar to:

https://baptiste-wicht.com/posts/2015/03/named-optional-template-parameters-compile-time.html

It would basically be building the class at compile time using templates. The classes in graphene/app/api.hpp would have to be replaced with a "templated language". Readability would also suffer (IMO). But the ga

[2018-02-10 15:06] marcialvieira commented on #468
I can work on it if it's okay by @abitmore

[2018-02-10 17:37] abitmore commented on #468
@marcialvieira no problem. Thank you.

[2018-02-11 00:29] abitmore commented on #64
Hi @jmjatlanta, thanks for the comments. Personally I don't want to touch this ticket since I'm not a fan of deep code refactoring. Wish someone else can help you and/or work together with you. Wish you good luck.

[2018-02-11 00:36] abitmore commented on #604
PR merged. Closing.

[2018-02-11 00:36] #604 closed

[2018-02-11 02:23] jmjatlanta commented on #64
Thanks for the reply @abitmore. Even the "IDL" idea has some drawbacks. 1) the extra compile step, 2) performance.

The way it is done now is with variadic templates. This requires parameters in a specific order, and no defaults unless you want make a specialized template (which kind of defeats the purpose of the template). The pros are that it is fast, with some compile-time type checking.

The w

[2018-02-11 06:22] kenneth opened #658 "build error"
[code]

[2018-02-11 09:18] pmconrad commented on #658
More info please. Compiler? OS? Version? Output from cmake?

[2018-02-11 11:31] abitmore opened #659 "P2P network security"
For better security,
- [x] add option to only connect to trusted peers, so certain nodes won't be visible to other peers in the network
- [x] add option to not advertise IP/port of certain peers or known peer list to other peers

Possible to port this feature from BitShares1-core.

More ideas are welcome.

[2018-02-11 20:59] oxarbitrage commented on #620
i am taking this one as it is the easier HF available and i want to get more familiar with the process to make a few more for the next consensus.

[2018-02-11 23:11] abitmore commented on #583
PR #655 merged. Closing.

[2018-02-11 23:11] #583 closed

[2018-02-11 23:42] oxarbitrage commented on #620
question here. `asset_ops.cpp` does not haves access to database so compare the hardfork date against `head_block_time` is not possible. i saw in other files of the protocol directory that what they did is use `fc::time_point::now()` to compare. this is ok but it will make test cases not possible. other option is to add database support to the file. any advice on how to proceed is appreciated.

[2018-02-11 23:48] abitmore commented on #582
@cphrmky @crazybits can you check whether #661 fixes/gets-around this issue? Thanks.

[2018-02-12 00:03] abitmore commented on #620
`fc::time_point::now()` is a no-go, since it may break consensus. To make the change, need to loose the validation code in asset_ops.cpp, add a hard fork guard code with original rule to asset_evaluator to make sure no rule change before the hard fork, add corresponding hard fork guard code in proposal_evaluator. After hard fork, those hard fork guard code can be safely removed.

By the way this h

[2018-02-12 12:00] oxarbitrage commented on #620
i see, thanks for the response. it is more complicated than i expected even if the explicatio  on how to do it

[2018-02-12 14:01] jmjatlanta commented on #637
@ebpchain Did you find a solution for this? Things seem to be working for me. I added a few notes to the bottom of the wiki page about my experience: https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

[2018-02-12 14:05] jmjatlanta commented on #658
I had a similar error building on a mac. If you're on a mac, see my notes at https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

Also, removing bitshares-core and cloning it again (along with the required 'git submodule update') got me past such errors. Let me know if you are still stuck.

[2018-02-12 14:09] jmjatlanta commented on #317
I had a similar issue. I had earlier compiled openssl and boost with gcc, and cmake was picking that version up. Calling cmake with specific boost and openssl versions helped. See my recent notes at https://github.com/bitshares/bitshares-core/wiki/Building-on-OS-X

Also, removing bitshares-core and re-cloning at times does wonders.

Reply here if that doesn't help.

[2018-02-12 14:15] jmjatlanta commented on #315
While someone on earlier versions of mac os may still be able to have the brew link command work, the suggestion of the OP works well. I have updated the wiki with my findings, by adding a note at the bottom. I left the "brew link" command there for now. It should probably be removed, but I don't feel comfortable doing it just yet.

[2018-02-12 15:26] pmconrad commented on #658
Hm, that seems to be a common solution. Perhaps we should modify the build documentation to do an out-of-tree build.

[2018-02-12 19:37] oxarbitrage commented on #556
an alternative to BSIP and hardfork can be to make use of WIP elasticsearch objects plugin to go after this issue. i think it is important to have some workaround to make that relation possible. https://github.com/bitshares/bitshares-core/pull/500

the problem is mainly the 1.7.X objects are removed after a fill cancel or at expiration. similar issue in proposal objects that were already added to

[2018-02-12 20:06] oxarbitrage commented on #468
closing as the code was merged. thank you @marcialvieira

[2018-02-12 20:06] #468 closed

[2018-02-12 20:12] xeroc commented on #556
Assuming create-limit-order ooeration has an extension field, why not use that to allow custom identifier, together with a new index to track object id and custom identifier?

[2018-02-12 20:30] oxarbitrage commented on #556
hmm, i don't think it will be that easy.
when the limit order is created we have nothing to add as there is no cancel neither fill at that moment. update the limit order will mean to add a new operation. maybe i am wrong.

[2018-02-13 05:27] bxgzi opened #664 "The problem of Witnesses and committee votes."
When a person votes for multiple witnesses and the committee, the number of votes each witness and committee receives should be his market value/the number of votes cast by him.

Otherwise one can register several witnesses and committee account, some people vote for his multiple accounts when he won the voters' accounts are so value vote, he could only become a witness and committee results but b

[2018-02-13 06:52] pmconrad commented on #664
Changing the voting weights requires a BSIP - please create an issue here: https://github.com/bitshares/bsips

It might be a good idea to discuss the subject on bitsharestalk.org first.

[2018-02-13 06:52] #664 closed

[2018-02-13 07:11] cifer-lee commented on #637
@jmjatlanta Thanks, `cmake -DBOOST_ROOT=/usr/local/opt/boost@1.60 -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl .` is the key point works for me.

[2018-02-14 02:32] jmjatlanta commented on #582
I tested this on my mac with the develop and main branch, pointing to my testnet, and could not recreate the problem. Either (1) the problem has been fixed, or (2) my configuration is different, or (3) it only happens on the mainnet (which in my mind is improbable and would take a long time to for me to test). My guess is (1).

If this is still happening for someone, please provide me with more in

[2018-02-14 10:07] abitmore commented on #132
Here comes the detailed rules:
* match in favor of taker, or say, match at maker price
* round down receiving amounts when possible
  * when matching two limit orders, round down the receiving amounts in favor of bigger order, or say, try to fill the smaller order
    * if the smaller order would get nothing after the round-down, cancel it
  * when matching a limit order with a call order, in favo

[2018-02-14 10:19] abitmore commented on #184
As of writing, this issue has occurred 23524 times, and the number is still counting. Will address it in #641.

[2018-02-14 11:40] jmjatlanta commented on #626
I believe this belongs in the login_api. The call will return a collection of settings.

Note: Care must be taken as to not expose information that could become an attack vector.

If no one else is currently working on this, I'll attempt to tackle it. I'll concentrate on the server version, and then information can be added from there.

Any questions/comments/advice, let me know.

[2018-02-14 15:06] pmconrad commented on #132
Problems with this approach:
* It can be ambiguous which order is "smaller" since you can't compare them directly. You can only compare order1.balance with order2.balance * price - but which price, and what do you do if order1.balance < order2.balance * price but order1.balance * price' > order2.balance?
* In your example, Bob pays a higher price than specified, which means he could receive less i

[2018-02-14 15:09] pmconrad commented on #626
Please keep the exposed information minimal, for reasons of security. Server load is nobody's business, for example.

[2018-02-15 01:05] turlahector opened #671 "cli_wallet error"
Hi,

I am new in bitshares and i am trying to run bitshares-core on a linux server i was able to download the blocks and am on the part of running the cli_wallet but it shows some error. Hopefully you can help me in this matter. I will attach the error here.

Thank you!
![error-cli_wallet](https://user-images.githubusercontent.com/17754163/36236124-5a21cbd8-122f-11e8-93bb-befe982aa34f.png)

[2018-02-15 13:45] pmconrad commented on #671
Did you configure your witness node to listen on port 8090 for RPC requests?

[2018-02-15 13:56] pmconrad commented on #149
Apparently steem has solved this by moving to a json format for the logging config: https://github.com/steemit/steem/releases/tag/v0.19.4rc1

[2018-02-15 21:28] jmjatlanta commented on #576
I took a look at this, and created a test case. When I attempt a "set_voting_proxy" i get:
[code]
Is that what I should get, or is there an error in my test?

[2018-02-15 21:31] oxarbitrage commented on #576
yes, thats the problem.

[2018-02-16 04:50] kenneth commented on #658
cmake . is OK，but make have error. I build on  my mac。

[code]

[2018-02-16 08:39] abitmore opened #672 "Don't allow increasing debt if still in margin call territory"
PR #655 introduces a new vulnerability that a call order in margin call territory can greatly increase debt while slightly increasing collateral ratio and still hangs there, which will make it harder to be filled, thus may increase possibility of black swan event and bring more risks to the pegging system.

I think we can fix this by not allowing increasing debt if the call order can not be filled

[2018-02-16 10:21] abitmore commented on #504
It's getting worse.
[code]

[2018-02-16 11:26] abitmore commented on #582
@jmjatlanta try mainnet please. Thanks.

[2018-02-16 11:35] abitmore commented on #132
* the first rule written above is "match at maker price"
* I think it's OK to break it
* the makers should know the risks in advance and, accept them or avoid participating in such markets.

[2018-02-16 11:42] abitmore commented on #132
For example, create a new asset MINNOWSHARES backed by WHALESHARES, with price 1 WHALESHARES : 1,000,000 MINNOWSHARES. Due to rounding up, settling one MINNOWSHARES will get the settler 1 WHARESHARES. This is stupid business. Don't short.

[2018-02-16 11:49] abitmore commented on #132
Continuing the example above: after the force settlement, the position with least collateral can have zero collateral, so a black swan would be triggered at price `0`, all positions will be forced to closed and all collateral will be returned, remaining MINNOWSHARES would have nothing backed. The next question: will it be revived instantly?

[2018-02-16 12:28] abitmore commented on #626
The rationale of creating this issue, is that some API nodes didn't upgrade when a new feature is released, or didn't enable some plugins. It's good for clients to easily know the API server's capacity when connected, otherwise, for better user experience, the clients have to guess/detect with some methods. Nevertheless some info may be sensitive.

[2018-02-16 12:37] abitmore commented on #576
@jmjatlanta it's another issue. You need the private keys to be able to update an account, that's by design.

[2018-02-16 12:43] abitmore commented on #658
@kenneth:

[2018-02-16 13:36] pmconrad commented on #132
My point about which order is smaller was meant to refer to your rule about rounding when matching two limit orders.

When matching call orders, IMO we should *always* round in favour of the call. If a settlement receives 0 collateral as a result, that's acceptable IMO, because the settlement price in unknown at the time when settlement is requested, so no guarantee is violated (within the range o

[2018-02-16 13:47] pmconrad commented on #504
Hm, any idea what's causing this?
Perhaps need to add some timing output in various places during maintenance?
Or try to run a replay in profiling mode? That might take ages...

[2018-02-16 14:15] pmconrad commented on #672
Hm, valid point. Good catch.

Alternative solution: allow increase of debt and collateral if delta_collateral/delta_debt > feed*MCR.

[2018-02-16 18:28] xeroc commented on #576
Witness votes are tallied once every maintenance interval. Thats probably why you dont see the votes yet. As for the other error, could caching be the reason?

[2018-02-16 19:26] abitmore commented on #576
Specifications.

When voting with a proxy, if then vote for a witness, what should we expect on the chain? Then, what should we expect from CLI?

Tallying is one issue here, but won't fix so far.

Caching should have been fixed.

There are still other bugs in the commands. Described in updated OP.

[2018-02-16 20:09] abitmore commented on #132
The maker price.

IMHO if a force settlement order would get nothing, it would break the compromise that "every smart coin is backed by something" which is unacceptable.

It's already broken now. The "rounding in favor of bigger order" rule is not new. It's mentioned by BM [above](https://github.com/bitshares/bitshares-core/issues/132#issuecomment-273344443). We have to make a compromise when the

[2018-02-16 20:28] abitmore commented on #504
This is a plugin issue, although the logic is tricky.

When the witness plugin didn't receive a block in 3 seconds then it tries to produce another block, actually this can be profiled, say, if it took itself 3 seconds to produce the new block, it should know the previous witness need 3 seconds to produce and some time to propagate, so the best guess should be it should have received the block now

[2018-02-17 01:29] jmjatlanta commented on #658
I saw similar errors when I compiled my own boost library instead of using the one from brew. I am guessing that one is using gcc, and another using clang. Are you attempting to compile your own boost or using brew?

[2018-02-17 04:42] marcialvieira commented on #612
I've tried building and I see that libcurl is linked to many other libs, so it will only succeed if you link to all that other static libs or an almost or even a whole static binary, if anyone wants to try it, will need to add -DCURL_STATICLIB in CXX_FLAGS at make command line and need to use the output of the 'curl-config --static-libs' command when linking.

[2018-02-17 05:35] ihla commented on #658
I build with the boost installed with brew without any issue.

[2018-02-17 07:07] xeroc commented on #576
You can add to your list account_upgrade for LTM.
With a new cli-wallet, you cannot import an accou t, upgrade it to LTM and start creating new accounts right away because the account caching still thinks the account is non-LTM

[2018-02-17 19:00] abitmore commented on #576
This ticket is not for the caching issue. By the way I thought the caching issue has been fixed/got around by https://github.com/bitshares/bitshares-core/pull/640. @xeroc can you check? If not, we can create a new ticket for it, or add it to https://github.com/bitshares/bitshares-core/issues/151..

[2018-02-18 11:27] pmconrad commented on #132
Hm, what happens right now if you settle .0001 KRW (current feed price is 0.00358 BTS/KRW)?
We're still talking about a rounding issue and paying out 1 satoshi more or less collateral. Paying out 1 satoshi too much can bring us real trouble like you pointed out, because that could reduce collateral to 0 without paying back all the debt. Paying out 1 satoshi less is reasonable and much more safe IM

[2018-02-18 11:35] pmconrad opened #673 "Replace readline library"
We have a problem with licensing there. Readline is GPL. We're using libreadline, so due to the transitive nature of GPL we are required to license bitshares-core as GPL. We don't do that right now, so we're in violation of the readline license.

We should move to an alternative with a less restrictive license, like https://github.com/troglobit/editline .

[2018-02-18 13:15] oxarbitrage commented on #671
need to send us the command you are using to start the  `witness_node`

[2018-02-18 13:42] oxarbitrage commented on #673
there is also an alternative http://thrysoee.dk/editline/ , not sure if the BSD licence is ok for us.

the good thing about it is that one it seems can by installed on debian based systems with `apt`. mentioning that because we need to change our README and build wikis if we proceed(i think we should make the change as soon as we can).

maybe @jmjatlanta or @marcialvieira want to take a look ?

[2018-02-18 15:51] abitmore commented on #132
We're still talking about a rounding issue and paying out 1 satoshi more or less collateral. Paying out 1 satoshi too much can bring us real trouble like you pointed out, because that could reduce collateral to 0 without paying back all the debt. Paying out 1 satoshi less is reasonable and much more safe IMO.

Bottom line, paying something for nothing is unacceptable. If we can't reach consensus o

[2018-02-18 19:17] jmjatlanta commented on #673
the troglobit license looks liberal. Is this only used in the CLI, or are there other applications that need it?

[2018-02-18 22:05] abitmore commented on #673
IIRC only in cli_wallet.

[2018-02-18 23:32] jmjatlanta commented on #576
Caching: I'm not sure if it is a good test, but in my testnet, I am verifying that upgrade_account immediately changes the membership_expiration_date. Also, is_lifetime_member() returns true. So it looks like those two areas work as expected.

vote_for_witness: In my test, I am calling vote_for_witness("my_account", "init1", true, true). Afterwards, I am calling get_witness, and comparing the tota

[2018-02-19 09:05] abitmore commented on #576
This is not the result of "vote_for..." command (not a transaction json), but perhaps is result of following "get_witness" command. If showed results of "vote_for..." commands I may clearly know whether the bug mentioned in OP is fixed, although from another result of `get_witness` command below I guess it's fixed.

[2018-02-19 09:29] abitmore commented on #576
Confirmed that it's caused by the caching issue, should have been fixed by #640. Closing this ticket.

@jmjatlanta I'd like to merge the skeleton of your unit test code (for testing CLI) into this repo, but it need some cleanup and maybe abstraction and refactory. I'll create another ticket for this. Thanks your your contribution.

[2018-02-19 09:29] #576 closed

[2018-02-19 09:44] abitmore opened #674 "Unit test framework for testing CLI"
Thanks to @jmjatlanta, who has made some efforts for testing CLI with Boost unit test framework when working on #576:
https://github.com/jmjatlanta/bitshares-core/blob/322474401b1ca4459995d34e37da48a0465d9402/tests/cli/main.cpp#L133

This code does need some cleanup, e.g. revise header, includes, `cout`'s, and maybe add `BOOST_CHECK`'s and etc. And best to abstract the initialization code into a c

[2018-02-19 12:27] kenneth commented on #658
@abitmore i build on my mac . i use boost 1.60 and openssl 1.0

[code]

PS: the full  log

[code]

[2018-02-19 12:28] jmjatlanta commented on #674
Please comment on PR at

https://github.com/bitshares/bitshares-core/pull/675

[2018-02-19 14:44] jmjatlanta commented on #658
@kenneth  I had this happen to me at one point too. I don't have a good answer as to why, but please clone the repository again, and give it another try. That's what I did and the problem disappeared.

The error makes it look like fc is using an embedded version of boost, and bitshares another. Somewhere along the line, wires get crossed. If I hazard a guess, I'd say there's a cmake artifact somew

[2018-02-19 16:59] jmjatlanta commented on #673
I can take this on. There are few source and header files. Should we put this into the fc project, or reference it as a submodule? I vote for dropping the files into the fc project.

[2018-02-19 17:32] abitmore commented on #673
My opinion: If there are not much files, create a directory under fc/vendor and put files there. Otherwise make it a submodule of fc lib.

[2018-02-19 19:57] oxarbitrage opened #677 "add cli wallet calls and unit tests for new withdraw permission apis"
after the merge of 2 api calls to get withdraw permission objects https://github.com/bitshares/bitshares-core/pull/676 there is some additional work we will need to do. this ticker is a reminder to have note of the findings somewhere but low priority.

- [ ] test cases.
- [ ] cli wallet calls.

maybe, after proper discussion

- [ ] extend by recipient call. when business(example: hosting company)

[2018-02-19 20:00] pmconrad commented on #673
IMO submodule. Makes it easier to update.

[2018-02-19 21:06] abitmore commented on #511
Just think out loud:

Adding `FC_ASSERT` in the middle of processing a new transaction may be fine; however, adding it to the middle of post-transaction-processing work (e.g. `clear_expired_orders()`) is somehow dangerous, since it may halt the chain unexpectedly, which is not the best option in most circumstances.

That said, we should AVOID using `FC_ASSERT` in `database` class if not to process

[2018-02-19 21:10] abitmore opened #678 "Review all new FC_ASSERT added to next milestone"
Review new added `FC_ASSERT`, to make sure they won't break consensus, nor have the possibility to halt the chain unexpectedly.

[2018-02-19 21:12] abitmore opened #679 "Review all new FC_ASSERT added to next hardfork release"
Review new added `FC_ASSERT`, to make sure they won't break consensus, nor have the possibility to halt the chain unexpectedly.

[2018-02-19 22:05] abitmore commented on #504
Similar new log entries:
[code]

[2018-02-20 03:18] HarukaMa opened #681 "Detect error on _bulk api on elasticsearch plugin"
I am trying elasticsearch plugin and encountered this issue:

HTTP log:
[code]

The error `[FORBIDDEN/12/index read-only / allow delete (api)]` [seems](https://discuss.elastic.co/t/forbidden-12-index-read-only-allow-delete-api/110282/8) [related](https://github.com/elastic/kibana/issues/13685) to low free space when indexing and will prevent further insert operations, but the plugin is currently i

[2018-02-20 08:27] abitmore opened #682 "Move `account_member_index` to a plugin"
`account_member_index` is only being used in API nodes. Block producing nodes and seed nodes don't need it. We can save RAM and CPU if it's moved to a plugin (by not loading it).

[2018-02-20 08:33] abitmore opened #683 "Skip updating certain secondary indexes during replay"
Some (if not all) secondary indexes can be generated from current chain state only, no need to be continuously updated during replay.

[2018-02-20 09:11] kenneth commented on #658
@jmjatlanta   boost version problem ,and i have set BOOST_ROOT but the code always run to boost_1.51

cmake -DBOOST_ROOT=/usr/local/opt/boost@1.60

[code]

[2018-02-20 10:17] abitmore commented on #681
I heard that 160 GB of disk space is not enough for up-to-date full history.

[2018-02-20 10:25] abitmore commented on #658
@kenneth because there is a `boost_1.51` directory in FC so the build process is messed up somehow. I guess it's there because it's required by certain component that is not compatible with newer boost library. Just guess. What will happen if we remove the `boost_1.51` directory from FC?

[2018-02-20 11:08] HarukaMa commented on #681
The data of indices shouldn't take more than 100 GB, I guess it's mainly because of the translog: By default every index have 5 shards, and each of them could take up to 512 MB, which means there could be 2.5 GB temporary storage overhead for every index during replay. In my opinion, 5 shards is a bit overkill as the largest index is still below 20 GB currently. Also, enabling `best_compression` c

[2018-02-20 11:38] iamigorok opened #684 "Error: Assert Exception: rhs.size() <= max_rhs_size:"
I try use json RPC via CLI_WALLET (windows bitshares-core-2.0.180202).
I send:  sell_asset 1.2.xxxxxx 51 BRIDGE.PHILS 0.00037911 BRIDGE.BTC 1640898000 false true
And recive error:

[code]

[2018-02-20 12:18] abitmore commented on #684
You passed in an amount string with too many decimals `"[amount_string] => 0.00037911000000000"`.

[2018-02-20 12:18] #684 closed

[2018-02-20 12:23] abitmore commented on #684
This is not the json text when communicating with CLI via json RPC, but the command you want to send. Take a look at your json text. There might be an issue when you converting your command to json.