[2018-07-31 22:59] ryanRfox commented on #1214
Great initiative @christophersanborn Thank you for taking this on for research and drafting of the BSIPs. I'm going to assign you to this Issue, representing the Epic for drafting the required BSIPs. I feel it will be best to create a new Epic to represent the implementation, when it progresses to that point.

For now, I'll work with the Core Team to review the Informational overview BSIP and get

[2018-07-31 23:38] abitmore commented on #1214
I think it's better to host this discussion in the bsip repository.

[2018-08-01 13:37] oxarbitrage commented on #949
this is a subtask of https://github.com/bitshares/bitshares-core/issues/780 and probably can be closed.

[2018-08-01 13:39] oxarbitrage commented on #826
closing demo issue.

[2018-08-01 13:39] #826 closed

[2018-08-01 13:40] oxarbitrage commented on #825
closing demo issue.

[2018-08-01 13:40] #825 closed

[2018-08-01 13:42] pmconrad opened #1216 "cli_wallet doesn't exit on quit nor EOF"
**Bug Description**
cli_wallet used to terminate when receiving EOF (or CTRL-D), or after issuing the recently added quit command. In latest develop, it just hangs and doesn't accept any more input.

**Steps To Reproduce**
1. run cli_wallet, then either
2.a type CTRL-D
2.b enter "quit" command
3. see that it doesn't exit
4. try to execute additional commands

**Expected Behavior**
cli_wallet proce

[2018-08-01 13:42] oxarbitrage commented on #757
this was fixed in several issues and pulls after this. no sense to keep it open IMO.

[2018-08-01 13:42] #757 closed

[2018-08-01 13:46] oxarbitrage commented on #708
covered already here? https://github.com/bitshares/dev.bitshares.works/blob/master/core/testnets/public_testnet.md

[2018-08-01 13:49] oxarbitrage commented on #569
can probably be closed. we don't have this issue in dockercloud with current configuration.

[2018-08-01 13:54] oxarbitrage commented on #314
not fixed with https://github.com/bitshares/bitshares-core/pull/839 ? reason of the reopening ?

[2018-08-01 14:48] abitmore commented on #314
#839 is for docker, but this issue is about windows binaries.

[2018-08-01 14:55] abitmore opened #1217 "Check and port Steem PR 2692: missing FC typenames"
https://github.com/steemit/steem/pull/2692

[2018-08-01 15:42] cogutvalera commented on #1216
current state is next:

1. we need to capture CTRL+C for cli_wallet not only in daemon mode #1193
2. cli_wallet quit command cannot raise SIGINT in order not to break cli_test unexpectedly

So currently I need to find another solution for both cases ! I'm trying to finish it today as soon as possible ! I will let you know about my solution, hope very soon ...

[2018-08-01 19:02] oxarbitrage commented on #62
this seems to be at least partially solved in here https://github.com/bitshares/bitshares-core/pull/1191 where we released block producer nodes to count the votes for all votable objects and just do it with the active ones.

[2018-08-01 20:36] cogutvalera commented on #1216
after my researches, debugs, tries of different solutions and approaches, I found the best way to fix this issue IMHO - it is capture and handle CTRL+C for cli_test so we can avoid breaking cli_test at early stage and at the same time quit command will work in cli_wallet the same way as captured CTRL+C, tested and compiled it already and still thinking if I was wrong anywhere in details or not ...

[2018-08-01 23:29] abitmore commented on #62
Moving the data to a plugin will likely make the process over-complicated, and will break existing client applications. Won't fix IMHO.

[2018-08-01 23:29] #62 closed

[2018-08-01 23:32] oxarbitrage commented on #62
agree.

[2018-08-02 04:57] cedar-book commented on #708
I have asked Alex or Ryan to look through the steps because they know really what's our current situation.  (I put together the information and separated after "set up Faucet" sections from the Public Testnet setup.)   Currently, hold?

[2018-08-02 13:27] ryanRfox opened #1219 "Remove Deprecated Files"
**User Story**
As a `git user` I want `the repository to contain only current relevant files` to `mitigate confusion caused by deprecated files`.

## Proposed Files to Remove
**If checked, Core Team has reached consensus for removal
- [ ] /gui_version
- [ ] /testnet-shared-*
  - [ ] Remove only from `master` branch
  - [ ] May require update to Git Flow tasks
- [ ] /Vagrantfile
- [ ] /Other (pleas

[2018-08-02 14:43] ryanRfox commented on #1173
I do not find any additional comments on adopting the Semantic Versioning guidance:
     Major.Minor.Patch
     Protocol.Feature.Hotfix

May I request some ACKs to gauge consensus. Else, please provide additional comments to further the discussion.

[2018-08-02 15:02] oxarbitrage commented on #1173
please provide me some examples how they will look.

[2018-08-02 15:07] pmconrad commented on #1173
Only issue I have is that current code is sometimes referred to as "BitShares 2". We'd lose the 2 in the version number if we moved to Protocol.Feature.Hotfix.

[2018-08-02 15:37] cogutvalera commented on #1192
I want to claim this issue

[2018-08-02 15:37] cogutvalera commented on #1171
I want to claim this issue

[2018-08-02 15:44] ryanRfox opened #1221 "Docker Build Failing Due to Compile Time"
**Bug Description**
The automated Docker builds are failing due to compile time constraints. It is possible to modify the `Dockerfile` to build only the `witness_node` and `cli_wallet` by default. This should allow the automated build to complete successfully.

**Steps To Reproduce**
See Docker's automated build history

**Expected Behavior**
Docker's automated build process will complete successf

[2018-08-02 17:32] cifer-lee commented on #1219
I'd be willing to claim this issue :D

[2018-08-02 17:46] cifer-lee commented on #1209
Let me do it :D

[2018-08-02 17:51] pmconrad commented on #1193
Reopened because #1220 reverts the solution. @cogutvalera please close #1218 and provide a new solution for this issue.

[2018-08-02 17:52] pmconrad commented on #1216
Resolved via #1220

[2018-08-02 17:52] #1216 closed

[2018-08-02 21:32] oxarbitrage commented on #1219
@cifer-lee lets leave this one to @ryanRfox , he is already assigned to it. thanks.

[2018-08-02 21:58] abitmore commented on #1221
Fixed by #1222.

[2018-08-02 21:58] #1221 closed

[2018-08-02 22:05] oxarbitrage commented on #1103
in regards to:

In the case of the `elasticsearch` plugin this is covered at: https://github.com/bitshares/bitshares-core/blob/develop/libraries/plugins/elasticsearch/elasticsearch_plugin.cpp#L103-L114
This is the same `account_history` plugin do.

In the case of `es_objects` plugin we probably need to add code, will open another issue for it with other `es_objects` fixes for the next release. The

[2018-08-02 22:18] oxarbitrage commented on #1103
For this we need:

This is for `es_objects` and it is currently doing it IIRC. The plugin listen to the account database for new and changed objects. When an account updates the plugin will not overwrite the same record in ES but actually create a new one with block date and block number.
From the client side, you are able to get current account status by checking the last record for the account o

[2018-08-02 22:28] oxarbitrage opened #1224 "Improve performance of elasticsearch plugin"
**User Story**

As a `elasticsearch node operator` I want `the replay to be faster`.

Elasticsearch plugin replay can take a lot of time to synchronize the blockchain. Depending on hardware the process can be of 10 hours, 30 hours or even 3 days.

3 ideas to research and implement:

- Try different elasticsearch config options like window time, heap memory, etc. This is outside core task but updat

[2018-08-02 22:30] oxarbitrage commented on #1103
moved "Refactor elasticsearch plugin logic(performance, don't create and delete objects, mimic the object id numeration)." to https://github.com/bitshares/bitshares-core/issues/1224 so we can work in smaller and different issues for each problem we need to solve.

Closing this one.

[2018-08-02 22:30] #1103 closed

[2018-08-02 22:38] oxarbitrage commented on #835
closing by work done before and final updating the docs at https://github.com/bitshares/bitshares-core/pull/1212
some testing was done by the core team today with ubuntu 18.01. gcc 7.3.0, boost 1.65.1(found in default installations) and everything looks good.

[2018-08-02 22:45] abitmore commented on #835
Still some work to be done before final mainnet release. OP updated.

[2018-08-02 22:46] oxarbitrage commented on #835
ok, got it, thanks.

[2018-08-02 23:12] cedar-book commented on #953
@abitmore, I have moved all wiki contents in dev.bitshares.works repository. Some contents were "ideas" or "todos".  I put together those contents in this [page](https://github.com/bitshares/dev.bitshares.works/tree/master/core/knowledge_base#knowledge-base).  If you are okay, I can move links one by one. If you have links, want to wait to switch I won't do that.

[2018-08-03 12:35] pmconrad commented on #1224
Important: decouple ES processing from block processing thread as much as possible

[2018-08-03 13:56] abitmore commented on #1136
Just noticed that `witness_id_type` in block header is not fixed-length after serialized. Reopening this issue for further discussion and action.

[2018-08-03 14:57] jmjatlanta commented on #1136
My notes (preliminary, verify before trusting):

block_header has a few variable-width fields. block_id_type, witness_id_type, and extensions_type.

signed_block_header adds 1 field that could be serialized to a variable width (block_id_type).

Issue #1088 will increase the size of signed_block_header, so max_block_header_size should also return a larger (although not always accurate) size.

[2018-08-03 15:59] cogutvalera commented on #1171
Thanks !

[2018-08-03 16:05] ryanRfox commented on #1171
@cogutvalera please note @oxarbitrage comment above about implementing `safe_unlock` so no impact to existing implementation. I suggest to begin first by building your test case for the Linux platform, then get a working implementation for that prior to moving on to the other platforms. As needed, we can merge each to `develop` to obtain this added functionality. Please be active with your comment

[2018-08-03 16:07] cogutvalera commented on #1171
ok sure ! Thank you very much !

[2018-08-03 16:09] cogutvalera commented on #1192
Thanks !

[2018-08-03 16:16] ryanRfox commented on #1219
@cifer-lee what I really need is the discussion about what files are in fact deprecated. Also, someone to go into the CMake files and remove unneeded stuff. I'm not qualified to do this beyond what I've suggested in the description above.

I am happy to assign you to this ticket. Let's start with 1 hour of research, then let's connect to determine what a proper estimate should be to complete it.

[2018-08-03 16:29] ryanRfox commented on #1224
I'm not sure how relevant this is: please review the patterns used within [Demux](https://github.com/EOSIO/demux-js) and described in their [introduction](https://medium.com/eosio/introducing-demux-deterministic-databases-off-chain-verified-by-the-eosio-blockchain-bd860c49b017).

[2018-08-03 16:55] ryanRfox opened #1233 "Add Matrix Build Support to Travis-CI Integration"
**User Story**
As a `Core Developer` I want `my code changes tested against multiple platforms and dependency versions` so that I `receive feedback when a code change fails within the build matrix`.

**Additional Context (optional)**
Currently we use Travis-CI for automated builds on all branches. Currently the [/.travis.yml](https://github.com/bitshares/bitshares-core/blob/master/.travis.yml) fil

[2018-08-03 22:41] oxarbitrage commented on #681
The error handling had been improved in the last version. There is a dedicated function looking for the error code here https://github.com/bitshares/bitshares-core/blob/develop/libraries/utilities/elasticsearch.cpp#L96 and returning true of false.

When sending data to ES fails `plugin_exception` will be raised: https://github.com/bitshares/bitshares-core/blob/develop/libraries/plugins/elasticsear

[2018-08-03 22:41] #681 closed

[2018-08-03 22:49] oxarbitrage commented on #681
reference to the pull where error handling was added: https://github.com/bitshares/bitshares-core/pull/1201

[2018-08-04 08:10] pmconrad commented on #1221
Found list of docker resource limits - https://success.docker.com/article/what-are-the-current-resource-limits-placed-on-automated-builds
Note the 2GB RAM, that might be a problem.

The change did bring the build time down to 1:32, but still failed. Logs of latest build not available.

[2018-08-04 14:10] abitmore opened #1234 "Dummy issue for release note for (test-)2.0.1808xx"
# BitShares Core Release 2.0.1808xx

Copied from https://github.com/cedar-book/BTS-Core-work/blob/master/release201808.md in order to make links clickable.

## Assets

## Security fixes
- CLI wallet: updated choice of range proof params in cli wallet reveals transaction magnitude to very narrow range for Blinded Transfers (issue #480 / PR #1117 #1227)

## API changes
- Removed crypto_api from defa

[2018-08-05 11:53] abitmore commented on #1208
Note: all `withdraw_permission` related operations have no `extensions` field, which means they can't be extended easily. We need to add new operation types if new logic requires additional data fields.

[2018-08-06 13:16] bxlkm opened #1236 "My selling order has been filled,but the corresponding asset did not appear in my balance"
Good Evening，Guys，I’m a new comer here.
 
I’ve met with a very rare problem that has brothered me for few weeks.
 
I trade my asset into another asset by using DEX. I sold my asset 17.25BTS for 1000LTC at a price of 0.01724LTC
 
My selling order has been filled immediately,the 17.25BTS has been taken out of my accout, but the corresponding asset LTC did not appear in my balance or ever since.
 
I

[2018-08-06 13:53] oxarbitrage commented on #1236
Hello @bxlkm . Not sure if this is a question to ask in the core repository but at least need to send your account or operation ids so someone can check what you did.

can try also https://t.me/BitSharesDEX or https://bitsharestalk.org/ to get guide if you are new to bitshares dex and make sure the question can be replied by the core devs to open issue here.

thanks.

[2018-08-07 10:09] cogutvalera opened #1237 "Compilation warning in db/undo_database.hpp:69:22: throw will always call terminate()"
**Build Error Description**
[code]
___________________________________________________________________________________
**Build Environment**
[code]
___________________________________________________________________________________
**Steps To Reproduce**
Steps to reproduce the behavior (example outlined below):
[code]
________________________________________________________________________________

[2018-08-07 10:32] meijiaowang1991 opened #1238 "Order is filled, but assets aren't converted. Anyone else encountered this?"
Description:
Placed a limit order converting crypto A to crypto B (A/B pair). My price was met and the log says order was filled in full. But when I check my funds, Crypto A has taken out of my fund, but the corresponding Crypto B did not convert to my balance .

PS:
1.I try to refresh the nodes, put myself under the excellent network environment, and waited for weeks and nearly a month, but the a

[2018-08-07 10:36] meijiaowang1991 commented on #1236
I've met with the same problem exactly.But I did not did the trading in Bitshares DEX.
Have you got any though on this situation ?

[2018-08-07 10:45] jmjatlanta commented on #1237
The portion of the log you show contains only a warning, and should not stop the compilation from completing.

Please provide the entire compilation log. As it is probably large, I recommend posting it to a site like http://pastebin.com and then posting the link to it here in this issue.

[2018-08-07 12:17] cogutvalera commented on #1237
https://github.com/cogutvalera/bitshares-logs/blob/master/CMakeOutput.log

[2018-08-07 12:27] jmjatlanta commented on #1237
Thank you. Can you capture all of the output of the make command? Something like:

``make > compile.log 2>&1``

and then provide a link to ``compile.log`` here?

[2018-08-07 12:42] cogutvalera commented on #1237
https://github.com/cogutvalera/bitshares-logs/blob/master/compile.log

now I don't see the warning I've told about, do you know why ? or maybe should I cleanup and reset everything and after that re-compile whole project again ?

[2018-08-07 13:41] pmconrad commented on #1237
The problem is that the destructor of undo_db can throw under certain circumstances. This is bad practice - destructors shouldn't ever throw. It's not really a problem for us, because undo_db has the same lifetime as the application itself.
Wouldn't mind a proper cleanup though.

[2018-08-07 20:47] abitmore commented on #1238
Perhaps B has 100% market fee.

Closing due to this.

[2018-08-07 20:47] #1238 closed

[2018-08-07 20:54] abitmore commented on #1236
I guess you're either kidding or be scammed. Perhaps the asset you're trying to buy has 100% market fee, in this case you won't get anything.

[2018-08-08 02:53] meijiaowang1991 commented on #1236
I've met the same problem with @bxlkm .
I did my trading on ONECHAIN platform( Offical website: http://www.onechain.one/),.
Before noticing this issue, I've already done a lot of tradings on that platform. Everytime,after the order filled successfully, I checked the corresponding assets and then the balance.Everything has been fine with them.,except this time.
After this noticing this issue, I wat

[2018-08-08 02:55] meijiaowang1991 commented on #1236
I'm provide you gentleman with my account and trading information.

The blockchain address: http://block.onechain.one/account/ouahiba1810

My account ID : ouahiba1810

My Selling Order, which has been published 22th，June, and filled in 17:56 pm the same day, Sold my asset 17.25USDA for 1000ONE at a price of 0.01724USDA.
But the history of this record, due to the display of the limitation on the bl

[2018-08-08 12:02] abitmore commented on #1236
@meijiaowang1991 we can't help you. Please ask for help elsewhere.

[2018-08-08 21:09] ryanRfox commented on #1183
@OhChangYul Please let us know if the suggestion above has resolved your issue. You may close the issue. Please note: Core Team will close this for inactivity after some time.

[2018-08-09 10:38] dayman32 commented on #269
Is there news? Is there a hard fork planned or another solution to the problem? Dates, dates?!

[2018-08-09 10:44] clockworkgr commented on #1182
Just to clarify,

My initial suggestion was to treat those "contract"/script accounts as special and have them produce  ops that are included(or at least derived) but need not be signed in a way. similar to virtual ops.

For example, If I send 10 BTS to my "dividend" script, the chain would run through the "script" and end up creating 2x 5BTS transfers out to two different accounts. Those 2 transf

[2018-08-09 12:01] clockworkgr commented on #1182
Thinking about it further, I think my initial suggestion to treat them as accounts is probably best.

Essentially, it's a "special" account that can do anything a normal account can do except it has no keys and the ops it performs need not be signed as long as they are ops that would need its own authority.

For example, assume my script lives at 1.2.3456789.

Any op the script produces that would

[2018-08-09 12:44] grctest commented on #1182
Could a script perform an ES lookup, for say distributing an asset's collected market fees to users who traded the most (for a single trading pair) during a set period of time? The balance redistribution idea is good, but could you provide weights for different users (ie user A gets 1, user B gets 2) based on a Bitshares blockchain query?

How would cost of computation and flexible target user siz

[2018-08-09 12:50] clockworkgr commented on #1182
Balance redistribution was just an example.

Consensus using external data would be impossible (unless some kind of oracle setup was added) and ES data is external.

The data that a script could access , would be whatever is in the consensus DB state. this excludes account history/market history etc.

I guess we could move some potentially interesting useful data to statistics objects but I believ

[2018-08-09 13:06] pmconrad commented on #269
No.

[2018-08-09 20:43] abitmore commented on #269
New locked account: https://cryptofresh.com/u/1.2.907383

[2018-08-09 20:47] abitmore commented on #269
Created issue in BSIP repository: https://github.com/bitshares/bsips/issues/94. Closing this one.

[2018-08-10 00:40] bitsg-jerry opened #1244 "cli_wallet crashes when doing import_key on Mac"
Encountered Segmentation fault when performing import_key in cli_wallet as below:
<img width="640" alt="screen shot 2018-08-10 at 8 36 37 am" src="https://user-images.githubusercontent.com/42247358/43932777-96f31ef8-9c78-11e8-8e7c-7895ab8e37c9.png">

The root cause is due to C++ compiler "intelligently" removed the null pointer check inside boost library, when calling the boost::filesystem::copy f

[2018-08-10 00:57] abitmore commented on #1244
Just FYI, your contribution has been added in this PR: https://github.com/bitshares/bitshares-fc/pull/73.

[2018-08-10 01:34] bitsg-jerry commented on #1244
Thanks abit

[2018-08-10 08:21] cogutvalera opened #1245 "Voting should be possible with next 3 options: VOTE UP, DO NOT VOTE, VOTE DOWN"
**Instructions**
* User Story
* Impacts button. The Core Team will evaluate and prioritize your Feature Request for future development.

**User Story**
As a voter I want to vote not only UP or do not vote at all, but also I want to have an option to vote DOWN so that gives more powerful and flexible voting system.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your req

[2018-08-10 08:32] #1245 closed

[2018-08-10 13:14] jmjatlanta commented on #1237
@cogutvalera were you able to find the error that prevented you from compiling? Please post it here. If you reset your project and the problem went away, please let us know and close this ticket. Thanks.

[2018-08-10 13:27] ryanRfox commented on #1209
Assigned to @cifer-lee Estimation is TBD

[2018-08-10 13:32] ryanRfox commented on #1209
@abitmore I added this issue to the `Community Claims` Project Board for my tracking. I also added it to the `201810 Feature Release` Project Board and Milestone. Please let me know if this is an appropriate way to notify the Core Team of an active effort? I feel this allows the Core Team visability and the ability to move these ad-hoc Issues out of the `<Current Release>` and into `,<Future Relea

[2018-08-10 13:35] jmjatlanta opened #1246 "Build warnings - throw within destructor"
There are a few areas where throw is being called within a destructor. I believe the code "does the right thing", but the multitude of compiler warnings hide other errors/warnings that may be problems. These should be examined to see if they are doing the right thing, and to see if it can be modified to prevent warnings.

The two biggest culprits seem to be
1. undo_database.hpp ~session()
2. fc/ex

[2018-08-10 13:44] Zapata commented on #962
After discussion with Alfredo, to migrate the repository to Bitshares Organization, code needs a little cleanup.

Here is the todo:

- [ ]  Write non regression test to validate refactoring.
- [ ] Modularize the code (use folders, and [blueprints](http://flask.pocoo.org/docs/1.0/blueprints/#blueprints) or similar feature)
- [ ]  Extract websocket api calls a dedicated class (to easely migrate to t

[2018-08-10 16:52] ryanRfox commented on #1236
@bxlkm Have you been able to resolve your question elsewhere? If so, please close the ticket. As @oxarbitrage mentioned above, you may locate other support resources. The Core Team will close this ticket after some time for inactivity. Thank you.

[2018-08-11 08:10] pmconrad commented on #1245
Some history:
* https://github.com/cryptonomex/graphene/issues/607
* https://bitsharestalk.org/index.php?topic=22082.0

[2018-08-11 08:16] cogutvalera commented on #1245
Thx for the info !

[2018-08-13 00:02] abitmore commented on #1136
According to this in-code comment, it can cause unexpected large blocks as well: https://github.com/bitshares/bitshares-core/blob/4b915ef0144ca4a82506f59298500b12d0efa3c4/libraries/chain/db_block.cpp#L365-L383

E.G. force settlement can return different size depends on whether the asset is globally settled.

I think we should check size before merging the undo session.

[2018-08-13 19:09] jmjatlanta commented on #1237
I'm sorry. I misinterpreted the original post. I thought the compilation was failing. There is another similar (albeit harder to fix) warning in FC. I created #1246 to fix those warnings before I realized this ticket could be used.

[2018-08-14 00:08] RakyCoder opened #1253 "Need help to fix fee income problem"
I have forked the bitshres repositorys and made all modification and installation on the project www.rakydex.org    but I don't understand how I will get the Fees . if there is a special wallet to setup with the software . how I get payed as a project rakydex owner . thanks for help

I Need a step by step  help  . I'm  new in this project  thank you

[2018-08-14 05:57] pmconrad commented on #1253
This is not a support forum, please ask questions on http://bitsharestalk.org .

Hint: referral fees accumulate in vesting balances and can be withdrawn using the withdraw_vesting command http://docs.bitshares.org/api/wallet-api.html .
Market fees accumulate in the asset's accumulated_fees pool IIRC and can be withdrawn using the asset_claim_fees operation. This is not directly supported by cli_wa

[2018-08-14 07:47] StarPool opened #1254 "unlock rpc error"
I use wscat test unlock. But show error
[code]
The password is correct.

[2018-08-14 09:30] #1253 closed

[2018-08-14 09:34] abitmore commented on #1254
`unlock` is a `cli_wallet` API but not a `witness_node` API.
http://docs.bitshares.org/api/

[2018-08-14 09:34] #1254 closed

[2018-08-14 22:31] abitmore opened #1256 "Witness node crash, block id has trailing zeros"
Log:

2578ms th_a       application.cpp:649           get_item             ] Couldn't find block 01b865c6bec836f034d20ba44000000000000000 -- corresponding ID in our chain is 01b865c6bec836f034d20ba4b3302735a2a95601
2578ms th_a       application.cpp:560           handle_transaction   ] Got 3 transactions from network
Segmentation fault      (core dumped)

[2018-08-15 01:14] jmjatlanta commented on #1256
An address like that makes me think it was some kind of mis-sized pack or unpack. Anything mysterious on the machine? Flaky memory / drive?

[2018-08-15 02:57] cedar-book commented on #1253
@pmconrad, Yes, I'll work on that.

[2018-08-16 00:48] abitmore commented on #1136
Fixed by #1252.

[2018-08-16 00:48] #1136 closed

[2018-08-16 01:27] oxarbitrage commented on #1224
Yesterday i started to synchronize the mainnet with the code in the following branch:
https://github.com/bitshares/bitshares-core/pull/1249

The pull above apply some moves instead of copies in an attempt to make the replay process faster.

It also reduce some object passing that was not needed in some functions among some other things.
I will like @pmconrad  to take a look at those changes when h

[2018-08-16 11:14] oxarbitrage commented on #1224
For the record, month July of 2018 was huge with 133M of operations:

[code]

total chain in sync is at almost 450M ops:

[code]

As a developer the time to sync is almost unacceptable, as a node operator that will do this just once maybe it is not that bad considering the amount of data.

[2018-08-16 12:55] pmconrad commented on #1256
May be a race condition when a new block comes in while the last one is being processed.

[2018-08-16 14:03] abitmore commented on #580
Added test case in https://github.com/bitshares/bitshares-core/pull/1255/commits/fbef6c25d9fa48bb86d2bd4946f33df40691c3d7

[2018-08-16 17:15] Magestro opened #1258 "`subscribe_to_market` returned values"
Hello!
i use this command while ws connected:
[code]

I noticed, that `subscribe_to_market` event can return notices in the following formats:
<details><summary>first (guess new orders)</summary>
<p>

[code]
</p>
</details>

<details><summary>second (guess canceled orders)</summary>
<p>

[code]
</p>
</details>

<details><summary>third (guess filled orders) </summary>
<p>

[code]

</p>
</details>

[2018-08-16 18:26] abitmore commented on #944
Fixed by #1255.

[2018-08-16 18:26] #944 closed

[2018-08-16 19:03] abitmore commented on #1258
* `1.7.x` is `limit_order_object`, see [this document](https://docs.bitshares.org/development/blockchain/objects.html)
* The 3rd format is actually `(operation, operation_result)` pairs, related code is here: https://github.com/bitshares/bitshares-core/blob/d94cc574b2ca460dd636e573f25f0c7737b4a355/libraries/app/database_api.cpp#L2313
  * the `operation` is `fill_order_operation`
  * the `operation

[2018-08-17 07:08] Magestro commented on #1258
@abitmore very thx!
and I'm guessing about the other types? cancel and placed orders?

[2018-08-17 13:12] pmconrad commented on #1183
No response - closing.

[2018-08-17 13:12] #1183 closed

[2018-08-17 14:58] abitmore commented on #1244
Fixed by #1248.

[2018-08-17 14:58] #1244 closed

[2018-08-17 14:59] abitmore commented on #1217
Fixed by #1248.

[2018-08-17 14:59] #1217 closed

[2018-08-17 15:53] abitmore commented on #149
Now #1024 has been merged. But I'm not sure whether it completely fixed this issue. Originally,

With the patch, if I have multiple "track-account" entries in `config.ini`, what's the behavior? Still unable to parse logging config?

[2018-08-17 16:50] grctest commented on #1182
OK, so if we can get targets but we cannot assign weight due to requiring external factors, could a group of (asset owner defined) users provide weights against the retrieved targets with a new op? This way price feed publishers could be performing complex external computations then providing a list of weights which the script would take the median of to provide the weight-applied asset-issuance |

[2018-08-17 19:06] abitmore commented on #1258
The other 2, I **guess** they'll not only present when creating or cancelling orders, but will also present when an order is entirely filled or partially filled. You can test.

[2018-08-17 20:17] abitmore commented on #1224
Fixed by #1260.

[2018-08-17 20:17] #1224 closed

[2018-08-17 20:28] abitmore commented on #1109
Fixed by #1195.

[2018-08-17 20:28] #1109 closed

[2018-08-17 20:35] abitmore commented on #1060
I assume this has been done.

[2018-08-17 20:35] #1060 closed

[2018-08-17 20:38] abitmore commented on #1035
Better to be discussed here: https://github.com/bitshares/bsips/issues

[2018-08-17 20:38] #1035 closed

[2018-08-17 20:45] abitmore commented on #993
Hope to fix this issue in https://github.com/bitshares/bitshares-fc/pull/64.

[2018-08-18 07:32] pmconrad commented on #149
For existing installations the behaviour will not change, i. e. if a config.ini exists and contains multiple entries with the same key, then the contained logging config will be ignored. This is deliberate, see discussion in #1024 https://github.com/bitshares/bitshares-core/pull/1024#discussion_r206579151 - node operators must manually fix such broken installations, for example by adding a logging

[2018-08-18 08:33] clockworkgr commented on #1182
Using witnesses for Oracle type work is what we already do for pricefeeds... I guess we could do the same

[2018-08-18 18:46] pmconrad commented on #1256
Another report from telegram:
[code]

[2018-08-18 23:31] abitmore commented on #1256
Got 2 more reports from other people today:

[code]

[code]
Looks like all these are API nodes.

[2018-08-19 13:35] oxarbitrage commented on #1256
i restarted a crashed by this issue api node in gdb looking for a backtrace.

[2018-08-19 15:38] abitmore commented on #278
Note: need to update proposal tests added in #1259 after implemented this feature.

[2018-08-20 17:06] ryanRfox commented on #780
Revised estimate to 5 hours from 2 hours.

[2018-08-20 18:36] #1236 closed

[2018-08-20 20:43] ryanRfox commented on #1258
@Magestro Sorry, our documentation is work-in-progress. Out of curiosity, what URL(s) did you attempt to locate the information originally? I'm trying to better understand how/where new developers come into the docs. I will work with @cedar-book to ensure we capture the required information in our documentation going forward.  Thanks

[2018-08-20 21:06] ryanRfox commented on #1173
@pmconrad yes, the "BitShares 2" is out there. Personally, I never fully embraced this naming and continue to refer to the project as "BitShares". It's likely best to have the "branding" discussion on the bitsharestalk.org forum with the broadest Community base.

@oxarbitrage Some of the recent releases may have looked like:
- Major.Minor.Patch
- Protocol.Feature.Hotfix
- 18.0.0 (July Protocol Upg

[2018-08-20 23:39] jmjatlanta commented on #1256
If possible, would you please include environment (versions of bitshares-core, boost, openssl, compiler, active plugins, etc.).

[2018-08-21 04:09] cedar-book commented on #1258
Only I had gathered  this information on this page. https://github.com/bitshares/dev.bitshares.works/blob/master/core/api/object_ids.md#objects-and-ids
I will add and update the information. Thank you.

[2018-08-21 04:27] cedar-book commented on #1258
Also, only have so far, BitShares [operations list](https://github.com/bitshares/dev.bitshares.works/blob/master/core/components/operations.md#bitshares-core---graphenechain) and [objects list](
https://github.com/bitshares/dev.bitshares.works/blob/master/core/components/objects.md#object-names-and-detailed-descriptions)  if want to read the Detailed Descriptions.

[2018-08-21 08:57] charyury opened #1268 "Distribute Asset Market Fees to Referral Program"
**User Story**
As an `asset owner` I want `an ability to share market fees with registrars and referrals` so that `other people can easily benefit from promoting my asset and attract more traders to it`.

**Example use cases**

1. As a gateway operator I would like to stimulate webmasters to promote my gateway. I am able to share my gateway UIA's market fee with referrals, so that any webmaster wh

[2018-08-21 08:59] charyury commented on #1268
We have PoC ready for this functionality. Most likely this should be converted to a BSIP, technical specification is ready as well, see blow.
# Specifications

## reward_percent asset option
Percent of market fee that will be paid to buyer's registrar. Set by UIA issuer.

## market_sharing_whitelist asset option
TODO An optional whitelist (configurable by the UIA Issuer) could provide increased co

[2018-08-21 09:57] Magestro commented on #1258
@ryanRfox i use this resources:
http://docs.bitshares.org
- http://docs.bitshares.org/api/websocket.html
- http://docs.bitshares.org/api/blockchain-api.html
And this api guide:
https://github.com/bitshares/bitshares-core/wiki
- https://github.com/bitshares/bitshares-core/wiki/Monitoring-accounts

I think u need more practical examples with detailed explanations.

[2018-08-21 10:08] Magestro commented on #1258
@cedar-book thank u for the given links, it will be helpfull!

[2018-08-21 12:02] abitmore opened #1269 "Change call_order_update_operation to return order_id"
**User Story**

ID of call orders aren't returned when they're created nor updated: https://github.com/bitshares/bitshares-core/blob/e2f33f579b996e984050d5251eb3fc832d2bcdbe/libraries/chain/market_evaluator.cpp#L194

It will help if the IDs are returned.

Note:
* `operation_result` is stored in block database, that means they won't be updated after a block get written to disk. If this feature is i

[2018-08-21 13:37] abitmore commented on #1256
Mine was Ubuntu 16.04 default build environment.

[2018-08-21 14:38] abitmore commented on #1268
Not bad. Please go ahead with a BSIP.

* Perhaps need two `reward_percent` fields, one for registrar and one for referrer. Or perhaps use only one here, and honor the original registrar/referrer split percentage.
* perhaps good to have a `reward_split` virtual operation for referrers/registrars to track.
* `asset_update_operation` need to be updated, not only `asset_create_operation`
* if want to

[2018-08-21 15:54] abitmore commented on #1269
@xeroc that's a good idea, but it needs a BSIP. By the way, our object subscription/notification subsystem doesn't work well with self defined IDs so far. In the mean while, it's not hard for users to attach a `custom_operation` with arbitrary data to each operation, in the same transaction, for labeling purpose.

[2018-08-21 15:58] abitmore commented on #556
That's doable. Just a note: making use of extensions field requires a hard fork due to serialization change.

[2018-08-21 18:52] ryanRfox commented on #1268
Great initiative @charyury

Let's discuss an estimate for drafting the BSIP. I've assigned you to this Issue. We will use this to track progress of the BSIP. However, the BSIP itself will be drafted in the /BSIPS repo, not the /bitshare-core repo.

I refined the Core Team Task List within the description. We can adjust as needed going forward.

[2018-08-21 22:53] abitmore opened #1270 "Call price is inconsistent when MCR changed"
**Bug Description**
According to discussion in https://bitsharestalk.org/index.php?topic=26496.0

To solve the cache inconsistency issue, we have options:

1. totally drop the caching mechanism, calculate call prices on the fly (may impact order matching performance)

2. update "call price" cache immediately when MCR changed (may impact performance since possibly need to update lots of data at a t

[2018-08-22 12:41] jmjatlanta commented on #1256
Current hypothesis: Bad producer message header, causing a miscalculation of the message size, and thereby causing the last bytes of the hash to de-serialize incorrectly. This causes the network read to read too many bytes, causing a rollover of the 4th byte of the hash. That in itself will not cause a SEGFAULT. But the subsequent network read could be off by that many bytes. Thereby corrupting th

[2018-08-23 00:04] abitmore commented on #993
Fixed by #1267.

[2018-08-23 00:04] #993 closed

[2018-08-23 00:05] abitmore commented on #1088
Fixed by #1267.

[2018-08-23 00:05] #1088 closed

[2018-08-23 00:44] BennyTejadaMaglaya opened #1274 "private testnet: proposals don't get passed even with enough committee votes"
unlocked >>> get_object 1.10.15
get_object 1.10.15
[{
    "id": "1.10.15",
    "expiration_time": "2018-08-23T01:32:00",
    "review_period_time": "2018-08-23T01:02:00",
    "proposed_transaction": {
      "ref_block_num": 0,
      "ref_block_prefix": 0,
      "expiration": "2018-08-23T01:32:00",
      "operations": [[
          31,{
            "fee": {
              "amount": 100000,

[2018-08-23 00:46] abitmore commented on #1274
Committee proposals has a `review_period` and only executes when expires. In addition the changes only takes effect on next maintenance interval.

[2018-08-23 00:46] #1274 closed

[2018-08-23 00:48] BennyTejadaMaglaya commented on #1274
we have tried voting it. even after the review period and the proposal expired, the propsal still does not take effect in get_global_properties

[2018-08-23 00:49] BennyTejadaMaglaya commented on #1274
may i ask what is the command for inputting "required_owner_approvals": [ ]?

[2018-08-23 00:51] abitmore commented on #1274
The same. `update_proposal` IIRC.

[2018-08-23 00:53] abitmore commented on #1274
By the way, make sure committee-account has enough balance to pay fees. `"amount": 100000,`.

[2018-08-23 01:03] BennyTejadaMaglaya opened #1275 "Bitshares-core Private Testnet: What are the requirements in order to pass a proposal?"
[code]

****NOTE: this is taken from get_object_1.10.x

our minimum committee members is 3, they are all active witnesses.

for testing purposes, we've set the ffg:

"maintenance_interval"                        : 1440,(24mins)
"committee_proposal_review_period" : 1800secs(30mins)
"maximum_proposal_lifetime"             : 3600secs(1hour)

i would like to ask what seems to be missing in our approva

[2018-08-23 01:37] abitmore commented on #1275
Duplicate of #1274. Closing. Please don't open new issues.

[2018-08-23 01:37] #1275 closed

[2018-08-23 01:40] abitmore commented on #1274
`"required_owner_approvals": [],` doesn't matter.

Other hints:
* check `get_account committee-member`;
* check `list_account_balances committee-member`;
* check `get_global_properties`;
* Check default.log to see if something went wrong.

[2018-08-23 02:00] BennyTejadaMaglaya commented on #1274
[code]

[2018-08-23 02:00] BennyTejadaMaglaya commented on #1274
he's an active committee and witness. i also made sure that all members of our committee have sufficient balance in order to vote

[2018-08-23 02:02] BennyTejadaMaglaya commented on #1274
instead of the default minimum committee members of 11, we had set it to 3 in order to easily reach the consensus.

[2018-08-23 02:06] BennyTejadaMaglaya commented on #1274
[code]

these were the commands we use by the way

[2018-08-23 10:19] abitmore opened #1276 "Add virtual operations for referral program fee split"
**User Story**
As a lifetime member I want to track my referral income.

**Additional Context (optional)**
Strictly this is not a consensus change, however, it impacts numbering in account history, which is relied on by many 3rd-party applications, so it's fair to make it a consensus-upgrade style change, say, only populate the virtual operations after a special time.

**Impacts**
Describe which p

[2018-08-23 10:26] abitmore commented on #265
Lately I think it's better to fix the issue in a consensus-upgrade style, although strictly it's not a consensus change, because many 3rd-party applications rely on consistent numbering in account history. That said, only track all related accounts (for newly created accounts) after a defined time.

[2018-08-23 12:32] abitmore commented on #1274
@BennyTejadaMaglaya As I've mentioned above, please check (paste your output here, or upload to pastbin.com if too large):
* check `get_account committee-member`;
* check `list_account_balances committee-member`;
* check `get_global_properties`;
* Check default.log to see if something went wrong.

[2018-08-23 12:47] pmconrad commented on #265
The primary purpose of account_transaction_history is to provide an auditable log of balance changes. I think we shouldn't abuse it as some form of generic notification infrastructure, especially because of the numbering issue.
Better provide a separate mechanism for historic events.

[2018-08-23 12:50] abitmore commented on #1276
@pmconrad essentially you mean to do it retroactively, but with another history plugin. That's a bigger change and need more work for UI/elastic search and etc. My suggestion in OP was to treat it like a hard fork, aka no retroactive data, thus no renumbering for account history.

[2018-08-23 12:59] denissok commented on #1268
Hello, here are the answers from OpenLedger's team  to abit's concerns:

We propose to use **market_fee_reward_percent** (defined in the asset options) for the registrar and then use the original Bitshares mechanism and original reward percentage field (defined for each account during registration) to split between the registrar and referrer.

Market fee reward is accumulated on the user account.

[2018-08-23 12:59] pmconrad commented on #1157
We should define desirable behaviour before implementing fixes.

IMO, if a node hasn't received a block from its predecessor when its time slot has come, it should simply produce its own block in time.
* Waiting until its own slot is nearly over is counterproductive, this will only propagate the problem to the *next* witness in line.
* Producing a block on time is also desirable from the user's pe

[2018-08-23 13:00] denissok commented on #1268
The new description will come as a BSIP proposal very soon.

[2018-08-23 13:09] abitmore commented on #265
On the contrary I don't think it's abuse, but is fair use. I agree with a separate mechanism though. For example, classify the events in account history.

[2018-08-23 13:34] abitmore opened #1277 "Order fill events notified before order creation events"
**Bug Description**

A client that subscribed to a market always receives order fill events before order creation events if the orders are filled in a same block.

There is a `FIXME` in code: https://github.com/bitshares/bitshares-core/blob/d94cc574b2ca460dd636e573f25f0c7737b4a355/libraries/app/database_api.cpp#L2311-L2313

Probably because `on_applied_block()` is called before `on_objects_changed

[2018-08-23 16:14] abitmore commented on #1157
@pmconrad I think your comment is not about the issue in OP, but more related to #504.

In this issue, the node was not waiting doing nothing until it's slot is nearly over, but on the contrary, it tried to produce a block on the 2nd second and the 3rd second but failed due to the timeout check. The reason why it didn't try to produce on the 1st second, is it was not its time slot to produce befor

[2018-08-23 16:32] abitmore commented on #1051
I think it may break bitshares-ui.

[2018-08-23 17:56] abitmore commented on #835
Done.

[2018-08-23 17:56] #835 closed

[2018-08-23 23:01] abitmore commented on #149
`2.0.180823` Windows build only generates one `config.ini` file for me.

[2018-08-24 00:40] BennyTejadaMaglaya commented on #1274
get_account nathan
{
  "id": "1.2.17",
  "membership_expiration_date": "2106-02-07T06:28:15",
  "registrar": "1.2.17",
  "referrer": "1.2.17",
  "lifetime_referrer": "1.2.17",
  "network_fee_percentage": 1000,
  "lifetime_referrer_fee_percentage": 9000,
  "referrer_rewards_percentage": 0,
  "name": "nathan",
  "owner": {
    "weight_threshold": 1,
    "account_auths": [],
    "key_auths": [[

[2018-08-24 00:40] BennyTejadaMaglaya commented on #1274
unlocked >>> list_account_balances nathan
list_account_balances nathan
1999039904.44726 BTP

unlocked >>> get_global_properties
get_global_properties
{
  "id": "2.0.0",
  "parameters": {
    "current_fees": {
      "parameters": [[
          0,{
            "fee": 100000,
            "price_per_kbyte": 1000000
          }
        ],[
          1,{
            "fee": 500000
          }
        ],[

[2018-08-24 00:48] BennyTejadaMaglaya commented on #1274
thank you for your response. the committee-account (1.2.0) currently has 0 balance. when we tried transfering some cash, we encountered an error.
`unlocked >>> list_account_balances committee-account
list_account_balances committee-account
0 BTP

unlocked >>> transfer nathan committee-account 1000000000 BTP "here is some cash" true
transfer nathan committee-account 1000000000 BTP "here is some cas

[2018-08-24 01:01] BennyTejadaMaglaya commented on #1274
we made sure that the 3 committee members all have cash and are all active block-producing witnesses. the committee-account as far as i know is the default committee member. here is the output of get-account:

get_account committee-account
{
  "id": "1.2.0",
  "membership_expiration_date": "2106-02-07T06:28:15",
  "registrar": "1.2.0",
  "referrer": "1.2.0",
  "lifetime_referrer": "1.2.0",
  "netw

[2018-08-24 01:11] abitmore commented on #1274
committee-account's memo key is invalid. Try transfer with no memo, aka "".

[2018-08-24 02:28] BennyTejadaMaglaya commented on #1274
we were able to successfully transfer funds to committee-account although after all the voting process, review period and maintenance interval has passed, still no changes in global properties. the balance of committee-account wasn't also deducted

[2018-08-24 02:59] arminnaderi commented on #1277
Note that this problem also occurs with fill orders. If an order fills instantly on creation then the `market subscription` callback is called first and then the transaction is processed.

[2018-08-24 05:11] sschiessl-bcp commented on #626
Ping

[2018-08-24 05:37] sschiessl-bcp opened #1285 "BSIP 40: Custom active authorities"
Strengthening user security is one of the main factors to elevate BitShares. In light of recent hacking and phishing attempts this becomes even more important. The need for a more sophisticated account security preceeded the idea for a finer-grained control of account permissions. We propose to add an additional authority to the account, called Custom Active (Permission). The permission contains a

[2018-08-24 20:48] oxarbitrage commented on #808
change in balance tracking was done here https://github.com/bitshares/bitshares-core/pull/1271

[2018-08-25 18:32] oxarbitrage opened #1287 "API node crash"
My api node segfaulted today, i am running it inside gdb to get a backtrace.

Here is the info i was able to get from the crash:

[code]

[code]

[2018-08-25 21:42] Zapata commented on #961
After discusion with Alfredo, Elastic Wrapper will be merged in bitshares-explorer-api (new name of python-bitshares-rest-api).

[2018-08-25 21:52] Zapata commented on #1224
[Elastic Search documentation has some tips](https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-indexing-speed.html), this one in particular:

If you need to load a large amount of data at once, you should disable refresh by setting index.refresh_interval to -1 and set index.number_of_replicas to 0. This will temporarily put your index at risk since the loss of any shard will

[2018-08-26 12:29] oxarbitrage commented on #1224
thank you @Zapata . something very similar to this was tried , search for:

in message: https://github.com/bitshares/bitshares-core/issues/1224#issuecomment-413392675

it is good to have the link document from where the idea came from, which is actually your link.

[2018-08-26 23:46] jmjatlanta commented on #1287
I am sorry that happened to you, but it is great you caught the trace. I hope that takes us a long way into figuring out the cause. At first glance, it looks like the connection cleanup code is trying to do its job when another thread got there first. I'll dig in and report back what I find.

[2018-08-27 01:29] jmjatlanta commented on #1287
The code is in a separate thread, attempting to clean up old connections. It creates an exception to be passed as a parameter to the disconnect function, and is in the process of adding details to the exception message. But it attempts to do a find on _active_connections, which is a member variable and an unordered list. Another thread is probably working with that list, and causing an issue. unor

[2018-08-27 06:15] cogutvalera opened #1288 "LaTeX project for documentation like C++ ISO/IEC"
**Instructions**
* User Story
* Impacts
* Additional Context (optional)

**User Story**
As a developer I want to use LaTeX for BitShares API documentation like C++ ISO/IEC (https://github.com/cplusplus/draft) so that we can get all benefits from LaTeX system.

**Impacts**
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI

[2018-08-27 12:41] pmconrad commented on #1288
Although I'm kind of a LaTeX fan I fail to see the benefits of this suggestion. LaTeX is great for producing print output. However, API documentation of live software is a moving target, therefore a printed representation is less than ideal. Searchable, indexable, up-to-date online documentation is the way to go IMO, and LaTex is not the right medium for this.

[2018-08-27 12:45] pmconrad commented on #1157
Yes, I thought of a different scenario. Makes sense for a schedule change.

[2018-08-27 13:21] abitmore opened #1289 "Change replay percentage to total block size processed"
**User Story**
As a node admin, during replaying, I want to know percentage of total size of blocks that have been processed, rather than count of blocks, so that I can estimate more accurately when it will complete.

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [ ] Define Test Cases
  - [x] Assigned: @cogutvalera
  - [ ] Estimate: T

[2018-08-27 13:34] cwyyprog opened #1290 "Elasticsearch_plugin.cpp(324): error C2593: 'operator +' is ambiguous"
When build the develop branch using visual studio 2015.1, an error was encountered:
[code]
and, the boost version is 1.65.1.
What's more, another error is  caused by using sys/socket.h which is not available n windows.
[code]

[2018-08-27 13:41] oxarbitrage commented on #1290
was fixed by @abitmore here: https://github.com/bitshares/bitshares-core/commit/e35d628bc7bb03c38db100dd40dd0a31b277c783

this was added to the last `master` but it was after the release tag. please upgrade to last `master`.

thanks.

[2018-08-27 13:44] oxarbitrage commented on #1290
actually now the changes are also merged to `develop` in https://github.com/bitshares/bitshares-core/pull/1284

so you can clone the branch again and should work. thanks again.

[2018-08-27 14:30] oxarbitrage commented on #1289
i don't think block % to total will allow you to estimate time. count or % of operations will do better.

[2018-08-27 15:32] weelmen opened #1291 "Witness wrong time initialisation"
dear coders
it seem that there is something  wrong in witness last bloc time counter

instead of beginning from 0(zero) it begin from 45 min

https://drive.google.com/open?id=1pNDvkZQL6oyiBDtIlqV1NEPChe3e3dYn

[2018-08-27 15:54] abitmore commented on #1289
We don't have the number of total operations before replay. For this issue I mean we can use `total_processes_block_size / total_block_size` which should have been obtained from block log already when replaying.

[2018-08-27 16:33] bangzi1001 commented on #1289
Is that possible to add "Estimate Completion Time" beside the Percentage? If can, then node admin no need to estimate completion time manually.

[2018-08-27 17:02] abitmore commented on #1157
Fixed by #1266.

[2018-08-27 17:02] #1157 closed

[2018-08-27 17:06] abitmore commented on #504
Copied @pmconrad's comment in https://github.com/bitshares/bitshares-core/issues/1157#issuecomment-415405328 to this issue since it's related:

[2018-08-27 17:38] abitmore opened #1292 "cli_test doesn't compile on Windows due to using 'sys/socket.h'"
**Build Error Description**

Reported by @cwyyprog in https://github.com/bitshares/bitshares-core/issues/1290#issue-354321160:
[code]

**Build Environment**
 - Host OS:             Windows
 - Host Physical RAM
 - Source Branch/Tag:   master
 - OpenSSL Version:
 - Boost Version:
 - C++ Compiler:        MSVC 2015 update 1

## CORE TEAM TASK LIST
- [ ] Evaluate `Build Error`
- [ ] Provide build guida

[2018-08-27 17:39] abitmore commented on #1292
This is an issue of `master` branch, perhaps we need a hotfix.

[2018-08-27 17:39] abitmore commented on #1290
@cwyyprog created a new issue #1292 for the cli_test issue. Thanks. The original issue is fixed by #1284.

[2018-08-27 17:39] #1290 closed

[2018-08-27 17:44] abitmore commented on #1291
Either your computer's clock was wrong, or the API node you're using is out of sync. By the way, if this is a real issue, it is related to UI, please report to https://github.com/bitshares/bitshares-ui/issues.

[2018-08-27 17:44] #1291 closed

[2018-08-27 18:16] cogutvalera commented on #1288
@pmconrad thank you very much for your time and for your opinion ! Really appreciate it !
Cannot agree with you that LaTeX is great only for producing print output, what about C++ documentation ? I think LaTeX is good enough for any kind of technical documentation, of course maybe I'm wrong - it's just my own opinion. Let's discuss more about it and let's listen more opinions. Maybe you're absolut

[2018-08-28 00:40] BennyTejadaMaglaya commented on #1274
thanks for the reply. here is the output of the said commands:

[code]

[code]

[code]

[2018-08-28 05:09] cogutvalera commented on #1288
http://pandoc.org/

[2018-08-28 07:43] charyury commented on #1182
@clockworkgr , @ryanRfox , what is the status of this issue? Is there a BSIP for it? We in OpenLedger have played with Ethereum VM and managed to integrate it with Bitshares core, so I wonder if this is something that may be interesting to the community. Please advise)

[2018-08-28 11:53] clockworkgr commented on #1182
@charyury I've been slowly piecing together the steps that need to be taken for this to work properly in discussions with @oxarbitrage .

In fact, yesterday we were discussing how our biggest issue is finding the right VM/scripting interpreter that will allow us to calculate script usage/metrics so we can set fees appropriately. Seeing as EVM is one of the few VMs that already implement this I was

[2018-08-28 12:30] oxarbitrage commented on #1182
I had been testing in the last few days 2 different languages approach that are lua and wren.

- https://www.lua.org/
- http://wren.io/

they both have active and similar binding libraries:

- https://github.com/vinniefalco/LuaBridge
- https://github.com/Nelarius/wrenpp

My original plan was not the same as what is discussed here but related and at the end they should be joined.

I have in mind a

[2018-08-28 12:49] ryanRfox commented on #1285
This Issue will serve as the Task List to track BSIP40 future development tasks (Issue). Discussion will take place within relevant tasks.

Assigned @sschiessl-bcp as the BSIP author to track the hours (40) for the draft.

[2018-08-28 12:57] abitmore commented on #1274
@BennyTejadaMaglaya I was not clear. The boxes I have **checked** mean you have provided info in this issue earlier. The one not checked means it still need your input.

[2018-08-28 16:01] pmconrad commented on #1289
I believe using the file size of the block log is an inaccurate measure of the total block size to apply. The reason is that the block log is only ever appended to. For example, when switching between forks, the blocks that are re-applied will be appended to the block log again. Similarly, the last 50 blocks of a replay are appended again.

I believe the error is small for a typical node, but can

[2018-08-29 00:16] abitmore commented on #1289
This doesn't sound ideal.

I guess it won't be too significant, since we don't reapply too old blocks anyway. IMHO, even it's not accurate, it's still better for estimation than block counts.

[2018-08-29 08:53] charyury commented on #1182
Here is a short instructions how to reach the testnet and run a smart contract. You may load any Solidity contract from Ethereum. You may also operate Bitshares objects. Enhanced CLI also provided. Will post more documentation later.
[OpenLedger Bitshares VM Testent 20180829.pdf](https://github.com/bitshares/bitshares-core/files/2331432/OpenLedger.Bitshares.VM.Testent.20180829.pdf)

[2018-08-29 10:59] clockworkgr commented on #1182
After numerous discussions with @oxarbitrage, @zapata et al, I'll try and go back to basics and spec out/explain a possible implementation strategy trying to piece together the previous conversations.

**WHAT WE WANT**

Essentially we want the script to function as a normal user account.

Just like I as a person would monitor stuff on the chain, react to a state change on the chain, perform some l

[2018-08-29 14:28] abitmore commented on #377
Fixed by #1286.

[2018-08-29 14:28] #377 closed

[2018-08-29 15:28] Zapata opened #1295 "[ES plugin] Wrong value of additional_data.fill_data.fill_order"
**Bug Description**

Value of `additional_data.fill_data.fill_order` is equal on both ways of a filled order and do not take asset precision into account:

USD -> BTS:

[code]

BTS -> USD:

[code]

The fill_price is same in both ways of the deals, wheras pay/recieve assets are inverted.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one b

[2018-08-29 15:29] cwyyprog opened #1296 "uint32_t undefined identifier error on Visual studio 2013 with boost 1.58"
I am trying to build the repository using Appveyor's Visual Studio 2013 environment for #964. Other environment like Visual Studio 2015 from Appveyor will certainly can not build due to #389. Currently, my endeavors on  are Appveyor's Visual Studio 2013 environment blocked by an undefined identifier error of uint32_t in library/fc submodule.
[code]
I have build everything succesfully except the cl

[2018-08-29 15:46] clockworkgr commented on #1295
Ah..another one for the base/quote design :P

If you look at the original op, you'll see that it too keeps price at a preferred base/quote order:

`fill_price":{"base":{"amount":10000000,"asset_id":"1.3.0"},"quote":{"amount":98138,"asset_id":"1.3.121"}}`

and

`"fill_price":{"base":{"amount":3624847,"asset_id":"1.3.0"},"quote":{"amount":35721,"asset_id":"1.3.121"}}`

So the plugin is simply copyin

[2018-08-30 10:04] phpergithub opened #1297 "make witness_node cli_wallet error"
[100%] Linking CXX executable witness_node
/usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libcurl.so: undefined reference to `SSL_CTX_new@OPENSSL_1.0.0'
/usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libcurl.so: undefined reference to `ENGINE_get_id@OPENSSL_1.0.0'
/usr/lib/gcc/x86_64-linux-gnu/5/../../../x86_64-linux-gnu/libcurl.so: undefined reference to `SSLv3_client_method

[2018-08-30 11:00] phpergithub commented on #300
how to solve

[2018-08-30 11:07] oxarbitrage commented on #1297
need to install curl:

`sudo apt-get  libcurl4-openssl-dev`

try that and let us know.

[2018-08-30 11:46] abitmore commented on #1297
Why lots of `@OPENSSL_1.0.0` in the message? Perhaps `libcurl` is too old or built with OpenSSL 1.0?

[2018-08-30 11:51] charyury commented on #1182
@clockworkgr , it seems that starting from some kind of simple scripting solution, the issue is moving towards powerful and protected business logic processing mechanism, executed on consensus level, which is very close to our solution. I think the best way to proceed is describe our solution in details and see how it is compared to the requirements proposed by you. This is in progress already, I

[2018-08-30 12:03] oxarbitrage commented on #1182
i also have some work in progress with a plugin that i will share more in details as soon as i have something decent to present as a proof of concept.

[2018-08-30 12:10] oxarbitrage commented on #1297
please send us some details as:

 - Host OS:             [e.g. Ubuntu 18.04 LTS]
 - Host Physical RAM    [e.g. 4GB]
 - Source Branch/Tag:   [e.g. master or 2.0.180425]
 - OpenSSL Version:     [e.g. 1.1.0g]
 - Boost Version:       [e.g. 1.65.1]
 - C++ Compiler:        [e.g. gcc version 4.8.5]

from build issue template: https://github.com/bitshares/bitshares-core/issues/new?template=build_error.md

[2018-08-30 12:40] pmconrad commented on #1182
Then why not implement it client-side?

IMO before speccing out a major change like this we should answer the question - do we want on-chain scripting AT ALL?

[2018-08-30 12:54] pmconrad commented on #1296
Please try adding <cstdint> to the list of includes.

[2018-08-30 12:55] clockworkgr commented on #1182
@pmconrad  client-side is essentially what @oxarbitrage 's solution is tackling.

Whether we want on-chain scripting is the big question. Personally I would as I see many advantages , as long as it doesn't come with a huge performance hit.

The discussion is not so much about speccing it out but (at least on my side) to simply explore possible implementation paths in order to better evaluate if it

[2018-08-30 12:59] oxarbitrage commented on #1182
my approach is client side with the help of a bitshares plugin that will execute client scripts in a VM created by the plugin on every block.
among other benefits i think this can bring in new businesses creation i also think it will help us explore a possible on chain smart contract support in the future, at least put us a bit closer.

[2018-08-30 13:08] sachushaji opened #1298 "Not able to perform testing"
**Bug Description**
I was trying to test the performance testing for the implementation , but i am not able to test its performance. I followed the steps specified in the documentation but didn't gave any results.

**Impacts**
Not able to confirm whether the implementation achieves the specified transaction rates.

 **Steps To Reproduce**
1.Successfully built dependencies and was able to launch th

[2018-08-30 14:38] abitmore commented on #1298
We have `tests/chain_test` but not `tests/chain_tests`.

[2018-08-30 15:05] sachushaji commented on #1298
Then how can i check the througput? What tests should i follow?

[2018-08-30 16:33] ryanRfox commented on #1298
@sachushaji from the screen shots it seems you were able to get `witness_node` running and syncing toward 30M blocks. May I understand your intended test(s)? If it's related to transaction throughput, you may reference the stress test performed on the TESTNET in 2017: http://bitshares.kaufen/wp-content/uploads/docs/bitshares-stresstest.pdf

[2018-08-30 16:43] sachushaji commented on #1298
Hi @ryanRfox.  I wanted to test it at my local machine to check whether it reaches the specified throughput level and verifiy it myself. Most of the popular projects enables this by specifying standard testing codes so as to verify the throughput, but I couldn't find any here. Can you shed some light into this issue?

[2018-08-30 16:53] charyury commented on #1182
Our approach is all about  on-chain. We believe smart contract is something that modern blockchain must have. Bitshares is perfect blockchain for business solutions, smart contracts is just one last thing still missing. Regarding performance, it is more a matter of correct pricing model. More paid transactions means more activity in the ecosystem, this is what all stakeholders are looking for. At

[2018-08-30 16:56] abitmore commented on #1298
* There is a typo in wiki and I've updated it.
* I've checked the `performance_test` code,
  * `sigcheck_benchmark ` works fine.
  * the commented out `transfer_benchmark` is trying to do 1M account creation and 1M transfers without generating one block, which IMHO is not a common scenario so doesn't make much sense.

@sachushaji IMHO so-called standard testing code is more for testing performance

[2018-08-30 17:09] sachushaji commented on #1298
I also want the same thing..with minimal hatdware spec whats the throughput and latency the network can achieve.

@abitmore : without generating blocks?

Sigcheck_benchmark is for private testnet throughput?

[2018-08-31 00:05] SahkanDesertHawk opened #1299 "Bitshares Core Build error on Ubuntu 18.04 (Upgrade from 16.04)"
I was using Ubuntu 16.04 with boost 1.63; after upgrade to 18.04 receiving this build error (tried also new compilation of boost 1.65):

`[ 30%] Linking CXX executable ecc_test
/usr/bin/x86_64-linux-gnu-ld: ../vendor/secp256k1-zkp/src/project_secp256k1-build/.libs/libsecp256k1.a(libsecp256k1_la-secp256k1.o): relocation R_X86_64_32 against `.rodata' can not be used when making a PIE object; recompi

[2018-08-31 01:33] abitmore commented on #125
Fixed by #1203.

[2018-08-31 01:33] #125 closed

[2018-08-31 01:52] phpergithub commented on #1297
@oxarbitrage
host  : Ubuntu 16.04.3 LTS
RAM : 8GB
Branch/Tag 2.0.180823
OpenSSL 1.0.2p  14 Aug 2018
Boost 1.58
gcc version 5.4.0 20160609

[2018-08-31 01:54] SahkanDesertHawk commented on #1299
OK, right after I wrote this I found a work around. I had to completely delete bitshares and do a complete fresh install of bitshares, left the boost and everything else untouched. It build fine and is up and running.

[2018-08-31 01:54] #1299 closed

[2018-08-31 06:43] sschiessl-bcp opened #1300 "Definition of flag bitAsset of an asset"
Getting an asset from the backend has a flag "bitasset".

I'd like to work out a description for it, could someone point me to the code please where this is defined?

[2018-08-31 07:26] sachushaji commented on #1298
@abitmore  I tried to run the performance tests as you mentioned but it gets an error
![screenshot from 2018-08-31 12-54-33](https://user-images.githubusercontent.com/15767732/44898653-333b9600-ad1d-11e8-9f92-4cdc781b81b4.png)

[2018-08-31 07:50] OpenLedgerDev commented on #1256
Would you please include steps how to reproduce it or under what circumstances it has happened, host OS and compiler.

[2018-08-31 11:33] abitmore commented on #1298
@sachushaji As I said that commented out test code doesn't make sense. If you want to try it, best if you can try to fix it by yourself and tell us the result of the test and submit a pull request. Thanks.

[2018-08-31 11:57] sachushaji commented on #1298
@abitmore okay, will try

[2018-08-31 13:11] sschiessl-bcp commented on #1182
What is the difference to having the owner permission of the new script account to be the creating account?

I suggest not allowing anything that has to do with owner authority

Witnesses have their pay already, what is reasoning here?

For my clarification:
 - Creating a script has a fee that accomodates the increased complexity for the backend
 - Every time the script executes, it still pays the

[2018-08-31 13:58] sschiessl-bcp commented on #1300
Oh, maybe I didn't find in the UI what I was looking for.

Does the backend distuingish between SmartCoins, and BitAssets? Or is this merely a frondend thing?

BitAsset would be a committee owned, witness fed and BTS backed (or by another BTS backed smartcoin) smartcoin.

[2018-08-31 18:00] Zapata commented on #1224
I have compiled a few advices that can apply to our usage of ES. Needs to be tested.

- At index time:
-- [disable refresh and replicas](https://www.elastic.co/guide/en/elasticsearch/reference/master/tune-for-indexing-speed.html#_disable_refresh_and_replicas_for_initial_loads)
-- [disable _field_names](https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-field-names-field.html#_

[2018-09-01 01:34] abitmore commented on #125
Interestingly, Steem is moving the whole block generation code to witness plugin: https://github.com/steemit/steem/pull/2861 https://github.com/steemit/steem/issues/2717

[2018-09-01 01:42] arminnaderi commented on #1277
Actually I misread the issue above. The problem you described is concerning the fill orders. The original problem we discussed in earlier chats was about the order creation notification (ie `subscribe_to_market` firing before the response of `broadcast_transaction_synchronous` is sent back to the client.

For example, the output of:

`"{ 'id': -1, 'method': 'call', 'params': [2, subscribe_to_marke

[2018-09-01 01:46] arminnaderi commented on #1277
I think that if we consider the above bug^^ I mentioned to be not a problem, then its fine to leave the fill order bug as it currently is because the client can just listen for fill orders that do not have a matching order and put them in an "orphan" list, then when the order arrives the client can fill the order. It's a bit troublesome but I think if implemented well the code can run without any

[2018-09-01 01:48] abitmore commented on #1300
Committee-account owned MPAs (market pegged assets) have a special restriction: need to be backed by CORE asset (BTS) or another MPA which is backed by CORE asset (BTS). If I'm correct, this is the only additional restriction.

[2018-09-01 01:59] abitmore commented on #1277
@arminnaderi actually I misunderstood your question earlier. Please create a new issue for that.

[2018-09-01 02:02] arminnaderi commented on #1277
Ok, will do now.

[2018-09-01 02:14] abitmore commented on #1277
Your issue is still related though. Notification of `broadcast_transaction_synchronous` is fired by `applied_block` signal (which is same to order fills but of different API container), notification of new orders is fired by `changed_objects` signal, there are threading involved so the order is not deterministic. In addition, because they're not in the same container (one is in `network_broadcast_

[2018-09-01 10:11] charyury commented on #1182
More details about our solution in the attachment. Looking forward to the core team members feedback!
It looks like we have to decide first, if on-chain script processing is required for Bitshares at all. Maybe this is something to be discussed with the whole community? A poll worker request may be created for this purpose.
[OpenLedger Bitshares VM Solution.pdf](https://github.com/bitshares/bitsha

[2018-09-01 13:36] oxarbitrage commented on #1182
@charyury i think the document looks great.

I had to change my solution from pure plugin to execute the scripts in the chain as i found no way to make it secure without consensus.

The solution is similar to the one you are providing in the high level, probably different internally as it use wren as vm instead of ethereum. solution could be adapted also to lua and luajit if wren is not good enoug

[2018-09-01 13:50] charyury commented on #1182
@oxarbitrage, how far are you with you solution? Do you have something tangible already? As you can see, we have quite a big progress, so it is a good time to test our solution and decide if this approach fits the network. If you are somehow close to the same level of readiness, probably we shall compare both solutions in more details to decide which one is better and then go for it. Speaking fran

[2018-09-01 14:00] jmjatlanta commented on #1297
To me, it looks like libcurl was found, but OpenSSL (which libcurl needs) was not. Perhaps cmake did not find something at the time it was run. As an experiment, I would remove the CMakeCache.txt file and CMakeFiles directory, and run cmake again, specifying where OpenSSL exists and see what happens.

[2018-09-01 14:45] botanegg opened #1301 "Probably wrong comment"
Hello.
See at this line [libraries/chain/db_update.cpp#L119](https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/db_update.cpp#L119)

Are you sure about that comment?
I think is correct multiplier is .3, because GRAPHENE_IRREVERSIBLE_THRESHOLD is 70% of GRAPHENE_100_PERCENT

[2018-09-01 15:58] jmjatlanta commented on #1292
I made a simple test program based on the SO article, and it works with VS 2017, and should work for 2015...
[code]

[2018-09-01 16:38] oxarbitrage commented on #1182
The process is similar. Users upload scripts to the chain with operation. On each block bitshares-core will execute each active script in a wren VM and do the needed operations. It can currently only do transfers but can do other core operations. It haves similar functions to get data from the network, a simple script may look:

[code]

or

[code]

etc.

It is not developed as much as your pdf but

[2018-09-01 16:45] jmjatlanta commented on #1292
This *should* fix it. If someone will please test and let me know if there are any issues...

https://github.com/bitshares/bitshares-core/commit/a8c4d6a075b333fc114ce1a32969e355ae62b42e

[2018-09-01 19:25] Zapata commented on #1182
@oxarbitrage how do you imagine solve the economic part with wren/lua solution?
One of the advantage of EVM it's that it computes the fees required to process the transaction, which is the harder part imho.
Nice work @charyury !

[2018-09-02 08:34] cogutvalera commented on #777
After some researches and according to the next code & comment:

https://github.com/bitshares/bitshares-core/blob/develop/libraries/app/include/graphene/app/database_api.hpp#L145-L154
[code]

newly removed objects to the client, no matter whether client subscribed to the objects.

As mentioned in bitshares/bitshares-ui#1338 (comment), the node is probably pushing unwanted data to the client:

I've

[2018-09-02 10:05] cogutvalera commented on #777
Also according to @abitmore comment here:

https://github.com/bitshares/bitshares-core/pull/725#issuecomment-373529922

IMHO we need to change this logic in event of flag is set to **TRUE** value in order to have some limitations against DDoS public API servers. Should we add time limitations or maybe some other limitations in this logic against DDoS attacks if we don't want to remove fully and co

[2018-09-02 14:27] oxarbitrage commented on #1182
You cant know upfront how many transfers a contract will end up executing as it will depend on conditions, can be 1 , 100 or none.
To start, fees are charged by upload , starting, stopping contracts as this can be normal bitshares operations. Next, each time the VM executes a transfer it will execute the fee for it normally.

For usage, as a simple example we can count space in RAM, number of inst

[2018-09-02 17:40] oxarbitrage commented on #1256
got backtrace for this:

[code]

[2018-09-03 00:01] abitmore commented on #1256
So it points to `terminate_inactive_connections_loop()` again, same as https://github.com/bitshares/bitshares-core/issues/1287.

[2018-09-03 00:38] abitmore opened #1303 "cli_tests memory access violation at address: no mapping at fault address"
**Bug Description**
Sometimes (not always reproduce-able) when running `tests/cli_tests`, I got this message:
[code]

Note: IIRC I've encountered it not only in `cli_quit`.

**Expected Behavior**
No error.

**Impacts**
- [x] Other (please add below)
  - testing

**Host Environment**
Please provide details about the host environment. Much of this information can be found running: `witness_node --ve

[2018-09-03 00:44] abitmore commented on #777
@cogutvalera I believe your comments above will be addressed with #1049.

[2018-09-03 02:05] jmjatlanta commented on #1256
It seems to me that we are not doing all operations on the _active_connections collection in the same thread. I believe it has been determined that VERIFY_CORRECT_THREAD is a no-op when compiling without the DEBUG flag. (also, I have not verified that all methods call VERIFY_CORRECT_THREAD even with the DEBUG flag). So either the find() or the end() is returning an object that at the same time has

[2018-09-03 05:11] cogutvalera commented on #1303
are there any other related logs about stack execution ? more error logs will help very much.

We have next code there:

https://github.com/bitshares/bitshares-core/blob/develop/tests/cli/main.cpp#L275-L279
[code]
https://github.com/bitshares/bitshares-core/blob/develop/tests/cli/main.cpp#L212-L257
[code]
My thoughts are that there is something wrong maybe in cli_fixture code or maybe some strange

[2018-09-03 10:35] phpergithub commented on #1297
@jmjatlanta I did not report an error in cmake. How do you specify openssl and libcurl.

[2018-09-03 10:40] ihla opened #1304 "dynamically linking openssl"
Is there any reason for not linking the openssl dynamically? The openssl is linked statically which is causing us troubles when building witness_node for an embedded linux (RPi) - lintian reports it as an error. Before we move to the dynamic linking we would like to know if there are any constraints we are not aware of.

[2018-09-03 11:36] jmjatlanta commented on #1297
``cmake -DOPENSSL_ROOT_DIR=/home/mydir/openssl102 .`` where the openssl102 directory contains the include and lib directory of OpenSSL.

I have seen instances where ``cmake`` sees and plans for one version of OpenSSL, but ``make`` finds another. Specifying the path to the OpenSSL you want to use makes it less ambiguous.

The CMakeCache.txt file often makes ``cmake`` ignore new command line paramet

[2018-09-03 11:40] jmjatlanta commented on #1304
I have never tried it, but I cannot think of a technical reason why it wouldn't work. You will need to make sure that everything is recompiled, and -fPIC is included with each compile command. I think ``cmake`` should take care of that for you.

[2018-09-03 13:12] pmconrad commented on #1304
I regularly build and run witness_node and cli_wallet on openSUSE linux, which doesn't provide static libs in system packages. I even build with ``-D Boost_USE_STATIC_LIBS=OFF``. Never had problems in that regard.

[2018-09-03 13:39] jmjatlanta commented on #1287
What happens when you use a std::unordered_list in a threaded environment: https://gist.github.com/jmjatlanta/63cf7a13b9c88d47c9eb63deee5e5118

[2018-09-03 13:50] jmjatlanta commented on #1256
I have verified that deleting an item from the collection can cause SIGSEGV ( see https://gist.github.com/jmjatlanta/63cf7a13b9c88d47c9eb63deee5e5118 ).

Now the question is: What do we do about it? Do we make sure everyone is on the same thread? Change to a thread-safe list?

[2018-09-03 22:30] ryanRfox commented on #1303
I assigned @cogutvalera and added the estimation of 10 hours. May I request @abitmore to comment on the estimate?

[2018-09-03 23:39] abitmore commented on #752
Done with #1049.

[2018-09-03 23:39] #752 closed

[2018-09-03 23:53] abitmore commented on #1303
@ryanRfox IMHO better focus on more important things first. This is a minor issue so far.

[2018-09-03 23:58] abitmore commented on #1304
Just a note, to distribute binaries (Windows and perhaps iOS), the libs need to be statically linked.

[2018-09-04 04:51] cogutvalera commented on #1303
@abitmore and @ryanRfox Thank you very much ! Guys, I will do more important things first, and later will try to finish this issue, maybe soon at that time we can catch more error logs about this issue that will help to solve the issue.

@abitmore can you help me please how to determine which issues are more important with higher priority ? Where can I see priorities from highest to lowest ? In pr

[2018-09-04 06:39] phpergithub commented on #1297
@jmjatlanta
cmake -DOPENSSL_ROOT_DIR=/usr/local/ssl .

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check

[2018-09-04 14:48] ryanRfox commented on #1210
@bitshares/core-dev Please review this Issue and update:
-1 Add priority label
-2 Add estimated development hours into description

@OpenLedgerDev intends to claim this Issue and begin working on it.

[2018-09-04 15:07] ihla commented on #1304
thx for hints, our finding: in order to force dynamic linking on linux systems which allow both static and dynamic linking, `CMAKE_FIND_LIBRARY_SUFFIXES` must set correct order like this: `SET(CMAKE_FIND_LIBRARY_SUFFIXES .so .a)`  - in original CMakeLists.txt it is `SET(CMAKE_FIND_LIBRARY_SUFFIXES ".a;.so")` that's why the libs are tried to link statically first.

[2018-09-04 16:03] ryanRfox commented on #1303
@cogutvalera in general I hope you will review the [Project Backlog](https://github.com/bitshares/bitshares-core/projects/6) to identify `Unassigned - Bugs` then `Unassigned - Features & Enhancements` (rather than `New - Awaiting Core Team Evaluation`.  As a Team, we are working to prioritize the Issues within each bucket (column heading). We also use the `4 Priority` [Labels](https://github.com/b

[2018-09-04 16:10] cogutvalera commented on #1303
@ryanRfox thank you very much for so detailed information !

[2018-09-04 18:02] ryanRfox commented on #958
Assigned @marcialvieira and working to build a task list and estimations.

[2018-09-04 18:47] ryanRfox commented on #964
Assigned @cogutvalera for estimated 10 hours.

[2018-09-04 18:55] marcialvieira commented on #1233
Hi @ryanRfox and everyone, I'm interested in working on this issue as a continuation of #985

[2018-09-04 18:57] ryanRfox commented on #946
Yes, @cogutvalera I will assign you. Please provide an estimate and the Core Team will review it.

[2018-09-04 19:03] ryanRfox commented on #946
@abitmore I added this to 201810 Feature Release because it is labeled a `bug` and wanted some additional visibility of its progress. If it's not complete by release time, we can move it back to `Future Non-Consensus` (please leave it in `Community Claims`)

[2018-09-04 19:13] ryanRfox commented on #964
Please see this [note](https://github.com/bitshares/bitshares-core/issues/1304#issuecomment-418207137) in #1304 about static linking, as it may provide insights for your solution.

[2018-09-04 19:13] ryanRfox commented on #958
Please see this [note](https://github.com/bitshares/bitshares-core/issues/1304#issuecomment-418207137) in #1304 about static linking, as it may provide insights for your solution.

[2018-09-04 19:20] marcialvieira commented on #964
Hi @ryanRfox and everyone, I'm interested in working on this issue as a continuation of #985

[2018-09-04 19:25] ryanRfox commented on #1233
Outstanding! You will be our go-to build guy ;) I'm assigning @marcialvieira and will await an estimate from you.

[2018-09-04 19:31] ryanRfox commented on #1304
@bitshares/core-dev are the changes @ihla mention above a desired change to our CMAKE build script? If yes, seems like a quick PR. If not, we should capture this within our build documentation so other devs are aware.

[2018-09-04 19:39] ryanRfox commented on #1301
Hi @botanegg and welcome. I'm the Coordinator for the Core Team. We encourage community members to assist us in identifying and resolving bugs, identifying features and enhancements, updating lacking documentation and drafting improvement proposals. Clearly, you are deep within the code, so please [learn more here](https://www.bitshares.foundation/workers/2018-03-bitshares-core) (see: Bounty Proce

[2018-09-04 20:11] cogutvalera commented on #1233
@marcialvieira welcome ! This will be cool when will be done !

[2018-09-04 20:11] cogutvalera commented on #964
@marcialvieira welcome ! This will be cool when will be done !

[2018-09-04 23:15] abitmore commented on #958
Just a note, please keep in mind that we value security much more than convenience.

[2018-09-05 09:37] abitmore commented on #1256
Probably related: #402, #885. With debug build, there will be assertion failures; but all assertions are dropped in release build.

[2018-09-05 14:41] sschiessl-bcp commented on #1182
For the economic question:
Adding history to the scripting engine for the fees seems inappropriate imo.

Every operation that the script triggers must pay the normal BTS fee involved. The creation fee of the script should account for its complexity and duration of being enabled (similar to custom active authority). The script account itself should have BTS balance to pay for the fees of all trigge

[2018-09-05 14:52] pmconrad commented on #1300
No. The backend distinguished these asset types:

* (Core asset)
* UIA
* BitAssets
  * MPA
  * PM

[2018-09-05 15:03] pmconrad commented on #1297
I'd guess that you can't link openssl statically if you also link libcurl dynamically (which is in turn linked to a dynamic openssl).
Make sure you have dynamic openssl libraries installed. Try option ``-DOPENSSL_USE_STATIC_LIBS=OFF``.

[2018-09-05 15:06] OpenLedgerApp commented on #1256
Thank you for your feedback guys. We will try to reproduce it and investigate further.

[2018-09-05 15:08] pmconrad commented on #1297
Also see hint in https://github.com/bitshares/bitshares-core/issues/1304

[2018-09-05 15:13] pmconrad commented on #1301
The comment doesn't make much sense anyway because no two witnesses would have the same last_confirmed_block_num.

[2018-09-05 15:15] pmconrad commented on #1233
Need to think about available resources on travis. Perhaps restrict this to main branches only, not PR's nor feature branches.

[2018-09-05 15:19] pmconrad commented on #958
Wrt ``trusted``, builds should be reproducible. I. e. provide an automated build that can be run by anyone, and that will always produce a bitwise identical result.
https://reproducible-builds.org/

[2018-09-05 15:22] pmconrad commented on #1296
#include \<algorithm>
#include \<thread>
**#include \<cstdint>**

namespace fc {

[2018-09-05 19:50] ryanRfox commented on #377
Sorry this is after the fact, but I failed to transcribe the email discussions into the Issue Description per standard:
 - [x] Assigned: OpenLedger
 - [x] Estimated:
    - [x] Developer: 35 hours
    - [x] Project Manager: 5 hours

[2018-09-05 19:55] ryanRfox commented on #1210
Added Estimates from @OpenLedgerDev:
  - [x] Estimate:
    - [x] Developer: 30 hours
    - [x] Project Manager: 5 hours

Still awaiting comment from @bitshares/core-dev

[2018-09-05 22:28] abitmore commented on #1083
This is still needed. Latest data profiling shows more than 10% of CPU time is used to (unnecessarily) sort balances. #1099 attempted to improve it by copying some data to a new "table". A new idea is to use a secondary index and do [partial sorting](https://en.wikipedia.org/wiki/Partial_sorting).

[2018-09-05 23:37] abitmore commented on #1139
Done with #1213.

[2018-09-05 23:37] #1139 closed

[2018-09-06 00:06] abitmore commented on #1210
My estimation on this issue is 2-5 hours.

[2018-09-06 06:17] abitmore commented on #377
My estimation on this issue is 5-10 hours.

[2018-09-06 13:29] OpenLedgerApp commented on #1210
Here's our detailed estimation.

This includes expanded version, not only public key.
In OpenLedger we also have a test framework that we use for all our BitShares development.
So our estimation also includes writing tests, running testnet and running tests to make sure everything is fine.

- [x] Find out how to extract public key from transaction: 4 hours
- [x] add get_transaction_signers to cli_

[2018-09-06 13:37] HarukaMa commented on #1256
I was experiencing the same issue, here is the log in case it's useful:
[code]

[2018-09-06 14:27] ryanRfox commented on #377
Per converations with Core Team Devs, the invoice for weeks 34-35 reflects 10 hours remitted for this issue. In the future, I will work to ensure estimates are reviewed prior to merge to eliminate discrepancy after the fact.

[2018-09-06 14:42] abitmore commented on #1210
To implement the feature described in this issue, we need to add a cli command/API, which calls `signed_transaction::get_signature_keys(chain_id)` and return the result. How a transaction would be signed or verified is out of scope. Test cases can be: constructing a transaction, sign with a few private keys and/or don't sign, then call the API, check whether the result is expected.

[2018-09-06 15:15] jmjatlanta commented on #1287
I strongly believe that this issue is a duplicate of #1256. If you would like to comment, please do so in issue #1256.

If you have evidence that this issue is unique, please comment here and we will re-open.

[2018-09-06 15:15] #1287 closed

[2018-09-06 15:50] jmjatlanta commented on #1256
All research is pointing to https://github.com/bitshares/bitshares-core/blob/2a175e6df75fe3fc9579ba276d3ac3a59bf3bd78/libraries/net/node_impl.hxx#L277 being accessed by more than one thread.

This collection is often iterated over, and is added to / deleted from in a number of places. The single-threaded nature of std::unordered_set makes this collection inappropriate for our implementation.

To c

[2018-09-06 15:51] OpenLedgerApp commented on #1210
@ryanRfox  I think our developers estimated the extended way of this change request as I mentioned before. So here is our estimation for impelementing **public keys only**:
- [x] Find out how to extract public key from transaction: 4 hours
- [x] add get_transaction_signers to cli_wallet - get public keys only: 2 hours
- [x] unit tests: 2 hours
    get transaction signers from correctly signed tran

[2018-09-06 16:06] abitmore commented on #1256
Good job @jmjatlanta. I feel that the second option is the easiest for fixing this issue.

[2018-09-06 21:32] ryanRfox commented on #1210
Thanks Denis for the details. This will really help for our upcoming voice call.

My current understanding is OpenLedger proposes to develop an implementation for this Issue as a team, which is both welcome and novel for how Issues have been estimated historically as Community Claims (CC) against the Core Team WP. I believe this allows us to have a conversation about how we track and compensate a

[2018-09-07 01:01] 86chenjie opened #1307 "cli list_account_balances throw err"
using latest cli: https://github.com/bitshares/bitshares-core/releases/download/2.0.180823/BitShares-Core-2.0.180823-Windows-x64-cli-tools.zip

list_account_balances  jeff-chen-1
throw err
[code]

[2018-09-07 04:13] 86chenjie commented on #1307
btw, i found blind tranfer only support BTS, other assets are not supported. Is this true?

[2018-09-07 06:17] abitmore commented on #1307
@86chenjie which API server (`witness_node`) did you connect the `cli_wallet` to when encountered this error?

 I think this error only occurs when connecting a `2.0.180823` `cli_wallet` to an old `witness_node`.

False.

[2018-09-07 08:11] abitmore commented on #1307
@oxarbitrage we need to review all CLI changes done in https://github.com/bitshares/bitshares-core/pull/989 and related pull requests, to get rid of compatibility issues (read: cli_wallet can be connecting to an old witness_node):
* need to be defensive, so still need to query with account IDs by now (need to convert to strings first otherwise won't compile);
* add comments/TODOs so we will cleanu

[2018-09-07 08:18] 86chenjie commented on #1307
@abitmore  thanks for your response
1. cli_wallet.exe -s wss://ws.gdex.top
this is the node i use.

2. blind tranfer support other asset like GDEX.EOS ? i tried, err throw
[code]

[2018-09-07 12:28] abitmore commented on #1307
When you see this error, you need to quit cli_wallet and relaunch and reconnect to the API node.

[2018-09-07 19:45] ryanRfox commented on #1296
@cwyyprog Please let us know if this resolved your build issue. If yes, please close the Issue. If no, please provide additional details you are currently encountering. Please note: Core Team may close this issue for inactivity in the future. Thanks

[2018-09-07 19:51] ryanRfox commented on #1295
@oxarbitrage I see you added this to the release milestone, but did not self assign. Are you actively working this one? I've added it to the Project Board as well to match. If this is in error, please move it `Unassigned - Bug` on the [Project Backlog](https://github.com/bitshares/bitshares-core/projects/6). thanks

[2018-09-07 19:53] oxarbitrage commented on #1295
assigned to myself, thanks.

[2018-09-07 23:59] 86chenjie opened #1309 "Some question about StealthTransfers"
After reading https://github.com/cryptonomex/graphene/wiki/StealthTransfers, i have some questions:
1. Is there any privacy difference between these 2 type of stealth transfers, if i want to transer from pub1 to pub2?
a. pub1 to stealth1, stealth1 to pub2
b. pub1 to stealth1, stealth1 to stealth2, stealth2 to pub2
For those 2 types, public can see the same result: pub1 send blind transfer, pub2 re

[2018-09-08 00:09] marcialvieira commented on #1309
I think @christophersanborn is the right person to answer that.

[2018-09-08 05:35] cogutvalera commented on #946
@ryanRfox my estimation for this issue is approximately about 2 hours

[2018-09-08 07:59] abitmore commented on #1309
Single linked stealth transfers provide little privacy. The more complex transfers in stealth accounts, the more privacy. That said, the more people using stealth transfers and longer funds are kept in stealth accounts, the better.

E.G.
* pub1 -> stealth1, pub2 -> stealth2, ..., pubn -> stealthn;
* stealth1 -> (stealth-11, stealth-12, stealth-13, stealth-14), ...
* stealth-11 -> (stealth-111, ste

[2018-09-08 08:01] abitmore commented on #946
@cogutvalera I'm surprised. I didn't think it can be done in 2 hours. Please describe how to fix, and analyse pros and cons.

[2018-09-08 08:05] marcialvieira commented on #1309
Now that I understood the question as Abit explained, I totally agree, crowd of 1 person is not a crowd, need a huge haystack to hide a needle.

[2018-09-08 08:14] cogutvalera commented on #946
@abitmore maybe I'm wrong with my estimation, very wrong, please help me to estimate this issue more correctly enough if you can.

My thoughts were that we can use  something like next snippet of code after this line here https://github.com/bitshares/bitshares-core/blob/develop/programs/witness_node/main.cpp#L157

[code]

and here in the start of `flush` method we can use something like next code

[2018-09-08 08:28] cogutvalera commented on #946
My idea is simple but maybe I am completely wrong with it. Still researching different possibilities. My idea: not to flush object database in event of exception, also need to add check if it was in reply mode or not, but I hope you understand my idea correctly.

Thanks !

[2018-09-08 08:33] abitmore commented on #946
Thanks. Perhaps it's not as hard as I thought. I think we need to add a parameter to `shutdown()` function to tell the object database whether the state is clean, to decide whether to dump it to disk.

[2018-09-08 08:39] cogutvalera commented on #946
Wow, you are absolutely right about parameter in `shutdown` ! Did not thought yet about it. Nice idea ! Thanks a lot !

[2018-09-08 09:52] cogutvalera commented on #946
At the beginning I thought the same as @abitmore that this issue is much harder but later after some researches I was surprised too that it is much easier than I have been expected.

[2018-09-08 12:37] #1309 closed

[2018-09-08 15:25] Zapata opened #1310 "Implement JSON-RPC batch"
**User Story**

As a client developer I want to be able to use [JSON-RPC batch specification](https://www.jsonrpc.org/specification#batch) to query Bitshares Core API.
This could drastically reduce load when used by the various clients.
It could also be implemented on Websocket side.

**Impacts**
- [ X] API (the application programming interface)
- [ ] Build (the build process or something prior t

[2018-09-08 23:37] abitmore opened #1313 "About skip_fork_db flag"
The `skip_fork_db` flag is defined in database.hpp and the comment says it's used while reindexing: https://github.com/bitshares/bitshares-core/blob/67166ca79ed0618b0ddb0312f3a080ac46082f6c/libraries/chain/include/graphene/chain/database.hpp#L69

But it's actually not being used: https://github.com/bitshares/bitshares-core/blob/67166ca79ed0618b0ddb0312f3a080ac46082f6c/libraries/chain/db_management

[2018-09-09 00:00] abitmore opened #1314 "Terminate block production loop when shutting down witness plugin"
**Bug Description**
Currently nothing is done when shutting down witness plugin. Actually we need to terminate the production loop, otherwise it often causes segfault.

https://github.com/bitshares/bitshares-core/blob/67166ca79ed0618b0ddb0312f3a080ac46082f6c/libraries/plugins/witness/witness.cpp#L146-L149

https://github.com/bitshares/bitshares-core/blob/67166ca79ed0618b0ddb0312f3a080ac46082f6c/li

[2018-09-09 11:04] abitmore commented on #1270
Note: https://github.com/bitshares/bitshares-core/issues/460 makes the situation a bit more complicated, that said, MCR is now affecting PMs as well although it shouldn't. In principle we keep the behavior unchanged, but for better code maintenance-ability, it's better to still use same code for both PMs and non-PM bitAssets (that means we may change the behavior of PMs a bit).

[2018-09-09 11:28] pmconrad commented on #1307
GDEX.EOS has the ``whitelist`` flag set. Assets with that flag cannot be transferred in stealth mode.

[2018-09-09 11:40] pmconrad commented on #1310
As a client developer you might want to use a websocket connection instead.

(We might still want to allow bulk requests via http, might sometimes be handy for manual queries. Shouldn't be too difficult either.)

[2018-09-10 06:12] cogutvalera commented on #1313
@ryanRfox I want to claim this issue as a continue of my researchers after #946 issue.

Thanks !

[2018-09-10 07:34] cogutvalera commented on #1289
@ryanRfox assign this issue to me please so I will continue my researchers after #946 issue.

Thanks !

[2018-09-10 08:14] cogutvalera commented on #363
https://github.com/bitshares/bsips/issues/103

[2018-09-10 13:02] abitmore commented on #1313
@cogutvalera IMHO you already have quite some issues pending, better finish them or release them before "officially" asking for working on new issues. You can research in advance if have spare time though.

[2018-09-10 13:06] cogutvalera commented on #1313
Ok. Sure. Thanks !

[2018-09-10 19:36] abitmore commented on #1256
It seems not easy to find a perfect unordered set library, so comes another question: do we have to use an unordered set? I assume that usually there are less than 100 connections to maintain, perhaps an ordered set will work just fine?

[2018-09-10 20:42] ryanRfox commented on #946
@cogutvalera and @abitmore did you two come to consensus about the estimate (2 hours)? I've assigned to @cogutvalera now and leave the estimate as TBD until I hear from you both. Thanks

[2018-09-10 20:47] abitmore commented on #946
@ryanRfox depends on what's done. IMHO 2 hours is not sufficient.

[2018-09-10 20:50] ryanRfox commented on #1269
@cogutvalera I've assigned this to you. Please provide an estimate prior to development. We want @bitshares/core-dev to review these. Please being with some test cases to ensure you are heading toward the intended solution. Thanks

[2018-09-10 20:52] ryanRfox commented on #985
I've assigned @cogutvalera for this issue. Please provide an estimate prior to developing the solution. We want @bitshares/core-dev to review.

[2018-09-10 21:02] ryanRfox commented on #1314
Assigned @cogutvalera to this issues, as he has done related work with the quit() routine. Please include an estimate so @bitshares/core-dev can review prior to beginning development. Thanks

[2018-09-11 08:05] abitmore commented on #1296
Hi @cwyyprog, do we need a PR to fix this?

[2018-09-11 08:06] cogutvalera commented on #946
@ryanRfox I'm absolutely agree with @abitmore

[2018-09-11 12:56] Dimfred opened #1316 "Cannot execute the operation in a proposal (question)"
Hello I am sorry that I am writing this here, but I am not sure where else to ask my questions.

So I am trying to execute a transaction proposal from alice to bob. alice is creating the proposal, hence she should be the only authority needed to make the proposal execute.
Here is my code:

// fast jump to hardfork time
generate_blocks( HARDFORK_CORE_588_TIME );
// one more block to pass hardfork t

[2018-09-11 14:17] ryanRfox commented on #1289
Assigned @cogutvalera and awaiting his estimate for @bitshares/core-dev review. Thanks

[2018-09-11 14:30] kapeer42 opened #1317 "Return blackswan settlement result in account history"
**User Story**
As a bitshares-ui developer I want to get the result of the settlement of an MPA that has blackswaned when I call `get_account_history` so that the issue https://github.com/bitshares/bitshares-ui/issues/1785 can be closed.

By 'result of the settlement' I mean 'how much MPA was traded for how much short_backing_asset'.

**Impacts**
- [x] API (the application programming interface)
-

[2018-09-11 15:42] cogutvalera commented on #1314
@ryanRfox my estimation for this issue is approximately 1 hour

[2018-09-11 15:42] cogutvalera commented on #1289
@ryanRfox my estimation for this issue is approximately 2 hours

[2018-09-11 15:42] cogutvalera commented on #1269
@ryanRfox my estimation for this issue is approximately 4 hours

[2018-09-11 15:43] cogutvalera commented on #985
@ryanRfox my estimation for this issue is approximately 2 hours

[2018-09-11 16:14] pmconrad commented on #1316
Why do you create a committee proposal, that looks overly complicated.

A review period of 0 is not the same as no review period. Use pcop.review_period_seconds.reset() instead.

[2018-09-11 16:27] pmconrad commented on #1317
This code here https://github.com/bitshares/bitshares-core/blob/2.0.180823/libraries/chain/asset_evaluator.cpp#L858-L881 should create a virtual operation as in https://github.com/bitshares/bitshares-core/blob/2.0.180823/libraries/chain/db_market.cpp#L900 .
Has an effect on operation history and should therefore be treated like a hardfork.

[2018-09-11 16:36] pmconrad opened #1318 "Define coding style guidelines"
**User Story**
As a `contributor` I want `coding style guidelines` so that `our code becomes more readable through consistent formatting and practices`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI

[2018-09-11 16:44] cogutvalera commented on #1318
As a developer/contributor I want to see too code convention. Maybe some kind  of documentation for example as Google C++ Style Guide

https://google.github.io/styleguide/cppguide.html

[2018-09-11 17:03] abitmore commented on #1317
@pmconrad IMHO line 881 `return settled_amount;` is enough for UI.

[2018-09-11 17:09] abitmore commented on #1317
@kapeer42 please paste your request/response json here. There should be something like `"result":[2,{"amount":123,"asset_id":"1.3.0"}]` in the result.

[2018-09-11 17:51] abitmore commented on #1316
`pcop.expiration_time = db.head_block_time() + *pcop.review_period_seconds + 10;`
What exactly this time is? If you set a review period (although it's `0` as @pmconrad mentioned), the proposal will only execute when it's expired. Perhaps there can be a bug when review period is set to `0`, I will check.

[2018-09-11 19:03] Dimfred commented on #1316
Hello. Thank you for your answers. I am just starting to code on the bitshares platform and am really new to this.

The code is from the tests I mostly copied it.

Okay thank you very much this helped proposal was executed :+1:

Btw while I am here is there anyway for me to print code from core code for example from an evaluator?

Still thanks for the fast answer have a nice evening.

[2018-09-11 19:10] abitmore commented on #1316
Sorry I don't understand this question. What do you mean by saying "print code"? Do you mean logging like `ilog("some log")` or `idump((a_variable)(some_expression))`?

[2018-09-11 19:17] Dimfred commented on #1316
ilog seems like the method I looked for. Maybe also idump.
I just want to print the value of variables. Or the message of an exception.
But I will try those. Thank you.

[2018-09-12 07:47] cwyyprog commented on #1296
No, the issue is not fixed. I checked out the master branch and add this PR on my local repository, and another issue happened, this issue disappears, so I closed this issue, moved to the other issue. To answer @abitmore 's question, I tried to compile the bitshares-fc  library separately with this PR, and it turned out the issue remains unfixed:
[code]

[2018-09-12 08:02] cwyyprog opened #1320 "Cmake configure error on Visual Stuido 2013"
The master branch could not compile on Visual Studio 2013.
The cmake configure can not complelte.
**Build Error Description**
cmake console output:
[code]
 `CMakeFiles/CMakeOutput.log`
[code]
cmake error log:
[code]

**Build Environment**
 - Host OS:             windows 7 64 bit
 - Host Physical RAM    32gb
 - Source Branch/Tag:   master
 - OpenSSL Version:     OpenSSL 1.1.0i
 - Boost Version:

[2018-09-12 09:44] kapeer42 commented on #1317
I'm blind, thanks for the quick catch @abitmore, closing this. Sorry for any lost time.

[2018-09-12 09:44] #1317 closed

[2018-09-12 11:53] abitmore commented on #1320
It seems cmake failed to find `pthread.h`.

[2018-09-12 15:29] oxarbitrage commented on #1256
Had another one today, i know is the same but posting so we know how often is happening to me.

I tend to think that the most traffic the api node haves the more likely to happen but not totally sure. This is an api node used by open-explorer.io that kind of always crash when cryptofresh is down and the traffic moves to this explorer.

[code]

[2018-09-12 21:19] oxarbitrage commented on #1318
i think i can take care of this if you guys think i can have the skills needed. i will mention code styles briefly in bitfest presentation so i am researching a bit in the subject.

[2018-09-13 08:38] BennyTejadaMaglaya opened #1321 "How to add data in " "extensions": [ ] " field in a block"
Hello, this isn't an issue but rather a question. How do we add data in "extensions": [ ] field in a block, transaction, or operation. In addition, can we use this field to insert metadata in the blockchain?

[2018-09-13 13:55] RakyCoder opened #1322 "illogical Bitshares voting system"
The Bitshares  voting system is illogical

 How the top active witness get more than 740.000.000 votes ?
Let's calculate the sign-in process as a witness
Suppose you get an election every hour you need 80,000 years to achieve the first rank and get 700.000.000 vote  (740000000/24/365 =which is currently worth 7 billion votes I do not know how witnesses arrived to achieve this in still  two or thre

[2018-09-13 14:45] abitmore commented on #1321
Adding data to `extensions` requires consensus upgrade (hard fork). Check this for an example: https://github.com/bitshares/bitshares-core/pull/838/files#diff-0c9e71b81ba043c64d9fc009e7054a6cR130

If you want to post arbitrary data to the blockchain, you can use `custom_operation`.

[2018-09-13 14:57] abitmore commented on #1322
Yes, you're wrong. Voting in BitShares is stake-based. That said, if some voters voted for a witness, the vote count is how much BTS the holders have.

[2018-09-13 14:57] #1322 closed

[2018-09-13 19:57] pmconrad commented on #1316
Closing since questions have been answered.
Generally, this is not a support forum. Please ask technical questions on bitsharestalk.org, telegram dev channel or similar.

[2018-09-13 19:57] #1316 closed

[2018-09-14 00:34] abitmore commented on #1209
@cifer-lee any update please?

[2018-09-14 00:39] abitmore commented on #1295
@oxarbitrage we need to decide whether we will fix this in 201810 release.

[2018-09-14 00:49] abitmore commented on #1303
https://travis-ci.org/bitshares/bitshares-core/builds/428368997
[code]

[2018-09-14 00:50] BennyTejadaMaglaya commented on #1321
This is exactly what we want to do. We want to attach additional data for every operation like transfer, account_create, account_update, etc...
Then we will also want to be able to extract those information via get_block, get_transaction, etc...

I've checked the custom_operation struct but I am unable to figure out how to integrate this with those operations I've mentioned. E.g. transfer transact

[2018-09-14 00:56] abitmore commented on #1321
My idea is to create transactions with more than one operation. E.G. for a transfer,
[code]

[2018-09-14 01:15] BennyTejadaMaglaya commented on #1321
Thank you! Great idea abitmore! however, my concern there is that, let's say we invoked an `account_create_operation` then immediately invoked a `transfer_operation`. Both operation may be contained in a single transaction, if we add a `custom_operation` for each operation, then there will be 4 operations in the transaction. What could be the way to know which `custom_operation` is for `account_cr

[2018-09-14 01:44] abitmore commented on #1321
1. please DO NOT transfer immediately after the account is created, because the account ID is not confirmed. Better wait until it's irreversible.

2. E.G. you have 2 transfers in one transaction. It's you that have decided the order of operations in the transaction, thus you should know which is for which.
[code]
Then in block and account history it's guaranteed that the order will be transfer1,ta

[2018-09-14 01:52] BennyTejadaMaglaya commented on #1321
Okay, that makes sense. So the order of operations is guaranteed, good to know that.

Thanks much! I think this is a possible good solution. :)

[2018-09-14 08:34] abitmore commented on #1270
I think it's better to modify the median calculation a bit.

Given:
[code]

Currently,
[code]

When MCR and MSSR are static, curve of median MCP and MSSR would be smooth, and result would be expected; when MCR or MSSR is dynamic, we may get unexpected result. I think the formula below is better:
[code]

For example, given this data set:
[code]
Result of current formula would be:
[code]
Result of t

[2018-09-14 13:06] pmconrad commented on #1270
I think it makes more sense to view SP, MCR and MSSR as independent values, and it is easier for market participants to think in terms of "I need 1.75 times collateral" and "on margin call I will lose 10%". With the new formula, behaviour would be much less predictable and consequently much more difficult to follow.

[2018-09-14 13:53] cogutvalera commented on #1303
@abitmore Thanks for logs !

[2018-09-14 14:11] cogutvalera commented on #985
@abitmore

1. Maybe I've missed something but let me ask: do you mean `logging.ini` instead of `config.ini` ? right ?
2. Can you paste here please a example copied from console log during `replay` that we need to log into file ?

Thanks !

[2018-09-14 14:42] abitmore commented on #1320
I'm using VS2015 update 1 and cmake-gui 3.9.4.
Related log:
[code]
Full log:
[code]

[2018-09-14 14:50] abitmore commented on #1320
@cwyyprog your cmake log is a bit different than mine.
* boost.context not found.
* No log about pthread. So likely it found pthread somehow? perhaps found in libcurl directories? I don't have libcurl check in cmake.

[2018-09-14 16:06] HarukaMa opened #1326 "Test case failed on chain_test"
**Instructions**
I've been testing building with Boost 1.67.0, and the compilation succeeded despite it is not supported, so I decided to run tests (`*_test`) to check for errors.

When running `chain_test`, I've met one error:

[code]

other tests except `es_test` (didn't have es installation locally) succeeded without errors.

Additional info:

[code]

**Impacts**
Describe which portion(s) of Bi

[2018-09-14 16:40] pmconrad commented on #1310
While you're at it, check and port https://github.com/steemit/steem/pull/2871

[2018-09-14 18:38] abitmore commented on #985
No matter config.ini or logging.ini (when this issue is created there was no logging.ini).

[2018-09-14 18:58] abitmore commented on #1326
The user doesn't have `en_US.UTF8` locale installed, while the test case is trying to use it. The failing test case is: https://github.com/bitshares/bitshares-core/blob/3e74426d301f098eb6306309b3dd80bb830a5c49/tests/tests/uia_tests.cpp#L505-L511

[2018-09-14 19:50] abitmore commented on #1303
[code]
The program then hang.

[2018-09-14 19:53] abitmore commented on #1303
[code]

[2018-09-14 19:56] abitmore commented on #1303
Fired in gdb, hang.
[code]

[2018-09-14 20:00] abitmore commented on #1303
Fired in gdb again, crashed.
[code]

[2018-09-14 21:15] abitmore commented on #149
I think we can close this now. Related PR #1024 #1325.

[2018-09-14 21:15] #149 closed

[2018-09-14 21:27] abitmore commented on #1326
Update: got same error in Windows.

[2018-09-14 21:32] abitmore commented on #1292
Fixed by #1305.

[2018-09-14 21:32] #1292 closed

[2018-09-15 07:27] abitmore commented on #899
We can backport from Yoyow: https://github.com/yoyow-org/yoyow-core/blob/v0.3.0-180626/libraries/chain/include/graphene/chain/protocol/account.hpp#L316-L385

[2018-09-15 08:04] abitmore commented on #1270
@pmconrad I disagree. MCR and MSSR are subjective parameters, while settlement price was objective before [BSIP42](https://github.com/bitshares/bsips/blob/master/bsip-0042.md). For objective data, it makes sense to get the median input; but for subjective data, IMHO it's better to get the input as a whole to achieve combined effects. Combining subjective input from different sources will likely le

[2018-09-15 14:38] cwyyprog commented on #1320
@abitmore thanks for your help.
After some search, it turns out this is a cmake issue.  More detail can be found at https://gitlab.kitware.com/cmake/cmake/issues/18126, and is fixed by #https://github.com/isanych/CMake/commit/2c7b30bf4de216d89b8d50f9d9ee89a4b330571a

[2018-09-15 14:44] cwyyprog commented on #1320
After patching findboost.cmake according to #https://github.com/isanych/CMake/commit/2c7b30bf4de216d89b8d50f9d9ee89a4b330571a, the compile contiued

[2018-09-15 15:59] Cobb-Chang opened #1328 "fail to make witness_node"
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions.
libraries/chain/CMakeFiles/graphene_chain.dir/build.make:62: recipe for target 'libraries/chain/CMakeFiles/graphene_chain.dir/database.cpp.o' failed
make[2]: *** [libraries/chain/CMakeFiles/graphene_chain.di

[2018-09-15 18:01] pmconrad commented on #899
Would it make sense to have both a whitelist and a blacklist? Not sure if a use-case for a blacklist exists.

We cannot use the existing allowed_assets field for this (it's checked in many more places than just transfers). And I wouldn't port the new operations from Yowyow but instead simply add another extension field to account_update.

[2018-09-15 18:57] abitmore commented on #899
If only to restrict incoming transfer, we can't use `allowed_assets` because it's a overkill and likely have other side effects E.G. you can't do outgoing transfer.

The Yoyow approach has its advantage because it accepts a delta (or two). If to put a new field in `account_update`, likely we need to have all accepted assets in the operation, which is inefficient and expensive when the list is gett

[2018-09-15 19:15] abitmore commented on #1320
@cwyyprog does it mean that we need to patch our code? Can you submit a PR? Thanks.

[2018-09-15 19:55] cogutvalera commented on #1303
These logs may help a lot !
Thanks !

[2018-09-15 23:05] arminnaderi commented on #1277
Don't think this issue can be fixed in a manner that doesn't cause side effect problems, closing

[2018-09-15 23:33] abitmore commented on #1277
It's still somewhat a bug. Although we're unable to fix it now, but perhaps can fix it in the future. So I'll keep this issue open.

[2018-09-16 00:58] cwyyprog commented on #1320
No, we need to patch the findboost.cmake  of cmake not our code. We can add a custom command into CmakeList.txt to provide a workaround.

[2018-09-16 03:41] abitmore commented on #1320
@cwyyprog we have a findboost.cmake file in our repository. Need to patch it or not?

[2018-09-16 09:02] cwyyprog commented on #1320
Not need.

At 2018-09-16 11:41:58, "Abit" <notifications@github.com> wrote:

@cwyyprog we have a findboost.cmake file in our repository. Need to patch it or not?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-09-16 09:49] #1320 closed

[2018-09-16 11:28] arminnaderi commented on #1277
What I meant is order fill events and order creation events are not the **only** two events that are pushed by `on_applied_block()` and `on_objects_changed()`. Some clients might actually have no preference in the order of these events. However, I agree that order fill events should probably come after order creation events, if its fixed it will affect all other events that are pushed by these met

[2018-09-16 16:58] Cobb-Chang opened #1330 "How to use function "get_market_history"?"
This is from the API doc:
get_market_history(string symbol, string symbol2, uint32_t bucket, fc::time_point_sec start, fc::time_point_sec end)

And while i used it, report error:
unlocked >>> get_market_history 1.3.0 1.3.4 4 2018-09-16T16:00:00 2018-09-16T20:00:00
get_market_history 1.3.0 1.3.4 4 2018-09-16T16:00:00 2018-09-16T20:00:00
13N5boost16exception_detail10clone_implINS0_19error_info_injec

[2018-09-17 04:07] Cobb-Chang opened #1331 "Failed to set TLS SNI hostname"
while i wanna use cli_wallet, it report error:
on windows system:

D:\File\work file\bitshare\BitShares-Core-2.0.180612-x64-cli-tools>cli_wallet --chain-id="90be01e82b981c8f201c9a78a3d31f655743b29ff3274727b1439b093d04aa23" -s wss://://shanghai.51nebula.com
Logging RPC to file: logs\rpc\rpc.log
363153ms th_a       main.cpp:136                  main                 ] key_to_wif( committee_private_ke

[2018-09-17 08:35] cogutvalera commented on #985
PR is ready just for bitshares-fc repo

[2018-09-17 14:41] abitmore commented on #1331
Your URI `wss://://shanghai.51nebula.com` is wrong.

Try `>cli_wallet --chain-id="90be01e82b981c8f201c9a78a3d31f655743b29ff3274727b1439b093d04aa23" -s wss://shanghai.51nebula.com`

[2018-09-17 14:41] #1331 closed

[2018-09-17 14:43] abitmore commented on #1331
In addition, you may encounter the issue described here: https://github.com/bitshares/bitshares-core/issues/314, the solution is https://github.com/bitshares/bitshares-core/issues/314#issuecomment-336668978.

[2018-09-17 16:07] Cobb-Chang commented on #1331
Sorry for my mistake. but it still error
D:\File\work file\bitshare\BitShares-Core-2.0.180823-Windows-x64-cli-tools>cli_wallet --chain-id="90be01e82b981c8f201c9a78a3d31f655743b29ff3274727b1439b093d04aa23" -s wss://shanghai.51nebula.com
Logging RPC to file: logs\rpc\rpc.log
424911ms th_a       main.cpp:143                  main                 ] key_to_wif( committee_private_key ): 5KCBDTcyDqzsqehc

[2018-09-17 16:09] Cobb-Chang commented on #1331
I use the same command in ubuntu is ok.
but while use it in windows system(cli_wallet.exe). it is error.

[2018-09-17 16:10] abitmore opened #1333 "Only update max size of undo_db and fork_db after successfully pushed a block"
**Bug Description**
There is a corner case that would cause chain reorganization to fail.

`update_global_dynamic_data()` is called in the middle of `_apply_block()`:
https://github.com/bitshares/bitshares-core/blob/0508438fe9b06eb4bac5912854cd959605de827b/libraries/chain/db_block.cpp#L575

Max size of both fork db and undo db is updated inside `update_global_dynamic_data()`:
https://github.com/bi

[2018-09-17 16:18] Cobb-Chang commented on #1331
`

Its OK now. thank you!!!!

[2018-09-18 02:02] abitmore commented on #1333
Related: https://github.com/steemit/steem/issues/2911 (different scenario).

[2018-09-18 03:15] Cobb-Chang opened #1334 "CURL report error, cannot get data.(only on windows system)"
On ubuntu system, this is OK. but in windows system, the same command will report error.
i have tried to change the RPC port or the IP from cli_wallet, still not work.

D:\File\work file\bitshare\BitShares-Core-2.0.180823-Windows-x64-cli-tools>curl -d '{"jsonrpc":"2.0","method":"get_market_history","params":["1.3.0" "1.3.2" 3600 "2018-09-16T20:00:00" "2018-09-17T09:00:00"],"id":1}' http://127.0.0.

[2018-09-18 07:12] abitmore commented on #831
There is a scenario described in https://github.com/steemit/steem/issues/2911. When there is a long reversible fork, node performance got heavily hit when tries to push another fork which is even longer.

[2018-09-18 13:34] abitmore commented on #1334
Try `curl -d '{"jsonrpc":"2.0","method":"get_market_history","params":["1.3.0", "1.3.2", 3600, "2018-09-16T20:00:00", "2018-09-17T09:00:00"],"id":1}' http://127.0.0.1:8091`

[2018-09-18 13:34] #1334 closed

[2018-09-18 13:36] abitmore commented on #1334
Oh, wait, Windows? Try this:
[code]

[2018-09-18 13:54] Cobb-Chang commented on #1334
Thanks a lot. its OK now

[2018-09-18 21:51] abitmore commented on #899
Here is how to understand a delta: when a user has a white-list containing 100 assets already, if he wants to allow one more asset, an operation with a delta would be like "account A adds asset X101 to the white-list", the whole operation would be small because only need to specify one asset; if without delta, the operation would be "account A update the white-list to [X1,X2,...,X101]", that said,

[2018-09-19 00:58] ThomasFreedman commented on #899
Ahhh, I see now. That makes perfect sense wrt API.

[2018-09-19 07:39] cogutvalera commented on #1289
PR is ready #1335

Thanks !

[2018-09-19 16:00] pmconrad commented on #985
IMO the FC change is not sufficient to fix this ticket. There's a lot of stuff "logged" via cout/cerr (for some of it that's ok though).

[2018-09-19 16:08] cogutvalera commented on #985
Do not we have to create another new issue to avoid all stuff "logged" via cout/cerr ? So that we will have all stuff logged in the same manner according logging configuration. Or we don't need it ?

[2018-09-19 16:16] abitmore commented on #1333
Steem PR: https://github.com/steemit/steem/pull/2914 (also contains other changes, may or may not apply to BitShares).

[2018-09-19 16:19] pmconrad commented on #985
I always understood this ticket to be about cout/cerr. Didn't even know there was a problem with file_appender. :-)

[2018-09-21 08:35] pmconrad commented on #1333
Moving the checkpointing code to push_block means checkpoints are ignored during most of replay. I don't think we should do this.

[2018-09-21 08:36] OpenLedgerApp commented on #1182
@Zapata Thanks a lot for evaluation of our work!
@oxarbitrage your idea is good and challenging for the economic part. You are right we have decided to develop the required functionality without reinventing the wheel. Ethereum VM already handles all necessary calculations. Our economics is simple:
Payment Contract Call Fees = Contract Operation Fee + Gas*Gas Price.
Contract Operation Fee is a paym

[2018-09-21 08:38] pmconrad commented on #985
I would like to see the replay percentage in the logs.

[2018-09-21 09:55] cogutvalera commented on #985
For this we need to change in `database::reindex` log instruction with `std::cerr` to call `ilog`

[2018-09-21 12:37] cogutvalera commented on #985
it must be done in #1289 issue, I will commit it there

[2018-09-21 14:56] cogutvalera commented on #985
is done in PR #1335 by next commit https://github.com/bitshares/bitshares-core/pull/1335/commits/83a66c8f21b5801572eabc91a7ea480bc33cc524

[2018-09-21 16:14] abitmore commented on #1333
Just FYI my patch for Steem didn't move the checkpointing code, instead, I added one in `push_block`. It brought better performance when syncing. https://github.com/abitmore/steem/commits/20180917-fix1

[2018-09-24 06:17] abitmore commented on #278
Let's get this done in next consensus-upgrade release. Need a BSIP?

[2018-09-24 16:23] cogutvalera opened #1338 "Error Handling in C++ or: Why We Should Use Eithers in Favor of Exceptions and Error-codes"
This issue was born after #946 issue where we have to check if there was caught exception or not by `std::current_exception()` method.

[code]

1. https://hackernoon.com/error-handling-in-c-or-why-you-should-use-eithers-in-favor-of-exceptions-and-error-codes-f0640912eb45
2. https://github.com/LoopPerfect/neither (C++ Either implementation)

[2018-09-24 16:46] pmconrad commented on #278
At BitFest I was talking with @oxarbitrage about how to automate certain things at the blockchain level, and came up with a use-case that would be destroyed by the proposed change. I think we should keep the current behaviour.

Use-case: Alice wants to automatically transfer a CAKE token to Bob at a specific point in the future (for example as a birthday present).
1. Alice creates "cron" account
2

[2018-09-24 16:55] pmconrad commented on #1338
Funny enough, the need to explicitly handle exceptions in Java is seen as a disadvantage by many.
Some newer languages that are compiled to Java bytecode have gotten rid of checked exceptions entirely, and Java frameworks often use an exception hierarchy that is based on unchecked exceptions as well.
https://programming.guide/java/checked-exceptions-good-or-bad.html

[2018-09-24 17:48] cogutvalera commented on #1338
@pmconrad I didn't tell that Java Error Handling approach is better than C++
I just told that `try/catch/throw` approach has disadvantages like:
1. performance overhead
2. exceptions aren't supported by all platforms
3. the biggest drawback is that handling exceptions is not enforced by the type-system

I just wanted to tell that catching a C++ exception is optional while catching a Java exception

[2018-09-24 18:15] cogutvalera commented on #1338
**"A proposal to add a utility class to represent expected monad in C++"** pdf file about proposal for new `Expected` feature similar to `Either`
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2014/n4109.pdf

[2018-09-24 20:10] cogutvalera commented on #1338
IMHO we should divide this "gigantic" issue to many smaller sub-issues

[2018-09-24 20:38] cogutvalera commented on #1338
@pmconrad Thanks ! Just trying to figure out the best approach for error handling mechanism. Let's discuss for sure all advantages and disadvantages, maybe we don't need it.

[2018-09-24 20:57] abitmore commented on #278
@pmconrad I don't think it's a good use case, it's made too complicated. If you want a proposal to be executed only on expiration, you can simply set a review period.

[2018-09-25 08:43] cogutvalera commented on #1182
Have the same feelings like @sschiessl-bcp has about Ethereum VM, it is buggy and has big disadvantages also as discussed here https://bitcoin.stackexchange.com/questions/40389/what-advantages-and-disadvantages-does-ethereum-have-over-bitcoin/40735

[2018-09-25 13:38] pmconrad commented on #278
That's not my point. I think the proposal would cripple current functionality, and I don't see the need.

It's not a bug, so a BSIP is required in any case.

[2018-09-25 18:52] jmjatlanta commented on #1304
@ryanRfox I believe this will fix some things and cause problems for others (i.e. abit's comment above). Documenting this is a great idea.

[2018-09-25 21:41] ryanRfox commented on #1298
@pmconrad Did you post your 100k benchmark demo from your BitFest talk? Perhaps that will assist @sachushaji

[2018-09-25 23:40] abitmore commented on #278
@pmconrad the reason I think we need this is IMHO it can fix the multiple proposal_update issue.

[2018-09-26 12:38] pmconrad commented on #1298
See #1337

[2018-09-26 14:08] ryanRfox opened #1339 "Hardware Wallet Support (General)"
**User Story**
As a `user` I want `hardware wallet support` to store my private key(s) offline so that I may `sign a serialized transaction and submit it to the network`.

This is an Epic used to link to User Stories for specific implementations of various hardware wallet products.

**Related User Stories (Core)**
- [ ] Ledger Nano S Hardware Wallet Support
- [ ] Ledger Nano Blue Hardware Wallet S

[2018-09-26 14:08] ryanRfox opened #1340 "Ledger Nano S Hardware Wallet Support"
**User Story**
As a `Ledger Nano S user` I want an implementation to `support BitShares accounts` so that I may `safely store my private keys, sign transactions and submit them to the network`.

**Additional Context**
- [ ] Hardware Wallet Support (General)
- [ ] DasCoin Implementation

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [

[2018-09-26 14:08] ryanRfox opened #1341 "Ledger Nano Blue Hardware Wallet Support"
**User Story**
As a `Ledger Nano Blue user` I want an implementation to `support BitShares accounts` so that I may `safely store my private keys, sign transactions and submit them to the network`.

**Additional Context**
- [ ] Hardware Wallet Support (General)

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [ ] Define Test Cases
- [ ]

[2018-09-26 14:08] ryanRfox opened #1342 "Trezor One Hardware Wallet Support"
**User Story**
As a `Trezor One user` I want an implementation to `support BitShares accounts` so that I may `safely store my private keys, sign transactions and submit them to the network`.

**Additional Context**
- [ ] Hardware Wallet Support (General)
- [ ] [Deterministic key hierarchy for Graphene-based networks](https://github.com/satoshilabs/slips/blob/master/slip-0048.md)
- [ ] [Registered

[2018-09-26 14:08] ryanRfox opened #1343 "Trezor Model T Hardware Wallet Support"
**User Story**
As a `Trezor Model T user` I want an implementation to `support BitShares accounts` so that I may `safely store my private keys, sign transactions and submit them to the network`.

**Additional Context**
- [ ] Hardware Wallet Support (General)
- [ ] [Deterministic key hierarchy for Graphene-based networks](https://github.com/satoshilabs/slips/blob/master/slip-0048.md)
- [ ] [Registe

[2018-09-27 08:54] clockworkgr commented on #1144
Actually it seems EOS has not implemented BFT either (!!!).

Current version is not using BFT consensus: https://github.com/EOSIO/eos/issues/4965#issuecomment-410049124

and the relevant development issue has been blocked since April(??): https://github.com/EOSIO/eos/issues/2192

[2018-09-27 20:14] oxarbitrage commented on #1300
Smartcoin is generally used to name assets fed by the witnesses or the committee members but the bitshares-core code does not use the term smartcoin at all.

only mentioned on a relative new test case file about this kind of MPAs: https://github.com/bitshares/bitshares-core/blob/master/tests/tests/smartcoin_tests.cpp

closing this one but feel free to reopen.

[2018-09-27 20:14] #1300 closed

[2018-09-27 20:43] oxarbitrage commented on #1288
There is a discussion about apidocs here https://github.com/bitshares/bitshares-core/issues/792

It is true that doxygen is limited in regards to generate documentation for the api. One of the options was to add apidocs, swagger or similar but this will result with duplicated descriptions in the cpp files leading to a messy scenario.

Another option is to define the docs in a separated file, like

[2018-09-27 23:55] jmjatlanta commented on #1326
I may be jumping in the middle here, but it is my understanding that this is testing to see if the isalpha function works as expected in various locales (new "non-C" way vs the classic "C" way).

What I do not understand is why are we testing a standard library function? Is there a belief that the standard will change? Or perhaps that some platforms will not implement it correctly?

Perhaps this t

[2018-09-28 15:54] OpenLedgerApp commented on #1182
@sschiessl-bcp, @cogutvalera
Steem:
We have evaluated Steem - there is no any mechanism for on-chain scripts execution. Steem is uniquely designed for their specific business.
EOS:
EOS claims that it could support different VM versions including the Ethereum EVM. There are two options for a virtual machine mentioned in the technical whitepaper:
Web Assembly VM – it could enable smart contract deve

[2018-09-28 20:12] ryanRfox opened #1348 "BitShares Network Map"
**User Story**
As an `interested party` I want to view a website displaying `all seed nodes and public API server nodes on a world map based on IP` that comprise the BitShares network so that I may `visualization the node distribution and node type`.

The required node data must include nodes listed here:
- Seed nodes: [CORE: /libraries/app/application.cpp](https://github.com/bitshares/bitshares-c

[2018-09-28 20:45] ryanRfox commented on #1348
@wackou developed [BTS_TOOLS](https://github.com/wackou/bts_tools/) which includes a Python implementation with some static [seed node data](https://github.com/wackou/bts_tools/blob/master/bts_tools/seednodes.py) and a related [website](http://status.bitsharesnodes.com/). Clicking the `Maps` tab provides a visualization example.

[2018-09-28 20:57] jmjatlanta commented on #1186
I realize this is low priority, but please include a hint as to what is left to be done. From my testing, the catch is never called, although the log shows some errors. Are you suggesting that we need to get rid of the idump and verify that an exception is thrown at the right time?

[2018-09-28 21:00] oxarbitrage commented on #1301
i am not an expert in this subject but i think @botanegg is right here so i created https://github.com/bitshares/bitshares-core/pull/1349 to change the comment.

[2018-09-28 21:01] oxarbitrage commented on #1301
other option can be to remove it fully but for ilustration purposes even as @pmconrad said this is not fully accurate i think we should keep.

[2018-09-28 21:08] ryanRfox opened #1350 "Network Value to Transactions Ratio Data Collection and Visualization"
**User Story**
As an `interested party` I want to collect and display daily active use and the value of operations within the BitShares Platform` so that I may `make proper comparisons to other industry entities`.

**Impacts**
- [X] Other: External perception

**Additional Context**
Reference Material:
[Network Value to Transactions Ratio](https://coinmetrics.io/nvt)

BitShares currently implement

[2018-09-28 21:31] jmjatlanta commented on #1184
May be able to cull ideas from http://code-of-merit.org

I can't say I am behind all of what it says, just a resource.

Hat Tip: @xeroc

[2018-09-28 22:12] oxarbitrage commented on #1192
this was closed by https://github.com/bitshares/bitshares-core/pull/1243

[2018-09-28 22:12] #1192 closed

[2018-09-28 22:22] #1031 closed, assigned to nobody

[2018-09-28 22:40] oxarbitrage commented on #953
with this https://github.com/bitshares/bitshares-core/issues/1031 done we can drive our attention here.

[2018-09-28 23:44] Zapata commented on #1350
Those information could be visualized in Kibana:
 - [Amount of BTS transfered every day](http://95.216.32.252:8001/goto/f6843d11f3f95ff7e361f7454f513c43) (and [monthly](http://95.216.32.252:8001/goto/1b5fcc3bc1a2fe08577c7435d3a478c0))

 - [Unique users using each operation daily](http://95.216.32.252:8001/goto/e17c51ee27e6fe02b810e76380a29dd2) (and [montlhy](http://95.216.32.252:8001/goto/3064b0b0

[2018-09-29 09:12] abitmore commented on #1350
I think this is more a feature request for https://github.com/bitshares/bitshares.org repository.

[2018-09-29 11:36] oxarbitrage commented on #1350
I think it can be a good idea if we make some of this data available at https://github.com/oxarbitrage/bitshares-explorer-api and then bitshares.org, open-explorer and others can have it.

[2018-09-29 12:01] pmconrad commented on #1348
Will add the network_mapper tool I'm using for my DNS seed.

[2018-09-29 12:07] pmconrad commented on #1079
Currently applying some optimizations I've discovered during the research for my BitFest presentation.
Also working on off-loading crypto stuff into separate threads.

[2018-09-29 12:41] oxarbitrage commented on #1301
closed by https://github.com/bitshares/bitshares-core/pull/1349

[2018-09-29 12:41] #1301 closed

[2018-09-29 14:46] oxarbitrage commented on #961
The elasticsearch wrapper and the udf wrapper had been merged into https://github.com/oxarbitrage/bitshares-explorer-api

We can close this one and follow the merge at https://github.com/bitshares/bitshares-core/issues/962

[2018-09-29 14:46] #961 closed

[2018-09-29 14:52] oxarbitrage commented on #959
should be done after https://github.com/bitshares/bitshares-core/issues/962

[2018-09-30 14:28] oxarbitrage commented on #1295
I was thinking on pros and cons about adding this feature and decided to add it by the following:

pros:
- will allow better kibana visualizations.
- will allow to get better results with 1 single ES query.
- adding additional data in new fields will not break current applications.

In regards to current applications, ES plugin is currently being used by more third parties than i was expecting inc

[2018-09-30 23:18] jmjatlanta commented on #1184
Another interesting source for ideas. Before his death, the maintainer of ZeroMQ wrote this:

https://rfc.zeromq.org/spec:22/C4/

Again, I do not agree with everything there. But it is a source for ideas.

[2018-10-01 07:27] clockworkgr commented on #1184
After reading through CoC and its background, I'm not happy about it.

It seems the people behind it are very anti-meritocracy and I don't like it. (see: https://postmeritocracy.org/)

Although I agree with parts of the CoC in principle , I would personally prefer if we weren't associated with any kind of anti-meritocracy community which sounds like political correctness gone mad.

[2018-10-01 07:33] cogutvalera commented on #1184
IMHO we need some kind of **"Code of Ethics"** not only for developers it can be applied but for everybody, for all users, for traders, and so on ...

https://www.investopedia.com/exam-guide/cfa-level-1/ethics-standards/code-ethics.asp

[2018-10-01 08:44] BennyTejadaMaglaya opened #1353 "Private node won't sync with each other"
Hello!

We have a situation wherein we are configuring a private net with 2 bitshares node (slightly customized on the exchange part i.e. db_market.cpp). We want the 2 nodes to sync with each other but operate independently from the public Bitshares blockchain. We ran the 1st node independently (disabling its seed-nodes), then we ran the 2nd node with seed-node pointing to the 1st node. We expect

[2018-10-01 08:46] clockworkgr commented on #1353
http://dev.bitshares.works/en/master/development/testnets/private_testnet.html#private-testnet-guide

These should be the up to date instructions for running a private net

[2018-10-01 09:05] abitmore commented on #1353
* Make sure the 2 nodes are running same code.
* Make sure the 2 nodes are using same `genesis.json` file.
* Make sure the 2 nodes can connect to each other physically via `TCP/IP`, and are configured to connect to each other (try `telnet IP PORT`, check `default.log`).
* Make sure only one node is producing blocks and the other is only syncing, if you don't know how distributed block production w

[2018-10-01 09:05] #1353 closed

[2018-10-01 09:39] cogutvalera opened #1354 "Outdated or not correct code/comments/docs must be changed/improved/removed"
This issue is global and will contain many different sub-issues related to outdated code/comments/docs in current BitShares Core project. Feel free to add sub-issues here if you find some old and not correct code/comments/docs.

Thanks !

[2018-10-01 12:01] jmjatlanta commented on #1338
< soapbox >

Exceptions change command flow when the unexpected happens. They were designed to be used when something happens that is NOT expected. When used correctly, they allow the code above to handle the problem, or defer to code even higher.

Having a client send a transaction that is invalid is an expected behavior. Having a peer attempt to push a bad block is an expected behavior (unfortun

[2018-10-01 12:15] cogutvalera commented on #1338
@pmconrad @jmjatlanta Thank you guys for sharing your vision/view/opinion, really appreciate it ! Hope to also others ideas/views/opinions/visions related to this issue. Thanks a lot !

[2018-10-01 12:27] pmconrad commented on #1184
A lot of good stuff, but more about the technical process and less about conduct.

Agree in principle, however, this is not quite the typical community project. Since the core team is acting in its role as "employees" of the blockchain, merit does not play a significant role here.

That's about financial stuff, only applicable here in a *very* broad sense.

[2018-10-01 12:50] clockworkgr commented on #1184
I'd agree if the team was "fixed" but since the team/repo accepts and interacts with 3rd party contributors , merit plays (or at least should play) a significant role in assigning tasks/bounties.

[2018-10-01 12:58] oxarbitrage commented on #1354
I think this is too big and never closing issue. i prefer to have smaller specific issues that we can close at some point.

An approach can be to fix comments/docs as we find them. In general comments are related to the code around them. Someone working there will see the wrong comment and just fix it as part of his work of by opening a new issue/pull request.

[2018-10-01 13:01] clockworkgr commented on #1354
Although I agree with alfredo, there should be a way to document what comments have been updated or checked for validity. Perhaps by adding a sort of tag/timestamp to them.

[2018-10-01 13:04] cogutvalera commented on #1354
Thanks guys ! Agree with you ! Close this big issue now which will be never closed :)

[2018-10-01 13:04] #1354 closed

[2018-10-01 13:15] pmconrad commented on #985
Merged https://github.com/bitshares/bitshares-fc/pull/76, please bump fc.
There are a few uses of ``std::cerr`` in application.cpp and in witness plugin that might be better placed in a logfile, please check.

[2018-10-01 13:29] pmconrad commented on #1184
Hm, then we disagree. :-)
Merit should play only a very small role in assigning tasks (contributor should have demonstrated competence before being assigned complicated tasks), and no role in paying bounties (result counts).

[2018-10-01 14:56] clockworkgr commented on #1184
Language barrier...
a) I don't mean merit plays a role in payment. I meant bounties as in tasks offered to the community (not their effort estimate)
b) What you say is exactly what I mean by merit. (merit: the quality of being particularly good or worthy ...so competence)

The people behind the CoC are proponents of quality of code and intelligence  not being as important as communication/interper

[2018-10-01 15:44] cogutvalera commented on #985
@pmconrad `fc` bumped

[2018-10-01 16:18] oxarbitrage commented on #1354
it is similar to https://github.com/bitshares/bitshares-core/issues/29

haves years there that is why i think is not a very good idea unless we really follow it.

[2018-10-01 16:34] pmconrad commented on #1269
Resolved through #1352

[2018-10-01 16:34] #1269 closed

[2018-10-01 17:08] cogutvalera commented on #1269
Thanks !

[2018-10-01 20:37] clockworkgr commented on #1184
For reference: https://linustechtips.com/main/topic/974038-why-the-linux-coc-is-bad/

[2018-10-02 16:59] pmconrad commented on #1289
Resolved in #1335

[2018-10-02 16:59] #1289 closed

[2018-10-03 05:50] cogutvalera commented on #985
we can close this issue because both PRs https://github.com/bitshares/bitshares-core/pull/1355 / https://github.com/bitshares/bitshares-fc/pull/76 are merged already

[2018-10-03 05:53] cogutvalera commented on #985
Thanks !

[2018-10-03 06:33] pmconrad commented on #985
Yep. Thanks for the reminder.

[2018-10-03 06:33] #985 closed

[2018-10-03 06:35] cogutvalera commented on #985
Thank you !

[2018-10-03 07:01] botanegg commented on #1301
LOL, nice :)
thx :+1:

[2018-10-03 13:44] crypto-ape opened #1357 "Discussion: Use plaintext TCP connection instead of STCP"
I would like to start a discussion about the need for secure connections.

We are using a custom 'Secure sockets (STCP socket class)' implementation that performs EC Diffie–Hellman key exchange and sets up an AES-encrypted stream between two peers using the shared secret.

If I am not missing anything, this approach does nothing but hides the traffic between the two peers.
This seems to me like so

[2018-10-03 14:52] clockworkgr commented on #1357
@dnotestein you're probably the best person to add some insight on this

[2018-10-03 15:14] jmjatlanta commented on #1357
We're crypto people we should not be removing crypto, we should be adding more More MORE! :-D

There have been "light" discussions about optimizations that could take place if peers in the p2p layer were authenticated. Off-loading the encrypt/decrypt to a separate thread has also been talked about recently ( note @pmconrad's presentation at Bitfest about performance spoke of it as an idea ). From

[2018-10-03 15:31] jmjatlanta commented on #1339
Where in bitshares-core would you see the hardware wallets fitting in?

The obvious one is the cli_wallet. But is there something that core could do to help the UI folks? I thought key storage and use was more a UI function than a core function.

Would you also expect to see that used for witness keys? I do not know how that would work.

[2018-10-03 15:41] pmconrad commented on #1357
This!

One thing the P2P encryption is good for that it makes traffic analysis harder for an opponent who is listening to the network. Traffic analysis could help identify block signing nodes for example.

Peers don't currently authenticate because we don't have a secure means for sharing keys, but they could.

[2018-10-03 21:07] oxarbitrage commented on #1339
In current core team worker proposal there are mentions of hardware wallet support IIRC. I suppose this and the related issues will allow to keep track of progress and allow funding from core worker even if the development is not a fully core thing.
My 2 cents, @ryanRfox should be able to confirm this.

[2018-10-03 21:43] oxarbitrage commented on #1295
closed by https://github.com/bitshares/bitshares-core/pull/1351

[2018-10-03 21:43] #1295 closed

[2018-10-03 21:52] Zapata commented on #1295
Could you put an example of the new output for reference?

[2018-10-04 14:37] ryanRfox commented on #1339
@oxarbitrage is correct: I am trying to add Issues for development based on the original WP Development Initiatives. I agree with both @jmjatlanta and @abitmore that hardware wallet support (and others recently added) may not require any modifications to the `bitshares-core` repo. My intention for adding these within this repo it gain some visibility for the community to see what we intend to work

[2018-10-04 16:33] ryanRfox commented on #1357
Thank you @crypto-ape for raising this topic. The P2P layer is too often overlooked. It is the basis for which trust in the protocol and the transactions traversing the network are established.

I feel the BitShares P2P code should be reviewed and explored for potential optimizations, including security, efficiency an node operation. My understanding of the current BitShares P2P implementation usi

[2018-10-05 11:54] grctest commented on #73
Update: [BSIP 22 proposes expiring votes](https://github.com/bitshares/bsips/blob/master/bsip-0022.md) ([Bitsharestalk thread](https://bitsharestalk.org/index.php?topic=27198.0))

[2018-10-05 13:29] pmconrad commented on #1184
Article (in german): https://www.heise.de/ix/meldung/Code-of-Conduct-fuer-Linux-Mit-Buerokratie-zum-Duckmaeusertum-4176439.html
tl;dr: CoC aims for political control and is used as a means to silence different opinions

[2018-10-05 13:36] clockworkgr commented on #1184
@pmconrad that's been my impression too

Disclaimer.: I do wanna see a code of conduct...just not that one

[2018-10-05 19:26] cogutvalera opened #1361 "Wallet API documentation"
See wallet.hpp, `get_market_history`, `get_limit_orders`, `get_call_orders`, `get_settle_orders` and some other API's don't have in-code documentation, we need to complete them, like `list_accounts`.

also next methods don't have in-code documentation:
[code]

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize Feature Request
- [ ] Refine User Stories / Requirements
- [ ] Define Test Cases
- [ ] D

[2018-10-05 19:32] cogutvalera commented on #1361
a lot of methods in wallet.hpp have just 1 single line of in-code documentation without describing params, result and other useful information

[2018-10-05 19:43] cogutvalera commented on #950
IMHO we should separate Wallet API into next different logical parts, perhaps like:

1. graphene::wallet::commands_api
2. graphene::wallet::account_api
3. graphene::wallet::asset_api
4. graphene::wallet::transaction_api
5. graphene::wallet::history_api
6. graphene::wallet::crypto_api
7. graphene::wallet::network_api

Each logical part should be implemented in separated file.

@ryanRfox I want to c

[2018-10-06 10:54] cogutvalera commented on #780
Done by #1174
We can close this issue.

[2018-10-06 11:13] #780 closed

[2018-10-06 11:14] cogutvalera commented on #780
Thanks !

[2018-10-07 16:40] oxarbitrage commented on #950
The wallet.cpp file haves functions that are internal, member functions of the implementation and also wallet_api.

Separating `wallet_api_impl` and `wallet_api` in different files will reduce files size.

If we want to do categories i think they can be a bit different as the wallet is different than the api. Maybe a `governance` category can include witness, committee_member and worker stuff, `wa

[2018-10-07 19:13] cogutvalera commented on #950
@oxarbitrage Thank you !

Currently `wallet.cpp` file has 4645 lines of code + comments (in `develop` branch).
So IMHO separating by 2 files isn't better than separating by different logical parts or categorize them as you suggest. My solution requires minor changes just to separate different logical parts in different files like for example `database.cpp` implementation.

@oxarbitrage your idea i

[2018-10-08 13:50] crypto-ape commented on #1357
First of all,
thank you guys for your reactions.

I have identified some shared themes among your replies, let me go through them:

**Premium nodes / Trusted nodes**

Don't see how encrypted AES channel would help here.
The data is public, the network is public.
If anything, you would like to put trust into an entity (which would be able sign the data).

Talking about premium nodes. You would want

[2018-10-08 15:17] pmconrad commented on #1357
http://dev.bitshares.works/en/master/references/info_bts_events.html

Suppose an adversary can monitor all network traffic. Obviously he can determine which node was the first to announce a given block, and consequently that node must be the one running the witness who signed that block.

I'm not claiming that P2P encryption provides perfect protection against this, but it makes this much harder.

[2018-10-08 20:39] abitmore commented on #1314
Fixed by #1332.

[2018-10-08 20:48] cogutvalera commented on #1314
Thanks !

[2018-10-09 07:09] sschiessl-bcp commented on #1182
Hm, I see. I guess I don't have a strict personal preference for the used VM, I leave that discussion to others.

Is an implementation possible that does not require a separate GAS, but uses existing fee schedule?

Furthermore, have you already tried porting existing scripts? What are the normal use cases of such scripts? Are typically all consensus changing operations reflected with one of the Bi

[2018-10-09 11:15] abitmore commented on #1357
Your argument about MITM is correct in principle, but an attacker would have to place a MITM between all node connections, which is much more difficult to pull off than "only" snooping on the network.

I agree with this.

Actually I think it should not be too hard to get rid of the MITM factor by modifying the protocol, for example, require every default seed node (a node in the default peer list)

[2018-10-09 16:15] pmconrad commented on #1357
Stop setting up straw men. Nobody said we were going to add a reliable authentication scheme. Nobody said we're trying to keep pace with AI traffic analysis techniques. In fact the P2P layer hasn't really changed since the beginning. Nobody said we're going to add "more bloat".

Why are you so eager to have the STCP layer removed? The reasons given in the OP have already been refuted. I have not s

[2018-10-09 19:18] knaperek commented on #1357
Hey, hold on with the emotions. I'm not setting up anything, I'm trying to hold a rational discussion. In fact I was referring to comments posted above, including yours just above my comment :-) Now your words  seem contradictory to me:

You are right that SCTP has been there from the very beginning, I know that. I just don't see the reason for it. So quite naturally I'm trying to open up a discus

[2018-10-09 22:10] abitmore commented on #1298
Fixed by #1337.

[2018-10-09 22:10] #1298 closed

[2018-10-09 23:28] oxarbitrage commented on #953
added link to dev portal at wiki https://github.com/bitshares/bitshares-core/wiki front page.

"New and updated developer information can be found at Bitshares Developer Portal"

[2018-10-10 15:28] cogutvalera commented on #1314
Sure. Thanks

[2018-10-10 15:39] pmconrad commented on #1326
Resolved via #1346

[2018-10-10 15:39] #1326 closed

[2018-10-10 15:41] pmconrad commented on #1079
Moving to december release since only partially resolved at this time.

[2018-10-10 17:12] cogutvalera commented on #1314
PR https://github.com/bitshares/bitshares-core/pull/1364

[2018-10-10 19:41] OpenLedgerApp commented on #1182
@sschiessl-bcp
1) Gas is the name for the execution fee that senders of transactions need to pay for every operation made on a blockchain.  Gas Price is an amount of fee, that must be paid for 1 Gas. It was introduced as the separate thing since if we take the existing fee schedule, it can be an issue with BTS fees precision. GAS is a small number – it will be not enough 5 digits in the precision

[2018-10-11 10:34] clockworkgr opened #1365 "Check wiki for older ideas whose time may have come :)"
This came up on bitshares DEX telegram group from a community member

This reminded me that account namespacing had been suggested in the past and goign through the WIKI to find the reference, I saw there is a wealth of interesting tidbits here and there worth evaluating/looking into again.

Account namespacing is discussed by @theoreticalbts under Namespacing here:
https://github.com/bitshares/bi

[2018-10-11 12:35] pmconrad commented on #1365
Good ticket, had a similar thought yesterday when I ran across this page: https://github.com/bitshares/bitshares-core/wiki/theoretical-theories

As to the account creation question - looking up existing account names would probably be helpful if they let their users select account names. In case though, they *must* fire off the create user transaction and wait until it is past the last irreversibl

[2018-10-11 15:58] ryanRfox commented on #1365
Good topic @clockworkgr. Yes, will have a look thru the Wiki to pull out interesting topics and create Issues (or find old ones and revive the discussion).

[2018-10-12 06:51] pmconrad opened #1366 "database_api::verify_account_authority is broken"
**Bug Description**
According to the description, the API call verifies that a given set of public keys is sufficient to authorize a transaction for a given account.

The implementation creates a transfer transaction from that account and verifies it. Since it is completely ignoring the keys, this will always fail.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bu

[2018-10-12 07:07] cogutvalera commented on #1366
@pmconrad nice catch !

Several months ago I wanted to use this API method while had troubles with signing transaction in C#.
This method is very helpful for debugging purposes. I disagree that we should remove it, I think we should fix it, IMHO it is very helpful for developers. Just my thoughts.

Thanks !

[2018-10-12 11:51] pmconrad commented on #1366
Agree that it might be useful for debugging. Probably not for regular clients.

[2018-10-12 13:07] #1314 closed

[2018-10-12 14:29] cogutvalera commented on #1314
Thanks !

[2018-10-12 15:57] xeroc opened #1369 "SPV idea up for discussion"
When I was in Amsterdam, I've had these *thoughts* that wouldn't let me rest until it made sense to me. So i stripped the thoughts apart and tried tackling them one at a time. The first thought that I finally got to put down in written is about SPV (Simple payment verification - the term doesn't fit well, but is known in the space). I wrote it all down in the bitshares-core wiki:

https://github.c

[2018-10-12 16:18] pmconrad commented on #1369
Interesting.

The biggest problem I see is that in a maintenance interval 1/3+1 (or more) of the witnesses can change. In an extreme case, this can lead to two equally valid chains, each with support from 2/3+1 of *their* witnesses.

I think until we have solved that problem you cannot prove legitimacy of a given set of witnesses with signatures from that same set of witnesses.

See related discus

[2018-10-13 00:20] cogutvalera commented on #1171
@ryanRfox after my researches I found that the best cross-platform solution without impacting existing JSON-RPC API implementation as @abitmore mentioned, is not to show `password` thus we should replace `password` with empty string on the *fly* in `editline`. I think @oxarbitrage told very nice solution, but IMHO more complex & complicated at the same time. So my solution is cross-platform and wi

[2018-10-13 07:31] pmconrad commented on #1171
Interesting idea. If you choose that route, please make it somehow configurable (for the calling application) when input is blanked out. That would make it possible to use the same mechanism not only for ``unlock`` but also for entering a brain key for example.

Glancing over the editline code my impression is that your approach will be tricky to get right, to say the least. Can you give us some h

[2018-10-13 08:43] cogutvalera commented on #1171
@pmconrad yes for sure I want to make it configurable for any other `sensitive` information also and not only for `unlock`.

After my researches and some debugging inside `editline` code, I want to extend `tty_flush` method (it is the main idea will be for this issue, but not only this of course) so inside this method we have `write` call which will hide on the *fly* sensitive information :) somet

[2018-10-13 09:30] pmconrad opened #1371 "Sorting of public_keys is inefficient"
**Bug Description**
_Remark_
I've categorized this as a bug although it technically isn't. But since it has significant impact on performance, **and** is caused by an obscure side-effect (see #1151) I have created this issue as a bug report. Feel free to discuss.

_Root cause_
``public_key_type`` has no ``operator<`` defined. It is still possible to compare public keys, through ``operator<(address

[2018-10-13 12:12] xeroc commented on #1369
@pmconrad You are right, I forgot to mention that the max number of witnesses that can change per maintenance has to be limited to a CONSTANT (say, 1)

[2018-10-13 12:14] xeroc commented on #1369
@ryanRfox good thought about segwit. Need to research think about it.

[2018-10-13 21:01] abitmore commented on #1371
Note: the 3rd option (full solution) requires all client libraries (bitsharesjs, pybitshares, graphenej and etc) and all the clients that depends on the libraries to upgrade in order to be compatible both before and after the scheduled hard fork time, thus requires extreme coordination efforts, IMHO it's very hard to make it perfect.

[2018-10-13 22:14] abitmore opened #1373 "Authorization of a transaction is verified as a whole before applying the transaction"
Authorization of a transaction is verified as a whole before applying the transaction: https://github.com/bitshares/bitshares-core/blob/3e74426d301f098eb6306309b3dd80bb830a5c49/libraries/chain/db_block.cpp#L609-L614

This means if a transaction contains an account_update operation which changes authorities of an account, if later operations in the same transaction are required to be authorized by

[2018-10-13 22:36] abitmore commented on #1171
AFAIK editline doesn't work in Windows.

[2018-10-13 23:01] cogutvalera commented on #1171
@abitmore yes you're absolutely right about `editline` !

https://github.com/troglobit/editline

For Windows I want to make change on the *fly* too (the same idea), but after finishing with `editline` for GNU/Linux systems.

@ryanRfox my current estimation of 10 hours doesn't include Windows solution. Let's discuss about Windows estimation after Linux/MacOS solution will be implemented as @oxarbit

[2018-10-14 10:14] pmconrad commented on #1371
Client libraries only require updates where sorting order is relevant.
It's hard to judge where this is a "must", and probably not a library issue but an application issue.

[2018-10-14 10:18] pmconrad commented on #1373
IMO the current behaviour is reasonable and shouldn't be changed.

[2018-10-14 19:54] arminnaderi commented on #1310
@Zapata You can use the `get_blocks` function from the `block_api` instead: https://github.com/bitshares/bitshares-core/blob/master/libraries/app/include/graphene/app/api.hpp#L192

[2018-10-14 20:45] ryanRfox commented on #1289
I understand this is a closed Issue, so perhaps I need to open a separate one. I feel the output could be improved. Currently is looks like this:

[code]

Is it trivial to make it look something like:

[code]
Round to two decimal places and convert to K, M, G notation.

[2018-10-14 20:56] Zapata commented on #1310
@arminnaderi Thanks for pointing  `get_blocks`, however I took `get_block` as an (bad) example. Elastic Search is a way better source to (massively) retrieve operations. Batching could be needed for many api calls, but I agree with @pmconrad, websocket greatly reduce network overhead. Some benchmarks are needed to have an idea of the potential performance gains.

[2018-10-14 23:45] abitmore commented on #1289
I more like accurate numbers, at least for blocks ;) I agree that it's better if the decimal places of percentages is fewer.

[2018-10-15 17:44] oxarbitrage commented on #808
I think this issue should remain open even if https://github.com/bitshares/bitshares-core/pull/1271 was merged. The reason is that not all the items in the issue were addressed by the pull. I am moving this to the next milestone.

[2018-10-15 18:00] TheTaconator opened #1381 "Release Notes for BitShares Core 201810"
# Release Notes
The [BitShares](https://bitshares.org) Core software has been updated to the [201810 Feature Release](https://github.com/bitshares/bitshares-core/releases/tag/test-2.0.181018). The [Core](https://github.com/bitshares/bitshares-core/) software is used by validation nodes which perform consensus of all transactions on the [BitShares blockchain](https://bitshares-explorer.io). This re

[2018-10-15 18:16] cogutvalera commented on #1171
@ryanRfox extend please my estimation from 10 hours to 15 hours approximately for this issue, cause I'm fighting with `segfault` in `boost::regex` for `editline`, also I've spent much more hours than my estimation for this issue and still working on it.

Thanks !

[2018-10-15 18:18] cogutvalera commented on #1381
Well done ! Nice ! Thanks !

[2018-10-15 19:51] oxarbitrage commented on #1318
I will try to collect some style guides as they happen, have 2 right now, please feel free to link more:

- Method names should be all lowercase with "_" as word separator: https://github.com/bitshares/bitshares-core/pull/1271#discussion_r224833813
- Long calls, definitions or declarations are recommended to use this style: https://github.com/bitshares/bitshares-core/commit/496c6229e13bd511c2380f9

[2018-10-15 20:21] pmconrad commented on #1381
Thanks.
I think the 4 "Development Process" PR's need not be listed, they don't actually change anything content-related.

[2018-10-15 20:44] pmconrad commented on #1318
Current style has opening/closing brace always on a line by itself, and braces only where needed.

For single-statement if's, leaving out the braces is dangerous, as in
[code]
...but due to the brace-in-separate-line rule, adding braces costs a lot of vertical space. Most Java code always has braces even for single-line blocks, with the opening brace on the same line as the ``if``, ``while`` or ``

[2018-10-15 20:56] oxarbitrage commented on #1318
I probably confused myself with this.

We can stick to this, but if nested blocks, only the most inner one can save the braces.

[2018-10-15 21:01] jmjatlanta commented on #1318
Pure curiosity... Why?

[2018-10-15 21:38] abitmore commented on #1381
Here is my own opinion about how to write a good release note. There are many articles over the Internet about same topic as well.

Release notes should be audience oriented. (Same thing applies to other documents)

**Question:**
* Who are the targeted audience of the release notes (who will read the release notes)?

Answer:
* node operators including exchanges, gateways, other businesses integrat

[2018-10-15 22:49] abitmore commented on #1318
Probably due to build scripts like this used in the project: https://github.com/bitshares/bitshares-core/blob/82c8d3139e2df5d94f8a4802b8742d9f0f7045c8/libraries/chain/CMakeLists.txt#L2-L3

If file A has a `#define xxx` as last line and file B has something meaningful as first line, after concatenated, the first line in B would become a part of the `#define` thus will break build.

[2018-10-16 05:12] cogutvalera commented on #1381
something like this [BitShares Core Release 2.0.180823](https://steemit.com/bitshares/@abit/bitshares-core-release-2-0-180823)

[2018-10-16 07:40] cogutvalera commented on #1171
there are 3 PRs (core, fc, editline):

1. https://github.com/bitshares/bitshares-core/pull/1382
2. https://github.com/bitshares/bitshares-fc/pull/82
3. https://github.com/troglobit/editline/pull/21

What about PR for `editline` ? Who will approve it ? @abitmore @pmconrad @jmjatlanta @ryanRfox @oxarbitrage can you help me please to understand more clearly how PR in `editline` will be approved for B

[2018-10-16 08:07] cogutvalera opened #1383 "BitShares-fc compilation warnings"
**Instructions**
* Bug Description
* Impacts
* Steps To Reproduce
* Expected Behavior
* Host Environment (optional)
* Additional Context (optional)

**Bug Description**
bitshares-fc compilation warning

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [x] Build (the build process o

[2018-10-16 10:46] jmjatlanta commented on #1171
Editline is a project by troglobit. They can choose to accept your change or not.

The joy of open source is that you can fork their project and change what you want.

If you want Bitshares to use your code instead of troglobit, I see two options:
1) Make a PR in the FC repo that changes the editline repo from troglobit to your forked version.
2) Have the bitshares repo fork off troglobit. You can

[2018-10-16 11:38] cogutvalera commented on #1171
@jmjatlanta absolutely agree with you !

my question is: what way should we choose from 2 options that you told :)

[2018-10-16 12:20] pmconrad commented on #1383
This is openssl-1.1. @cogutvalera please use our template for bug reports.

[2018-10-16 12:28] cogutvalera commented on #1171
@pmconrad sure we don't need individual repos, IMHO we should fork `editline` in BitShares project, and not to wait Troglobit approvement, we are core devs and we must approve or not, but not Troglobit

[2018-10-16 12:32] cogutvalera commented on #1383
@pmconrad here I've posted 3 warnings, one of them is related to openssl

[2018-10-16 13:55] jmjatlanta commented on #1381
Wow, a lot of effort went into that. Thanks @TheTaconator for the work and @abitmore for the insightful opinion. If I were to combine those two things, I guess a brief paragraph to start would satisfy the public relations people, and the details would help the integrator/admin.

[2018-10-16 14:15] jmjatlanta commented on #1206
Un-assigning myself, and leaving this ticket open so we can keep track of other items that should be switched from 32 to 64 bit.

[2018-10-16 15:19] cogutvalera commented on #1383
updated with bug reports template

[2018-10-16 15:27] jmjatlanta commented on #1366
Please correct me if I am wrong. I believe we should be looking at the active and owner public keys for the passed in account, and verify that the keys match what was passed in.

Am I missing something? What else should be validated?

[2018-10-16 18:56] oxarbitrage commented on #1307
the compatibility issue was solved at https://github.com/bitshares/bitshares-core/pull/1323 with a temporal code addition to the wallet involved calls until next hardfork, when we will know everybody is in the last version.

[2018-10-16 18:56] #1307 closed

[2018-10-16 20:40] cedar-book commented on #953
Very beginning (in May), I started to use "how.bitshares.works" repository instead of "dev.bitshares.works" repository for the developers documentation.
If I remember correctly, this request was "after BitShsares-Core repository's Readme and wiki's contents were moved to new doc location (in dev.bitshares.works), replace current wiki's link to the new content location."

Currently, the dev.bitshar

[2018-10-17 10:23] cogutvalera opened #1385 "GPU Accelerated Computing with C and C++ (OpenCL or NVIDIA CUDA)"
**Instructions**
* User Story
* Impacts
* Additional Context (optional)

**User Story**
As a `BitShares user` I want `the best performance for validating signatures` so that `there will be more than 100k tx/s`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the bu

[2018-10-17 10:40] jmjatlanta commented on #1385
Offloading cryptography routines is a great way to increase performance. I believe @pmconrad is working on designing just that. With a good code design and segregation of duties, what Peter is doing could help someone with the desire to tackle such a project.

However, requiring specialized hardware for Bitshares to function is not recommendable, in my opinion.

If a community member wanted to tac

[2018-10-17 10:46] cogutvalera commented on #1385
This is similar like requirements for nodes to have SSD or not to have it. So not all nodes must have GPU acceleration IMHO, but possibility would be great and awesome the same as to have SSD instead of HDD. It mustn't be obligation any way, but just possibility.

[2018-10-17 10:55] jmjatlanta commented on #1385
I agree the cool factor is there. But SDD/HDD is handled by the OS, so required no changes to the codebase. CUDA requires code changes and (very often) the use of specialized precompilers. Hence, would be an impact.

[2018-10-17 11:06] cogutvalera commented on #1385
codebase can handle CUDA the same as OS handles SSD/HDD, of course it isn't so easy, but we can have a option for those nodes who will want this performance feature.

[2018-10-17 13:29] pmconrad commented on #1366
It's much more complicated than that, since the keys can also authorize other accounts who in turn form a multisig for the account that has to authorize the transaction etc.
The general idea to create an actual transaction and let that verify the keys is good IMO, but it has to be done properly.

[2018-10-17 13:37] pmconrad commented on #1385
The 100k/s bottleneck stems not from crypto operations but from the internal database. GPUs don't help there.

According to https://bitshares.org/blog/2015/06/08/measuring-performance/ , the crypto operations required for 100k/s can be handled by a standard multi-core CPU. Currently working on this in #1360 .

[2018-10-17 14:05] crypto-ape commented on #1206
Block timestamp is stored as an unsigned 32-bit value (`block_header::timestamp`).

This won't be an issue in near future but will cause failure by 2038 (if the source is 32-bit signed integer) or at the latest by 2106 (see [year 2038 problem](https://en.wikipedia.org/wiki/Year_2038_problem)).

We don't need to worry about the operating system providing correct time (which it sure will) but about

[2018-10-17 14:38] pmconrad commented on #1206
Changing time representation now is a waste of time IMO. Can revisit the issue in 15 years.

[2018-10-17 14:42] clockworkgr commented on #1206
was gonna say...if this codebase is still around in 2038, we'll all probably be too rich to care :D

[2018-10-17 15:07] crypto-ape commented on #1385
@cogutvalera  You got typo in the title: NVIDEA -> NVIDIA

@pmconrad

This isn't exactly what that article implies. According to this article, if you _turn off_ crypto operations the throughput will be 100k ops/s. Right now with crypto it is around 3k/s ([source 1](https://bitshares.org/blog/2015/06/08/measuring-performance/#real-time-performance), [source 2](http://dev.bitshares.works/en/master/_

[2018-10-17 15:11] cogutvalera commented on #1385
Thx fixed typo

[2018-10-17 19:18] cogutvalera commented on #1385
OpenCL is great too ! We just need to more discuss what is better and what is the best. IIRC NVIDIA CUDA is multi-platform too.

[2018-10-17 19:51] cogutvalera commented on #1385
also found [A C++ GPU Computing Library for OpenCL](https://github.com/boostorg/compute) on github

[2018-10-17 19:52] clockworkgr commented on #1385
3k performance is including network latencies.

Crypto is not a bottleneck...not a severe one anyway. I believe work is being completed on parallelizing signature verification and offloading it to the p2p layer which should pretty much make it a non issue.

Real bottleneck is network and latencies. Recent testnet stress test showed that if witnesses & API nodes shared the same data center thus eli

[2018-10-17 21:03] cogutvalera commented on #1385
On my `Intel(R) Core(TM) i7-4700HQ CPU @ 2.40GHz` I've next results for both test cases:

[code]

[2018-10-18 05:19] clockworkgr commented on #1385
network latencies relate to real world performance...your tests just prove my point that crypto is not the real bottleneck :)

[2018-10-18 07:03] ihla opened #1390 "what is the expected result of witness voting with num_witness=0"
I'd like to check if the following behaviour is as expected.
What if the `num_witness`=0 while the `votes` includes some witness ids I am voting for. The comment in `struct account_options` says *Must not exceed the actual number of witnesses voted for in @ref votes* that is true in this case.
That is also exactly what is checked in validate() method:
[code]

It seeems to me, the votes are counted

[2018-10-18 08:28] abitmore opened #1391 "Add a link in readme to hackthedex.io"
**User Story**
As a community member I want a link to https://hackthedex.io in the main page of this repository, so that people who find a security issue will know where and how to report it.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or some

[2018-10-18 09:33] abitmore commented on #1006
Here is my theory about how the memory leak occurred.

There are 2 tasks in the p2p thread that push blocks to database:
* the sync (catch-up) task;
* the new-block processing task.

Or perhaps they are the same task but exist as several "instances" in the thread.

While syncing, the two tasks may work simultaneously, and, the sync task consumes much more resources than the other task, that said,

[2018-10-18 09:46] sschiessl-bcp commented on #1300
Thank you for the clarification!

[2018-10-18 09:47] crypto-ape commented on #1385
@clockworkgr

Do you have the link to results from the stress test?

Actually you might be right that network is the real bottleneck. However there are no reliable tests that support this statement.
We have few different tests, that I know about:
1) [Original article from 2015](https://bitshares.org/blog/2015/06/08/measuring-performance/#real-time_performance)
    - with *networking & crypto* 'tur

[2018-10-18 09:55] clockworkgr commented on #1385
Well performance test numbers (excl network) are higher than stress tests (incl. network)  regardless of tx or ops so the FIRST bottleneck is obvious.

Performance tests also point to crypto performance of 100k/s being achievable.

And yes, none of us "tech" people really use the 100k number and prefer the proven 3.3k one at as close to mainnet conditions as possible

[2018-10-18 10:10] cogutvalera commented on #1385
@crypto-ape understood ;) Thanks !

[2018-10-18 12:50] pmconrad commented on #1390
Yes, that's correct.

The decision *who* should be a witnesses is partially independent from the decision *how many* witnesses we should have.

For example, like this you can express a vote like "I think 1 witness would be enough. I'll vote for Alice, Bob and Charlie, because either one would do a good job, but I don't trust Dave and Eve."

It is not allowed to vote like "I think we need 3 witness

[2018-10-18 13:05] pmconrad commented on #1006
Interesting. Is that just a theory or do you see specific evidence in the code?

[2018-10-18 19:43] abitmore opened #1392 "Error while converting value to string"
**Bug Description**
When replaying latest develop branch (https://github.com/bitshares/bitshares-core/tree/fc7ed0cdb327cb1378fa5d37e236a53d9b30e212), there are lots of  `ERROR_WHILE_CONVERTING_VALUE_TO_STRING` entries showing in log
[code]

I guess it might affect other functionalities E.G. API.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at le

[2018-10-18 21:07] abitmore opened #1393 "Add last vote time in account object"
**User Story**
As a UI developer I want a "last vote time" field available in account object so that UI can use it to fight voter apathy: https://github.com/bitshares/bitshares-ui/issues/1934#issuecomment-430953782.

IMHO, the time should be updated when a user changed her votes but not every time when she updated her account.

**Impacts**
Describe which portion(s) of BitShares Core may be impacte

[2018-10-18 21:28] oxarbitrage commented on #1392
can be related to https://github.com/bitshares/bitshares-fc/pull/80

[2018-10-18 21:29] abitmore commented on #1390
By the way, https://github.com/bitshares/bitshares-core/blob/6218cdf1fcf5310cace81f86a35044ef6b42abec/libraries/chain/db_maint.cpp#L206-L207
[code]

[2018-10-18 22:15] abitmore commented on #1006
IMHO the theory is correct. This issue in Steem https://github.com/steemit/steem/issues/641 described in what scenario `async()` may cause memory leak. It was in production environment and I was monitoring closely, RAM increases a bit every time when a new block arrived (I didn't enable account history plugin). IIRC some scheduled tasks never executed. I tried to debug with gdb and Valgrind but fa

[2018-10-19 11:49] pmconrad commented on #1392
Cannot reproduce with boost-1.60. Please provide config.

The only instances of the "between 100%..." messages are these:
[code]
Also see failed proposal and black swans in the usual format.

I do see the ERROR_WHILE_CONVERTING_VALUE_TO_STRING quite often in the P2P logfile.

[2018-10-19 12:00] pmconrad commented on #1006
I think the steem issue does not apply here, if I understand correctly it was caused by long-running mining threads that we do not have.

[2018-10-19 12:03] pmconrad commented on #1006
Oh, what I recently noticed is that when a task is stuck in a spin-yield-lock then it does not yield to newly enqueued tasks. That should result in 100% CPU usage though. Unless a task is stuck completely, other tasks will *eventually* get processed.

Another thing is that threads stuck in a normal boost::mutex block without yielding. Again, unless the thread is completely stuck, other tasks will

[2018-10-19 12:32] pmconrad commented on #1392
Possible cause: ``max_object_depth`` is not initialized in appender config. Also can't be configured in config.ini / logging.ini.
https://github.com/bitshares/bitshares-core/blob/test-2.0.181018/libraries/app/config_util.cpp#L175

[2018-10-19 15:06] jmjatlanta commented on #1333
Please take a look over these ramblings and see if I am on the right track:

1) The problem surfaces when decreasing the max size of _undo_db while there are (at least) 2 forks.
2) Decreasing the size of _undo_db is done when the LIB moves forward (among other times, but this was a scenario that my mind comprehends).
3) A poorly timed error while pushing a block can cause a chain reorganization, b

[2018-10-19 15:56] abitmore commented on #1392
Peter was correct. The logging messages in console shows correctly, but shows `ERROR_WHILE_CONVERTING_VALUE_TO_STRING ` in default.log file. I was using default generated config files. https://github.com/bitshares/bitshares-fc/pull/83 should fix it.

[2018-10-19 16:10] pmconrad commented on #1333
The critical part is that
* LIB is on a block common to both forks
* a block X arrives on fork A that moved LIB forward to a block that is not common to both forks
* X fails to apply **after** update_global_dynamic_data() -> LIB has moved already.
* A block Y arrives on fork B. B cannot be applied because the node can't roll back to the point before the fork. So the node is stuck.

[2018-10-19 18:19] jmjatlanta commented on #1333
Thank you for clearing that up. I was thinking about subsequent blocks coming in, but was getting lost because how can 1 fork have a LIB and another no? That would mean that the LIB is reversible, which should be impossible.

Now I am straight. The LIB came in, we somewhat liked it, we adjusted the size of undo_db, and then had a problem with that same LIB block. Now we don't have what we need to

[2018-10-20 09:05] abitmore commented on #953
Fixed by #1363.

[2018-10-20 09:05] #953 closed

[2018-10-20 09:08] abitmore commented on #1392
Fixed by #1394.

[2018-10-20 09:08] #1392 closed

[2018-10-20 09:10] pmconrad commented on #1193
Resolved with #1232

[2018-10-20 09:10] #1193 closed

[2018-10-20 09:11] abitmore commented on #1381
Need to add related PRs in FC to the list which including following 2 pulls but not only them:
* https://github.com/bitshares/bitshares-fc/pull/81
* https://github.com/bitshares/bitshares-fc/pull/83

Need to add #1392 add #1394 to the list.

[2018-10-21 21:16] abitmore commented on #22
Here is another approach. With a customized UI, the end user can feel no fee is involved, even no need to create a special fee asset, nor need to maintain the fee pool.

Knowledge points:
* fees are paid **after** an operation got executed;
* it's able to pull funds from another account.

Preparation:
* initialize withdraw permissions for your user with `withdraw_permission_create_operation`

When

[2018-10-22 13:32] ihla commented on #1390
as @abitmore has pointed out, the accounts voting for 0 and 1 witness count "abstain", technically speaking, their votes are excluded from the calculation of median witness count as can be seen here: https://github.com/bitshares/bitshares-core/blob/6218cdf1fcf5310cace81f86a35044ef6b42abec/libraries/chain/db_maint.cpp#L204

[2018-10-23 07:49] ihla commented on #1390
the question answered, can be closed

[2018-10-23 07:49] #1390 closed

[2018-10-23 20:08] jmjatlanta commented on #1333
The calculation for LIB comes after the calculation for the _undo_db and _fork_db size. I believe that means that if the current block moves the LIB forward, it will not be until the next block that the blocks are removed from _undo_db.

So my latest hypothesis is that this problem can not be caused by a block moving the LIB forward. If that hypothesis is correct, I ask the following 2 questions:

[2018-10-24 14:50] pmconrad commented on #1333
The actual shrinking (i. e. deletion of entries) in undo_db happens when a new undo_session is created. After applying a block, this will typically happen when pending transactions are replayed.
fork_db OTOH shrinks immediately during ``set_max_size``.
Hm.

----

Suppose we're at block 10 and dgp.lib is 3.
fork_db must contain all forks starting with block number 4 with the longest fork having len

[2018-10-24 14:53] chris4210 opened #1398 "BitShares blockchain transfer error"
**Instructions**
We are running our own Payger faucet "payger-faucet" and register new users ourselves. In the same block we also transfer each payger new users 1 BTS in the same block, to prefund the account.

On block **31,613,596 at 2018-10-23 12:17 (UTC)** we experienced an unusual bug that we cannot explain ourselves right now. Maybe you have an idea?

The usual structure is:
payger-faucet re

[2018-10-24 15:04] xeroc commented on #1398
You cannot send funds to a new account in the same block/transaction you created the account in. Simply because you cannot know for sure what the account id of the new account will be!

[2018-10-24 15:08] chris4210 commented on #1398
It can make sense that the serialization on the chain was mixed up due to using name and not id for the transfer. yet how can the blockchain than jump to the different ID?

[2018-10-24 15:19] jmjatlanta commented on #1398
Scenario:
1) Someone else creates an account for Bob, API server B comes back with an id of 1.
2) You create account for Alice, API server A comes back with an id of 1.
3) You move 1 BTS to Alice, API server translates that to "Move 1 BTS to ID 1"
4) Witness node W puts all 3 of these transactions in 1 block (reassigning Alice a new ID), and sends the new block to API server A and B.
5) All nodes

[2018-10-24 15:43] chris4210 commented on #1398
@xeroc What do you mean with using unique ID instead of names? Can you not use both? So when I build a transaction I use the name as identifier for sender, receiver or assets. Not the ID. Why should we use the ID instead?

Did someone experienced similar issues? So far I read about some workarounds with time delays etc. That is not really preferred. Also, other registers opened hundred of accounts

[2018-10-24 16:33] pmconrad commented on #1398
The on-chain transaction *always* uses the account ID, not the name. The call you are using presumably looks up the ID for the given account name and then creates a transaction with that account ID. However, until the account creation is irreversible, there is no guarantee that the account you created will have a specific ID.

You can work around this by bundling the transfer operation together wi

[2018-10-24 17:30] oxarbitrage opened #1400 "elasticsearch plugin fixes."
From https://github.com/bitshares/bitshares-core/pull/1396 we have a few points left that will require research and implementation however we are out of time to do them in this release and they are not urgent.

- [x] static variant serialization: https://github.com/bitshares/bitshares-core/pull/1396#issuecomment-432725835
- [x] code cleanup https://github.com/bitshares/bitshares-core/pull/1396#pul

[2018-10-25 01:03] ThomasFreedman commented on #1268
What are the legal implications if this proposal? Will BitShares still pass the Howie test if implemented? If this is implemented we need to make damned sure we set expectations (there is no guaranteed rate of return).

[2018-10-25 01:10] ThomasFreedman commented on #1268
What are the legal implications of this proposal? Will BitShares still pass the Howie test? If this gets implemented we need to make damned sure we set appropriate expectations (no guaranteed rate if return).

I'm no SEC lawyer, but they may consider any type of profit sharing to be a security.

[2018-10-25 08:31] OpenLedgerApp commented on #1268
the official BSIP-43 is here:
https://github.com/bitshares/bsips/blob/master/bsip-0043.md
Please comment here :
https://github.com/bitshares/bitshares-core/issues/1268#issuecomment-432877873
I will respond there.

[2018-10-25 08:39] abitmore commented on #1333
@pmconrad:

A worse case is that LIB advances E.G. to 6, then 3,4,5 will be dropped too early.

This is the scenario described in https://github.com/steemit/steem/issues/2911

[2018-10-25 08:58] abitmore commented on #1398
IMHO this is a bug in the faucet. Perhaps move the discussion there.

By the way, @clockworkgr proposed to add an extension field to `account_create_operation` so that the faucet can fund the newly created account immediately in the same operation, which IMHO it's a good idea, we can draft a BSIP for this.

[2018-10-25 09:29] chris4210 commented on #1398
That would be a welcoming feature Abit.

It is odd that the Blockchain is sending funds to the wrong accounts. No matter if the faucet should wait or not, the blockchain should give back an error but NEVER send funds to the wrong account. This might seem like a small issue now, but at the time BitShares scales further we will have a problem.

@ryanRfox  Maybe also a good idea to add this info to t

[2018-10-25 09:51] clockworkgr commented on #1398
fwiw...code wise , I can't even figure out how it even ever worked AT ALL.

when wallet transfer operation is called with a name instead of an id, the wallet does a lookup_account_name to the remote api node it's connected to.

If those 2 ops are in the same block, that means that the create op has not been applied when the transfer op is being created (doing the lookup in the process) so NO idea

[2018-10-25 10:54] chris4210 commented on #1398
@jmjatlanta Ok If i undertand that correctlythat means the chain ID is not 100% correct until the blocks are irreversible because the chain did not found majority consensus on which names is connected to what ID yet? when 2/3 of all witnesses agree ID 1.2.11xx1 belongs to Account1 than that's correct.

How does that apply to offline created accounts? How does the blockchain knows that this ID or n

[2018-10-25 11:01] clockworkgr commented on #1398
@jmjatlanta Yeah got it...Abit explained in dev group.

My understanding was flawed cause I thought txs were NOT applied to the db immediately when received but only sig-checked and broadcast.

Thought db state was only changed by a new incoming block.

[2018-10-25 12:28] pmconrad commented on #1333
If LIB advances to 6 then 3,4,5 **can** be dropped.

The scenario when switching forks can be fixed easily as in https://github.com/steemit/steem/pull/2914/commits/653f0b58ef5b5713b9c5d43e75130963def7a0a8 .

[2018-10-25 12:38] pmconrad commented on #1366
Resolved via #1384

[2018-10-25 12:46] clockworkgr commented on #1369
https://github.com/steemit/steem/issues/812

[2018-10-25 16:41] froooze commented on #1182
We should not introduce a new currency, because BTS fees have only 5 digits.
Instead we could add some extra figures to the core?

[2018-10-25 16:42] froooze commented on #1182
@OpenLedgerApp : We should not introduce a new currency, because BTS fees have only 5 digits.
Instead we could add some extra figures to the core?

[2018-10-25 16:43] jmjatlanta commented on #1383
Fix in fc pull https://github.com/bitshares/bitshares-fc/pull/84, although it did not squelch all warnings. One remains, left for good reason.

[2018-10-25 16:43] #1383 closed

[2018-10-25 16:45] #1366 closed

[2018-10-25 16:51] charyury commented on #1268
This is not affecting BTS or any other asset in any way as the fees are being distributed to referral program (registrars and referrals), not to specific asset holders.

[2018-10-25 23:14] abitmore commented on #1333
... only when "the block is applied successfully".

[2018-10-26 09:14] clockworkgr opened #1403 "Fund account on account creation"
As a `faucet operator` I want `to be able to fund accounts on creation` so that `newly created accounts can contain a balance without having to wait for the account creation operation to be in LIB before performing a transfer`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [X] API (the application programming interface)
-

[2018-10-26 09:15] clockworkgr commented on #1403
Related: https://github.com/bitshares/bitshares-core/issues/1398

[2018-10-26 09:17] sschiessl-bcp commented on #1403
Many gateways have been asking for this kind of feature, and it would be extremely helpful as well for all the "Insufficient funds" support requests for not properly maintained fee pools.

The testnet faucet is also supporting that, but via a separate transfer after account creation, which is error prone.

+1

[2018-10-26 09:18] xeroc commented on #1403
That would be helpful to the testnet faucet too, which gives every new account x TEST for, well, testing ... :)

[2018-10-26 09:20] cogutvalera commented on #1403
@ryanRfox I want to implement this feature a bit later :) claiming it now if possible, just wanted to mention it ...

Thanks !

[2018-10-26 09:30] clockworkgr commented on #1403
that was fast :P

[2018-10-26 13:02] pmconrad commented on #1403
Please write a BSIP.

[2018-10-26 15:21] pmconrad commented on #1371
We might get away with fewer transaction signatures if authorities were sorted by descending weight.

E. g. if an account has authority(2, key1, 1, key2, 2) the current algorithm for irrelevant signature detection will accept a transaction signed by both keys if key1 is in the list before key2.

[2018-10-26 15:34] pmconrad commented on #1371
The algorithm walks through the (key,weight) pairs and sums up those weights for which it has a signature. If the threshold is met, the iteration stops. If there are signatures left over, it rejects the transaction. Pairs are currently sorted by key address.

If the (key,weight) pairs were sorted by descending weight, the threshold might be met earlier. In the above example, the algorithm would te

[2018-10-26 15:41] jmjatlanta commented on #1371
Thank you for the clarification. What I now have in my head is:

Current code does not reject a transaction that is signed by too many signatures, because the list of signatures is not sorted in descending order by weight.

Is the concern only one of performance? I am trying to understand why the prevention of extra signatures. Thank you for your patience.

[2018-10-26 18:58] pmconrad commented on #1371
Yes, it's just a minor optimization because fewer signatures have to be validated. Not a critical issue.

[2018-10-27 06:40] clockworkgr commented on #1403
ok. will do

[2018-10-27 14:52] ryanRfox commented on #1403
Yes, BSIP is the proper next step. @cogutvalera love the enthusiasm. Hope you are willing to assist with drafting the spec.

[2018-10-27 15:11] cogutvalera commented on #1403
@ryanRfox yes sure thank you !

[2018-10-27 23:32] abitmore commented on #1403
@clockworkgr asset authorization is not only whitelisting. My bad for didn't state it clearly. IMHO we need to mention it in the BSIP, but don't need to go into details about it.

[2018-10-29 10:30] xeroc commented on #1369
Difference to steem is that BitShares has a maintenance interval and witnesses only change there!
With that, we have an additional "slotting":

* Blocks - currently every 3 seconds
* Rounds - currently about every 80 seconds
* Maintenance - currently every 86400 (24hrs)

For SPV, you need to obtain all data that is required to verify block producers. Hence,

* the list of valid block producers eve

[2018-10-30 03:44] HarukaMa opened #1407 "Add plugin section headers for auto-generated config.ini"
**User Story**
As a node operator I want auto-generated config.ini have indications which options belong to which plugin so that it is not confusing.

Currently when creating a new data dir, automatically generated config.ini is populated with all possible options including those who belong to plugins. One can only infer which options are from core and which are from plugins by name (luckily es_pl

[2018-10-30 12:31] ryanRfox commented on #950
Assigned to @cogutvalera for 15 hours.

[2018-10-30 12:31] cogutvalera commented on #1171
@ryanRfox Windows is out of this scope. I commented above that windows will do after finished GNU/Linux. 15 hours was my estimation (look my earlier comments here please) without Windows.
Windows solution will be later with another my estimation.

Thanks !

[2018-10-30 13:02] ryanRfox commented on #1171
15 hours remitted for Linux/GNU in weeks 42-43. Thank you.

@cogutvalera will estimate a solution for Windows. Will leave the ticket open awaiting implementation.

[2018-10-30 13:08] cogutvalera commented on #1171
Thanks !

[2018-10-30 17:43] handywijaya82 opened #1408 "can't import keys, very different then the documentation"
i'm trying to import keys, i can't

unlocked >>> get_account bbb-22 {private keys}
get_account bbb-22
10 assert_exception: Assert Exception
rec && rec->name == account_name_or_id:
{}
th_a wallet.cpp:597 graphene::wallet::detail::wallet_api_impl::get_account.

help lah, i'm so desperate, this graphene is very frustrating, documentation seems so easy, but in reality, there are problems coming and go

[2018-10-30 17:56] oxarbitrage commented on #1408
`get_account` will never import your keys. the function to import keys from the wallet is `import_key`.

the `get_account` is failing because in the bitshares blockchain it seems there is no account named ` bbb-22`.

need to provide more details, are you in a private testnet or in the mainnet ?

[2018-10-30 17:57] oxarbitrage commented on #1408
maybe this will help: https://github.com/bitshares/bitshares-core/wiki/Import-account-to-cli-wallet

[2018-10-30 19:03] cogutvalera commented on #950
@ryanRfox Thanks !

[2018-10-30 19:50] handywijaya82 commented on #1408
yes, my bad, i've used get_account and it was still like that, i've also already tried your link to no happy result, but i've come to this url https://github.com/bitshares/bitshares-core/wiki/CLI-Wallet-Cookbook and it's all make sense now, turns out that i can use the default "nathan" account, so it leave me with questions.

1. i have this account in my bitshares web, and also in bitshares gui, b