[2019-03-13 18:42] pmconrad commented on #363
The OP wasn't very clear about his goals, so discussion went in many directions without reaching conclusion. Title mentions Atomic Swaps, which have been implemented, so this was closed.

Feel free to open a new, more specific, issue perhaps in the BSIPs repo: https://github.com/bitshares/bsips/

[2019-03-13 19:57] abitmore commented on #1083
@pmconrad I had made some efforts trying to optimize `operator<(price, price)` with little success, see https://github.com/bitshares/bitshares-core/issues/1094.

[2019-03-14 12:58] pmconrad commented on #1646
Reminds me of Haskell. All functions have exactly one parameter. `F(a,b)` is syntactic sugar for a function `F'(a)` that returns a function `F''(b)`. (A function without parameters is a constant.)

[2019-03-14 16:48] Zapata opened #1652 "es-objects plugin does not load genesis data."
**Bug Description**
es-objects plugin does not load genesys data.

As an example users that are in the genesis file and didn't update their account are not found in the populated objects-account index.
This may be true for other types of data.

Genesis data is needed in order to have a consistent and complete data in ES.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by t

[2019-03-14 18:50] cnjsstong commented on #1318
I've done a bit research on the linter. Looks like [cpplint](https://github.com/cpplint/cpplint) is a widely used cross-platform linting tool (built in Python). The rules are configurable. One disadvantage is that it does not have auto fix for simple rules (like that in ESLint).

There are other linting tools with better static analysis performance, but a lot of them are platform dependent.

IMHO

[2019-03-14 19:38] BhuzOr opened #1653 "p2p disconnections cause random missed blocks"
**Bug Description**
Node disconnects from all peers.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travi

[2019-03-14 22:27] nathanhourt commented on #1591
I have created a draft of this sort of doc [here](https://gist.github.com/nathanhourt/a0b12350b52675e728f32bd572d758f0), and referenced this file therein. Comments are welcome.

[2019-03-15 09:17] abitmore commented on #1653
I think the lots of "End of file" messages indicated that your server was temporarily disconnected from the network, mostly due to external reasons.

[2019-03-15 11:16] clockworkgr commented on #1591
this is awesoem work @nathanhourt

[2019-03-15 11:56] sschiessl-bcp opened #1654 "`get_full_account` only contains given `withdrawal_permissions`"
If I get a full account via `get_full_accounts` call, I can see a list of objects `withdraws` which contains all given `withdraw_permission` s.

Full account should also contain all received ones (or contain nothing and a separate api call is necessary). One suggestion could be to call it `withdraw_permissions`, which is a list of received and given ones (giver/receiver defined by authorized accou

[2019-03-15 13:22] pmconrad commented on #1653
I agree with @abitmore , the "Forcibly disconnecting from handshaking peer ... due to inactivity" also points in that direction.
If this happens again I'd suggest to monitor connectivity using a ping logger or sth like that, in order to rule out network issues.
Closing for now, feel free to reopen if it happens more often.

[2019-03-15 13:22] #1653 closed

[2019-03-15 13:29] pmconrad commented on #1591
Very good!
I think you should coordinate with @cedar-book to integrate this in the http://dev.bitshares.works site.

[2019-03-15 13:32] pmconrad commented on #1654
Please use the "Feature request" template next time.

[2019-03-15 13:37] cedar-book commented on #1591
Yes. I've talked to Nathan. He creates valuable information. I am working on this.

[2019-03-15 15:50] jmjatlanta commented on #1645
My initial take: We should make the names of any fields that are in both match for consistency. But I like the separation of things like "conditions" and "transfer". It breaks up the data into logical sections. Of course, I am open to other's opinions.

[2019-03-15 16:00] jmjatlanta commented on #1645
My suggestion for get_htlc:
[code]

Summary of changes:
Changed database_id to id
changed "amount" to a struct that matches get_object

[2019-03-15 19:20] abitmore commented on #1645
My suggestion for better human-readability:
get_htlc 1.16.12
{
  "id": "1.16.12",
  "transfer": {
    "from": "xeroc",
    "to": "john",
    "amount": "12.34567",
    "asset": "OPEN.BTC"
  },
  "conditions": {
    "hash_lock": {
      "preimage_hash": "57c3b1230e531a14e89b05cca71682081c9ce021aebe275b68cdb4fb8ffdf8f7",
      "hash_algo": "SHA256",
      "preimage_length": 13
    },
    "time_lock":

[2019-03-15 19:31] abitmore commented on #1645
If the requirement/specification is this, why not directly change the structure of `htlc_object` to something like below?
[code]
Then we don't need to convert. This is a new feature, there is no existing application or user, which means we can try to make it perfect better now than later.

[2019-03-15 20:27] jmjatlanta commented on #1645
...

Good suggestion. I am torn. The existing object is fairly flat, the fanciest thing being an embedded "htlc_hash" struct that encapsulates the hash with the hash algorithm that created it. Refactoring the structure will make the internal representation more closely reflect the human-readable output. But I do not know if we can completely remove the last-step reformatting due to some of the def

[2019-03-16 08:26] pmconrad commented on #1645
I guess cli_wallet is being used by more tech-affine users and developers, who will be confused if cli output and wallet API differ too much. IMO restructuring the database object is an excellent idea.

[2019-03-16 21:53] jmjatlanta commented on #1645
I followed more or less the suggestion of @abitmore and received the following results:
[code]
I believe this to be a lot closer to the desired result, with zero reformatting within the wallet. The deficiencies are:
- Account IDs instead of account names
- Asset ID instead of asset name
- preimage hash has cryptic hash algorithm
- preimage hash has no field labels
- perhaps preimage size should be

[2019-03-17 09:40] pmconrad commented on #1645
`preimage_hash` being an array is due to the (arguably stupid) way `static_variant`s are represented in JSON. A generic solution would be nice, but breaks existing APIs and is out of scope here.
If `preimage_hash` has structure then `preimage_size` should not be part of it IMO, because the size of the preimage is not part of the hash but a separate piece of information.

[2019-03-17 10:05] zychappy opened #1658 "how to sign a memo?"
I tried to rewrite sign a memo with golang,
I am confused that the nonce_plus_secret after sha512 is a [64]byte,but key of AES only accepts [32]byte,
could anyone give me some suggestions?

[2019-03-17 13:58] pmconrad commented on #1584
Question: do we want to retain the ability to switch EC crypto between slow openssl and the fast secp256k1, or can EC openssl support be removed?

[2019-03-17 18:09] nathanhourt commented on #1584
If we remove it, do we still need openssl at all? Or can it be dropped as a dependency?

[2019-03-18 07:46] cogutvalera commented on #163
@ryanRfox I want to do it, my estimation is approximately 5 hours

[2019-03-18 07:46] cogutvalera commented on #113
@ryanRfox I want to do it, my estimation is approximately 5 hours

[2019-03-18 12:55] pmconrad commented on #1658
You are right, encryption is done using OpenSSL's EVP_aes_256_cbc, which has a 256bit (=32 byte) key.
sha512 produces a 512bit (=64 byte) value, of which only the first 32 bytes are used as the encryption key.

Not sure why it's been implemented like that. It seems it was originally done by @nathanhourt . Nathan?

[2019-03-18 12:58] pmconrad commented on #1584
OpenSSL will still be required. (Even the secp256k1-based uses it in some places, due to lack of certain primitives in that library.)
OpenSSL is also used for symmetric encryption and hashing for example.

[2019-03-18 13:23] xeroc commented on #1605
closing this. peter is right, should be done with docker volumes instead

[2019-03-18 13:23] #1605 closed

[2019-03-18 14:04] ryanRfox commented on #1618
Rule for DB_VERSION format: YYYYMMDD
Rule for merge conflict: bump to current date (YYYYMMDD)

Closing

[2019-03-18 14:04] #1618 closed

[2019-03-18 14:18] ryanRfox commented on #1173
We just agreed on the DB_VERSION format to be YYYYMMDD, which is mutually exclusive to  our discussion here about Release Version Numbering.

With the Protocol Upgrade upon us, I'd like to close this out. My suggest remains:
- Major.Minor.Patch
- Protocol.Feature.Hotfix

Resulting in `19.0.0` as our upcoming  Protocol Release. I acknowledge that this drops the "BitShares 2.0" numbering, but I feel

[2019-03-18 14:32] nathanhourt commented on #1658
Did I write this? I don't remember... If I did, I was just using FC's interface, which took a `sha512` for the key, so I used `sha512` for the hash. But now looking at FC's implementation [[1]](https://github.com/bitshares/bitshares-fc/blob/master/src/crypto/aes.cpp#L325), [[2]](https://github.com/bitshares/bitshares-fc/blob/master/src/crypto/aes.cpp#L174), it seems that FC is using the first 32 b

[2019-03-18 14:35] nathanhourt commented on #1584
Right, OK. So does it buy us anything to drop support for using openssl for EC signatures? If not, I suppose it makes sense to keep it.

[2019-03-18 17:16] jmjatlanta commented on #1627
I believe this to not be a problem with the API. Closing this issue. Feel free to reopen if new details emerge.

[2019-03-18 17:16] #1627 closed

[2019-03-18 22:09] abitmore commented on #1083
AFAICT `fc::uint128` is in the code for serialization.  For better performance, we could/should avoid using it for routine computation. E.G. https://github.com/bitshares/bitshares-core/blob/319d7b96a4d29902db80631022bb021ca79ac950/libraries/chain/protocol/fee_schedule.cpp#L132-L134,  https://github.com/bitshares/bitshares-core/blob/319d7b96a4d29902db80631022bb021ca79ac950/libraries/chain/protocol/

[2019-03-18 22:25] abitmore opened #1660 "Replace/rewrite fc::uint128 with boost::multiprecision for better performance"
**User Story**

@pmconrad mentioned in https://github.com/bitshares/bitshares-core/issues/1083#issuecomment-472533452:

`fc::uint128` is in the code for serialization. For better performance, we could avoid using it for routine computation, E.G. https://github.com/bitshares/bitshares-core/blob/58c0c494a61c33e5a4ec2312084322f0014b4f5b/libraries/chain/asset_object.cpp#L40-L44 and more (try search).

[2019-03-19 01:52] MichelSantos opened #1663 "Release Notes for BitShares Core Release 2.0.20190318"
# Release Notes

The [BitShares](https://bitshares.org) Core software has been updated to [2.0.20190319](https://github.com/bitshares/bitshares-core/releases/tag/2.0.20190319).  The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain.  This release includes only 1 bug fix; no new features are added.

Documentation for users may

[2019-03-19 02:01] zychappy commented on #1658
@nanomobile No, the size of IV must equal block size
Let's start from scratch
memo.cpp
[code]
aes.cpp
[code]
I dont know what happened after EVP_EncryptInit_ex

I tried to rewrite with golang like the [ExampleNewCBCEncrypter] (https://golang.org/src/crypto/cipher/example_test.go)

but still dont know how to handle the key and IV

[2019-03-19 02:29] cedar-book commented on #1591
You will find the link below on the https://dev.bitshares.works site.
--> BitShares Development: [Zero to Sixty in 30 Minutes or Less](https://dev.bitshares.works/en/master/development/bitshares-zero-to-sixty.html#zero-to-sixty-guide)

[2019-03-19 12:17] pmconrad commented on #1173
I thought we agreed on `3.0.0` for the upcoming release because the `19` seems to wrongly imply the year?

[2019-03-19 12:19] pmconrad commented on #1584
It's a simplification. If the code isn't used there's no need to keep (and maintain) it.

[2019-03-19 12:24] pmconrad commented on #1660
Also part of #1584

[2019-03-19 12:33] ryanRfox commented on #1173
Yes, we did, just after I posted this :)

[2019-03-19 12:47] pmconrad commented on #1658
Here's what happens after ...Init..., also see Nathan's link above:
[code]

It seems that the IV is not part of our ciphertext. Instead, the memo structure contains the 64-bit nonce from which key and IV are constructed. See https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/protocol/memo.hpp#L40-L67 .
AFAICT the example code in your link prepends the IV

[2019-03-19 12:51] pmconrad commented on #1663
IMO the specific bugfix (`plugins` option ignored in config file) should be mentioned under "Who should upgrade".
The "Support Boost 1.69" issue is documentation only IIRC. Neither related code nor build process were changed in this release.

[2019-03-19 12:56] abitmore commented on #1173
What about testnet releases?

[2019-03-19 14:24] oxarbitrage commented on #1637
fixed by https://github.com/bitshares/bitshares-core/pull/1647

[2019-03-19 14:24] #1637 closed

[2019-03-19 15:33] ryanRfox commented on #1173
I feel continuing to use "test-" as the prefix will be sufficient. Open to other suggestions.

Example (fast forward a coupe months): MAINNET has `3.1.2` running. Core Team is ready to release the next Feature Release into TESTNET as `test-3.2.0`. A few hotfixes are applied during testing, resulting in `test-3.2.3` being the last version we agree should go into MAINNET as `3.2.0`. Notice that the

[2019-03-19 17:59] ryanRfox commented on #1663
ACK

I feel the Precautions heading may be removed for this release, as none are identified. I hope not to loose this heading in future Protocol Upgrade or Feature Release, so it may stay just as well.

[2019-03-19 18:24] oxarbitrage commented on #1663
Thanks, closed by https://github.com/bitshares/bitshares-core/releases/tag/2.0.20190319

Any further change if needed should be done in the release text itself.

[2019-03-19 18:24] #1663 closed

[2019-03-19 21:16] abitmore commented on #1663
Next time better leave blank for the links and checksums of the binaries.

[2019-03-19 21:17] jmjatlanta commented on #1663
Or put "tbd" as I did until I get the Windows build done.

[2019-03-19 21:24] abitmore commented on #1663
For binaries, if build manually, we can tag locally then build in advance, so we can know the checksums when creating the release.

[2019-03-20 00:07] zychappy commented on #1658
@nathanhourt @pmconrad
the explanation in aes.cpp means IV only accept 16-byte,so 32-bytes IV obviously do not work,
but ((unsigned char*)&key)+32 means iv = key[32:] and size(iv)=32,so I am confused.
[code]
the example of aes of golang just show us how to create IV which only accepts byte[16]

[2019-03-20 13:32] pmconrad commented on #1173
Question is what causes less confusion? `test-3.2.3` -> (main) `3.2.0` or `test-3.2.3` -> (main) `3.2.3`?
The majority will probably expect `3.2.0`, so I tend to agree with @ryanRfox .

[2019-03-20 13:36] pmconrad commented on #1658
Note that `EVP_DecryptInit_ex` only receives pointers to the beginning of key and IV respectively. There is nothing in the call that specifies how much data is pointed to.
If `EVP_AES_256_cbc` only uses 128 of IV then it means the remaining 16 bytes are simply ignored.

[2019-03-20 17:29] pmconrad commented on #782
Implemented via #1513 - @cedar-book please check if the config file documentation needs to be updated with the new parameters. https://github.com/manikey123/bitshares-core/blob/78cb2c7c7d4c417602ba51c0d429e3e4af408e97/libraries/app/application.cpp#L1006-L1019

[2019-03-20 18:47] abitmore commented on #1658
Does this mean it's platform dependent? It tries to read a 16-bit value from a 32-bit pointer or even worse.

[2019-03-20 23:18] cedar-book commented on #782
@pmconrad, Okay. Yes, I will check into that.

[2019-03-21 08:36] manikey123 commented on #783
Below apis have FC_ASSERT. Should they be made configurable?
get_account_limit_orders
get_collateral_bids
get_top_markets
get_trade_history
get_trade_history_by_sequence
@pmconrad

[2019-03-21 10:51] MarkoPaasila commented on #1622
Looking at the core bug issue, this should be solved by using the latest node release (if you have a personal node).

[2019-03-21 13:21] pmconrad commented on #783
I see more with a limit parameter. @abitmore can you clarify the purpose and scope of this ticket?

[2019-03-22 06:20] abitmore commented on #783
The purpose was to mitigate DoS. Every API call should not cause too much pressure on an API node.

[2019-03-22 18:47] jmjatlanta commented on #1645
Fixed by #1656

[2019-03-22 18:47] #1645 closed

[2019-03-22 21:18] oxarbitrage commented on #962
Related: https://github.com/oxarbitrage/bitshares-explorer-api/issues/33 and https://github.com/oxarbitrage/bitshares-explorer-api/pull/42

[2019-03-22 23:25] nathanhourt commented on #1333
Hey all, trying to wrap my head around this issue too... Setting aside for a moment discussion of the max undo size, a scenario which jumps the LIB forward the maximum number should trigger the bug, right? So does this toy scenario trigger it?:

7 witnesses: ABCDEFGH
LIB at 5/7

Block # | Signing Witness | LIB # | Sigs Since LIB
-----------|-------------------------|---------|---------------------

[2019-03-22 23:41] nathanhourt commented on #1333
I suppose in my scenario above, H could sign 12, which would leave LIB at 4, and then A signs 13, which would cause LIB to jump to 9:

Block # | Witness | LIB | Sigs Since LIB
------------|------------|-------|--------------------
12|H|4|EFGH
13|A|9|AEFH

So that would be the maximum jump size of 5 blocks. Then 13 fails and rewinds, B continues from 5...

[2019-03-23 08:17] pmconrad commented on #1333
Yes, I think that's accurate. Except that A-H are 8 witnesses not 7 :-).

[2019-03-23 08:21] abitmore commented on #1333
This issues is about defensive approaches when something wrong HAS happened. To be clear, anything which can cause an uncaught exception after `update_global_dynamic_data()` IS A BUG and should be fixed asap, because witnesses will be unable to generate a new block thus will lead to a chain halt.

* If the exception IS caused by a new transaction in the new block, an approach is to try to produce

[2019-03-23 09:24] abitmore commented on #1333
As @jmjatlanta noticed, actually we're resizing undo_db and fork_db based on last block's LIB. That said, resize is deferred to the next block. Thus there would be no issue if the new size is big enough, as long as the new size is based on state of last block. We probably only need to change the `+1`s in these 2 lines
https://github.com/bitshares/bitshares-core/blob/5bad558ee1b9a5d3e401e9149a1482f

[2019-03-23 09:33] abitmore opened #1669 "Stop using call_price when globally settling after the hard fork"
**User Story**
According to current hardfork branch, we still use call_price after the hard fork. We'd like to remove the `by_call_price` index at some time in the future to improve performance, thus we should avoid using the index after the hardfork. Note: this will change operation history numbering, thus better do it in a hardfork release. Follow-up of #1270. See https://github.com/bitshares/bi

[2019-03-23 09:41] manikey123 commented on #783
based on above notes, went through code and below are API that can be configured:

get_withdraw_permissions_by_giver        --> limit=101
get_withdraw_permissions_by_recipient    --> limit=101
get_fill_order_history                   --> limte = to be updated

lookup_witness_accounts                  --> limit=1000
lookup_committee_member_accounts         --> limit=1000
lookup_vote_ids

[2019-03-23 10:29] abitmore commented on #1333
Not a bug. We're safe.

[2019-03-23 14:21] abitmore commented on #1333
We still have issues here similar to https://github.com/steemit/steem/issues/2911. This would be easier to reproduce.

[2019-03-23 15:06] nathanhourt commented on #1333
Wow I'm an idot :man_facepalming: haha

[2019-03-23 16:28] nathanhourt opened #1670 "Make chain_parameters::current_fees const"
**Bug Description**
Following #1556, the `const`ness of `chain_parameters::current_fees` does not match that of its parent `chain_parameters`. In particular, `current_fees` -- having type `shared_ptr<fee_schedule>` which becomes `const shared_ptr<fee_schedule>` if the parent is `const` -- is never actually `const`. This was not an issue with `smart_ref` as references propagate their `const`ness to

[2019-03-23 16:38] nathanhourt commented on #1670
Holding off on submitting a PReq until the FC one clears so I can update the submodule right. In the meantime, my changes are available for review [here](https://github.com/bitshares/bitshares-core/compare/develop...nathanhourt:issue-1670?expand=1).

[2019-03-23 18:45] abitmore commented on #1670
Looks good to me, although `initial_state.initial_parameters.get_current_fees() = fee_schedule::get_default();` looks a bit strange -- a non-const getter.

[2019-03-23 19:27] abitmore opened #1671 "Improve `lower_bound(min_price)` performance"
**User Story**
When calling something like `an_index::lower_bound(price.min(a,b))` as well as `upper_bound(max_price)`, step into `lower_bound()`, when the pointer is on a record with `price(a,b)`, 128-bit computations will occur, see https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/protocol/asset.cpp#L50-L51

IMHO the 128-bit computation is unnecessary in this case since `o

[2019-03-23 19:50] abitmore commented on #1094
Haven't found a better way.
* https://cs.stackexchange.com/questions/6266/comparing-rational-numbers
* https://stackoverflow.com/questions/4286761/how-to-compare-rational-numbers

[2019-03-23 19:58] abitmore commented on #1094
https://math.stackexchange.com/questions/14268/how-to-compare-two-multiplications-without-multiplying

[2019-03-24 13:34] pmconrad commented on #1671
Assuming the index is organized as a tree, any lookup (or insert) operation will have to traverse the tree and make a comparison at each node. In the case of lookup by price, a large fraction of these comparisons will be decided only by looking at the asset IDs, which is cheap. Comparisons on the numeric parts are unavoidable in the general case.

In the specific case of min/max lookups, compariso

[2019-03-24 13:37] pmconrad commented on #783
IMO `get_fill_order_history` should have a maximum as well, and IMO all of these should be configurable.

[2019-03-24 15:11] nathanhourt commented on #1584
Fair point. Go ahead and remove it, then :)

*Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.* [[1]](https://www.brainyquote.com/quotes/antoine_de_saintexupery_103610)

[2019-03-24 15:22] nathanhourt commented on #1658
It is as @pmconrad says. Just use the first 32 bytes of nonce as key, the next 16 as IV, and the last 16 are ignored. There's certainly no problem passing 32 bytes of data where only 16 are required. C APIs suck for readability, but there's no ambiguity to how it works.

[2019-03-24 18:35] abitmore opened #1675 "Deterministic numbering of virtual operations"
**User Story**

These fields are in `operation_history_object`:
[code]
Earlier described in https://github.com/bitshares/bitshares-core/issues/206, numbering of virtual operations (read: `virtual_op` field) is not deterministic, which have caused confusions to client application developers.

That said, different API nodes may return different `virtual_op` values when being queried with same parame

[2019-03-25 00:28] nathanhourt commented on #1670
That's a good point; I'll rename the non-`const` overload to `get_mutable_fees()`

[2019-03-25 12:26] pmconrad commented on #1675
Makes sense. Added "Protocol" label because there should be an implicit consensus about the numbering, although it is technically not part of the protocol.

[2019-03-25 12:28] ryanRfox commented on #1173
Last chance to raise any concerns with the numbering. It feels like we have consensus around the example above of `test-3.2.3` -> (mainnet) `3.2.0`. We just tagged a test release using the format on Friday and intend to cut the Protocol Upgrade tomorrow as "BitShares Core version `3.0.0`"

We will close this issues thereafter.

[2019-03-25 14:53] nathanhourt commented on #1670
PReq #1678 submitted

[2019-03-25 16:44] jmjatlanta opened #1679 "fork_db.set_max_size called too early, may make switching forks impossible"
**Bug Description**
This is an issue to track the scenario reported by steamit at https://github.com/steemit/steem/issues/2911 .

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
-

[2019-03-25 17:07] abitmore commented on #1333
Closing this since @jmjatlanta has created #1679 for following Steem fork_db issue (https://github.com/steemit/steem/issues/2911).

[2019-03-25 17:07] #1333 closed

[2019-03-25 22:06] cedar-book commented on #708
Public Testnet:  https://dev.bitshares.works/en/master/development/testnets/public_testnet.html (2019/03)

[2019-03-27 00:45] nathanhourt opened #1682 "ES Plugin: Get operation by ID"
**User Story**
As a `3rd party app developer` I want `the ability to fetch operations from history` so that `my apps can store and retrieve data on-chain`.

In short, I'd like to see a call like `operation get_operation_by_id(operation_history_id_type)` show up right about [here](https://github.com/bitshares/bitshares-core/blob/master/libraries/plugins/elasticsearch/include/graphene/elasticsearch/

[2019-03-27 01:58] oxarbitrage commented on #1569
closed by https://github.com/bitshares/bitshares-core/releases/tag/3.0.0

[2019-03-27 01:58] #1569 closed

[2019-03-27 02:04] #1173 closed

[2019-03-27 04:59] cedar-book commented on #782
@pmconrad, updated: [config example information](https://dev.bitshares.works/en/master/development/apps/node_config_example.html#examples)

[2019-03-27 06:36] manikey123 commented on #783
Based on above discussion, do I proceed with development ? @pmconrad @abitmore @ryanRfox

[2019-03-27 14:16] pmconrad commented on #1682
Perhaps generalize this ticket to other history APIs as well? If ES plugin is active, history API calls could be answered by calling ES, and it could even happen in parallel to the main thread.

[2019-03-27 14:35] pmconrad commented on #782
Thanks!

[2019-03-27 14:35] #782 closed

[2019-03-28 13:55] scientistnik commented on #475
Now, `GraphQL` is opensource!

[2019-03-29 13:58] ryanRfox commented on #783
Yes. Please proceed. Thank you for your efforts @manikey123

[2019-03-29 18:37] bitfag opened #1688 "No response from node while creating asset with wrong value of max_supply"
Tried to create an asset passing max_supply > uint64. Node didn't return any response at all. Expected behavior is to get an assertion error from the node.

[code]

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
-

[2019-03-30 12:57] scientistnik opened #1689 "How to know available API in the connected node?"
How to know available API in the connected node?
When I connect to `wss://bitshares.openledger.info/ws`, available API:
- database
- history
- market

When I connect to `wss://eu.nodes.bitshares.ws`, available API:
- database
- history
- market
- asset
- orders

Do we have a call to get the available API?

[2019-03-30 13:34] oxarbitrage commented on #1689
Currently not possible except for trying some call of an api and getting an error message.

I think it can be a good idea to add.

A bit related with https://github.com/bitshares/bitshares-core/issues/626

Wondering if there will be any security issues on adding a `get_available_apis` call.

[2019-03-30 13:39] oxarbitrage commented on #1688
This is a bit tricky but thank you for the report.

The node should be able to handle your number as max_supply is share_type(aka u128) but the problem is in the json parsing.

According to your log, the error is produced in `get_required_fees` api call but i dont think the fix should be implemented there but in the json parsing, inside fc.

Comments are welcome, i will dig some more.

[2019-03-30 22:04] oxarbitrage commented on #1682
Interesting @pmconrad and thanks for submitting @nathanhourt .

I was busy with some other stuff last week but i am taking this now, will update as soon as i have something you can see.

[2019-03-30 23:06] oxarbitrage commented on #115
This is covered by the es_objects plugin where proposals are persistent and where you can query by proposal id, for example:

https://bitshares-kibana.info/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5y,mode:quick,to:now))&_a=(columns:!(_source),index:debd10a0-20b6-11e9-82af-8dfbd16c55a9,interval:auto,query:(language:lucene,query:'id:%201.10.11'),sort:!(b

[2019-03-30 23:06] #115 closed

[2019-03-31 12:06] pmconrad commented on #1689
IMO #626 covers this as well, even if it's not mentioned explicitly. Closing this one.

[2019-03-31 12:08] pmconrad commented on #626
The service info call should include a list of all available APIs. Perhaps in the context of the logged in user, if any.

[2019-03-31 12:21] abitmore commented on #626
Perhaps extend "login_api" with an API to query for available APIs? Or directly add it to `application`?

[2019-03-31 12:36] pmconrad commented on #1688
I think the root of the problem is that the JSON parser fails to parse the websocket request.  I didn't try via websocket, but this call via HTTP prints an error message similar to the one above:
[code]
Perhaps the error message is not formatted properly and therefore not recognized by the websocket client.

Workaround: enclose the large number in double quotes, like this:
[code]
Response:
[code]

[2019-04-01 07:26] pmconrad commented on #626
IMO adding it to `application` makes more sense.

[2019-04-01 09:25] clockworkgr commented on #626
any chance of versioning the API separately to the core versions?

[2019-04-01 09:36] abitmore opened #1690 "cli_wallet crashes on quit"
**Bug Description**
cli_wallet crashes when quitting.

* press ctrl+D
[code]

* try command "quit"
[code]

[code]

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [x] CLI (the command line wallet)
- [ ] Deployment

[2019-04-01 10:54] clockworkgr commented on #1690
wasnt that fixed?

[2019-04-01 12:10] abitmore commented on #1690
@clockworkgr you mean #177? That issue was closed but not fixed.

This issue is different. I've made a patch locally, will push soon.

[2019-04-01 12:28] oxarbitrage commented on #1690
in what tag it is happening ? just tried a `develop` branch i have compiled but from before the hardfork code was merged into it and segfault is not happening.

[2019-04-01 12:32] oxarbitrage commented on #1690
confirmed crash in testnet 3.0.1.

[2019-04-01 13:31] abitmore commented on #1690
@oxarbitrage IIRC it always crashes. It's not a big deal, although a bit annoying. The reason is dereferencing after destruction.

A side effect with my (unpublished) patch: cli_wallet sometimes hang when pressing "ctrl+c", in this case, if press "enter" again, it will crash.

Another side effect with my patch: when server disconnected it, it would hang. IMHO this is serious and unacceptable.

By

[2019-04-01 13:37] OpenLedgerApp commented on #1690
@ryanRfox we would like to work on this task.

[2019-04-01 14:09] ryanRfox commented on #1675
Currently this Issues is assigned to a Feature Release (3.1). Should it be moved to the Protocol Upgrade (4.0.0) release?

[2019-04-01 14:27] ryanRfox commented on #1318
Good discussion going on here. I'd like wrap this up in the next two weeks, if possible. To increase speed, I feel we should move the [draft outline](https://github.com/cedar-book/BTS-Core-work/blob/master/style_guide/code-style1.md) @cedar-book started in their repo to a Wiki page (mark it "work in progress")? That way any of us may edit the Wiki without needing to approve PRs. Will that work for

[2019-04-01 19:16] cedar-book commented on #1318
@ryanRfox, I do not edit a Wiki. Thank you!

[2019-04-02 07:48] OpenLedgerApp commented on #1690
@abitmore  Ok. NP! Please in the future - ask @ryanRfox to change status "In development"
![image](https://user-images.githubusercontent.com/42674402/55384881-8a644c00-5534-11e9-85be-eeae52d29d40.png)
@ryanRfox it is second case when we try to get the issue and core team says "we are working on it". Please don't forget to update statuses. Thanks!

[2019-04-02 08:03] abitmore opened #1692 "Overabundant balance check for bid_collateral_operation"
**Bug Description**
https://github.com/bitshares/bitshares-core/blob/71641eb27cfd99c583baf723a394152ae49dd47f/libraries/chain/market_evaluator.cpp#L394-L399

* If a bidder is creating a new bid, this check is fine;
* if a bidder is updating an old bid, this check doesn't make sense but only annoying, actually we should check `balance + old_bid_collateral >= new_bid_collateral`, because the old bid

[2019-04-02 09:46] clockworkgr commented on #1690
thought it was fixed in: https://github.com/bitshares/bitshares-core/pull/1104

But probably misunderstood

[2019-04-02 11:48] nathanhourt commented on #1318
Oh, one other suggestion: deprecate `typedef` in favor of `using`. This is recommended in the [C++ Core Guidelines](https://github.com/isocpp/CppCoreGuidelines/blob/master/CppCoreGuidelines.md#Rt-using) and is also, I think, far more readable.

[2019-04-02 15:49] ryanRfox commented on #1690
@OpenLedgerApp Typically we use the **Assignees** parameter to indicate who is working on it (sometimes we forget to add this, or are slow to assign for others).

![image](https://user-images.githubusercontent.com/13419165/55416218-60168c80-553c-11e9-9e43-3d8a6049da0f.png)

By default the the Issue goes into the **To do** bucket. Please check the Comments within each Issue to determine if anyone i

[2019-04-02 15:54] OpenLedgerApp commented on #1690
@ryanRfox  Thanks for the clarifications! We will do so.

[2019-04-03 07:51] pmconrad commented on #626
We can list the available APIs together with a version string.

We don't have a definition for API version numbers yet (and that's beyond the scope of this issue), but it would allow us to introduce proper API versioning without having to modify *this* API call. :-)

[2019-04-03 07:53] pmconrad commented on #1675
No, it can go into the feature release. This non-deterministic behaviour should be fixed in the next release.

[2019-04-03 13:56] ryanRfox opened #1694 "Core Team Recommendations for HTLC Parameters"
**NOTE:** Following are recommendations offered by the Core Team for the Committee’s consideration in setting the required values to activate HTLC functionality included in the BitShares 3.0.0 Protocol Upgrade Release on 23 APR 2019. Implementation of [BSIP44](https://github.com/bitshares/bsips/blob/master/bsip-0044.md) introduces the following Committee-controlled chain parameters and fees. The C

[2019-04-03 14:08] jmjatlanta commented on #1694
ACK

[2019-04-03 14:13] xeroc commented on #1694
ACK

[2019-04-03 14:46] pmconrad commented on #1694
ACK

[2019-04-03 17:24] abitmore commented on #1694
I'd like to see all those `0.1 BTS` be updated to x USD.

[2019-04-04 01:23] ryanRfox commented on #1694
Changed create/redeem fixed component fees to $0.001 USD (from 0.1 BTS) to remain consistent with intent of 1) denominating in USD and 2) keeping the fixed fee nominal to allow using the variable per day/kb fee as the majority cost component of the respective operation.

[2019-04-04 09:20] abitmore commented on #1694
@ryanRfox thanks. IMHO HTLC transfer should NOT be cheaper than simple transfer (this may be a discussion for the committee though). Currently transfer fee is 1.8 US cent. Theoretical (although hard to meet) minimum HTLC transfer fee proposed in this issue is 0.2 cent (0.1 cent creation fee with a zero `claim_period_seconds` + 0.1 cent redeem fee with an empty preimage), it's still more expensive

[2019-04-04 09:26] pmconrad commented on #1694
Realistically, users will pay at least one per-day and one per-kb fee. I think if someone starts spamming the chain with zero-period empty-preimage "transfers" we can still increase the fixed fee.

[2019-04-04 09:42] abitmore opened #1696 "Insufficient htlc_extend_operation validation"
**Bug Description**
1. Everyone can extend a HTLC, which means funds inside can be locked forever (although need to pay per-day fee).
https://github.com/bitshares/bitshares-core/blob/11432f38a63416c3204278e6ea1d4f8133369585/libraries/chain/htlc_evaluator.cpp#L123-L127

2. Theoretically the sender can overflow a HTLC and got refunded (although may need to pay a large per-day fee).
https://github.co

[2019-04-04 09:55] xeroc commented on #1696
Related, the fee_payer for that operation:

https://github.com/bitshares/bitshares-core/blob/11432f38a63416c3204278e6ea1d4f8133369585/libraries/chain/include/graphene/chain/protocol/htlc.hpp#L168-L169

The question is whether this is a *bug* or a *feature*.

[2019-04-04 09:58] abitmore commented on #1256
Maybe related:

FYI: I just got a crash during initial sync of bitshares `3.0.0` with only witness plugin
it was around block 28M and I don't have any other info than
`traps: p2p[4090] general protection ip:55b77c90cc9f sp:7f7010a945a0 error:0 in witness_node[55b77b7d7000+3da7000]`
Yes, Ubuntu 18.04 LTS, built with `-DCMAKE_BUILD_TYPE=Release`
and it happened again
`traps: p2p[9209] general protec

[2019-04-04 10:03] pmconrad commented on #1696
This is clearly a bug. BSIP-44 specifies checks on both update_issuer and time:

  Validate: 'issuer' = get_htlc(id).from
  Validate: `timeout_threshold` < now() + GRAPHENE_HTLC_MAXIMUM_DURRATION

How the hell did we miss that?

[2019-04-04 10:05] abitmore commented on #1696
By the way, the `fee_payer` in `htlc_redeem_operation` is not validated as well, however the funds will be sent to the `to` account of the HTLC object, so it's not a big deal.

https://github.com/bitshares/bitshares-core/blob/11432f38a63416c3204278e6ea1d4f8133369585/libraries/chain/htlc_evaluator.cpp#L100-L110

An issue related to this is:
https://github.com/bitshares/bitshares-core/blob/11432f38a

[2019-04-04 10:21] abitmore opened #1697 "HTLC preimage size is 16 bit, is it too small?"
**Bug Description**
The limit in global parameter is 32 bit,
https://github.com/bitshares/bitshares-core/blob/11432f38a63416c3204278e6ea1d4f8133369585/libraries/chain/include/graphene/chain/protocol/chain_parameters.hpp#L36

but the field used in the operation and object is 16 bit:
https://github.com/bitshares/bitshares-core/blob/11432f38a63416c3204278e6ea1d4f8133369585/libraries/chain/include/gra

[2019-04-04 10:49] pmconrad commented on #1697
This is specified explicitly in BSIP-44 https://github.com/bitshares/bsips/blob/master/bsip-0044.md#objects

[2019-04-04 11:01] abitmore commented on #1697
OK.

[2019-04-04 11:01] #1697 closed

[2019-04-04 12:44] jmjatlanta commented on #1696
As for htlc_redeem: I cannot think of a scenario where it would be advantageous to allow someone else to execute an HTLC. I think we should validate that the redeemer is the "from".

If someone can think of a scenario, then we can conditionally add "to" to the _impacted collection.

I do not feel this redeem issue is urgent. I await the opinions of others.

[2019-04-04 17:38] abitmore commented on #1696
@jmjatlanta in the scenario: A initialized a HTLC to transfer to B, C redeemed, get_account_history of A contains a create and a redeemed, history of B contains only a create, history of C contains only a redeem. It would be a bit strange that B doesn't have a history entry while the balance increased.

Actually, if we can prevent another account from redeeming the HTLC, this issue would be gone.

[2019-04-04 17:58] abitmore opened #1700 "Binaries for Ubuntu 16.04 LTS and Ubuntu 18.04 LTS"
**User Story**
As a node operator I want that the pre-built binaries can run in both Ubuntu 18.04 LTS and Ubuntu 16.04 LTS. If unable to make one binary package that can run in both platform, please make 2 binary packages.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] B

[2019-04-04 19:55] ryanRfox commented on #1694
It is my understanding that the htlc_create operation has minimum fees for both fee_per_day and fee_per_kb. Having zero length for either (if possible) should collect these fees to mitigate spam.

[2019-04-04 23:42] jmjatlanta commented on #1696
Done as part of #1699. Please take a look.

[2019-04-05 02:46] jmjatlanta commented on #1700
The Linux binaries referred to a dynamically-linked version of libcurl, which of course is a bad idea when distributing binaries. They were recompiled, with libcurl statically-linked. Please check the updated release page, and post your results here.

That page is: https://github.com/bitshares/bitshares-core/releases/tag/3.0.0

[2019-04-05 07:12] pmconrad commented on #1694
Zero period and zero length count as 0 days and 0 kb respectively. In these cases only the fixed fee applies. IMO the suggested values should be sufficient to mitigate spam. If not we can still increase them.

[2019-04-05 07:22] pmconrad commented on #1696
https://github.com/bitshares/bsips/blob/master/bsip-0044.md#redeem specifies that

IMO the correct fix is to include `htlc_redeemed_operation` also in the history of `to`.

[2019-04-05 10:54] oxarbitrage commented on #1700
I have tried the new binaries in Ubuntu 16.04 LTS and in Ubuntu 18.04 LTS, both working ok.

Thanks for the updates.

[2019-04-05 11:24] jmjatlanta commented on #1696
I guess we should follow the spec. #1699 updated.

[2019-04-05 11:31] xeroc opened #1701 "js_operation_serializer outdates"
As a UI developer I want to have https://github.com/bitshares/bitsharesjs/blob/master/lib/serializer/src/operations.js automatically generated by `js_operations_serializer` from core.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [x] API (the application programming interface)
- [x] Build (the build process or something prior

[2019-04-05 11:55] xeroc commented on #1701
Still missing: #947

[2019-04-05 13:10] abitmore commented on #1696
I agree that it's good to follow the spec. However, it means the history object numbering of new code is different than 3.0.0, thus we need to force everyone to upgrade to avoid potential data mismatching issues (which would be messy). So IMHO under the current situation we need to apply a more strict rule (can be witness-only) even if `to` is added to impacted of `htlc_redeemed_operation` until n

[2019-04-05 13:43] abitmore commented on #1256
Gandalf sent me a core dump https://pastebin.com/7cBPuUYm.
TL;DR (main suspect)

[code]

[code]

Here is another instance built with RelWithDbgInfo
[code]

[2019-04-05 15:22] abitmore opened #1703 "Witness node cannot switch to correct fork on restart if was shut down on another long fork"
**Bug Description**
If we shutdown a witness_node which is not on the correct fork when the chain is forking, if both forks are long, when restarting, it is unable to switch to the correct fork, and reports `unlinkable_block_exception`.

If the correct fork is a soft fork, if we run the soft fork code with current data, it will crash on the forking block when replaying.

Related logs:
[code]

As a

[2019-04-05 19:31] abitmore commented on #1701
There was a (IMHO incomplete) PR https://github.com/bitshares/bitshares-core/pull/1133. @xeroc perhaps your new code will make it obsolete.

[2019-04-06 17:48] pmconrad commented on #1256
Hm, the destructor of transaction_object throws?!
`clear_expired_transactions` is a bit unusual in that it operates directly on a mutable index instead of using the normal `database::remove` call. Any idea why`

[2019-04-06 18:33] abitmore commented on #1256
I think it's old code, it's there before `database::remove()` etc were in place. @nathanhourt do you know?

[2019-04-06 19:28] pmconrad commented on #1703
A simple solution would be to enable undo_db `GRAPHENE_MAX_UNDO_HISTORY` before the last block in the index. That should cover all possible cases.
A more complex solution would write the last known LIB on disk somewhere, either in a separate file (probably best), or by modifying the index file structure or the blocks file structure. Not sure if it's worth it.

We should measure how much slower rep

[2019-04-06 19:37] pmconrad commented on #1701
It was my understanding that the sole purpose of `js_operation_serializer` is to describe API data structures in a way that can be parsed by bitshares-js.

If the output of `js_operation_serializer` is different from what bitshares-js uses today, that opens up two questions:
1. How is the `operations.js` file in bitshares-js maintained today?
2. Is `js_operation_serializer` still required at all?

[2019-04-06 21:32] clockworkgr commented on #1701
1. I believe there is some manual work involved
2. Probably easier if they did

[2019-04-07 05:18] nathanhourt commented on #1256
Oh wow, that is old code... Yeah, it may very well predate `database::remove()` -- the only reason I can think of to bypass it otherwise is to avoid creating undo data. Logically it would predate it, since transaction handling has to get written before operations, evaluators, and objects.

Does thread #3 actually throw? It doesn't look like it, but that's the only thread doing anything when the co

[2019-04-07 19:28] abitmore commented on #1256
The core dump says:
[code]

[2019-04-08 11:59] pmconrad commented on #1701
@sschiessl-bcp can you comment? Do you need the serializer? Which output format do you need / would you prefer?

[2019-04-08 12:03] sschiessl-bcp commented on #1701
The serializer comes it handy for adjusting and should be maintained. I have not checked how it deviates, but I assume it is only in the formatting since we have introduced the prettifier hook.

Best case would be if it matches of course, but it would also be accepable to run the prettifier hook manually once before comparing it.

[2019-04-08 12:34] xeroc commented on #1701
This pull request was mostly generated by the serializer in this PR:
https://github.com/bitshares/bitsharesjs/pull/43/files

[2019-04-08 12:36] jmjatlanta commented on #1700
Positive responses seem to indicate success. Closing this ticket.

[2019-04-08 12:36] #1700 closed

[2019-04-08 20:27] jmjatlanta opened #1711 "Release notes for 3.0.1"
# BitShares Core Release 3.0.1

## Fixes
- Added validation to the htlc_extend validation to prevent unwanted extensions
- Added history entry for all parties involved in an htlc.

## Where to Learn More
- Update to [BitShares Core Release 3.0.0](https://github.com/bitshares/bitshares-core/releases/tag/3.0.0)
- Users documentation: [How BitShares Works](https://how.bitshares.works)
- Developer doc

[2019-04-09 16:07] pmconrad commented on #1711
IMO it should be added that API nodes are strongly encouraged to upgrade or they risk inconsistent/mismatching account history IDs.

[2019-04-09 16:45] pmconrad commented on #1701
Should the serializer produce output identical to that file then?

[2019-04-09 21:33] nathanhourt commented on #1256
Ahhh, OK, my mistake. So that means, according to the debug build, the crash is [here](https://github.com/bitshares/bitshares-core/blob/master/libraries/net/message_oriented_connection.cpp#L160)? Can we confirm that the target has the same line 160? If the crash is really on that line, it likely means that `this` has been deleted.

[2019-04-10 07:13] pmconrad commented on #1537
No further comments, so closing again.

[2019-04-10 07:13] #1537 closed

[2019-04-10 07:58] xeroc commented on #1701
That would probably be the best, I only made changes so that the output is no longer in CoffeeScript but rather in ES/Javascript. Someone else would need to follow up on this.

You can find a quick diff here:
http://www.mergely.com/ITVZr6ep/

Ignore the stuff at the top. Down the file, lots of whitespace/wrapping differences that could potentially be resovled by jslint

[2019-04-10 10:50] abitmore commented on #1696
Fixed by #1699.

[2019-04-10 10:50] #1696 closed

[2019-04-10 10:50] abitmore commented on #1711
Released.

[2019-04-10 10:50] #1711 closed

[2019-04-10 11:04] abitmore opened #1713 "HTLC database APIs"
**User Story**
As a user / client developer I want database APIs to query for active HTLC objects.
- [ ] One API to list all HTLC objects.
- [x] APIs to by account, perhaps 2 APIs, one query by `from`, one query by `to`.
- [x] Pagination should be considered.
- [ ] Perhaps by default order by expiration?
- [x] Perhaps let `get_full_accounts` API return HTLC objects as well.
- [ ] Best have CLI com

[2019-04-10 11:34] abitmore commented on #1256
Yes I think so.

[2019-04-10 11:43] abitmore commented on #1675
Merged #1676. Closing.

[2019-04-10 11:43] #1675 closed

[2019-04-10 11:44] oxarbitrage commented on #1713
I am interested on this one.

Question: Do we want to add the API calls in in database.cpp or do we want to create a new(enabled or disabled by default) `htlc_api` in api.cpp?

[2019-04-10 11:47] abitmore commented on #1670
Merged #1678. Closing.

[2019-04-10 11:47] #1670 closed

[2019-04-10 12:00] abitmore commented on #1701
There is a document somewhere mentioned a step to convert generated coffee script to javascript.

[2019-04-10 12:23] sschiessl-bcp commented on #777
Added an overview here to keep track through bitsharesjs

https://github.com/bitshares/bitshares-ui/issues/2612

[2019-04-10 12:25] sschiessl-bcp commented on #777
This issue is a real blocker for performance improvements on the reference UI.

I would like to request:
 - all backend calls that do set subscriptions receive an optional flag to opt-out of subscription
 - add a `unsubsribe` call that obtains a list of ids which in turn unsubscribes (no matter what the object is)

Sorry for jumping the gun here, how quick could this be supported?

[2019-04-10 12:44] abitmore commented on #777
IIRC subscribed object IDs are stored in a `bloom_filter` which doesn't support `delete`, that means you can only add new IDs or clear all. `bloom_filter` was chosen (by BM) to save RAM. See https://github.com/bitshares/bitshares-core/issues/726

[2019-04-10 12:46] sschiessl-bcp commented on #777
Ah, thank you!

Just the opt out then?

Possible a `set_subscribe_behavior` that toggles the default subscription behavior (only subscription then if I add the optional parameter in every call with `true`)

[2019-04-10 12:49] abitmore commented on #777
@sschiessl-bcp that's what we were discussing in #726

[2019-04-10 12:52] sschiessl-bcp commented on #777
Sorry, should have read more details on it. To ensure proper UX in the frontend we would need fine-control what subscribes and what not, thus the optional parameter in every call.

[2019-04-11 06:33] pmconrad commented on #1713
IMO database.cpp, but please use consistent naming.

[2019-04-11 06:53] pmconrad commented on #1210
Resolved by #1635

[2019-04-11 06:53] #1210 closed

[2019-04-11 10:58] pmconrad commented on #1134
@dmarcosa are you working on this? What's the status?

[2019-04-11 10:59] pmconrad commented on #991
@dmarcosa are you working on this? What's the status?

[2019-04-11 10:59] pmconrad commented on #1002
@dmarcosa are you working on this? What's the status?

[2019-04-11 11:02] pmconrad commented on #1591
@cedar-book I think you should add some links from @nathanhourt 's testnet description to your testnet documentation.

[2019-04-11 13:10] pmconrad commented on #946
Tried to reproduce but failed.
Apparently fixed by https://github.com/bitshares/bitshares-core/pull/1529/commits/7c3968b589a07fa40eb64d4b050784c4440de78a in #1529 .

[2019-04-11 13:10] #946 closed

[2019-04-11 13:20] pmconrad commented on #1701
Edited OP to make this a user story.

[2019-04-11 13:21] pmconrad commented on #947
Closing in favour of #1701 which is broader in scope.

[2019-04-11 13:21] #947 closed

[2019-04-11 13:23] pmconrad commented on #1701
See #1133 for some steps in the right (I hope) direction.

[2019-04-11 13:48] pmconrad commented on #1258
Is there anything left to do here?

[2019-04-11 13:48] pmconrad commented on #1658
@zychappy did you get this to work?

[2019-04-11 13:52] pmconrad commented on #1630
Closing since ES provides a manageable solution.

[2019-04-11 13:52] #1630 closed

[2019-04-11 13:53] pmconrad commented on #1297
Closing due to lack of feedback.

[2019-04-11 13:53] #1297 closed

[2019-04-11 14:22] pmconrad commented on #1552
Closing due to lack of feedback.

[2019-04-11 14:22] #1552 closed

[2019-04-11 14:25] pmconrad commented on #314
No other comments arrived. Closing as per @jmjatlanta 's suggestion.

[2019-04-11 14:26] nathanhourt commented on #1256
Have we got any way of reproducing this crash?

[2019-04-11 14:33] pmconrad commented on #1209
Unassigned due to lack of feedback.

[2019-04-11 16:06] zychappy commented on #1658
@pmconrad not yet，I tried with some ways   -_-!!
https://github.com/denkhaus/bitshares/issues/23#issuecomment-472217706

[2019-04-11 18:14] nathanhourt commented on #1658
@zychappy Are you trying to decrypt a memo created by the reference BitShares wallets, or by some third party software? That thread seems to be indicating that this library creates memos which are not compatible with ours, so you will have to do something clever to write a program capable of decrypting both of them.

[2019-04-11 18:56] jmjatlanta commented on #847
PRs are done to implement this, but there is no consensus as to if we should, and to what degree. I will unassign myself to this ticket and wait for consensus.

[2019-04-11 19:02] jmjatlanta commented on #1256
Unassigning myself, as this will require more brainpower than I have. This will probably require (as it has to this point) a team effort. I hope for some big clues that can point us to a true cause.

[2019-04-12 03:04] cedar-book commented on #1258
@pmconrad, I do not have any. I have posted several reference links to the dev website.

[2019-04-12 09:12] pmconrad commented on #1658
There's at least one call to sha512 missing here: https://github.com/denkhaus/bitshares/blob/master/types/privatekey.go#L114-L135
And this function is called for a 16 byte secret and 16 byte IV, whereas we use 32 byte secret and 16 byte IV.

[2019-04-12 09:14] pmconrad commented on #847
We're going to discuss (and hopefully decide) this after Easter.

[2019-04-12 09:16] pmconrad commented on #1258
Good, thanks!

[2019-04-12 09:16] #1258 closed

[2019-04-12 10:20] jmjatlanta commented on #1619
Fixed by PR #1716

[2019-04-12 10:20] #1619 closed

[2019-04-12 10:24] pmconrad commented on #194
Tested with live data. `current_feed_publication_time` is saved/restored as expected.
The observed behaviour was either due to old code (a lot has changed since then), or due to the week of empty blocks which would expire all feeds.

[2019-04-12 10:24] #194 closed

[2019-04-12 10:27] pmconrad commented on #176
IMO not worth it.

To inspect a particular block, the snapshot-plugin may be a better choice.
Re-index is often required due to code changes anyway.
Doesn't happen for normal nodes (except in case of misconfiguration, for which another replay is well-deserved punishment ;-) ).

[2019-04-12 10:27] #176 closed

[2019-04-12 10:34] pmconrad commented on #1593
Do we have a list of supported compilers on windows?

[2019-04-12 10:34] pmconrad commented on #350
Closing in favour of @jmjatlanta 's windows epic #1593

[2019-04-12 10:34] #350 closed

[2019-04-12 10:41] pmconrad commented on #380
We have an `asset_claim_pool_operation` now to "withdraw" funds from the fee pool. I believe this makes the `pay_fees_core_only` flag superfluous.

The `exchange_restricted` feature may already be achievable using black/whitelisting. Ideas anyone?

[2019-04-12 10:45] pmconrad commented on #555
Closing since this is (was) being discussed in a broader scope in https://github.com/bitshares/bsips/issues/48 .

[2019-04-12 10:45] #555 closed

[2019-04-12 10:48] pmconrad commented on #154
Closing in favour of BSIP-17 since it is more general and more complete than this idea here.

[2019-04-12 10:48] #154 closed

[2019-04-12 10:53] pmconrad commented on #387
@xeroc I'm not clear about the intent of this issue.

Are buyback accounts used anywhere except for STEALTH? Are there real-life use-cases that we don't support? Would a documentation change "fix" the problem with `CORE` in `allowed_assets`?

[2019-04-12 10:56] pmconrad commented on #417
Closing due to lack of discussion / progress.

[2019-04-12 10:56] #417 closed

[2019-04-12 12:44] jmjatlanta commented on #1593
Well, we know Visual Studio 2015 Update 1 works. I have not tried it, but I do see old documentation on Visual Studio 2013, but I don't think we want to support such old versions. With recent changes (not part of this PR) we can support Visual Studio 2017, and probably Visual Studio 2019 that was officially released 2-April. I will be trying that (hopefully today as well)

I have built a document

[2019-04-12 13:01] cedar-book commented on #1591
@pmconrad Thank you for your advice. I will check into that.

[2019-04-12 17:09] abitmore commented on #1701
Mentioned in bitsharesjs: https://github.com/bitshares/bitsharesjs/blob/master/lib/serializer/src/operations.js#L59-L61
[code]

[2019-04-12 18:24] abitmore commented on #1256
@nathanhourt for the issue Gandalf reported above, in order to reproduce it, he tried several times to resync, sometimes the node crashed.

For the issue described in OP, I don't know a way to reproduce.

[2019-04-12 19:17] abitmore commented on #194
Probably fixed by https://github.com/cryptonomex/graphene/pull/614 and https://github.com/cryptonomex/graphene/pull/617. Anyway, I agree that we can close this issue.

[2019-04-12 19:27] abitmore commented on #380
The `exchange_restricted` feature mentioned in this issue has been implemented with this PR https://github.com/bitshares/bitshares-core/pull/1611, pending BSIP https://github.com/bitshares/bsips/issues/148. Black/whitelisting doesn't resolve it.

[2019-04-13 11:01] abitmore opened #1719 "Inconsistent `required_approval_index` when loading from disk"
**Bug Description**

The secondary index class `required_approval_index` has an empty overridden member function `about_to_modify(obj)` as well as an empty `object_modified(obj)` function, combined with the  logic in `object_inserted(obj)`, may lead to inconsistent chain state and memory leak when reloading data from disk.

https://github.com/bitshares/bitshares-core/blob/623aea265f2711adade982fc3

[2019-04-13 16:24] pmconrad commented on #1719
Nice find, thanks.

I wouldn't call it "inconsistent chain state" since only API queries are affected, not the consensus-related state.

[2019-04-14 04:51] nathanhourt commented on #1506
OK. I think I've got something that works, here. I resolved the ID issue by removing the object type from the ID template, and adding a template mapping that can be defined later which allows the fetching of the object type given the ID type. Now when you call `object_database::get(object_id<>)`, as long as you've already `#include`d the object type's header (which defines the mapping for that obj

[2019-04-14 05:00] nathanhourt commented on #1506
Oh, you can check out my branch from https://github.com/nathanhourt/bitshares-2/tree/issue-1506

[2019-04-14 09:13] pmconrad commented on #1506
Wild guess: some headers apply `using` or even `using namespace` to include stuff from other namespaces. This is generally ill-advised and may lead to conflicts and ambiguities.

[2019-04-14 16:43] nathanhourt commented on #1506
No, I don't think so. The error isn't an ambiguity. As best I can tell, it's unable to find the overload of `fc::raw::pack` specialized for extensions, unless that overload is defined (`#include`d) prior to the definition of the generic overload of `fc::raw::pack`. In other words, it only works if `ext.hpp` is parsed before `fc/io/raw.hpp` is.

Fundamentally, this does not make sense to me. A temp

[2019-04-14 20:15] pmconrad commented on #1719
Merged #1719

[2019-04-14 20:15] #1719 closed

[2019-04-14 21:06] nathanhourt commented on #1506
Rebase complete -- will preq after merging bitshares/bitshares-fc#123

[2019-04-15 01:08] zychappy commented on #1658
@nathanhourt yes,I am using sign_memo and read_memo of the wallet-api,but this is not a best solution for me,I will keep searching for another way.
@pmconrad thank you for reply ^ ^

[2019-04-16 06:15] pmconrad commented on #1591
Good, thanks!

[2019-04-16 06:15] #1591 closed

[2019-04-16 06:17] pmconrad commented on #1304
Good, thanks!

[2019-04-16 06:17] #1304 closed

[2019-04-16 09:20] bitfag opened #1722 "testnet branch hardcoded settings and default config are not suitable for private testnet by default"
**Bug Description**

I'm testing an application on the local testnet. Testsuite doing balance claim, create account, create assets, transfer, places 1 buy order + 1 sell order.

Expected behavior: all operations appeared in the blocks only once.
Actual result: multiple operations with identical signatures in the block history included into different blocks.

Attached [blocks.txt](https://github.co

[2019-04-16 11:27] bitfag commented on #149
I'm running a private testnet and constantly getting logging parsing error

[code]

config.ini contains multiple witnesses

[code]

If I'm commenting out all witnesses except the first, logging begins to work.

Bitshares version is recent, docker image 26b7a6685e66

[2019-04-16 11:47] bitfag opened #1723 "logging.ini does not symlinked inside docker CT"
Docker entrypoint bitsharesentry.sh creates symlink for config.ini, but not for logging.ini. Because of this, logging may appear as non-working.

[2019-04-16 17:36] abitmore commented on #1722
Last time I heard of similar issue, is due to producers running `testnet` branch with default `config.ini` which contains a few checkpoints. I'm unable to find the ticket so far.

[2019-04-16 17:44] bitfag commented on #1722
config.ini is attached, there are no checkpoints.

I also tried to run a testnet with single witness, didn't help.

[2019-04-16 18:35] nathanhourt commented on #1506
Actually, I'm going to work on this a little more; I've decided it's not ready for integration yet. Making the protocol code a separate library is primarily for the purpose of eliminating its dependency on the chain library. But I also want to eliminate dependency on the db library and even fc. The protocol should stand alone, and not invoke any of our peculiar implementation details, and our data

[2019-04-16 18:46] nathanhourt commented on #1506
Lol, yeah, right... This is gonna suck.

[2019-04-17 10:01] bitfag commented on #1722
Ok, thanks @abitmore, the issue is caused by hardcoded `checkpoint` variable in the `testnet` branch. Setting of `checkpoint = []` fixes the problem.

[2019-04-17 12:16] cwyyprog opened #1724 "fatal error: sys/ioctl.h: No such file or directory when building on Mingw64"
When building the develop branch on Msys2/Mingw64:
[code]
Google search tells editline don't support Mingw.  Can we just simply remove editline on Mingw? There's no editline on MSVC.
I think this is related to #1593.

[2019-04-17 13:17] pmconrad commented on #1506
I don't really see the point of moving or re-implementing serialization outside fc. Same for other building blocks like `static_variant`. The only exception to this would be integration of a ready-made drop-in replacement that comes from either `std` or `boost`.

Agree about removing the dependency on db.

[2019-04-17 13:21] pmconrad commented on #1723
IMO the docker build needs a rework anyway. The resulting image is HUGE. Better use a two-stage build where the seconds stage copies build artifacts into a new base image, like e. g. https://github.com/soundac/SounDAC-Source/blob/master/Dockerfile

[2019-04-17 13:41] pmconrad commented on #1724
Yes we have disabled editline on windows builds because it's not supported. IMO it's OK do disable it in Mingw builds as well.

[2019-04-19 09:14] OpenLedgerApp commented on #1006
We`ve checked the abitmore's theory and we can state with confidence that no memory leaks detected during node synchronization.

Following instrumentation used:

- memory (leak) sanitizer
SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fsanitize=leak -fno-omit-frame-pointer -static-libasan")
- valgrind
valgrind --tool=memcheck --leak-check=full ./programs/witness_node/witness_node

valgrind output
==1523

[2019-04-19 12:28] abitmore commented on #1722
@cedar-book @ryanRfox @pmconrad what do you think?

[2019-04-19 15:39] ninetor commented on #1453
I have created a laster build by myself in Ubuntu 16, tried to start it on a new server (Ubuntu 18.10) and got

[code]

I have tried to build libcurl statically, with -DCURL_STATICLIB=ON statementm but it has no effect.
-DBUILD_SHARED_LIBS=ON gives an error.

What i'm doing wrong? How i can create build without 'CURL_OPENSSL_3' issue on ubuntu 18.10?

[2019-04-19 21:46] nathanhourt commented on #1506
*sigh* You're right, I get ahead of myself. Replacing fc, even if just in `protocol`, is outside the scope of this issue, and is too big to be worth holding this improvement up for.

But swapping the dependency from `protocol => db` to `db => protocol` is an easy win, so I'll do that.

[2019-04-19 22:14] nathanhourt commented on #1506
That was an amazingly trivial diff for how much cleaner it makes things conceptually. OK, I'll call this ready to merge once we get the fc change merged (or figure out how to render it irrelevant)

[2019-04-20 09:15] pmconrad commented on #1006
Thanks. So we don't have memory leaks in the "traditional" sense.

Still, I think the 2 GB difference between restarts is too big to be explained by e. g. heap fragmentation. Stuck tasks might not show up in valgrind if they are properly cleaned up during shutdown.

[2019-04-20 09:21] pmconrad commented on #1722
Documentation update needed:
* http://dev.bitshares.works/en/master/development/testnets/private_testnet.html#set-up-configuration
* http://dev.bitshares.works/en/master/development/apps/node_config_example_private_testnet.html#bts-config-ini-eg-private-testnet

Best add `checkpoint = []` to example config plus a comment that it's needed to overwrite default checkpoint.

[2019-04-20 11:14] abitmore commented on #1453
@jmjatlanta is there a document about how to statically link libcurl in Ubuntu? If not, can you make one? Thanks.

[2019-04-20 18:55] jmjatlanta commented on #1453
I will retrace my steps and build a document.

[2019-04-21 00:45] syalon commented on #1713
Is it possible to provide an api for query by hashvalue?

[2019-04-21 00:49] syalon commented on #1713
In addition, preimage length is too unfriendly for users.

[2019-04-21 00:56] syalon commented on #1713
MobileApp requirements:
* get_full_accounts returns all relevant htlc, including from and to.
* query by hash (if possible)
* preimage length (can omit the best). Is this just for quick verification?

[2019-04-21 02:41] cedar-book commented on #1722
I am working on.

[2019-04-21 18:32] abitmore commented on #1713
Perhaps we can make `preimage_size` effectively optional, e.g. if `size==0`, don't check the size. Need a BSIP.

[2019-04-21 23:51] xloem commented on #847
I'd like to add a note that the public installed headers don't compile on c++17 atm.  There are symbol clashes with the std:: namespace.  Building with c++17 would catch things like that.

[2019-04-22 10:23] xloem commented on #626
just to mention #1726, it could be nice to provide the url of the rpc server as wel.

I suppose for security it would be best if private addresses were censored, or maybe a way around security concerns would be to make configurable what information is included.

[2019-04-22 13:11] oxarbitrage commented on #1652
FYI: i updated https://bitshares-kibana.info for hardfork and also used code in this pull to load genesis data.

https://bitshares-kibana.info/app/kibana#/discover?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-5y,mode:quick,to:now))&_a=(columns:!(_source),index:debd10a0-20b6-11e9-82af-8dfbd16c55a9,interval:auto,query:(language:lucene,query:'_index:%20objects-account%20AND%20id:

[2019-04-22 18:06] oxarbitrage commented on #962
Repo has been merged, thank you @Zapata for the hard work.

https://github.com/bitshares/bitshares-explorer-api

Closing the issue.

[2019-04-22 18:06] #962 closed

[2019-04-22 22:46] dot5enko opened #1730 "add fail_reason to reflection meta"
**Bug Description**
fail_reason field of proposal_object is not added to [proposal_object.hpp](https://github.com/bitshares/bitshares-core/blob/58c0c494a61c33e5a4ec2312084322f0014b4f5b/libraries/chain/include/graphene/chain/proposal_object.hpp#L102)  FC_REFLECT_DERIVED meta so RPC `get_object` results lacks that info

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this

[2019-04-23 06:35] pmconrad commented on #1730
Ouch. Thanks.
This should be fixed in the upcoming feature release.

[2019-04-23 10:56] oxarbitrage commented on #1652
closed by https://github.com/bitshares/bitshares-core/pull/1717

[2019-04-23 10:56] #1652 closed

[2019-04-23 12:17] jmjatlanta commented on #1553
Reopening

[2019-04-23 12:42] jmjatlanta commented on #847
BitShares Core will now support c++14 features. The build scripts will be adjusted, probably in the release following 3.2.0.

[2019-04-23 12:45] abitmore commented on #1303
I believe this has been fixed by #1626.

By the way, cli_tests sometimes hang, we can open another issue for it.

[2019-04-23 12:45] #1303 closed

[2019-04-23 12:56] nathanhourt commented on #1568
This issue was created to follow up #1506, and remove the protocol library from the main BitShares repo altogether once it was separated from the chain library.

This would be done primarily to support/encourage development of third party implementations of the BitShares core protocol, independent of the reference implementation. Since there is presently no project to do this, splitting off protoc

[2019-04-23 12:56] #1568 closed

[2019-04-23 13:02] jmjatlanta commented on #1277
I have built some unit tests for creating markets and trades. This may help test this issue. I will update this comment when I find the relevant code.

[2019-04-23 17:52] xloem commented on #1277
A simple bandaid for this that might make life easier for the developers of client apps would be to include more order fields in the fill notification, notably the "for_sale" quantity, such that it could be used to initialize an object locally and to verify ordering of events.

[2019-04-23 20:16] ryanRfox commented on #1694
Proposed to committee-account as `1.10.27986`

Everything further will be on chain. Closing.

[2019-04-23 20:16] #1694 closed

[2019-04-24 02:27] ryanRfox commented on #777
This is a priority issue identified by the UI Team. I’m looking for a Core Team Member to self assign this one. @MichelSantos is most up to date following conversations with @sschiessl-bcp and @startailcoon

[2019-04-24 07:21] abitmore commented on #777
@ryanRfox this or #726?

[2019-04-24 07:25] abitmore commented on #726
Related: https://github.com/bitshares/bitshares-ui/issues/2612

[2019-04-24 07:30] abitmore commented on #726
@sschiessl-bcp mentioned in https://github.com/bitshares/bitshares-core/issues/777#issuecomment-481675944:

[2019-04-24 08:58] abitmore commented on #783
Perhaps we can make this configurable as well? https://github.com/bitshares/bitshares-core/blob/3eae65493e6ab2b2c7177aff13321be767d0472f/libraries/app/database_api.cpp#L900 Need a new ticket?

[2019-04-24 09:03] abitmore commented on #783
And this: https://github.com/bitshares/bitshares-core/blob/3eae65493e6ab2b2c7177aff13321be767d0472f/libraries/app/database_api.cpp#L1038

[2019-04-24 12:25] crypto-ape commented on #1724
Looks like it is related to https://github.com/bitshares/bitshares-fc/pull/121

[2019-04-24 14:39] pmconrad commented on #1204
Related: https://github.com/bitshares/bitshares-core/issues/1204

[2019-04-24 15:23] abitmore opened #1733 "Make more API limitations configurable"
**User Story**
These should have been included in #782 .
- [ ] lookup_accounts
https://github.com/bitshares/bitshares-core/blob/3eae65493e6ab2b2c7177aff13321be767d0472f/libraries/app/database_api.cpp#L1038

- [ ] lookup_witness_accounts
https://github.com/bitshares/bitshares-core/blob/3eae65493e6ab2b2c7177aff13321be767d0472f/libraries/app/database_api.cpp#L1791

- [ ] lookup_committee_member_accou

[2019-04-24 15:24] abitmore commented on #783
Created new issue https://github.com/bitshares/bitshares-core/issues/1733 for above items.

[2019-04-24 22:50] abitmore opened #1734 "get_accounts API reports "no such account" error"
**Bug Description**

- [x] get_accounts
- [x] get_full_accounts
- [x] get_assets

`get_accounts` API should return `null` if the account does not exist, but now it reports an error.

{"id":1,"jsonrpc":"2.0","error":{"code":1,"message":"Assert Exception: account: no such account","data":{"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"context":{"level":"error","file":"da

[2019-04-25 00:02] abitmore commented on #1734
`get_assets` API has the same issue.

[2019-04-25 05:54] pmconrad commented on #1204
Lol. What I meant was https://github.com/bitshares/bsips/issues/5 .

[2019-04-25 09:25] ninetor commented on #1453
You add your lib to the path before running the node:

export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/your/custom/path/

or add it permanently
sudo nano /etc/ld.so.conf.d/randomLibs.conf
add /your/custom/path/ to the file and run
sudo ldconfig

[2019-04-25 12:35] abitmore commented on #726
See PR #1731. @sschiessl-bcp

[2019-04-25 13:50] pmconrad commented on #1730
Fixed by #1732

[2019-04-25 13:50] #1730 closed

[2019-04-25 14:17] OpenLedgerApp commented on #1277
When you can provide this test?

[2019-04-25 19:30] jmjatlanta commented on #1277
Sorry. I found it and then got distracted. Here it is:

https://github.com/bitshares/bitshares-core/pull/1661

Oh look! A squirrel....

[2019-04-25 20:08] jmjatlanta opened #1735 "Build error - develop branch / Windows 10 / VS 2019 / Boost 1.70"
Below is an error I receive when attempting to build BitShares-Core on Windows 10 using Visual Studio 2019 / Boost 1.70 / OpenSSL 1.1.1b

I am suspecting this is due to recent changes in fc, or perhaps Boost. I have not thoroughly researched. However, I do know I previously built with Visual Studio 2019 but with Boost 1.69 compiled with Visual Studio 2017.

Microsoft (R) Build Engine version 16.0.

[2019-04-25 22:07] jmjatlanta commented on #1453
According to [the official website](https://curl.haxx.se/docs/install.html), you can ``./configure --disable-shared`` to build the libcurl static libraries. Once built and installed, BitShares can be linked with those instead of the dynamic libraries. If you have both dynamic and static installed, there may be more steps necessary to tell cmake which you plan to use.

The machine I did the latest

[2019-04-26 09:12] abitmore commented on #777
Found some bugs, added to OP, fixed in #1731.

A new API `set_auto_subscription` is added in #1731, which can be used to change auto-subscription behavior of follow-up API calls, as described in #726.

These topics haven't been addressed in #1731, since we haven't made a decision:

If we want to be able to optionally subscribe on every API call, we can't add a parameter to the old APIs (so far), i

[2019-04-26 09:42] pmconrad commented on #1735
Can't build with boost-1.70 on linux either. Building with `Boost_USE_STATIC_LIBS=OFF` (like I usually do) fails during `cmake`, building with `Boost_USE_STATIC_LIBS=ON` fails with linker errors.

Apparently boost-1.70 installs its own cmake files now, which prevent building a static library (like fc) that links to shared boost libraries. Linking fails due to `-lpthread` missing, and if I add that

[2019-04-26 10:13] pmconrad commented on #1735
Part of my problems might originate from our rather old included `FindBoost` and/or an old cmake version (I have 3.10). https://stackoverflow.com/questions/42123509/cmake-finds-boost-but-the-imported-targets-not-available-for-boost-version

[2019-04-27 02:20] cwyyprog opened #1738 "Unbearable linking speed when building on Mingw"
When building the fc library on Mingw64/Msys2 platform, the linking process of api.exe takes unbearable time.

I'm trying to do some work for #964, starting with fc library first.
It's almost done at [cwyyprog/bitshares-fc](/cwyyprog/bitshares-fc/tree/master),  the problem defeated me is that ld.exe works too slowly when linking api.exe and reaches the 1 hour limit of appveyor.

The appveror conf

[2019-04-27 08:26] pmconrad commented on #1738
Any idea what's causing this?
fc's api test is not mission-critical, so as a temporary measure you could simply leave it out.

[2019-04-27 08:58] pmconrad commented on #847
@jmjatlanta Nathan is going to bump fc with the c++14 changes in #1737 - are there any changes required in core for this?

[2019-04-27 09:58] pmconrad commented on #1296
Closing since we have decided to move to C++14.

[2019-04-27 09:58] #1296 closed

[2019-04-27 10:26] pmconrad commented on #847
There are references to c++11 still in both `CMakeLists.txt` and `libraries/fc/CMakeLists.txt`.

[2019-04-27 12:00] abitmore opened #1739 "Question: how to search for HTLC related histories via preimage hash and/or HTLC ID?"
Once an HTLC is redeemed or expired in BitShares blockchain, it's hard to search for related activities via API. Is it easy to search in ElasticSearch? If yes, how?

Use story: as the other party of a HTLC I want an easy way to query for the preimage so I can redeem it in another blockchain.

Also asked here: https://github.com/oxarbitrage/open-explorer/issues/53.

[2019-04-28 12:17] abitmore commented on #1735
Is this related? https://github.com/steemit/steem/issues/160#issuecomment-487289411

[2019-04-29 10:30] pmconrad commented on #1738
Possible (probable?) cause: we often instantiate templates in header files. This results in many compilation units containing identical code for these instances which must be sorted out and unified by the linker. It also slows down compilation as such.

[2019-04-29 10:35] pmconrad commented on #1739
Hm, should we add the preimage to `htlc_redeemed_operation`? Then it would be in the account history of the HTLC creator.

[2019-04-29 10:39] pmconrad commented on #1735
I don't think so, except perhaps in the general sense that old boost versions sometimes have problems with newer compilers and vice versa.

[2019-04-29 13:07] pmconrad commented on #1734
Do you think fixing this might break existing clients? @sschiessl-bcp ?

[2019-04-29 14:02] jmjatlanta commented on #1593
Closed by the various related PRs being closed or merged.

[2019-04-29 14:02] #1593 closed

[2019-04-29 16:14] jmjatlanta commented on #626
Here is the latest iteration of requirements. I ask that others chime in where I am wrong.

1) The feature should be optional, and "on" by default. Calling the method is not an error when the feature is turned off. It simply will return nothing.

2)  When on, it will return the API version and the protocol version. The way these versions are calculated are yet to be formalized.

3) Plugins will be

[2019-04-29 16:16] xloem commented on #626
If acceptable, please include the RPC server url.

[2019-04-29 16:28] pmconrad commented on #626
2 should include a user-configurable custom string as requested by @sschiessl-bcp . Possibly other top-level settings as well? Can't see anything relevant at first glance.

Clarifications on 3:
* only plugins that are enabled and accessible by the logged-in user will be queried
* plugins that return nothing will not be listed in the output (as opposed to listed with empty info)

[2019-04-29 19:46] abitmore commented on #1734
It was a bug introduced in a previous release. When querying for multiple accounts, if one account doesn't exist, the whole call fails. IMHO we should fix it.

[2019-04-29 20:09] jmjatlanta opened #1743 "Hardfork cleanup of 3.0.1 and prior"
**User Story**
This is a continuation of #1553.
1) Another hardfork has passed. Such code should be reviewed to see if it can be removed.
2) Some hardforks were originally thought to be required to remain. But upon review, they should have been removed. This needs more research.
3) Hardforks that need to remain indefinitely should include comments, to make future cleanups easier.

To expand on num

[2019-04-30 11:04] xeroc commented on #387
There are real-life use cases we may want to support. A buyback account can be created with the extensions available in `account_create_operation`. The idea (and implementation) is to have an account where I send *profits* and the blockchain to use those funds to buy back some defined assets (asset per account creation) from internal markets. That however fails due to the issue described in the OP

[2019-04-30 11:05] xeroc commented on #1701
@abitmore thanks for the comment. Closing this pull request.

[2019-04-30 13:20] jmjatlanta commented on #1713
The majority of these requests have been fixed by #1742. Others are being considered (i.e. sorting), and still others would require a BSIP (i.e. making preimage length optional).

[2019-04-30 18:22] jmjatlanta commented on #1735
I have verified that Boost 1.70 also causes problems with BitShares Core and Visual Studio 2017.

Boost 1.69 cannot be compiled with Visual Studio 2019, so my next test will be to attempt to compile the latest develop branch with Boost 1.69 and Visual Studio 2017. I have high confidence this will work, as I believe it has succeeded in the past. That will verify that the problem is solely due to Bo

[2019-04-30 18:45] pmconrad commented on #1701
As commented in #1702 I'd like to keep this open for a complete solution.

[2019-05-01 06:40] MichelSantos opened #1745 "Release Notes: BitShares Core v.3.1.0"
# Release Notes

The [BitShares](https://bitshares.org) Core software has been updated to the [3.1.0 Feature Release](https://github.com/bitshares/bitshares-core/milestone/20?closed=1). The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain. This release includes additions and improvements but _does not include any changes to

[2019-05-01 07:32] pmconrad commented on #1745
Very good, thanks! Some notes:

* I wouldn't mention a specific duration like "nearly 100 minutes". The actual time can be much longer than that, depending on configuration and environment. Node operators usually know how long it takes for them, roughly.
* #1729 wasn't merged and should IMO not be listed
* #1587 and #1648 link to the "files" subsection, causing the rollover to be missing

[2019-05-01 07:51] pmconrad commented on #1738
I have been experimenting a little with externalizing database objects and indexes, and found that it does improve compile time as well as required RAM during compilation.
The downside is that the compiler can no longer inline implementations, which already causes a noticeable slowdown for `chain_test`. I'm afraid the effect on replay may be unacceptable. Will think about a more pinpointed approac

[2019-05-01 10:24] abitmore commented on #1745
Thanks. I've updated a few wordings in OP.

[2019-05-02 04:55] nathanhourt commented on #777
OK, APIs now support variable number of arguments: https://github.com/bitshares/bitshares-fc/pull/126

[2019-05-02 14:32] OpenLedgerApp commented on #1277
Thanks.
Sure, this may help test this issue, but the use case, mentioned above, that reproduces the #1277 is not so complicated.

[2019-05-03 13:16] sschiessl-bcp commented on #1734
Will check and get back, issue is opened

[2019-05-03 13:59] OpenLedgerApp commented on #387
We do it manually for OBITS.
We would like to implement a similar mechanism in our proposal - https://github.com/bitshares/bsips/pull/134

We are welcome for discussion.

[2019-05-03 18:55] dot5enko commented on #1701
i've been involved into adding htlc features to ui so this also affected adding this ops to bitsharesjs. From what i've seen - everything works perfect, except `extensions` field of ops. as of now they get converted by default as `future_extension` type in js, and in most cases - it didn't work. Extensions in c++ have their own type - struct *_extension_type which could be converted into js i gues

[2019-05-04 08:42] pmconrad commented on #1701
There are currently no extensions defined for HTLC operations. The `extensions` field is just a placeholder for future extensions to be added. Insofar the representation as `future_extension` *sounds* correct, but I'm not familiar with the js library types.

In any case it would be great if someone from the UI team could take up this issue. You guys know best what you need.

[2019-05-05 00:42] abitmore commented on #1654
Usually if a business is established, the operational account can have lots (e.g. thousands) of authorized withdraw permission objects, thus it's not good to query via `get_full_accounts` since the API will likely only returns the first X rows.

There is already another API `get_withdraw_permissions_by_recipient` which has pagination.

[2019-05-05 07:01] cwyyprog commented on #1724
fixed by  https://github.com/bitshares/bitshares-fc/pull/125

[2019-05-05 07:01] #1724 closed

[2019-05-05 11:41] pmconrad commented on #1654
How about limiting the list in `get_full_accounts` to one page and perhaps add a flag if additional entries exist?

[2019-05-05 12:14] abitmore commented on #1654
@pmconrad that's a good idea. IMHO all lists returned by `get_full_accounts` should do so.

[2019-05-05 12:28] oxarbitrage commented on #1654
We have a lot of lists so a flag for each into the full account object will be too much IMO.
Please note we have list of proposals, balances, limit orders, call orders, settle_orders, assets issued, withdraw permissions and htlc.
We can change so each list can just return first page(100 by default - configurable)but this could affect current clients relaying in the full list results.

My suggestio

[2019-05-05 12:41] abitmore commented on #1654
My recommendation is to find out an appropriate value as default, even if it changes current behavior. Currently there are a few accounts with thousands of open orders in the system, lots of clients (e.g. reference UI) are already broken when fetching their accounts. API nodes are also under pressure.

[2019-05-05 12:45] pmconrad commented on #964
1st shot for fc: https://github.com/bitshares/bitshares-fc/pull/128

[2019-05-05 15:52] cwyyprog commented on #1738
As far as I know, the LTO(linking time optimization) is disabled by default on mingw64/msys2.
With LTO enabled by `-DCMAKE_CXX_FLAGS="-flto" -DCMAKE_C_FLAGS="-flto" -DCMAKE_EXE_LINKER_FLAGS="-flto"`, errors come out
[code]

[2019-05-06 12:25] jmjatlanta commented on #847
I will fix those as part of #1668

[2019-05-06 12:54] oxarbitrage commented on #1654
Ok, what do you think of:

- Add limit option `api-limit-get-full-accounts-lists` default 100 into configuration following https://github.com/bitshares/bitshares-core/pull/1513
- Limit all list output(proposals, balances, limit orders, call orders, settle_orders, assets issued, withdraw permissions and htlc) of `get_full_accounts` with this max value.
- No flag, if users is getting 100 results he

[2019-05-06 15:31] abitmore commented on #1654
@oxarbitrage I'm fine with your solution. @pm your opinion?

[2019-05-06 15:34] abitmore commented on #1654
By the way, after we have https://github.com/bitshares/bitshares-fc/pull/126, we can add parameters to `get_full_accounts` API to query for needed object types only, to specify limits or etc.

[2019-05-06 17:32] oxarbitrage commented on #1654
Yes, i considered that too but i think we should better discuss it in a new issue after the FC code is merged.

[2019-05-07 06:06] pmconrad commented on #1654
These two don't go together. If you get 50 results you don't know if that's because of a low configured limit or because there aren't any more.

[2019-05-07 06:23] sschiessl-bcp commented on #1654
I like that idea, also full accounts is getting abused because people are lazy.

In default, full accounts could only return the count of objects instead of the actual objects (e.g. withdrawal permissions), which indicates to the UI that there is need to query if interested. If you add the flag to full account, you get the actual objects (up to X) together with the total object count to decide if

[2019-05-07 11:25] abitmore commented on #1654
@sschiessl-bcp's idea is good. How about adding new `count` fields to `full_account` object? Perhaps counts are too expensive to compute, how about just adding `flag` fields to indicate there is more data? Seems doable.

[2019-05-07 11:26] abitmore commented on #1654
Need the server info API in this case. #626

[2019-05-07 11:26] sschiessl-bcp commented on #1654
For the user it would be a "Load more" button, it's fine not to display the number of missing entries.

[2019-05-07 20:00] abitmore commented on #1506
Fixed by #1737.

[2019-05-08 06:01] #1506 closed

[2019-05-09 13:10] flameOnYou commented on #1735
I use websocketpp and boost1.70 append this error

[2019-05-10 11:37] jmjatlanta commented on #1739
What happens with very long preimages? I guess if there is a way to handle them on the UI side, that is fine. But is there a storage cost for account history? Should we consider truncating it? Of course then we would need to notify the user that it has been truncated.

Would we try to be smart and display it as a string, unless there are unprintable characters? Perhaps switch to a hex string if th

[2019-05-10 14:15] jmjatlanta commented on #1553
Fixed in part by #1718. Outstanding issues moved to #1743

[2019-05-10 14:15] #1553 closed

[2019-05-10 14:23] jmjatlanta commented on #1198
After examining the issue, I must agree with @pmconrad. If all agree, we will mark this as a wontfix.

[2019-05-10 22:35] oxarbitrage opened #1753 "add pagination and limit to get_key_references and get_account_references"
UI team requesting this at https://github.com/bitshares/bitshares-core/pull/1749#discussion_r282520956

[2019-05-11 10:06] sschiessl-bcp commented on #1753
In what ways could response be sorted? What information does the backend have, if for.example, 10 accounts have the same key?

[2019-05-11 10:12] abitmore commented on #1713
Lack of an API to fetch all HTLCs. See https://github.com/bitshares/bitshares-core/pull/1749#issuecomment-491497694. Moving to next milestone.

[2019-05-11 13:20] abitmore commented on #1753
@sschiessl-bcp current behavior looks like this:
[code]
2 accounts have the first key (one is duplicate, IMHO is a bug), 1 account has the second key, lots of accounts have the last key (with duplicates as well, and pagination would be useful for this case).

[2019-05-12 08:04] pmconrad commented on #1739
Preimages pay a per-kb fee, so storage cost should be covered.

Representation as usual, i. e. hex string for `vector<char>`. Trying to be smart only leads to confusion.

[2019-05-12 08:47] pmconrad opened #1754 "Testnet build on windows produces wrong chain_id"
**Bug Description**
A windows build of the latest testnet release produces a wrong chain ID for the embedded genesis file.
Apparent reason was wrong line endings (CRLF instead LF), which resulted in a different file hash.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [x] Build

[2019-05-12 12:46] abitmore opened #1755 "Replace the `assert` in `ext.hpp` with `FC_ASSERT`"
**User Story**
@pmconrad reported in https://github.com/bitshares/bitshares-fc/pull/126#issuecomment-491578337:

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployme

[2019-05-13 05:47] sschiessl-bcp commented on #1753
Let's take the account with lots of key as example.

Comments:

1. Since `get_key/account_references` subscribes, this call pretty much breaks the UI if too many references are present. Default behavior should be changed IMO
Reasoning:
  - This is a lookup feature here, afterwards you select which account is the "active" one in the UI and do the subscription
  - This can be used to attack nodes

[2019-05-13 10:00] abitmore commented on #1753
@sschiessl-bcp
1. actually `get_key/account_references` doesn't subscribe (see https://github.com/bitshares/bitshares-core/issues/777);
2. "any information on the accounts" can be obtained via `get_accounts` API;
3. duplicates can be easily removed and should be done, already mentioned in OP.

[2019-05-13 12:12] jmjatlanta commented on #1754
When installing git for Windows, one of the final questions is how you wish to handle line endings. I evidently chose poorly. :-D Using a ``.gitattributes`` file should prevent this problem regardless of the response given to the question during installation.

Generating the file and placing it in GitHub is certainly another option. I am open to opinions on which is best. The ``.gitattributes`` op

[2019-05-13 12:36] sschiessl-bcp commented on #1753
What I meant is what information has the backend available to use for sorting the return value. As I understand it nothing except account id and public key.

[2019-05-14 12:58] dot5enko commented on #1701
@pmconrad im talking not about htlc concretly here. serializer doesn't handle extensions at all. Now output of this program cannot be used directly in bitsharesjs

[2019-05-15 15:58] #1745 closed

[2019-05-16 05:02] qualwebs opened #1763 "10 assert_exception: Assert Exception hi == 0:"
**Instructions**
Please include a detailed Title above. Next, please complete the following sections below:
* Bug Description

hi == 0:
    {}
    th_a  uint128.hpp:97 to_uint64

    {}
    th_a  db_maint.cpp:464 process_budget

    {"next_block.block_num()":8029}
    th_a  db_block.cpp:545 _apply_block
3534001ms th_a       witness.cpp:177               block_production_loo ] Got exception while g

[2019-05-16 07:59] pmconrad commented on #1763
Which `MAX_SUPPLY` do you mean?
* `MAX_SHARE_SUPPLY` in `config.hpp`
* `max_core_supply` in genesis file

Judging from the error I suppose you mean `max_core_supply`, or perhaps both.

This is not a bug - the codebase does not support arbitrary settings for all config values.

[2019-05-16 07:59] #1763 closed

[2019-05-16 09:39] qualwebs commented on #1763
Hello @pmconrad
max_core_supply in genesis file. But what if I need to increase max_core_supply and initial balance to 100 trillion?
How can I achieve that?

[2019-05-16 15:04] jmjatlanta commented on #847
Note for Visual Studio 2019: This newly released compiler only works with Boost 1.70, as its compiler profile was not included in Boost version 1.69.

Boost 1.70 causes problems with BitShares Core on all platforms (mainly around websocketpp).

Therefore, if you want to use Visual Studio 2019 before we work out the issues with Boost 1.70, you must compile Boost 1.69 on an older compiler that is bi

[2019-05-16 15:14] jmjatlanta commented on #1567
Closing this in favor of #1570

[2019-05-16 17:17] oxarbitrage commented on #1654
closed by https://github.com/bitshares/bitshares-core/pull/1749

[2019-05-16 17:17] #1654 closed

[2019-05-17 10:23] qualwebs commented on #1763
Any thoughts?

[2019-05-17 15:13] abitmore commented on #1763
Can't.

[2019-05-17 15:14] ryanRfox commented on #1350
@oxarbitrage and I are working with Flipside Crypto to build a schema which will describe our blockchain data. You may learn more about their offerings here: https://docs.flipsidecrypto.com/

[2019-05-17 21:24] abitmore commented on #1754
Should be fixed by #1756.

[2019-05-17 21:24] #1754 closed

[2019-05-20 01:01] jmjatlanta commented on #1735
Here is the related issue with websocketpp https://github.com/zaphoyd/websocketpp/issues/794

In short, that project used a deprecated call in boost asio that was removed in Boost 1.70. The suggested fix is to replace calls to make_shared to .reset. They are trying to hang on to the ::ref stuff to maintain c++03 compatibility. More details in the link above and its related PRs.

[2019-05-20 12:48] oxarbitrage commented on #1318
https://github.com/bitshares/bitshares-core/pull/1765#discussion_r285395073

Using try-catch on the whole code block is not good practice.

[2019-05-20 17:36] abitmore opened #1766 "Review all APIs, add new optional parameters and change some old parameters to optional"
**User Story**
We'll soon support optional parameters for APIs (https://github.com/bitshares/bitshares-fc/pull/126), so we can update existing APIs to be more user-friendly.

For example, `get_call_orders` API now has two parameters, `asset` and `limit`, a user have to specify a limit, and can only query for the first page. If we change `limit` to optional and have a default value for it, users ca

[2019-05-21 06:34] pmconrad commented on #1318
It depends on what you do in the `catch` block IMO.

[2019-05-21 15:53] jmjatlanta commented on #659
A draft specification. Please comment with any questions, holes, opinions, etc.:

To help with configuring the security of BitShares nodes, the following features have been added to the reference implementation of `witness_node`:

**Trusted Connections**

Node operators may want control of which nodes they are connected to. Therefore, parameters have been added to modify when nodes interconnect.

[2019-05-21 18:36] oxarbitrage opened #1767 "suggestion to add GRAPHENE_BLOCKCHAIN_NAME to config"
**User Story**
As a graphene fork and bitshares blockchain developer I want the name of the blockchain to be added to config so that client programs i write can display the info to their users.

Global var can be added at https://github.com/bitshares/bitshares-core/blob/master/libraries/chain/include/graphene/chain/config.hpp#L26 and displayed initially just in the `info` wallet call at:
https://g

[2019-05-21 18:42] abitmore commented on #1767
Makes sense to me.

[2019-05-21 19:43] abitmore commented on #847
As mentioned in previous message, docs are needed before closing this.

[2019-05-21 19:45] abitmore commented on #847
Will bump FC in #1695 .

[2019-05-21 22:08] oxarbitrage commented on #1767
Thank you @abitmore . Tagged "good first issue" in case someone want to take if. If nobody show interest i can take care of it.

[2019-05-22 14:02] pmconrad commented on #1196
Resolved by #1714

[2019-05-22 14:02] #1196 closed

[2019-05-22 15:28] crypto-ape opened #1769 "extend static variant with "is_type" helper method"
Hey Monkeys!

**User Story**

As the `(ape) programmer` I want `(banana) comfort` so that `it is easier to read and write the code`.

I would like to know whether the following code improvement would get accepted a priori.

I am considering replacing every occurrence of `operation.which() == operation::tag<X>::value` with `operation.is_of_type<X>()` or `operation.is_type<X>()`.

This change would

[2019-05-23 07:35] heyasjack opened #1770 "Wrong in running testnet_home/witness_node --data- dir data/my-blockprod --genesis-json testnet_home/genesis/my-genesis .json --seed-nodes "[]""
**Instructions**
Hello, I'm new to bitshares and I'd like to learn bitshares from building a private testnet.
But when I tried to build one referring to
 -https://github.com/bitshares/bitshares-core/wiki/private-testnet
 -https://dev.bitshares.works/en/master/development/testnets/private_testnet.html
it always stuck in 4-1
./witness_node --data-dir=data/my-blocktestnet --genesis-json=my-genesis.js

[2019-05-23 08:09] pmconrad commented on #1770
I think it can't find the genesis file because it is in a subdirectory. Try

`./witness_node --data-dir=data/my-blocktestnet --genesis-json=genesis/my-genesis.json --seed-nodes "[]"`

instead.

@cedar-book the documentation seems to be wrong in that detail.

Also, the error message from `witness_node` is misleading and should be improved.

[2019-05-23 12:53] pmconrad commented on #1310
Closing this because
* it could be abused to circumvent the API limit restrictions
* it isn't really needed because the websocket API provides a better alternative

[2019-05-23 12:53] #1310 closed

[2019-05-23 12:55] pmconrad commented on #1338
No further discussion. Closing.

[2019-05-23 12:55] #1338 closed

[2019-05-23 12:58] pmconrad commented on #958
Related: #897

[2019-05-23 15:33] abitmore commented on #1770
Or perhaps the program failed to parse genesis file due to wrong format or so? @heyasjack can you upload your genesis file so we can check?

[2019-05-23 16:27] heyasjack commented on #1770
@abitmore
Thank you for your help!

And the genesis has 2 version. I have tried both of them, but it seemed that both of them have similar problems.
The old one is from https://dev.bitshares.works/en/master/development/testnets/private_testnet_genesis_example.html#private-testnet-genesis-example
And the new one is copied from bitshares-core/libraries/egenesis/genesis-dev.json , which refer to http

[2019-05-23 16:39] heyasjack commented on #1770
@pmconrad Thank you for your help !
I tried your code in testnet_home, but it seemed to have a same problem.
And the genesis.json file have 2 version, I get confused of them.

The old one is from https://dev.bitshares.works/en/master/development/testnets/private_testnet_genesis_example.html#private-testnet-genesis-example
And the new one is copied from bitshares-core/libraries/egenesis/genesis-dev

[2019-05-23 18:33] abitmore commented on #1770
@heyasjack try absolute path, e.g. `--genesis-json=/root/bitshares-core/testnet_home/my-genesis.json`?

The old one with `"block_signing_key": "--- set a public key ---"` won't work anyway.

[2019-05-24 07:45] abitmore opened #1771 "Check Steem PR #3286 Unix socket support"
**User Story**
https://github.com/steemit/steem/pull/3286, https://github.com/steemit/steem/pull/3205

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the de

[2019-05-24 09:31] pmconrad commented on #1771
Makes sense. Unix sockets should be faster than TCP.

[2019-05-24 11:08] abitmore commented on #1734
Fixed by #1765.

[2019-05-24 11:08] #1734 closed

[2019-05-24 18:26] abitmore opened #1772 "Error when parsing HTTP request"
**Bug Description**
Lack of boundary check when parsing HTTP request: https://github.com/bitshares/bitshares-fc/blob/579914c84d7bf7dd5a57ad890b4690c033fac697/src/network/http/http_connection.cpp#L153, which can crash `cli_wallet` via HTTP JSON-RPC interface if enabled.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the

[2019-05-25 04:27] heyasjack commented on #1770
@abitmore Thank you for your advice!
But I failed again.
I used GCP ubuntu for testing, so maybe I had made something wrong setting.
And if you have some free time, could you make a test on your device according to the tutorial, so we can see whether the document is wrong or I made the wrong setting. https://dev.bitshares.works/en/master/development/testnets/private_testnet.html
I‘m all gratitude!

[2019-05-25 04:38] manikey123 opened #1773 "Toolkit for developer onboarding ( meta ticket )"
**User Story**
Please tell us about your feature request using the User Story format:
As a new dApp developer (Python or JavaScript) I want example boilerplate scenarios with documentation so that I may quickly understand how the BitShares operations and APIs may be used to build hello world and financial services solutions on the platform.

**Impacts**
Describe which portion(s) of BitShares Core

[2019-05-25 06:01] pmconrad commented on #1773
Good idea, but doesn't really belong in core IMO.
Examples for how to use APIs like bitshares-js, beet or pybitshares belong in their respective repos.

A "full stack" example with a beet+js frontend and a pybitshares backend might be something for dev.bitshares.works . What do you think @cedar-book ?

[2019-05-25 12:03] heyasjack commented on #1770
@abitmore @pmconrad Thank you for your help!
Well, I succeed in running the witness_node with
`root@instance-7:/home/user1/bitshares-core# programs/witness_node/witness_node --data-d
ir data/my-blockprod --genesis-json genesis/my-genesis.json --seed-nodes "[]"`
which is from https://github.com/bitshares/bitshares-core/wiki/private-testnet.
I leave genesis file in bitshares-core/genesis/my-genesis.

[2019-05-25 12:58] heyasjack commented on #1770
oh, I failed again. With almost the same steps.

`
3364457ms th_a       db_management.cpp:224         open
    ] 7 bad_cast_exception: Bad Cast
Invalid cast from type 'string_type' to Object
    {"type":"string_type"}
    th_a  variant.cpp:582 get_object
3364457ms th_a       db_management.cpp:224         open
    ] data_dir: /home/use1/bitshares-core/data/my-blockprod/bloc
kchain `

[2019-05-25 13:11] heyasjack commented on #1770
The succeed running console:
`3387741ms th_a       object_database.cpp:115       open                 ] Opening object d
atabase from /home/user1/bitshares-core/data/my-blockprod/blockchain ...
3387811ms th_a       object_database.cpp:124       open                 ] Done opening obj
ect database.
3387813ms th_a       application.cpp:209           reset_p2p_node       ] Configured p2p n
ode to lis

[2019-05-25 13:25] heyasjack commented on #1770
Well, I FOUND IT!
So stupid I am, the my-genesis.json have something miss part maybe I missed them in the copy step.

[2019-05-25 13:45] heyasjack commented on #1770
Yeeeaaa, I repeat it successful!

The most important things is the route and location, the tutorial has made misleading about the location, check the location of my-genesis.json when you run witness_node.

And the second point is the my-genesis.json, you should copy command
`cp -r libraries/egenesis/genesis-dev.json testnet_home/genesis`
and then enter the testnet_home/genesis and `mv genesis-dev.

[2019-05-25 14:44] abitmore commented on #1773
Pinging @ryanRfox @clockworkgr @sschiessl-bcp. Thoughts please?

[2019-05-25 15:13] abitmore opened #1774 "Too restrictive check in market fee sharing"
**Bug Description**
As mentioned in https://github.com/bitshares/bitshares-core/pull/1751#pullrequestreview-238655336:
* https://github.com/bitshares/bitshares-core/blob/e71048305972886c8b0f2ce719b05c89ae42d61d/libraries/chain/db_market.cpp#L1248
should be `<=`. Fixing this requires a hard fork.
  * https://github.com/bitshares/bitshares-core/blob/e71048305972886c8b0f2ce719b05c89ae42d61d/libraries

[2019-05-25 16:51] heyasjack commented on #1770
Oh, I suggest that the tutorial should be added using screen when running the witness_node and cli_wallet

[2019-05-27 12:57] sschiessl-bcp opened #1776 "Understanding prediction markets"
**User Story**
As a `developer` I want `to understand prediction markets` such that `I can create UI for it`.

Considering the handling on the backend, what is the difference of a prediction market bitasset compared to a normal bitasset?

In particular:
 1. Are there any restrictions depending on resolution date or is this merely informal?
 2. Can push price feed between 0 and 1, or only exactly 0

[2019-05-27 13:11] sschiessl-bcp commented on #1773
I totally agreed, information is too scattered. I did start to work on that from JS end, but it's not "public" knowledge which it should be

Generic JS Boilerplate:
 - https://github.com/beetapp/beet-vue-boilerplate Could be extended to show more everyday-use calls for the backend

Direct Debit Feature:
 - http://examples.get-beet.io/subscriptions/#/

Transfer Feature:
 - http://examples.get-beet.

[2019-05-27 14:58] nathanhourt commented on #1776
1. I don't think there are any enforced restrictions on settlement date... Do we even record the settlement date prior to settlement? I believe this is entirely informal.

2. OK, perhaps my recollection of prediction markets is fuzzy... but I would've sworn prediction markets didn't have feeds at all, and that they were blocked. Reading the code, it appears that feeds are allowed in a prediction m

[2019-05-27 15:33] sschiessl-bcp commented on #1776
The issues you mentioned have existed all the time so I don't see a reason to block them unless they can break the chain. We will be creating basic UI for it that will only allow to set the parameters in a feasible way, and certainly proper restrictions are necessary in the backend but I don't think we should postpone it due to that.

After all, you are at the complete mercy of the prediction mark

[2019-05-27 16:51] pmconrad commented on #1776
A PM can be settled at any time.

The feed price *should* always be ignored for a PM.
According to #460 that is not the case, meaning that a feed price can trigger global settlement at 1:1.

Feeds could be useful to control the core exchange rate, for example.

Yes.

Not possible.

`asset_global_settle_operation` - I think the price must be in the range 0..1, not just either 0 or 1.

A PM must hav

[2019-05-27 21:29] abitmore opened #1780 "Market fees of settle orders aren't shared to referral program"
**Bug Description**
For limit orders: https://github.com/bitshares/bitshares-core/blob/e3d1226e30cbd1e2b081642ad04aa7e2f27ac1af/libraries/chain/db_market.cpp#L821-L823

For settle orders: https://github.com/bitshares/bitshares-core/blob/e3d1226e30cbd1e2b081642ad04aa7e2f27ac1af/libraries/chain/db_market.cpp#L934

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. P

[2019-05-27 21:48] abitmore commented on #1776
As mentioned in https://github.com/bitshares/bitshares-core/issues/460#issuecomment-364520866, I think price feeds can be used to globally settle PMs in a decentralized way, the logic would be totally different than the current.

Why not 0 or 1?

By the way, settling at 0 means the market fees collected by the asset issuer/creator and shared to referral program worth zero. That's not a good busine

[2019-05-27 22:05] sschiessl-bcp commented on #1776
Good point on market fee and settling to 0. Do you have an idea how asset owner can profit from market fee either case or make offering a prediction market profitable (seeing as he would be the neutral house of sorts)?

[2019-05-27 22:37] abitmore commented on #1776
I had an idea about setting a base price, e.g. borrow with 101% collateral but not 100%, then the 1% goes to the house; when trading, the buyer pays more collateral to pay house fees.

In short, charge fees in collateral asset.

[2019-05-27 22:39] abitmore commented on #1776
I'd recommend that we discuss new features in https://github.com/bitshares/bsips/issues/42.

[2019-05-28 03:46] cedar-book commented on #1773
@pmconrad, I agree to present those information/examples better ways. Let's look in to find better presentation manners and provide them to developers.

[2019-05-28 04:40] startailcoon opened #1781 "Total backing asset for Backed Assets"
A backed asset, like bitUSD, is backed by another asset, in this case BTS.
At the moment it's not an easy task to calculate the amount of total backing asset for the backed asset.

The UI requests a calculation of this for easy usage without having to do all the calculations manually.

See issue https://github.com/bitshares/bitshares-ui/issues/2715 for more details.

**Impacts**
Describe which por

[2019-05-28 06:58] pmconrad commented on #1776
The correct question would be "Why not something in between?" :-)

(AFAIK the idea is that e. g. in case of a poll the PM would pay out in relation to the poll result. In theory, as the poll date approaches the price of the asset will approximate the poll result, i. e. the market will predict the outcome of the poll. Hence the name.)

Yes, that's a drawback. Mitigated by
* The issuer can withdraw

[2019-05-28 08:17] abitmore commented on #1781
#1089 is related.

[2019-05-28 08:27] abitmore commented on #1781
My idea for this feature is to add a secondary index to `call_order_index` in a plugin, just like `grouped_orders` plugin.

Pros:
* it won't affect performance of nodes which doesn't enable the plugin

Cons:
* change of data in secondary index doesn't trigger notifications with current subscription-notification mechanism.

[2019-05-28 08:42] abitmore commented on #1776
Settling at a price between 0 and 1 means it's no longer a "binary" prediction market. The scenario you described does exist though, but I guess it's less common.

[2019-05-28 12:41] pmconrad commented on #1781
IMO it's more than related, it's a duplicate. Can close either this or the other one. Or did I miss something?

[2019-05-28 15:53] pmconrad commented on #1658
Closing due to inactivity

[2019-05-28 15:53] #1658 closed

[2019-05-28 16:04] pmconrad commented on #1546
The wallet-related parts of that page look like they have been added later. There's missing commands how to check out the wallet, and perhaps an explanation how to reference the new faucet. The wallet should be https://github.com/bitshares/bitshares-ui not `graphene-ui`.

The `chown -R gph:gph` command only makes sense if there is a 'gph' user and group on the machine, which apparently isn't expla

[2019-05-28 16:53] abitmore commented on #1781
#1089 and this issue are slightly different. This issue is for debt asset info page, #1089 is for collateral asset info page.

[2019-05-28 16:54] abitmore commented on #1688
Will close after bumped FC.

[2019-05-28 17:01] abitmore commented on #1690
Closed by #1695.

[2019-05-28 17:01] #1690 closed

[2019-05-28 17:03] abitmore commented on #847
Bumped FC in #1695.

Docs are still needed for closing this issue:

[2019-05-29 03:06] cedar-book commented on #1546
@pmconrad, Thank you.  Is this (https://github.com/cryptonomex/faucet) the source code of fauset set up? Or is there another?

[2019-05-29 08:11] pmconrad commented on #1546
I think that's the one the documentation refers to, but please adapt it to point to this fork: https://github.com/bitshares/faucet

I'm not sure if @xeroc has a different public backend for the reference wallet faucet.

[2019-05-29 08:18] sschiessl-bcp commented on #1546
Reference faucet is an advanced version of https://github.com/bitshares/tapin

[2019-05-29 11:27] RootkitKiller commented on #1679
@jmjatlanta @abitmore
I found a similar problem on gxchain.  https://github.com/gxchain/gxb-core/pull/155

[2019-05-29 13:40] abitmore commented on #1679
@RootkitKiller thanks for the report and link.

[2019-05-29 14:41] abitmore commented on #1679
https://github.com/bitshares/bitshares-core/issues/1703 is related to the undo_point change in the first commit of the gxchain PR.

[2019-05-29 15:06] abitmore commented on #1679
@RootkitKiller I think your patch about `_fork_db` is correct, but the change about `_undo_db` is unnecessary.

Actually, I think the logic would be much clearer if we change `_fork_db.set_max_size()` to `_fork_db.set_tail_block()` or similar.

[2019-05-30 02:56] RootkitKiller commented on #1679
@abitmore Thank you for your guidance and help. I will also try to modify the relevant code and to follow the #1073 issue

[2019-05-30 14:16] heyasjack opened #1783 "Couldn't connect to the first witness node when set up the second node in private testnet"
**Build Error Description**

Hello, I'm newbie in bitshares and I want to build a private testnet with 2 vps, and I follow the tutorial exactly,
https://dev.bitshares.works/en/master/development/testnets/private_testnet.html
but I failed and have many questions.

**1. import_balance seems doesn't work normally**

As the warning says,

I have edited the my-genesis.json and the config.ini, change th

[2019-05-30 15:22] nathanhourt commented on #1679
Ooh, excellent idea! :+1:

[2019-05-30 16:50] abitmore commented on #1783
1. in genesis file, there is a `initial_balances` section, the `owner` address is derived from the original key. I don't know if there is a tool to generate new addresses.

2. you need to change `p2p-endpoint = 127.0.0.1:11010` to `p2p-endpoint = 35.12.34.56:11010` if want to be connected from another machine.

By the way, please remove all `witness-id` configurations from the second node, only le

[2019-05-31 05:55] heyasjack commented on #1783
@abitmore Thank you for your advice!
I changed the second config.ini

p2p-endpoint = 35.12.34.56:11010
rpc-endpoint = 127.0.0.1:11020
checkpoint = []
genesis-json = genesis/my-genesis.json
private-key = ["BTS8DcLrqhnWMz5Nagfr7rkyVwr2umDbWAXhhBWFVENUxLXe71rKu","5HrRyonxQCsK5ks4ghqLDnMA7Ez5nErRCF9fu3FFrnyfnoHZxom"]

but it appeared another error

Unable to listen for connections on port 11010, retry

[2019-05-31 06:06] heyasjack commented on #1783
If it is my 1st node's problem? I have kept it running, and it works well

[2019-05-31 07:47] pmconrad commented on #1783
There is - `programs/genesis_util/get_dev_key`.

p2p-endpoint = 35.12.34.56:11010

This means your node will connect to itself as a seed node. That doesn't make sense.
The `p2p-endpoint` of node 1 should be the `seed_node` of node 2, and vice versa.

This means some other program is listening on that port, perhaps an old instance of your witness_node?

Are you running both nodes on the same host?

[2019-05-31 07:51] pmconrad commented on #1772
Fixed via #1782

[2019-05-31 07:51] #1772 closed

[2019-05-31 08:40] heyasjack commented on #1783
@pmconrad Thank you for your advice!
But I get confused.
I have 2 vps on gcp, 1st IP: 35.12.34.56 ; 2nd IP: 65.43.21.10;
According to your advice, I change 2nd's config.ini into

seed_nodes = 127.0.0.1:11010
rpc-endpoint = 127.0.0.1:11020

is that right?

and the 1st's config.ini is

rpc-endpoint = 127.0.0.1:11011

is that right? Should I change it into

rpc-endpoint = 127.0.0.1:11011

[2019-05-31 08:52] heyasjack commented on #1783
So What is the right config.ini in 2nd node?
I am in a great puzzle. Please show me the correct config.ini.
I have 2 vps on gcp, 1st IP: 35.12.34.56 ; 2nd IP: 65.43.21.10;

rpc-endpoint = 127.0.0.1:11011
checkpoint = []
genesis-json = genesis/my-genesis.json
private-key = ["BTS8DcLrqhnWMz5Nagfr7rkyVwr2umDbWAXhhBWFVENUxLXe71rKu","5HrRyonxQCsK5ks4ghqLDnMA7Ez5nErRCF9fu3FFrnyfnoHZxom"]
witness-id = "1

[2019-05-31 09:00] heyasjack commented on #1783
Please show me the correct config.ini.!

[2019-05-31 14:26] abitmore commented on #1783
Node1:
[code]

Node2:
[code]

[2019-05-31 15:06] pmconrad commented on #897
I'd like someone to sanity check this please: https://github.com/pmconrad/bitshares-gitian @xeroc @abitmore @jmjatlanta @oxarbitrage

* Is the README sufficient to get you started?
* Is the build in fact reproducible by you?
* Can the binary be used on your system? (`witness_node` works for me despite `ldd` complaining about a missing libcurl. I see the same complaint for our current official bina

[2019-05-31 17:54] heyasjack commented on #1783
@abitmore Thank you for your advice
I changed node1's config.ini to this:
`
p2p-endpoint = 35.201.197.66:11010
seed-node = 34.80.120.18:11015
rpc-endpoint = 127.0.0.1:11020
checkpoint = []
genesis-json = genesis/my-genesis.json

private-key = ["BTS8DcLrqhnWMz5Nagfr7rkyVwr2umDbWAXhhBWFVENUxLXe71rKu","5HrRyonxQCsK5ks4ghqLDnMA7Ez5nErRCF9fu3FFrnyfnoHZxom"]
witness-id = "1.6.1"
witness-id = "1.6.2"
wit

[2019-05-31 18:50] pmconrad commented on #1783
If node 1 listens only on 127.0.0.1 then node 2 can't reach it - 127.0.0.1 is localhost and only reachable on the local host, not from a different host.
The message "unable to listen"  means the port is blocked by some other process. Try `netstat -nltp` or `ss -nltp` to see what that might be.

[2019-06-01 09:43] abitmore commented on #1783
@heyasjack asking in https://t.me/BTS_Node_Admins would be more efficient.

[2019-06-01 09:43] #1783 closed

[2019-06-01 09:54] abitmore commented on #1783
Alternatively, if you want the node (node1) to be able to be connected by another node, set
[code]

You can change 11010 to any available port. On the other nodes, set
[code]

[2019-06-01 12:50] abitmore commented on #897
Also pinging @nathanhourt @christophersanborn @sschiessl-bcp @ryanRfox

[2019-06-01 18:29] oxarbitrage commented on #897
Good stuff, works great in Linux Mint 19(Ubuntu 18.04), thank you @pmconrad

- In regards to the README and if i was able to do it fast i had a few issues installing and configuring docker but after that it went pretty fast. I had submitted a few pull requests that i hope will allow users go a bit quicker than i did.

- The binary worked just fine and no ldd complaint i was able to see(probably be

[2019-06-02 16:00] pmconrad commented on #897
https://github.com/pmconrad/bitshares-gitian/pull/5#issuecomment-498043396

[2019-06-02 16:03] pmconrad commented on #897
Btw, we should hold a key signing party when we meet next.
With some emphasis on "party" I hope. :-)

[2019-06-03 20:47] sschiessl-bcp commented on #897
I've never built core and I probably won't if I don't really have to :) I will leave this to you guys

[2019-06-03 21:07] manikey123 commented on #783
2 hours  spent on updating PR comments

[2019-06-04 11:22] pmconrad commented on #897
@sschiessl-bcp  this could (and IMO should!) also be used for bitshares-ui builds.

[2019-06-04 13:26] abitmore opened #1784 "Websocket server crashes on quit"
**Bug Description**

Reported in https://github.com/bitshares/bitshares-core/pull/1782#issuecomment-496870055:

[code]

Mentioned in https://github.com/bitshares/bitshares-core/pull/1782#issuecomment-497312272:

By the way, better sync `websocket_tls_server_impl` implementation details with `websocket_server_impl`, ideally refactor the code to remove duplicate code (like https://github.com/bitshar

[2019-06-04 13:32] #1688 closed

[2019-06-04 13:35] pmconrad commented on #1738
@cwyyprog please check if latest develop improves the situation. Also verify that your build server has sufficient RAM available.

[2019-06-04 17:41] abitmore commented on #1784
https://github.com/bitshares/bitshares-core/issues/1303#issuecomment-468080143 is related. When this issue got fixed, I think we can remove the sleep added in #1626.

[2019-06-05 08:55] prateektiwari7 opened #1785 "error: version control conflict marker in file"
Hi Bitshares team

I am building bitshare-core in my Macos High Sierra 10.13. I have performed these steps while building the bitshare code.

[code]

And I am getting this error

[code]

-- Boost version: 1.60.0

Please help me to find the solution.

[2019-06-05 10:52] pmconrad commented on #1785
What is the output from step 4, `git cherry-pick e338fdb`?
I guess that a conflict happened when the change was applied, which has to be resolved manually.

[2019-06-05 10:56] pmconrad commented on #1785
Btw, the change you are trying to cherry-pick has been merged into master a long time ago. You don't have to apply it anymore.

[2019-06-05 11:05] prateektiwari7 commented on #1785
`git cherry-pick e338fdb ` shows nothing

[2019-06-05 15:26] OpenLedgerApp commented on #1780
We have implemented this BSIP. So, we want to keep it on us - we can fix them efficiently.

[2019-06-05 15:27] OpenLedgerApp commented on #1774
We have implemented this BSIP. So, we want to keep it on us - we can fix them efficiently.

[2019-06-05 18:26] ryanRfox commented on #1780
Yes, @OpenLedgerApp please take this one.

[2019-06-05 18:27] ryanRfox commented on #1774
Yes, @OpenLedgerApp please take this one.

[2019-06-05 18:32] ryanRfox commented on #1785
@prateektiwari7 what is the result of a clean build from step 1, but eliminate step 4? It seems my Mac is building without issue.

[2019-06-06 13:03] prateektiwari7 commented on #1785
[code]

**make** in cmd

[code]

Thanks guys it works for me :)

[2019-06-06 13:03] #1785 closed

[2019-06-07 10:13] pmconrad commented on #998
Will use it where available and fall back to boost::multiprecision otherwise

[2019-06-07 15:06] cwyyprog commented on #1738
@pmconrad I  have merged the develop into my branch and rebuilt bitshares-fc on Appveyor.  It turned out the linking process is still unbearable and the linking of all_tests.exe used all the time Appveyor allows. The log can be found [here ](https://ci.appveyor.com/project/cwyyprog/bitshares-fc/builds/25122257)

[2019-06-07 15:23] liondani opened #1786 "Value change on "required-participation" throws an error on test-3.1.1"
**Describing Current abnormal Behaviour**
When I changed "required-participation" on **config.ini** from value 0 (zero) to **33** and restarted my test witness node like this:

I got this error:

![Screenshot from 2019-06-07 16-38-57](https://user-images.githubusercontent.com/6908400/59114402-c7dbc000-894f-11e9-9630-5acd94974c6b.png)
^^^ click to see the screenshot!

**Expected Behaviour**
Normall

[2019-06-07 15:43] oxarbitrage commented on #1786
Looks like a bug here: https://github.com/bitshares/bitshares-core/blob/master/libraries/plugins/witness/witness.cpp#L67

Should be changed to something more like:

[code]

[2019-06-07 15:55] liondani commented on #1786
yep, seems like that

[2019-06-07 22:41] oxarbitrage commented on #1786
@liondani will be great if you can give a try to https://github.com/bitshares/bitshares-core/pull/1787 and check if it is working as expected. thank you.

[2019-06-08 04:00] manikey123 commented on #1733
Resuming on this ticket

[2019-06-08 06:51] pmconrad commented on #1738
Hm. No idea what's causing this.
I'm working on cross-compiling windows binaries in a linux container with mingw and I don't see this issue.
`all_tests` is comparatively small, so I can't imagine that it's a RAM issue.

[2019-06-08 12:45] oxarbitrage commented on #1769
I agree with the proposed change.

[2019-06-10 00:52] cwyyprog commented on #1738
It's not a RAM issue. I run the compile process on my laptop, ld.exe reports errors of undefined reference to many functions after running more than 10 hours.

[2019-06-10 06:36] cwyyprog commented on #1738
Switching to clang toolchain, ld.exe finished running in minutes, but still not succeed.
[code]

[2019-06-10 09:07] abitmore opened #1790 "3.1.0 Windows binaries does not work"
**Bug Description**
Unable to start witness_node.exe, missing `libcurl.dll`

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [x] Deployment (the deployment process after buildin

[2019-06-10 11:33] abitmore commented on #1006
TODO: check whether https://github.com/bitshares/bitshares-core/pull/1789 fixes this, specifically, [`task_base::retain()`](https://github.com/bitshares/bitshares-fc/pull/137/files#diff-ebee2febf73f6be0b5e5b09b3a6faeb6R53).

[2019-06-10 20:39] abitmore commented on #1198
Won't fix.

[2019-06-11 07:41] sschiessl-bcp commented on #1776
Thanks for the insight, collect enough information to continue building for UI.

[2019-06-11 07:41] #1776 closed

[2019-06-11 09:17] abitmore opened #1791 "Potential OpenSSL 1.1.1 linking issue"
**Build Error Description**

Thanks to @mvandeberg.

**Build Environment**
 - Host OS:             Ubuntu 18.04 LTS
 - Host Physical RAM:  [ ]
 - Source Branch/Tag:   [ ]
 - OpenSSL Version:     1.1.1
 - Boost Version:       [ ]
 - C++ Compiler:        [ ]

## CORE TEAM TASK LIST
- [ ] Evaluate `Build Error`
- [ ] Provide build guidance
- [ ] <OR> Create `Bug Report`

[2019-06-11 15:39] jmjatlanta commented on #1790
My apologies. I failed to include the proper curl dll within the distribution file. Unfortunately, the development environment I had for Windows suffered a hardware failure. I am rebuilding from scratch, and will modify my build instructions so as to not cause this again. Stay tuned.

[2019-06-12 02:47] manikey123 commented on #1773
another idea is to add browser sandbox for the new developers to try some basic stuff to become familiar.
We can establish python driven notebook Exercises wherein developers can run code slices online and hence be attracted to use and build on bitshares.
Based on research such an idea is already implemented for bitcoin by jimmy song for blockstream API.
In below workbook, a potential developer ca

[2019-06-12 02:47] manikey123 commented on #1773
above can be extended to javascript

[2019-06-12 08:43] pmconrad commented on #1791
Thanks.
I see the same issue when building 3.1.0 for linux with gitian.
Changing library order in `CMakeLists.txt` as done in Steem seems to fix it for us as well.

Interestingly, the cross-build for windows is working with openssl-1.1.1c (current develop and fc PR 121).

[2019-06-12 11:18] pmconrad commented on #1790
@jmjatlanta would appreciate if you could look at https://github.com/pmconrad/bitshares-gitian/pull/6

[2019-06-12 14:29] abitmore commented on #1791
Will close when bumped FC (perhaps in #1789).

[2019-06-12 14:39] jmjatlanta commented on #1790
Posted new binaries. Recompiled everything to assure the dll version is correct, and included the .dll in the .zip file. I was able to run witness_node without an issue. But as you know, different .dlls in different places can hide issues. Please test and close this ticket if it works. Thanks!

[2019-06-12 14:48] abitmore commented on #783
Docs are needed to close this.

[2019-06-12 15:31] oxarbitrage commented on #1786
closed by https://github.com/bitshares/bitshares-core/pull/1787

[2019-06-12 15:31] #1786 closed

[2019-06-12 16:04] abitmore commented on #1790
When running in a clean Windows machine:
![image](https://user-images.githubusercontent.com/9946777/59367163-db19d180-8d3b-11e9-8317-17500524d045.png)

To fix this, for example, I added a few files when making binaries: https://github.com/bitshares/bitshares-core/releases/download/2.0.180823/BitShares-Core-2.0.180823-Windows-x64-cli-tools.zip

[2019-06-12 20:07] VladLypovyi opened #1794 "Make fail"
cmake works fine, but make failed.
OS: Ubuntu 18.04
OpenSSL: 1.1.1
Boost: 1.65.1

ubuntu@ip-172-26-44-74:~/bitshares-core$ make
[  3%] Built target project_editline
[  5%] Built target project_secp256k1
[ 29%] Built target fc
[ 30%] Built target log_test
[ 31%] Linking CXX executable ecc_test
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/libcrypto.a(threads_pthread.o): In function `for

[2019-06-12 20:16] oxarbitrage commented on #1794
did you executed:

`git submodule update --init --recursive`

?

[2019-06-12 20:33] VladLypovyi commented on #1794
Yeah, but the reason is not in this.

ubuntu@ip-172-26-44-74:/bitshares-core$ git submodule update --init --recursive
ubuntu@ip-172-26-44-74:/bitshares-core$ make
[  3%] Built target project_editline
[  5%] Built target project_secp256k1
[ 29%] Built target fc
[ 30%] Built target log_test
[ 31%] Linking CXX executable ecc_test
/usr/lib/gcc/x86_64-linux-gnu/7/../../../x86_64-linux-gnu/libcrypto.a(t

[2019-06-12 20:57] oxarbitrage commented on #1794
Can you paste the full set of commands used from clone up to make ? You maybe have something missing there.

I have the same boost and OS, different openssl. not sure if it is that:  OpenSSL 1.1.0g

[2019-06-12 20:59] oxarbitrage commented on #1794
I think the issue can be at the openssl version. If you check at the main README:

https://github.com/bitshares/bitshares-core/blob/master/README.md#getting-started

It says it support up to 1.1.0:

NOTE: BitShares now supports OpenSSL 1.1.0

[2019-06-12 21:13] VladLypovyi commented on #1794
The same as before.

ubuntu@ip-172-26-44-74:/bitshares-core$ openssl version -a
OpenSSL 1.1.0g  2 Nov 2017 (Library: OpenSSL 1.1.1  11 Sep 2018)
built on: Thu Dec 13 03:02:15 2018 UTC
platform: debian-amd64
compiler: gcc -fPIC -pthread -m64 -Wa,--noexecstack -Wall -Wa,--noexecstack -g -O2 -fdebug-prefix-map=/build/openssl-haEC4w/openssl-1.1.1=. -fstack-protector-strong -Wformat -Werror=format-secu

[2019-06-12 21:29] oxarbitrage commented on #1794
I think the openssl in your output is still 1.1.1 - Library: OpenSSL 1.1.1 11 Sep 2018

[2019-06-12 21:53] VladLypovyi commented on #1794
Thank you very much. The reason was in openssl version. 1.1.0. Sorry for the carelessness.

[2019-06-12 21:53] #1794 closed

[2019-06-13 09:47] abitmore commented on #1794
Duplicate of #1791.

[2019-06-13 11:40] oxarbitrage commented on #1794
Nice, i was not aware of that one @abitmore , thanks for linking it up.

@VladLypovyi as i can see version 1.1.1 will work in the next bitshares release.

[2019-06-13 18:38] oxarbitrage commented on #1588
Seems to me by @pmconrad response that we are not going to implement this in the short/medium term, at least not this way and if we do; it should be discussed in the BSIPs repo.

I am closing the issue please feel free to reopen it if needed.

[2019-06-13 18:38] #1588 closed

[2019-06-14 07:48] bitcrab opened #1796 "market fee sharing feature bug"
as the market fee sharing feature is already active, so I did some test.

set reward percent of asset GDP to 50.

trans.bot is the referrer of night-wolf, so I did some GDP/USD trading with user night-wolf.

after that, I see the vesting balance page of trans.bot is as below.

![image](https://user-images.githubusercontent.com/5886543/59492499-b0568700-8ebb-11e9-9778-4d733c53c8da.png)

in the mark

[2019-06-14 12:35] oxarbitrage commented on #1769
closed by https://github.com/bitshares/bitshares-core/pull/1792 and https://github.com/bitshares/bitshares-fc/pull/138 .

Thank you @crypto-ape

[2019-06-14 12:35] #1769 closed

[2019-06-14 12:40] oxarbitrage commented on #1209
Closed by https://github.com/bitshares/bitshares-core/pull/1795

[2019-06-14 12:40] #1209 closed

[2019-06-15 07:47] pmconrad commented on #1082
I don't think that's very useful.
I think issue templates are mostly meant to help external contributors produce meaningful issues, by giving them a guideline how it should be structured and what information is relevant.
External contributors are unlikely to contribute code optimizations though.

The "epic" that I mentionend is a kind of "meta-issue" that serves a collection of similarly themed bu

[2019-06-15 11:32] cogutvalera commented on #1082
I agree with @pmconrad ! really useless issue and we don't need to waste time for it and efforts imho ! we should concentrate on more important issues !

[2019-06-15 11:46] abitmore opened #1798 "Reduce log level of database_api_impl construction and destruction"
**User Story**

https://github.com/bitshares/bitshares-core/blob/2f7c2ea3d999c2b56ad145afa8503f23ffcf748a/libraries/app/database_api.cpp#L373
https://github.com/bitshares/bitshares-core/blob/2f7c2ea3d999c2b56ad145afa8503f23ffcf748a/libraries/app/database_api.cpp#L392

These log entries became huge for API nodes and caused disk-space issues.

**Impacts**
Describe which portion(s) of BitShares Core

[2019-06-15 14:13] oxarbitrage commented on #1082
Yea, well, most of the performance issues are added by @abitmore and he probably don't need a template.

I will like his word on this, I don't mind closing the pull request unmerged if we close the issue alltogether.

[2019-06-16 11:24] abitmore commented on #1798
Fixed by #1799.

[2019-06-16 11:24] #1798 closed

[2019-06-16 11:40] abitmore opened #1800 "Temp-account market fee sharing issue"
**Bug Description**
Many BitShares Mainnet accounts have `committee-account` as registrar and `temp-account` as referrer. The accounts were migrated from BitShares-0.x chain. When they trading assets that enabled market fee sharing, `committee-account` and `temp-account` will receive the shared market fees. However, `temp-account` is authorityless, which means everyone can transfer out the fund. T

[2019-06-16 12:44] abitmore commented on #1082
OK, I agree to close it.

[2019-06-16 12:44] #1082 closed

[2019-06-17 10:41] serghd opened #1802 "SIGSEGV, last trace step: potential_peer_record"
GDB showed the next trace:
[code]

[2019-06-17 13:33] crypto-ape opened #1803 "Reduce Compilation Time by Refactoring Include Directives and/or hpp-cpp Implementation Divisions"
Hey Monkeys!

**User Story**
As the `(ape) programmer` I want `(banana) fast compilation time` so that it is easier to work with the code base.

I would like to try reducing the compilation time with the two following approaches:
 * refactor include directives: They are pretty messy and many files include unneeded files.
 * refactor hpp/cpp implementations: Maybe some often-included headers includ

[2019-06-17 17:43] abitmore commented on #1802
Looks like a threading issue. Perhaps related to #1256 .

[2019-06-17 18:48] oxarbitrage commented on #1803
I agree on giving this a try even if i am not sure how much time we will be able to really reduce in compilation with the described techniques.

We will accept any pull request that removes non needed headers, guaranteed.

Metrics on before and after changes can be done. Please note that we should use `develop` branch as there are already made improvements in compile time thanks to https://github.

[2019-06-17 19:47] jmjatlanta commented on #1790
I included the redistributable dlls into the zip file. If you have an environment to test, please do.

Also, I included all redistributable dlls. If you know which dlls are not required, please let me know.

[2019-06-18 08:21] csquan opened #1804 "many exceptions when I run chain_test"
hi,when I run chain_test ,I got many exceptions like this :
1163489ms th_a       db_management.cpp:205         close                ] Rewinding from 1 to 0
1163490ms th_a       db_management.cpp:215         close                ] Database close unexpected exception: {"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","li

[2019-06-18 09:28] abitmore commented on #1804
They are normal.

[2019-06-18 09:28] #1804 closed

[2019-06-18 09:30] csquan commented on #1804
？normal？kidding me..

[2019-06-18 09:47] abitmore commented on #1790
Thanks. The new binaries work.

Usually I start a new AWS instance to test new binaries. Can also test what DLLs are necessary.

[2019-06-18 09:47] #1790 closed

[2019-06-18 10:00] abitmore commented on #1171
Implemented with PR #1382.

Docs are needed for closing this.

[2019-06-18 10:33] csquan commented on #1804
unit test should go through fine ,not so many exceptions.

[2019-06-18 10:37] cogutvalera commented on #1171
Also we need windows solution ? right ?

[2019-06-18 10:55] abitmore commented on #1804
The main thing we have interest is the last line in the report when running the test:
[code]
Everything else are just logging.

[2019-06-18 10:57] csquan commented on #1804
but i got errors detected,115 failures detected in ****

[2019-06-18 11:00] abitmore commented on #1804
For example, we have code like below which will print an exception when running the unit test, however it's expected.
[code]

[2019-06-18 11:01] abitmore commented on #1804
@csquan please upload your result to somewhere, e.g. pastebin so we can check.

[2019-06-18 11:04] abitmore commented on #1804
By the way, it would help if you create a new issue with the template https://github.com/bitshares/bitshares-core/issues/new?template=bug_report.md

[2019-06-18 11:05] csquan commented on #1804
I think I got your mean,but I got failures when run chain_test.
here is last text:
...
183118ms th_a       db_management.cpp:205         close                ] Rewinding from 1 to 0
183118ms th_a       db_management.cpp:215         close                ] Database close unexpected exception: {"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"context":{"level":"error","file

[2019-06-18 11:09] abitmore commented on #1804
Please submit a new issue using one of the templates. We need more info.

Please provide the full output. Run the test with
[code]
then upload the `test.log` file somewhere.

[2019-06-18 11:15] csquan commented on #1804
okay,please refer to url:https://paste.ubuntu.com/p/hvvBq6Q3M5/

[2019-06-18 11:43] pmconrad commented on #1803
You should definitely base any work in that direction on #1768 to avoid duplicate effort.
I doubt that removing includes will bring a large improvement, thanks to `pragma once`.
During #1768 I have tried a few things (e. g. instantiating index templates and object_ids explicitly) that I later rolled back again because they had a devastating effect on runtime performance. Please keep an eye on that

[2019-06-18 15:43] csquan commented on #1804
have any idea?

[2019-06-18 15:47] csquan opened #1805 "when I run chain_test on ubuntu 16.04 ,I got many failures"
when I run chain_test on ubuntu 16.04 ,I got many failures,
for details,please refer to url:https://paste.ubuntu.com/p/hvvBq6Q3M5/,
any idea?
please do not close this issue before it resolved,thankyou .

[2019-06-18 16:48] oxarbitrage commented on #1805
IIRC 16.04 do not provide boost by default. What boost version are you using ?

Also, please provide full build commands used from the `git clone ...` down to `make`.

Thank you.

[2019-06-19 01:57] csquan commented on #1805
my boost version is 1.58,and my full command as below:
git clone https://github.com/bitshares/bitshares-core.git
cd bitshares-core
git checkout master # may substitute "master" with current release tag
git submodule update --init --recursive
cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo .
make
cd test
./chain_test

[2019-06-19 03:17] zychappy opened #1806 "make fail in ubuntu"
* Build Error
make fail

**Steps To Reproduce**
Build Dependencies:
sudo apt-get update
sudo apt-get install autoconf cmake make automake libtool git libboost-all-dev libssl-dev g++ libcurl4-openssl-dev

git clone https://github.com/bitshares/bitshares-core.git
cd bitshares-core
git checkout master # may substitute "master" with current release tag
git submodule update --init --recursive
cmake -DC

[2019-06-19 06:08] csquan commented on #1805
Database close unexpected exception: {"code":10,"name":"assert_exception","message":"Assert Exception","stack":[{"context":{"level":"error","file":"fork_database.cpp","line":41,"method":"pop_block","hostname":"","thread_name":"th_a","timestamp":"2019-06-19T06:06:58"},"format":"_head: no blocks to pop","data":{}},{"context":{"level":"eoor","file":"db_block.cpp","line":517,"method":"pop_block","host

[2019-06-19 09:04] pmconrad commented on #1805
This exception is normal and not an error, as @abitmore has already told you in #1804 .

This OTOH is not:
`unknown location(0): fatal error in "flat_index_test": unknown type`

It looks like you are running new tests on outdated core or sth like that. Please remove your "bitshares-core" folder and start from scratch. Stop if any command produces an error.

[2019-06-19 09:09] pmconrad commented on #1806
Boost Version: [1.58]

These two are not compatible. Either upgrade to boost >= 1.62 (but <1.70) or downgrade openssl to < 1.1.0

[2019-06-19 09:11] pmconrad commented on #1805
Also, please provide all the information requested in the bug template, as you have already been asked to do in #1804 . We cannot help you without more detailed information.

[2019-06-19 09:13] csquan commented on #1805
I got you mean,some exceptions are normal.
but some test case I got "*** failure detected in test suite "Master Test Suite"",
is that normal as expected?

[2019-06-19 10:19] pmconrad commented on #1805
No it's not. Did you read my whole message or only the first line?

[2019-06-19 10:49] pmconrad commented on #1802
Which version are you running? I can't make sense of these line numbers.

One thing I noticed is that `node_impl::initiate_connect_to` takes a reference to a shared pointer as argument, which looks wrong. Both invocations of `initiate_connect_to` look harmless though.

Another thing is that `connect_to_task(new_peer, *new_peer->get_remote_endpoint());` dereferences an optional without checking if

[2019-06-19 11:25] csquan commented on #1805
you mean that my code is old version,suggest me remove it  and start from scratch.which branch should I chenckout?does new version test case all work fine?

[2019-06-19 14:31] cogutvalera commented on #1171
should I estimate windows solution @ryanRfox ?

[2019-06-19 16:13] pmconrad commented on #1791
FC bumped in #1792

[2019-06-19 16:13] #1791 closed

[2019-06-19 17:41] abitmore commented on #1805
@csquan `master` branch is OK. Please clone to a new directory and try again. E.G.
[code]

[2019-06-19 17:54] cogutvalera commented on #1171
@abitmore @pmconrad what do you think guys ?

[2019-06-19 18:19] abitmore commented on #1171
IMHO don't waste time on Windows so far.

[2019-06-19 18:23] cogutvalera commented on #1171
ok

[2019-06-20 05:33] zychappy commented on #1806
now
boost Version: 1.58.0.1ubuntu1
OpenSSL 1.0.2g

still error
[code]

[2019-06-20 05:49] csquan commented on #1805
I had make code and run ./chain_test --run_test=authority_tests/committee_authority
 which shows :unknown location(0): fatal error in "committee_authority": unknown type,how?

[2019-06-20 09:07] pmconrad commented on #1806
Did you replace the openssl-1.1 headers with the 1.0 headers? If boost can't find these symbols then I would guess you are still using the 1.1 headers.
Please show us the output from cmake.

[2019-06-20 09:21] pmconrad commented on #1805
How should we know? Your report lacks essential information. Did you start from scratch as you were asked, twice?

We have set up automated testing on Ubuntu-16.04 which confirms that the software, including `chain_test`, is working. You must be doing something wrong, but we're not clairvoyant so we can't tell you what it is.

[2019-06-20 09:27] csquan commented on #1805
I have git pull the latest version on branch master on ubuntu 16.04, compile and build,then run ./chain_test --run_test=authority_tests/committee_authority,some error shows,for details please refer to   https://paste.ubuntu.com/p/xq5Yp6yCdP/.

[2019-06-20 11:36] pmconrad opened #1808 "Release Notes: BitShares Core 3.2.0"
# Release Notes

The [BitShares](https://bitshares.org) Core software has been updated to the [3.2.0 Feature Release](https://github.com/bitshares/bitshares-core/milestone/27?closed=1). The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain. This release includes additions and improvements but _does not include any changes to

[2019-06-20 16:39] abitmore commented on #1805
@csquan if you still don't reply to our questions, we can't help you, but have to close the issue.

Please provide these info:
 - Host OS:             [e.g. Ubuntu 18.04 LTS]
 - OpenSSL Version:     [e.g. 1.1.0g]
 - Boost Version:       [e.g. 1.65.1]

Please tell us what change you've done on the code.

Please run `programs/witness_node/witness_node --version` and paste the result here.

Please fo

[2019-06-20 16:57] abitmore commented on #1808
Need details about API changes, especially breaking changes (e.g. we removed a field from result of `get_full_accounts` API in this release), best put them in one document. At least, personally I hate to click many times to see changes in individual issues/PRs.

[2019-06-20 17:12] abitmore commented on #1808
Maybe add #1813

[2019-06-20 23:12] abitmore commented on #1808
And #1815.

[2019-06-21 02:37] csquan commented on #1805
•Host OS: Ubuntu 16.04 LTS
•OpenSSL Version:  1.0.2g
•Boost Version:1.68
xx@ubuntu:~/bitshares-core/programs/witness_node$ ./witness_node --version
Version: 3.1.0
SHA: e3d1226e30cbd1e2b081642ad04aa7e2f27ac1af
Timestamp: 36 days ago
SSL: OpenSSL 1.0.2g  1 Mar 2016
Boost: 1.58
Websocket++: 0.7.0

I had follow the step and got master new version ,then make.

[2019-06-21 15:40] MichelSantos commented on #1808
@sschiessl-bcp @startailcoon Please be aware of the [upcoming changes to the API output](#api)

[2019-06-21 16:31] pmconrad commented on #1805
Here's the output from the automated test run of release 3.1.0: https://travis-ci.org/bitshares/bitshares-core/builds/532883439
As you can see it is exactly the same environment as yours. Please compare the `cmake` and `make` output with your own.

[2019-06-21 18:59] jmjatlanta opened #1816 "Recent FC changes prevent building on mac and Windows"
Changes made to simplify FC are causing builds on mac and Windows to fail.

The mac issues seem to center around fc::promise as well as __int128. Windows seems to have problems with casting the array_iterator to char* for a memcopy

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOut

[2019-06-21 19:22] jmjatlanta commented on #1816
Windows errors: Several of these:
[code]
along with this one, which seems to need adjusting often ( I seem to remember needing to adjust it on the last release )
[code]

[2019-06-21 21:31] oxarbitrage commented on #1171
Is the windows behaviour the same for `unlock` than it was for linux before the new code ?

If so, we should close this issue and open a new one for windows fix.

[2019-06-21 22:00] abitmore commented on #1171
Note: docs are needed for closing this issue (including readme, wiki, tutorials, how.bitshares.works and etc).
* If typed `unlock` or `set_password` command in `cli_wallet` with no parameter, there will be a prompt for inputting password
* the new behavior only applies to Linux and macOS

[2019-06-21 22:38] oxarbitrage commented on #726
closed by the merge of https://github.com/bitshares/bitshares-core/pull/1731

[2019-06-21 22:38] #726 closed

[2019-06-21 22:49] abitmore commented on #777
Merged PR #1731, closing this issue. Will create a new issue for adding optional parameters to the APIs.

[2019-06-21 22:49] #777 closed

[2019-06-21 23:20] abitmore opened #1819 "Add optional auto-subscription parameters to APIs"
**User Story**
These APIs may auto-subscribe to querying objects:
* get_accounts(vector)
* get_assets(vector)
* get_objects(vector)
* lookup_accounts(string, uint32_t)

The BitShares UI team wants to be able to opt-out auto-subscription for all these APIs, just like the behavior of `get_full_accounts` API (https://github.com/bitshares/bitshares-ui/issues/2612).

Since bitshares-core now supports o

[2019-06-21 23:52] oxarbitrage commented on #1149
closed by https://github.com/bitshares/bitshares-core/pull/1528

[2019-06-21 23:52] #1149 closed

[2019-06-21 23:54] oxarbitrage commented on #1567
closed by https://github.com/bitshares/bitshares-core/pull/1528

[2019-06-21 23:54] #1567 closed

[2019-06-22 00:36] abitmore commented on #783
@ryanRfox added a "docs needed" label for this issue but didn't remove it. I don't know what docs are needed. I think this issue can be closed since we've merged #1673. Please feel free to reopen if need more work.

[2019-06-22 00:36] #783 closed

[2019-06-22 01:11] abitmore commented on #847
Docs updated. Closing.

[2019-06-22 01:11] #847 closed

[2019-06-22 07:42] pmconrad commented on #1171
Ping @cedar-book - no rush

[2019-06-23 18:21] abitmore opened #1823 "argument ('false') for option 'required-participation' is invalid"
**Bug Description**

I got a report:

  what():  the argument ('false') for option 'required-participation' is invalid

Related to https://github.com/bitshares/bitshares-core/pull/1787.

The `test-3.2.0` Docker image doesn't work? Looks like we need to update default config file.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [

[2019-06-23 18:26] abitmore opened #1824 "3.1.0 Docker segfault due to libcurl"
**Bug Description**
3.1.0 Docker segfault due to libcurl.
Change baseimage to `ubuntu:bionic` fixes it.

Same issue exists with `testnet-3.2.0`.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [x] Deployment (the deployment process after building such as Docker, Travis, etc.)

## CORE TEAM TASK LIST
- [ ] Evaluate / Prioritize B

[2019-06-23 18:39] cedar-book commented on #1171
Okay! Thank you.

[2019-06-23 21:09] scientistnik opened #1826 "Get any Transaction by id."
Allmost blockchains has method to get any transaction by id. But BitShares doesn't?! We have block number and transaction index of this block. Maybe we need added some API method for get any transaction by id?

For example: get base64 from `block_id` and get base64 from `trx_index`, and concatenate they.

**Impacts**
- [x] API (the application programming interface)
- [ ] Build (the build process

[2019-06-23 21:37] scientistnik opened #1827 "GraphQL plugin"
What you think about implement GraphQL plugin to bitshares-core?

GraphQL allow make requests for data you need.
For example, if I need get orders and balances of account.
I call:
[code]
I get:
[code]
But, I need only `balances` and `limit_orders`.
In GraphQL:
[code]

[2019-06-24 02:05] csquan commented on #1805
yes，I will check it。thanks a lot.

[2019-06-24 02:43] csquan opened #1828 "Is there any schedule for support defer tx like EOS?"
Is there any schedule for  support defer tx like EOS?
In EOS,fun schedule_deferred_transaction supprted defer tx,is there any schedule in bitshare?

[2019-06-24 07:31] abitmore commented on #1826
Already implemented in ElasticSearch plugin.

[2019-06-24 07:31] #1826 closed

[2019-06-24 07:42] abitmore commented on #1828
In BitShares, deferred transactions can be done via proposals with a review period. See https://github.com/bitshares/bitshares-ui/issues/1858. If need to check some conditions at the time when executing the transaction, can use an `assert_operation` in the same proposal.

[2019-06-24 07:43] #1828 closed

[2019-06-24 09:23] pmconrad commented on #1827
I think it would require a lot of effort for very little savings in bandwidth. Probably not worth the trouble.
Or do you see any other significant advantages?

[2019-06-24 09:58] clockworkgr commented on #1827
We've discussed this in UI team before, but as a separate setup (e.g. apollo) combined with an API proxying (and possibly caching) server

[2019-06-24 11:01] pmconrad commented on #1816
Please post the error message. I'm curious why this template gets instantiated on mac but not on linux.

[2019-06-24 11:10] pmconrad commented on #1816
"typeinfo for unsigned __int128", referenced from:

Possible clang bug? https://bugs.llvm.org/show_bug.cgi?id=23156

Which version?

Ah, we may have to enable language extensions for clang too...

[2019-06-24 11:33] pmconrad commented on #1816
Please try building with this fc version: https://github.com/bitshares/bitshares-fc/pull/140

[2019-06-24 12:27] xeroc commented on #897
bitshares-core was built successfully. The report says:

[code]

[2019-06-24 13:12] pmconrad commented on #897
Hm, can you post your `vendor/gitian-builder/result/bithares-core-linux-res.yml`?

[2019-06-24 16:19] pmconrad commented on #1823
Allegedly fixed by #1825

[2019-06-24 16:19] #1823 closed

[2019-06-24 16:19] pmconrad commented on #1824
Allegedly fixed by #1825

[2019-06-24 16:19] #1824 closed

[2019-06-25 06:40] pmconrad commented on #1584
Future ideas:
* replace `fc::optional` with `boost::optional` or `std::optional` (C++17)
* replace `fc::thread` with `boost::fiber`

[2019-06-25 08:32] xeroc commented on #897
https://gist.github.com/a7b77dbb049dc8eec30326565b41d43d

[2019-06-25 11:12] pmconrad commented on #897
Thanks. Apparently your build used a slightly newer toolchain, which might explain the resulting difference. Will try to find out how bitcoin handles that problem.

(What's a bit hare anyway? Argh!)

[2019-06-26 10:22] pmconrad commented on #897
The difference could also be due to a different build environment. Will try to improve resilience.

[2019-06-26 13:28] pmconrad commented on #897
@xeroc made some updates in https://github.com/pmconrad/bitshares-gitian , please try again if you find the time

[2019-06-26 20:45] nathanhourt commented on #897
Oh, cool, it works for me now :)

[2019-06-27 09:30] pmconrad commented on #1703
Resolved by #1832

[2019-06-27 09:30] #1703 closed

[2019-06-28 15:19] OpenLedgerApp commented on #1780
We have made an investigation of settle_order.

The settle orders can be matched only between MIA and Core-asset.
So, in fill_settle_order we always receive Core-asset, that doesn't use Market Fee Sharing.
That way, it not necessary to add Market Fee Sharing functionality in the function fill_settle_order.

Please correct us if we are wrong.

[2019-06-28 17:55] abitmore commented on #1780
No. You can create a new asset that is not backed by another asset which is not CORE, then borrow some, then settle.

[2019-07-01 11:47] OpenLedgerApp commented on #1800
We have implemented this BSIP. So, we want to keep it on us.

[2019-07-01 22:29] ryanRfox commented on #1800
@OpenLedgerApp please advance this.

[2019-07-02 06:27] sschiessl-bcp commented on #137
Something to re-evaluate? @ryanRfox

[2019-07-02 10:04] abitmore commented on #137
@sschiessl-bcp I think it's better to discuss in the BSIP repository rather than in this closed issue.

[2019-07-03 17:10] pixelplex opened #1839 "Select the number of committee members based on a third vote"
**Bug Description**
It is possible that the number of committee members will be selected on the basis of only a third of the votes.

**Impacts**
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CLI (the command line wallet)
- [ ] Deployment (the deployment process after building such as Docker, Travis, etc.)
- [ ] DEX (the

[2019-07-05 07:58] abitmore commented on #1839
Current behavior is expected.

It's hard to reach consensus quickly if everyone votes for an exact number of active committee members but the threshold is 50%. To make it easier, the consensus rule is designed as "everyone votes for maximum number of active committee members".

If 1/3 of votes voted for 5, 1/3 voted for 11, 1/3 voted for 15, that means 3/3 of votes agreed 5 or less, 2/3 agreed 11

[2019-07-05 11:59] pixelplex commented on #1839
@abitmore We think that this scheme is not honest with the user.
If 50% voted to reduce the number of com.members and only 1% to ensure that the number was on the contrary increased several times, as a result, we will receive an increase in the number several times. Wouldn’t it be correct to leave the number of members that was before the vote?

[2019-07-05 20:34] abitmore commented on #1839
If 50%-1 voted for X, 50%+1 voted for Y, then the result is Y, no matter X>Y or X<Y.

If 50% voted for X, 50% voted for Y, then the result is `min(X,Y)`. Actually, because it's stake-based voting, practically it's very rare rare to have exactly 50% stake voting on a number and 50% voting on a different number.

Maybe I misunderstood your question.

[2019-07-05 21:44] abitmore commented on #1256
`VERIFY_CORRECT_THREAD()` is defined in several files, but the one defined in `node.cpp` is different, IMHO it's a bug.

[code]

At least, we need to check `#ifndef NDEBUG` like elsewhere.

[2019-07-05 22:00] abitmore commented on #1584
Please remove `fc::uint160_t`, because it's not really a traditional integer, for example, it doesn't have an `operator+()`.

[2019-07-07 05:49] pixelplex commented on #1839
Sorry, but I did not understand why `min(x, y)`. Shouldn't it be `max`?

now about my question. Imagine the current number of members = 15. The community decides to reduce the number and starts voting. 50% voted to reduce the number to 10. The other participants for some reason do not vote. Someone sees the number of votes and adds his vote (suppose his vote is 1%) for the number to be 40. In the

[2019-07-07 18:50] abitmore commented on #1839
The final result would be 10.

[2019-07-07 19:08] abitmore commented on #1839
You're correct about the `max(X,Y)` result if **exactly** 50% are voting for X and 50% are voting for Y, due to the `stake_tally <= stake_target.value` check in `while`. I admit that I've misunderstood the code. But I still think the outcome is acceptable.

[2019-07-08 06:36] pixelplex commented on #1839
- the current number of members - 15
- 49% voters vote for reducing the count to 10
- 2% voters vote for an increase the count to 40
- other voters do not vote

what will be the result?

[2019-07-08 10:12] yudizaxay opened #1841 "MAKE command error while installing"
**Build Error Description**
followed the installation instruction but getting error in the last command `make`

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOutput.log`.
LINK -> [CMakeOutput.log](https://drive.google.com/file/d/1wX4_rzJxJY74mF3UDTcZALCB-E6ZAi_h/view?usp=sharing)

[2019-07-08 10:37] jmjatlanta commented on #1841
Websocket++ cannot handle changes in Boost 1.70. Use Boost 1.69 or below and this problem will go away.

[2019-07-08 12:33] yudizaxay commented on #1841
Thanks, @jmjatlanta it's worked :)

[2019-07-08 12:35] prateektiwari7 commented on #1841
use `brew link --force boost@your_version`

[2019-07-08 14:14] #1841 closed

[2019-07-08 15:30] abitmore commented on #1839
10.

[2019-07-08 18:44] jmjatlanta commented on #1806
@zychappy were you able to resolve this? If not, please post or link too your cmake output or console logs. Within them are usually hints as to what is going wrong. Thanks.

[2019-07-09 03:01] zychappy commented on #1806
@jmjatlanta not yet,I have downloaded the compiled tools for my own tests.

[2019-07-09 03:01] #1806 closed

[2019-07-09 06:27] pixelplex commented on #1839
@abitmore we checked it several times - the result will be 40. And we think this is wrong logic. Since the majority of those who voted voted for a decrease in the count of members, and their votes were taken into account for increasing this value

[2019-07-11 03:05] zychappy opened #1844 "run witness fail"
a machine with 8 CPU,16g RAM still can't support witness_node?

Out of memory: Kill process 26939 (witness_node) score 781 or sacrifice child

is there any advices about optimization？

[2019-07-11 08:26] csquan opened #1845 "how to make order through js-sdk on bitshare?"
how to make order through js-sdk on bitshare?

[2019-07-11 10:03] abitmore commented on #1845
Please check https://github.com/bitshares/bitsharesjs

[2019-07-11 10:03] #1845 closed

[2019-07-11 10:08] abitmore commented on #1844
16G RAM should be fine with default configurations. Number of CPU cores doesn't matter. More info: https://github.com/bitshares/bitshares-core/wiki/Memory-reduction-for-nodes

[2019-07-11 10:10] #1844 closed

[2019-07-12 05:13] syalon opened #1847 "Custom operation plugin"
## Background

Currently, the account in bitshares cannot store any data information. Only store data via `custom op`.
For example: contact information, custom market information, setting information, etc.

However, the data in `custom op` currently has no API interface for easy retrieval. So I hope to provide plugins for support.

## Requirements

#### API interface
Currently `custom op` mainly c

[2019-07-12 11:38] abitmore commented on #1847
For reference, please check the "follow plugin" in Steem. With this plugin, Steem accounts can follow or ignore other accounts. https://github.com/steemit/steem/tree/master/libraries/plugins/follow

[2019-07-13 22:39] scientistnik commented on #1827
@pmconrad you right, it don't have significant advantages. Convenience only.

For example, we may define `Account` and `Asset` GraphQL types:
[code]
`AssetAmount` is
[code]

Now, we may send one request for get all information what we need:
[code]

If we define several types for market data, almost all information can get from one query!
[code]

[2019-07-14 15:33] oxarbitrage commented on #1037
I think we have this pretty covered at this time, last comment is 1 year ago. Feel free to reopen if needed.

[2019-07-14 15:33] #1037 closed

[2019-07-15 06:34] csquan opened #1850 "where does impl::position<X, Types...>::pos initialized?"
in file:libraries/fc/include/fc/static_variant.hpp,where does impl::position<X, Types...>::pos initialized?

[2019-07-15 08:19] csquan commented on #1850
there are 3 position which  initialize pos = -1 or 0 or ++,but break point does not break,so is some other place?

[2019-07-15 14:19] OpenLedgerApp commented on #1800
It seems a bit different as described above:
398 accounts have `temp-account` as registrar and `committee-account` as referrer.

As we can see in `deposit_cashback()`, neither registrar nor referrer gets cashback.

[code]
We propose to modify `pay_market_fees()` method and exclude blockchain's accounts (**committee**, **witness**, **relaxed-committee**, **null** and **temp**) from market fee shari

[2019-07-15 18:56] abitmore commented on #1800
The comment reads "The blockchain's accounts do not get cashback; it simply goes to the reserve pool". The beneficiary is still the network (or say the public / the community).

When talking about market fee sharing, IMHO the network should get the share. So my opinion is:

Of course, asset owners can setup white-lists to exclude `committee-account`.

[2019-07-16 03:44] cedar-book commented on #1171
Hi @pmconrad, I updated this section [3.Unlock the Cli_Wallet](https://dev.bitshares.works/en/master/development/apps/cli_wallet.html#unlock-the-cli-wallet) to show how it works.

[2019-07-16 09:54] abitmore commented on #1171
@cedar-book as mentioned in Telegram and in above comment (https://github.com/bitshares/bitshares-core/issues/1171#issuecomment-504586213), please update tutorial about `set_password` command as well, since we've extended the behavior.
[code]

By the way, the current tutorial is a bit confusing, since there are 2 `unlock` commands inside, one with the password in the command and with no additional

[2019-07-16 18:00] nathanhourt commented on #1850
[code]

Hi, @csquan :) This is template metaprogramming, so it doesn't read like normal C++ code. It's manipulation of types, not values, done completely at compile-time, and is a purely functional sub-language within C++.

If you're not used to template metaprogramming, this code may be difficult to understand at first, but basically what's going on is that `position` is a metafunction (compile-t

[2019-07-16 20:23] oxarbitrage commented on #1808
closed by https://github.com/bitshares/bitshares-core/releases/tag/3.2.0

[2019-07-16 20:23] #1808 closed

[2019-07-17 06:12] csquan commented on #1850
yes，I got it,thank you for your answer.

 ------------------ 原始邮件 ------------------
  发件人: "Nathan Hourt"<notifications@github.com>;
 发送时间: 2019年7月17日(星期三) 凌晨2:00
 收件人: "bitshares/bitshares-core"<bitshares-core@noreply.github.com>;
 抄送: "mars"<314588595@qq.com>;"Mention"<mention@noreply.github.com>;
 主题: Re: [bitshares/bitshares-core] where does impl::position<X,Types...>::pos initialized? (#1850

[2019-07-17 06:41] #1850 closed

[2019-07-17 08:37] OpenLedgerApp commented on #1800
@abitmore, thanks for your feedback.

Let’s see what think other Core member and community here.
@pmconrad, @oxarbitrage, @sschiessl-bcp

[2019-07-17 08:47] sschiessl-bcp commented on #1800
I agree. If market fee sharing is set, the network should benefit, i.e. everything goes to committee-account.

I would suggest to adjust
[code]
to
[code]

[2019-07-17 11:30] abitmore commented on #1033
@dnotestein mentioned in https://github.com/bitshares/bitshares-ui/issues/2695#issuecomment-512043533:

And there is a related BSIP draft: https://github.com/bitshares/bsips/issues/148

[2019-07-17 20:32] abitmore commented on #1171
Update: https://dev.bitshares.works/en/master/development/apps/cli_wallet.html#unlock-the-cli-wallet has been updated.

We may still want to update README of this repository, the CLI cook book, and etc.

[2019-07-19 00:08] abitmore opened #1852 "3.2.0 witness_node hang, too many open files"
**Bug Description**
witness_node stops responding after started for a while but is running at high cpu %.
The log messages below are probably related.
[code]

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to compiled code)
- [ ] CL

[2019-07-19 16:29] risyasin opened #1853 "New witness node: Failed to push new block"
**Instructions**
Just start a witness node with empty database v.3.2.0 on Ubuntu 18.4 . Just wait a few hours.
**Bug Description**
I've started a single witness node on an empty database with default settings. Update seed nodes from http://status.bitsharesnodes.com/  After a few hours Daemon stops p2p traffic. Does nothing no I/O or no log. Last log given by daemon (on top)
[code]
Details here: ht

[2019-07-19 20:31] abitmore commented on #1852
The file descriptor aren't closed properly after a websocket connection is closed. #1854 should fix it.

Steps to reproduce:
1. start a witness_node which acceps RPC connections
[code]
2. in another terminal, run `lsof` command to check the node's open files
[code]
3. send an API request to witness_node
[code]
4. run`lsof` again, there would be one `sock` file descriptor left opened
[code]
5. repe

[2019-07-19 21:33] abitmore opened #1856 "witness_node does not quit when pressed Ctrl+C"
**Bug Description**
If the `witness_node` is started with `--rpc-endpoint`, it sometimes (but not always) doesn't quit when pressed Ctrl+C. When pressing Ctrl+C again, it will quit.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build process or something prior to

[2019-07-19 21:44] abitmore commented on #1856
Probably related: https://github.com/bitshares/bitshares-fc/pull/136#issuecomment-496286733

[2019-07-19 21:48] abitmore commented on #1856
I think the "hang" behavior mentioned in https://github.com/bitshares/bitshares-core/issues/1303 is the same bug.

[2019-07-19 21:49] abitmore commented on #1856
Stack backtrace when it occurs:
[code]

[2019-07-19 21:51] abitmore commented on #1852
Fixed by #1854.

[2019-07-19 21:51] #1852 closed

[2019-07-19 21:51] jmjatlanta opened #1859 "Release Notes: BitShares Core 3.2.1"
The [BitShares](https://bitshares.org) Core software has been updated to the 3.2.1 release. The Core software is used to build the validation nodes that perform consensus of all transactions on the BitShares blockchain. This release includes a fix for an issue found in the 3.2.0 release, and _does not include any changes to the consensus protocol_.

Documentation for users may be be found at [How

[2019-07-19 22:18] abitmore commented on #1853
The log indicates that the node failed to (partially) replay from a local cache of object database, probably related to https://github.com/bitshares/bitshares-core/issues/946, which means the local cache is corrupted or unclean. Restarting witness_node with `--replay-blockchain` option would fix the local cache.

It seems that the node tried to push the same block twice. I'm not sure if it's relat

[2019-07-19 22:38] oxarbitrage commented on #1859
closed by https://github.com/bitshares/bitshares-core/releases/tag/3.2.1

[2019-07-19 22:38] #1859 closed

[2019-07-20 06:18] abitmore commented on #550
Use `ulimit -n 65536` to enable more connections.

[2019-07-20 15:02] abitmore opened #1861 "Update private testnet doc"
The default value of `required-participation` parameter in `witness` plugin is `33`, with this number, when starting a private testnet, the node won't produce blocks.

[2019-07-20 17:29] oxarbitrage commented on #1847
I had some conversations with @abitmore on how to implement this plugin and i am going to give a try to it. I will pull request as soon as i have something to share, i expect to be on it this starting week.

[2019-07-21 16:52] cedar-book commented on #1861
===============================================
-witness plugin options
     ===============================================
Enable block production, even if the chain is stale.
-enable-stale-production = false
 Percent of witnesses (0-100) that must be participating in order to produce blocks
-required-participation = 33
 ID of witness controlled by this node (e.g. "1.6.5", quotes are required, m

[2019-07-21 20:44] abitmore commented on #1861
Yes, need to change `required-participation` to `0`.

[2019-07-21 23:24] cedar-book commented on #1861
As a quick note. Updated the information on this page's example [Configuration for Private Testnets](https://dev.bitshares.works/en/master/development/apps/node_config_example_private_testnet.html#configuration-for-private-testnets) and added a warning.

[2019-07-22 07:17] risyasin commented on #1853
I can confirm that this bug no longer exist after 3.2.1 patch. I could able to `replay-blockhain` as well. Now my witness node works as expected. Thank you. If you need further investigation, let me know I can re-open this issue.

[2019-07-22 07:17] #1853 closed

[2019-07-22 08:25] sschiessl-bcp commented on #1847
Is the idea to expand the current state to be able to include custom information for each account, or "only" a separate plugin that node operators can run that translates custom operation payload to be always accessible?

If the UI or mobile would be making use of such a feature, it would need to be available for all nodes, thus should be feasible to enable as default without having RAM explode.

[2019-07-22 18:17] oxarbitrage commented on #1861
Added to https://github.com/bitshares/bitshares-core/wiki/private-testnet#starting-block-production

[2019-07-22 22:33] abitmore commented on #1847
The idea is to expand the current state, in a plugin, need API nodes to enable the plugin to be used by UI and mobile.

[2019-07-22 22:55] abitmore commented on #1861
Thank you.

[2019-07-22 22:55] #1861 closed

[2019-07-22 23:43] abitmore commented on #243
We can add an API to return all operations from data stored in `account_history` plugin, with a block number as parameter. Since the data contains `trx_in_block` and `op_in_trx`, clients would be able to merge result of this API into result of `get_block` API.

Note: due to `partial-operations`, some history entries could have already been removed, so the result can be incomplete.

Alternatively,

[2019-07-23 03:44] syalon commented on #1847
It seems that there is progress, thank you to the core team. For the general purpose of ui and mobile, we also need to specify some standards. Of course, these can be discussed in terms of the final implementation of @oxarbitrage .

[2019-07-23 12:22] oxarbitrage commented on #1847
There is going to be an informational BSIP similar to https://github.com/bitshares/bsips/blob/master/bsip-0060.md to specify some standards. However i will do that side by side with a prototype of the plugin as i a had not decided what will be the best standards yet.

[2019-07-23 17:12] abitmore opened #1864 "GCC 4.9 is not supported"
**Build Error Description**
Failed to build test-3.2.2. Logs: https://pastebin.com/jnimvsv6

**Build Environment**
Details about the build environment, including the relevant required libraries. Much of this information can be found in the `CMakeFiles/CMakeOutput.log`.
 - Host OS:             debian8
 - Host Physical RAM
 - Source Branch/Tag:   test-3.2.2
 - OpenSSL Version:     1.0.1t
 - Boost Ve

[2019-07-23 17:46] pmconrad commented on #1839
@pixelplex your thought model is wrong. The voting is not relative but absolute. I. e. it is not about how many members there currently are and if the number should be reduced or not, but about how many members the voters want to have in the future (regardless of how many there are now).

The voting takes a series of (votes, number) pairs and selects the minimum number where the cumulative sum  of

[2019-07-23 17:46] #1839 closed

[2019-07-23 17:55] abitmore commented on #1864
I guess this means we no longer support GCC 4.9. Perhaps need to revise some docs.

[2019-07-23 19:47] abitmore opened #1865 "Improve lookup_witness_accounts API performance"
**User Story**
Current implementation of `lookup_witness_accounts` API is inefficient because `witness_object` class doesn't have an account name. We can add account name to the class and index by it.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [ ] Build (the build proces

[2019-07-24 02:26] nathanhourt commented on #1864
GCC 4.9 has incomplete C++14 support. I think we should drop support for it.

[2019-07-24 06:58] abitmore commented on #1713
Merged #1849. If need a CLI command, create a new issue.

[2019-07-24 06:58] #1713 closed

[2019-07-24 10:33] sschiessl-bcp opened #1867 "Allow querying of assets with filters"
**User Story**
As a `developer` I want `to get assets matching certain criterias without having to query all and filter locally` so that `the network and processing load is reduced, for client and server`.

Possible filters:
 - asset type (uia, bitasset, prediction market, anything else?)
 - simple regex search for symbol (define * as any)
   - *X: any asset that ends with X
   - OPEN.*: any asset

[2019-07-24 10:54] abitmore commented on #1867
Giving the complexity, I guess it's easier to query via ES.

[2019-07-24 10:59] sschiessl-bcp commented on #1867
Easier for the coder, yes. Easier for the UI and world wide availability, no.

ES is still not adopted globally, I don't see it happen any time soon due to the server requirements.

I vote for direct core support.

[2019-07-24 12:26] pmconrad commented on #1827
Who is "we" in the example above? The client? Or is this implemented in the plugin you're proposing?

Are you talking about defining a GraphQL-based API and providing an implementation for it, or is there a ready-made generic GraphQL server that would have to interface with our internal database?

A generic API where the client specifies what and how much it wants is dangerous because it opens up

[2019-07-24 12:57] pmconrad commented on #1800
I'm not even sure if this qualifies as a bug. I agree it is not nice that the temp account could receive market fee payouts, but it's not like this would break anything. So IMO any change of the payout logic must either conform with the original intent of the feature, or be approved by community vote.

Since blockchain accounts are not explicitly excluded from market fee sharing in BSIP-43 we can'

[2019-07-24 13:11] pmconrad commented on #1864
We require C++14, so we have implicitly dropped support for all compilers that don't have complete C++14 support.
Maybe we should mention it in the README. We didn't mention C++11 either though.

[2019-07-24 13:15] pmconrad commented on #1867
Regex has inherent dangers. Simple prefix/suffix matching would be safe though and work for all your examples. (And it'd be easy to implement as well.)

[2019-07-24 13:52] abitmore commented on #1867
Put this on witnesses' back. Or workers. Just Politics.

On the other hand, UI should start making use of ES. If the main user doesn't use ES, why ask people to setup servers?

[2019-07-24 13:57] abitmore commented on #1867
This is easy to implement. Deal?

[2019-07-25 07:49] abitmore opened #1869 "GCC 8.3 support"
**User Story**

https://github.com/steemit/steem/pull/3417

It's for Ubuntu 19.04, since it's not a LTS release, we don't have to support it, although good to have.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [ ] API (the application programming interface)
- [x] Build (the build process or something prior to compiled cod

[2019-07-25 14:05] jmjatlanta commented on #1646
Fixed by #1840. For complete build instructions for Windows, see [BUILD_WIN32](/bitshares/bitshares-core/wiki/BUILD_WIN32)

[2019-07-25 14:05] #1646 closed

[2019-07-25 15:45] jmjatlanta commented on #1869
Agreed. The changes done for steemit are not onerous, and will probably make code more generic (less warnings/errors in the future).

[2019-07-25 18:25] manikey123 opened #1871 "get_collateral_bids_by_account for dashboard page on the UI"
**Instructions**
Please include a detailed Title above. Next, please complete the following sections below:
* User Story
* Impacts
* Additional Context (optional)

Finally, press the 'Submit new issue' button. The Core Team will evaluate and prioritize your Feature Request for future development.

**User Story**
For a given account, display the open/ existing collateral bids across all assets on t

[2019-07-25 18:27] manikey123 commented on #1871
Can anyone help assign the issue to me.
Research Estimate : 2-3 hrs

[2019-07-25 18:31] pmconrad commented on #1871
Assigned since you're dealing with this on the ui side too. Hope that's ok with you @ryanRfox .

[2019-07-25 18:38] ryanRfox commented on #1871
Yes! Thanks @manikey123 for advancing this

[2019-07-26 17:48] oxarbitrage opened #1873 "add protocol to libraries doc"
https://github.com/bitshares/bitshares-core/tree/master/libraries

We need to change the description of `chain`, add `protocol` and a description for it.

[2019-07-26 21:21] abitmore opened #1874 "Show more statistics in console"
**User Story**

As a node admin I want to see more statistics in console, E.G.
* number of peers that are currently connected to my node
* number of websocket API clients connected
* number of API requests served in last x seconds

Currently we only have these:

1189287ms th_a       application.cpp:592           handle_transaction   ] Got 13 transactions from network
1190343ms th_a       applicati

[2019-07-28 21:28] cogutvalera commented on #1874
@ryanRfox I want to take this issue, attach it to me please
my estimation is approximately 4 hours

[2019-07-29 09:05] pmconrad commented on #1089
Merged #1836 - please keep this open until release notes are created. Public API nodes should activate the new plugin when upgrading.

[2019-07-29 09:05] pmconrad commented on #1781
Merged #1836 - please keep this open until release notes are created. Public API nodes should activate the new plugin when upgrading.

[2019-07-29 20:30] abitmore commented on #556
@sschiessl-bcp shared an article https://hackernoon.com/the-ideal-crypto-trading-api-b1bbb2675875 which indicates a client-decided ID is good.

[2019-07-29 20:36] jmjatlanta commented on #243
Approach 1: Clients for an API node with partial-operations turned on would still get the block information, and operation IDs for probably the transactions they are interested in. I am sure there are use cases for complete block information, but I would guess this approach would cover the majority of cases.

Approach 2: Could this be done as a plug-in? Perhaps it could be contributed later.

[2019-07-29 21:51] abitmore commented on #243
In my previous comment, approach 1 and approach 2 have the same logic, the difference is approach 1 requires more client-side code, but approach 2 is pure server-side code, both would produce incomplete results due to `partial-operation` thus may be confusing for clients.

Using a plugin to store the IDs data on disk seems doable, this (approach 3) can produce completed results, thus would be bett

[2019-07-30 18:38] jmjatlanta commented on #243
Thank you for the clarifications. Here is my $0.02:

I say approach 3 is out (for now). Approach 2 would probably cost less (cycles/bandwidth) if most use cases require the IDs. If the vast majority do not need it, I would say approach 1 would be better. It would cause more code on the client side to combine the data, but an overloaded API server hurts all who are connected to it.

[2019-07-30 19:27] jmjatlanta commented on #1869
Note: The existing BitShares Core build does not fail with Ubuntu 19.04 / GCC 8.3. Evidently, steemit compiles with -Werror or something similar.

So, while not breaking builds, these warnings should be cleaned up.

[2019-07-30 19:46] startailcoon opened #1876 "Elastic Search 'get_account_history' fail when target OP is beyond 10.000"
**Bug Description**
When using Elastic Wrapper `get_account_history` with a `from_` parameter together with `size` that ends up with a number above 10.000 the wrapper will return `ERROR 500: INTERNAL SERVER ERROR.`

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Build (the bu

[2019-07-30 19:49] oxarbitrage commented on #1876
please open this issue at https://github.com/bitshares/bitshares-explorer-api/issues which is the repo for the explorer api that contains the es-wrapper.

thank you very much and sorry for the inconvenience.

[2019-07-30 19:49] #1876 closed

[2019-07-30 20:07] oxarbitrage commented on #1876
seems the issue is already open: https://github.com/bitshares/bitshares-explorer-api/issues/39

ill try to take care of it.

[2019-07-30 21:21] jmjatlanta commented on #1134
I merged the master branch of zaphoyd/websocketpp into libraries/fc/vendor/websocketpp and compiled without error. Some fc tests fail.

"fc_network/websocket_test": boost::exception_detail::clone_impl<boost::exception_detail::error_info_injector<boost::system::system_error> >: set_option: Bad file descriptor
/home/jmjatlanta/Development/cpp/bitshares-core-1134/libraries/fc/tests/network/http/webso

[2019-07-30 21:40] startailcoon commented on #1876
Thanks @oxarbitrage and no problem. Wasn't sure where we kept those and hope for the best on the core repo :)

[2019-07-30 22:25] oxarbitrage commented on #1876
It is fine, it is actually an old well known issue exactly after the 10k described here: https://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-search-after.html

There is a solution right there as well but i was lazy at the moment, postponed the issue and then forgot about it.

I had added high priority and assigned the issue to me so i hope to have a fix soon however the

[2019-07-31 18:30] abitmore commented on #243
Ultimately, virtual operations by block number can be queried from ES.

I forgot why I added this issue to 3.3.0 project/milestone.

[2019-08-01 14:30] pmconrad commented on #1134
IIRC it does compile but isn't working properly, because upstream changed a hook where we set socket options or sth like that.

[2019-08-01 18:09] abitmore commented on #978
Suppressed some p2p logs in #1875, but didn't deal with the duplicate transaction pushing issue, so I'd like to keep this issue open.

[2019-08-01 19:00] abitmore commented on #1735
Efforts about boost 1.70 in Steem:
* https://github.com/steemit/steem/issues/3354
* https://github.com/steemit/steem/commits/3354-boost-1-70

[2019-08-02 12:51] sschiessl-bcp commented on #1867
I woudl rather have the search logic in core in the way that Peter mentioned, but if I can't have that then I will settle for that easy way. You guys decide :)

[2019-08-02 15:05] jmjatlanta commented on #1134
Related: https://github.com/bitshares/bitshares-core/issues/1735#issuecomment-517415838

[2019-08-03 21:50] dls-cipher commented on #517
![2019-08-04_0242](https://user-images.githubusercontent.com/39482961/62417164-4f555f00-b673-11e9-8866-bad02e212c61.png)

Version: test-3.2.2-57-gf3814b1e
SHA: f3814b1ed5cb7bcbc857ff2e891ba65f0036e08b
Timestamp: 11 days ago
SSL: OpenSSL 1.1.1  11 Sep 2018
Boost: 1.67
Websocket++: 0.7.0

[2019-08-05 14:11] oxarbitrage commented on #1873
closed by https://github.com/bitshares/bitshares-core/pull/1877

[2019-08-05 14:11] #1873 closed

[2019-08-05 14:47] xeroc commented on #556
So, adding a user-defined order-id would IMHO require
* a hardfork to add the user-defined id to the `create_limit_order` operation
* an index over user defined order id that maps to object ids
* an API that allows to query for the object id by using the user-defined order id

Doesn't sound too complicated to me

[2019-08-05 17:30] OpenLedgerApp commented on #1784
@abitmore, do you have any progress with this task?
If you don’t mind we can take this issue to us.

[2019-08-05 19:56] Zapata commented on #1874
Ideally I would  have those statistics in my monitoring tool (ie [Prometheus](https://prometheus.io/)). So those information should be easely exportable from an eventual (prometheus) plugin.

[2019-08-05 20:53] ryanRfox commented on #1874
Let's have some additional discussions to define how we want Core to expose stats to node operators (likely we don't what most stats exposed to public clients). Currently the issue author states logging to console, which is one option. I agree with @Zapata that a plugin may be desirable to capture data for post processing by another tool(s). Perhaps another option is to create some stats APIs.

Co

[2019-08-05 21:19] ryanRfox commented on #1869
My understanding is that the Ubuntu interim releases allow testing of libraries/tools likely to be included in the next LTS. I would expect Ubuntu 20 LTS to default to GCC 9.1 (or higher dot release). I continue to believe that we should be targeting our builds to support the two most recent LTS releases for the range of supported libraries. For GCC that would currently be 5.4 - 7.3 and by next sp

[2019-08-05 21:24] ryanRfox commented on #1864
Yes, we should revise our README and WIKI to reflect our supported range for libraries. For GCC that would currently be 5.4 - 7.3 based on Xenial and Bionic (two most recent LTS versions): https://packages.ubuntu.com/xenial/gcc

[2019-08-05 21:38] abitmore commented on #556
@xeroc please continue the discussion in https://github.com/bitshares/bsips/issues/185. If have the time / resource, write a BSIP.

[2019-08-05 22:16] abitmore commented on #1784
I've made some progress in my local repository. Waiting for https://github.com/bitshares/bitshares-fc/pull/134 to be merged to avoid conflicts.

[2019-08-06 01:27] abitmore commented on #1869
I think in spring 2020 when we release 5.0 (maybe), we would have little if any time to test Ubuntu 20.04. So, the efforts about it should be put in 6.0.

[2019-08-06 03:22] manikey123 opened #1882 "Incentivizing Node API operators (premium endpoint service for clients)"
**User Story**
Incentivizing Node API operators based on the desired user bandwidth for premium services. The APIS are limited as a protection from DDOS.  Configuring limits dynamically based on user preference from the node operator side to generate revenue for the Node API operators. As the functionality affects core and other client teams, discussion/ suggestions/ feedback on the below approach

[2019-08-06 07:39] sschiessl-bcp opened #1883 "Market Ticker going crazy"
**Bug Description**
Market ticker giving crazy values, e.g. asset ABCWORLDSERIES on testnet. The value returned by "get_ticker" backend call has as base_volume 3402823669209384634633745944781682.11456. What's breaking there?

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by this bug. Please tick at least one box.
- [x] API (the application programming interface)
- [ ] Bui

[2019-08-06 11:34] abitmore commented on #1882
About API mapping, there was a project: https://github.com/bitshares/btsproxy, rather than changing core code, I think that infrastructure is clearer and easier to extend (we can get help from developers who don't write C++).

For authentication, currently we only support api-access file for easy authentication. To update it, we have to restart the node. Even if we can reload on the fly, since the

[2019-08-06 13:35] abitmore commented on #1883
Reproduced on my testnet node, which was `test-3.2.0` built in Ubuntu 16.04 with default GCC (5.4) and openssl and boost libraries (1.58).

Looks like that number is `2**128`. That's a GSed PM, with an outcome `1`. Price of the last `fill_order_operation` is `1`. The volume should be `0`. Also happens on some of other assets (but not all).

Since data type of the volume types is `fc::uint128`, the

[2019-08-06 14:15] abitmore commented on #1883
OK, that number is not `2**128`, but is a little smaller. The issue happens when an asset is globally settled, following force-settle orders will produce no maker `fill_order` record in account history but only taker records.

[2019-08-06 14:25] oxarbitrage opened #1884 "add more voting related stats to account statistics object"
**User Story**
As a `bitshares dapp developer` i want to give my users the most accurate information.

The voting and proxy stats were always hard to get for the client as it need to loop throw all accounts. `es-objects` plugin improved a bit the situation but still slow to do real time so cronjobs or similar need to be implemented in the dapp side.

The bitshares-core node haves this info availab

[2019-08-06 14:36] abitmore commented on #1883
Update: I was wrong about the reason why the volume gets subtracted by a number on every new block. Will update later.

[2019-08-06 15:35] abitmore commented on #1883
There was a bug when rolling the 24-hour fill_order history buffer. When the buffer contains only one fill_order object, when rolling out it, the `skip` flag in `market_ticker_meta` object didn't get updated to `true`, thus on next block , its volumes will be subtracted again if there is no new fill_order added into the buffer.

Usually there will be 2 fill_order objects on every fill, one taker a

[2019-08-06 16:54] abitmore commented on #1883
PR #1885.

[2019-08-06 18:05] ryanRfox commented on #1805
@csquan is there any progress on this Issue. If resolved, you may close it. If no action from you, we will close it in the future.

[2019-08-06 21:59] abitmore commented on #1884
It means we need to update a lot of data on maintenance intervals. It would impact performance. I guess API nodes can enable it though. Needs testing.

By the way, when replaying, for better performance, we only need to update the data on the last maintenance interval.

[2019-08-07 09:58] sschiessl-bcp commented on #1884
@Dimfred please present the idea / solution that we had in mind here

[2019-08-07 10:11] sschiessl-bcp commented on #1774
Please elaborate what was necessary in the background here.

You have linked https://github.com/openledger/bitshares-tests/commit/3a905a36d21b414440927db954d9ea5b6 (162 lines of code) in the invoice with 32 hours.

[2019-08-07 10:16] sschiessl-bcp commented on #1800
Please provide more background information what has happened.

Currently you have tracked https://github.com/bitshares/bitshares-core/pull/1870/commits/884fce43c7c761fb43ee24eafff18ecba02b0774 and https://github.com/bitshares/bitshares-core/pull/1870/commits/d5076eee1ddbf05184f538b138144ab73afd609c with 170 lines of code changed, which are invoiced for each 24 working hours. Maybe it would be a go

[2019-08-07 12:43] abitmore opened #1886 "Update docs about set_password and unlock command in cli_wallet"
**User Story**
We added "safe password" feature in #1382 for #1171, but some docs haven't been updated, E.G. README of this repository, the CLI cook book, and possible other docs. This issue is for working on the docs.

**Impacts**
Describe which portion(s) of BitShares Core may be impacted by your request. Please tick at least one box.
- [x] CLI (the command line wallet)
- [ ] Deployment (the dep

[2019-08-07 12:44] abitmore commented on #1171
Created new issue for the docs: https://github.com/bitshares/bitshares-core/issues/1886. Closing this one in order to close the 3.2 project and milestone.

[2019-08-07 12:44] #1171 closed

[2019-08-07 13:24] Dimfred commented on #1884
Yes. So what we have done is the `voting_stat_plugin` it currently keeps track of `voting_statistics_objects` and `voteable_statistics_objects`. The header for the implementation can be found here: https://github.com/bitshares/bitshares-core/compare/develop...blockchainprojects:feature/es-voting-stat-with-workers#diff-403176150dd0150a77359006a573f947R43

Where `voting_statistics_object` are accoun

[2019-08-08 11:01] oxarbitrage commented on #1883
fixed by https://github.com/bitshares/bitshares-core/pull/1885

[2019-08-08 11:01] #1883 closed

[2019-08-08 11:02] crypto-ape opened #1887 "'htlc_refund_operation' Shall Contain the Refund"
Hey Monkeys!

The virtual `htlc_refund_operation` does not contain the refund (i.e. how much of which asset was returned to the creator).

**User Story**
As the `(ape) programmer`, I want `virtual operations to contain all relevant information` so that `the notified plugins can work correctly`.

I have a plugin which processes the flow of funds. The purpose of `htlc_refund_operation` is to notify

[2019-08-08 11:05] oxarbitrage commented on #1884
Please note all the links are taking me to empty comparison pages.

"There isn’t anything to compare."

Maybe you can update those ? Thank you.

[2019-08-08 12:59] OpenLedgerApp commented on #1774
All smoke tests are woring with our built-in internal automation testing  framework.
We are constantly developing the framework to run new smoke tests to be sure that all changes in protocol are valid and they are not breaking the existing or new functionality. In most cases, smoke tests use this ready-made framework without changes. However, in this issue we had to modify a framework to run this

[2019-08-08 13:59] sschiessl-bcp commented on #1774
Where can I find that testing framework?

[2019-08-08 14:21] OpenLedgerApp commented on #1800
Our team didn't face with temp-accounts previously. So, we needed to spend time on investigations to find a solution. As part of this issue, we used an elastic search mechanisms for various parts.
First of all, we needed to find how many temp-accounts are.
The second step we have analyzed how the fees are allocated for all accounts registered by temp-account.
Also, we needed to find out why temp-a

[2019-08-08 14:43] abitmore commented on #1887
The `asset` class does include a `asset_id` and an `amount`. What exactly is the issue?

[2019-08-08 14:51] abitmore commented on #1887
Oh. I got it.

Other than the user story described, another business may want to track by hash, or time, or recipient. Why not add the whole object into the `vop`?

[2019-08-08 14:59] OpenLedgerApp commented on #1774
We will discuss with Ryan how we can make it public. It is built-in automation QA framework that we have been developing several months for testing BitShares protocol.

[2019-08-08 15:29] Dimfred commented on #1884
I have updated the links, should work now.